
@charset "UTF-8";
*{
	padding:0;
	margin:0;
	}
	
img{
	width: 100%;
	height:auto;
	}
			

@font-face {
	font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Light.eot?#iefix') format('embedded-opentype'), 
         url('../fonts/OpenSans-Light.woff') format('woff'),
         url('../fonts/OpenSans-Light.ttf') format('truetype'),
         url('../fonts/OpenSans-Light.svg') format('svg');
	font-style: normal;
}


body{
	margin:0 auto;
	width:100%;
	font-family: 'Open Sans';
	/* font-weight: bolder; */
	/* letter-spacing: 1px; */
	/* background-image:url(../img/179/background.jpg);*/
	background-color:#8DA2BF;
	background-size:cover;	
	background-position: top center;
	background-repeat:no-repeat;
	}

	
/**************CABECERA*************/	
header{
	width:100%;
	margin:0 auto;
	}
	
.logo{
	text-align:left;
	max-width:120px;
	float:left;
	margin-top:1em;
	margin-left:2em;
	margin-bottom:1em;
	}
		
.headerRightText{
	color:#f8f8f8;
	font-size: 23px;
	font-weight:lighter;
	font-family: 'Open Sans';
	text-align:left;
	max-width:200px;
	float:right;
	margin-top:0.5em;
	margin-right:1em;
	margin-bottom:1em;
	}
	
.basic-content{
	width:100%;
	margin:0 auto;
	padding-top:140px;	
	text-align:right;
	}
		
.small-content{
	width:99%;
	margin:0 auto;
	max-width:950px;
	text-align:right;
	}
	
.skeleton{
	display:block;
	width:50%;	
	margin:0 auto;
	padding-bottom:2em;
	padding-left:50%;
	}
	
.skeleton h1{
	width:100%;
	color:#f8f8f8;
	font-size: 35px;
	font-weight:lighter;
	font-family: 'Open Sans';
	text-align:center;
 }
 
 .skeleton h2{
	width:100%;
	color:#f8f8f8;
	font-size: 20px;
	font-weight:lighter;
	font-family: 'Open Sans';
	text-align:center;
 }

 .skeleton span p{
	width:100%;
	color:#000000;
	font-size: 18px;
	font-weight:lighter;
	font-family: 'Open Sans';
	text-align:center;
}	

/************FORMULARIO************************/
section.formulario{
	padding-left:60%;
	width:100%;
	max-width:300px;
	text-align:left;
	display:block;
	padding-bottom:2%;
	/* background-color: rgba(255, 255, 255, .8); */
	}

	section.formulario p{
	color: #f8f8f8;
	}
		
section.formulario h1{;
	font-size:1em;
	color:#17453e;
	font-family: 'Open Sans';
	text-align:left;
	}
		
section.formulario #ctcForm, section.formulario #enviarPorMailSolicitaInfo{
	width:100%;
	margin:.2em auto;
	text-align:center;
	padding:.4em 0;
	}
	
section.formulario #ctcForm input{
	width:55%;
	display:inline-block;
	vertical-align:middle;
	opacity:0.1px;
	}

.formulario .celda{
	font-size:0.8em;
	display:block;
	width:100%;
	min-height:35px;
	margin:auto;
	margin-top:1em;
	color:#000000;
	text-align:left;
	background-color:#ffft;
	box-shadow:none;
	border-color: #f8f8f8;
	border-width:1px;
	-webkit-appearance: none;
    -webkit-border-radius: 0;
 	border-radius:0;
	}

.formulario .celda:focus{
	outline:0px;
	}

.formulario .legal{
	font-size:0.7em;
	font-family: 'Open Sans';
	width:55%;
	text-align:left;
	color: #f8f8f8;
	display:inline-block;
	float:left;
	padding-right:5px;
	}
	
.formulario .legal input{
	vertical-align:top;
	}
	
.formulario .legal a{
	color: #f8f8f8;
	font-family: 'Open Sans';
	}
	
.formulario .espacio-btn{
	float:right;
	width:40%;
	text-align:center;
	border:0;
	-webkit-appearance: none;
    -webkit-border-radius: 0;
 	border-radius:0;
	}	
	
.formulario .espacio-btn input{
	font-family: 'Open Sans';
	width:100%;
	cursor:pointer;
	background-color: #308e73;
	opacity:1;
	padding:0.5em 0;
	color: #f8f8f8;
	font-size:1em;
	margin:0.4em auto;
	font-weight:normal;
	border:0;
	-webkit-appearance: none;
    -webkit-border-radius: 0;
 	border-radius:0;
}

.fleft-text{
width:97.8%;
}

.user-comment{
height:100px;	
font-size:1em; 
padding:2px;
padding-top:4px!important;
padding-left:1.3%!important;
font-family:Arial, Helvetica, sans-serif; 
}

#comentarios::-webkit-input-placeholder{
font-size:1em; 
padding-top:3px!important;
font-family:'Open Sans',Arial, Helvetica, sans-serif; 
}
 
#comentarios ::-moz-placeholder{
font-size:1em; 
padding-top:3px!important;
font-family:'Open Sans',Arial, Helvetica, sans-serif; 
}

input[placeholder], [placeholder], *[placeholder]{
   color:#000000 !important;
   }
  
::-webkit-input-placeholder{
    color:#000000;
	}
	
*:-moz-placeholder{ 
    color:#000000;
	}
	
*::-moz-placeholder{
    color:#000000;
	}
	
*:-ms-input-placeholder{ 
    color:#000000;
	}
	
	
/************TEXTO************************/	
.text-content{
	width:60%;
	margin:0 auto;	
	text-align:right;	
	}
		
.central{	
	margin:0 auto;
	max-width:1000px;
	text-align:center;
	display:inline-block;
	padding-top:120px;
	}

.box1, .box2, .box3{
	display:inline-block;
	width:30%;
	vertical-align:top;
	text-align:left;
	margin:10px;
	}

.box1  p, .box2  p, .box3  p{
	margin:0 auto;
	font-size:1em;
	font-family: 'Open Sans';
	color: #f8f8f8;
	}

.box1  h2, .box2  h2, .box3  h2{
	color:#f8f8f8;
	font-size: 20px;
	font-family: 'Open Sans';
	font-weight:lighter;
	}
		
	
.text-content  h1{
	margin:0 auto;	
	font-family: 'Open Sans';
	padding-top:40px;
	padding-bottom:50px;
	color:#f8f8f8;
	font-size:1.2em;
	}	
		
/************PIE***********************/
footer{
	background-color:#252525;
	}
	
.logos-footer{
	width:100%;
	margin:0 auto;
	background-color:#ffffff;
	text-align:center;
	color: #f8f8f8;
	}
	
.RP{
	text-align:center;
	max-width:180px;
	display: inline-block;
	vertical-align:middle;
	}
	
footer .legal{
	width:100%;
	margin:0 auto;
	max-width:1100px;
	text-align:center;
	padding-bottom:2em;
	padding-top:2em;
	font-family: 'Open Sans';
	font-size:0.8em;
	}
	
footer .legal a{
	color:#fff;
	text-decoration:none;
	font-family: 'Open Sans';
	}
	
/************RESPONSIVE***********************/



@media (max-width:1400px) {		

.text-content{
	width:100%;
	margin:0 auto;	
	text-align:right;	
	}
		
.central{	
	margin:0 auto;
	max-width:1200px;
	text-align:center;
	display:inline-block;
	padding-top:150px;
	}

.box1, .box2, .box3{
	display:inline-block;
	width:30%;
	vertical-align:top;
	text-align:left;
	margin:10px;
	}	
	}


	
@media (max-width:925px) {				

.basic-content{
	width:100%;
	margin:0 auto;
	padding-top:140px;	
	text-align:center;
	}
		
.small-content{
	width:99%;
	margin:0 auto;
	max-width:950px;
	text-align:center;
	}
	
.skeleton{
	display:block;
	width:100%;	
	margin:0 auto;
	padding-bottom:2em;
	padding-left:0;
	}	
	

	
.skeleton h1{
	width:100%;
	color:#f8f8f8;
	font-size: 38px;
	font-weight:lighter;
	font-family: 'Open Sans';
	text-align:center;
 }
 
 .skeleton h2{
	width:100%;
	color:#f8f8f8;
	font-size: 20px;
	font-weight:lighter;
	font-family: 'Open Sans';
	text-align:center;
 }
 

	
section.formulario{
	padding-left:5%;
	margin:0 auto;
	width:90%;
	max-width:350px;
	text-align:center;
	display:block;
	padding-top:4%;
	padding-bottom:2%;
	}
	}
		
@media (max-width:805px) {		
.RP{
	max-width:130px;
	}
	
	.box1  h2, .box2  h2, .box3  h2{
	color:#f8f8f8;
	font-size: 18px;
	font-family: 'Open Sans';
	font-weight:lighter;
	}	
	}

	
@media (max-width:750px) {
.logo{
	max-width:100px;
	margin-left:1em;
	}
		
.headerRightText{
	max-width:130px;	
	margin-right:1em;
	}

.basic-content{
	padding-top:120px;	
	}

.skeleton .title{
	max-width:540px;
	width:80%;
	}
	}
	

@media (max-width:730px) {

		
.text-content{
	width:99%;
	margin:0 auto;	
	text-align:center;	
	}
		
.central{	
	margin:0 auto;
	max-width:730px;
	text-align:center;
	display:block;
	padding-top:60px;
	}

.box1, .box2, .box3{
	display:block;
	width:90%;
	vertical-align:top;
	text-align:left;
	margin:0 auto;
	}
	}


@media (max-width:550px) {			
.logo{
	max-width:80px;
	}
	
.headerRightText{
	color:#f8f8f8;
	font-size: 14px;
	font-weight:lighter;
	font-family: 'Open Sans';
	text-align:left;
	max-width:250px;
	float:right;
	margin-top:1em;
	margin-right:1em;
	margin-bottom:1em;
	}
	
.skeleton h1{
	width:100%;
	color:#f8f8f8;
	font-size: 38px;
	font-weight:lighter;
	font-family: 'Open Sans';
	text-align:center;
 }
 
 .phone{
	width:100%;
	color:#f8f8f8;
	font-size: 28px;
	font-weight:lighter;
	font-family: 'Open Sans';
	text-align:center;
 }
 
 .skeleton h2{
	width:100%;
	color:#f8f8f8;
	font-size: 16px;
	font-weight:lighter;
	font-family: 'Open Sans';
	text-align:center;
 }
	}	

@media (max-width:490px) {		
section.formulario{
	padding-left:5%;
	margin:0 auto;
	width:90%;
	max-width:400px;
	text-align:center;
	display:block;
	padding-top:4%;
	padding-bottom:2%;
	}
	
.skeleton .title{
	max-width:540px;
	width:100%;
	}

.text-content  h1{
	padding-top:15px;
	font-size:1em;
	}

.box1  p, .box2  p, .box3  p{
	font-size:0.8em;
	color: #f8f8f8;
	}

.titles-box{
	font-size: 16px;
	}

.basic-content{
	padding-top:90px;	
	}
	}

@media (max-width:305px) {	
.logo{
	max-width:70px;
	}

	
.formulario .espacio-btn input{
	font-size:0.8em;
	}

.RP{
	padding-bottom:25px;
	}
	}

@media (max-width:300px) {	
section.formulario p
	{
	font-size:0.9em;
	}	
	}
