@charset "UTF-8";

*{
	padding:0;
	margin:0;
	}
	
img{
	width: 100%;
	height:auto;
	}
				
body{
	margin:0 auto;
	font-family: 'GillSans';
	}

	
/**************CABECERA*************/	
header{
	width:100%;
	margin:0 auto;
	background-color:#252525;
	}
	
.title-head{
	width:100%;
	margin:0 auto;
	max-width:1100px;
	}

.title-head .logo{
	text-align:left;
	max-width:350px;
	padding-right:35%;
	}
	
.title-head .telefono{
	text-align:right;
	width:100%;
	max-width:350px;	
	}
		
.content{
	margin:auto;
	width:100%;
	height:auto;
	}


.fondo{
	padding:0;
	width:100%;
	max-width:1920px;
	}
	
.img_mobile{
	display:none;
	}
	
.pie{
	background-color:#252525;
	height:50px;
	}		
			
/************RESPONSIVE***********************/
@media (max-width:1102px) {
.title-head .logo{
	padding-right:25%;
	width: 350px;
	}				
	}
	
@media (max-width:977px) {	
.title-head .logo{
	padding-right:20%;
	}
	}
	
@media (max-width:898px) {
.title-head .logo{
	padding-right:15%;
	}
	}
		
@media (max-width:845px) {	
.title-head .logo{
	padding-right:10%;
	}	
	}	
		
@media (max-width:800px) {	
.fondo{
	display:none;
	}
	
.img_mobile{
	display:block;
	width:100%;
	max-width:800px;
	}

header{
	width:100%;
	margin:0 auto;
	text-align:center;
	}
	
.title-head{
	width:100%;
	margin:0 auto;
	max-width:1100px;
	text-align:center;
	}
		
.title-head .logo{
	text-align:center;
	padding:0px;
	max-width:250px;
	}
	
.title-head .telefono{
    text-align:center;	
	padding:0px;
	max-width:250px;
	}
		
	}