@charset "UTF-8";

*{
margin:0;
padding:0;
box-sizing:border-box;
}

img{
width:99%;
height:auto;
}

@font-face {
font-family: 'Conv_Raleway_regular';
src: url('../fonts/Raleway_regular.eot');
src: local('☺'), url('../fonts/Raleway_regular.woff') format('woff'), url('../fonts/Raleway_regular.ttf') format('truetype'), url('../fonts/Raleway_regular.svg') format('svg');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'Conv_Raleway_bold';
src: url('../fonts/Raleway_bold.eot');
src: local('☺'), url('../fonts/Raleway_bold.woff') format('woff'), url('../fonts/Raleway_bold.ttf') format('truetype'), url('../fonts/Raleway_bold.svg') format('svg');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'Conv_montserrat-regular';
src: url('../fonts/montserrat-regular.eot');
src: local('☺'), url('../fonts/montserrat-regular.woff') format('woff'), url('../fonts/montserrat-regular.ttf') format('truetype'), url('../fonts/montserrat-regular.svg') format('svg');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'Conv_Montserrat-Bold';
src: url('../fonts/Montserrat-Bold.eot');
src: local('☺'), url('../fonts/Montserrat-Bold.woff') format('woff'), url('../fonts/Montserrat-Bold.ttf') format('truetype'), url('../fonts/Montserrat-Bold.svg') format('svg');
font-weight: normal;
font-style: normal;
}



body{
font-family: 'Conv_Raleway_regular';
background-color:#FFFFFF;
}

.basic-content{
width:100%;
background-image: url(../img/149/background.jpg);
background-repeat:no-repeat;
background-size:cover;
}

.small-content{
width:99%;
max-width:950px;
margin:auto;
padding-top:1em;
}

.skeleton{
width:67%;
display:inline-block;
vertical-align:top;
}


.web{
width:60%;
margin-bottom:24em;
}

.mvl{
display:none;
}

section.formulario{
width:30%;
max-width:440px;
display:inline-block;
text-align:center;
vertical-align: middle;
padding-top:2%;
padding-bottom:2%;
margin-left:-6em;
}

section.formulario p{
font-size:1.4em;
color:#FFFFFF;
margin-top:20px;
}

section.formulario p span{
color:#FFFFFF;
font-family: 'Conv_Raleway_bold';
}

section.formulario .callus{
font-family: 'Conv_montserrat-regular';
font-size:1.2em;
margin-bottom:5em;
}

section.formulario .callus span{
font-family: 'Conv_Montserrat-Bold';
}

section.formulario #enviarPorMailSolicitaInfo{
opacity:0.9;
width:100%;
margin:.2em auto;
text-align:center;
padding:.4em 0;
}

section.formulario #ctcForm input{
width:55%;
display:inline-block;
vertical-align:middle;
background-color:#FFF;
}

.formulario .celda{
background-color: transparent;
border:2px solid #FFFFFF;
font-size:0.9em;
display:block;
width:95%;
min-height:45px;
margin:auto;
margin-top:0.6em;
color:#857f78;
text-align:left;
padding-left:0.5em;	
}

.user-comment{
height:150px;	
}

#comentarios::-webkit-input-placeholder { 
font-size:1em; 
padding-top:10px!important;
font-family: Arial, Helvetica, sans-serif; 
 }
 
#comentarios ::-moz-placeholder { 
font-size:1em; 
padding-top:10px!important;
font-family: Arial, Helvetica, sans-serif; 
}

.formulario .celda:focus{
outline:0px;
}

.legal{
font-size:0.7em;
width:95%;
text-align:left;
color: #FFFFFF;
margin: 0em auto;
}

.legal input{
vertical-align: middle;
}

.legal a{
color: #FFFFFF;
}

.espacio-btn{
width:100%;
text-align:center;
border:0;
margin: 0 auto;
-webkit-appearance: none;
	-webkit-border-radius: 0;
border-radius:0;
}	

.espacio-btn input{
cursor:pointer;
background-color:#1f373c;
width:95%;
padding:0.6em 0;
color: white;
font-size:1.3em;
margin:0.4em auto;
font-weight:normal;
border:2px solid #FFFFFF;
-webkit-appearance: none;
	-webkit-border-radius: 0;
border-radius:0;
}

.phone-contact{
background-color:#1f373c;
width:95%;
padding:1em 0;
color: white;
font-size:1em;
margin:0.2em auto 0 auto;
font-weight:normal;
border:2px solid #FFFFFF;
-webkit-appearance: none;
	-webkit-border-radius: 0;
border-radius:0;
}

.phone-contact span{
font-family: 'Conv_Raleway_bold';
}

input[placeholder], [placeholder], *[placeholder]{
 color:#FFFFFF !important;
 }

::-webkit-input-placeholder{
	color:#FFFFFF;
}

*:-moz-placeholder{ 
	color:#FFFFFF;
}

*::-moz-placeholder{
	color:#FFFFFF;
}

*:-ms-input-placeholder{ 
	color:#FFFFFF;
}

.text-content{
width:99%;
max-width:950px;
margin:auto;
}

.text-content h1, h2{
text-align:center;
font-size:1.4em;
color:#03c590;
font-family: 'Conv_Raleway_bold';
}

.text-content h3{
text-align:center;
font-size:1.4em;
color:#000000;
font-family: 'Conv_Raleway_bold';
margin:1.5em 0 1em 0;
}

.box-text-left{
width:48%;
display:inline-block;
vertical-align:middle;
color:#000000;
text-align:center;
padding:1.7em 0.8em;
background-color:#03c590;
font-size:1.4em;
margin-bottom:0.8em;
margin-right:1em;
min-height:130px;
}

.box-text-left-special{
width:48%;
display:inline-block;
vertical-align:middle;
color:#000000;
text-align:center;
padding:2.2em 0.8em;
background-color:#03c590;
font-size:1.4em;
margin-bottom:0.8em;
margin-right:1em;
min-height:130px;
}

.box-text-right{
width:48%;
display:inline-block;
vertical-align:middle;
color:#000000;
text-align:center;
padding:2.1em 0.8em;
background-color:#03c590;
font-size:1.4em;
margin-bottom:0.8em;
min-height:130px;
}

.box-text-right-special{
width:48%;
display:inline-block;
vertical-align:middle;
color:#000000;
text-align:center;
padding:1.65em 0.8em;
background-color:#03c590;
font-size:1.4em;
margin-bottom:0.8em;
min-height:130px;
}

footer{
width:100%;
background-color:#a2acb7;
margin-top:4em;
min-height:310px;
}

.foot-small{
width:99%;
max-width:900px;
margin:auto;
}	

.logo{
width:40%;
float:left;
margin:3em 0;
}

.logo img{
max-width:340px;
margin-bottom:0.9em;
}

.logo p{
font-size:0.8em;
color:#FFFFFF;
line-height:22px;
}

.logo p a{
text-decoration:none;
color:#000000;
}

.adress{
width:40%;
float:right;
margin-top:5em;
}

.adress p{
font-size:0.9em;
line-height:28px;
color:#FFFFFF;
}

section.formulario a{
text-decoration:none;
color:#FFFFFF;
}	
@media (max-width:1405px) {

section.formulario{
margin-left:0;
margin-top:-2em;
}

.skeleton{
width:57%;
}
}

@media (max-width:1035px) {

.skeleton{
width:63%;
padding-left:2em;
}
}

@media (max-width:960px) {

section.formulario .callus{
font-size:1.1em;
margin-bottom:3em;
}
}

@media (max-width:860px) {

.basic-content{
background-image:none;
}

.skeleton{
width:100%;
padding-left:0;
margin-top:-1em;
}

.web{
display:none;
}

.mvl{
display:block;
width:100%;
}

section.formulario{
width:100%;
background-color:#03c590;
padding-top:0;
margin-top:0em;
max-width:none;
margin-bottom:2em;
}

section.formulario p{
font-size:1.8em;
}

section.formulario .callus{
font-size:1.6em;
margin-bottom:0em;
}

.espacio-btn input{
font-size:1.7em;
}

.box-text-left{
width:100%;
margin-right:0;
min-height:0;
font-size:1.1em;
}

.box-text-right{
width:100%;
margin-right:0;
min-height:0;
padding:1.7em 0.8em;
font-size:1.1em;
}

.box-text-left-special{
width:100%;
margin-right:0;
min-height:0;
padding:1.7em 0.8em;
font-size:1.1em;
}

.box-text-right-special{
width:100%;
margin-right:0;
min-height:0;
padding:1.7em 0.8em;
font-size:1.1em;
}
}

@media (max-width:495px) {

footer{
min-height:400px;
}

.logo{
width:90%;
padding-left:1em;
}

.adress{
width:90%;
margin-top:-2em;
}
}

@media (max-width:400px) {

section.formulario .callus{
font-size:1.1em;
}

.text-content h1, h2{
font-size:1.2em;
padding:0.2em;
}
}
