*{
padding:0;
margin:0;}

img {
width: 100%;
}

@font-face {
font-family:'Coolvetica';
src:url(../fonts/coolvetica_rg.ttf);
}

body{
font-family:Verdana, Geneva, sans-serif;
font-size:16px;
background-color:#ebeaea;
}

a:link
{   
 color:#626262;   
}
h1{
font-weight:normal;
text-align:center;
margin:.5em auto;
}


header{
width:100%;
background-color:#FFF;
}

header .contenido_cabecera{
margin:0 auto;
width:98%;
max-width:751px;
max-height:342px;
}

.contenedor{
width:100%;
background-color:#ebeaea;
padding-top:1em;
color:#626262;
}

.contenedor .formulario{
margin:0 auto;
width:98%;
max-width:751px;
text-align:center;
}

.contenedor .formulario form{
margin:0 auto;
width:99%;
}

.contenedor .formulario form input[type='text'], .formulario form input[type='email'], .formulario form input[type='tel']{
margin:.5em auto;
width:98%;
max-width:550px;
height:50px;
text-align:center;
font-size:22px;
font-family:Verdana, Geneva, sans-serif;
}

.contenedor .doscampos form input[type='text'], .formulario form input[type='email'], .formulario form input[type='tel']{
display:inline-block;
vertical-align:top;
width:48%;
}

.contenedor .formulario input[type='button']{
display:block;
margin:0 auto 1em auto;
width:98%;
max-width:300px;
height:75px;
border:0;
background: -webkit-gradient(linear, left top, right top, from(#ffa100), to(#f07302));
background: -webkit-linear-gradient(top, #ffa100, #f07302);
background: -moz-linear-gradient(top, #ffa100, #f07302);
background: -o-linear-gradient(top, #ffa100, #f07302);
background: -ms-linear-gradient(top, #ffa100, #f07302);
background: linear-gradient(top, #ffa100, #f07302);
background-color: #ffa100;
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
-webkit-box-shadow: 3px 3px 3px #a8a8a8;
-moz-box-shadow: 3px 3px 3px #a8a8a8;
box-shadow: 3px 3px 3px #a8a8a8;
color:#FFF;
font-size:46px;
font-family:'Coolvetica',Arial;
font-weight:normal;

}

.contenedor .formulario form .legal{
margin:.5em auto;
width:98%;
max-width:555px;
display:block;
text-align:left;
}

.contenedor .doscampos form .legal{
max-width:750px;
}

.contenedor .formulario form input[type='checkbox']{
margin:.5em auto;
	height:20px;
	width:20px;
	background-color:#FFF;
	border:1px solid #999;
}

.contenedor .formulario form input[type='checkbox'], span{
vertical-align:middle;}
.contenedor .formulario form span{
margin-left:.5em;
font-size:14px;
}


@media (max-width: 520px){
body{

font-size:14px;


}

.contenedor .doscampos form input[type='text']{
display:-block;
width:98%;

}


}

/*COOKIES*/	

#pie_galletero{
max-width:900px;
margin:.5em auto;
width:100%;
color: #e15b04;

}	
#pie_galletero a{
color:#e15b04;}	

#pie_galletero_left{
width:75%;
vertical-align:middle;
display:inline-block;
margin:.5em;
font-size:.8em;
text-align:center;
}

#pie_galletero_right{
text-align:right;
width:20%;
vertical-align:middle;
display:inline-block;
/*margin:.5em;*/
}
#pie_galletero_right input{
margin:.3em;
padding:.1em;
}

#info_cook {
max-width:900px;
width:95%;
display: block;
margin: 0 auto;
margin-top: 4px;
text-align: left;
font-size: .7em;
color: #e15b04;
background: #fbe2d1;
padding:1em;
}
#info_cook p, #info_cook ul{
margin-left:1em
}
