.progressOculta{display:none;}
.hide{display:none;}
.popInt{}

.rounded{
border-radius:5px 5px 5px 5px;
-moz-border-radius:5px 5px 5px 5px;
-webkit-border-radius:5px 5px 5px 5px;
}

.coverBook{
/*border:1px solid #A5BDB8;*/
display:none;position:absolute;
left:0px;
top:26px;
width:110px;
height:170px;
padding:0;
background-position:center;
background-repeat:no-repeat;
/*background-color:#eee;*/
background-origin:box;
/*box-shadow:4px 4px 6px rgba(0, 0, 0, 0.2);
-moz-box-shadow:4px 4px 6px rgba(0, 0, 0, 0.2);
-webkit-box-shadow:4px 4px 6px rgba(0, 0, 0, 0.2);*/
background-size:contain;
}

.newBooksList{
display:inline-block;
color:#333;
width:100%;
font-size:12px;
}
.newBooksList:hover{
color:#000;
background-color:#eee;
}

.botonStd{
text-decoration:none;
color:#333;
}

.botonStd:hover{
font-style:italic;
color:#000;
}

#listBooks{
display:block;
float:left;
margin-bottom:10px;
padding:4px;
}

.MiniCardImage{
border:1px solid #333;
max-height:200px;
}

.MiniCard{
display:inline-block;
z-index:1;
position:absolute;
top:25px;
right:10px;
height:inherit;
}

.scriptsVarios{
line-height:1.8em;
list-style-type:decimal-leading-zero;
color:#333;
min-width:200px;
}

.scriptsVarios a{
text-decoration:none;
background:#eee;
padding:2px;
padding-left:4px;
padding-right:4px;
color:#333;
border:1px solid #fff;
-webkit-border-radius:4px;
-moz-border-radius:4px;
border-radius:4px;
}

.scriptsVarios a:hover{
background:#888;
color:#fff;
border:1px solid #666;
}
.panel ol li{
border-bottom:1px solid transparent;
}

.panel ol li:hover{
border-bottom:1px dashed #bbb;
color:#000;
cursor:default;
}

.useless{background-color:#bbb!important;color:red!important;}