/*
    ColorBox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
.hide{display:none;}
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block;}
.cboxIframe{width:100%; height:100%; display:block; border:0;}

/* 
    User Style:
    Change the following styles to modify the appearance of ColorBox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay{background:#999;}
#colorbox{}
    #cboxContent{margin-top:0px; overflow:visible;}
    #cboxTopLeft{width:25px; height:25px; background:url(../_img/border1.png) no-repeat 0 0;}
    #cboxTopCenter{height:25px; background:url(../_img/border1.png) repeat-x 0 -50px;}
    #cboxTopRight{width:25px; height:25px; background:url(../_img/border1.png) no-repeat -25px 0;}
    #cboxBottomLeft{width:25px; height:25px; background:url(../_img/border1.png) no-repeat 0 -25px;}
    #cboxBottomCenter{height:25px; background:url(../_img/border1.png) repeat-x 0 -75px;}
    #cboxBottomRight{width:25px; height:25px; background:url(../_img/border1.png) no-repeat -25px -25px;}
    #cboxMiddleLeft{width:25px; background:url(../_img/border2.png) repeat-y 0 0;}
    #cboxMiddleRight{width:25px; background:url(../_img/border2.png) repeat-y -25px 0;}
    #cboxContent{background:#fff; overflow:hidden;}
        .cboxIframe{background:#fff;}
        #cboxError{padding:50px; border:1px solid #ccc;}
        #cboxLoadedContent{background:#fff; padding:0px;}
        #cboxLoadingGraphic{background:url(../_img/loading.gif) no-repeat center center;}
        #cboxLoadingOverlay{background:#eee;}
        #cboxTitle{position:absolute; top:-2px; left:0; color:#000;}
        #cboxCurrent{position:absolute; top:-22px; right:205px; text-indent:-9999px;}
        #cboxClose{text-indent:-32px; width:20px; height:25px; position:absolute; top:0px; }
        #cboxClose{background-position:-50px 0px; right:0;}
        #cboxClose:hover{background-position:-50px -25px;}
