/* CSS Document */
body{
font-family:Arial,Verdana;
font-size:14px;
color:#000;
margin:0;
padding:0;
}

table{
font-family:Arial,Verdana;
text-decoration:none;
color:#000;
letter-spacing:0px;
}

input.boton {
background-color:#000;
cursor:hand;
/*background-image:url('../_img/XXXXfnd_solapas.gif');*/
background-position:bottom;
border:1px solid #000;
text-decoration:none;
color:#000;
}

hr {height:1px; color:#CCD2D6}

.rojo {color: #FF0000}

input,textarea{
border:1px solid #000;
}

.checkbox{cursor:hand;border:0px;}

.boxData{
display:block;
float:left;
vertical-align:top;
width:97%;
}