.iframeSolapa{width:100%;}

.wrapper{width:95%;margin:auto;}

.mbTabset .handler{padding-right:5px;position:relative;margin-left:-5px}
.mbTabset{white-space:nowrap;display:block;margin-left:16px;margin-right:4px;margin-bottom:-1px;float:left;position:relative}
.mbTabset .mbTab{display:inline-block;cursor:pointer;min-width:10px}
.mbTabset .mbTab.disabled{cursor:default}
.mbTabset.right{float:right}
.mbTabset .mbTab i{width:5px;position:relative;margin-left:-7px;padding-right:5px;margin-right:8px;cursor:move}
.mbTabset .floatEl{float:left;}
.mbTabset a.mbTab{
background-color:transparent;
background-image:url('../_img/default/tab_right.png');
background-repeat:no-repeat ;
background-position:top right;
color:#777;
display:block;/*opera*/
display:inline-block;/*ie*/
font:normal 12px verdama,arial,sans-serif;
height:24px !important;
margin-right:0px;
padding-right:10px;
text-decoration:none;
}

.mbTabset a.mbTab span{
background-color:transparent;
background-image:url('../_img/default/tab.png');
background-repeat:no-repeat ;
display:block;
line-height:16px;
padding:3px 0 5px 8px;
}

.mbTabset a.mbTab span.sortable{
background-color:transparent;
background-image:url('../_img/default/tab_grep.png');
background-repeat:no-repeat ;
display:block;
line-height:19px;
padding:3px 0 4px 10px;
}

.mbTabset a.mbTab span img{
margin-left:-5px;
margin-top:-2px;
padding-right:5px;
}

/*HOVER*/
.mbTabset a.mbTab:hover{
background-image:url('../_img/default/tab_right_hover.png');
color:#000;
outline:none;
}

.mbTabset a.mbTab:hover span{
background-image:url('../_img/default/tab_hover.png');
}
.mbTabset a.mbTab:hover span.sortable{
background-image:url('../_img/default/tab_hover_grep.png');
}

/*SELECTED*/
.mbTabset a.mbTab.sel{
background-image:none;
color:#000;
/*background-image:url('../_img/default/tab_right_sel.png');*/
}

.mbTabset a.mbTab.sel span.sortable{
background-image:url('../_img/default/tab_sel_grep.png');
}

/*DISABLED*/
.mbTabset a.mbTab.disabled{
background-image:url('../_img/default/tab_right.png');
color:#999;
outline:none;
}

.mbTabset a.mbTab.disabled span{
background-image:url('../_img/default/tab.png');
}

.mbTabset a.mbTab.disabled span.sortable{
background-image:url('../_img/default/tab_grep.png');
}

/*CONTAINER*/
.mbTabsetContainer{
padding-top:0px;
width:100%;
font-size:1em;
-webkit-border-radius:6px;
-moz-border-radius:6px;
border-radius:6px;
min-height:auto !important;
border:1px solid gray;
clear:both;
}

.tabContent{
padding:6px;
-webkit-border-radius:6px;
-moz-border-radius:6px;
-moz-box-shadow:-1px -3px 3px #888;
-webkit-box-shadow:-1px -3px 3px #888;
}

.rounded{
border-radius:5px 5px 5px 5px;
-moz-border-radius:5px 5px 5px 5px;
-webkit-border-radius:5px 5px 5px 5px;
}