.tab-s, .tab-g{
font-size:10px;
text-decoration:none;
font-family:Verdana, Arial, Helvetica, sans-serif;
}
.tab-g{color:red;}
.tab-s, .blue{color:#000;}

.tab-g:hover{
cursor:pointer;
text-decoration:none;
background-image:url('../_img/stab_muu.gif');
}

.tab-s:hover{cursor:pointer;;text-decoration:none;}

.title{
font-size:18px;
font-weight:light;
color: #0066CC;
padding-left:5px;
letter-spacing:3px;
}

li
{
margin-left:20px;
display:list-item;
list-style-image:url('../_inc/image.php?img=fleche_gif');
list-style-position:outside;
}

.solapaBloque{
display:block!important;
-webkit-transition:-webkit-transform 1s ease-out;
-moz-transition:-moz-transform 1s ease-out;
-o-transition:-o-transform 1s ease-out;
-ms-transition:-ms-transform 1s ease-out;
transition:transform 1s ease-out;
}
.solapaBloque:hover{
-moz-transform: scale(1.1);
-webkit-transform: scale(1.1);
-o-transform: scale(1.1);
-ms-transform: scale(1.1);
transform: scale(1.1)
}