.localClass{
display:inline;
}
.wrapTabs{
text-align:left;
}

.boxBlock{
display:block;
float:left;
height:auto;
max-height:auto;
min-height:50px;
padding:0%;
width:auto;
margin: 0px 8px 8px 4px;
}

ol li{
border-bottom:1px solid transparent;
}

ol li:hover{
border-bottom:1px dashed #bbb;
color:#000;
cursor:default;
}

.scriptsVarios{
line-height:2.2em;
list-style-type:decimal-leading-zero;
color:#333;
min-width:300px;
}

.proyectos{
line-height:2.2em;
list-style-position:none;
list-style-type:none;
color:#333;
min-width:300px;
}

/*
.proyectos ol li:before{content: ". ";}
*/
.wrapTabs a{
text-decoration:none;
background:#eee;
padding:2px;
padding-left:4px;
padding-right:4px;
color:#333;
border:1px solid #888;
-webkit-border-radius:4px;
-moz-border-radius:4px;
border-radius:4px;
}

.wrapTabs a:hover{
background:#ded;
color:#000;
border:1px solid #333;
-webkit-box-shadow:-2px 2px 1px rgba(0,0,0,0.35);
-moz-box-shadow:-2px 2px 1px rgba(0,0,0,0.35);
box-shadow:-2px 2px 1px rgba(0,0,0,0.35);
background: #FFF url(../images/content_pane-gradient.gif) repeat-x scroll left bottom;
}


#commonTags{
display:inline-block;
height:30px;
width:88%;
max-width:88%;
text-align:center;
}

.listTgasBottom li{
display:inline;
padding:0px 1px;
margin-left:2px;
}
