/* input box in default state */ 
.tcalInput{
background:url('../_img/tcal.gif') 100% 50% no-repeat;
padding-right:1px;
cursor:pointer;
}

/* additional properties for input boxe in activated state, above still applies unless in conflict */
.tcalActive {
background-image:url('../_img/tcal_no_cal.gif');
}
/* container of calendar's pop-up */
#tcal {
position:absolute;
visibility:hidden;
z-index:100;
width:170px;
background-color:white;
margin-top:2px;
padding:0 2px 2px 2px;
border:1px solid silver;

-moz-box-shadow:3px 3px 4px #000;
-webkit-box-shadow:3px 3px 4px #000;
box-shadow:3px 3px 4px #000;
-ms-filter:"progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000')";
filter:progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000');
}

/* table containing navigation and current month */
#tcalControls {
border-collapse:collapse;
border:0;
width:100%;
color:#000;
}
#tcalControls td {
border-collapse:collapse;
border:0;
padding:0;
width:16px;
background-position:50% 50%;
background-repeat:no-repeat;
cursor:pointer;
}
#tcalControls th {
border-collapse:collapse;
border:0;
padding:0;
line-height:25px;
font-size:10px;
text-align:center;
font-family:Verdana,Arial,Tahoma, Geneva, sans-serif;
font-weight:bold;
white-space:nowrap;
}
#tcalPrevYear{background-image:url('../_img/tcal_prev_year.gif');}
#tcalPrevMonth{background-image:url('../_img/tcal_prev_mon.gif');}
#tcalNextMonth{background-image:url('../_img/tcal_next_mon.gif');}
#tcalNextYear{background-image:url('../_img/tcal_next_year.gif');}

/* table containing week days header and calendar grid */
#tcalGrid {
border-collapse:collapse;
width:100%;
color:#000;
}
#tcalGrid th {
border:1px solid #fff;
border-collapse:collapse;
padding:3px 0;
text-align:center;
font-family:Verdana,Arial,Tahoma, Geneva, sans-serif;
font-size:10px;
background-color:#0C5B99;
color:white;
}
#tcalGrid td {
border:0;
border-collapse:collapse;
padding:2px 0;
text-align:center;
font-family:Verdana,Arial,Tahoma, Geneva, sans-serif;
width:14%;
font-size:.8em;
cursor:pointer;
}
#tcalGrid td.tcalSelected{color:#fff;}
#tcalGrid td.tcalOtherMonth{color:#999;}
#tcalGrid td.tcalWeekend{background-color:#ddd;}
#tcalGrid td.tcalToday{border:1px solid #000;}
#tcalGrid td.tcalSelected{background-color:#3D3DFF;}
