<div class="card-body card-padding">
	<div class="help-basic-blocks fw-container">
		<ul class="tab-nav text-center fw-nav" data-tab-color="green">
			<li class="active"><a href="#tabListados" data-toggle="tab" aria-expanded="false">Listados</a></li>
			<li class=""><a href="#tabAcciones" data-toggle="tab" aria-expanded="false">Acciones JS</a></li>
			<li class=""><a href="#tabBootstrpClasses" data-toggle="tab" aria-expanded="false">Clases animadas</a></li>
		</ul>

		<div class="tab-content">
				<div class="tab-pane fade f-14 c-black in active" id="tabListados">
					<ol>
            <li class="m-b-10">Todos los listados "standard" de los modulos, se construyen en el script que se encuentra en la raiz de la carpeta del admin <i>"ifr_common_listing.php"</i> y se basa en la librería utilizada para construir los listados tabulares para el framework <i>"bootgrid"</i>, por medio del ajax <i>"ajax/common_admin.php"</i> con la "action" (en el ajax de carga de datos) de <i>bootgrid</i> <b>getTableListData</b>.</li>
            <li class="m-b-10">Todas las acciones posibles para cada fila visualizada (<i><span class="zmdi zmdi-edit c-blue"></span>editar,&nbsp;&nbsp;<span class="zmdi zmdi-delete c-red"></span>borrar,&nbsp;&nbsp;<span class="zmdi zmdi-play"></span>habilitar</i>,&nbsp;&nbsp;<span class="zmdi zmdi-copy bgm-cyan"></span>&nbsp;duplicar</i>) se construyen siempre en <i>"ifr_common_listing.php"</i>, que dependen de las directivas establecidas por los par&aacute;metros de cada <b>config_module.php</b> presente en cada módulo.</li>
            <li class="m-b-10">Los datos a visualizar se consiguen en <i>"_mod_bbdd/mod_common_lists.class.php"</i>, con el método <b>getRowsDataList()</b> que obtiene los datos de la BBDD con los parámetros presentes en el objeto <b>"$data"</b> de <i>"ajax/common_admin.php"</i> que invoca el método.</li>
						<li class="m-b-10">Activación/desactivación de registros (cuando esto es posible en el registro de la tabla):<br />Para que esta propiedad se visualice correctamente en el listado (el funcionamiento real no se ve afectado), si se desea que <b>NO aparezca la columna que identifica el</b> <b><i>estado</i></b> <b>del registro</b>, para ahorrar espacio, por ejemplo, y que se visualice solamente su estado con el color de fondo <span class="bgm-orange">"naranja"</span> para los registros inhabilitados, se debe configurar la propiedad "tabularListData" con el mismo valor del último campo a visualizar en el listado, Ejemplo:<br />
								<pre>
 ,'otro_campo_del_modulo' => array(
    'formType' => 'text'
    ,'dataType' => 'varchar'
    ,'tabularListData' => [ 'columnOrder' => 9 ]
    ,...

 ,'b_enabled' => array(
    'formType' => 'text'
    ,'dataType' => 'integer'
    <b>,'tabularListData' => [ <u>'columnOrder' => 9</u> ]</b>
    ,...
</pre>
						</li>
					</ol>
				</div>

				<div class="tab-pane fade f-14 c-black" id="tabAcciones">
					<ol>
						<li class="m-b-10"><b><span class="zmdi zmdi-edit c-blue"></span> Edición de registro:</b> Se abre la modal de edicion desde el botón que puede aparecer en el listado (esto depende según los permisos del usuario accedido), donde el <i>identificador de la acción es la clase CSS <span class="f-700" data-toggle="tooltip" data-placement="top" title="" data-original-title="esto en el script: ifr_common_listing.php">editRow</span></i>, invoca la función <span class="f-700" data-toggle="tooltip" data-placement="top" title="" data-original-title="esto en el script: [carpeta_modulo]/index.php">openModalEditRecord()</span>. Este evento se crea dinámicamente ('<i>$("#grid-data-api td").on("click", ".editRow", function(e){...</i>' en el script: <i>ifr_common_listing.php</i>)</li>
						<li class="m-b-10"><b><span class="zmdi zmdi-copy bgm-cyan"></span> Copia o duplicación de registro:</b> cuando posible, puede también estar presente el botón de copia de registro, esta opción se dibuja siempre desde <i>ifr_common_listing.php</i>, y se gestiona en el script js <i>js/dujok.js</i> con la función <i>copyRowId</i> que abre la modal apropiada para solicitar la confirmación de la copia y eventualmente visualizar las opciones / características de la operación, según la configuración para el módulo activo. eL parámetro <span class="c-green" >"$moduleSetting->arrCopyExcludeFields"</span> hace referencia a los campos de la tabla <span class="c-green" >"$moduleSetting->mainTable"</span>. Ejemplo:
								<pre>
// OPTIONAL PARAMS
...
$moduleSetting->allowCopyRecord = true;
$moduleSetting->minCopyRecordLevel = __LEVEL_ACCESS_MASTER;
$moduleSetting->arrCopyExcludeFields = array('campo_a_excluir'); // CAMPOS A EXCLUIR EN LA COPIA
</pre>
						</li>
						<li class="m-b-10"><b>Funciones específicas de los módulos del back-office:</b> Cada módulo del back-office, puede tener funciones <i>"locales"</i> para campos del mismo formulario; estas, con el parámetro "<b>extraFunc</b>", deben de ser <i>"inicializadas"</i> en el archivo de configuración del mismo módulo con las todas opciones que sean necesarias, donde la primera es el nombre de la misma función JS que deberá estar definida normalmente en "<b>ifr_edit.php</b>.<br>Un ejemplo: "<u>,<b>'extraFunc'</b> => 'miFuncionDelCampo,parametro1,parametro2'</u>".<br>Importante recordar que si se desea que automáticamente aparezca añadido un texto de aviso en el "title" o "alt" la indicación que el campo tiene una modal, el nombre de la función debe contener la cadena "modal".</li>
						<li class="m-b-10">
							El script "<i>[ADMIN_FOLDER]/_inc/index_top_html_header.php</i>" tiene definido el array con los textos traducidos utilizados en archivos javascript (exclusivamente para los <i>.js</i>).<br />El array se identifica como <span class="c-green" >"arrTextContent"</span>, ejemplo:.
								<pre>
 var arrTextContent=new Array();
 arrTextContent["hlp_noData"]="&LT;?=__COMMON_GENERICTEXT_NODATA?&GT;";
 arrTextContent["hlp_searchedText"]="&LT;?=__COMMON_JSHELP_SEARCHEDTEXT?&GT;";
</pre>
						</li>
					</ol>
				</div>

				<div class="tab-pane fade f-14 c-black" id="tabBootstrpClasses">
					<b>Clases aplicables a acciones animadas de Bootstarp</b>
					<ol>
						<li class="m-b-10">bounce</li>
						<li class="m-b-10">flash</li>
						<li class="m-b-10">pulse</li>
						<li class="m-b-10">rubberBand</li>
						<li class="m-b-10">shake</li>
						<li class="m-b-10">headShake</li>
						<li class="m-b-10">swing</li>
						<li class="m-b-10">tada</li>
						<li class="m-b-10">wobble</li>
						<li class="m-b-10">jello</li>
						<li class="m-b-10">bounceIn</li>
						<li class="m-b-10">bounceInDown</li>
						<li class="m-b-10">bounceInLeft</li>
						<li class="m-b-10">bounceInRight</li>
						<li class="m-b-10">bounceInUp</li>
						<li class="m-b-10">bounceOut</li>
						<li class="m-b-10">bounceOutDown</li>
						<li class="m-b-10">bounceOutLeft</li>
						<li class="m-b-10">bounceOutRight</li>
						<li class="m-b-10">bounceOutUp</li>
						<li class="m-b-10">fadeIn</li>
						<li class="m-b-10">fadeInDown</li>
						<li class="m-b-10">fadeInDownBig</li>
						<li class="m-b-10">fadeInLeft</li>
						<li class="m-b-10">fadeInLeftBig</li>
						<li class="m-b-10">fadeInRight</li>
						<li class="m-b-10">fadeInRightBig</li>
						<li class="m-b-10">fadeInUp</li>
						<li class="m-b-10">fadeInUpBig</li>
						<li class="m-b-10">fadeOut</li>
						<li class="m-b-10">fadeOutDown</li>
						<li class="m-b-10">fadeOutDownBig</li>
						<li class="m-b-10">fadeOutLeft</li>
						<li class="m-b-10">fadeOutLeftBig</li>
						<li class="m-b-10">fadeOutRight</li>
						<li class="m-b-10">fadeOutRightBig</li>
						<li class="m-b-10">fadeOutUp</li>
						<li class="m-b-10">fadeOutUpBig</li>
						<li class="m-b-10">flipInX</li>
						<li class="m-b-10">flipInY</li>
						<li class="m-b-10">flipOutX</li>
						<li class="m-b-10">flipOutY</li>
						<li class="m-b-10">lightSpeedIn</li>
						<li class="m-b-10">lightSpeedOut</li>
						<li class="m-b-10">rotateIn</li>
						<li class="m-b-10">rotateInDownLeft</li>
						<li class="m-b-10">rotateInDownRight</li>
						<li class="m-b-10">rotateInUpLeft</li>
						<li class="m-b-10">rotateInUpRight</li>
						<li class="m-b-10">rotateOut</li>
						<li class="m-b-10">rotateOutDownLeft</li>
						<li class="m-b-10">rotateOutDownRight</li>
						<li class="m-b-10">rotateOutUpLeft</li>
						<li class="m-b-10">rotateOutUpRight</li>
						<li class="m-b-10">hinge</li>
						<li class="m-b-10">rollIn</li>
						<li class="m-b-10">rollOut</li>
						<li class="m-b-10">zoomIn</li>
						<li class="m-b-10">zoomInDown</li>
						<li class="m-b-10">zoomInLeft</li>
						<li class="m-b-10">zoomInRight</li>
						<li class="m-b-10">zoomInUp</li>
						<li class="m-b-10">zoomOut</li>
						<li class="m-b-10">zoomOutDown</li>
						<li class="m-b-10">zoomOutLeft</li>
						<li class="m-b-10">zoomOutRight</li>
						<li class="m-b-10">zoomOutUp</li>
						<li class="m-b-10">slideInDown</li>
						<li class="m-b-10">slideInLeft</li>
						<li class="m-b-10">slideInRight</li>
						<li class="m-b-10">slideInUp</li>
						<li class="m-b-10">slideOutDown</li>
						<li class="m-b-10">slideOutLeft</li>
						<li class="m-b-10">slideOutRight</li>
						<li class="m-b-10">slideOutUp</li>
					</ol>
				</div>


				<ul class="fw-footer pagination wizard">
						<li class="previous first"><a class="a-prevent" href="#null"><i class="zmdi zmdi-more-horiz"></i></a></li>
						<li class="previous"><a class="a-prevent" href="#null"><i class="zmdi zmdi-chevron-left"></i></a></li>
						<li class="next"><a class="a-prevent" href="#null"><i class="zmdi zmdi-chevron-right"></i></a></li>
						<li class="next last"><a class="a-prevent" href="#null"><i class="zmdi zmdi-more-horiz"></i></a></li>
				</ul>

			</div>
	</div>
</div>
