<!--

NOTAS IMPORTANTES:
1.0 PARA CREAR UN ACCESO A OTRO ELEMENTO DE LA AYUDA, SE DEBE CONOCER EL ID O UNA CLASE CSS DEL TAG DE DESTINO E INCLUIR EN EL TAG DONDE SE HA DE COLOCAR EL EVENTO:
 1.1 class="gotoHelpTag" ]==> COLOCAR ESTA CLASE EN EL TAG QUE DEBE ABRIR EL NUEVO ELEMENTO
 1.2 data-target-tag="ID" / CLASE CSS" ]==> COLOCAR LA PROPIEDAD "data-target-tag" DANDOLE COMO VALOR EL ID (#id ) O LA CLASE (.miclase) DE DESTINO
  1.2.1 ES POSIBLE INDICAR MAS DE UN VALOR PARA "data-target-tag" SEPARANDOLO CON LA COMA (,)


-->
<div class="card-body card-padding">
	<div class="help-basic-blocks fw-container">
		<ul class="tab-nav text-center fw-nav">
			<li class="active"><a href="#tab-cm-1" data-toggle="tab" aria-expanded="false">Notas generales</a></li>
			<li class=""><a href="#tab-cm-2" data-toggle="tab" aria-expanded="false" class="confDet objSetting">Detalles</a></li>
			<li class=""><a href="#tab-cm-3" data-toggle="tab" aria-expanded="false" class="confDet fieldsSetting">Campos del formulario</a></li>
		</ul>

		<div class="tab-content">
			<div class="tab-pane fade f-14 in active" id="tab-cm-1">
				<p>Algunas notas de explicaci&oacute;n para el principal archivo de control para cada módulo presente en el admin.<br />Importante recordar que este archivo es un script de <b>PHP</b>.</p>
				<ul>
					<li class="m-b-10">
						Objeto <span class="c-red">"$moduleSetting"</span>
						<br />El objeto "<span class="f-600 gotoHelpTag" data-target-tag=".objSetting,.accordCM-0">$moduleSetting</span>" es el principal contenedor que abarca la casi totalidad de parámetros necesarios para la configuración de cada módulo presente en el back-office. Este objeto debe estar presente en todos los archivos que utilicen algún elemento del mismo ya sea por medio del <u><i>include</i> del config_module.php</u> o por medio del <u>env&iacute;o por POST</u> de las variables necesarias.<a href="#null" class="c-purple gotoHelpTag" data-target-tag=".objSetting"><i>ver detalles</i></a>
					</li>

					<li class="m-b-10">Bloque <span class="c-blue">"MANDATORY PARAMS"</span>
						<br />Contiene los parámetros indispensables para la inicialización y/o funcionamiento del módulo al que se le aplican; deben siempre estar inicializadas.
					</li>
					<li class="m-b-10">Bloque <span class="c-blue">"OPTIONAL PARAMS"</span>
						<br />Estos parámetros permiten cambiar algunas configuraciones que ya están inicializadas por defecto; no son obligatorias; generalmente se refieren a elementos de la BBDD del m&oacute;dulo activo, como por ejemplo la ordenaci&oS;n inicial del listado.
					</li>
					<li class="m-b-10">Otros elementos y settings
						<br />Para el listado de datos, el control de <i>HABILITAR / DESHABILITAR</i>, se puede evitar que aparezca el campo específico, para ahorrar así una columna, esto es posible hacerlo repitiendo un índice previamente utilizado en el array <span class="gotoHelpTag" data-target-tag=".fieldsSetting,.accordFMD-11">"tabularListData"</span> de otro campo del módulo, <i>ejemplo</i>:
						<br />&emsp;- El campo "b_enabled" de la tabla del módulo que especifica el estado del record no es obligatorio que aparezca en el listado <span class="c-gray">(nota: el campo que determina si un record está activo puede tener otro nombre: los nombres válidos están definidos en el array "<b>$arrEnabledFieldStatus</b>" que se inicializa en <b><i>rootWeb</i>/conf/config.misc.php</b>, esto es imprescindible para el correcto funcionamiento en el listado)</span>.
						<br />&emsp;- El script de configuración tiene otros parámetros <span class="gotoHelpTag" data-target-tag=".fieldsSetting,.accordFMD-11">,'tabularListData'=>['columnOrder'=>NN]</span>, el truco está en asignar a <i>"columnOrder"</i> un valor ya utilizado (lo más seguro, es utilizar el último).
						<br />&emsp;- Deberemos incluir el parámetro <span class="c-red">,'tabularListData'=>['columnOrder'=>NN]</span> en el campo "b_enabled".
								<pre>
 ,'b_enabled' => array(
    'formType' => 'text'
    ,'dataType' => 'integer'
    <b>,'tabularListData' => [ 'columnOrder' => 0 ]</b>
    ,...
</pre>

					</li>
					<li class="m-b-10">
						Estos son los niveles (solo indicativos, pueden variar según instalación) en el back-office:
						<pre>
@define('__LEVEL_ACCESS_GOD', 20);
@define('__LEVEL_ACCESS_MASTER', 18);
@define('__LEVEL_ACCESS_RESPONSIBLE', 15);
@define('__LEVEL_ACCESS_OPERATOR', 12);
@define('__LEVEL_ACCESS_VISIT', 10);
</pre>
					</li>
				</ul>
			</div>

			<div class="tab-pane fade f-14" id="tab-cm-2">

				<div class="col-sm-14 m-b-10 panel-group" data-collapse-color="green" id="accordCM" role="tablist" aria-multiselectable="true">
					<div class="panel panel-collapse">
						<div class="panel-heading" role="tab">
							<h4 class="panel-title">
								<a class="collapsed" data-toggle="collapse" data-parent="#accordCM" aria-controls="accordCM" href="#accordCM-0" aria-expanded="false">$moduleSetting<i> <span class="f-600 c-gray">(objeto)</span></i></a>
							</h4>
						</div>
						<div id="accordCM-0" class="collapse" role="tabpanel">
							<div class="panel-body f-300 f-14 c-black">
								El objeto <span class="f-600">"$moduleSetting"</span> es el principal elemento que contiene la casi totalidad de parámetros necesarios para la configuración / funcionamiento de cada módulo presente en el back-office. Este objeto debe estar presente en todos los archivos que utilicen algún elemento del mismo, ya sea por medio de la instrucción <u><i>"include"</i> del config_module.php</u> o por medio del <u>env&iacute;o por POST</u> de las variables a utilizar.
							</div>
						</div>
					</div>

					<div class="panel panel-collapse">
						<div class="panel-heading" role="tab">
							<h4 class="panel-title">
								<a class="collapsed" data-toggle="collapse" data-parent="#accordCM" href="#accordCM-1" aria-expanded="false" >$arrEraseOptions <i><span class="f-600 c-gray">(array)</span></i></a>
							</h4>
						</div>
						<div id="accordCM-1" class="collapse" role="tabpanel">
							<div class="panel-body f-300 f-14 c-black">
								El array <span class="c-red">"$arrEraseOptions"</span> sirve para poder indicar dinámicamente opciones a la hora de borrar registros del módulo activo; un ejemplo puede ser, como elemento de seguridad, para evitar borrados "err&oacute;neos" de registros del listado, se puede obligar a que los registros est&eacute;n dehabilitados para que se pueda proceder con esta acci&oacute;n. Un ejemplo:<br />
								<pre>
$arrEraseOptions = array(
  'sqlWhere' => array(
    ' && MI_CAMPO_DE_ESTADO = ' => 0
  ) 
);
</pre>
								Es también posible el efectuar filtros con el control de datos hacia otras tablas algo más complejos colocando un identificador de ID en el punto deseado de la query a ejecutar.
								<br /><br />Puesto que para hacer el control de un determinado registro es necesario identificarlo, es posible añadir su <b>identificador</b>, sea cual sea, colocando el identificador interno <span class="c-blue">[[idRef]]</span> en la query a ejecutar.
								<br /><br />El proceso de borrado sustituirá automáticamente <span class="c-blue">[[idRef]]</span> por el ID del registro implicado en la operación.
								<br /><br />En el siguiente ejemplo se puede apreciar lo aquí enunciado... suponemos que el ID manejado sea el <b>87791</b>:
								<pre>
$arrEraseOptions = array(
  'sqlWhere' => array(
    ' && b_enabled = ' => 0
    ' && ' => (SELECT COUNT(*) < 1 FROM mi_tabla_xxxx WHERE id_de_mi_tabla_xxxx = <span class="c-blue f-700">[[idRef]]</span>)
  ) 
);

El resultado será: <span class="c-bluegray">... && b_enabled=0 </span>&& (SELECT COUNT(*) < 1 FROM mi_tabla_xxxx WHERE id_de_mi_tabla_xxxx = <span class="c-blue f-700">87791</span>)
</pre>
							</div>
						</div>
					</div>

					<div class="panel panel-collapse">
						<div class="panel-heading" role="tab">
							<h4 class="panel-title">
								<a class="collapsed" data-toggle="collapse" data-parent="#accordCM" href="#accordCM-2" aria-expanded="false" >$moduleSetting->mainTable</a>
							</h4>
						</div>
						<div id="accordCM-2" class="collapse" role="tabpanel">
							<div class="panel-body f-300 f-14 c-black">
								Esta variable identifica la tabla principal del m&oacute;dulo activo. Recordar que no se debe incluir en esta string el prefijo de la BBDD.
							</div>
						</div>
					</div>

					<div class="panel panel-collapse">
						<div class="panel-heading" role="tab">
							<h4 class="panel-title">
								<a class="collapsed" data-toggle="collapse" data-parent="#accordCM" href="#accordCM-14" aria-expanded="false">$moduleSetting->moduleBBDD</a>
							</h4>
						</div>
						<div id="accordCM-14" class="collapse" role="tabpanel">
							<div class="panel-body f-300 f-14 c-black">
								Sintaxis <span class="c-red">$moduleSetting->moduleBBDD</span> = <span class="c-blue">'nombre de la base de datos'</span>;<br /><br />
								El parámetro <span class="c-red">"$moduleSetting->moduleBBDD"</span> permite especificar otra base de datos, solo para leer los registros (no insertar ni actualizar), tipicamente logs relacionados a la <i>BBDD principal</i>, ejemplo:
								<pre>
$moduleSetting->moduleBBDD = 'mi_BBDD';
</pre>
							</div>
						</div>
					</div>

					<div class="panel panel-collapse">
						<div class="panel-heading" role="tab">
							<h4 class="panel-title">
								<a class="collapsed" data-toggle="collapse" data-parent="#accordCM" href="#accordCM-3" aria-expanded="false">$moduleSetting->prefixTbl</a>
							</h4>
						</div>
						<div id="accordCM-3" class="collapse" role="tabpanel">
							<div class="panel-body f-300 f-14 c-black">
								Sintaxis <span class="c-red">$moduleSetting->prefixTbl</span> = <span class="c-blue">'PREFIJO de la base de datos'</span>;<br /><br />
								Es el prefijo de todas las tablas nativas de la Web gestionada por medio de este back-office. Este par&aacute;metro est&aacute; definido en el config principal como variable est&aacute;tica <span class="c-blue">"QUERY_TABLES_PREFIX"</span>. Si el módulo hace parte del framework nativo, se debe utilizar esta variable, ejemplo:
								<pre>
$moduleSetting->prefixTbl=QUERY_TABLES_PREFIX;
</pre>
							</div>
						</div>
					</div>

					<div class="panel panel-collapse">
						<div class="panel-heading" role="tab">
							<h4 class="panel-title">
								<a class="collapsed" data-toggle="collapse" data-parent="#accordCM" href="#accordCM-4" aria-expanded="false">$moduleSetting->keyListLabel</a>
							</h4>
						</div>
						<div id="accordCM-4" class="collapse" role="tabpanel">
							<div class="panel-body f-300 f-14 c-black">
								Sintaxis <span class="c-red">$moduleSetting->keyListLabel</span> = <span class="c-blue">'mi_id_tabla'</span>;<br /><br />
								Este parámetro es muy importante. Permite identificar y gestionar el ID principal de la tabla activa para el módulo abierto.
							</div>
						</div>
					</div>

					<div class="panel panel-collapse">
						<div class="panel-heading" role="tab">
							<h4 class="panel-title">
								<a class="collapsed" data-toggle="collapse" data-parent="#accordCM" href="#accordCM-5" aria-expanded="false">$moduleSetting->isEditable</a>
							</h4>
						</div>
						<div id="accordCM-5" class="collapse" role="tabpanel">
							<div class="panel-body f-300 f-14 c-black">
								Define si los registros de la tabla, para el módulo activo, pueden ser editados o no; si no es posible editar, no aparecerá el botón asociado. En determinadas ocasiones es posible que esta opción esté disponible según algún criterio, un ejemplo:
								<pre>
$moduleSetting->isEditable = $_SESSION['userAdmin']['roleId'] >= $systemData->minStdEditRole ? true : false;
</pre>
								<b>NOTA:</b> Es posible permitir visualizar el formulario de edición, pero habilitar "<span class="c-red gotoHelpTag" data-target-tag=".accordCM-8B">$moduleSetting->disallowUpdate</span>" para impedir actualizar el registro.
							</div>
						</div>
					</div>

					<div class="panel panel-collapse">
						<div class="panel-heading" role="tab">
							<h4 class="panel-title">
								<a class="collapsed" data-toggle="collapse" data-parent="#accordCM" href="#accordCM-7" aria-expanded="false">$moduleSetting->isErasable</a>
							</h4>
						</div>
						<div id="accordCM-7" class="collapse" role="tabpanel">
							<div class="panel-body f-300 f-14 c-black">
								Permite eliminar registros del listado de un módulo:
								<pre>
$moduleSetting->isErasable = $_SESSION['userAdmin']['roleId'] == LEVEL_ACCESS_GOD ? true : false;
</pre>
							</div>
						</div>
					</div>

					<div class="panel panel-collapse">
						<div class="panel-heading" role="tab">
							<h4 class="panel-title">
								<a class="collapsed" data-toggle="collapse" data-parent="#accordCM" href="#accordCM-6" aria-expanded="false">$moduleSetting->isCanEnabled</a>
							</h4>
						</div>
						<div id="accordCM-6" class="collapse" role="tabpanel">
							<div class="panel-body f-300 f-14 c-black">
								Gestiona los elementos para el módulo activo que permiten activar/desactivar registros:
								<pre>
$moduleSetting->isCanEnabled = $_SESSION['userAdmin']['roleId'] >= LEVEL_ACCESS_MASTER ? true : false;
</pre>
								Si no es necesario habilitar o deshabilitar registros para un determinado módulo, se debe dejar en <b>false</b>.
							</div>
						</div>
					</div>

					<div class="panel panel-collapse">
						<div class="panel-heading" role="tab">
							<h4 class="panel-title">
								<a class="collapsed" data-toggle="collapse" data-parent="#accordCM" href="#accordCM-8" aria-expanded="false">$moduleSetting->allowNewRecord</a>
							</h4>
						</div>
						<div id="accordCM-8" class="collapse" role="tabpanel">
							<div class="panel-body f-300 f-14 c-black">
								Visualiza/esconde los botones para poder insertar un nuevo registro en los módulos con listados de datos:
								<pre>
$moduleSetting->isCanEnabled = false;
</pre>
							</div>
						</div>
					</div>

					<div class="panel panel-collapse">
						<div class="panel-heading" role="tab">
							<h4 class="panel-title">
								<a class="collapsed accordCM-8B" data-toggle="collapse" data-parent="#accordCM" href="#accordCM-8B" aria-expanded="false">$moduleSetting->disallowUpdate</a>
							</h4>
						</div>
						<div id="accordCM-8B" class="collapse" role="tabpanel">
							<div class="panel-body f-300 f-14 c-black">
								Si esta opción es <i>TRUE</i>, se desactivará el botón de <i>"GUARDAR"</i> en el formulario de edición.
								<pre>
$moduleSetting->disallowUpdate = true;
</pre>
							</div>
						</div>
					</div>

					<div class="panel panel-collapse">
						<div class="panel-heading" role="tab">
							<h4 class="panel-title">
								<a class="collapsed" data-toggle="collapse" data-parent="#accordCM" href="#accordCM-9" aria-expanded="false">$moduleSetting->minEditLevel</a>
							</h4>
						</div>
						<div id="accordCM-9" class="collapse" role="tabpanel">
							<div class="panel-body f-300 f-14 c-black">
								Permite estrablecer el nivel mínimo necesario para poder editar datos (aplicable cuando utilizado en el módulo abierto):
								<pre>
$moduleSetting->minEditLevel = LEVEL_ACCESS_GOD;
</pre>
							</div>
						</div>
					</div>

					<div class="panel panel-collapse">
						<div class="panel-heading" role="tab">
							<h4 class="panel-title">
								<a class="collapsed" data-toggle="collapse" data-parent="#accordCM" href="#accordCM-10" aria-expanded="false">$moduleSetting->minEnableLevel</a>
							</h4>
						</div>
						<div id="accordCM-10" class="collapse" role="tabpanel">
							<div class="panel-body f-300 f-14 c-black">
								Nivel mínimo necesario para habilitar / deshabilitar registros del módulo abierto:
								<pre>
$moduleSetting->minEnableLevel = LEVEL_ACCESS_MASTER;
</pre>
							</div>
						</div>
					</div>

					<div class="panel panel-collapse">
						<div class="panel-heading" role="tab">
							<h4 class="panel-title">
								<a class="collapsed" data-toggle="collapse" data-parent="#accordCM" href="#accordCM-11" aria-expanded="false">$moduleSetting->fieldNameStatusRow</a>
							</h4>
						</div>
						<div id="accordCM-11" class="collapse" role="tabpanel">
							<div class="panel-body f-300 f-14 c-black">
								Nombre del campo utilizado para habilitar/deshabilitar registros, cuando necesario; si no se establece correctamente, no se podrán habilitar/deshabilitar registros desde el listado:
								<pre>
$moduleSetting->fieldNameStatusRow = 'b_enabled';
</pre>
							</div>
						</div>
					</div>

					<div class="panel panel-collapse">
						<div class="panel-heading" role="tab">
							<h4 class="panel-title">
								<a class="collapsed" data-toggle="collapse" data-parent="#accordCM" href="#accordCM-12" aria-expanded="false">$moduleSetting->defaultOrderField <i><span class="f-600 c-gray">(array)</span></i></a>
							</h4>
						</div>
						<div id="accordCM-12" class="collapse" role="tabpanel">
							<div class="panel-body f-300 f-14 c-black">
								Sintaxis <span class="c-red">$moduleSetting->defaultOrderField</span> = [ <span class="c-blue">'NOMBRE_CAMPO'</span> => <span class="c-green f-700">'ORDENACIÓN'</span>];<br /><br />
								El array <span class="c-red">"$moduleSetting->defaultOrderField"</span> permite incluir tantos campos cuantos sean necesarios utilizar para ordenar el listado del módulo activo en su primera visualización; simplemente se debe mantener el eschema aquí descrito, ejemplo:
								<pre>
$moduleSetting->defaultOrderField = [ 'id_related_option' => 'ASC' , 'i_option_sort' => 'DESC' ];
</pre>
							</div>
						</div>
					</div>

					<div class="panel panel-collapse">
						<div class="panel-heading" role="tab">
							<h4 class="panel-title">
								<a class="collapsed" data-toggle="collapse" data-parent="#accordCM" href="#accordCM-13" aria-expanded="false">$moduleSetting->pluginsTopIndex <i><span class="f-600 c-gray">(array)</span></i></a>
							</h4>
						</div>
						<div id="accordCM-13" class="collapse" role="tabpanel">
							<div class="panel-body f-300 f-14 c-black">
								Es un array (opcional) <span class="c-red">"$moduleSetting->pluginsTopIndex"</span> para poder incluir las especificaciones para configurar "plug-ins" adicionales disponibles para el back-office. Inicialmente se ha creado este array para poder configurar con cierta flexibilidad el plug-in de gráficos <i>highCharts</i>, ejemplo para highCharts:
								<pre>
$moduleSetting-><b>pluginsTopIndex</b> = array(
 'plugInName' => 'highCharts'
 ,'tableAdminUsers' => '<i>NOMBRE_TABLA_ADMINISTRADRES_BACK_OFFICE</i>'
 ,'customPath' => 'RUTA_DEL_PLUG-IN'
 // <b>sqlParams</b> es el array con las definiciones para obtener los datos a representar en el gráfico a generar
  '<b>sqlParams</b>' => array(
    'mainBBDD' => $VARIABLE_DINAMICA_CON_NOMBRE_BBDD_UTILIZADO
    ,'mainTablePrefix' => 'PREFIJO (SI LO TUVIERA) DE LA TABLA A EMPLEAR'
    ,'mainTableName' => __QUERY_TABLES_PREFIX.$moduleSetting->mainTable
    ....
  )
);
</pre>
							</div>
						</div>
					</div>

				</div>

			</div>

			<div class="tab-pane fade f-14" id="tab-cm-3">
				<p>El elemento del objeto <span class="c-red f-600">"$moduleSetting->arrFieldsFormModal"</span> requiere un apartado independiente al ser el <b>array fundamental</b> para la configuiración de todos los campos pertenecientes al módulo abierto.<br /><br />
				Este array como minimo tiene dos dimensiones: la primera identifica los "nombres" de los campos de la tabla principal, la segunda dimensión son todas las posibles propiedades de cada campo.<br /><br />
				Cada propiedad puede ser de cualquier tipo de datos; por lo que el <b>array <i>padre</i></b> "<span class="c-red f-600">$moduleSetting->arrFieldsFormModal</span>" puede tener más de dos dimensiones.<br /><br />A continuación, las propiedades más abituales/importantes del array <span class="c-red f-600">$moduleSetting->arrFieldsFormModal</span> (<i>las propiedades acabadas <span class="c-indigo f-600">con el asterisco * son obligatorias para cada elemento de "arrFieldsFormModal"</span></i>):</p>

				<div class="col-sm-14 m-b-10 panel-group" data-collapse-color="black" id="accordFMD" role="tablist" aria-multiselectable="true">
					<div class="panel panel-collapse">
						<div class="panel-heading" role="tab">
							<h4 class="panel-title">
								<a class="collapsed" data-toggle="collapse" data-parent="#accordFMD" aria-controls="accordFMD" href="#accordFMD-0" aria-expanded="false">[ formType ]*</a>
							</h4>
						</div>
						<div id="accordFMD-0" class="collapse" role="tabpanel">
							<div class="panel-body f-300 f-14 c-black">
								Define el tipo (independientemente del TAG HTML "input", "select", etc. ) del elemento que se debe utilizar para renderizar el campo necesario a presentar en el framework, tiene un valor "casi" standard HTML, este dato únicamente identifica todos los posibles tipos de campos (hidden, text, radio, checkbox, select, textarea, etc.).
							</div>
						</div>
					</div>

					<div class="panel panel-collapse">
						<div class="panel-heading" role="tab">
							<h4 class="panel-title">
								<a class="collapsed accordFMD-1" data-toggle="collapse" data-parent="#accordFMD" aria-controls="accordFMD" href="#accordFMD-1" aria-expanded="false">[ dataType ]*</a>
							</h4>
						</div>
						<div id="accordFMD-1" class="collapse" role="tabpanel">
							<div class="panel-body f-300 f-14 c-black">
								indica el tipo de dato, estos son los valores a utilizar en este framework:<br />
								&emsp;- <i>varchar</i>, cualquier valor de tipo string (incluidos los <i>textarea</i>)<br />
								&emsp;- <i>integer</i>, cualquier valor numérico<br />
								&emsp;- <i>date</i><br />
								&emsp;- <i>timestamp</i><br />
								&emsp;- <i>imageFile</i>, archivo "imágen"<br />
								&emsp;- <i>slider</i>, slider gráfico<br />
								&emsp;- <i>toggle</i>, sustituye al check box HTML original<br />
							</div>
						</div>
					</div>

					<div class="panel panel-collapse">
						<div class="panel-heading" role="tab">
							<h4 class="panel-title">
								<a class="collapsed" data-toggle="collapse" data-parent="#accordFMD" aria-controls="accordFMD" href="#accordFMD-2" aria-expanded="false">[ label ]*</a>
							</h4>
						</div>
						<div id="accordFMD-2" class="collapse" role="tabpanel">
							<div class="panel-body f-300 f-14 c-black">
								El el texto que aparece en el listado y en los formularios para identificar el campo.
							</div>
						</div>
					</div>

					<div class="panel panel-collapse">
						<div class="panel-heading" role="tab">
							<h4 class="panel-title">
								<a class="collapsed" data-toggle="collapse" data-parent="#accordFMD" aria-controls="accordFMD" href="#accordFMD-3" aria-expanded="false">[ formGroup ]*</a>
							</h4>
						</div>
						<div id="accordFMD-3" class="collapse" role="tabpanel">
							<div class="panel-body f-300 f-14 c-black">
								El valor de este parámetro debe ser igual al índice del array <span class="c-red">"$moduleSetting->arrGoupsForm"</span>, así se puede colocar colocar el campo en unos de los grupos que se dibujarán en el formulario de edición / inserción del módulo.
								Este ha de tener por lo menos un elemento para que se puedan dibujar los campos del formualrio. En el siguiente ejemplo, para que el campo se dibuje en el primer grupo de elementos, <span class="c-red">"formGroup"</span> ha de tener el <b>valor 1</b>:
								<pre>
$moduleSetting-><b>arrGoupsForm</b> = array(
  <b>1</b> => array(
    'groupTextTitle' => 'Gesti&oacute;n de cosas'
    ,'additionalInfo' => ''
    ,'groupIco' => 'zmdi zmdi-book'
    ,'groupHeaderClass' => 'bg-black-trp'
  )
);
</pre>
							</div>
						</div>
					</div>

					<div class="panel panel-collapse">
						<div class="panel-heading" role="tab">
							<h4 class="panel-title">
								<a class="collapsed" data-toggle="collapse" data-parent="#accordFMD" aria-controls="accordFMD" href="#accordFMD-4" aria-expanded="false">[ order ]*</a>
							</h4>
						</div>
						<div id="accordFMD-4" class="collapse" role="tabpanel">
							<div class="panel-body f-300 f-14 c-black">
								Este campo es necesario para establecer el orden de aparición en el formulario.<br />Al ser una variable <i>auto-incremental ('order' => <b>++$order</b>) </i>, no se necesita modificarla, será suficiente "mover" en el script "config_module.php" el elemento de <span class="c-red">$moduleSetting->arrFieldsFormModal</span> donde aparece todo el bloque del campo deseado (obviamente con todos sus parámetros), y éste se dibujará en el orden deseado.
							</div>
						</div>
					</div>

					<div class="panel panel-collapse">
						<div class="panel-heading" role="tab">
							<h4 class="panel-title">
								<a class="collapsed" data-toggle="collapse" data-parent="#accordFMD" aria-controls="accordFMD" href="#accordFMD-33" aria-expanded="false">[ colsClass ]</a>
							</h4>
						</div>
						<div id="accordFMD-33" class="collapse" role="tabpanel">
							<div class="panel-body f-300 f-14 c-black">
								Este campo permite establecer el ancho del elemento a dibujar, utliza las clases standard de "col-sm-<i>N</i> (de 1 a 12)", donde <i>N</i> es el valor que se puede asignar.<br />Si no se establece, para todos los campos tiene un valor por defecto de <b>3</b>, excepto para los tags de tipo <i>textarea</i>, que es <b>6</b>.
							</div>
						</div>
					</div>

					<div class="panel panel-collapse">
						<div class="panel-heading" role="tab">
							<h4 class="panel-title">
								<a class="collapsed" data-toggle="collapse" data-parent="#accordFMD" aria-controls="accordFMD" href="#accordFMD-6" aria-expanded="false">[ required ]</a>
							</h4>
						</div>
						<div id="accordFMD-6" class="collapse" role="tabpanel">
							<div class="panel-body f-300 f-14 c-black">
								Especifica si el campo debe tener un valor obligatorio para poder guardar el registro a editar / insertar; es uno de los controles utilizados para hacer la validación del campo. La inclusión de este parámetro, genera / incluye el texto "OBLIGATORIO" en el tool-tip del campo al que pertenece.
							</div>
						</div>
					</div>

					<div class="panel panel-collapse">
						<div class="panel-heading" role="tab">
							<h4 class="panel-title">
								<a class="collapsed" data-toggle="collapse" data-parent="#accordFMD" aria-controls="accordFMD" href="#accordFMD-8" aria-expanded="false">[ visible ]</a>
							</h4>
						</div>
						<div id="accordFMD-8" class="collapse" role="tabpanel">
							<div class="panel-body f-300 f-14 c-black">
								Indica si no ha de aparecer el campo, <i>por defecto es true</i>.
							</div>
						</div>
					</div>

					<div class="panel panel-collapse">
						<div class="panel-heading" role="tab">
							<h4 class="panel-title">
								<a class="collapsed" data-toggle="collapse" data-parent="#accordFMD" aria-controls="accordFMD" href="#accordFMD-9" aria-expanded="false">[ placeHolder ]</a>
							</h4>
						</div>
						<div id="accordFMD-9" class="collapse" role="tabpanel">
							<div class="panel-body f-300 f-14 c-black">
								Es el texto que aparece cuando un campo de tipo "<span class="gotoHelpTag" data-target-tag=".accordFMD-1">text</span>" o "<span class="gotoHelpTag" data-target-tag=".accordFMD-1">textarea</span>" no tiene valor (es una propiedad que se dibuja como parámetro HTML).
							</div>
						</div>
					</div>

					<div class="panel panel-collapse">
						<div class="panel-heading" role="tab">
							<h4 class="panel-title">
								<a class="collapsed" data-toggle="collapse" data-parent="#accordFMD" aria-controls="accordFMD" href="#accordFMD-10" aria-expanded="false">[ excludeAutoForm ]</a>
							</h4>
						</div>
						<div id="accordFMD-10" class="collapse" role="tabpanel">
							<div class="panel-body f-300 f-14 c-black">
								Con este parámetro es posible <i>excluir completamente un campo del formulario</i> generado automáticamente por el framework. Si deberá aparecer en el formulario, su gestión se deberá hacer por completo manualmente.
							</div>
						</div>
					</div>

					<div class="panel panel-collapse">
						<div class="panel-heading" role="tab">
							<h4 class="panel-title">
								<a class="collapsed accordFMD-11" data-toggle="collapse" data-parent="#accordFMD" aria-controls="accordFMD" href="#accordFMD-11" aria-expanded="false">[ tabularListData ] <i><span class="f-600 c-gray">(array)</span></i></a>
							</h4>
						</div>
						<div id="accordFMD-11" class="collapse" role="tabpanel">
							<div class="panel-body f-300 f-14 c-black">
								<span class="c-red">"tabularListData"</span> es el array utilizado para configuraralgunos parámetros de las filas del listado tabular para el módulo al que apartenece. Si esta propiedad no está configurada, el campo no puede aparecer en el listado. Puede ser extendido con "<span class="gotoHelpTag" data-target-tag=".accordFMD-32">tabularFilter</span>" para incluir filtros personalizados de búsqueda:
								<br /><br />Estos los parámetros admitidos (2017.08):
								<br />&emsp;- <span class="f-600 c-red">columnOrder</span> = orden de colocación en el listado tabular.
								<br />&emsp;- <span class="f-600 c-red">removeHtml</span> = Flag para remover automáticamente contenido HTML del campo a dibujar.
								<br />&emsp;- <span class="f-600 c-red">columnWidth</span> = Ancho de la columna para el listado de registros: en el HTML generado se aplica la clase "col-xs-<i>N</i> (<i>N</i> = de 1 a 12)" donde <i>N</i> es el valor numérico de esta variable.<br />&emsp;En el ejemplo, al tener 'columnWidth' el valor <b>1</b>, la clase aplicada será <i>"col-xs-1"</i>.
								<br />&emsp;- <span class="f-600 c-red">dateFormat</span> = Formato de la fecha que se debe utilizar (la función PHP "date()").
								<pre>
  ,'MY_FIELD_NAME' => array(
    'formType' => 'textarea'
    ,'dataType' => 'varchar'
    ,'<b>tabularListData</b>' => [ 'columnOrder' => 2 , 'removeHtml' => 1 , 'columnWidth' => 1 ]
    , ...
</pre>

							</div>
						</div>
					</div>

					<div class="panel panel-collapse">
						<div class="panel-heading" role="tab">
							<h4 class="panel-title">
								<a class="collapsed accordFMD-41" data-toggle="collapse" data-parent="#accordFMD" aria-controls="accordFMD" href="#accordFMD-41" aria-expanded="false">[ displayFieldOn ] <i><span class="f-600 c-gray">(object)</span></i></a>
							</h4>
						</div>
						<div id="accordFMD-41" class="collapse" role="tabpanel">
							<div class="panel-body f-300 f-14 c-black">
								<span class="c-red">"displayFieldOn"</span> un objeto opcional utilizado para excluir campos en la renderización del formulario de edición/inserción datos.
								<br />Este elemento tiene una sintaxis de Json para definir sus propiedades.
								<br /><br />Estos los parámetros definidos para esta propiedad (2017.09):
								<br />&emsp;- <span class="f-600 c-red">notEqual</span> = (Objeto) <b>Json</b> contenedor de otros parámetros, tiene dos propiedades, obligatorias en el orden "value", "action".
								<br />&emsp;&emsp;* <span class="f-600 c-red">value</span> = (Objeto) Valor asignado para la comparación con el dato obtenido de la BBDD.
								<br />&emsp;&emsp;* <span class="f-600 c-red">action</span> = (Objeto) Comando / función a ejecutar si el parámetro <i>value</i> es <b>TRUE</b>.
								<br /><br />
									En los ejemplos, el campo de tipo fecha no aparece en el formulario dependiendo del valor del mismo.
								<pre>
  ,'MY_FIELD_NAME' => array(
    'formType' => 'date'
    ,'dataType' => 'date'
    ,'<b>displayFieldOn</b>' => '{"notEqual": {"value": "0000-00-00", "action": "return"}}'
    , ...

  ,'MY_FIELD_NAME' => array(
    'formType' => 'date'
    ,'dataType' => 'date'
    ,'<b>displayFieldOn</b>' => '{"notEqual": {"value": "0000-00-00 00:00:00", "action": "return"}}'
    , ...
</pre>

							</div>
						</div>
					</div>

					<div class="panel panel-collapse">
						<div class="panel-heading" role="tab">
							<h4 class="panel-title">
								<a class="collapsed accordFMD-32" data-toggle="collapse" data-parent="#accordFMD" aria-controls="accordFMD" href="#accordFMD-32" aria-expanded="false">[ tabularFilter ] <i><span class="f-600 c-gray">(array)</span></i></a>
							</h4>
						</div>
						<div id="accordFMD-32" class="collapse" role="tabpanel">
							<div class="panel-body f-300 f-14 c-black">
								<span class="c-red">"tabularFilter"</span> un array complementario de "<span class="gotoHelpTag" data-target-tag=".accordFMD-11">tabularListData</span>" que permite aplicar condiciones de búsqueda a los campos que no son de tipo <i>"text"</i> en los formularios. Se pueden crear tags de tipo SELECT, DATE o RADIO (solo aplicable para en el listado del módulo).
								<br /><br />Estos los parámetros para esta propiedad (2017.04):
								<br />&emsp;- <span class="f-600 c-red">mode</span> = (Array) <b>BBDD</b> para base de datos, <b>STATIC</b> para crear filtros con valores estáticos <span style="color:blue;">(en <i>mode=BBDD</i> se puede utilizar el parámetro "sqlWhere" para completar la query del filtro)</span>.
								<br />&emsp;- <span class="f-600 c-red">origin</span> = Nombre de la tabla desde donde obtener los elementos que deben componer del filtro.
								<br />&emsp;- <span class="f-600 c-red">tag</span> = (Array) Para definir el TAG que se dibujará para representar el campo, con "filterType" (<i>select / date / radio</i>).
								<br />&emsp;- <span class="f-600 c-red">dataFields</span> = (Array) <b>solo para filtros estáticos</b>, son las características del tag.
								<br />&emsp;- <span class="f-600 c-red">dataValues</span> = (Array) <b>solo para filtros estáticos</b>, son los valores a representar y almacenar.
								<br />&emsp;- <span class="f-600 c-red">sqlWhere</span> = (String) <b>solo para filtros con BBDD</b>, es el SQL del WHERE adicional para el filtro a aplicar (se aplicará la query tal cual).
								<br /><br />
									El script "<i>/_classes/lists_filter_extended.class.php</i>" es la clase que procesa "tabularFilter" y el ajax que se encarga de contruir el HTML es "<i>ajax/common_listing.php</i>" por medio de <b>$arraExtVars['action'] == 'createListFieldFilter'</b>; además el script que también maneja esta propidad es "<i>ifr_common_listing.php</i>".
								<pre>
  ,'MY_FIELD_NAME' => array(
    'formType' => 'select'
    ,'dataType' => 'integer'
    ,'tabularListData' => [ 'columnOrder' => 2 , 'removeHtml' => 1 ]
    ,'<b>tabularFilter</b>' => [ 'mode' => 'BBDD' , 'origin'=>__QUERY_TABLES_PREFIX.'leads',
		'tag'=>array('filterType'=>'select'),'sqlWhere' => ' b_enabled=true && loQueSea=loQueQuiero ...' ]
    , ...

  ,'MY_FIELD_NAME' => array(
    'formType' => 'select'
    ,'dataType' => 'integer'
    ,'tabularListData' => [ 'columnOrder' => 2 , 'removeHtml' => 1 ]
    ,'<b>tabularFilter</b>' => [ 'mode' => 'BBDD' , 'origin'=>__QUERY_TABLES_PREFIX.'leads',
		'tag'=>array('filterType'=>'select') ]
    , ...

  ,'MY_FIELD_NAME' => array(
    'formType' => 'checkbox'
    ,'dataType' => 'toggle'
    ,'tabularListData' => [ 'columnOrder' => 3]
    ,'<b>tabularFilter</b>' => [
	'mode'=>'STATIC', 'tag'=>array('filterType'=>'radio'),
	'dataFields' => array('keyOptions' => 'https_enabled', 'textOptions' => 'descripcion', 'keyDefault' => '0'),
	'dataValues' => array(0 => 'NO', 1 => 'SI')
	]
    , ...
</pre>

							</div>
						</div>
					</div>

					<div class="panel panel-collapse">
						<div class="panel-heading" role="tab">
							<h4 class="panel-title">
								<a class="collapsed" data-toggle="collapse" data-parent="#accordFMD" aria-controls="accordFMD" href="#accordFMD-7" aria-expanded="false">[ helpText ]</a>
							</h4>
						</div>
						<div id="accordFMD-7" class="collapse" role="tabpanel">
							<div class="panel-body f-300 f-14 c-black">
								Es la cabecera del tool-tip del texto de ayuda para el campo que lo necesite. <i>IMPORTANTE:</i> <b>no está permitido introducir HTML</b>, solo texto plano.
							</div>
						</div>
					</div>

					<div class="panel panel-collapse">
						<div class="panel-heading" role="tab">
							<h4 class="panel-title">
								<a class="collapsed" data-toggle="collapse" data-parent="#accordFMD" aria-controls="accordFMD" href="#accordFMD-13" aria-expanded="false">[ helpTextExtend ]</a>
							</h4>
						</div>
						<div id="accordFMD-13" class="collapse" role="tabpanel">
							<div class="panel-body f-300 f-14 c-black">
								Texto corrido del tool-tip de ayuda para el campo que lo necesite. <i>IMPORTANTE:</i> <b>no está permitido introducir HTML</b>, solo texto plano.
							</div>
						</div>
					</div>

					<div class="panel panel-collapse">
						<div class="panel-heading" role="tab">
							<h4 class="panel-title">
								<a class="collapsed" data-toggle="collapse" data-parent="#accordFMD" aria-controls="accordFMD" href="#accordFMD-14" aria-expanded="false">[ tagPattern ]</a>
							</h4>
						</div>
						<div id="accordFMD-14" class="collapse" role="tabpanel">
							<div class="panel-body f-300 f-14 c-black">
								Este es el parámetro que sirve para construir en el HTML la propiedad "pattern". Para obtener en el HTML `<i>pattern="^[0-9]*"</i>`
								<pre>
  ,'MY_FIELD_NAME' => array(
    'formType' => 'text'
    ,'dataType' => 'integer'
    ,'<b>tagPattern</b>' => '^[0-9]*'
    , ...
</pre>
							</div>
						</div>
					</div>

					<div class="panel panel-collapse">
						<div class="panel-heading" role="tab">
							<h4 class="panel-title">
								<a class="collapsed" data-toggle="collapse" data-parent="#accordFMD" aria-controls="accordFMD" href="#accordFMD-16" aria-expanded="false">[ htmlFolder ]</a>
							</h4>
						</div>
						<div id="accordFMD-16" class="collapse" role="tabpanel">
							<div class="panel-body f-300 f-14 c-black">
								- Solo para los campos de tipo <b>file</b>.
								<br />Especifica la carpeta para los archivos del campo gestionado (<b>RUTA HTML</b>);
								<br />Ejemplo: <span class="c-blue">http://127.55.44.33/mi_carpeta/otr_carpeta/_admin_carpeta</span>.
								<pre>
  ,'MY_FIELD_NAME' => array(
    'formType' => 'file'
    ,'dataType' => 'imageFile'
    ,'<b>htmlFolder</b>' => $web_url.$adminFolder.'/profile_images/'
    , ...
</pre>
							</div>
						</div>
					</div>

					<div class="panel panel-collapse">
						<div class="panel-heading" role="tab">
							<h4 class="panel-title">
								<a class="collapsed" data-toggle="collapse" data-parent="#accordFMD" aria-controls="accordFMD" href="#accordFMD-17" aria-expanded="false">[ targetFolder ]</a>
							</h4>
						</div>
						<div id="accordFMD-17" class="collapse" role="tabpanel">
							<div class="panel-body f-300 f-14 c-black">
								- Solo para los campos de tipo <b>file</b>
								<br />Especifica la carpeta para los archivos del campo gestionado (<b>RUTA DEL SERVIDOR</b>);
								<br />Ejemplo: <span class="c-blue">X:/www/mi_carpeta/otr_carpeta/_admin_carpeta</span>.
								<pre>
  ,'MY_FIELD_NAME' => array(
    'formType' => 'file'
    ,'dataType' => 'imageFile'
    ,'<b>targetFolder</b>' => $_SERVER['DOCUMENT_ROOT'].'/'.$folderRootApp.$adminFolder.'/profile_images/'
    , ...
</pre>
							</div>
						</div>
					</div>

					<div class="panel panel-collapse">
						<div class="panel-heading" role="tab">
							<h4 class="panel-title">
								<a class="collapsed" data-toggle="collapse" data-parent="#accordFMD" aria-controls="accordFMD" href="#accordFMD-18" aria-expanded="false">[ sliderConf ] <i><span class="f-600 c-gray">(array)</span></i></a>
							</h4>
						</div>
						<div id="accordFMD-18" class="collapse" role="tabpanel">
							<div class="panel-body f-300 f-14 c-black">
								- Solo para los campos de tipo <b>slider</b>
								<br />Este es un parámetro especial diseñado para ampliar las posibilidades del control "noUiSlider" dinámicamente en este framework.
								<br />Cuando está presente y configurado correctamente, permite presentar el control gráfico del slide, que se gestiona en <i>"_modules\common_edit_html_top.php"</i>.
								<pre>
  ,'MY_FIELD_NAME' => array(
    'formType' => 'text'
    ,'dataType' => 'slider'
    ,'<b>sliderConf</b>' => array( 'startValue' => 0, 'endValue '=> $maxRoleAdim, 'stepValue' => 1 )
    , ...
</pre>
							</div>
						</div>
					</div>

					<div class="panel panel-collapse">
						<div class="panel-heading" role="tab">
							<h4 class="panel-title">
								<a class="collapsed" data-toggle="collapse" data-parent="#accordFMD" aria-controls="accordFMD" href="#accordFMD-28" aria-expanded="false">[ selectSearchBox ]</a>
							</h4>
						</div>
						<div id="accordFMD-28" class="collapse" role="tabpanel">
							<div class="panel-body f-300 f-14 c-black">
								- Solo para los campos de tipo <b>"SELECT"</b>.
								<br />Este parámetro cuando es <i>TRUE</i>&nbsp;&nbsp;permite incluir en la renderización del tag de tipo <i>"SELECT"</i>&nbsp;&nbsp;la <b>función de búsqueda</b> para poder buscar los valores de las opciones del mismo <i>"SELECT"</i>.
							</div>
						</div>
					</div>

					<div class="panel panel-collapse">
						<div class="panel-heading" role="tab">
							<h4 class="panel-title">
								<a class="collapsed accordFMD-28b" data-toggle="collapse" data-parent="#accordFMD" aria-controls="accordFMD" href="#accordFMD-28b" aria-expanded="false">[ arrStaticValues ] <i><span class="f-600 c-gray">(array)</span></i></a>
							</h4>
						</div>
						<div id="accordFMD-28b" class="collapse" role="tabpanel">
							<div class="panel-body f-300 f-14 c-black">
								- Solo para los campos de tipo <b>"SELECT"</b>.
								<br />Este parámetro permite dibujar una lista de elementos definidos previamente (estáticos) para campos de tipo select.
								<br />Con este parámetro se posibilita, sin acceso a la BBDD, mostrar elementos en los tags SELECT con valores que pueden también provenir de la SESIÓN o un array definido previamente.
								<br />Esta propiedad se gestiona únicamente en el script <i>"_classes/common_forms_methods.class.php"</i>.
								<pre>
<span class="c-gray">// EJEMPLO PARA UN "SELECT" DE VALORES DE TIPO NUMÉRICO</span>
  ,'MY_FIELD_NAME' => array(
    'formType' => 'select'
    ,'dataType' => 'integer'
    ,'<b>arrStaticValues</b>' => array( 1 => 'VALOR 1' , 2 => 'VALOR 2' , 3 => 'VALOR OTRO' )
    , ...

<span class="c-gray">// EJEMPLO PARA UN "SELECT" DE VALORES DE TIPO STRING</span>
  ,'MY_FIELD_NAME' => array(
    'formType' => 'select'
    ,'dataType' => 'varchar'
    ,'<b>arrStaticValues</b>' => array( 'A' => 'VALOR 1' , 'B' => 'VALOR 2' , 'C' => 'VALOR C' )
    , ...
</pre>
							</div>
						</div>
					</div>

					<div class="panel panel-collapse">
						<div class="panel-heading" role="tab">
							<h4 class="panel-title">
								<a class="collapsed" data-toggle="collapse" data-parent="#accordFMD" aria-controls="accordFMD" href="#accordFMD-31" aria-expanded="false">[ allowZeroValue ]</a>
							</h4>
						</div>
						<div id="accordFMD-31" class="collapse" role="tabpanel">
							<div class="panel-body f-300 f-14 c-black">
								Este parámetro sirve para establecer el valor "0" como valor permitido en la validaci&oacute;n del campo select, se debe establecer a TRUE para que sea permitido.
								<pre>
  ,'MY_FIELD_NAME' => array(
    'formType' => 'select'
    ,'dataType' => 'integer'
    , ...
    ,'<b>allowZeroValue</b>'=>true
    , ...
</pre>
							</div>
						</div>
					</div>

					<div class="panel panel-collapse">
						<div class="panel-heading" role="tab">
							<h4 class="panel-title">
								<a class="collapsed" data-toggle="collapse" data-parent="#accordFMD" aria-controls="accordFMD" href="#accordFMD-29" aria-expanded="false">[ multipleSelect ]</a>
							</h4>
						</div>
						<div id="accordFMD-29" class="collapse" role="tabpanel">
							<div class="panel-body f-300 f-14 c-black">
								Este parámetro permite efectuar selecciones múltiples para los campos de tipo <i>"SELECT"</i>, estableciendo a TRUE su valor.
								<pre>
  ,'MY_FIELD_NAME' => array(
    'formType' => 'select'
    ,'dataType' => 'integer'
    , ...
    ,'<b>multipleSelect</b>'=>true
    , ...
</pre>
							</div>
						</div>
					</div>

					<div class="panel panel-collapse">
						<div class="panel-heading" role="tab">
							<h4 class="panel-title">
								<a class="collapsed" data-toggle="collapse" data-parent="#accordFMD" aria-controls="accordFMD" href="#accordFMD-21" aria-expanded="false">[ toggleParams ]</a>
							</h4>
						</div>
						<div id="accordFMD-21" class="collapse" role="tabpanel">
							<div class="panel-body f-300 f-14 c-black">
								- Solo para los campos de tipo <b>toggle</b>
								<br />Al ser "dataType" de tipo "toggle", el script <i>"_modules\common_edit_html_top.php"</i> está afectado.
								<br />- <span class="c-red">tsColor</span> = Es el parámetro del color para la propiedad HTML que se dibuja con <i>"data-ts-color"</i>.
								<pre>
  ,'MY_FIELD_NAME' => array(
    'formType' => 'checkbox'
    ,'dataType' => 'toggle'
    ,'<b>toggleParams</b>' => array( 'tsColor' => 'green' )
    , ...
</pre>
							</div>
						</div>
					</div>


					<div class="panel panel-collapse">
						<div class="panel-heading" role="tab">
							<h4 class="panel-title">
								<a class="collapsed" data-toggle="collapse" data-parent="#accordFMD" aria-controls="accordFMD" href="#accordFMD-30" aria-expanded="false">[ includeMainBBDD ]</a>
							</h4>
						</div>
						<div id="accordFMD-30" class="collapse" role="tabpanel">
							<div class="panel-body f-300 f-14 c-black">
								- Solo para módulos que tengan definida la utilización de una BBDD distinta a la general (en <b>$moduleSetting->prefixTbl='mi_BBDD'</b>)
								<br />Utilizar este parámetro solamente con módulos de visualización de datos <span class="c-red">(no se pueden modificar ni añadir registros)</span>.
								<pre>
  ,'MY_FIELD_NAME' => array(
    'formType' => 'select'
    ,'dataType' => 'integer'
    ,'<b>includeMainBBDD</b>' => true
    , ...
</pre>
							</div>
						</div>
					</div>

					<div class="panel panel-collapse">
						<div class="panel-heading" role="tab">
							<h4 class="panel-title">
								<a class="collapsed" data-toggle="collapse" data-parent="#accordFMD" aria-controls="accordFMD" href="#accordFMD-20" aria-expanded="false">[ arrValues ] <i><span class="f-600 c-gray">(array)</span></i></a>
							</h4>
						</div>
						<div id="accordFMD-20" class="collapse" role="tabpanel">
							<div class="panel-body f-300 f-14 c-black">
								Este parámetro es muy versátil, permite rellenar con cualquier valor (estático / de sesión) el campo al que se le aplica;
								<pre>
  ,'MY_FIELD_NAME' => array(
    'formType' => 'checkbox'
    ,'dataType' => 'toggle'
    ,'<b>arrValues</b>' => array( 0 => '<span class=c-red>Acceso p&uacute;blico</span>', 1 => 'Solo registrados' )
    , ...

  ,'MY_OTHER_FIELD_NAME' => array(
    'formType' => 'select'
    ,'dataType' => 'integer'
    ,'<b>arrValues</b>' => array( 1=> '<i class="zmdi zmdi-circle-o" data-trigger="hover" data-toggle="popover" data-placement="left" data-content="estilo circular"></i>', 2 => '<i class="zmdi zmdi-square-o" data-trigger="hover" data-toggle="popover" data-placement="left" data-content="estilo cuadrado"></i>' )
    , ...
</pre>
							</div>
						</div>
					</div>


					<div class="panel panel-collapse">
						<div class="panel-heading" role="tab">
							<h4 class="panel-title">
								<a class="collapsed" data-toggle="collapse" data-parent="#accordFMD" aria-controls="accordFMD" href="#accordFMD-20-1" aria-expanded="false">[ arrClassOptions ] <i><span class="f-600 c-gray">(array)</span></i></a>
							</h4>
						</div>
						<div id="accordFMD-20-1" class="collapse" role="tabpanel">
							<div class="panel-body f-300 f-14 c-black">
								Con este array es posible personalizar las <i>"OPTIONS"</i> de un campo <i>"SELECT"</i>, permitiendo inplementar una clase para cada elemento.<br />Es aconsejable sincronizar este array con <span class="gotoHelpTag" data-target-tag=".accordFMD-28b">"arrStaticValues"</span>. Como ejemplo, esto puede ser útil para permitir representar una fuente que contiene "símbolos" para visualizar en la Web. 
								<pre>
  ,'MY_FIELD_NAME' => array(
    'formType' => 'select'
    ,'dataType' => 'varchar'
    ,'<span class="gotoHelpTag" data-target-tag=".accordFMD-28b">arrStaticValues</span>' => $arrayPersonalizado
    ,'<b>arrClassOptions</b>' => $arrClasesParaCadaOption  // ARRAY CON LAS CLASES PARA CADA "option" DEL CONTROL ACTUAL
    , ...
</pre>
							</div>
						</div>
					</div>



					<div class="panel panel-collapse">
						<div class="panel-heading" role="tab">
							<h4 class="panel-title">
								<a class="collapsed accordFMD-35" data-toggle="collapse" data-parent="#accordFMD" aria-controls="accordFMD" href="#accordFMD-35" aria-expanded="false">[ actionsForm ] <i><span class="f-600 c-gray">(object)</span></i></a>
							</h4>
						</div>
						<div id="accordFMD-35" class="collapse" role="tabpanel">
							<div class="panel-body f-300 f-14 c-black">
								<span class="c-red">"actionsForm"</span> es un objeto que amplía la funcionalidad para los campos de tipo "<span class="gotoHelpTag" data-target-tag=".accordFMD-1">textarea</span>".
								<br /><br />Estos los parámetros permitidos para esta propiedad (2017.06):
								<br />&emsp;- <span class="f-600 c-red">isHtmlBtn</span> = Dibuja el botón que abre la modal para editar el contenido del campo en HTML puro.
								<br />&emsp;- <span class="f-600 c-red">isWysiBtn</span> = Dibuja el botón que abre una modal con la previsualización final del HTML generado para el contenido del campo actual.
								<br />&emsp;- <span class="f-600 c-red">cssExternalFile</span> = Url con la dirección del file CSS a incluir para poder ser utilizado en la renderización del HTML a visualizar.
								<br />&emsp;- <span class="f-600 c-red">wysiwigEditor</span> = (Array) Dibuja el botón que abre una modal para de edición sencilla del contenido en modo Wysiwig[
								<br />&emsp;&emsp;* <span class="f-600 c-red">modal</span> = (true/false) momentaneamente solo vádido <b>true</b>.
								<br />&emsp;&emsp;- <span class="f-600 c-red">toolBar</span> = Es el nombre del script JS (sin extensión) que establece el funcionamiento de la tool-bar. Nota que este parámetro ha de ser el mismo para todos los controles presentes en un mismo módulo.
								<br />&emsp;&emsp;]
								<br /><br />
.
								<pre>
  ,'MY_FIELD_NAME' => array(
    'formType' => 'textarea'
    ,'dataType' => 'varchar'
    ,'rowsData' => '2'
    ,'<b>actionsForm</b>' => (object)['isHtmlBtn'=>true]
  , ...

  ,'MY_FIELD_NAME' => array(
    'formType' => 'textarea'
    ,'dataType' => 'varchar'
    ,'rowsData' => '2'
    ,'<b>actionsForm</b>' => (object)[ 'isHtmlBtn' => true , 'isWysiBtn' => true, 'wysiwigEditor'=>[
      'modal' => true, 'toolBar' => 'default_toolbar']
    ]
  , ...
</pre>

							</div>
						</div>
					</div>


					<div class="panel panel-collapse">
						<div class="panel-heading" role="tab">
							<h4 class="panel-title">
								<a class="collapsed" data-toggle="collapse" data-parent="#accordFMD" aria-controls="accordFMD" href="#accordFMD-19" aria-expanded="false">[ extraFunc ]</a>
							</h4>
						</div>
						<div id="accordFMD-19" class="collapse" role="tabpanel">
							<div class="panel-body f-300 f-14 c-black">
								Este parámetro permite <b>incluir funciones "javascript"</b> en el módulo donde se encuentre. Es necesario que la <i>función JS</i> exista en el script "index.php" o "ifr_edit.php", al ser esta local y exclusiva del módulo en cuestión.
								<br />Acepta también parámetros (separados por la coma ","); al ser este mismo elemento el valor de un parámetro, el `nombre de la función` es el primer parámetro de <span class="c-red">"extraFunc"</span>.
								<pre>
  ,'icon' => array(
    'formType' => 'text'
    ,'dataType' => 'varchar'
    ,'label' => 'Icono relacionado'
    ,'placeHolder' => 'Icono relacionado'
    ,'helpText' => 'Doble click en el campo para abrir la ventana con todos los iconos disponibles'
    ,'<b>extraFunc</b>' => 'modalIcons, hola'
    , ...
</pre>
								<br />En el módulo donde esté configurado este parámetro, también <span class="c-blue"><b>crea el tag</b> HTML "data-func-params"</span> que está gestionado en el control de eventos JS <i>`$('#moduleMainForm').on("dblclick","input",function(){...}`</i>.
								<br /><br />En un primer momento se estableció que los parámetros opcionales se almacenen en el array "tmpParams[param_NN]" para gestionarlos sucesivamente, <span class="c-bluegray">está en fase experimental todavía</span>.
								<br /><br />Este es el paso intermedio (común para todos los módulos, que se encuentra en el script "<i>/_modules/common_edit_html_top.php</i>") necesario para la construcción de las funciones locales de los módulos:
								<pre>
/**
* LLAMADA PARA EJECURTAR FUNCIONES PERSONALIZADAS
* CON POSIBLES PARAMETROS OPCIONALES OPCIONALES
*/
$('#moduleMainForm').on("dblclick","input",function(){
  var tmpArrFunc=$(this).attr("data-func-params");

  if(tmpArrFunc)
  {
    var tmpArrFunc=tmpArrFunc.split(",");

    if(tmpArrFunc.length)
    {
      var tmpFunc=""; <span class="c-gray">// NOMBRE FUNCION PERSONALIZADA, PARAMETRIZADA POR extraFunc</span>
      var tmpParams=new Array();

      $.each(tmpArrFunc, function(n, value){
        if(!n)
          tmpFunc=value;
        else
          tmpParams["param_"+n]=value;
      });

      tmpParams["obj"]=this;
      eval(tmpFunc)(tmpParams);
    }
  }
});
</pre>
								<br />La inclusión de este parámetro, genera / incluye el texto definido en la variable PHP <span class="c-red">"$this->altExtraFuncText"</span> (de la clase PHP "CommonModulesMethods", en <i>script _classes/common_forms_methods.class.php</i>) en el tool-tip del campo al que pertenece.
								<br /><br />Naturalmente la función JS ha de encontrarse en algún script local, en el módulo que la utiliza. Siguiendo con el ejemplo...
								<pre>
/**
 * VENTANA MODAL PARA VISUALIZAR / SELECCIONAR LOS ICONOS DEL FRAMEWORK
 */
function modalIcons(arrParams)
{
  var currIconValue=$("input[name='"+arrParams["obj"].name+"']").val();	<span class="c-gray">// SE OBTIENE LA INSTANTANEA DEL VALOR PRESENTE EN EL CAMPO</span>
  $("#modalIcons").modal();

  if(currIconValue)	<span class="c-gray">// SE ACTUALIZA LA STRING CON EL VALOR CORRIENTE PARA DIBUJAR EN EL TITULAR</span>
    $(".currentIcon").html(" (actualmente seleccionado: &lt;i class='zmdi currIconValue'&gt;&lt;/i&gt; "+currIconValue+").");

  <span class="c-gray">// CARGA DEL SCRIPT CON LOS PARAMETROS NECESARIOS</span>
  $("#ifrIcons").attr("src","admin_icons.php?fieldName="+arrParams["obj"].name+"&iconValue="+currIconValue);
  return;
}
</pre>
							</div>
						</div>
					</div>

					<div class="panel panel-collapse">
						<div class="panel-heading" role="tab">
							<h4 class="panel-title m-l-15 bgm-lightgray" data-trigger="hover" data-toggle="popover" data-placement="top" data-content="Este parámatro se puede/debe utilizar conjuntamente con otros (BBDD) y sirve para obtener datos desde la base de datos">
								<a class="collapsed accordFMD-22" data-toggle="collapse" data-parent="#accordFMD" aria-controls="accordFMD" href="#accordFMD-22" aria-expanded="false">[ fieldTableName ]  <i><span class="f-600 c-gray">(BBDD)</span></i></a>
							</h4>
						</div>
						<div id="accordFMD-22" class="collapse" role="tabpanel">
							<div class="panel-body f-300 f-14 c-black">
								Parámetro a utilizar para rellenar las opciones del tag tipo <i>"SELECT"</i> desde una BBDD, donde el nombre de la tabla a utilizar se define con <span class="c-blue">"fieldTableName"</span>.
								<pre>
  ,'MY_FIELD_NAME' => array(
    ,'<b>fieldTableName</b>' => 'MY_TABLE_NAME'
    ,'<span class="gotoHelpTag" data-target-tag=".accordFMD-23">arrFieldsTagSelect</span>' => array('ID','NAME')
    ,'<span class="gotoHelpTag" data-target-tag=".accordFMD-25">onlyFieldValueName</span>' => 'CONCAT(NAME," ",SURNAME)'
    ,'<span class="gotoHelpTag" data-target-tag=".accordFMD-24">defaultSelectText</span>' => 'SELECCIONAR'
    ,'<span class="gotoHelpTag" data-target-tag=".accordFMD-26">whereSelectField</span>' => null
    , ...
</pre>
								<span class="c-orange f-700">NOTA IMPORTANTE</span>: Para que aparezca también el valor de la opción relacionada con el resultado de la BBDD <b>en el listado del módulo</b>, es necesario establecer el valor de  <span class="gotoHelpTag" data-target-tag=".accordFMD-27">"orderSelectField"</span> entre los parámetros del campo a gestionar.
							</div>
						</div>
					</div>

					<div class="panel panel-collapse">
						<div class="panel-heading" role="tab">
							<h4 class="panel-title m-l-15 bgm-lightgray" data-trigger="hover" data-toggle="popover" data-placement="top" data-content="Este parámatro se puede/debe utilizar conjuntamente con otros (BBDD) y sirve para obtener datos desde la base de datos">
								<a class="collapsed accordFMD-23" data-toggle="collapse" data-parent="#accordFMD" aria-controls="accordFMD" href="#accordFMD-23" aria-expanded="false">[ arrFieldsTagSelect ]  <i><span class="f-600 c-gray">(array, BBDD)</span></i></a>
							</h4>
						</div>
						<div id="accordFMD-23" class="collapse" role="tabpanel">
							<div class="panel-body f-300 f-14 c-black">
								El array <span class="c-blue">"arrFieldsTagSelect"</span> contiene los nombres de los campos para construir las opciones para el tag tipo <i>"SELECT"</i> conseguidas con la consulta a la BBDD, este array tiene una sola dimensión y dos elementos: 
								<br />&emsp;- la <b>KEY</b> del array es el valor que se tiene que almacenar en el campo.
								<br />&emsp;- El <b>VALUE</b> del array es el texto que debe aparecer el el <i>"SELECT"</i>.
								<pre>
  ,'MY_FIELD_NAME' => array(
    ,'<span class="gotoHelpTag" data-target-tag=".accordFMD-22">fieldTableName</span>' => 'MY_TABLE_NAME'
    ,'<b>arrFieldsTagSelect</b>' => array('ID','NAME')
    ,'<span class="gotoHelpTag" data-target-tag=".accordFMD-25">onlyFieldValueName</span>' => 'CONCAT(NAME," ",SURNAME)'
    ,'<span class="gotoHelpTag" data-target-tag=".accordFMD-24">defaultSelectText</span>' => 'SELECCIONAR'
    ,'<span class="gotoHelpTag" data-target-tag=".accordFMD-26">whereSelectField</span>' => null
    , ...
</pre>
								<span class="c-orange f-700">NOTA IMPORTANTE</span>: Para que aparezca también el valor de la opción relacionada con el resultado de la BBDD <b>en el listado del módulo</b>, es necesario establecer el valor de  <span class="gotoHelpTag" data-target-tag=".accordFMD-27">"orderSelectField"</span> entre los parámetros del campo a gestionar.
							</div>
						</div>
					</div>

					<div class="panel panel-collapse">
						<div class="panel-heading" role="tab">
							<h4 class="panel-title m-l-15 bgm-lightgray" data-trigger="hover" data-toggle="popover" data-placement="top" data-content="Este parámatro se puede/debe utilizar conjuntamente con otros (BBDD) y sirve para obtener datos desde la base de datos">
								<a class="collapsed accordFMD-25" data-toggle="collapse" data-parent="#accordFMD" aria-controls="accordFMD" href="#accordFMD-25" aria-expanded="false">[ onlyFieldValueName ]  <i><span class="f-600 c-gray">(BBDD)</span></i></a>
							</h4>
						</div>
						<div id="accordFMD-25" class="collapse" role="tabpanel">
							<div class="panel-body f-300 f-14 c-black">
								El parámetro <span class="c-blue">"onlyFieldValueName"</span> se utiliza para obtener valores únicos desde BBDD utilizable solo para campos de tipo <b>"TEXT"</b>, por medio de la función de renderización automática <span class="c-blue">"buildFormText"</span> que se encuentra definida en la clase <i>"CommonModulesMethods"</i>.
								<pre>
  ,'MY_FIELD_NAME' => array(
    ,'<span class="gotoHelpTag" data-target-tag=".accordFMD-22">fieldTableName</span>' => 'MY_TABLE_NAME'
    ,'<span class="gotoHelpTag" data-target-tag=".accordFMD-23">arrFieldsTagSelect</span>' => array('ID','NAME')
    ,'<b>onlyFieldValueName</b>' => 'CONCAT(NAME," ",SURNAME) AS myCampo' // (ADMITIDOS SQL's)
    ,'<span class="gotoHelpTag" data-target-tag=".accordFMD-24">defaultSelectText</span>' => 'SELECCIONAR'
    ,'<span class="gotoHelpTag" data-target-tag=".accordFMD-26">whereSelectField</span>' => null
    , ...
</pre>
								<span class="c-orange f-700">NOTA IMPORTANTE</span>: Para que aparezca también el valor de la opción relacionada con el resultado de la BBDD <b>en el listado del módulo</b>, es necesario establecer el valor de  <span class="gotoHelpTag" data-target-tag=".accordFMD-27">"orderSelectField"</span> entre los parámetros del campo a gestionar.
							</div>
						</div>
					</div>

					<div class="panel panel-collapse">
						<div class="panel-heading" role="tab">
							<h4 class="panel-title m-l-15 bgm-lightgray" data-trigger="hover" data-toggle="popover" data-placement="top" data-content="Este parámatro se puede/debe utilizar conjuntamente con otros (BBDD) y sirve para obtener datos desde la base de datos">
								<a class="collapsed accordFMD-24" data-toggle="collapse" data-parent="#accordFMD" aria-controls="accordFMD" href="#accordFMD-24" aria-expanded="false">[ defaultSelectText ]  <i><span class="f-600 c-gray">(BBDD)</span></i></a>
							</h4>
						</div>
						<div id="accordFMD-24" class="collapse" role="tabpanel">
							<div class="panel-body f-300 f-14 c-black">
								El parámetro <span class="c-blue">"defaultSelectText"</span> que <b>define el primer valor que deberá de aparecer el <i>"SELECT"</i></b> a renderizar. Si este valor se define como "<span class="c-red">DEFAULT_TEXT</span>", el texto visualizado se sustituir&aacute; autom&aacute;ticamente por el texto designado por defecto en el idioma activo por el sistema.
								<br />Existe la definición "<span class="c-red">_SKIPDEFAULT_</span>" que sirve para omitir intencionalmente el primer valor por defecto del SELECT, para permitir listar solamente los valores "activos", también útil para obligar la visualización de un solo valor obtenido y así visualizarlo inmediatamente.
								<pre>
  ,'MY_FIELD_NAME' => array(
    ,'<span class="gotoHelpTag" data-target-tag=".accordFMD-22">fieldTableName</span>' => 'MY_TABLE_NAME'
    ,'<span class="gotoHelpTag" data-target-tag=".accordFMD-23">arrFieldsTagSelect</span>' => array('ID','NAME')
    ,'<span class="gotoHelpTag" data-target-tag=".accordFMD-25">onlyFieldValueName</span>' => 'CONCAT(NAME," ",SURNAME)'
    ,'<b>defaultSelectText</b>' => 'SELECCIONAR'
    ,'<span class="gotoHelpTag" data-target-tag=".accordFMD-26">whereSelectField</span>' => null
    , ...

  ,'MY_FIELD_NAME' => array(
    ,'<span class="gotoHelpTag" data-target-tag=".accordFMD-22">fieldTableName</span>' => 'MY_TABLE_NAME'
    ,'<span class="gotoHelpTag" data-target-tag=".accordFMD-23">arrFieldsTagSelect</span>' => array('ID','NAME')
    ,'<span class="gotoHelpTag" data-target-tag=".accordFMD-25">onlyFieldValueName</span>' => 'CONCAT(NAME," ",SURNAME)'
    ,'<b>defaultSelectText</b>' => '<span class="c-red">"DEFAULT_TEXT</span>' // Este valor será sustituido automaticamente
    ,'<span class="gotoHelpTag" data-target-tag=".accordFMD-26">whereSelectField</span>' => null
    , ...
</pre>
								<span class="c-orange f-700">NOTA IMPORTANTE</span>: Para que aparezca también el valor de la opción relacionada con el resultado de la BBDD <b>en el listado del módulo</b>, es necesario establecer el valor de  <span class="gotoHelpTag" data-target-tag=".accordFMD-27">"orderSelectField"</span> entre los parámetros del campo a gestionar.
							</div>
						</div>
					</div>

					<div class="panel panel-collapse">
						<div class="panel-heading" role="tab">
							<h4 class="panel-title m-l-15 bgm-lightgray" data-trigger="hover" data-toggle="popover" data-placement="top" data-content="Este parámatro se puede/debe utilizar conjuntamente con otros (BBDD) y sirve para obtener datos desde la base de datos">
								<a class="collapsed accordFMD-26" data-toggle="collapse" data-parent="#accordFMD" aria-controls="accordFMD" href="#accordFMD-26" aria-expanded="false">[ whereSelectField ]  <i><span class="f-600 c-gray">(BBDD)</span></i></a>
							</h4>
						</div>
						<div id="accordFMD-26" class="collapse" role="tabpanel">
							<div class="panel-body f-300 f-14 c-black">
								Este parámetro permite, si necesario, ampliar las opciones del <i>"WHERE"</i> en la consulta SQL del campo donde se encuentra.
								<br />Recordar que al ser un campo específico, la consulta SQL se ejecuta de forma local, normalmente en el script <span class="c-blue">"/<i>MY_MODULE_FOLDER</i>/_modules/admin_menu/_mod_bbdd/<b>module_model.class.php</b>"</span> de la carpeta del módulo accedido.
								<pre>
  ,'MY_FIELD_NAME' => array(
    ,'<span class="gotoHelpTag" data-target-tag=".accordFMD-22">fieldTableName</span>' => 'MY_TABLE_NAME'
    ,'<span class="gotoHelpTag" data-target-tag=".accordFMD-23">arrFieldsTagSelect</span>' => array('ID','NAME')
    ,'<span class="gotoHelpTag" data-target-tag=".accordFMD-25">onlyFieldValueName</span>' => 'CONCAT(NAME," ",SURNAME)'
    ,'<span class="gotoHelpTag" data-target-tag=".accordFMD-24">defaultSelectText</span>' => 'SELECCIONAR'
    ,'<b>whereSelectField</b>' => null  <span class="c-gray">// ejemplo SQL: ' MY_FIELD > 0'</span>
    , ...
</pre>
								<span class="c-orange f-700">NOTA IMPORTANTE</span>: Para que aparezca también el valor de la opción relacionada con el resultado de la BBDD <b>en el listado del módulo</b>, es necesario establecer el valor de  <span class="gotoHelpTag" data-target-tag=".accordFMD-27">"orderSelectField"</span> entre los parámetros del campo a gestionar.
							</div>
						</div>
					</div>

					<div class="panel panel-collapse">
						<div class="panel-heading" role="tab">
							<h4 class="panel-title m-l-15 bgm-lightgray" data-trigger="hover" data-toggle="popover" data-placement="top" data-content="Este parámatro se puede/debe utilizar conjuntamente con otros (BBDD) y sirve para obtener datos desde la base de datos">
								<a class="collapsed accordFMD-27" data-toggle="collapse" data-parent="#accordFMD" aria-controls="accordFMD" href="#accordFMD-27" aria-expanded="false">[ orderSelectField ]  <i><span class="f-600 c-gray">(BBDD)</span></i></a>
							</h4>
						</div>
						<div id="accordFMD-27" class="collapse" role="tabpanel">
							<div class="panel-body f-300 f-14 c-black">
								Solo aplicable a los <b>listados tabulares</b> de los módulos del framework.
								<br />Este parámetro consiente establecer un <i>"order"</i> distinto a los campos que se deben renderizar según lo establecido por defecto desde la consulta SQL local.
								<br />Recordar que al ser un campo específico, la consulta SQL se ejecuta de forma local, normalmente en el script <span class="c-blue">"/<i>MY_MODULE_FOLDER</i>/_modules/admin_menu/_mod_bbdd/<b>module_model.class.php</b>"</span> de la carpeta del módulo accedido.
								<pre>
  ,'MY_FIELD_NAME' => array(
    ,'<span class="gotoHelpTag" data-target-tag=".accordFMD-22">fieldTableName</span>' => 'MY_TABLE_NAME'
    ,'<span class="gotoHelpTag" data-target-tag=".accordFMD-23">arrFieldsTagSelect</span>' => array('ID','NAME')
    ,'<span class="gotoHelpTag" data-target-tag=".accordFMD-25">onlyFieldValueName</span>' => 'CONCAT(NAME," ",SURNAME)'
    ,'<span class="gotoHelpTag" data-target-tag=".accordFMD-24">defaultSelectText</span>' => 'SELECCIONAR'
    ,'<span class="gotoHelpTag" data-target-tag=".accordFMD-26">whereSelectField</span>' => null
    ,'<b>orderSelectField</b>' => 'TBL_LABEL.MY_FIELD_ORDER'
    , ...
</pre>
								<span class="c-orange f-700">RECORDAR</span>: Para que aparezca también el valor de la opción relacionada con el resultado de la BBDD <b>en el listado del módulo</b>, es necesario establecer el valor de  <span class="c-blue">"orderSelectField"</span> entre los parámetros del campo a gestionar.
							</div>
						</div>
					</div>
<!-- ELEMENTO DE PANEL VACIO
					<div class="panel panel-collapse">
						<div class="panel-heading" role="tab">
							<h4 class="panel-title">
								<a class="collapsed" data-toggle="collapse" data-parent="#accordFMD" aria-controls="accordFMD" href="#accordFMD-XX" aria-expanded="false">[]</a>
							</h4>
						</div>
						<div id="accordFMD-XX" class="collapse" role="tabpanel">
							<div class="panel-body f-300 f-14 c-black">
							</div>
						</div>
					</div>
-->

				</div>

			</div>


				<ul class="fw-footer pagination wizard">
						<li class="previous first"><a class="a-prevent" href="#null"><i class="zmdi zmdi-more-horiz"></i></a></li>
						<li class="previous"><a class="a-prevent" href="#null"><i class="zmdi zmdi-chevron-left"></i></a></li>
						<li class="next"><a class="a-prevent" href="#null"><i class="zmdi zmdi-chevron-right"></i></a></li>
						<li class="next last"><a class="a-prevent" href="#null"><i class="zmdi zmdi-more-horiz"></i></a></li>
				</ul>

			</div>
	</div>
</div>


<style type="text/css">
.gotoHelpTag{cursor:pointer;text-decoration:none;background:#EEF94E;color:#000!important;padding-left:3px;padding-right:3px;}
.gotoHelpTag:hover{cursor:pointer;text-decoration:underline;background:#E3FC9A;color:#333}
</style>

<a href="#" style="display:none;" class="back-to-top" title="Inicio p&aacute;gina"></a>
<a href="#" class="back-to-bottom" title="Fin p&aacute;gina"></a>


<script type="text/javascript">
$(document).ready(function(){

});

</script>
