
*{
	padding:0;
	margin:0;}

img {
	width: 100%;
}

@font-face {
	font-family:'Frutiger';
	src:url(../fonts/FRUTB___0.TTF) format('truetype');
	font-weight:bolder;
}


body{
	font-family: 'Frutiger', Arial, Helvetica, sans-serif;
}


/*HEADER*/

header{
	background-color:#FFF;
	width:100%;
}

	
header .cabecera{
	width:99%;
	margin:1em auto;
	max-width:1100px;
}


header .cabecera img{
	max-width:170px;
}
		

/*CONTENIDO*/

section.contenido{
	width:99%;
	max-width:1100px;
	margin:1em auto;
	min-height:570px;
	background-color:#f8f8f8;
	position:relative;
}

section.centerSection{
	background:url(../img/063/background.jpg) no-repeat center;
	background-size:cover;
}

section.foto{
	display:none;
}
			
section.formulario{
	width:100%;
	margin:0em auto;
	bottom:0;
	font-size:1.2em;
	text-align:center;
	background-color: rgba(0, 120, 187, 0.8);
	position:absolute;
	bottom:0;
	padding:.5em 0;
}
	
section.formulario p{
	margin:.2em auto;
	font-size:1.5em;
	color:#FFF;
}

	
section.formulario .fila{
	display:inline-block;
	width:20%;
}
	
	
section.formulario .fila input{
	background-color:#FFF;
	font-size:1.1em;
	min-height:33px;
	border:0;
	width:100%;
	color:#868585;
	text-align:center;
}

section.formulario .boton input{
	cursor:pointer;
	color: white;
	background: -webkit-gradient(linear, left top, right top, from(#8cd218), to(#549706));
background: -webkit-linear-gradient(top, #8cd218, #549706);
background: -moz-linear-gradient(top, #8cd218, #549706);
background: -o-linear-gradient(top, #8cd218, #549706);
background: -ms-linear-gradient(top, #8cd218, #549706);
background: linear-gradient(top, #8cd218, #549706);
background-color: #8cd218;
	font-size:1.1em;
	min-height:33px;
	border:0;
	width:100%;
}

.legal{
	font-size:.6em;
	width:61%;
	margin:.5em auto;
	text-align:left;
	color:#FFF;
}
	
.legal input{
	vertical-align:top;
}
	
.legal a{
	color:#FFF;
}
	

/*TEXTO*/

section.contenido_texto{
	width:100%;
	max-width:1100px;
	padding:1em 0;
	margin: 0em auto;
	text-align:center;
	font-size:1em;
	font-weight:bold;
	color:#216093;
}

section.contenido_texto img{
	max-width:500px;
	margin:0em auto 1em auto;
	display:block;
	width:90%;
}

section.contenido_texto .cuadro{
	width:30%;
	display:inline-block;
	text-align:center;
	vertical-align:top;
	background-color:#eff0f6;
	min-height:120px;
	margin:.5em;
	border-top: 2px #6daee0 solid;
	border-bottom: 2px #6daee0 solid;
}
	
section.contenido_texto .cuadro div{
	margin:1em auto;
	width:80%;
}
	
	
footer{
	max-width:1050px;
	width:98%;
	margin:1em auto;
	font-size:.7em;
	font-family:Arial, Helvetica, sans-serif;
	color:#0b4c80;
}


	

@media (max-width:770px) {

header .cabecera{
	margin:.6em auto;
}

	
header .cabecera img{
	max-width:130px;
}
	
section.contenido{
	background:none;
	position:static;
	min-height:100px;
}

section.formulario{
	position:static;
	background-color: rgba(0, 120, 187, 1);
}

section.foto{
	display:block;
}


section.formulario p{
  font-size: 1.3em;
}

section.formulario .fila{
	display:block;
	width:90%;
	margin:.3em auto;
}

.legal{
	width:90%;
}

section.contenido_texto .cuadro{
	width:98%;
	min-height:50px;
	margin:.5em 0;

}
section.contenido_texto img{
	margin:.2em auto;
}


}

@media (max-width:450px) {
	
section.formulario p{
  font-size: 1em;
}

header .cabecera img{
	max-width:100px;
}

}


