
/*COOKIES*/	
		
#pie_galletero{
	max-width:900px;
	margin:.5em auto;
	width:100%;
	color: #e15b04;
	
	}	
#pie_galletero a{
	
	color:#e15b04;}	

#pie_galletero_left{
	width:75%;
	vertical-align:middle;
	display:inline-block;
	margin:.5em;
	font-size:.8em;
	text-align:center;
	}

#pie_galletero_right{
	text-align:right;
	width:20%;
	vertical-align:middle;
	display:inline-block;
	/*margin:.5em;*/
}
#pie_galletero_right input{
	margin:.3em;
	padding:.1em;
}
	
#info_cook {
	max-width:900px;
	width:95%;
	display: block;
	margin: 0 auto;
	margin-top: 4px;
	text-align: left;
	font-size: .7em;
	color: #e15b04;
	background: #fbe2d1;
	padding:1em;
	}
#info_cook p, #info_cook ul{
	margin-left:1em
	}
	
	
	






/****************/
@charset "utf-8";
/* CSS Document */

section, header, aside, footer{

margin:1em auto;
max-width:900px;
width:100%;
font-family: 'BarclaycardCo';
font-size:1em;
color:#4f2d87;}

img{
width:100%;}

@font-face {
font-family: 'Verdana';
src:url(../fonts/Verdana.ttf);
}
@font-face {
font-family: 'BarclaycardCo';
src:url(../fonts/BarclaycardCo_Lt.ttf);
}


header .logoN, header .logoB{
	width:49%;
	display:inline-block;
	vertical-align:middle;
	}
header .logoB img{
max-width:280px;
	}
	
header .logoN{
text-align:right;
	}
header .logoN img{
max-width:150px;
	}

	
.contenido{
width:66%;
vertical-align:top;
display:inline-block;
border-right:1px solid #0083cd;
text-align:left;
padding-right:.5em;}

.formulario{
width:32%;
vertical-align:top;
display:inline-block;}




.texto_ventajas li{
list-style-image:url(../img/tick.png);}

.texto_ventajas ul{
margin-left:-15px;}

.texto_ventajas{
margin-top:2em;
width:99%;
font-size:.9em;
}
.texto_ventajas p{

font-size:1.2em;
}
.texto_ventajas .azulito{
color:#009fe3;}

.formulario form{
width:90%;
margin:0 auto;}



form p{
margin-top:.4em;
margin-bottom:.5em;
color:#0085c3;
text-align:left;
font-size:1em;}
	
form input[type='text'], form input[type='email'], form input[type='tel']{
width:98%;
background-color:#e3e3e3;
border-radius:5px;
border:0;
height:25px;
padding:.4em auto;
padding-left:.2em;
margin:0 auto 1em auto;
font-family: 'BarclaycardCo';
}

.sendData{
width:97%;
background: -webkit-gradient(linear, left top, right top, from(#7fb94f), to(#4e9436));
background: -webkit-linear-gradient(top, #7fb94f, #4e9436);
background: -moz-linear-gradient(top, #7fb94f, #4e9436);
background: -o-linear-gradient(top, #7fb94f, #4e9436);
background: -ms-linear-gradient(top, #7fb94f, #4e9436);
background: linear-gradient(top, #7fb94f, #4e9436);
background-color: #7fb94f;
-webkit-border-radius: 20px;
-moz-border-radius: 20px;
border-radius: 20px;
-webkit-box-shadow: 4px 4px 4px #c6c6c6;
-moz-box-shadow: 4px 4px 4px #c6c6c6;
box-shadow: 4px 4px 4px #c6c6c6;
border:0;
height:35px;
color:#FFF;
font-size:1.3em;
margin:1em auto;
font-family: 'BarclaycardCo';
}
.espacio_btn{
text-align:center;}

.legal{
font-size:.75em;
color:#0085c3;}
.legal a{

color:#0085c3;}

.necesidad{
width:95%;
margin:1em auto;
}

footer{
font-family: 'Verdana';
font-size:.6em;
margin-top:2em;}

@media (max-width: 720px) {

.contenido{
width:61%;
padding-right:8px;
}
.formulario{
width:36%;
}
.texto_ventajas {
font-size: .85em;
}
#boton_registro{
font-size:1em;}


}

@media (max-width: 570px) {

.contenido{
width:99%;
display:block;
margin:0 auto;
border-right:0;
padding-right:0;
}
.formulario{
max-width:380px;
width:99%;
display:block;
margin:1em auto;
padding-top:.5em;
border-top:1px solid #0083cd;
}

.texto_ventajas{
display:none;}
.necesidad{display:none;}
#boton_registro{
font-size:1.2em;}

#pie_galletero_left, #pie_galletero_right{
	width:98%;
}

}
	