@charset "utf-8";
* {
	padding:0;
	margin:0;
}

img {
	width: 99%;
	height:auto;
}
	
	
body{
  font-family: Arial, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serifArial;
	background-color:#FFF;
}

div.error2{ display : none; border:2px solid #D81E05; }
.error2{color:#D81E05; background:#FCF1F0;}
div.error2 ul{list-style-type:none !important;padding:0;margin:0;font:normal 11px Arial, Helvetica, sans-serif;}
div.error2 ul li{margin:0 0 10 0;list-style-type:none;}
div.error2 ul li label{font-weight:normal}
div.error2, p.ok{ margin:0 0 10px 0;padding:10px;font:normal 11px Arial, Helvetica, sans-serif;}
.ok{color:#333333; background-color:#EFFFDA;padding:10px;}
input.error2{border:2px solid #D81E05;background-color:#FCF1F0;}

@font-face {
    font-family: 'djb_stinky_markerregular';
    src: url('../fonts/djb/djb_stinky_marker-webfont.eot');
    src: url('../fonts/djb/djb_stinky_marker-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/djb/djb_stinky_marker-webfont.woff2') format('woff2'),
         url('../fonts/djb/djb_stinky_marker-webfont.woff') format('woff'),
         url('../fonts/djb/djb_stinky_marker-webfont.ttf') format('truetype'),
         url('../fonts/djb/djb_stinky_marker-webfont.svg#djb_stinky_markerregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'resiplerounded';
    src: url('../fonts/resir/resir__-webfont.eot');
    src: url('../fonts/resir/resir__-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/resir/resir__-webfont.woff2') format('woff2'),
         url('../fonts/resir/resir__-webfont.woff') format('woff'),
         url('../fonts/resir/resir__-webfont.ttf') format('truetype'),
         url('../fonts/resir/resir__-webfont.svg#resiplerounded') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*Contenido frases*/

.contenido{
	max-width:1100px;
	background-image: url(../img/081/background.jpg);
	background-repeat:no-repeat;
	margin:0 auto;
	background-position:center top;
	
	}
	
.mvl {
	display:none;}
	
h1 {
	font-size:3.7em;
	font-family: 'resiplerounded';
	text-align:center;
	padding-top:1.8em;
	color:#e32a1b;
	}
	
 .web {
	width:22%;
	text-align:right;
	display:inline-block;
	vertical-align:top;
	}
	
.foto h2 {
	width:65%;
	font-size:2em;
	text-align:left;
	padding-top:0.4em;
	color:#FFFFFF;
	font-family: 'djb_stinky_markerregular';
	padding-left:1em;
	line-height:60px;
	display:inline-block;
	vertical-align:top;
	margin-right:2em;
	}

 .short{
	font-size:2em;
	text-align:left;
	margin-top:-2em;
	color:#e32a1b;
	padding-left:1em;
	font-family: 'djb_stinky_markerregular';
	display:inline-block;
	vertical-align: middle;
	}

.large{
	font-size:1.5em;
	margin-top:-.2em;
	text-align:left;
	padding-top:0.5em;
	color:#FFFFFF;
	padding-left:1em;
	font-family: 'djb_stinky_markerregular';
	
	vertical-align:middle;
	}
	
/*Formulario*/

section.formulario{
	width:25%;
	text-align:center;
	margin-left:5em;
	margin-top:7em;
	}
	

section.formulario #ctcForm, section.formulario #enviarPorMailSolicitaInfo{
	
	width:99%;
	margin:1em auto;
	text-align:center;
	padding: .4em 0 .2em 0;
	}
	

	
section.formulario #ctcForm input:last-child{
	font-size:1.1em;
	cursor:pointer;
	width:30%;
	color: white;
	border: 0;
	background: -webkit-gradient(linear, left top, right top, from(#ff9800), to(#ff6300));
	background: -webkit-linear-gradient(top, #ff9800, #ff6300);
	background: -moz-linear-gradient(top, #ff9800, #ff6300);
	background: -o-linear-gradient(top, #ff9800, #ff6300);
	background: -ms-linear-gradient(top, #ff9800, #ff6300);
	background: linear-gradient(top, #ff9800, #ff6300);
	background-color: #ff9800;	
	}
	
.formulario .celda{
	padding-left:.3em;
	background-color:#FFF;
	font-size:.9em;
	display:block;
	width:92%;
	min-height:40px;
	margin:0.5em auto;
	color:#868585;
	text-align:left;
	font-weight:200;
	border: 2px solid #e32a1b;
}


.legal{
	font-size:.7em;
	font-family:Arial, Helvetica, sans-serif;
	width:92%;
	margin:0 auto;
	text-align:left;
	color:#FFF;
	}
	
.legal input{
	vertical-align:top;
	}
	
.legal a{
	color:#FFF;
	}
	
.espacio_btn{
	width:60%;
	text-align:center;
	margin:.5em;
	margin-left:5.6em;
	}	
	
.espacio_btn input{
	font-weight:bold;
	cursor:pointer;
	width:99%;
	padding:.4em;
	color: white;
	border: 0;
	font-size: 1.3em;
	margin:.5em;
	background-color: #e32a1b;	
	
}

#email {
	font-size:1.2em;}

.vacio {
	height:12em;}
	

@media (max-width: 1100px) {
	
	h1 {
	font-size:3.2em;
	padding-top:2.2em;}
	
	.foto h2 {
	font-size:1.5em;
	width:60%;}
	
	.short{
	font-size:2em;}
	
	.large{
	font-size:1.5em;}
	
	 .web {
	width:27%;}
}


@media (max-width: 930px) {
	h1 {
		font-size:2.8em;}
		
	.web {
	width:20%;}
	
	.short{
		margin-top:-0.1em;}
	
	.large{
		margin-top:0.5em;
		font-size:1.4em;}
	
	.espacio_btn{
	margin-left:4.9em;
	}
	
	.vacio {
		height:13em;}	
	
	
	}
	
@media (max-width: 865px) {
	
.web {
	display:none;}
	
.mvl {
	display:block;}	
	
.contenido{
	background-image:none;}
	
.foto {
	width:100%;
	max-width:865px;
	}
h1{
	display:none;}
.foto h2{
	display:none;}
	
.short{
	display:none;}
	
.large{
	display:none;}
	

section.formulario{
	width:100%;
	margin:auto;}

.legal{
	color:#000000;}
	
.legal a{
	color:#000000;}

.espacio_btn{
	width:70%;
	margin:auto;}

}