body{font-family:arial,verdana;color:#000;}

.phaseTitle{
color:red;
font-weight:bold;
}

.cntr{
text-align:center;
margin-top:5px;
}

.cntr:not(:first-child){
margin-top:50px;
}

.cntr .mil{
display:inline-block;
max-width:1000px;
text-align:left;
margin-left:3%;
margin-right:3%;
}

.cntr img{
border:1px solid #bbb;
padding:4px;
margin:10px;
border-radius:6px;
width:auto;
max-width:90%;
}

ol{
text-align:left;
margin-left:2%;
list-style-type: decimal-leading-zero;
}
.landingsContents{
margin-left:0%;
list-style-type:upper-alpha;
}