
*{
	padding:0;
	margin:0;}
	
img {
  width: 100%;
}

@font-face {
    font-family: 'Hand_of_Sean';
    src:url(../fonts/Hand_Of_Sean_Demo.ttf);
	}
body{
	background-color:#fcf6f2;
	
	font-family:Arial, Helvetica, sans-serif;
	}
	
	
/*HEADER*/	
header{
	margin-top:.5em;
	background-color:#FFF;
	width:100%;
	text-align:center;
	 font-family: 'Hand_of_Sean';
	 font-weight:200;}
	 
header h1{
	color:#e15b04;
	font-size:1.6em;
	font-weight: 200;}
	 
	 
header h2{
	color:#62ae27;
	font-size:1.1em;
	font-weight: 200;}
	 
header img{
	width:135px;
	height:107px;
	}
	
header img, header section{
	display:inline-block;
	vertical-align:middle;
	}
header section{
	width:76%;
	}
	
.sello50{
	position:absolute;
	top:200px;
	left:0;
	width:120px;
	height:178px;
	}
	
section.contenido, .contenido_cabecera{
	max-width:900px;
	margin:.5em auto;
	width:100%;

	}
section.contenido{
	margin-top:2em;
	
	
/*FOTO*/	


	}
section.foto_mvl{
	display:none;
	margin:0 auto;
	
	width:80%;}
	
section.menu_mvl{
	
	display:none;
	 font-family: 'Hand_of_Sean';
	 font-weight:200;
	 font-size:1.1em;
	width:70%;
	margin:.5em auto 0 auto;
	
	 }
	
section.menu_mvl input{
	display:inline-block;
	width:28%;
	text-align:center;
	background: -webkit-gradient(linear, left top, right top, from(#fcbb91), to(#fbe4d5));
	background: -webkit-linear-gradient(top, #fcbb91, #fbe4d5);
	background: -moz-linear-gradient(top, #fcbb91, #fbe4d5);
	background: -o-linear-gradient(top, #fcbb91, #fbe4d5);
	background: -ms-linear-gradient(top, #fcbb91, #fbe4d5);
	background: linear-gradient(top, #fcbb91, #fbe4d5);
	background-color: #fcbb91;	
	border-radius:.3em;
	border:0;
	color:#e15b04;
	padding:.3em 0;
	font-size:.9em;
	cursor:pointer;
}
	
section.foto{
	width:50%;
	display:inline-block;
	vertical-align:middle;
	
	}
	
	/*BOTONES*/	

	
section.botones{
	width:18%;
	display:inline-block;
	vertical-align:middle;
	text-align:center;
	max-width:1808px;
	}
section.botones img{
	cursor:pointer;
	max-width:170px;
	 max-height:167px;
	}
	
	
/*FORM*/	

section.formulario{
	width:30%;
	display:inline-block;
	vertical-align:middle;
	font-size:.9em;
	color:#e05a03;
	padding:.5em 0 .5em 0;
	-webkit-box-shadow: 3px 3px 3px #a6a6a6;
	-moz-box-shadow: 3px 3px 3px #a6a6a6;
	box-shadow: 3px 3px 3px #a6a6a6;	
	background: -webkit-gradient(linear, left top, right top, from(#fcbb91), to(#fbe4d5));
	background: -webkit-linear-gradient(top, #fcbb91, #fbe4d5);
	background: -moz-linear-gradient(top, #fcbb91, #fbe4d5);
	background: -o-linear-gradient(top, #fcbb91, #fbe4d5);
	background: -ms-linear-gradient(top, #fcbb91, #fbe4d5);
	background: linear-gradient(top, #fcbb91, #fbe4d5);
	background-color: #fcbb91;	

	}
	
section.formulario form{
	width:94%;
	margin:.5em auto;
	}	
	
	
.formulario p{
	text-align:center;
	font-size:1.2em;
	margin-bottom:.3em;
	font-family: 'Hand_of_Sean';
	 font-weight:200;
	 color:#FFF;
	
	
	}
	
section.formulario #telefono_ctc{
	
	display:inline-block;
	width:60%;
	margin-right:.3em;
	
	}
section.formulario #boton_ctc{
	text-align:center;
	display:inline-block;
	width:32%;
	background: -webkit-gradient(linear, left top, right top, from(#62ae27), to(#4b881b));
	background: -webkit-linear-gradient(top, #62ae27, #4b881b);
	background: -moz-linear-gradient(top, #62ae27, #4b881b);
	background: -o-linear-gradient(top, #62ae27, #4b881b);
	background: -ms-linear-gradient(top, #62ae27, #4b881b);
	background: linear-gradient(top, #62ae27, #4b881b);
	background-color: #62ae27;;
	color:#FFF;
	border-radius:.3em;
	cursor:pointer;
	}
	
	
.formulario .fila input, .formulario .fila select{
	width:95%;
	height:25px;
	margin:.5em auto;
	border:0;
	color:#898787;
	padding:.3em;
	-webkit-box-shadow: inset 2px 2px 2px #95928f;
	-moz-box-shadow: inset 2px 2px 2px #95928f;
	box-shadow: inset 2px 2px 2px #95928f;
	}
.formulario .fila select{
	width:98%;
	height:30px;}


.legal{
	font-size:.7em;
	font-family:Arial, Helvetica, sans-serif;
	text-align:left;
	margin-top:.5em;
	}
	

	
.legal a{
	color:#e05a03;
	}
.espacio_btn{
	width:95%;
	text-align:center;
	margin:0 auto;
	}	
	
.espacio_btn input{
	cursor:pointer;
	width:100%;
	text-align:center;
	margin:.5em auto;
	display:block;
	border:0;
	font-size:1.3em;
	padding:.5em;
	color:#FFF;
	border-radius:.3em;
	background: -webkit-gradient(linear, left top, right top, from(#62ae27), to(#4b881b));
	background: -webkit-linear-gradient(top, #62ae27, #4b881b);
	background: -moz-linear-gradient(top, #62ae27, #4b881b);
	background: -o-linear-gradient(top, #62ae27, #4b881b);
	background: -ms-linear-gradient(top, #62ae27, #4b881b);
	background: linear-gradient(top, #62ae27, #4b881b);
	background-color: #62ae27;;


	}
	
section.frase_secun{
	font-family: 'Hand_of_Sean';
	 font-weight:200;
	color:#e15b04;
	width:98%;
	
	margin:1em auto 0 auto;
	text-align:center;
	
	
	}

/*INFO COMPL*/	



section.contenido_texto{
	width:100%;
	margin-top:.5em;
	padding-bottom:2em;
	background: -webkit-gradient(linear, left top, right top, from(#62ae27), to(#4b881b));
	background: -webkit-linear-gradient(top, #62ae27, #4b881b);
	background: -moz-linear-gradient(top, #62ae27, #4b881b);
	background: -o-linear-gradient(top, #62ae27, #4b881b);
	background: -ms-linear-gradient(top, #62ae27, #4b881b);
	background: linear-gradient(top, #62ae27, #4b881b);
	background-color: #62ae27;;
	color:#FFF;}
	
.contenido_texto_centrado{
	max-width:920px;
	margin:0 auto;
	text-align:center;
}
	
	
section.caja_circulo{
	display:inline-block;
	vertical-align:top;
	width:31%;
	margin:.2em;
	margin-top:2em;
	font-family:Arial, Helvetica, sans-serif;
	font-size:.9em;
	text-align:left;
	
	}
section.caja_circulo h3{
	 font-family: 'Hand_of_Sean';
	 font-weight: 200;
	display:inline-block;
	vertical-align:middle;
	width:80%;
	
	}
	
section.caja_circulo img{
	width:19%;
	max-width:45px;
	max-height:45px;
	display:inline-block;
	vertical-align:middle;

	}
section.caja_circulo p{
	margin-top:1em;

	}


/*COOKIES*/	
		
#pie_galletero{
	max-width:900px;
	margin:.5em auto;
	width:100%;
	color: #e15b04;
	
	}	
#pie_galletero a{
	
	color:#e15b04;}	

#pie_galletero_left{
	width:75%;
	vertical-align:middle;
	display:inline-block;
	margin:.5em;
	font-size:.8em;
	text-align:center;
	}

#pie_galletero_right{
	text-align:right;
	width:20%;
	vertical-align:middle;
	display:inline-block;
	margin:.5em;
	}
#pie_galletero_right input{
	margin:.3em;
	padding:.1em;
	
	}
	
#info_cook {
	max-width:900px;
	width:95%;
	display: block;
	margin: 0 auto;
	margin-top: 4px;
	text-align: left;
	font-size: .7em;
	color: #e15b04;
	background: #fbe2d1;
	padding:1em;
	}
#info_cook p, #info_cook ul{
	margin-left:1em
	}
	
	
	
@media (max-width: 1100px) {
	
	.sello50{
		display:none;
	}
	body{
		padding:.2em;}
		
	}

	
@media (max-width: 740px){
	header h1{
		font-size:1.4em;
	}
	 
	header h2{
		font-size:1em;
	}
	header img{
		width:90px;
		height:71px;
	}
	section.contenido {
		margin-top: .5em;
	}
	section.formulario{
		width:35%;
	}
	section.botones{
		width:13%;
	}
	section.foto{
		width:50%;
	}

	#pie_galletero_left{
		width:98%;
		display:block;
	}

	#pie_galletero_right{
		text-align:center;
		margin:auto;
		width:98%;
		display:block;
	}
	section.caja_circulo {
		width:98%;
	}
	
	section.caja_circulo img {
		width: 35px;
		height:35px;
	}
	
	section.frase_secun {
		display:none;
	}
	

	
	}
@media (max-width: 650px){
	
	header section{
		width:100%;
	}
	
	section.formulario{
		width:80%;
		display:block;
		margin:0 auto;
	}
	section.contenido_texto{
		width:80%;margin:0 auto;
	}
	section.foto{
		display:none;
	}
	section.foto_mvl{
		display:block;
	}
	section.menu_mvl{
		display:block;
	}
	
	section.botones{
		display:none;
	}
	
	}
@media (max-width: 480px){
	section.texto_cabecera{
		display:none;}
	
	
	section.formulario{
		width:95%;
	}
	section.foto_mvl{
		width:95%;
	}
	section.menu_mvl{
		width:95%;}
		
	section.contenido_texto{
		width:95%;
	}

		
	section.formulario form#enviarPorMailSolicitaInfo{
		display:none;}
	section.formulario #telefono_ctc {
		display: block;
		width: 95%;
		margin-right:0 auto;
		height:35px;
	}
	section.formulario #boton_ctc {
		display: block;
		width: 96%;
		margin:.5em auto;
		height:35px;
		font-size:1.1em;
		
	}
	section.caja_circulo img {
		width: 25px;
		height:25px;
	}
	section.caja_circulo h3{
		font-size:1em;
	}

	}