*{
	padding:0;
	margin:0;}
	
img {
  width: 100%;
}

@font-face {
    font-family: 'Hand_of_Sean';
    src:url(../fonts/Hand_Of_Sean_Demo.ttf);
	}
	
body{
	background-color:#FFF;
	font-family:Arial, Helvetica, sans-serif;
	}
	
header, .contenido, .contenido_info{
	width:100%;
	}
	
header{	
	text-align:center;
	padding:.5em 0;
	}
	
header figure, header .llamanos{
	display:inline-block;
	width:48%;
	vertical-align:middle;
	}
	
header figure{
	text-align:left;
	}
	
header figure img{
	max-width:130px;
	}
	
header .llamanos{
	text-align:right;
	}
	
header .llamanos p{
	font-family: 'Hand_of_Sean';
	color:#8f8f8f;
	font-size:24px;
	}
	
header .llamanos p:last-child{
	font-family:Arial, Helvetica, sans-serif;
	color:#e95d0e;
	font-size:34px;
	}
	
header .llamanos img{
	max-width:30px;
	vertical-align:middle;
	}
	

.contenido_centrado{
	width:100%;
	max-width:950px;
	margin:0 auto;}
	
.contenido{
	background-color:#d6dbde;
}

.contenido .formulario{
	text-align:center;
	width:30%;
	display:inline-block;
	vertical-align:middle;
	background-color:#FFF;
	-webkit-box-shadow: 0px 0px 10px #6e6e6e;
	-moz-box-shadow: 0px 0px 10px #6e6e6e;
	box-shadow: 0px 0px 10px #6e6e6e;
}

.contenido .foto{
	width:69%;
	display:inline-block;
	vertical-align:middle;
	}
.contenido .foto .mvl{
	display:none;
	}

.contenido .formulario form{
	text-align:center;
	width:100%;
	padding:.5em 0;
}
.contenido .formulario form input[type='text'], .contenido .formulario form input[type='tel'], .contenido .formulario form input[type='email']{
	height:35px;
	width:90%;
	border:0;
	background-color:#e8e7e7;
	margin:.3em auto;
	color:#868585;
	font-size:16px;
	padding-left:.2em;
}
.contenido .formulario form input[type='button']{
	height:55px;
	border:0;
	width:80%;
	background: -webkit-gradient(linear, left top, right top, from(#5eac22), to(#378402));
	background: -webkit-linear-gradient(top, #5eac22, #378402);
	background: -moz-linear-gradient(top, #5eac22, #378402);
	background: -o-linear-gradient(top, #5eac22, #378402);
	background: -ms-linear-gradient(top, #5eac22, #378402);
	background: linear-gradient(top, #5eac22, #378402);
	background-color: #5eac22;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin:.2em auto;
	color:#FFF;
	font-size:34px;
	font-weight:bold;
	cursor:pointer;
}

.legal{
	font-size:12px;
	margin:.5em auto;
	text-align:left;
	width:90%;
	color:#e95d0e;
	}
	
.legal a{
	color:#e95d0e;
}
	
.legal input{
	vertical-align:middle;
	margin-right:2px;
	border:0;
	}

.contenido .formulario form:first-child p{
	color:#FFF;
	}
.contenido .formulario form p{
	color:#e95d0e;
	font-size:22px;
	margin-bottom:.2em;
	font-weight:bold;
}

.contenido .formulario form:first-child{
	background-color:#e95d0e;
}
.contenido .formulario form:first-child input[type='tel']{
	width:50%;
	display:inline-block;
	vertical-align:middle;
	background-color:#FFF;
	height:34px;
	
}
.contenido .formulario form:first-child input[type='button']{
	height:35px;
	width:35%;
	display:inline-block;
	font-size:16px;
	font-weight:normal;
	cursor:pointer;
}
	
.contenido_info{
	background-color:#FFF;
	}
.contenido_info .info{
	width:32%;
	display:inline-block;
	vertical-align:top;
	text-align:center;
	margin:1em auto;
	}	
.contenido_info .info p{
	font-size:14px;
	color:#818181;
	}	
.contenido_info .info img{
	max-width:51px;
	}
	
h2{	
	font-family: 'Hand_of_Sean';
	color:#62ae27;
	font-weight:normal;
	font-size:17px;
	}
	 
/*COOKIES*/	
		
#pie_galletero{
	max-width:950px;
	margin:1em auto .5em auto;
	width:98%;
	color: #949494;
	background: #e5e5e5;
	
	}	
#pie_galletero a{
	
	color:#949494;}	
#pie_galletero a:visited{
	
	color:#949494;}	

#pie_galletero_left{
	width:75%;
	vertical-align:middle;
	display:inline-block;
	margin:.5em;
	font-size:.8em;
	text-align:center;
	}

#pie_galletero_right{
	text-align:right;
	width:20%;
	vertical-align:middle;
	display:inline-block;
	margin:.5em;
	}
#pie_galletero_right input{
	margin:.3em;
	padding:.1em 0;
	cursor:pointer;
	}
	

.blockCookiesContainer{
	width:95%;
	margin:0 auto;
}

@media (max-width: 770px){
	
header figure img{
	max-width:110px;
	}
	
header .llamanos p{
	font-size:22px;
	}
	
header .llamanos p:last-child{
	font-size:26px;
	}
	
header .llamanos img{
	max-width:25px;}
	
.contenido_info .info{
	width:90%;
	display:block;
	max-width:600px;
	text-align:left;
	
	}
	
.contenido_info .info img, .contenido_info .info h2{
	display:inline-block;
	vertical-align:middle;
	margin-bottom:.8em;
	
	}
.contenido_info .info img{
	width:30px;
	
	}
	
		
.contenido .formulario{
	width:100%;
	max-width:600px;
	display:block;
	margin:0em auto;
	-webkit-box-shadow: 0px 0px 0px;
-moz-box-shadow: 0px 0px 0px;
box-shadow: 0px 0px 0px;
	

}
.contenido .formulario form:last-child{
	display:none;
	}
	
.contenido .foto{
	width:100%;
	display:block;
	max-width:600px;
	margin:0 auto;
	}
.contenido .foto .mvl{
	
	display:block;
	
	}
.contenido .foto .web{
	
	display:none;
	
	}
	#pie_galletero_left{
		width:98%;
		display:block;
	}

	#pie_galletero_right{
		text-align:center;
		margin:auto;
		width:98%;
		display:block;
	}
}
@media (max-width: 480px){
	
header figure img{
	max-width:90px;}
header .llamanos p{
	
	font-size:18px;
	}
header .llamanos p:last-child{
	
	font-size:20px;
	
	}
	
header .llamanos img{
	max-width:15px;}
	
.contenido_info .info{
	width:98%;
	}	
}
