
img{
	width:100%;}
	
section.contenedor{
	max-width:700px;
	border:1px solid #b2b3b3;
	
	width:100%;
	margin:1em auto 0 auto;
	-webkit-box-shadow: 5px 5px 5px #979797;
	-moz-box-shadow: 5px 5px 5px #979797;
	box-shadow: 5px 5px 5px #979797;
	}
	
section.foto{
	width:100%;
	
	}
	
section.foto img:last-child{
	display:none;
	}

	
@media (max-width: 480px){
section.contenedor{
	max-width:480px;
	width:100%;
	margin:2em auto 0 auto;
	}
	
section.foto{
	width:100%;
	max-height:459px;
	}

	section.foto img:last-child{
	display:block;
	}
	section.foto img:first-child{
	display:none;
	}

}