#cookie_info{
display:block;
cursor:pointer;
text-align:center;
line-height:30px;
font-size:.9em;
color:#E15B04!important;
}
#cookie_info:hover{
color:#A94503!important;
}
.cookieButton{
color:#222;
background:#eee;
font-size:12px;
font-family:Arial,Helvetica,sans-serif;
border:1px solid #888;;
padding:4px!important;
color:#444;
}
.cookieButton:hover{
color:#000;
cursor:pointer;
}

#info_cook a{
color:#3E7117;
}
#info_cook a:hover{
color:#2A231E;
}
.ulCookies{
margin-left:-16px;
color:#3E7117;
}

#info_cook li p{
color:#3E7117;
}

#info_cook p{
text-align:left;
}

#info_cook li{
list-style:disc;
color:#3E7117;
}

.closeCookiesPolicy a{
display:block;
position:relative;
top:-10px;
text-decoration:none !important;
font-size:200%;
font-weight:bold;
}

#blockTxtPieAsk{
display:inline-block;
padding-top:6px;
}