*{
	padding:0;
	margin:0;
	}
	
img{
	width: 100%;
	}
	
html,body {
    height: 100%;
}

body{
    font-family:Arial, Helvetica, sans-serif;
	}
	
body.landing{
	background:url(../img/060/fondo_body.jpg) no-repeat center fixed;
	background-size:cover;
	}
	
/*HEADER*/

header{
	width:100%;
	margin:0 auto;
	background: rgba(0, 90, 152, .8)
}
	
	
header .cabecera{
	width:100%;
	margin:0 auto;
	max-width:1200px;
	padding:0;
	}
	
header .cabecera figure{
	display:inline-block;
	width:19%;
	vertical-align:middle;
	margin:.2em 0;
	max-width:180px;
	}
	
header .cabecera figure.claim{
	display:inline-block;
	width:79%;
	vertical-align:middle;
	margin:.2em 0;
	text-align:right;
	max-width:900px;
	}	
	
header .cabecera figure.claim img{
	width:50%;
	}	
	
/*CONTENIDO*/

section.contenido{
	width:100%;
	max-width:1200px;
	text-align:center;
	padding:1em 0;
	margin:1em auto;
	}
	
section.foto{
	text-align:left;
	width:68%;
	margin-right:2em;
	display:inline-block;
	vertical-align:top;
	}
		
section.foto .mvl{
	display:none;
	}	

section.foto .web{
	display:block;
}	
		
section.formulario{
	width:25%;
	display:inline-block;
	text-align:center;
	vertical-align:top;
	}
	
section.formulario p{
	margin:.4em 0;
	font-size:1.5em;
	color:#FFF;
	}

section.formulario #enviarPorMailSolicitaInfo{
	background: rgba(0, 0, 0, .8);
	width:100%;
	margin:0 auto;
	text-align:center;
	padding: .4em 0;
	}
		
.formulario .celda{
	padding-left:.3em;
	background-color:#FFF;
	font-size:.9em;
	display:block;
	width:85%;
	min-height:40px;
	margin:1em auto;
	border:1px solid #666;;
	color:#868585;
	text-align:left;
}
	
.espacio_btn{
	width:85%;
	text-align:center;
	margin:1em auto;
	}	
	
.espacio_btn input{
	font-weight:bold;
	cursor:pointer;
	width:100%;
	padding:.4em;
	color: white;
	border: 0;
	font-size: 1.6em;
	margin:0em auto;
	background-color:#5ac333;
}


.legal{
	font-size:.7em;
	font-family:Arial, Helvetica, sans-serif;
	width:85%;
	margin:0 auto;
	text-align:left;
	color:#FFF;
	}
	
.legal input{
	vertical-align:top;
	}
	
.legal a{
	color:#FFF;
	}

footer{
	width:100%;
	margin:0 auto;
	background: rgba(0, 90, 152, .8);
	text-align:center;
	position:absolute;
	bottom:0;
	}
	
footer img{
	max-width:850px;
	width:90%;
	margin:0 auto;
	}



	
@media (max-width:940px) {
	
	section.foto{
		width:71%;
		margin-right:0em;
	}
			
	section.formulario{
		width:28%;
	}
	
	section.formulario p {
	  font-size: 1.3em;
	}
	footer{
		display:none;}
	
}


@media (max-width:768px) {
	
	body.landing{
		background:none;
		background-color:#005a98;
		}
	
	header{
		display:none;
		}
		
	section.contenido{
		margin:0 auto;
		padding:0;
		}
	
	section.foto{
		width:100%;
		text-align:center;
		}
			
	section.foto .mvl{
		display:block;
		}	
	
	section.foto .web{
		display:none;
	}	
			
	section.formulario{
		width:100%;
		}
		
	section.formulario p{
		display:none;
		}
		
	section.formulario #enviarPorMailSolicitaInfo{
		 background: rgba(255, 255, 255, 1);
		 }
		 
	footer{
		display:none;
	}
	
	.legal{
	color:#000;
	}
	
	.legal a{
		color:#000;
	}
}
