
img{
	width:100%;}

body{
	background-color:#005a98;}
	
	
section.contenedor{
	max-width:700px;
	
	
	width:100%;
	margin:1em auto 0 auto;
	}
	
section.foto{
	width:100%;
	
	}
	
section.foto img:last-child{
	display:none;
	}

	
@media (max-width: 480px){
section.contenedor{
	max-width:480px;
	width:100%;
	margin:2em auto 0 auto;
	}
	
section.foto{
	width:100%;
	max-height:459px;
	}

	section.foto img:last-child{
	display:block;
	}
	section.foto img:first-child{
	display:none;
	}

}