@font-face {
font-family: 'Franklin Gothic Demi Cond';
font-style: normal;
font-weight: normal;
src: local('Franklin Gothic Demi Cond'), url('Franklin Gothic Demi Cond Regular.woff') format('woff');
}

@font-face {
font-family: 'Franklin Gothic Book';
font-style: normal;
font-weight: normal;
src: local('Franklin Gothic Book'), url('FRABK.woff') format('woff');
}