@charset "UTF-8";

*{
	padding:0;
	margin:0;
	box-sizing:border-box;
	}
	
img{
	width:99%;
	height:auto;
	}
	
@font-face {
 	font-family: 'ArialRoundedMTBoldRegular';
  	src: url('../fonts/ArialRoundedMTBoldRegular.eot') format('embedded-opentype');
  	src: url('../fonts/ArialRoundedMTBoldRegular.ttf')  format('truetype'); 
  	src: url('../fonts/ArialRoundedMTBoldRegular.svg') format('svg');
	src: url('../fonts/ArialRoundedMTBoldRegular.woff') format('woff');
  	font-weight: normal;
  	font-style: normal;
  	}
  
@font-face {
	font-family: 'Conv_frutiger-roman';
	src: url('../fonts/frutiger-roman.eot');
	src: local('☺'), url('../fonts/frutiger-roman.woff') format('woff'), url('../fonts/frutiger-roman.ttf') format('truetype'), url('../fonts/frutiger-roman.svg') format('svg');
	font-weight: normal;
	font-style: normal;
	}

body{
	background-color:#FFFFFF;
	}
	
header{
	width:100%;
	border-top:6px solid #813d92;
	}
	
.cabecera{
	width:99%;
	max-width:1200px;
	margin:auto;
	}
	
.cabecera img{
	max-width:1120px;
	text-align:center;
	}
	
.web-lo{
	display:block;
	}
	
.mob-lo{
	display:none;
	}
	
.web{
	display:block;
	}
	
.mob{
	display:none;
	}

.basic-content{
	width:100%;
	}
	
.small-content{
	width:100%;
	}
	
.skeleton img{
	width:100%;
	}
	
section.formulario{
	width:100%;
	text-align:center;
	vertical-align: top;
	background-color:#7C3287;
	min-height:115px;
	margin-top:2em;
	}
	
form{
	width:99%;
	max-width:1100px;
	margin:auto;
	padding-top:1.5em;
	padding-left:10em;
	}
	
.formulario .celda{
	width:20%;
	background-color:#FFF;
	font-size:.9em;
	float:left;
	min-height:40px;
	color:#857f78;
	margin-right:0.6em;
	padding-left:0.6em;
	line-height:40px;
	font-family: 'Conv_frutiger-roman';
	}

.legal{
	font-size:.8em;
	font-family: 'Conv_frutiger-roman';
	width:100%;
	text-align:left;
	color: #FFFFFF;
	margin:1em auto;
	clear:both;	
	}
	
.legal input{
	vertical-align:top;
	}
	
.legal a{
	color: #FFFFFF;
	}
	
.legal-mob{
	font-size:.8em;
	font-family: 'Conv_frutiger-roman';
	width:100%;
	text-align:left;
	color: #FFFFFF;
	margin:1em auto;
	clear:both;	
	display:none;
	}
	
.legal-mob input{
	vertical-align:top;
	}
	
.legal-mob a{
	color: #FFFFFF;
	}
		
.espacio_btn input{
	cursor:pointer;
	width:18%;
	float:left;
	color: white;
	padding:0.7em;
	font-family: 'Conv_frutiger-roman';
	text-align:center;
	border: 0;
	font-size: 1em;
	background-color:#ea9e32;
	-webkit-appearance: none;
    -webkit-border-radius: 15px;
-moz-border-radius: 15px;
border-radius: 15px;
border-bottom: 4px solid #c48f19;
	}
	
.text-content{
	width:99%;
	max-width:1200px;
	margin:3em auto;
	}
	
.text-content h1{
	text-align:center;
	font-family: 'ArialRoundedMTBoldRegular' !important;
	color:#7c3287;
	font-size:1.9em;
	}
	
.text-content p{
	font-family: 'Conv_frutiger-roman'; 
	text-align:center;
	color:#000000;
	width:80%;
	margin:auto;
	padding-top:1em;
	padding-bottom:2.5em;
	}
	
.text-content p span{
	font-family: 'ArialRoundedMTBoldRegular';
	font-weight:bold;
	color:#000000;
	}
	
.text-content ul{
	padding:0;
	width:70%;
	margin:1em auto;
	list-style-type:none;
	}
	
li:before {
    content: "• ";
    color:#7C3287;
	font-size:1.3em;
	vertical-align:middle;
	}

.text-content ul li{
	font-family: 'Conv_frutiger-roman';
	color:#000000; 
	margin-bottom:1em;
	}
	
.text-content ul li span{
	font-family: 'ArialRoundedMTBoldRegular';
	font-weight:bold;
	color:#000000;
	}
	
@media (max-width: 960px){
	
form{
	padding-left:3em;
	}
	
.formulario .celda{
	width:25%;
	}
	}

@media (max-width: 900px){
	
.web{
	display:none;
	}
	
.mob{
	display:block;
	}
	
form{
	padding-left:1em;
	}
	}
	
@media (max-width: 700px){
	
.formulario .celda{
	width:90%;
	clear:both;
	margin-bottom:0.5em;
	}
	
form{
	padding-left:1.8em;
	}
	
.espacio_btn input{
	clear:both;
	width:90%;
	}
	
section.formulario{
	min-height:375px;
	clear:both;
	}
	
.legal-mob{
	display:block;
	}
	
.legal{
	display:none;
	}
	}
	
@media (max-width: 500px){
	
.web-lo{
	display:none;
	}
	
.mob-lo{
	display:block;
	}
	}