@charset "UTF-8";

*{
	padding:0;
	margin:0;
	}
	
img{
	width:100%;
	height:auto;
	}
	
body{
	background-color:#FFFFFF;
	}
	
header{
	width:100%;
	border-top:14px solid #7C3287;
	}

.cabecera{
	width:99%;
	max-width:1200px;
	margin:auto;
	}
	
.cabecera img{
	max-width:1100px;
	padding:0.5em 0;
	}
	
.bascic-content{
	width:99%;
	max-width:1200px;
	margin:auto;
	}
	
footer{
	width:100%;
	background-color:#7c3287;
	height:40px;
	margin-top:5em;
	}