/*
 * @package AJAX_Chat
 * @author 
 * @author 
 * @copyright (c) Sebastian Tschan
 * @license Modified MIT License
 * @link https://blueimp.net/ajax/
 */

@import url('global.css');
@import url('fonts.css');
@import url('print.css');
@import url('custom.css');

/* Firefox button padding fix */
#content #bbCodeContainer input::-moz-focus-inner, #content #logoutButton::-moz-focus-inner, #content #submitButton::-moz-focus-inner {
	border:0;
	padding:0;
}

#content{
	/*background-color:#FFFFFF!important;*/
	background:transparent!important;
}

/* Buttons */
#content #bbCodeContainer input, #content #logoutButton, #content #submitButton, #loginForm #loginButton {
	display:inline-block;
	background-color:#FFFFFF;
	color:#333333;
	border: 1px solid #ddd;
	border-rqadius:8px;
/*	background-image: linear-gradient(to bottom, #fafafa, #cdcdcd);
	background-image: -webkit-linear-gradient(top, #fafafa, #cdcdcd);*/
	outline:0!important;
	box-shadow:0 2px 2px rgba(0,0,0,.16),0 2px 10px rgba(0,0,0,.12);
	margin-bottom:0;
	font-weight:400;
	text-align:center;
	touch-action:manipulation;
	cursor:pointer;
	white-space:nowrap;
	padding:4px 12px;
	font-size:13px;
	line-height:1.42857143;
	border-radius:2px;
	-webkit-touch-callout:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
}
#content #bbCodeContainer input, #content #logoutButton, #loginForm #loginButton {
	vertical-align:middle;
}
#content select, #loginForm select, #loginForm input, #content textarea {
	background-color:#FFF;
	color:#333333;
	border: 1px solid #ababab;
}

/* Status Icon */
#content #statusIconContainer {
	background: url('../img/loading-sprite.png') no-repeat 0px 0px; 
}
#content #statusIconContainer.waiting {
	background-position: 0px -22px;
}
#content #statusIconContainer.retrying {
	background-position: 0px -44px;
}

/* Headers */
#loginContent h1 {
	color:#333333;
}
#content #headline {
	left: 0px;
	right: 0px;
	background: #0c95d9;
	color: white;
}
#content #onlineListContainer h3, #content #helpContainer h3, #content #settingsContainer h3 {
	background-color:#0c95d9;
	color:#fff;
	height: 25px;
}

/* Other Theme Elements */
.ajax-chat{
	background-color:transparent!important;
	color:#28313F;
}
#content #chatList div{
	padding-top:8px;
	padding-bottom:8px;
}
#content #chatList, #content #onlineListContainer, #content #helpContainer, #content #settingsContainer {
	border-color: #ababab;
}
.ajax-chat .popup {
	background-color:#FFF;
	border: 1px solid #ababab;
	box-shadow: 2px 2px 2px #777;
}
#content #chatList .deleteSelected {
	border-width:1px;
	border-style:dotted;
}
#content #helpContainer #helpList table, #content #settingsContainer #settingsList table {
	border-collapse:collapse;
}
#loginContent a {
	color:#333333;
}
#loginContent input, #loginContent select {
	background-color:#FFF;
	color:#333333;
}
#loginContent #loginButton {
	background-color:#FFFFFF;
	color:#333333;
}
#loginContent #errorContainer {
	color:red;
}
#content #copyright, #content #copyright a {
	color: white;
}
#content a {
	color:#333333;
}
#content #chatList, #content #onlineListContainer, #content #helpContainer, #content #settingsContainer, #content #colorCodesContainer, #content #emoticonsContainer {
	background-color:#FFF;
}
#content #colorCodesContainer {
	box-shadow: 2px 2px 2px #777; 
}
#content #colorCodesContainer a {
	border-color:black;
}
#content #optionsContainer input {
	background-color:transparent;
}
#content .rowEven, #helpList dl:nth-child(even), #settingsList dl:nth-child(even) {
	background-color:#F9FBFD;
}
#content .rowOdd, #helpList dl:nth-child(odd), #settingsList dl:nth-child(odd) {
	background-color:#E8EEF4;
}
#content #chatList .rowOdd.private {
	background-color:#A4DDFA;
}
#content #chatList .rowEven.private {
	background-color:#79CDF7;
}
#content .guest {
	color:gray;
}
#content .user {
	color:#333333;
}
#content .customUser {
	color:#0c95d9;
}
#content .moderator {
	color:#00AA00;
}
#content .admin {
	color:#AA0000;
}
#content .chatBot {
	color:#D31141;
}
#content #chatList .chatBotErrorMessage {
	color:red;
}
#content #chatList a {
	color:#D31141;
}
#content #chatList .deleteSelected {
	border-color:red;
}