@charset "UTF-8";

*{
	padding:0;
	margin:0;
	}

img{
	width:100%;
	height:auto;
	}

body{
	font-family: 'Open Sans', Arial, sans-serif;
	background-color:#f9f7f7;
	}

header{
	width:100%;
	background-color:#1c2853;
	height:90px;
	}
	
.cabecera{
	width:99%;
	max-width:1100px;
	margin:auto;
	}

.logo-sps{
	width:20%;
	float:left;
	padding-top:0.5em;
	}

.claim{
	float:right;
	text-align:center;
	padding-top:0.6em;
	}
	
.claim h1{
	color:#FFFFFF;
	font-size:1.8em;
	}

.claim h2{
	color:#ea9e32;
	font-size:1.2em;
	}
	
.basic-content{
	width:100%;
	background-color:#f9fcf3;
	background-repeat:no-repeat;
	}
	
.small-content{
	width:100%;
	max-width:1100px;
	margin:auto;
	background-image: url(../img/107/background.jpg);
	background-repeat:no-repeat;
	}
	
.skeleton{
	width:55%;
	max-width:690px;
	display:inline-block;
	vertical-align:top;
	margin-bottom:-0.4em;
	opacity:0;
	}
	
section.formulario{
	width:24%;
	display:inline-block;
	text-align:center;
	vertical-align: top;
	margin-top:-0.2em;
	margin-left:11em;
	}
	
section.formulario p{
	margin:0.2em 0;
	font-size:1.2em;
	color:#FFFFFF;
	font-weight:bold;
	line-height:30px;
	}

.form-text{
	color:#ea9e32;
	font-size:1.5em;
	}
	
.form-text2{
	color:#ea9e32;
	font-size:1.2em;
	}

section.formulario #ctcForm, section.formulario #enviarPorMailSolicitaInfo{
	background-color:#1c2853;
	width:100%;
	margin:.2em auto;
	text-align:center;
	padding:.4em 0;
	}
	
section.formulario #ctcForm input{
	width:55%;
	display:inline-block;
	vertical-align:middle;
	min-height:40px;
	background-color:#FFF;
	}
	
section.formulario #ctcForm input:last-child{
	font-size:1.1em;
	cursor:pointer;
	width:30%;
	color: white;
	border: 0;
	background-image: -ms-linear-gradient(top, #F68A1E 0%, #FF7301 100%);
	background-image: -moz-linear-gradient(top, #F68A1E 0%, #FF7301 100%);
	background-image: -o-linear-gradient(top, #F68A1E 0%, #FF7301 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #F68A1E), color-stop(1, #FF7301));
	background-image: -webkit-linear-gradient(top, #F68A1E 0%, #FF7301 100%);
	background-image: linear-gradient(to bottom, #F68A1E 0%, #FF7301 100%);
	}
	
.formulario .celda{
	padding-left:.3em;
	background-color:#FFF;
	font-size:.9em;
	display:block;
	width:80%;
	min-height:30px;
	margin:auto;
	margin-top:1.8em;
	color:#857f78;
	text-align:left;
	font-weight:200;
	border: 1px solid #f89829;
	-webkit-appearance: none;
    -webkit-border-radius: 0;
 	border-radius:0;
	}

.formulario .celda:focus{
	outline:0px;
	}

.legal{
	font-size:.8em;
	font-family:Arial, Helvetica, sans-serif;
	width:83%;
	text-align:left;
	color: #666;
	margin:1em auto;
	}
	
.legal input{
	vertical-align:top;
	}
	
.legal a{
	color: #666;
	}
	
.espacio_btn{
	width:90%;
	text-align:center;
	margin:.5em auto;
	}	
	
.espacio_btn input{
	cursor:pointer;
	width:90%;
	padding:1em;
	color: white;
	border: 0;
	font-size: 1.1em;
	margin:0.4em auto;
	background-color:#ea9e32;
	font-weight:bold;
	-webkit-appearance: none;
    -webkit-border-radius: 0;
 	border-radius:0;
	}
	
.text-content{
	max-width:1100px;
	margin:auto;
	margin-top:-3em;
	}
	
/*Caja texto start*/

/* 04.04 - products slider */

.swiper-tabs{
	position: relative;
	}
	
.swiper-tabs:before{
	position: absolute; 
	left: 0; 
	bottom: 24px; 
	width: 100%; 
	height: 1px; 
	background: #ebebeb; 
	content: "";
	}
	
.swiper-tabs .block-title{
	float: left; 
	border-bottom:none; 
	position: relative; 
	padding-left: 7px; 
	padding-right: 7px; 
	margin-right: 15px; 
	font-weight: 400; 
	color: #a1a1a1;
	}
	
.swiper-tabs .block-title.active{
	font-weight: 600; 
	color: #2e2e2e;
	}
	
.swiper-tabs .block-title:hover{
	color: #2e2e2e;
	}
	
.swiper-tabs .block-title:before{
	position: absolute; 
	left: 0; 
	height: 3px; 
	bottom: -2px; 
	content: ""; 
	background: #03b4ea; 
	width: 0;
	}
	
.swiper-tabs .block-title.active:before{
	width: 100%;
	}
	
.tabs-entry{
	display: none;
	}
	
.tabs-entry:first-child{
	display: block;
	}
	
.swiper-tabs .title, .links-drop-down .title{
	display: none;
	}

/*product tabs*/

.tabs-container.style-1 .swiper-tabs{
	font-size: 0;
	}
	
.tabs-container.style-1 .tab-switcher{
	font-weight: 600; 
	font-size: 13px; 
	line-height: 13px; 
	color: #FFFFFF; 
	padding: 15px 20px; 
	cursor:pointer; 
	background-color:#1c2853; 
	border: 1px #1c2853 solid; 
	display: inline-block; 
	margin-right: 14px; 
	text-transform: uppercase;
	}
	
.tabs-container.style-1 .tab-switcher.active{
	background: #ea9e32; 
	color: #fff; 
	border-color: #ea9e32; 
	cursor:pointer;
	}
	
.tabs-container.style-1 .swiper-tabs:before{
	bottom: 0;
	}
	
.tabs-container.style-1 .tabs-entry{
	padding: 55px; 
	border: 1px #1c2853 solid; 
	border-top: none;
	}

/* Tablets (>=768px)*/

@media (max-width: 991px){
	
.tabs-container.style-1 .tabs-entry{
	padding: 25px;
	}
	}
	
@media (max-width: 900px){

.skeleton{
	opacity:100;
	width:100%;
	max-width:900px;
	}
	
.claim h1{
	font-size:1.4em;
	}

.claim h2{
	font-size:1em;
	}
	}
		
/*Phones (<768px)*/

@media (max-width: 767px){
	
 .tabs-container.style-1 .tabs-entry{
	 padding: 15px;
	 }
	 
 .tabs-container.style-1 .tab-switcher{
	 display: block; margin: -1px 0 0 0;
	 }
	 
 .tabs-container.style-1 .swiper-tabs{
	 margin-bottom: 0;
	 }
	 }


/* 29.02 - content styles */

.tabs-container{margin-bottom: 45px; 
	}

.list{
	border-bottom: 2px solid #1c2853 !important;
	}
	
.article-container h1{
	color:#1c2853;
	font-family: 'Open Sans', Arial, sans-serif;
	font-size:1.1em;
	font-weight:bold;
	}
	
.article-container p{
	color:#ea9e32;
	font-family: 'Open Sans', Arial, sans-serif;
	font-size:1.2em;
	line-height:30px;
	}

@media (max-width: 450px){
	
.article-container h1{
		font-size:0.9em;
		}
		
.article-container p{
		font-size:1em;
		}
		}


/*Caja texto end*/
	
footer{
	width:100%;
	background-color:#FFFFFF;
	border-top: 1px solid #ea9e32;
	border-bottom: 1px solid #ea9e32;
	}
	
ffooter{font-family:'Verdana',Arial;font-size:.6em;max-width:1000px;margin:1em auto;color:#4b358b;width:98%}
#pie_galletero{max-width:950px;margin:1em auto .5em auto;width:100%;color:#949494;background:#e5e5e5;font-family:Arial,Helvetica,sans-serif}
#pie_galletero a{color:#949494}#pie_galletero a:visited{color:#949494}
#pie_galletero_left{width:auto;vertical-align:middle;display:inline-block;margin:.5em;font-size:.8em;text-align:left}
#pie_galletero_right{text-align:right;width:20%;vertical-align:middle;display:inline-block;margin:.5em}
#pie_galletero_right input{margin:.3em;padding:.1em 0;cursor:pointer}
#info_cook{font-family:Arial,Helvetica,sans-serif;max-width:950px;width:100%;display:block;margin:0 auto;text-align:left;font-size:.7em;color:#949494;background:#e5e5e5}
.texto_cook{width:96%;margin:0 auto}.closeCookiesPolicy{text-align:right}.closeCookiesPolicy a{color:#666;text-decoration:none;font-size:15px;margin:.5em;font-weight:bold}

	
.ima-foot{
	max-width:1100px;
	width:99%;
	margin:auto;
	}
	
.pie1{
	display:block;
	}

.pie2{
	display:none;
	}
	
@media (max-width: 1090px){
	
.skeleton{
	width:58%;
	}
	
section.formulario p{
	font-size:1em;
	}
	
.espacio_btn input{
	margin:0.2em auto;
	}
	
section.formulario{
	margin-left:7em;
	}
	}

@media (max-width: 1000px){
	
section.formulario{
	margin-left:2em;
	}
	
.skeleton{
	width:62%;
	}
	
.espacio_btn input{
	font-size:0.9em;
	}
	}

@media (max-width: 950px){

section.formulario{
	margin-left:0em;
	}
	
.skeleton{
	width:68%;
	}
	
.legal{
	margin:1.6em auto;
	}	
	}

@media (max-width: 900px){
	
.skeleton{
	width:100%;
	}	
	
section.formulario{
	width:100%;
	margin-left:0em;
	}
	
.espacio_btn input{
	font-size:1.2em;
	}
	}

@media (max-width: 775px){
	
.claim h1{
	font-size:1em;
	}

.claim h2{
	font-size:1em;
	}
	
.logo-sps{
	width:30%;
	}
	
header{
	height:80px;
	}
	}
	
@media (max-width: 550px){
	
.pie1{
	display:none;
	}

.pie2{
	display:block;
	}
	
.claim h1{
	font-size:0.8em;
	}

.claim h2{
	font-size:0.8em;
	}	
	}

@media (max-width: 450px){
	
.claim h1{
	font-size:0.6em;
	}

.claim h2{
	font-size:0.6em;
	}	
	
.logo-sps{
	width:30%;
	}
	
header{
	height:60px;
	}
	}
	
@media (max-width: 350px){
	
.claim h1{
	font-size:0.4em;
	}

.claim h2{
	font-size:0.4em;
	}	
	}


	