#pie_galletero{
display:block;
position:relative;
margin:0 auto;
max-width:990px;
width:auto;
height:auto;
padding:10px;
font-size:.8em;
color:#175E8D;
background:#ccc;
}

.pie_galletero_left{
display:block;
float:left;
padding-left:2px;
width:80%;
}
#pie_galletero_right{
display:block;
float:left;
}


#cookie_info{
display:block;
cursor:pointer;
text-align:center;
line-height:30px;
}
#cookie_info{
font-size:.9em;
color:#175E8D;
}
#cookie_info:hover{
color:#0F3F63;
}
.cookieButton{
color:#eee;
background:#EB6F04;
font-size:12px;
font-family:Arial,Helvetica,sans-serif;
border:0;
padding:4px;
}
.cookieButton:hover{
color:#fff;
cursor:pointer;
}

#info_cook
{
display:block;
margin:0 auto;
width:auto;
max-width:990px;
margin-top:4px;
padding:40px;
font-size:.8em;
color:#175E8D;
background:#B9DCF2;
-webkit-font-smoothing:antialiased;
-webkit-box-shadow:inset 0 0 18.75em rgba(195,225,243,.9);
-moz-box-shadow:inset 0 0 18.75em rgba(195,225,243,.9);
box-shadow:inset 0 0 18.75em rgba(195,225,243,.9); 
}
#info_cook a{
color:#175E8D;
}
#info_cook a:hover{
color:#2A231E;
}
.ulCookies{
margin-left:-16px;
color:#175E8D;
}

#info_cook li p{
color:#175E8D;
}

#info_cook li{
list-style:disc;
color:#175E8D;
}

.closeCookiesPolicy a{
display:block;
position:relative;
top:-10px;
text-decoration:none !important;
font-size:200%;
font-weight:bold;
}

footer{
	background-color:#d7d7d7;
	width:100%;
	padding-top:1em;
	text-align:center;
	margin:0 auto;
	height:70px;	
	}
	
footer a{
	font-size: 0.8em;
	text-decoration:none;
	color:#989898;
	font-family: 'Franklin Gothic Book';
	}

ffooter{font-family:'Verdana',Arial;font-size:.6em;max-width:1000px;margin:1em auto;color:#4b358b;width:98%}#pie_galletero{max-width:950px;margin:1em auto .5em auto;width:100%;color:#949494;background:#e5e5e5;font-family:Arial,Helvetica,sans-serif}#pie_galletero a{color:#949494}#pie_galletero a:visited{color:#949494}#pie_galletero_left{width:auto;vertical-align:middle;display:inline-block;margin:.5em;font-size:.8em;text-align:left}#pie_galletero_right{text-align:right;width:20%;vertical-align:middle;display:inline-block;margin:.5em}#pie_galletero_right input{margin:.3em;padding:.1em 0;cursor:pointer}#info_cook{font-family:Arial,Helvetica,sans-serif;max-width:950px;width:100%;display:block;margin:0 auto;text-align:left;font-size:.7em;color:#949494;background:#e5e5e5}.texto_cook{width:96%!important;margin:0 auto}.closeCookiesPolicy{text-align:right}.closeCookiesPolicy a{color:#666;text-decoration:none;font-size:15px;margin:.5em;font-weight:bold}