@charset "UTF-8";

*{
	margin:0;
	padding:0;
	}

img{
	width:99%;
	height:auto;
	}

@font-face{
	font-family: 'Conv_Helvetica-Light';
	src: url('../fonts/Helvetica-Light.eot');
	src: local('☺'), url('../fonts/Helvetica-Light.woff') format('woff'), url('../fonts/Helvetica-Light.ttf') format('truetype'), url('../fonts/Helvetica-Light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
	}
	
@font-face{
	font-family: 'Conv_Helvetica-regular';
	src: url('../fonts/Helvetica-regular.eot');
	src: local('☺'), url('../fonts/Helvetica-regular.woff') format('woff'), url('../fonts/Helvetica-regular.ttf') format('truetype'), url('../fonts/Helvetica-regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
	}
	
@font-face{
	font-family: 'Conv_Helvetica-Bold';
	src: url('../fonts/Helvetica-Bold.eot');
	src: local('☺'), url('../fonts/Helvetica-Bold.woff') format('woff'), url('../fonts/Helvetica-Bold.ttf') format('truetype'), url('../fonts/Helvetica-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
	}

body{
	background-color:#FFFFFF;
	font-family: 'Conv_Helvetica-regular';
	}

header{
	width:100%;
	}

.cabecera{
	width:99%;
	max-width:1100px;
	margin:auto;
	min-height:70px;
	}

.logo{
	width:26%;
	float:left;
	padding:0.4em 0 0 0;
	}

.cabecera h1{
	width:25%;
	float:right;
	font-family: 'Conv_Helvetica-Light';
	font-size:1.2em;
	color:#c30080;
	padding:0.7em 0;
	}

.basic-content{
	width:100%;
	float: none;
	clear: both;
	}

.small-content{
	width:99%;
	max-width:1200px;
	margin:auto;
	background-image: url(../img/158/background.jpg);
	background-repeat:no-repeat;
	background-size:contain;
	}

.skeleton{
	width:65%;
	display:inline-block;
	vertical-align:middle;
	float: none;
	clear: both;
	}

.mvl-image{
	display:none;
	}

/*Formulario*/

section.formulario{
	width:28%;
	display:inline-block;
	vertical-align:middle;
	background-color:#c30080;
	margin-top:6em;
	margin-bottom:15em;
	}

section.formulario p{
	font-size:1.5em;
	color:#FFFFFF;
	line-height:27px;
	margin-top:-0.8em;
	margin-bottom:0.7em;
	}

section.formulario p .wait{
	font-size:0.82em;
	color:#FFFFFF;
	}

section.formulario #enviarPorMailSolicitaInfo{
	width:99%;
	margin:.2em auto;
	text-align:center;
	padding:.4em 0;
	}

.formulario .celda{
	background-color:#FFFFFF;
	font-size:.9em;
	display:block;
	width:70%;
	min-height:40px;
	margin:auto;
	margin-top:0.6em;
	color:#000000;
	border:0;
	text-align:left;
	padding-left:2.9em;
	padding-top:0.3em;
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	border-radius:0;
	}

.formulario .celda:focus{
	outline:0px;
	}

.legal{
	font-size:.7em;
	width:84%;
	text-align:left;
	color: #FFFFFF;
	margin:0.2em auto;
	font-family: 'Conv_Helvetica-Light';
	}

.legal input{
	vertical-align: middle;
	}

.legal a{
	color:#FFFFFF;
	}

.espacio_btn{
	width:94%;
	text-align:center;
	margin:.5em auto;
	}	

.espacio_btn input{
	cursor:pointer;
	width:88%;
	padding:0.4em 0;
	color: white;
	border:0;
	font-size:1.6em;
	margin:0.35em 0 0.3em 0;
	background-color:#A3BF2A;
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	border-radius:0;
	}

.espacio_btn input:hover{
	background-color:#849b1e;
	}

input[placeholder], [placeholder], *[placeholder]{
	color:#000000 !important;
	font-family: 'Conv_Helvetica-Light';
	font-weight:lighter;
	}

::-webkit-input-placeholder{
	color:#000000;
	font-family: 'Conv_Helvetica-Light';
	font-weight:lighter;
	}

*:-moz-placeholder{
	color:#000000;
	font-family: 'Conv_Helvetica-Light';
	font-weight:lighter;
	}

*::-moz-placeholder{
	color:#000000;
	font-family: 'Conv_Helvetica-Light';
	font-weight:lighter;
	}

*:-ms-input-placeholder{
	color:#000000;
	font-family: 'Conv_Helvetica-Light';
	font-weight:lighter;
	}

section .formulario .name{
	background-image: url(../img/158/name-icon.png);
	background-repeat:no-repeat;
	}

section .formulario .phone{
	background-image: url(../img/158/phone-icon.png);
	background-repeat:no-repeat;
	}

section .formulario .mail{
	background-image: url(../img/158/mail-icon.png);
	background-repeat:no-repeat;
	}

.text-content{
	width:99%;
	max-width:1200px;
	margin:auto;
	margin-top: 2em;
	}

/*Caja 1*/

.box1{
	width:40%;
	display:inline-block;
	vertical-align:top;
	border: 1px solid #c30080;
	margin-bottom:2em;
	margin-left:2em;
	min-height:580px;
	}

.box1 img{
	width:100%;
	}

.box1 h1{
	text-align:center;
	font-family: 'Conv_Helvetica-Bold';
	color:#c30080;
	font-size:1.7em;
	margin:0.5em 0;
	}

.box1 h2{
	width:90%;
	font-size:1.1em;
	margin: 0 auto 0.6em auto;
	}

.box1 p{
	width:90%;
	font-size:0.9em;
	margin: auto;
	font-family: 'Conv_Helvetica-Light';
	line-height:20px;
	}


.box1 .space-top{
	margin-top:0.8em;
	}	

/*Caja 2*/
	
.box2{
	width:40%;
	display:inline-block;
	vertical-align:top;
	border: 1px solid #009fdb;
	margin-bottom:2em;
	margin-left:8.5em;
	min-height:580px;
	}

.box2 img{
	width:100%;
	}

.box2 h1{
	text-align:center;
	font-family: 'Conv_Helvetica-Bold';
	color:#009FDB;
	font-size:1.7em;
	margin:0.5em 0;
	}

.box2 h2{
	width:90%;
	font-size:1.1em;
	margin: 0 auto 0.6em auto;
	}

.box2 p{
	width:90%;
	font-size:0.9em;
	margin: auto;
	font-family: 'Conv_Helvetica-Light';
	line-height:20px;
	}

.box2 .space-top{
	margin-top:0.8em;
	}	

/*Caja 3*/

.box3{
	width:40%;
	display:inline-block;
	vertical-align:top;
	border: 1px solid #f89829;
	margin-bottom:2em;
	margin-left:2em;
	min-height:580px;
	}

.box3 img{
	width:100%;
	}

.box3 h1{
	text-align:center;
	font-family: 'Conv_Helvetica-Bold';
	color:#F89829;
	font-size:1.7em;
	margin:0.5em 0;
	}

.box3 h2{
	width:90%;
	font-size:1.1em;
	margin: 0 auto 0.6em auto;
	}

.box3 p{
	width:90%;
	font-size:0.9em;
	margin: auto;
	font-family: 'Conv_Helvetica-Light';
	line-height:20px;
	}

.box3 .space-top{
	margin-top:0.8em;
	}

/*Caja 4*/
	
.box4{
	width:40%;
	display:inline-block;
	vertical-align:top;
	border: 1px solid #a3bf2a;
	margin-bottom:2em;
	margin-left:8.5em;
	min-height:580px;
	}

.box4 img{
	width:100%;
	}

.box4 h1{
	text-align:center;
	font-family: 'Conv_Helvetica-Bold';
	color:#A3BF2A;
	font-size:1.7em;
	margin:0.5em 0;
	}

.box4 h2{
	width:90%;
	font-size:1.1em;
	margin: 0 auto 0.6em auto;
	}

.box4 p{
	width:90%;
	font-size:0.9em;
	margin: auto;
	font-family: 'Conv_Helvetica-Light';
	line-height:20px;
	}

.box4 .space-top{
	margin-top:0.8em;
	}

/*Fin Cajas*/

.text-content .politicas{
	width:30%;
	font-size:0.8em;
	color:#000000;
	margin-bottom:4em;
	text-align:center;
	}

.politicas a{
	color:#000000;
	}

footer{
	width:100%;
	background-color:#009fdb;
	height:40px;
	}

/*Responsive*/

@media (max-width:1155px){
	
section.formulario{
	margin-bottom:10em;
	}
	
section.formulario p{
	font-size:1.37em;
	}
	
.espacio_btn input{
	font-size: 1.3em;
	}
	
.cabecera h1{
	width:32%;
	}
	
.logo{
	width:29%;
	}
	
.text-content .politicas{
	width:40%;
	}
	}

@media (max-width:1050px){
	
section.formulario{
	width:33%;
	}
	
.logo{
	width:32%;
	padding:0.7em 0 0 0;
	}
	}

@media (max-width:915px){
	
.box1{
	width:99%;
	min-height:800px;
	margin-right:0;
	margin-left:0;
	text-align:center;
	}

.box2{
	width:99%;
	min-height:800px;
	margin-right:0;
	margin-left:0;
	text-align:center;
	}
	
.box3{
	width:99%;
	min-height:800px;
	margin-right:0;
	margin-left:0;
	text-align:center;
	}
	
.box4{
	width:99%;
	min-height:800px;
	margin-right:0;
	margin-left:0;
	text-align:center;
	}
	}
	

@media (max-width:900px){
	
section.formulario{
	width:35%;
	margin-bottom:5em;
	}
	
.skeleton{
	width:55%;
	}
	}

@media (max-width:865px){
	
header{
	display:none;
	}
	
.small-content{
	background-image:none;
	}
	
.skeleton{
	width:100%;
	}
	
.mvl-image{
	display:block;
	}
	
section.formulario{
	width:99%;
	margin-top:0;
	margin-bottom:0;
	}
	
.text-content .politicas{
	width:50%;
	}
	}

@media (max-width:730px){

.box1{
	min-height:720px;
	}
	
.box2{
	min-height:720px;
	}
	
.box3{
	min-height:720px;
	}
	
.box4{
	min-height:720px;
	}
	
.text-content .politicas{
	width:70%;
	}
	}

@media (max-width:600px){

.box1{
	min-height:640px;
	}
	
.box2{
	min-height:640px;
	}
	
.box3{
	min-height:640px;
	}
	
.box4{
	min-height:640px;
	}
	}

@media (max-width:500px){

.box1{
	min-height:575px;
	}
	
.box1 h1{
	font-size:1.4em;
	}
	
.box2{
	min-height:575px;
	}
	
.box2 h1{
	font-size:1.4em;
	}
	
.box3{
	min-height:575px;
	}
	
.box3 h1{
	font-size:1.4em;
	}
	
.box4{
	min-height:575px;
	}
	
.box4 h1{
	font-size:1.4em;
	}
	
.text-content .politicas{
	width:95%;
	}
	}
	
@media (max-width:400px){

.box1{
	min-height:540px;
	}
	
.box2{
	min-height:540px;
	}
	
.box3{
	min-height:540px;
	}
	
.box4{
	min-height:540px;
	}
	
.text-content .politicas{
	font-size:0.7em;
	}
	}
	

	