@charset "UTF-8";

*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	}

img{
	width:99%;
	height:auto;
	}

@font-face{
	font-family: 'Conv_Helvetica-Light';
	src: url('../fonts/Helvetica-Light.eot');
	src: local('☺'), url('../fonts/Helvetica-Light.woff') format('woff'), url('../fonts/Helvetica-Light.ttf') format('truetype'), url('../fonts/Helvetica-Light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
	}
	
@font-face{
	font-family: 'Conv_Helvetica-regular';
	src: url('../fonts/Helvetica-regular.eot');
	src: local('☺'), url('../fonts/Helvetica-regular.woff') format('woff'), url('../fonts/Helvetica-regular.ttf') format('truetype'), url('../fonts/Helvetica-regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
	}
	
@font-face{
	font-family: 'Conv_Helvetica-Bold';
	src: url('../fonts/Helvetica-Bold.eot');
	src: local('☺'), url('../fonts/Helvetica-Bold.woff') format('woff'), url('../fonts/Helvetica-Bold.ttf') format('truetype'), url('../fonts/Helvetica-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
	}

body{
	background-color:#FFFFFF;
	font-family: 'Conv_Helvetica-regular';
	}

header{
	width:100%;
	border-top:5px solid #009ddd;
	min-height:75px;
	}

.cabecera{
	width:99%;
	max-width:1200px;
	margin:auto;
	}

.cabecera img{
	width:25%;
	float:left;
	padding:0.4em 0;
	margin-left:3em;
	}

.cabecera h1{
	width:40%;
	font-family: 'Conv_Helvetica-Light';
	float:right;
	font-size:1.9em;
	color:#c30080;
	line-height:75px;
	margin-right:-2em;
	}

.cabecera h1 span{
	font-family: 'Conv_Helvetica-Bold';
	}

.basic-content{
	width:100%;
	clear: both;
	}

.small-content{
	width:99%;
	max-width:1200px;
	margin:auto;
	background-image:url(../img/163/background.jpg);
	background-repeat:no-repeat;
	background-size:contain;
	clear:both;
	}

.skeleton{
	width:60%;
	display:inline-block;
	vertical-align:middle;
	clear:both;
	}

.mvl{
	display:none;
	}

/*Formulario*/

section.formulario{
	width:28%;
	display:inline-block;
	background-color:rgba(125,0,128,0.7);
	vertical-align:middle;
	margin-top:4em;
	margin-bottom:18em;
	margin-left:3em;
	
	}

section.formulario p{
	font-size:1.38em;
	color:#FFFFFF;
	line-height:23px;
	margin-top:-0.1em;
	margin-bottom:0.7em;
	}

section.formulario p .wait{
	font-family: 'Conv_Helvetica-Bold';
	font-size:1.02em;
	color:#FFFFFF;
	}

section.formulario #enviarPorMailSolicitaInfo{
	width:99%;
	margin:.2em auto;
	text-align:center;
	padding:.4em 0;
	}

.formulario .celda{
	background-color:#FFFFFF;
	font-size:.9em;
	display:block;
	width:82%;
	min-height:40px;
	margin:auto;
	margin-top:0.6em;
	color:#000000;
	border:0;
	text-align:left;
	padding-left:3.5em;
	padding-top:0.3em;
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	border-radius:0;
	}

.formulario .celda:focus{
	outline:0px;
	}

.legal{
	font-size:.7em;
	width:84%;
	text-align:left;
	color: #FFFFFF;
	margin:0.4em auto;
	font-family: 'Conv_Helvetica-Light';
	}

.legal input{
	vertical-align: middle;
	}

.legal a{
	color:#FFFFFF;
	}

.espacio_btn{
	width:94%;
	text-align:center;
	margin:0 auto .6em auto;
	}	

.espacio_btn input{
	cursor:pointer;
	width:88%;
	font-family: 'Conv_Helvetica-Bold';
	padding:0.6em 0;
	color: white;
	border:0;
	font-size:1.5em;
	margin:0.35em 0 0.7em 0;
	background-color:#A3BF2A;
	-webkit-appearance:none;
	-webkit-border-radius:0;
	border-radius:0;
	}

.espacio_btn input:hover{
	background-color:#849b1e;
	}

input[placeholder], [placeholder], *[placeholder]{
	color:#000000 !important;
	font-family: 'Conv_Helvetica-Light';
	font-weight:lighter;
	}

::-webkit-input-placeholder{
	color:#000000;
	font-family: 'Conv_Helvetica-Light';
	font-weight:lighter;
	}

*:-moz-placeholder{
	color:#000000;
	font-family: 'Conv_Helvetica-Light';
	font-weight:lighter;
	}

*::-moz-placeholder{
	color:#000000;
	font-family: 'Conv_Helvetica-Light';
	font-weight:lighter;
	}

*:-ms-input-placeholder{
	color:#000000;
	font-family: 'Conv_Helvetica-Light';
	font-weight:lighter;
	}

section.formulario .name{
	background-image:url(../img/163/user-form.jpg);
	background-repeat:no-repeat;
	}

section.formulario .phone{
	background-image:url(../img/163/phone-form.jpg);
	background-repeat:no-repeat;
	}

section.formulario .mail{
	background-image:url(../img/163/mail-form.jpg);
	background-repeat:no-repeat;
	}

.text-content{
	width:99%;
	max-width:1200px;
	margin:-0.8em auto 0 auto;
	background-color:#f9f9f9;
	}

/*Acordeon Start*/

.accordion dl,
.accordion-list {
  	border: 1px solid #ddd;
	}

.accordion dl:after,
.accordion-list:after {
  	content: "";
 	display: block;
  	height: 1em;
  	width: 100%;
  	background-color: #809622;
	}

.accordion dd,
.accordion__panel {
  	background-color: #FFFFFF;
  	font-size: 1em;
  	line-height: 1.5em;
	}

.accordion h1{
	color:#009ddd;
	padding: 1em 2em 1em 2em;
	font-size:1.2em;
	text-align: center;
	font-family: 'Conv_Helvetica-Bold';
	}

.accordion p {
  	padding: 0.2em 2em 1em 2em;
	font-size:1em;
	font-family: 'Conv_Helvetica-regular';
	text-align: center;
	}

.accordion {
  	position:relative;
 	background-color:#FFFFFF;
	}

.container {
  	max-width: 960px;
  	margin: 0 auto;
  	padding: 4em 0 5em 0;
	}

.accordionTitle,
.accordion__Heading {
  background-color: #A3BF2A;
  text-align: center;
  font-size:1.3em;
  padding: 1em;
  font-family: 'Conv_Helvetica-Bold';
  display: block;
  text-decoration: none;
  color: #fff;
  -webkit-transition: background-color 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out;
  border-bottom: 2px solid #FFFFFF;
  }
  
.accordionTitle:before,
.accordion__Heading:before {
  content: "+";
  font-size: 1.5em;
  line-height: 0.5em;
  float: left;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  }
  
.accordionTitle:hover,
.accordion__Heading:hover {
  background-color: #809622;
  }

.accordionTitleActive,
.accordionTitle.is-expanded {
  background-color: #809622;
  }

.accordionTitleActive:before,
.accordionTitle.is-expanded:before {
  -webkit-transform: rotate(-225deg);
  transform: rotate(-225deg);
  }

.accordionItem {
  height: auto;
  overflow:scroll;
  max-height: 50em;
  -webkit-transition: max-height 1s;
  transition: max-height 1s;
  }

@media screen and (min-width: 48em) {
  .accordionItem {
    max-height: 15em;
    -webkit-transition: max-height 0.5s;
    transition: max-height 0.5s;
    }
	}

.accordionItem.is-collapsed {
    max-height: 0;
	}	

.no-js .accordionItem.is-collapsed {
  	max-height: auto;
	}

.animateIn {
  	-webkit-animation: accordionIn 0.45s normal ease-in-out both 1;
 	animation: accordionIn 0.45s normal ease-in-out both 1;
	}

.animateOut {
  	-webkit-animation: accordionOut 0.45s alternate ease-in-out both 1;
    animation: accordionOut 0.45s alternate ease-in-out both 1;
	}

@-webkit-keyframes accordionIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.9) rotateX(-60deg);
            transform: scale(0.9) rotateX(-60deg);
    -webkit-transform-origin: 50% 0;
            transform-origin: 50% 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes accordionIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.9) rotateX(-60deg);
            transform: scale(0.9) rotateX(-60deg);
    -webkit-transform-origin: 50% 0;
            transform-origin: 50% 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes accordionOut {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0.9) rotateX(-60deg);
            transform: scale(0.9) rotateX(-60deg);
  }
}
@keyframes accordionOut {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0.9) rotateX(-60deg);
            transform: scale(0.9) rotateX(-60deg);
  }
}

/*Acordeon final*/

footer{
	width:100%;
	background-color:#009ddd;
	padding:2em 0;
	}

.letter{
	width:99%;
	max-width:1050px;
	margin:auto;
	padding:2em;
	font-family: 'Conv_Helvetica-regular';
	}

.politicas{
	font-size:1em;
	color:#FFFFFF;
	text-align:left;
	}

.politicas a{
	color:#FFFFFF;
	}

.tipe{
	margin-top:3em;
	}

.tipe p{
	color:#FFFFFF;
	font-size:1.1em;
	display:inline-block;
	vertical-align:middle;
	margin-right:4em;
	}

.tipe p span{
	font-family: 'Conv_Helvetica-Bold';
	}

.text2{
	margin-top:3em;
	color:#FFFFFF;
	margin-bottom:2em;
	font-size:0.9em;
	}

/*Responsive*/

@media (max-width:1345px){

.cabecera h1{
	margin-right:0;
	}
	}

@media (max-width:1135px){
	
section.formulario{
	width:31%;
	margin-top:2em;
	}
	
.text-content{
	margin:-2.4em auto 0 auto;
	}
	}

@media (max-width:1020px){
	
section.formulario{
	width:34%;
	margin-top:0.5em;
	}
	
.text-content{
	margin:-5.3em auto 0 auto;
	}
	}
	

@media (max-width:945px){

.cabecera h1{
	font-size:1.5em;
	}
	
.cabecera img{
	margin-top:0.6em;
	}
	}

@media (max-width:925px){
	
header{
	display:none;
	}
	
.small-content{
	background-image:none;
	}
	
.skeleton{
	width:100%;
	}
	
.mvl{
	display:block;
	width:100%;
	}
	
section.formulario{
	width: 100%;
	margin-left:0;
	margin-top:-0.1em;
	margin-bottom:0;
	}
		
.text-content{
	margin:-0em auto 0 auto;
	}
	}

@media (max-width:450px){
	
.espacio_btn input{
	font-size:1.2em;
	}
	}

