*{
	padding:0;
	margin:0;
	}
	
img{
	width: 100%;
	}

@font-face{
	font-family: 'Conv_Helvetica';
	src: url('../fonts/Helvetica.eot');
	src: local('☺'), url('../fonts/Helvetica.woff') format('woff'), url('../fonts/Helvetica.ttf') format(			    'truetype'), url('../fonts/Helvetica.svg') format('svg');
	font-weight: normal;
	font-style: normal;
	}

body{
    font-family: 'Conv_Helvetica',Arial;
	background-color:#FFF;
	}
	
/*Start Slider fondo*/
	
.cb-slideshow li span{ 
    width: 100%;
    height: 100%;
	max-height:650px;
    position: absolute;
    top: 0px;
    left: 0px;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    opacity: 0;
    z-index: -30000;
	-webkit-backface-visibility: hidden;
    -webkit-animation: imageAnimation 36s linear infinite 0s;
    -moz-animation: imageAnimation 36s linear infinite 0s;
    -o-animation: imageAnimation 36s linear infinite 0s;
    -ms-animation: imageAnimation 36s linear infinite 0s;
    animation: imageAnimation 36s linear infinite 0s; 
	}


.cb-slideshow li:nth-child(1) span{ 
    background-image: url(../img/097/background02.jpg);
	}
.cb-slideshow li:nth-child(2) span{ 
    background-image: url(../img/097/background01.jpg);
    -webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    -o-animation-delay: 6s;
    -ms-animation-delay: 6s;
    animation-delay: 6s; 
	}
.cb-slideshow li:nth-child(3) span{ 
    background-image: url(../img/097/background02.jpg);
    -webkit-animation-delay: 12s;
    -moz-animation-delay: 12s;
    -o-animation-delay: 12s;
    -ms-animation-delay: 12s;
    animation-delay: 12s; 
	}
.cb-slideshow li:nth-child(4) span{ 
    background-image: url(../img/097/background01.jpg);
    -webkit-animation-delay: 18s;
    -moz-animation-delay: 18s;
    -o-animation-delay: 18s;
    -ms-animation-delay: 18s;
    animation-delay: 18s; 
	}
.cb-slideshow li:nth-child(5) span{ 
    background-image: url(../img/097/background02.jpg);
    -webkit-animation-delay: 24s;
    -moz-animation-delay: 24s;
    -o-animation-delay: 24s;
    -ms-animation-delay: 24s;
    animation-delay: 24s; 
	}
.cb-slideshow li:nth-child(6) span{ 
    background-image: url(../img/097/background01.jpg);
    -webkit-animation-delay: 30s;
    -moz-animation-delay: 30s;
    -o-animation-delay: 30s;
    -ms-animation-delay: 30s;
    animation-delay: 30s; 
	}
.cb-slideshow li:nth-child(2) div{ 
    -webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    -o-animation-delay: 6s;
    -ms-animation-delay: 6s;
    animation-delay: 6s; 
	}
.cb-slideshow li:nth-child(3) div{ 
    -webkit-animation-delay: 12s;
    -moz-animation-delay: 12s;
    -o-animation-delay: 12s;
    -ms-animation-delay: 12s;
    animation-delay: 12s; 
	}
.cb-slideshow li:nth-child(4) div{ 
    -webkit-animation-delay: 18s;
    -moz-animation-delay: 18s;
    -o-animation-delay: 18s;
    -ms-animation-delay: 18s;
    animation-delay: 18s; 
	}
.cb-slideshow li:nth-child(5) div{ 
    -webkit-animation-delay: 24s;
    -moz-animation-delay: 24s;
    -o-animation-delay: 24s;
    -ms-animation-delay: 24s;
    animation-delay: 24s; 
	}	
.cb-slideshow li:nth-child(6) div{ 
    -webkit-animation-delay: 30s;
    -moz-animation-delay: 30s;
    -o-animation-delay: 30s;
    -ms-animation-delay: 30s;
    animation-delay: 30s; 
	}

/* Animation for the slideshow images */

@-webkit-keyframes imageAnimation{ 
    0% { opacity: 0;
    -webkit-animation-timing-function: ease-in; }
    5% { opacity: 1;
         -webkit-animation-timing-function: ease-out; }
   50% { opacity: 1 }
  75% { opacity: 0 }
    100% { opacity: 0 }
	}
@-moz-keyframes imageAnimation{ 
    0% { opacity: 0;
    -moz-animation-timing-function: ease-in; }
    5% { opacity: 1;
         -moz-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
	}
@-o-keyframes imageAnimation{ 
    0% { opacity: 0;
    -o-animation-timing-function: ease-in; }
   5% { opacity: 1;
         -o-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
	}
@-ms-keyframes imageAnimation{ 
    0% { opacity: 0;
    -ms-animation-timing-function: ease-in; }
    5% { opacity: 1;
         -ms-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
	}
@keyframes imageAnimation{ 
    0% { opacity: 0;
    animation-timing-function: ease-in; }
   5% { opacity: 1;
         animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
	}

/*End Slider fondo*/


	
/*HEADER*/
	
header{
	background-color:#FFF;
	width:100%;
	}
	
header .cabecera{
	width:99%;
	margin:0 auto;
	max-width:900px;
	padding:0;
	text-align:center;
	}
	
header .cabecera figure{
	display:inline-block;
	width:23%;
	vertical-align:middle;
	margin:.2em 0;
	margin-left:4em;
	}
		
.titulo{
	display:inline-block;
	font-size:1.8em;
	vertical-align:middle;
	margin-right:0.7em;
	color:#1d365f;
	font-weight:bold;
	}
	

/*Contenido-basico*/

section.basic_content{
	width:100%;
	}

section.basic_content .small_content{
	max-width:1100px;
	margin:0 auto;
	padding:2em 0 1em 0;
	}
	
section.foto{
	width:46%;
	max-width:600px;
	display:inline-block;
	vertical-align: middle;
	margin-left:6.8em;
	margin-right:1em;
	}
			
section.formulario{
	width:26%;
	display:inline-block;
	text-align:center;
	vertical-align: middle;
	font-family: 'Conv_Helvetica',Arial;
	}
	
section.formulario p{
	margin:1.1em 0;
	font-size:1.6em;
	color:#1d365f;
	font-weight:bold;
	}

section.formulario #ctcForm, section.formulario #enviarPorMailSolicitaInfo{
	background-color: rgba(255,255,255,0.5);
	width:100%;
	margin:.2em auto;
	text-align:center;
	padding:.4em 0;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #f89829;
	}
	
section.formulario #ctcForm input{
	width:55%;
	display:inline-block;
	vertical-align:middle;
	min-height:40px;
	background-color:#FFF;
	}
	
section.formulario #ctcForm input:last-child{
	font-size:1.1em;
	cursor:pointer;
	width:30%;
	color: white;
	border: 0;
	background-image: -ms-linear-gradient(top, #F68A1E 0%, #FF7301 100%);
	background-image: -moz-linear-gradient(top, #F68A1E 0%, #FF7301 100%);
	background-image: -o-linear-gradient(top, #F68A1E 0%, #FF7301 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #F68A1E), color-stop(1, #FF7301));
	background-image: -webkit-linear-gradient(top, #F68A1E 0%, #FF7301 100%);
	background-image: linear-gradient(to bottom, #F68A1E 0%, #FF7301 100%);
	}
	
.formulario .celda{
	padding-left:.3em;
	background-color:#FFF;
	font-size:.9em;
	display:block;
	width:80%;
	min-height:30px;
	margin:auto;
	margin-top:1.8em;
	color:#857f78;
	text-align:left;
	font-weight:200;
	border: 1px solid #f89829;
	}

.formulario .celda:focus{
	outline:0px;
	}

.legal{
	font-size:.7em;
	font-family:Arial, Helvetica, sans-serif;
	width:83%;
	text-align:left;
	color: #666;
	margin:1.4em auto;
	}
	
.legal input{
	vertical-align:top;
	}
	
.legal a{
	color: #666;
	}
	
.espacio_btn{
	width:90%;
	text-align:center;
	margin:.5em auto;
	}	
	
.espacio_btn input{
	cursor:pointer;
	width:90%;
	padding:.6em;
	color: white;
	border: 0;
	font-size: 1.3em;
	margin:0.9em auto;
	background-color:#f89829;
	}
	
/*Contenido-texto*/	

.text-content{
	max-width:1000px;
	margin:auto;
	margin-top:-5em;
	margin-bottom:3em;
	}
	
.element{
	width:40%;
	display:inline-block;
	vertical-align:top;
	color:#5a5a5a;
	font-size:1em;
	margin:auto;
	margin-left:2.5em;
	}

.element figure{
	max-width:85px;
	margin:auto;
	}
	
.element ul{
	list-style-type:none;
	margin:0;
	padding:0;
	}
	
.element ul li:before{
  	color:#a3bf2a;
  	content:"\2022"; 
  	font-size:1.5em;
  	padding-right:.25em; 
  	position:relative;	
 	top:.1em;
	}
	
footer{
	height:50px;
	background-color:#1d365f;
	}
	
.letra_peq{
	font-size:.7em;
	text-align:left;
	margin-top:3.5em;
	margin-left:2.8em;
	}

.letra_peq a{
	color:#636466;
	}
	
/*PIE*/
	
	
footer{
	background-color:#1d365f;
	width:100%;
	padding:.3em 0;
	text-align:center;
	margin:0 auto;
	}
	
/*COOKIES*/	
		
#pie_galletero{
	max-width:950px;
	margin:1em auto .5em auto;
	width:100%;
	color: #949494;
	background: #e5e5e5;
	font-family:Arial, Helvetica, sans-serif;
	}
		
#pie_galletero a{
	color:#949494;
	}
		
#pie_galletero a:visited{
	color:#949494;
	}	

#pie_galletero_left{
	vertical-align:middle;
	display:inline-block;
	margin:.5em;
	font-size:.8em;
	text-align:center;
	}

#pie_galletero_right{
	text-align:right;
	width:20%;
	vertical-align:middle;
	display:inline-block;
	margin:.5em;
	}
	
#pie_galletero_right input{
	margin:.3em;
	padding:.1em 0;
	cursor:pointer;
	}
	
#info_cook {
	font-family:Arial, Helvetica, sans-serif;
	max-width:950px;
	width:100%;
	display: block;
	margin: 0 auto;
	text-align: left;
	font-size: .7em;
	color: #949494;
	background: #e5e5e5;
	}
	
.texto_cook{
	width:96%;
	margin:0 auto;
	}	
	
	
.closeCookiesPolicy{
	text-align:right;
	}
	
.closeCookiesPolicy a{
	color:#666;
	text-decoration:none;
	font-size:15px;
	margin:.5em;
	font-weight:bold;
	}
	

@media (max-width: 1050px){
	
.cb-slideshow li span{
	max-height:600px;
	}
	}
	
@media (max-width: 945px){
	
.cb-slideshow li span{
	max-height:530px;
	}

.espacio_btn input{
	font-size:1.2em;
	}

section.formulario p{
	font-size:1.3em;
	}
section.foto{
	margin-left:2em;
	}
section.formulario{
	width:32%;
	}
	}

@media (max-width: 800px) {
	
section.formulario{
	display:block;
	width:99%;
	margin-left:0;
	margin-right:0;
	}
		
section.foto{
	width:60%;
	margin-left:8em;
	}

.cb-slideshow li span{
	max-height:1300px;
	margin-top:5.9em;
	}

.titulo{
	margin-top:0.6em;
	margin-right:0;
	}

header .cabecera figure{
	margin-top:1em;
	}
	
#pie_galletero_left{
	width:98%;
	display:block;
	}

#pie_galletero_right{
	text-align:center;
	margin:auto;
	width:98%;
	display:block;
	}
	
.espacio_btn input{
	font-size:1.7em;
	}

.element{
	width:99%;
	text-align:center;
	margin:0;
	}
	
.element figure{
	padding-top:3em;
	}
	}

@media (max-width:690px){
	
.cb-slideshow li span{
	max-height:840px;
	}

header .cabecera figure{
	width:30%;
	}
		
.titulo{
	font-size:1.5em;
	}
	}

@media (max-width:590px){
	.titulo{
	font-size:1.2em;
	}
	}

@media (max-width:510px){
	
.espacio_btn input{
	font-size:1em;
	}
	
.cb-slideshow li span{
	max-height:720px;
	margin-top:4em;
	}
	
header .cabecera figure{
	width:25%;
	margin-top:0.5;
	}
		
.titulo{
	font-size:1em;
	margin-top:0.5em;
	}
	
section.foto{
	width:65%;
	margin-left:4em;
	}
	}

@media (max-width:420px){
	
section.formulario, section.foto {
	width:99%;
	margin-left:0;
	margin-right:0;
	}
	
.cb-slideshow li span{
	max-height:810px;
	}
	}

@media (max-width:360px){
	
.titulo{
	font-size:0.7em;
	}
	
.cb-slideshow li span{
	max-height:700px;
	}
	}
