*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	}
	
img{
	width:99%;
	height:auto;
	}

body{
	background-color:#f0f0f0;
	}
	
@font-face {
	font-family: 'Conv_FrutigerLTStd-Light';
	src: url('../fonts/FrutigerLTStd-Light.eot');
	src: local('☺'), url('../fonts/FrutigerLTStd-Light.woff') format('woff'), url('../fonts/FrutigerLTStd-Light.ttf') format('truetype'), url('../fonts/FrutigerLTStd-Light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_FrutigerLTStd-Bold';
	src: url('../fonts/FrutigerLTStd-Bold.eot');
	src: local('☺'), url('../fonts/FrutigerLTStd-Bold.woff') format('woff'), url('../fonts/FrutigerLTStd-Bold.ttf') format('truetype'), url('../fonts/FrutigerLTStd-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

/*header*/
header{
	width:100%;
	}

.cabecera{
	width:99%;
	max-width:960px;
	background-color:#ffffff;
	margin:auto;
	text-align:right;
	}
.cabecera img{
	margin-top:30px;
	max-width:290px;
	margin-bottom:30px;
	margin-right:15px;
	}

/*basic-content*/

.basic-content{
	width:100%;
	}
/*small-content*/
.small-content{
	width:99%;
	max-width:960px;
	margin:auto;
	background-image:url(../img/165/background.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	}
/*skeleton*/
.skeleton{
	width:60%;
	display:inline-block;
	vertical-align:top;
	}
.photo-web{
	max-width:316px;
	margin-left:2em;
	margin-top:1em;
	}
.mvl{
	display:none;
	}

/*Formulario*/

section.formulario{
	width:28%;
	display:inline-block;
	background-color:#ffffff;
	vertical-align:top;
	margin-top:7em;
	margin-bottom:10em;
	margin-left:3em;
	width:280px;
	height:auto;
	max-width:280px;
	-webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7);
-moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7);
box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7);
	}

section.formulario p{
	font-size:22px;
	font-family: 'Conv_FrutigerLTStd-Light';
	color:#26aae2;
	line-height:23px;
	margin-top:25px;
	margin-bottom:20px;
	padding-left:10px;
	padding-right:10px;
	}

section.formulario span{
	font-family: 'Conv_FrutigerLTStd-Bold';
	font-size:22px;
	color:#26aae2;
	}

section.formulario #enviarPorMailSolicitaInfo{
	width:99%;
	margin:.2em auto;
	text-align:center;
	padding:.4em 0;
	}

.formulario .celda{
	background-color:#FFFFFF;
	border:1px solid #666666;
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;
	display:block;
	width:82%;
	min-height:40px;
	margin:auto;
	margin-top:0.6em;
	color:#333333;
	text-align:left;
	padding-left:10px;
	padding-top:12px;
	padding-bottom:12px;
	-webkit-appearance: none;
	-webkit-border-radius: 3px;
	border-radius:3px;
	}

.formulario .celda:focus{
	outline:0px;
	}

.legal{
	font-size:13px;
	width:84%;
	text-align:left;
	color: #333333;
	margin:10px auto;
	font-family:Arial, Helvetica, sans-serif;
	}

.legal input{
	vertical-align: middle;
	}

.legal a{
	color:#333333;
	}

.espacio_btn{
	width:94%;
	text-align:center;
	margin:0 auto .6em auto;
	}	

.espacio_btn input{
	cursor:pointer;
	width:88%;
	font-family: 'Conv_FrutigerLTStd-Bold';
	text-align:left;
	padding-left:52px;
	padding-right:12px;
	padding-top:5px;
	color: white;
	border:0;
	font-size:14px;
	margin:0.35em 0 0.7em 0;
	background-color:#26aae2;
	-webkit-appearance:none;
	-webkit-border-radius:3px;
	border-radius:3px;
	height:46px;
	max-height:46px;
	-webkit-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.7);
	-moz-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.7);
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.7);
	background-image:url(../img/165/tlefono.png);
	background-repeat:no-repeat;
	background-position:left;
	}

.espacio_btn input:hover{
	background-color:#26aae2;
	}

input[placeholder], [placeholder], *[placeholder]{
	color:#333333 !important;
	font-family:Arial, Helvetica, sans-serif;
	}

::-webkit-input-placeholder{
	color:#333333 !important;
	font-family:Arial, Helvetica, sans-serif;
	}

*:-moz-placeholder{
	color:#333333 !important;
	font-family:Arial, Helvetica, sans-serif;
	}

*::-moz-placeholder{
	color:#333333 !important;
	font-family:Arial, Helvetica, sans-serif;
	}

*:-ms-input-placeholder{
	color:#333333 !important;
	font-family:Arial, Helvetica, sans-serif;
	}

/*text-content*/
.text-content{
	margin:auto;
	width:99%;
	max-width:960px;
	background-color:#ffffff;
	}
.text-principal h1{
	color:#26aae2;
	font-family: 'Conv_FrutigerLTStd-Light';
	font-size:26px;
	padding-top: 20px;
	padding-bottom:15px;
	padding-left:20px;
	}
.text-principal h1 span{
	color:#26aae2;
	font-family: 'Conv_FrutigerLTStd-Bold';
	font-size:26px;
	}
.text-principal p{
	color:#333333;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	text-align:left;
	padding-bottom:40px;
	padding-left:20px;
	padding-right:20px
	}

/*carrusel*/

.item img{
	width:100%;
	height:auto;
	}
	
.container{
	max-width:900px;
	margin:auto;
	padding-bottom:40px;
	}
    #owl-adeslas .item{
        padding-bottom: 20px;
		margin:auto;
        color: #FFF;
        text-align: center;
		width:99%;
    }
    .customNavigation{
      text-align: center;
	  
    }
    .customNavigation a{
		padding:10px;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }
	
	.customNavigation img{
 	max-width:50px;
 	display:inline-block;
 	vertical-align:middle; 
	}
	.customNavigation img:hover{
		background-color:#bbdbed;
		background-size:contain;
		background-position:center;
		}

/*footer*/
footer{
	width:99%;
	max-width:960px;
	margin:auto;
	background-color:#2c3039;
	}
.informacion{
	width:36%;
	display:inline-block;
	vertical-align:top;
	}
.informacion h3{
	font-family: 'Conv_FrutigerLTStd-Light';
	font-size:19px;
	color:#ffffff;
	padding-left:20px;
	padding-top:30px;
	padding-bottom:30px;
	}
.informacion span{
	font-family: 'Conv_FrutigerLTStd-Bold';
	font-size:19px;
	color:#ffffff;
	}
.politicas{
	width:27%;
	display:inline-block;
	vertical-align:top;
	background-color:#1f2228;
	padding-bottom:63px;
	}
.politicas h3{
	font-family: 'Conv_FrutigerLTStd-Light';
	font-size:19px;
	color:#ffffff;
	padding-left:20px;
	padding-right:20px;
	padding-top:30px;
	padding-bottom:20px;
	}
.politicas span{
	font-family: 'Conv_FrutigerLTStd-Bold';
	font-size:19px;
	color:#ffffff;
	}
.politicas p{
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#26aae1;
	padding-left:20px;
	padding-right:20px;
	}
.politicas a{
	text-decoration:underline;
	color:#26aae2;}
	
/*mediaqueries*/

@media (max-width:928px){
.informacion{
	width:35%;
	}
.politicas{
	width:29%;
	}
	}
@media (max-width:858px){
.skeleton{
	width:50%;
	}
section.formulario{
	margin-left:8em;
	}
	}
/*movil*/

@media (max-width:855px){
.small-content{
	background-image:none;
	}
	
.skeleton{
	width:100%;
	}
.photo-web{
	display:none;
	}
	
.mvl{
	display:block;
	width:100%;
	}
	
section.formulario{
	width: 100%;
	max-width:none;
	max-height:none;
	margin-left:0;
	margin-top:-0.1em;
	margin-bottom:0;
	-webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
-moz-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
	}
	}

@media (max-width:845px){
.informacion{
	width:33%;
	}
.politicas{
	width:32%;
	}
}

@media (max-width:785px){
.informacion{
	width:45%;
	}
.politicas{
	width:99%;
	}
}

@media (max-width:610px){
.informacion{
	width:99%;
	}
.politicas{
	width:99%;
	}
.cabecera img{
	margin-top:15px;
	margin-bottom:15px;
	}
}

@media (max-width:400px){
.text-principal h1{
	font-size:22px;
	}
}


