@charset "utf-8";
/* CSS Document */

* {
	padding:0;
	margin:0;
	
	}

img {
	
	width: 99%;
	height:auto;
	
	}
	
	
body{
    font-family: 'Conv_Helvetica', Arial;
	background-color:#FFF;
	}
	
@font-face {
	font-family: 'Conv_Helvetica';
	src: url('../fonts/Helvetica.eot');
	src: local('☺'), url('../fonts/Helvetica.woff') format('woff'), url('../fonts/Helvetica.ttf') format('truetype'), url('../fonts/Helvetica.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
	
/*CONTENIDO*/
.contenido {
	background-image:url(../img/075/background.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	
	width:100%;
}

.contenido-basico {

	width:99%;
	margin:0 auto;
	vertical-align: middle;
	text-align:center;
	max-width:1100px;
}
	
	
.foto {
	display:inline-block;
	vertical-align: middle;
	width:75%;
	text-align:right;
	margin-right:-0.8em;

	}
	
.peq {
	display:none;
}
	
.grande {
	display:block;
}
	
section.formulario{
	width:25%;
	display:inline-block;
	text-align:center;
	vertical-align:middle;
	background-color:#0094d7;
	padding-top: 2.8em;
	padding-bottom:2.8em;
	
	}
	
section.formulario p{
	margin:.2em 0;
	font-size:1.6em;
	color:#FFF;
	text-align:center;
	line-height:35px;
	margin-bottom:1em;
	}

section.formulario #ctcForm, section.formulario #enviarPorMailSolicitaInfo{
	background-color:#0094d7;
	width:99%;
	margin:1em auto;
	text-align:center;
	padding: .1em 0 .2em 0;
	}
	
	
.formulario .celda{
	padding-left:.3em;
	background-color:#FFF;
	font-size:.9em;
	display:block;
	width:89%;
	min-height:40px;
	margin:.7em auto;
	margin-bottom:1.3em;
	border:0;
	color:#868585;
	text-align:left;
	font-weight:200;
	-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
}


.legal{
	font-size:.9em;
	font-family:Arial, Helvetica, sans-serif;
	width:92%;
	margin-top:-0.8em;
	margin-bottom:1.4em;
	text-align:left;
	color:#FFF;
	margin-left:1.3em;
	
	}
	
.legal input{
	vertical-align:top;
	}
	
.legal a{
	color:#FFF;
	}
	
.espacio_btn{
	width:90%;
	text-align:center;
	margin:.4em auto;
	}	
	
.espacio_btn input{
	cursor:pointer;
	width:99%;
	color: white;
	border: 0;
	font-size: 1em;
	margin:auto;
	margin-top:0.2em;
	background-color: #f34b3c;
	padding:0.8em;
	-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
font-weight:bold;
}

	
#nombre {
	font-size:1.2em;
			}

#telefono{
	font-size:1.2em;
	}
	
#email{
	font-size:1.2em;
	}

/*CONTENIDO TEXTO*/

.contenido-texto {
	max-width: 1000px;
	margin:3em auto;
	font-size:1em;
	
}
	
.cajitas {
	width:30%;
	text-align:center;
	font-size:1em;
	color:#444444;
	line-height:25px;
	display:inline-block;
	margin-left:1.5em;
	vertical-align:top;
	
	}
	
section.contenido-texto h1 {
	color:#009ddd;
	font-weight:bold;
	font-size:1.2em;
	margin-bottom:0.8em;}
	
.letra-peq{
	font-size:.7em;
	text-align:left;
	margin-top:3em;
	
}
	
@media (max-width:1200px) {
	
section.formulario #ctcForm input:last-child{
	background-image:url(../img/075/telefono1.png);
	font-size:1em;
	background-position:0.6em;}
	}
	
@media (max-width:1100px) {
	section.formulario p{
		font-size:1.4em;
		}
	.foto{
		width:75%;
		
		}

	
.espacio_btn input{
	font-size:0.9em;}
}

@media (max-width:1000px) {
	
	.legal{
		font-size:0.8em;}
		
	.cajitas {
		font-size:0.9em;
	}
	
section.formulario{
	padding-bottom:1.5em;
	padding-top:1.5em;
	vertical-align:bottom
	}	
	
}
		
@media (max-width:900px) {
section.formulario p{
	margin:0;
	font-size:1.2em;	
	}
		
#nombre {
	font-size:1em;
	}

#telefono{
	font-size:1em;
	}
	
#email{
	font-size:1em;
	}
	
section.formulario #ctcForm input:last-child{
	font-size:1em;
	background-position: 0.4em;
}

.espacio_btn input{
	font-size:0.8em;}
	
.legal{
		font-size:0.7em;}
	
}

@media (max-width:800px) {

.foto{
	width:98%;
	margin:auto;
	}
	
	.grande {
	display:block;
	margin:auto;
	}
	
.peq {
	display:none;
	}

section.formulario{
	width:100%;
	max-width:none;
	margin:auto;
	padding-top:0.3em;
	padding-bottom:0.3em;
	
	}
	
#enviarPorMailSolicitaInfo{
	display:block;
	}
	
.contenido-texto {
	margin-left:1em;
	}

	
section.formulario p{
	font-size:1.7em;
	line-height:40px;
	}
	
.contenido-texto {
	font-size:0.8em;
	}
	
.texto {
	line-height:20px;
	list-style-image:url(../img/075/tick2.png);
	margin-left:5%;}
	
.espacio_btn input{
	font-size:1.2em;}
	
.legal{
		font-size:1em;
		margin-left:2.5em;}
		
.cajitas {
	width:100%;
	font-size:1.3em;
	margin: 1.3em auto;
	}
	
}

@media (max-width:600px) {
	.legal{
		margin-left:1.8em;}
}

@media (max-width:500px) {
	.legal{
		margin-left:1.4em;}
		}
@media (max-width:400px) {
	.espacio_btn input{
	font-size:0.8em;}
	}

