*{
	padding:0;
	margin:0;
	}
	
img{
	width: 100%;
	}
	
@font-face {
    font-family:'Helvetica';
/*    src:url(../fonts/18925_HelveticaNeueLt.ttf); */
	}

body{
  font-family:Arial, Helvetica, sans-serif;
	background-color:#e7f0f5;
	}
	
/*HEADER*/
	

	
	
	

/*CONTENIDO*/

section.contenido{
	width:99%;
	max-width:950px;
	margin:0em auto;
	background-color:#FFF;
	}
	
header .cabecera{
	width:100%;
	margin:0 auto 1em auto;
	
	}
	
section.foto{
	width:70%;
	display:inline-block;
	vertical-align:middle;
}
		
section.foto .mvl{
	display:none;
}	

section.foto .web{
	display:block;
}	
		
section.formulario{
	font-family:Arial, Helvetica, sans-serif;
	width:29%;
	display:inline-block;
	text-align:center;
	vertical-align:middle;
	}
	
section.formulario p{
	margin:.4em 0;
	font-size:1.5em;
	color:#0098d8;
	font-weight:bold;
	}

	
section.formulario #ctcForm, section.formulario #enviarPorMailSolicitaInfo{
	background-color:#dbd9d9;
	width:100%;
	margin:.2em auto;
	text-align:center;
	padding:.4em 0;
	
	}
	
section.formulario #ctcForm input{
	width:55%;
	display:inline-block;
	vertical-align:middle;
	min-height:40px;
	background-color:#FFF;
	}
	
section.formulario #ctcForm input:last-child{
	font-family:Arial, Helvetica, sans-serif;
	font-size:1.1em;
	cursor:pointer;
	width:30%;
	color: white;
	border: 0;
	background: -webkit-gradient(linear, left top, right top, from(#37b1d5), to(#1592b8));
	background: -webkit-linear-gradient(top, #37b1d5, #1592b8);
	background: -moz-linear-gradient(top, #37b1d5, #1592b8);
	background: -o-linear-gradient(top, #37b1d5, #1592b8);
	background: -ms-linear-gradient(top, #37b1d5, #1592b8);
	background: linear-gradient(top, #37b1d5, #1592b8);
	background-color: #37b1d5;
	}
	
.formulario .celda{
	font-family: Arial, Helvetica, sans-serif;
	padding-left:.3em;
	background-color:#FFF;
	font-size:.9em;
	display:block;
	width:89%;
	min-height:40px;
	margin:.6em auto;
	border:0;
	color:#868585;
	text-align:left;
	font-weight:200;
}

.legal{
	font-size:.7em;
	font-family:Arial, Helvetica, sans-serif;
	width:90%;
	margin:0 auto;
	text-align:left;
	color:#0187bf;
	}
	
.legal input{
	vertical-align:top;
	}
	
.legal a{
	color:#0187bf;
	}
	
.espacio_btn{
	width:90%;
	text-align:center;
	margin:.5em auto;
	}	
	
.espacio_btn input{
	font-family: Arial, Helvetica, sans-serif;
	cursor:pointer;
	width:90%;
	padding:.2em;
	color: white;
	border: 0;
	font-size: 2.2em;
	margin:.4em auto;
	background: -webkit-gradient(linear, left top, right top, from(#37b1d5), to(#1592b8));
	background: -webkit-linear-gradient(top, #37b1d5, #1592b8);
	background: -moz-linear-gradient(top, #37b1d5, #1592b8);
	background: -o-linear-gradient(top, #37b1d5, #1592b8);
	background: -ms-linear-gradient(top, #37b1d5, #1592b8);
	background: linear-gradient(top, #37b1d5, #1592b8);
	background-color: #37b1d5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}


/*TEXTO*/

section.contenido_texto{
	width:100%;
	background-color:#FFF;
	margin:2em auto;
	padding:.5em 0;
	}
	
section.contenido_texto .texto{
	margin:0em auto;
	max-width:950px;
	width:95%;
	text-align:left;
	color:#666;
	}
	
	section.contenido_texto .texto h3 {
		font-size:1.5em;
		color:#c9438e;
		margin-bottom:.5em;
	}	
	section.contenido_texto .texto li{
		font-size:.9em;
		
		margin-bottom:.5em;
		list-style:url(../img/circle.png);
	}	
	section.contenido_texto .texto ul{
		margin-left:.8em;
	}	
	

/*PIE*/
	
	
footer{
	}
footer div{}
	
/*COOKIES*/	
		
#pie_galletero{
	font-family:Arial, Helvetica, sans-serif;
	max-width:950px;
	margin:1em auto .5em auto;
	width:100%;
	color: #949494;
	background-color: #FFF;
	}
		
#pie_galletero a{
	color:#949494;
	}
		
#pie_galletero a:visited{
	color:#949494;
	}	

#pie_galletero_left{
	width:75%;
	vertical-align:middle;
	display:inline-block;
	margin:.5em;
	font-size:.8em;
	text-align:center;
	}

#pie_galletero_right{
	text-align:right;
	width:20%;
	vertical-align:middle;
	display:inline-block;
	margin:.5em;
	}
	
#pie_galletero_right input{
	margin:.3em;
	padding:.1em 0;
	cursor:pointer;
	}
	
#info_cook {
	font-family:Arial, Helvetica, sans-serif;
	max-width:950px;
	width:100%;
	display: block;
	margin: 0 auto;
	text-align: left;
	font-size: .7em;
	color: #949494;
	background: #e5e5e5;
	}
	
.texto_cook{
	width:96%;
	margin:0 auto;}	
	
	
.closeCookiesPolicy{
	text-align:right;
	}
	
.closeCookiesPolicy a{
	color:#666;
	text-decoration:none;
	font-size:15px;
	margin:.5em;
	font-weight:bold;
	}
	
	
@media (max-width: 900px) {
	section.formulario{
		 width:34%;
		}
	
	 section.foto {
		 width:65%;
		 }
		 
	section.formulario p{
		margin:.2em 0;
		font-size:1.3em;
		}

	
	section.formulario #ctcForm, section.formulario #enviarPorMailSolicitaInfo{
		padding:.2em 0;
		}
	

	.espacio_btn{
		margin:.4em auto;
		}	
		
	.espacio_btn input{
		padding:.2em;
		font-size: 2em;
		margin:.3em auto;
	}

}



@media (max-width: 680px) {
	
	header{
		display:none;}
		
	
	
	section.formulario, section.foto {
		display:block;
		width:99%;
		margin:0 auto;
	}
	
	#enviarPorMailSolicitaInfo{
		display:none;}
		
	
	section.foto .mvl{
		display:block;
	}
		
	section.foto .web{
		display:none;
	}
		
	#pie_galletero_left{
		width:98%;
		display:block;
	}

	#pie_galletero_right{
		text-align:center;
		margin:auto;
		width:98%;
		display:block;
	}
	section.formulario #ctcForm input:last-child {
	font-size: 1.8em;
	}
		section.formulario p{
		margin:.4em 0;
		font-size:1.5em;
		}
	.formulario .celda{
		font-size:1.1em;}



@media (max-width:480px) {
}
