@charset "UTF-8";
/* CSS Document */

* {
	padding:0;
	margin:0;
	
	}

img {
	
	width: 99%;
	height:auto;
	
	}
	
	
body{
    font-family:Arial, Helvetica, sans-serif;
	background-color:#FFF;
	}
	
	
/*HEADER*/

header {
	
	width: 100%;
	margin: 0 auto;
	background-color:#FFF
	
	}

.cabecera {
	width: 99%;
	text-align:right;
	margin:0 auto;
	max-width:1000px;
	padding:0;
}
.cabecera figure {
	display:inline-block;
	width:26%;
	vertical-align:middle;
	margin:.4em 0;
	margin-top:0.6em;
	
}


/*CONTENIDO*/


.contenido {
	background-image: url(../img/070/back-lead.jpg);
	background-position:center bottom;
	background-repeat: no-repeat;
	margin:0em auto;

	width:100%;
	background-color:#c7c7cb;
	
}
.contenido .contenido-basico {
	width:99%;
	margin:0 auto;
	vertical-align: middle;
	text-align:center;
	max-width:1100px;
	

	
}

.grande {
	display:block;
	
	}
	
.peque {
	display:none;
	
	}


.contenido .contenido-basico .foto {
	
	display:inline-block;
	vertical-align: top;
	width:68%;
	

	

	

	

}
section.formulario{
	width:25%;
	display:inline-block;
	text-align:center;
	vertical-align:middle;
	
	}
	
section.formulario p{
	margin:.2em 0;
	font-size:1.5em;
	color:#FFF;
	text-align:center;
	}

section.formulario #ctcForm, section.formulario #enviarPorMailSolicitaInfo{
	background-color:#278fbc;
	width:99%;
	margin:1em auto;
	text-align:center;
	padding: .1em 0 .2em 0;
	}
	
section.formulario #ctcForm input{
	width:89%;
	vertical-align:middle;
	min-height:40px;
	background-color:#FFF;
	}
	
section.formulario #ctcForm input:last-child{
	font-size:1.2em;
	cursor:pointer;
	width:91%;
	color: white;
	border: 0;
	margin-bottom:0.5em;
	display:inline-block;
	background-image:url(../img/070/telefono.png);
	background-repeat:no-repeat;
	background-position: 1em;
	

	
	background-color: #ff7200;	
	}
	
.formulario .celda{
	padding-left:.3em;
	background-color:#FFF;
	font-size:.9em;
	display:block;
	width:89%;
	min-height:40px;
	margin:.7em auto;
	border:0;
	color:#868585;
	text-align:left;
	font-weight:200;
}


.legal{
	font-size:.7em;
	font-family:Arial, Helvetica, sans-serif;
	width:92%;
	margin:0 auto;
	text-align:left;
	color:#FFF;
	}
	
.legal input{
	vertical-align:top;
	}
	
.legal a{
	color:#FFF;
	}
	
.espacio_btn{
	width:90%;
	text-align:center;
	margin:.4em auto;
	}	
	
.espacio_btn input{
	
	cursor:pointer;
	width:99%;
	
	padding:0.5em;
	color: white;
	border: 0;
	font-size: 1.3em;
	margin:auto;
	margin-top:0.2em;
	background-color: #ff7200;
	
}

#telefono_ctc{
	text-align:center;
	font-size:1.1em;
	}
	
#nombre {
	font-size:1.1em;
	
	}

#telefono{
	font-size:1.1em;
	}
	
#email{
	font-size:1.1em;
	}

#enviarPorMailSolicitaInfo {
	background-color:#1777a2 !important;
	}


	
/*CONTENIDO TEXTO*/


	
.contenido-texto {
	width:99%;
	max-width:1000px;
	margin:2em auto;
	
	font-size:1em;
	color: #444444;
	
	

	
	
	}

.contenido-texto h1{
	
	font-size:1.5em !important;
	color: #004b6d;
	display:inline-block;

	
	}


	
	

	
.centro {
	text-align:right;
	
	}
	
.linea {
	
	margin:auto;
	width:60%;
	}
.mas-simbolo {
	width:2%;
	display:inline-block;
	margin-right:0.4em;
	
	
	}
	
.mas{
	list-style-image:url(../img/070/mas.png);

	}
	
.letra-peq{
	font-size:.7em;
	text-align:left;
	margin-top:2em;
	}
	

	
@media (max-width:1600px) {

.linea {
	width:75%;
	
	}
	

	
	}
	


@media (max-width:1100px) {

.linea {
	width: 95%;
	}
.contenido .contenido-basico .formulario {
	width:25%;
	margin-left:3em;
	}	
	
contenido .contenido-basico .foto {
	
	display:inline-block;
	vertical-align:top;
	width:70%;
	
}
	
.contenido-texto {
	width:80%;
	
}

.mas-simbolo {
	width:2.5%;
}
section.formulario p{

	font-size: 1.2em;
	}
	
#telefono_ctc{
	font-size:0.9em;
	}

section.formulario #ctcForm input:last-child{
	background-position:0.6em;
	background-image:url(../img/070/telefono1.png);
	
	}
}
	
@media (max-width:1000px) {	

section.formulario #ctcForm input:last-child{
	background-position:0.3em;
	background-image:url(../img/070/telefono1.png);
	
	}
.espacio_btn input{
	font-size:1em;}	

}
	
@media (max-width:900px) {

.mas-simbolo {
	width:3%
	}	
	
section.formulario p{

	font-size: 1.1em;
	}
	
.espacio_btn input{
	font-size:1em;
	}

section.formulario #ctcForm input:last-child{
	font-size:1.1em;
	}
	

	
	}
	
@media (max-width: 800px) {
	
	
	
.contenido .contenido-basico .foto {
		display:block;
		width:100%;
		margin:0 auto;
		max-width:800px;


	
}
	
.contenido .contenido-basico .foto .grande {
	display:none;

	}
	
	
.contenido .contenido-basico .foto .peque {
	display:block;
	margin:0 auto;


	
	
	
	}
	

	
	
.contenido {
	
	background-color: #FFF;
	background-image:none;
	
	}
	
.call {
	
	width:99%;
	
	}
	
.datos {
	display:none;
	}
	
.contenido .contenido-basico .formulario {
	width:100%;
	max-width:none;
	margin:auto;
	margin-top:-0.5em;
	
	
	
}

section.formulario p{
	margin-top:0.5em;
	}

#enviarPorMailSolicitaInfo{
	display:none;
	}

.cabecera figure {
	width:25%;
}

.contenido-texto {
	width:90%;
	font-size:0.8em;
	margin: 1em auto;
	
	
	
}

.linea {
 	display:none;
	}
	
.mas-simbolo {
	display:none;
}

.centro {
	text-align:left;}

	
.mas {
	list-style-image:none;
	list-style-type:none;}
	
	}
	

@media (max-width:650px) {
	
.mas-simbolo {
	width:4%;
}

.cabecera figure {
	width:30%;
	}
	
	
	}


@media (max-width:500px) {
	
.linea {
	width:100%;
}

.mas-simbolo {
	width:6%;
}

.cabecera figure {
	width:40%;
}

.centro {
	margin-right:1em;
	
	
	
	}
}

@media (max-width:400px) {

.mas-simbolo {
	width:8%;
}
	
}

	