*{
	padding:0;
	margin:0;
	}
	
img{
	width: 100%;
	}
	
@font-face {
    font-family: 'HelveticaNeue';
    src:url(../fonts/18925_HelveticaNeueLt.ttf);
	}

body{
  font-family: Arial, Helvetica, sans-serif;
	background-color:#f2f2fa;
	}
	
/*HEADER*/
	
header{
	background-color:#FFF;
	width:100%;
	}
	
header .cabecera{
	width:99%;
	margin:0 auto;
	max-width:970px;
	padding:0;
	
	}
	

/*CONTENIDO*/

section.contenido{
	width:100%;
	max-width:1000px;
	margin:0em auto;
	padding:2em 0;
	text-align:center;
	background:url(../img/039/photo-left-web-background.jpg) no-repeat;
	background-position:center;
	background-size:cover;
	
	}
	
section.foto{
	width:67%;
	display:inline-block;
	vertical-align:middle;
}
		
section.foto .mvl{
	display:none;
}	

section.foto .web{
	display:block;
}	
		
section.formulario{
	width:27%;
	display:inline-block;
	text-align:center;
	vertical-align:middle;
	}
	
section.formulario p{
	margin:.2em 0;
	font-size:1.4em;
	color:#FFF;
	}

	
section.formulario #ctcForm, section.formulario #enviarPorMailSolicitaInfo{
	background-color:#04779b;
	width:100%;
	margin:.2em auto;
	text-align:center;
	padding: .4em 0 .2em 0;
	
	}
	
section.formulario #ctcForm input{
	width:55%;
	display:inline-block;
	vertical-align:middle;
	min-height:40px;
	background-color:#FFF;
	}
	
section.formulario #ctcForm input:last-child{
	font-size:1.1em;
	cursor:pointer;
	width:30%;
	color: white;
	border: 0;
	background: -webkit-gradient(linear, left top, right top, from(#f16eb6), to(#ee138c));
	background: -webkit-linear-gradient(top, #f16eb6, #ee138c);
	background: -moz-linear-gradient(top, #f16eb6, #ee138c);
	background: -o-linear-gradient(top, #f16eb6, #ee138c);
	background: -ms-linear-gradient(top, #f16eb6, #ee138c);
	background: linear-gradient(top, #f16eb6, #ee138c);
	background-color: #f16eb6;
	
	}
	
.formulario .celda{
	padding-left:.3em;
	background-color:#FFF;
	font-size:.9em;
	display:block;
	width:89%;
	min-height:40px;
	margin:.6em auto;
	border:0;
	color:#868585;
	text-align:left;
	font-weight:200;
}

.legal{
	font-size:.7em;
	font-family:Arial, Helvetica, sans-serif;
	width:92%;
	margin:0 auto;
	text-align:left;
	color:#FFF;
	}
	
.legal input{
	vertical-align:top;
	}
	
.legal a{
	color:#FFF;
	}
	
.espacio_btn{
	width:90%;
	text-align:center;
	margin:.4em auto;
	}	
	
.espacio_btn input{
	cursor:pointer;
	width:90%;
	padding:.2em;
	color: white;
	border: 0;
	font-size: 2.2em;
	margin:.2em auto;
	background: -webkit-gradient(linear, left top, right top, from(#f16eb6), to(#ee138c));
	background: -webkit-linear-gradient(top, #f16eb6, #ee138c);
	background: -moz-linear-gradient(top, #f16eb6, #ee138c);
	background: -o-linear-gradient(top, #f16eb6, #ee138c);
	background: -ms-linear-gradient(top, #f16eb6, #ee138c);
	background: linear-gradient(top, #f16eb6, #ee138c);
	background-color: #f16eb6;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}


/*TEXTO*/

section.contenido_texto{
	width:100%;
	background-color:#FFF;
	color:#7e7c7c;
	}
	
section.contenido_texto .texto{
	margin:0 auto;
	max-width:970px;
	width:97%;
	font-size:1em;
	padding:1em 0;
	text-align:left;
	}
section.contenido_texto .texto h1{
	color:#138eb1;
	margin-bottom:.5em;
	}
section.contenido_texto .texto p{
	margin-bottom:.5em;
	
	}
section.contenido_texto .texto ul {
	margin-left:1em;}
section.contenido_texto .texto li{
	list-style:url(../img/tick.png);
	}
	
	section.contenido_texto .texto .letra_pequena{
	text-align:left;
	font-size:.8em;
	margin-top:2em;
	
	
	}
	
	

/*PIE*/
	
	
footer{

	}
	
	
/*COOKIES*/	
		
#pie_galletero{
	max-width:950px;
	margin:1em auto .5em auto;
	width:100%;
	color: #949494;
	background: #e5e5e5;
	font-family:Arial, Helvetica, sans-serif;
	}
		
#pie_galletero a{
	color:#949494;
	}
		
#pie_galletero a:visited{
	color:#949494;
	}	

#pie_galletero_left{
	width:75%;
	vertical-align:middle;
	display:inline-block;
	margin:.5em;
	font-size:.8em;
	text-align:center;
	}

#pie_galletero_right{
	text-align:right;
	width:20%;
	vertical-align:middle;
	display:inline-block;
	margin:.5em;
	}
	
#pie_galletero_right input{
	margin:.3em;
	padding:.1em 0;
	cursor:pointer;
	}
	
#info_cook {
	font-family:Arial, Helvetica, sans-serif;
	max-width:950px;
	width:100%;
	display: block;
	margin: 0 auto;
	text-align: left;
	font-size: .7em;
	color: #949494;
	background: #e5e5e5;
	}
	
.texto_cook{
	width:96%;
	margin:0 auto;}	
	
	
.closeCookiesPolicy{
	text-align:right;
	}
	
.closeCookiesPolicy a{
	color:#666;
	text-decoration:none;
	font-size:15px;
	margin:.5em;
	font-weight:bold;
	}
	




@media (max-width: 900px) {
	
	section.foto{
	width:69%;
	
}section.formulario{
	width:30%;
	
}
.legal {
font-size: .6em;
}
	
	section.formulario p {
margin: .2em 0;
font-size: 1.2em;
}
.formulario .celda {
min-height: 38px;
}
section.formulario #ctcForm input {
min-height: 38px;
}
}
	
	
	
@media (max-width: 720px) {
	

	section.contenido {
	padding:0;
	padding-top:.2em;
	background:none;
	}
	header{
		display:none;}
	
	section.formulario, section.foto {
		display:block;
		width:100%;
		margin:0 auto;
	}
	
	
	section.foto .mvl{
		display:block;
	}
		
	section.foto .web{
		display:none;
	}
	section.formulario p {
	
	font-size: 1.4em;
	}
	
	form#enviarPorMailSolicitaInfo{
		display:none;}
		
	#pie_galletero_left{
		width:98%;
		display:block;
	}

	#pie_galletero_right{
		text-align:center;
		margin:auto;
		width:98%;
		display:block;
	}
	
}


@media (max-width:480px) {
	section.contenido_texto .texto{
	
	font-size:.8em;
	
	}

}
