*{
	padding:0;
	margin:0;
	}
	
img{
	width: 100%;
	}
	
@font-face {
    font-family: 'latoregular';
    src: url('../fonts/lato-regular_0-webfont.eot');
    src: url('../fonts/lato-regular_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-regular_0-webfont.woff2') format('woff2'),
         url('../fonts/lato-regular_0-webfont.woff') format('woff'),
         url('../fonts/lato-regular_0-webfont.ttf') format('truetype'),
         url('../fonts/lato-regular_0-webfont.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;
	}
	
@font-face {
    font-family: 'latolight';
    src: url('../fonts/lato-light_0-webfont.eot');
    src: url('../fonts/lato-light_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-light_0-webfont.woff2') format('woff2'),
         url('../fonts/lato-light_0-webfont.woff') format('woff'),
         url('../fonts/lato-light_0-webfont.ttf') format('truetype'),
         url('../fonts/lato-light_0-webfont.svg#latolight') format('svg');
    font-weight: normal;
    font-style: normal;
	}	
		
body{
	font-family: 'latoregular';
	background-color:#FFF;
	}
		
header{
	width:100%;
	margin:0 auto;
	max-width:1100px;
	padding:0;
	max-height:70px;
	}
	
header img{
	width:100%;
	margin-top:2%;
	margin-bottom:2%;
	max-width:209px;
	}
			
.small_content{
	max-width:1150px;
	height:471px;
	margin:0 auto;
	background-image:url(../img/xxx/cabecera.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	background-position:top center;
	}
	
.photo{
	display:none;
	}
		
.skeleton{
	width:60%;
	display:inline-block;
	opacity:0;
	}

/*FORM*/
section.formulario{
	width:35%;
	display:inline-block;
	text-align:center;
	vertical-align: middle;
	font-family: 'latolight',Arial;
	background-position:top center;
	padding-top:0;
	}
	
section.formulario p{
	margin:1.1em 0;
	font-size:1.4em;
	color:#FFF;
	}

section.formulario #ctcForm, section.formulario #enviarPorMailSolicitaInfo{
	background-color: #c30174;
	width:100%;
	margin:.2em auto;
	text-align:center;
	padding:.4em 0;
	}
	
section.formulario #ctcForm input{
	width:55%;
	display:inline-block;
	vertical-align:middle;
	min-height:40px;
	background-color:#FFF;
	}
	
section.formulario #ctcForm input:last-child{
	font-size:1.1em;
	cursor:pointer; 
	width:30%;
	color: white;
	border: 0;
	}
	
.formulario .celda{
	padding-left:5em;
	background-color:#FFF;
	font-size:.9em;
	display:block;
	width:65%;
	min-height:63px;
	margin:auto;
	margin-top:0.8em;
	color:#857f78;
	text-align:left;
	font-weight:200;
	border: 1px solid #cbcbcb;
	-webkit-appearance: none;
    -webkit-border-radius: 0;
	border-radius:0;
	}

.formulario .celda:focus{
	outline:0px;
	}

.legal{
	font-size:.7em;
	font-family: 'latolight',Arial;
	width:83%;
	text-align:left;
	color: #FFF;
	margin:1.4em auto;
	}
	
.legal input{
	vertical-align:top;
	}
	
.legal a{
	color: #FFF;
	text-decoration:underline
	}
	
.espacio_btn{
	width:94%;
	text-align:center;;
	margin:.5em auto;
	}	
	
.espacio_btn input{
	cursor:pointer;
	width:90%;
	padding:1em;
	color: white;
	border: 0;
	font-size: 1.3em;
	margin:0.9em auto;
	background-color:#80014d;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0px 0px 0px #f5c343, inset 0px 0px 0px #000000;
	-moz-box-shadow: 0px 0px 0px #f5c343, inset 0px 0px 0px #000000;
	box-shadow: 0px 0px 0px #f5c343, inset 0px 0px 0px #000000;
	-webkit-appearance: none;
    -webkit-border-radius: 0;
	border-radius:0;
	border-bottom:5px solid #540133;
	}

#enlace_condiciones a{
	font-family: 'latolight',Arial;
	color: #108dcc;
	text-decoration:none;
	}

#nombre{
	background-image:url(../img/xxx/name.jpg);
	background-repeat:no-repeat;
	border:none;
	}

#telefono{
	background-image:url(../img/xxx/phone.jpg);
	background-repeat:no-repeat;
	border:none;
	}

#email{
	background-image:url(../img/xxx/email.jpg);
	background-repeat:no-repeat;
	border:0;
	}

#btnProcesar{
	font-size:1em;
	font-family: 'latolight',Arial;
	}
	
/*TEXT_CONTENT*/
.text_content{
	max-width:1100px;
	margin:0 auto;
	padding-bottom:45px;
	padding-top:10px;
	}

.box_text1{
	width:33%;
	background-image:url(../img/xxx/cuadrado1.jpg);
	background-repeat: no-repeat;
	background-position:center top;
	display:inline-block;
	vertical-align:top;
	height:350px;
	margin:0 auto;
	text-align:center;
	}
	
.box_text2{
	width:33%;
	background-image:url(../img/xxx/cuadrado2.jpg);
	background-repeat: no-repeat;
	background-position:center top;
	display:inline-block;
	vertical-align:top;
	height:350px;
	margin:0 auto;
	text-align:center;
	}
	
.box_text3{
	width:33%;
	background-image:url(../img/xxx/cuadrado3.jpg);
	background-repeat: no-repeat;
	background-position:center top;
	display:inline-block;
	vertical-align:top;
	height:350px;
	margin:0 auto;
	text-align:center;
	}

.text-only{
	width:80%;
	padding-top:130px;
	margin:0 auto;
	text-align:center;
	}
	
.text-only h1{
	font-size:112.5%;
	color:#fff;
	text-align:center;
	font-weight:bold;
	}

.text-only p{
	font-size:87.5%;
	color:#fff;
	font-family: 'latolight';
	}
	
footer{
	background-color:#f0eeee;
	height:85px;
	}

footer .politicas{
	font-size:68.8%;
	margin:0 auto;
	max-width:1100px;
	}
	
.politicas a{
	text-decoration:none;
	color:#636466;
	padding-top:10px;
	font-family: 'latolight';
	}
	
.politicas2{
	padding:10px;
	}

@media (max-width:989px){	
.small_content{
	max-width:1100px;
	height:504px;
	}
	
section.formulario{
	padding-top:0;
	}
	}

@media (max-width:885px){
.small_content{
	background-image:none;
	height:auto;
	}
	
.skeleton{
	width:100%;
	display:block;
	opacity:100;
	height:auto;
	}

.photo{
	width:100%;
	display:block;
	opacity:100;
	max-width:895px;
	}
	
.text_content{
	padding-top:0;
	}
			
section.formulario{
	width:100%;
	display:block;
	}
	
.formulario .celda{
	width:75%;
	}
.espacio_btn{
	width:95%;
	}
	
.politicas {
	padding:10px;
	}
	}
	
@media (max-width:650px){
.box_text1, .box_text2, .box_text3{
	width:100%;
	display:block;
	padding-right:0;
	}
	
.text-only{
	width:50%;
	}
	}

@media (max-width:380px){
.text-only h1{
	font-size:100%;
	}

.text-only p{
	font-size:80%;
	}
	
.text-only{
	width:70%;
	}
	
section.formulario p{
	font-size:1em;
	}
		
#btnProcesar{
	font-size:0.8em;
	font-family: 'latolight',Arial;
	}
		
header img{
	width:150px;
	height:26px;
	}
				
footer .politicas{
	font-size:50%;
	}
	
.espacio_btn{
	width:100%;
	}
	}