@charset "UTF-8";

*{
	padding:0;
	margin:0;
	box-sizing:border-box;
	}
	
img{
	width:99%;
	height:auto;
	}
	
@font-face{
	font-family: 'Conv_Helvetica-Light';
	src: url('../fonts/Helvetica-Light.eot');
	src: local('☺'), url('../fonts/Helvetica-Light.woff') format('woff'), url('../fonts/Helvetica-Light.ttf') format('truetype'), url('../fonts/Helvetica-Light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
	}
	
@font-face{
	font-family: 'Conv_Helvetica-regular';
	src: url('../fonts/Helvetica-regular.eot');
	src: local('☺'), url('../fonts/Helvetica-regular.woff') format('woff'), url('../fonts/Helvetica-regular.ttf') format('truetype'), url('../fonts/Helvetica-regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
	}
	
@font-face{
	font-family: 'Conv_Helvetica-Bold';
	src: url('../fonts/Helvetica-Bold.eot');
	src: local('☺'), url('../fonts/Helvetica-Bold.woff') format('woff'), url('../fonts/Helvetica-Bold.ttf') format('truetype'), url('../fonts/Helvetica-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
	}
	
body{
	background-color:#FFFFFF;
	font-family: 'Conv_Helvetica-regular';
	}
	
header{
	width:100%;
	}
	
.cabecera{
	width:99%;
	max-width:1200px;
	margin:auto;
	}
	
.logo{
	width:34%;
	margin: 1.5em 0 1.5em 2em;
	display:inline-block;
	vertical-align:middle;
	}
	
.cabecera h1{
	font-family: 'Conv_Helvetica-Light';
	display:inline-block;
	vertical-align:middle;
	font-size:1.9em;
	line-height:33px;
	color:#009DDD;
	margin-left:10em;
	}
	
.basic-content{
	width:100%;
	background-image:url(../img/151/background-big.jpg);
	background-repeat:no-repeat;
	background-size:contain;
	background-color:#fafafa;
	}
	
.small-content{
	width:99%;
	max-width:1200px;
	margin:auto;
	background-image:url(../img/151/background-baby.jpg);
	background-repeat:no-repeat;
	background-size:contain;
	background-position:center 79px;
	}
	
.skeleton{
	width:60%;
	display:inline-block;
	vertical-align:middle;
	}
	
.skeleton img{
	display:none;
	}
	
/*Formulario*/

section.formulario{
	width:28%;
	display:inline-block;
	vertical-align:top;
	margin-top:12.4em;
	margin-bottom:6em;
	background-color:#C4C4C5;
	}

section.formulario p .wait{
	font-size:0.82em;
	color:#FFFFFF;
	}

section.formulario p{
	font-size:1.38em;
	color:#FFFFFF;
	line-height:23px;
	}

section.formulario #ctcForm, section.formulario #enviarPorMailSolicitaInfo{
	width:99%;
	margin:.2em auto;
	text-align:center;
	padding:.4em 0;
	}

.formulario .celda{
	background-color:#FFFFFF;
	font-size:.9em;
	display:block;
	width:78%;
	min-height:40px;
	margin:auto;
	margin-top:0.6em;
	color:#000000;
	border:0;
	text-align:left;
	padding-left:3.5em;
	padding-top:0.3em;
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	border-radius:0;
	}

.formulario .celda:focus{
	outline:0px;
	}

.legal{
	font-size:.7em;
	width:78%;
	text-align:left;
	color: #000000;
	margin:0.2em auto;
	font-family: 'Conv_Helvetica-Light';
	}

.legal input{
	vertical-align: middle;
	}

.legal a{
	color:#000000;
	}

.espacio_btn{
	width:94%;
	text-align:center;
	margin:.5em auto;
	}	

.espacio_btn input{
	cursor:pointer;
	width:83%;
	padding:0.3em 0;
	color: white;
	border-top:0;
	border-left:0;
	border-right:0;
	font-family: 'Conv_Helvetica-Bold';
	border-bottom:7px solid #C2872C;
	font-size:2em;
	margin:0.1em 0 0.3em 0;
	background-color:#EFA532;
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	border-radius:0;
	}

section.formulario .name{
	background-image: url(../img/151/icon-user.jpg);
	background-repeat:no-repeat;
	margin-top:1.3em;
	}

section.formulario .phone{
	background-image: url(../img/151/icon-phone.jpg);
	background-repeat:no-repeat;
	}

section.formulario .mail{
	background-image: url(../img/151/icon-mai.jpg);
	background-repeat:no-repeat;
	}

input[placeholder], [placeholder], *[placeholder]{
	color:#000000 !important;
	font-family: 'Conv_Helvetica-Light';
	font-weight:lighter;
	}

::-webkit-input-placeholder{
	color:#000000;
	font-family: 'Conv_Helvetica-Light';
	font-weight:lighter;
	}

*:-moz-placeholder{
	color:#000000;
	font-family: 'Conv_Helvetica-Light';
	font-weight:lighter;
	}

*::-moz-placeholder{
	color:#000000;
	font-family: 'Conv_Helvetica-Light';
	font-weight:lighter;
	}

*:-ms-input-placeholder{
	color:#000000;
	font-family: 'Conv_Helvetica-Light';
	font-weight:lighter;
	}
	
.text-content{
	width:99%;
	max-width:1200px;
	margin:auto;
	text-align:center;
	}
	
.text-content h1{
	color:#FFFFFF;
	background-color:#009ddd;
	padding:0.5em 0;
	font-size:1.2em;
	margin:1.5em 0;
	}

.text-content p{
	width:70%;
	padding-bottom:0.9em;
	font-size:1em;
	line-height:20px;
	margin:auto;
	}
	
.text-content p span{
	color:#009ddd;
	font-family: 'Conv_Helvetica-Bold';
	}
	
.text-content .politicas{
	width:95%;
	font-size:0.9em;
	color:#000000;
	margin-bottom:2em;
	text-align:left;
	}

.politicas a{
	color:#000000;
	}
	
@media (max-width:1150px){
	
.cabecera h1{
	margin-left:5em;
	}
	}
	
@media (max-width:1150px){
	
section.formulario{
	width:32%;
	margin-top:7em;
	margin-bottom:8em;
	}
	}
	
@media (max-width:980px){
	
section.formulario{
	width:36%;
	}
	
.logo{
	width:27%;
	}
	
.cabecera h1{
	font-size:1.5em;
	line-height:26px;
	margin-left:9em;
	}
	}
	
@media (max-width:850px){
	
.basic-content{
	background-image:none;
	}
	
.small-content{
	background-image:none;
	}
	
.skeleton{
	width:100%;
	}

.skeleton img{
	display:block;
	}
	
section.formulario{
	width:99%;
	margin-top:0;
	margin-bottom:0;
	}
	
.text-content h1{
	font-size:1.1em;
	}
	}
	
@media (max-width:805px){
	
.cabecera h1{
	font-size:1.1em;
	line-height:22px;
	}
	}
	
@media (max-width:615px){
	
.cabecera h1{
	font-size:0.9em;
	line-height:18px;
	}
	}
	
@media (max-width:505px){
	
.cabecera h1{
	margin-left:5em;
	}
	}
	
@media (max-width:425px){
	
.cabecera h1{
	margin-left:3em;
	}
	
.logo{
	margin: 1.5em 0 1.5em 1em;
	}
	}
	
@media (max-width:350px){
	
.cabecera h1{
	margin-left:1em;
	font-size:0.9em;
	}
	}