*{
	padding:0;
	margin:0;
/*list-style:url(../img/circle.png);*/
	}
	
img{
	width: 99%;
	}
	
@font-face {
    font-family: 'Helvetica';
    src:url(../fonts/18925_HelveticaNeueLt.ttf);
	}

body{
  font-family:Arial, Helvetica, sans-serif;
	background-color:#fcfcfc;
}
	
/*HEADER*/

header{
	width:99%;
	margin:0 auto;
	}
	
header .llamanos{
	width:99%;
	margin:0 auto;
	background-color:#ececec;
	padding:.5em 0;
	color:#797979;
	}
	
header .llamanos div{
	max-width:1000px;
	width:99%;
	text-align:right;
	margin:0 auto;
}
	
header .llamanos div img{
	width:25px;
	}
	
header .cabecera{
	width:99%;
	margin:0 auto;
	max-width:1000px;
	padding:0;
	}
	
header .cabecera figure{
	max-width:200px;
	display:inline-block;
	width:19%;
	vertical-align:middle;
	}
	
header .cabecera nav{
	width:80%;
	text-align:right;
	display:inline-block;
	vertical-align:middle;
	}
	
header .cabecera nav li{
	text-align:center;
	width:18%;
	display:inline-block;
	border-right:1px solid #019ed9;
 	}
	
header .cabecera nav li:last-child{
	border-right:none;
 	}
	
header .cabecera nav li a{
	color:#019ed9;
	text-decoration:none;
}
	
header .cabecera nav li a.menu_selected{
	color:#ff6200;
	text-decoration:underline;
	}
	
header .cabecera nav li a:hover{
	color:#ff6200;
	}
	
/*CONTENIDO*/

section.contenido{
	width:99%;
	max-width:1100px;
	margin:1em auto 0 auto;
	padding:1em 0 1em 0;
	text-align:center;
	background-position:center;
	background-size:cover;
	}
	
.basico{
	background:url(../img/048/back-lead.jpg);
	}
	
section.foto{
	width:65%;
	display:inline-block;
	vertical-align:middle;
	}
		
section.foto .mvl{
	display:none;
	}	

section.foto .web{
	display:block;
}	
		
section.formulario{
	width:25%;
	display:inline-block;
	text-align:center;
	vertical-align:middle;
	}
	
section.formulario p{
	margin:.2em 0;
	font-size:1.4em;
	color:#FFF;
	}

section.formulario #ctcForm, section.formulario #enviarPorMailSolicitaInfo{
	background-color:#019ed9;
	width:99%;
	margin:.2em auto;
	text-align:center;
	padding: .4em 0 .2em 0;
}
	
section.formulario #ctcForm input{
	width:55%;
	display:inline-block;
	vertical-align:middle;
	min-height:40px;
	background-color:#FFF;
}
	
section.formulario #ctcForm input:last-child{
	font-size:1.1em;
	cursor:pointer;
	width:30%;
	color: white;
	border: 0;
	background: -webkit-gradient(linear, left top, right top, from(#ff9800), to(#ff6300));
	background: -webkit-linear-gradient(top, #ff9800, #ff6300);
	background: -moz-linear-gradient(top, #ff9800, #ff6300);
	background: -o-linear-gradient(top, #ff9800, #ff6300);
	background: -ms-linear-gradient(top, #ff9800, #ff6300);
	background: linear-gradient(top, #ff9800, #ff6300);
	background-color: #ff9800;	
	}
	
.formulario .celda{
	padding-left:.3em;
	background-color:#FFF;
	font-size:.9em;
	display:block;
	width:89%;
	min-height:40px;
	margin:.6em auto;
	border:0;
	color:#868585;
	text-align:left;
	font-weight:200;
}

.legal{
	font-size:.7em;
	font-family:Arial, Helvetica, sans-serif;
	width:92%;
	margin:0 auto;
	text-align:left;
	color:#FFF;
	}
	
.legal input{
	vertical-align:top;
	}
	
.legal a{
	color:#FFF;
	}
	
.espacio_btn{
	width:90%;
	text-align:center;
	margin:.4em auto;
	}	
	
.espacio_btn input{
	font-weight:bold;
	cursor:pointer;
	width:90%;
	padding:.2em;
	color: white;
	border: 0;
	font-size: 2.2em;
	margin:.2em auto;
	background: -webkit-gradient(linear, left top, right top, from(#ff9800), to(#ff6300));
	background: -webkit-linear-gradient(top, #ff9800, #ff6300);
	background: -moz-linear-gradient(top, #ff9800, #ff6300);
	background: -o-linear-gradient(top, #ff9800, #ff6300);
	background: -ms-linear-gradient(top, #ff9800, #ff6300);
	background: linear-gradient(top, #ff9800, #ff6300);
	background-color: #ff9800;	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}


/*TEXTO*/

section.contenido_texto{
	width:99%;
	margin:0 auto;
	background-color:#ececec;
	color:#7e7c7c;
	padding:1em 0;
	border-top:3px solid #019ed9;
	}
	
section.contenido_texto .texto{
	margin:0 auto;
	max-width:970px;
	width:99%;
	font-size:.9em;
	text-align:center;
	}
	
section.contenido_texto .texto h1{
	color:#0097da;
	margin:.4em auto;
	}
	
section.contenido_texto .texto article{
	width:30%;
	vertical-align:top;
	margin:0 .5em;
	display:inline-block;
	}
	
section.contenido_texto .texto article img{
	max-width:60px;
	}
	
.letra_peq{
	font-size:.7em;
	text-align:left;
	margin-top:1.5em;
	}



/*COOKIES*/	
		
#pie_galletero{
	max-width:950px;
	margin:1em auto .5em auto;
	width:99%;
	color: #949494;
	background: #e5e5e5;
	font-family:Arial, Helvetica, sans-serif;
	}
		
#pie_galletero a{
	color:#949494;
	}
		
#pie_galletero a:visited{
	color:#949494;
	}	

#pie_galletero_left{
	width:75%;
	vertical-align:middle;
	display:inline-block;
	margin:.5em;
	font-size:.8em;
	text-align:center;
	}

#pie_galletero_right{
	text-align:right;
	width:20%;
	vertical-align:middle;
	display:inline-block;
	margin:.5em;
	}
	
#pie_galletero_right input{
	margin:.3em;
	padding:.1em 0;
	cursor:pointer;
	}
	
#info_cook {
	font-family:Arial, Helvetica, sans-serif;
	max-width:950px;
	width:99%;
	display: block;
	margin: 0 auto;
	text-align: left;
	font-size: .7em;
	color: #949494;
	background: #e5e5e5;
	}
	
.texto_cook{
	width:96%;
	margin:0 auto;
	}	
	
	
.closeCookiesPolicy{
	text-align:right;
	}
	
.closeCookiesPolicy a{
	color:#666;
	text-decoration:none;
	font-size:15px;
	margin:.5em;
	font-weight:bold;
	}
	

@media (max-width: 920px) {
	section.foto{
		width:70%;
	}
		
section.formulario{
	width:29%;
	}
}
	
	
@media (max-width: 720px) {
	section.contenido {
		background:none;
		margin-top:0;
		padding:.4em 0 0 0;
	}
	
	.cabecera, .llamanos{
		display:none;
	}
	
	section.formulario, section.foto {
		display:block;
		width:99%;
		margin:0 auto;
	}
	
	section.foto .mvl{
		display:block;
	}
		
	section.foto .web{
		display:none;
	}
	
	section.formulario p {
		font-size: 1.4em;
	}
	
	form#enviarPorMailSolicitaInfo{
		display:none;
	}
		
	section.contenido_texto{
		padding: 0;
		border-top:0px;
	}
	
	section.contenido_texto .texto article{
		width:95%;
		margin:1em auto;
	}
	
	section.formulario #ctcForm input{
		text-align:center;
	}

	
	#pie_galletero_left{
		width:98%;
		display:block;
	}

	#pie_galletero_right{
		text-align:center;
		margin:auto;
		width:98%;
		display:block;
	}
	.formulario .celda{
	padding-left:0;
}

}


@media (max-width:480px) {
	section.contenido_texto .texto{
		font-size:.8em;
	}

}
