@charset "utf-8";
/* CSS Document */

* {
	padding:0;
	margin:0;
	
	}

img {
	
	width: 99%;
	height:auto;
	
	}
	
	
body{
    font-family: 'Conv_Helvetica', Arial;
	background-color:#FFF;
	}
	
@font-face {
	font-family: 'Conv_Helvetica';
	src: url('../fonts/Helvetica.eot');
	src: local('☺'), url('../fonts/Helvetica.woff') format('woff'), url('../fonts/Helvetica.ttf') format('truetype'), url('../fonts/Helvetica.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
	
/*CONTENIDO*/
.contenido {
	background-color:#eeeeee;
	width:100%;
}

.contenido-basico {
	width:99%;
	margin:0 auto;
	vertical-align: middle;
	text-align:center;
	max-width:1100px;
}
	
	
.foto {
	display:inline-block;
	vertical-align: middle;
	width:73%;
	text-align:right;
	margin-right:-0.8em;
	margin-bottom:0.1em;
	}
	
.peq {
	display:none;
}
	
.grande {
	display:block;
}
	
section.formulario{
	width:25%;
	display:inline-block;
	text-align:center;
	vertical-align:middle;
	background-color:#0094d7;
	padding-top:0.2em;
	}
	
section.formulario p{
	margin:.2em 0;
	font-size:1.6em;
	color:#FFF;
	text-align:center;
	}

section.formulario #ctcForm, section.formulario #enviarPorMailSolicitaInfo{
	background-color:#0094d7;
	width:99%;
	margin:1em auto;
	text-align:center;
	padding: .1em 0 .2em 0;
	}
	
section.formulario #ctcForm input{
	width:89%;
	vertical-align:middle;
	min-height:40px;
	background-color:#FFF;
	}
	
section.formulario #ctcForm input:last-child{
	font-size:1.2em;
	cursor:pointer;
	width:90%;
	color: white;
	border: 0;
	margin-bottom:0.5em;
	background-color: #f34b3c;
	background-image: url(../img/071/telefono.png);
	background-repeat:no-repeat;
	background-position: 1.2em;	
	}
	
.formulario .celda{
	padding-left:.3em;
	background-color:#FFF;
	font-size:.9em;
	display:block;
	width:89%;
	min-height:40px;
	margin:.7em auto;
	border:0;
	color:#868585;
	text-align:left;
	font-weight:200;
}


.legal{
	font-size:.7em;
	font-family:Arial, Helvetica, sans-serif;
	width:92%;
	margin:0 auto;
	text-align:left;
	color:#FFF;
	}
	
.legal input{
	vertical-align:top;
	}
	
.legal a{
	color:#FFF;
	}
	
.espacio_btn{
	width:90%;
	text-align:center;
	margin:.4em auto;
	}	
	
.espacio_btn input{
	cursor:pointer;
	width:99%;
	color: white;
	border: 0;
	font-size: 1.4em;
	margin:auto;
	margin-top:0.2em;
	background-color: #f34b3c;
	padding:0.4em;
}

#telefono_ctc{
	text-align:center;
	font-size:1.1em;
	}
	
#nombre {
	font-size:1.1em;
	
	}

#telefono{
	font-size:1.1em;
	}
	
#email{
	font-size:1.1em;
	}

/*CONTENIDO TEXTO*/

.contenido-texto {
	max-width: 1000px;
	margin:3em auto;
	font-size:1em;
}
	
.lista{
	color:#cb3b75;
	font-size:1.1em;
}
	
.item {
	margin-bottom:1.7em;
}
	
.texto {
	list-style-image:url(../img/071/tick.png);
	margin-left:8%;
	line-height:30px;
}
	
.letra-peq{
	font-size:.7em;
	text-align:left;
	margin-top:2em;
}
	
@media (max-width:1200px) {
	
section.formulario #ctcForm input:last-child{
	background-image:url(../img/071/telefono1.png);
	font-size:1em;
	background-position:0.6em;}
	}
	
@media (max-width:1100px) {
	section.formulario p{
		font-size:1.3em;
		}
	.foto{
		width:75%;
		margin-bottom:-0.2em;
		margin-right:-0.6em;
		}
		
	.grande {
	display:none;
	}
	
.peq {
	display:block;
	}
	
section.formulario #ctcForm input:last-child{
	background-image:url(../img/071/telefono1.png);
	background-position:0.6em;}
	
.espacio_btn input{
	font-size:1.2em;}
}
		
@media (max-width:900px) {
section.formulario p{
	margin:0;
	font-size:1.1em;	
	}
	
#telefono_ctc{
	text-align:center;
	font-size:0.9em;
	}
	
#nombre {
	font-size:0.9em;
	}

#telefono{
	font-size:0.9em;
	}
	
#email{
	font-size:0.9em;
	}
	
section.formulario #ctcForm input:last-child{
	font-size:1em;
	background-position: 0.4em;
}

.espacio_btn input{
	font-size:1em;}
	
}

@media (max-width:800px) {

.foto{
	width:99%;
	margin:auto;
	}
	
	.grande {
	display:block;
	margin:auto;
	}
	
.peq {
	display:none;
	}

section.formulario{
	width:98%;
	max-width:none;
	margin:auto;
	}
	
#enviarPorMailSolicitaInfo{
	display:none;
	}
	
.contenido-texto {
	margin-left:1em;
	}

hr {
	display:none;
	}
	
section.formulario p{
	font-size:1.1em;
	}
	
.contenido-texto {
	font-size:0.8em;
	}
	
.texto {
	line-height:20px;
	list-style-image:url(../img/071/tick2.png);
	margin-left:5%;}
	
}
