*{
	padding:0;
	margin:0;
	}
	
img{
	width: 99%;
	height:auto;
	}
	

body{
    font-family: 'Conv_Helvetica', Arial;
	background-color:#FFF;
	}
.landing{
	background-color: #FFFFFF;
	}
	
	@font-face {
	font-family: 'Conv_Helvetica';
	src: url('../fonts/Helvetica.eot');
	src: local('☺'), url('../fonts/Helvetica.woff') format('woff'), url('../fonts/Helvetica.ttf') format('truetype'), url('../fonts/Helvetica.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
	
/*HEADER*/

header{
	width:100%;
	margin:0 auto;
	background-color:#FFF;
	border-bottom: 4px solid #1d365f;
	}
	
header .llamanos{
	width:100%;
	margin:0 auto;
	background-color:#e1e6ec;
	padding:.5em 0;
	color:#797979;
	}
	
header .llamanos div{
	max-width:1000px;
	width:99%;
	text-align:right;
	margin:0 auto;
}
	
header .llamanos div img{
	width:25px;
	}
	
header .cabecera{
	width:99%;
	margin:0 auto;
	max-width:1000px;
	padding:0;
	text-align:right;
	}
	
header .cabecera figure{
	display:inline-block;
	width:23%;
	vertical-align:middle;
	margin:.4em 0;
	margin-right:0.5em;
	}
		
.titulo {
	display:inline-block;
	font-size:1.8em;
	vertical-align:middle;
	margin-right:0.7em;
	color:#84bf41;
	}
	
.iphone {
	font-size:1.3em;}
/*CONTENIDO*/

section.contenido{
	background-image: url(../img/080/background.jpg);
	}
	
section.contenido .contenido_peque{
	width:99%;
	max-width:1100px;
	margin:0em auto 0 auto;
	padding:1em 0 1em 0;
	text-align:center;
	
}

.basico{
	background-color:;
	}
	
section.foto{
	width:35%;
	display:inline-block;
	vertical-align: bottom;
	margin-left:6em;
	
	}
		
section.foto .mvl{
	display:none;
	}	

section.foto .web{
	display:block;
}	
		
section.formulario{
	width:25%;
	float:right;
	text-align:center;
	vertical-align: top;
	margin-top:-23em;
	margin-right:10em;
	

	}
	
.titular {
	width:42%;
	float:right;
	vertical-align:top;
	margin-top:1.3em;
	margin-right:9em;
	}

	
section.formulario p{
	margin:0.5em 0;
	font-size:1.4em;
	color:#FFF;
	font-weight:bold;
	margin-bottom:0.5em;
	}

section.formulario #ctcForm, section.formulario #enviarPorMailSolicitaInfo{
	background-color:#019ed9;
	width:99%;
	margin:1em auto;
	text-align:center;
	padding: .4em 0 .2em 0;
	}
	

	
section.formulario #ctcForm input:last-child{
	font-size:1.1em;
	cursor:pointer;
	width:30%;
	color: white;
	border: 0;
	background: -webkit-gradient(linear, left top, right top, from(#ff9800), to(#ff6300));
	background: -webkit-linear-gradient(top, #ff9800, #ff6300);
	background: -moz-linear-gradient(top, #ff9800, #ff6300);
	background: -o-linear-gradient(top, #ff9800, #ff6300);
	background: -ms-linear-gradient(top, #ff9800, #ff6300);
	background: linear-gradient(top, #ff9800, #ff6300);
	background-color: #ff9800;	
	}
	
.formulario .celda{
	padding-left:.3em;
	background-color:#FFF;
	font-size:.9em;
	display:block;
	width:89%;
	min-height:30px;
	margin:1.5em auto;
	border:0;
	color:#868585;
	text-align:left;
	font-weight:200;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}


.legal{
	font-size:.7em;
	font-family:Arial, Helvetica, sans-serif;
	width:92%;
	margin:0 auto;
	text-align:left;
	color:#FFF;
	}
	
.legal input{
	vertical-align:top;
	}
	
.legal a{
	color:#FFF;
	}
	
.espacio_btn{
	width:90%;
	text-align:center;
	margin:.4em auto;
	}	
	
.espacio_btn input{
	font-weight:bold;
	cursor:pointer;
	width:99%;
	padding:.5em;
	color: white;
	border: 0;
	font-size: 1.3em;
	margin:.5em auto;
	background-color: #84bf41;	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
/*formulario con tablet*/

.landing section.formulario #ctcForm, section.formulario #enviarPorMailSolicitaInfo{
	background-color:#1d365f;
	width:99%;
	margin:0em auto;
	text-align:center;
	padding: .4em 0 .2em 0;
	-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px
	}
	
.landing section.contenido {
 
  padding: 0em 0 1em 0;
}

.formulario img{
	max-width:250px;
	margin:.5em auto;}



/*TEXTO*/

section.contenido_texto{
	background-color:#FFF;
	width:99%;
	margin:0 auto;
	color:#7e7c7c;
	padding:1em 0;
	
	}
	
section.contenido_texto .texto{
	margin:0 auto;
	max-width:970px;
	width:99%;
	font-size:.9em;
	text-align:center;
	}
	
section.contenido_texto .texto h1{
	color:#0097da;
	margin:.4em auto;
	}
	
section.contenido_texto .texto article{
	width:30%;
	vertical-align:top;
	margin:0 .5em;
	display:inline-block;
	}
	
section.contenido_texto .texto article img{
	max-width:60px;
	}
	
.letra_peq{
	font-size:.7em;
	text-align:left;
	margin-top:1.5em;
	}



/*COOKIES*/	
		
#pie_galletero{
	max-width:950px;
	margin:1em auto .5em auto;
	width:99%;
	color: #949494;
	background: #e5e5e5;
	font-family:Arial, Helvetica, sans-serif;
	}
		
#pie_galletero a{
	color:#949494;
	}
		
#pie_galletero a:visited{
	color:#949494;
	}	

#pie_galletero_left{
	width:75%;
	vertical-align:middle;
	display:inline-block;
	margin:.5em;
	font-size:.8em;
	text-align:center;
	}

#pie_galletero_right{
	text-align:right;
	width:20%;
	vertical-align:middle;
	display:inline-block;
	margin:.5em;
	}
	
#pie_galletero_right input{
	margin:.3em;
	padding:.1em 0;
	cursor:pointer;
	}
	
#info_cook {
	font-family:Arial, Helvetica, sans-serif;
	max-width:950px;
	width:99%;
	display: block;
	margin: 0 auto;
	text-align: left;
	font-size: .7em;
	color: #949494;
	background: #e5e5e5;
	}
	
.texto_cook{
	width:96%;
	margin:0 auto;
	}	
	
	
.closeCookiesPolicy{
	text-align:right;
	}
	
.closeCookiesPolicy a{
	color:#666;
	text-decoration:none;
	font-size:15px;
	margin:.5em;
	font-weight:bold;
	}
	



@media (max-width: 1080px) {
	section.formulario{
		margin-top:-24em;
	}
	
	.legal{
		font-size:0.6em;
		}
	section.formulario p{
		font-size:1.3em;
		}
	.titular {
		margin-top:1em;
		}
	section.foto{
		width:32%;
	}	
	
	section.formulario{
		margin-top:-21em;}
}

@media (max-width: 1000px) {
	.espacio_btn input{
			font-size:1.1em;}
	}
	
@media (max-width: 950px) {
	section.foto{
		width:35%;
		margin-left:1.3em;
		}
	section.formulario{
		width:30%;
		margin-right:4em;
		margin-top:-21em;
		}
		.titular {
		margin-top:0.7em;
		
		}
		.titulo {
			font-size:1.6em;}
}

@media (max-width: 850px) {
	section.formulario{
		margin-top:-20em;}
		
		.espacio_btn input{
			font-size:1.1em;}
	}
	
@media (max-width: 800px) {
	
	header{
		display:none;}
	
	section.contenido {
		background:none;
		margin-top:0;
		padding:.4em 0 0 0;
	}
	
	.cabecera, .llamanos{
		display:none;
	}
	
	section.foto {
		display:block;
		width:99%;
		
		
	}
	
	
	
	section.foto .mvl{
		display:block;
		margin-left:-0.8em;
	}
		
	section.foto .web{
		display:none;
	}
	
	section.formulario p {
		font-size: 1.4em;
	}
	
	form#enviarPorMailSolicitaInfo{
		display:block;
		
		
	}
	
	section.formulario{
		width:99%;
		margin-top:0.1em;
		margin-right:-0.1em;
		}
	
	.titular{
		display:none;}
		
	section.contenido_texto{
		padding: 0;
		border-top:0px;
	}
	
	section.contenido_texto .texto article{
		width:95%;
		margin:1em auto;
	}
	
	section.formulario #ctcForm input{
		text-align:center;
	}

	
	#pie_galletero_left{
		width:98%;
		display:block;
	}

	#pie_galletero_right{
		text-align:center;
		margin:auto;
		width:98%;
		display:block;
	}

	.formulario .celda{

	
}
.formulario img{
	display:none;}

}


@media (max-width:480px) {
	section.contenido_texto .texto{
		font-size:.8em;
	}

}
 @media (max-width:320px) {
	 section.formulario p {
		 font-size:1em;}
		 
	.legal{
		font-size:0.5em;
		}
	 
 }