@charset "UTF-8";

*{
	padding:0;
	margin:0;
	box-sizing:border-box;
	}
	
img{
	width:99%;
	height:auto;
	}
	
@font-face{
	font-family: 'Conv_HelveticaNeueLTStd-Md';
	src: url('../fonts/HelveticaNeueLTStd-Md.eot');
	src: local('☺'), url('../fonts/HelveticaNeueLTStd-Md.woff') format('woff'), url('../fonts/HelveticaNeueLTStd-Md.ttf') format('truetype'), url('../fonts/HelveticaNeueLTStd-Md.svg') format('svg');
	font-weight: normal;
	font-style: normal;
	}
	
@font-face{
	font-family: 'Conv_HelveticaNeueLTStd-Bd';
	src: url('../fonts/HelveticaNeueLTStd-Bd.eot');
	src: local('☺'), url('../fonts/HelveticaNeueLTStd-Bd.woff') format('woff'), url('../fonts/HelveticaNeueLTStd-Bd.ttf') format('truetype'), url('../fonts/HelveticaNeueLTStd-Bd.svg') format('svg');
	font-weight: normal;
	font-style: normal;
	}
	
body{
	background-color:#FFFFFF;
	font-family: 'Conv_HelveticaNeueLTStd-Md';
	}
	
header{
	width:100%;
	background-color:#FFFFFF;
	border-top: 6px solid #c4c4c5;
	border-bottom: 1px solid #c4c4c5;
	}

.cabecera{
	width:99%;
	max-width:1000px;
	margin:auto;
	}
	
.cabecera img{
	max-width:395px;
	padding: 0.2em 0;
	}
	
.basic-content{
	width:100%;
	background-image:url(../img/120/background.jpg);
	background-repeat:no-repeat;
	}
	
.small-content{
	width:99%;
	max-width:1200px;
	margin:auto;
	}
	
.skeleton{
	width:65%;
	display:inline-block;
	vertical-align:middle;
	margin-top:2em;
	}
	
.skeleton h1{
	font-family: 'Conv_HelveticaNeueLTStd-Bd';
	color:#009FE3;
	font-size:1.7em;
	text-align:center;
	margin-bottom:1em;
	}
	
.video-iphone{
	width:100%;
	height:336px;
	text-align:center;
	background-image: url(../img/120/iphone-ok.png);
	background-repeat:no-repeat;
	background-position:center;
	background-size:contain;
	}
	
.video-ok{
	width:99%;
	max-width:525px;
	margin-top:1.1em;
	}

.promo-top{
	width:80%;
	margin:auto;
	margin-top:0.5em;
	}
	
.promo-top h2{
	width:45%;
	color:#009fe3;
	font-family: 'Conv_HelveticaNeueLTStd-Md';
	font-weight: lighter;
	font-size:2.1em;
	margin-left:1.5em;
	display:inline-block;
	vertical-align: middle;
	}
	
.promo-top h2 span{
	font-family: 'Conv_HelveticaNeueLTStd-Bd';
	font-size:1.2em;
	}
	
.bullet-top{
	width:45%;
	display:inline-block;
	vertical-align: middle;
	max-width:305px;
	}
	
/*FORM*/

section.formulario{
	width:26%;
	display:inline-block;
	vertical-align:middle;
	border:1px solid #ea9f2b;
	margin-top:-3.5em;
	}
	
section.formulario p{
	font-size:1.5em;
	color:#000000;
	margin-top:0.5em;
	}
	
section.formulario p span{
	font-size:1.05em;
	font-family: 'Conv_HelveticaNeueLTStd-Bd';
	}

section.formulario #ctcForm, section.formulario #enviarPorMailSolicitaInfo{
	background-color:#f7f7f7;
	width:99%;
	margin:.2em auto;
	text-align:center;
	padding:.4em 0;
	}
	
.formulario .celda{
	background-color:#FFF;
	font-size:.9em;
	display:block;
	width:78%;
	min-height:45px;
	margin:auto;
	margin-top:1.4em;
	color:#404040;
	text-align:left;
	border: 1px solid #cbcbcb;
	padding-left:4.2em;
	padding-top:0.3em;
	-webkit-appearance: none;
    -webkit-border-radius: 0;
	border-radius:0;
	}

.formulario .celda:focus{
	outline:0px;
	}

.legal{
	font-size:.7em;
	width:78%;
	text-align:left;
	color: #000000;
	margin:1em auto;
	}
	
.legal input{
	vertical-align:top;
	font-family: 'Conv_HelveticaNeueLTStd-Md';
	}
	
.legal a{
	color:#000000;
	}
	
.espacio_btn{
	width:94%;
	text-align:center;
	margin:.5em auto;
	}	
	
.espacio_btn input{
	cursor:pointer;
	width:83%;
	padding:0.4em 0;
	color: white;
	border: 0;
	font-size: 1.9em;
	margin:0.1em 0;
	background-color:#ea9f2b;
	font-family: 'Conv_HelveticaNeueLTStd-Bd';
	-webkit-appearance: none;
    -webkit-border-radius: 0;
	border-radius:0;
	}
	
#nombre{
	background-image:url(../img/120/icon-user.jpg);
	background-repeat:no-repeat;
	color:rgba(255,0,4,1.00);
	}
	
#telefono{
	background-image:url(../img/120/icon-phone.jpg);
	background-repeat:no-repeat;
	}

#email{
	background-image:url(../img/120/icon-mail.jpg);
	background-repeat:no-repeat;
	}

input[placeholder], [placeholder], *[placeholder]{
   color:#404040 !important;
   font-family: 'Conv_HelveticaNeueLTStd-Md';
   font-weight:lighter;
   }
  
  ::-webkit-input-placeholder{
    color:#404040;
	font-family: 'Conv_HelveticaNeueLTStd-Md';
	font-weight:lighter;
	}
	
*:-moz-placeholder{
    color:#404040;
	font-family: 'Conv_HelveticaNeueLTStd-Md';
	font-weight:lighter;
	}
	
*::-moz-placeholder{
    color:#404040;
	font-family: 'Conv_HelveticaNeueLTStd-Md';
	font-weight:lighter;
	}
	
*:-ms-input-placeholder{
    color:#404040;
	font-family: 'Conv_HelveticaNeueLTStd-Md';
	font-weight:lighter;
	}
	
.text-content{
	width:99%;
	max-width:1100px;
	margin:2em auto;
	}

.icon-text{
	width:12%;
	display:inline-block;
	vertical-align:middle;
	}
	
.text-bottom{
	width:80%;
	display:inline-block;
	vertical-align:middle;
	margin-left:5em;
	}

.text-bottom h1{
	color:#003479;
	font-family: 'Conv_HelveticaNeueLTStd-Bd';
	font-size:1.4em;
	margin-bottom:0.8em;
	}
	
.text-bottom p{
	color:#7d7d7d;
	font-family: 'Conv_HelveticaNeueLTStd-Md';
	font-weight:lighter;
	font-size:1.1em;
	}
	
.text-bottom p span{
	color:#003479;
	font-family: 'Conv_HelveticaNeueLTStd-Bd';
	}
	
.text-bottom ul{
	padding:0;
	margin:0;
	list-style-image:url(../img/120/tick-ok.png);
	list-style-position:inside;
	vertical-align:middle;
	}
	
.text-bottom ul li{
	color:#7d7d7d;
	font-family: 'Conv_HelveticaNeueLTStd-Md';
	font-weight:lighter;
	font-size:1.1em;
	line-height:35px;
	}
	
.politicas{
	margin-top:3em;
	font-size:0.7em;
	color:#404040;
	margin-left:6em;
	font-family: 'Conv_HelveticaNeueLTStd-Md';
	margin-bottom:2em;
	}
	
.politicas a{
	color:#404040;
	}
	
footer{
	width:100%;
	height:30px;
	background-color:#003479;
	}
	
@media (max-width:1085px){
	
.promo-top h2{
	margin-left:0.8em;
	font-size:1.6em;
	}

.icon-text{
	display:none;
	}
	}
	
@media (max-width:1040px){
	
.video-ok{
	width:76%;
	margin-top:1.7em;
	}

section.formulario{
	width:29%;
	}
	
.skeleton h1{
	font-size:1.5em;
	}
	}
	
@media (max-width:970px){
	
.video-ok{
	margin-top:2.2em;
	}
	
section.formulario{
	width:32%;
	}
	
.skeleton h1{
	font-size:1.3em;
	}
	}
	
@media (max-width:915px){
	
.video-ok{
	margin-top:2.8em;
	}
	}
	
@media (max-width:850px){
	
section.formulario{
	width:100%;
	margin-top:0;
	}
	
.skeleton{
	width:99%;
	}

.skeleton h1{
	font-size:1.7em;
	}
	
.video-ok{
	margin-top:1em;
	}
	
.promo-top h2{
	font-size:1.8em;
	}
	}
	
@media (max-width:675px){
	
.video-ok{
	width:75%;
	max-width:none;
	margin-top:1.8em;
	}
	
.skeleton h1{
	font-size:1.5em;
	}
	}
	
@media (max-width:620px){
	
.video-ok{
	margin-top:3em;
	}
	
.skeleton h1{
	font-size:1.6em;
	margin-bottom:0;
	}
	
.promo-top{
	margin:auto;
	text-align:center;
	margin-top:-2.5em;
	}
	
.promo-top h2{
	width:99%;
	font-size:2em;
	margin-left:0;
	}

.bullet-top{
	width:99%;
	}
	
.text-bottom{
	width:95%;
	text-align:center;
	margin-left:0;
	}
	
.politicas{
	width:85%;
	text-align:center;
	margin-left:0;
	}
	}
	
@media (max-width:530px){
	
.video-ok{
	margin-top:4em;
	}
	
.skeleton h1{
	margin-bottom:-1em;
	}
	}
	
@media (max-width:470px){
	
.video-ok{
	margin-top:5em;
	}
	
.skeleton h1{
	margin-bottom:-1.8em;
	}
	}
	
@media (max-width:385px){
	
.video-ok{
	margin-top:6em;
	}
	
.skeleton h1{
	margin-bottom:-2.1em;
	}
	}