@charset "UTF-8";

*{
margin:0;
padding:0;
box-sizing:border-box;
}

img{
width:99%;
height:auto;
}

@font-face{
font-family: 'Conv_HelveticaLTStd-Light';
src: url('../fonts/HelveticaLTStd-Light.eot');
src: local('☺'), url('../fonts/HelveticaLTStd-Light.woff') format('woff'), url('../fonts/HelveticaLTStd-Light.ttf') format('truetype'), url('../fonts/HelveticaLTStd-Light.svg') format('svg');
font-weight: normal;
font-style: normal;
}

@font-face{
font-family: 'Conv_HelveticaLTStd-Bold';
src: url('../fonts/HelveticaLTStd-Bold.eot');
src: local('☺'), url('../fonts/HelveticaLTStd-Bold.woff') format('woff'), url('../fonts/HelveticaLTStd-Bold.ttf') format('truetype'), url('../fonts/HelveticaLTStd-Bold.svg') format('svg');
font-weight: normal;
font-style: normal;
}

body{
font-family: 'Conv_HelveticaLTStd-Light';
background-color:#FFFFFF;
}

header{
width:100%;
}

.cabecera{
width:99%;
max-width:1100px;
margin:1em auto;
text-align:center;
}

.cabecera img{
width:12%;
display:inline-block;
vertical-align:middle;
margin-left:3em;
}

.tittle{
width:60%;
display:inline-block;
vertical-align:middle;
text-align:left;
}

.tittle h1{
font-family: 'Conv_HelveticaLTStd-Bold';
font-size:3em;
color:#003479;
}

.tittle h2{
color:#009ddd;
font-size:2.14em;
line-height:20px;
}

.tittle h2 span{
font-family: 'Conv_HelveticaLTStd-Bold';
}

.basic-content{
width:99%;
}

.small-content{
width:99%;
max-width:1160px;
margin:auto;
}

.skeleton{
width:60%;
text-align:center;
display:inline-block;
vertical-align: middle;
}

.offer{
width:70%;
}

.doctor{
width:95%;
margin-top:1em;
}

.mvl-header{
display:none;
}

/*Formulario*/

section.formulario{
width:28%;
display:inline-block;
vertical-align: middle;
background-color:#dfdfdf;
-webkit-border-radius:10px;
-moz-border-radius:10px;
border-radius:10px;
}

section.formulario p{
font-size:2.25em;
color:#FFFFFF;
line-height:36px;
background-color:#009ddd;
font-family: 'Conv_HelveticaLTStd-Bold';
margin-top:-0.3em;
-webkit-border-radius: 10px 10px 0px 0px;
-moz-border-radius: 10px 10px 0px 0px;
border-radius: 10px 10px 0px 0px;
padding:0.2em 0;
}

section.formulario p .wait{
font-size:0.6em;
color:#FFFFFF;
font-family: 'Conv_HelveticaLTStd-Bold';
}

section.formulario #enviarPorMailSolicitaInfo{
width:99%;
margin:.2em auto;
text-align:center;
padding:.4em 0;
}

.formulario .celda{
background-color:#FFFFFF;
font-size:.9em;
display:block;
width:85%;
min-height:35px;
margin:auto;
margin-top:0.8em;
color:#FFFFFF;
border:0;
text-align:left;
padding-left:3em;
padding-top:0.3em;
/*-webkit-appearance: none;*/
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
}

input[placeholder], [placeholder], *[placeholder]{
color:#000000 !important;
font-family: 'Conv_HelveticaLTStd-Light';
font-weight:lighter;
}

::-webkit-input-placeholder{
color:#000000;
font-family: 'Conv_HelveticaLTStd-Light';
font-weight:lighter;
}

*:-moz-placeholder{
color:#000000;
font-family: 'Conv_HelveticaLTStd-Light';
font-weight:lighter;
}

*::-moz-placeholder{
color:#000000;
font-family: 'Conv_HelveticaLTStd-Light';
font-weight:lighter;
}

*:-ms-input-placeholder{
color:#000000;
font-family: 'Conv_HelveticaLTStd-Light';
font-weight:lighter;
}

section.formulario .name{
background-image:url(../img/150/icon-user.png);
background-repeat:no-repeat;
background-position:5px;
}

section.formulario .phone{
background-image:url(../img/150/icon-phone.png);
background-repeat:no-repeat;
background-position:5px;
}

section.formulario .mail{
background-image:url(../img/150/icon-mail.png);
background-repeat:no-repeat;
background-position:5px;
}

.legal{
font-size:.7em;
width:78%;
text-align:left;
color: #000000;
margin:0.4em auto;
font-family: 'Conv_HelveticaLTStd-Light';
}

.legal input{
vertical-align: middle;
}

.legal a{
color:#000000;
}

.espacio_btn{
width:94%;
text-align:center;
margin:.5em auto;
}	

.espacio_btn input{
cursor:pointer;
width:90%;
padding:0.2em 0;
color: white;
font-size: 2.4em;
margin:0.1em 0;
background-color:#a3bf2a;
-webkit-appearance: none;
border:0;
font-family: 'Conv_HelveticaLTStd-Bold';
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
-webkit-box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.3);
-moz-box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.3);
box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.3);
}

.text-content{
width:99%;
max-width:1160px;
margin:auto;
background-color:#003479;
margin-top:-0em;
text-align:center;
}

.text-content img{
width:17%;
display:inline-block;
vertical-align:middle;
padding:0.7em 0;
margin-left:4em;
}

.text-content h1{
width:60%;
text-align:left;
display:inline-block;
vertical-align:middle;
color:#FFFFFF;
font-size:3em;
}

footer{
width:99%;
max-width:1160px;
margin:auto;
}

.politicas{
margin-top:1em;
font-size:0.8em;
color:#000000;
margin-bottom:2em;
text-align:left;
margin-left:5em;
}

.politicas a{
color:#000000;
}


@media (max-width:1060px){

section.formulario p{
font-size:1.95em;
line-height:32px;
}

.espacio_btn input{
font-size:2em;
padding-top:0.4em;
}	
}	

@media (max-width:940px){

section.formulario p{
font-size:1.78em;
}
}

@media (max-width:860px){

header{
display:none;
}

.skeleton{
width:99%;
}

.offer{
display:none;
}

.doctor{
display:none;
}

.mvl-header{
display:block;
}

section.formulario{
width:100%;
-webkit-border-radius:0px;
-moz-border-radius:0px;
border-radius:0px;
}

section.formulario p{
-webkit-border-radius:0px;
-moz-border-radius:0px;
border-radius:0px;
padding:0.7em 0;
font-size:1.8em;
line-height:45px;
}

section.formulario p .wait{
font-size:1.2em;
}

.text-content{
margin:0;
width:98%;
text-align:center;
margin-left:0.25em;
}

.text-content img{
display:none;
}

.text-content h1{
width:90%;
font-size:1.3em;
text-align:center;
padding:0.6em 0;
}

.politicas{
margin-top:0em;
}

.espacio_btn input{
font-size:2.5em;
}
}

@media (max-width:680px){

section.formulario p{
font-size:1.3em;
}

.text-content{
margin-left:0.2em;
}
}

@media (max-width:510px){

section.formulario p{
font-size:1.1em;
padding:0.5em 0;
margin-top:-0.5em;
}

.text-content h1{
font-size:1.1em;
}
}

@media (max-width:425px){

section.formulario p{
font-size:1.5em;
text-align:center;
line-height:30px;
padding-top:0.6em;
}

section.formulario p .wait{
font-size:1em;
}

.politicas{
margin-left:2em;
font-size:0.7em;
}

.text-content{
margin-left:0.1em;
}
}
