@charset "UTF-8";


*{
	padding:0;
	margin:0;
	box-sizing:border-box;
	}

	
img{
	width: 99%;
	height:auto;
	}
	
@font-face {
	font-family: 'Conv_Helvetica';
	src: url('../fonts/Helvetica.eot');
	src: local('☺'), url('../fonts/Helvetica.woff') format('woff'), url('../fonts/Helvetica.ttf') format('truetype'), url('../fonts/Helvetica.svg') format('svg');
	font-weight: normal;
	font-style: normal;
	}
	
body{
	background-color: #FFFFFF;
	font-family: 'Conv_Helvetica';
	}
	
header{
	width:100%;
	background-color:#FFFFFF;
	margin:0 auto;
	padding:0.3em 0;
	border-bottom:3px solid #2a395e;
	}
	
.head{
	width:99%;
	max-width:1100px;
	margin:auto;
	text-align:center;
	}
	
.title-head{
	display:inline-block;
	vertical-align:middle;
	font-size:2em;
	margin-right:5em;
	color:#2a395e;
	font-weight:bold;
	}
	

.logo{
	max-width:258px;
	display:inline-block;
	vertical-align:middle;
	text-align:right;
	width:18%;
	}
	
/*CONTENIDO-TEXTO*/
	
.basic_content{
	width:100%;
	background-image:url(../img/093/background.jpg);
	}
	
.small_content{
	width:99%;
	margin:0 auto;
	max-width:1000px;
	}
	
/*SKELETON*/
	
.skeleton{
	width:65%;
	display:inline-block;
	margin-left:1.8em;
	}
	
.skeleton h1{
	color:#FFFFFF;
	font-weight:bold;
	font-size:1.7em;
	padding:0.6em 0;
	text-align:center;
	}

.iphone-video{
	width:100%;
	text-align:center;
	height:276px;
	background-image:url(../img/093/iphone.png);
	background-repeat:no-repeat;
	background-position:center;
	background-size: contain;
	}
	
.video-ok{
	max-width:440px;
	margin-top:0.8em;
	border: solid 1px #888787; 
	}
	
	
.photo{
	width:99%;
	max-width:225px;
	margin:auto;
	margin-top:0.8em;
	margin-bottom:0.8em;
	}

	
/*FORMULARIO*/
	
section.formulario{
	width:30%;
	display:inline-block;
	text-align:center;
	vertical-align:top;
	margin-top:4em;
	}
	
section.formulario p{
	margin:1em 0;
	font-size:1.8em;
	color:#003479;
	text-align:center;
	}

section.formulario #ctcForm, section.formulario #enviarPorMailSolicitaInfo{
	background-color:#FFFFFF;
	width:99%;
	margin:1em auto;
	text-align:center;
	padding: .1em 0 .2em 0;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	}
	
.formulario .celda{
	padding-left:.3em;
	background-color:#e1e5ea;
	font-size:.9em;
	display:block;
	width:86%;
	min-height:35px;
	margin:1.8em auto;
	border:0;
	color:#585254;
	text-align:left;
	font-weight:200;
	}

.legal{
	font-size:.7em;
	width:92%;
	margin:0 auto;
	text-align:left;
	color:#585254;
	margin-left:1.6em;
	margin-bottom:2.2em;
	}
	
.legal input{
	vertical-align:top;
	}
	
.legal a{
	color:#585254;
	}
	
.espacio_btn{
	width:90%;
	text-align:center;
	margin:.4em auto;
	}	
	
.espacio_btn input{
	cursor:pointer;
	width:99%;
	padding:1.2em;
	color: white;
	border: 0;
	font-size: 1.5em;
	margin-top:0.2em;
	background-color:#a3bf2a;
	margin-bottom:0.5em;
	}
	
/*CONTENIDO-TEXTO*/

.text_content{
	max-width:1000px;
	margin:0 auto;
	}
	
.content-tittle{
	margin:1.5em 0;
	color:#2a395e;
	font-weight:bold;
	text-align:left;
	margin-left:1.2em;
	font-size:1.4em;
	}	
	
	
.container{
	width:99%;
	text-align:center;
	margin:0 auto;
	}
	
.listMenu{
	display:inline-block;
	width:30%;
	vertical-align:top;
	margin-top:1em;
	}
	
.listMenu ul{
	margin:0;
	padding:0;
	list-style-type:none;
	}
	
.listMenu ul li{
	text-decoration:none;
	display:block;
	background-color:#b33d72;
	padding:1.2em 0;
	color:#FFFFFF;
	text-align:center;
	font-size:1.2em;
	font-weight:bold;
	}
	

 .listMenu ul li a{
	text-decoration:none;
	color:#FFFFFF;
	}
	
.listMenu ul li:hover{
	background-color:#e889b4;
	cursor:pointer;
	}
	
.listMenu li.active{
	background-color:#e889b4;
	}
	
.listMenu li.active::after{
	background-image:url(../img/093/triangle.png) ;
	content: "";
    height: 40px;
    position: absolute;
   	transform: translateY(-20%) translateX(257%);
    width: 30px;
	}
	
.father-content{
	display:inline-block;
	vertical-align:middle;
	width:50%;
	}

.information{
	display:none;
	vertical-align:top;
	}
	
.picture{
	display:inline-block;
	max-width:66px;
	vertical-align:middle;
	width:50%;
	text-align:left;
	margin-left:-4.9em;
	margin-bottom:0.9em;
	margin-top:0.8em;
	}
	
.title{
	display:inline-block;
	vertical-align:middle;
	font-size:1.5em;
	color:#b33d72;
	width:50%;
	text-align:left;
	}
	
.information p{
	margin-left:2.5em;
	font-size:1.2em;
	color:#383c3e;
	line-height:30px;
	text-align:left;
	}

.letra_peq{
	font-size:.7em;
	text-align:left;
	margin-top:5em;
	margin-left:2em;
	margin-bottom:2em;
	}
	
footer{
	background-color:#2a395e;
	height:80px;
	}

@media (max-width:1000px){
	
section.formulario p{
	font-size:1.5em;
	}
		
.espacio_btn input{
	font-size:1.2em;
	}
		
.listMenu li.active::after{
	transform: translateY(-20%) translateX(260%)
	}
	}

@media (max-width:950px) {
	
.listMenu li.active::after{
	transform: translateY(-20%) translateX(218%)
	}
	}


@media (max-width:900px) {
.formulario{
	width:25%;
	}
		
.skeleton{
	margin-left:0em;
	width:68%;
	}
	
.legal{
	font-size:0.6em;
	}
	
.listMenu li.active::after{
	transform: translateY(-20%) translateX(190%)
	}
	}
	
@media (max-width:850px) {
	
.basic_content{
	background-image:none;
	}	
	
section.formulario{
	width:99%;
	margin-top:0.8em;
	margin-left:0.2em;
	}
	
.skeleton{
	width:100%;
	background-image:url(../img/093/background.jpg);
	background-repeat:no-repeat;
	}
	
.title-head{
	font-size:1.4em;
	margin-top:0.3em;
	}
	
.logo{
	width:23%;
	}
	
.photo{
	width:80%;
	}

.legal{
	font-size:0.8em;
	}
	
.espacio_btn input{
	font-size:1.6em;
	}
	
section.formulario p{
	font-size:1.9em;
	}
	
.formulario .celda{
	width:90%;
	}
	
.listMenu li.active::after{
	display:none;
	}
	
.listMenu{
	width:88%;
	}

.father-content{
	width:93%;
	margin-top:1.5em;
	}
	
.information p{
	margin-left:1em;
	}
	
.content-tittle{
	text-align:center;
	}
	}

@media (max-width:570px) {

.video-ok{
	width:76%;
	margin-top:0.6em;
	}
	
.iphone-video{
	background-position:top;
	}
	
.title-head{
	font-size:0.9em;
	}
	
.logo{
	width:24%;
	}
	
.skeleton h1{
	font-size:1.1em;
	padding:1.5em 0;
	}

.photo{
	width:50%;
	margin-top:-2em;
	}
	
section.formulario{
	margin-top:0.4em;
	}
	}
		
@media (max-width:390px) {
	
.video-ok{
	width:85%;
	margin-top:0.4em !important;
	}
	}
	
@media (max-width:390px) {
	
.video-ok{
	width:76%;
	margin-top:-0.4em;
	}

.title-head{
	font-size:0.7em;
	}
	
.skeleton h1{
	font-size:0.9em;
	}
	
.photo{
	margin-top:-6em;
	}

.espacio_btn input{
	font-size:1.3em;
	}

.title{
	font-size:1.2em;
	}
	
.content-tittle{
	font-size:1.1em;
	}
	}

@media (max-width:250px) {
	
.espacio_btn input{
	font-size:0.9em;
	}
	
.title{
	font-size:0.8em;
	}
	
.video-ok{
	margin-top:-0.3em;
	}

.title-head{
	font-size:0.5em;
	}
	
section.formulario p{
	font-size:1.5em;
	}
	
.picture{
	width:30%;
	}
}
	


