*{
	padding:0;
	margin:0;
	}
	
img{
	width: 99%;
	}
	

body{
    font-family:Arial, Helvetica, sans-serif;
	background-color:#FFF;
	}
	
/*HEADER*/

header{
	width:100%;
	margin:0 auto;
	background-color:#FFF;
	}
	
header .llamanos{
	width:100%;
	margin:0 auto;
	background-color:#e1e6ec;
	padding:.5em 0;
	color:#797979;
	}
	
header .llamanos div{
	max-width:1000px;
	width:99%;
	text-align:right;
	margin:0 auto;
}
	
header .llamanos div img{
	width:25px;
	}
	
header .cabecera{
	width:99%;
	margin:0 auto;
	max-width:1000px;
	padding:0;
	text-align:right;
	}
	
header .cabecera figure{
	display:inline-block;
	width:23%;
	vertical-align:middle;
	margin:.4em 0;
	}	
	
/*CONTENIDO*/
section.contenido{
	width:100%;
	background:url(../img/067/back-lead.jpg) no-repeat center;
	margin:0em auto;
	padding:1em 0;
	text-align:center;
}
	
section.foto{
	width:45%;
	display:inline-block;
	vertical-align:middle;
}
		
section.foto .mvl{
	display:none;
	}	

section.foto .web{
	display:block;
}	
		
section.formulario{
	width:15%;
	display:inline-block;
	text-align:center;
	vertical-align:middle;
	margin-top:2em;
	max-width:260px;
	
	}
	
section.formulario p{
	margin:.4em 0;
	font-size:1.4em;
	color:#FFF;
	}

section.formulario #ctcForm, section.formulario #enviarPorMailSolicitaInfo{
	background-color:#0163a7;
	width:99%;
	margin:1em auto;
	text-align:center;
	padding: .4em 0 .2em 0;
	border:5px solid white;
	}
	
	
.formulario .celda{
	padding-left:.3em;
	background-color:#FFF;
	font-size:.9em;
	display:block;
	width:89%;
	min-height:40px;
	margin:1em auto;
	border:0;
	color:#868585;
	text-align:left;
	font-weight:200;
}


.legal{
	font-size:.65em;
	font-family:Arial, Helvetica, sans-serif;
	width:92%;
	margin:0 auto;
	text-align:left;
	color:#FFF;
	}
	
.legal input{
	vertical-align:top;
	}
	
.legal a{
	color:#FFF;
	}
	
.espacio_btn{
	width:90%;
	text-align:center;
	margin:.4em auto;
	}	
	
.espacio_btn input{
	font-weight:bold;
	cursor:pointer;
	width:90%;
	padding:.2em;
	color: white;
	border: 0;
	font-size: 2.2em;
	margin:.2em auto;
	background: -webkit-gradient(linear, left top, right top, from(#ff9800), to(#ff6300));
	background: -webkit-linear-gradient(top, #ff9800, #ff6300);
	background: -moz-linear-gradient(top, #ff9800, #ff6300);
	background: -o-linear-gradient(top, #ff9800, #ff6300);
	background: -ms-linear-gradient(top, #ff9800, #ff6300);
	background: linear-gradient(top, #ff9800, #ff6300);
	background-color: #ff9800;	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
/*formulario con tablet*/


.promo_tablet{
	max-width:274px;
	margin:1em auto;}

/*TEXTO*/

section.contenido_texto{
	background-color:#FFF;
	width:100%;
	margin:0 auto;
	color:#7e7c7c;
	padding:1em 0;
	
	}
	
section.contenido_texto .texto{
	margin:0 auto;
	max-width:970px;
	width:99%;
	font-size:.85em;
	text-align:center;
	line-height:20px;
	}
	
	
section.contenido_texto .texto article{
	width:30%;
	vertical-align:top;
	margin:0 .5em;
	display:inline-block;
	}
	
section.contenido_texto .texto article img{
	max-width:50px;
	margin-bottom:1em;
	}
	
.letra_peq{
	font-size:.7em;
	text-align:left;
	margin-top:1.5em;
	}



	

@media (max-width: 1500px) {
section.foto{
	width:50%;
	}
		
section.formulario{
	width:18%;
	}
	
}
	
@media (max-width: 1300px) {
section.foto{
	width:55%;
	}
		
section.formulario{
	width:22%;
	}
	
}
@media (max-width: 1200px) {
section.foto{
	width:60%;
	}
		
section.formulario{
	width:22%;
	}
	
}
	
@media (max-width: 1000px) {
section.foto{
	width:74%;
	}
		
section.formulario{
	width:23%;
	}
	
}
	
	
@media (max-width: 800px) {
	
	header{
		display:none;}
		
	section.contenido {
		background:none;
		margin-top:0;
		padding:.4em 0 0 0;
	}
	
	
	section.formulario{
		display:block;
		width:98%;
		margin:0 auto;
		max-width:800px;
	}
	
	section.foto {
		display:block;
		width:100%;
		margin:0 auto;
		max-width:800px;
	}
	
	section.foto .mvl{
		display:block;
		margin:0 auto;
	}
		
	section.foto .web{
		display:none;
	}
	
.formulario img{
	display:none;}
	
	section.contenido_texto .texto article {
  width: 90%;
  display:block;
  margin:0 auto;
}

section.contenido_texto {
 
  padding: 0;
}

section.formulario #enviarPorMailSolicitaInfo {
 
  margin: 0 auto;
}
}


@media (max-width:480px) {
	section.contenido_texto .texto{
		font-size:.8em;
	}
	
	section.contenido_texto .texto article img {
  max-width: 40px;
}

}
