@charset "UTF-8";

*{
padding:0;
margin:0;
box-sizing:border-box;
}

img{
width:99%;
height:auto;
}

@font-face {
font-family: 'Helvetica LT Std';
src: url('../fonts/HelveticaLTStd-Light.eot');
src: url('../fonts/HelveticaLTStd-Light.eot?#iefix') format('embedded-opentype'),
url('../fonts/HelveticaLTStd-Light.woff') format('woff'),
url('../fonts/HelveticaLTStd-Light.ttf') format('truetype');
font-weight: 300;
font-style: normal;
}


@font-face{
font-family: 'Conv_HelveticaNeueLTStd-Md';
src: url('../fonts/HelveticaNeueLTStd-Md.eot');
src: local('☺'), url('../fonts/HelveticaNeueLTStd-Md.woff') format('woff'), url('../fonts/HelveticaNeueLTStd-Md.ttf') format('truetype'), url('../fonts/HelveticaNeueLTStd-Md.svg') format('svg');
font-weight: normal;
font-style: normal;
}

@font-face{
font-family: 'Conv_HelveticaNeueLTStd-Bd';
src: url('../fonts/HelveticaNeueLTStd-Bd.eot');
src: local('☺'), url('../fonts/HelveticaNeueLTStd-Bd.woff') format('woff'), url('../fonts/HelveticaNeueLTStd-Bd.ttf') format('truetype'), url('../fonts/HelveticaNeueLTStd-Bd.svg') format('svg');
font-weight: normal;
font-style: normal;
}

body{
background-color:#FFFFFF;
font-family: 'Conv_HelveticaNeueLTStd-Md';
}

header{
width:100%;
background-color:#FFFFFF;
}

.cabecera{
width:99%;
max-width:1200px;
margin:auto;
}

.cabecera img{
max-width:215px;
padding:0.5em 0;
}

.basic-content{
width:100%;
background-image:url(../img/134/background.jpg);
background-repeat:no-repeat;
background-size:cover;
}

.small-content{
width:99%;
max-width:1200px;
margin:auto;
}

/*Skeleton*/

.skeleton{
width:62%;
display:inline-block;
vertical-align:top;
}

.mvl{
display:none;
}

.text-important{
display:none;
background-color: rgba(62,181,230,0.50);
width:58%;
color:#FFFFFF;
padding:0.8em;
margin-left:11em;
margin-top:0.7em;
}

.text-important h1{
text-align:left;
font-size:1.7em;
font-family: 'Helvetica LT Std';
}

.text-important p{
text-align:left;
margin-top:0.5em;
font-size:1.9em;
}

/*Formulario*/

section.formulario{
width:28%;
display:inline-block;
vertical-align:top;
margin-top:11.50em;
margin-bottom:10em;
}

section.formulario p .wait{
font-size:1.3em;
color:#000000;
font-family: 'Helvetica LT Std';
}

section.formulario p{
font-size:1.39em;
color:#FFFFFF;
line-height:27px;
}

section.formulario #ctcForm, section.formulario #enviarPorMailSolicitaInfo{
width:99%;
margin:.2em auto;
text-align:center;
padding:.4em 0;
}

.formulario .celda{
background-color:rgba(195,0,128,0.50);
font-size:.9em;
display:block;
width:78%;
min-height:69px;
margin:auto;
margin-top:0.8em;
color:#FFFFFF;
border:1px solid #FFFFFF;
text-align:left;
padding-left:5.6em;
padding-top:0.3em;
-webkit-appearance: none;
-webkit-border-radius: 0;
border-radius:0;
}

.formulario .celda:focus{
outline:0px;
}

.legal{
font-size:.7em;
width:78%;
text-align:left;
color: #FFFFFF;
margin:0.4em auto;
font-family: 'Helvetica LT Std';
}

.legal input{
vertical-align: middle;
}

.legal a{
color:#FFFFFF;
}

.espacio_btn{
width:94%;
text-align:center;
margin:.5em auto;
}	

.espacio_btn input{
cursor:pointer;
width:83%;
padding:0.6em 0;
color: white;
border: 3px solid #FFFFFF;
font-size: 1.4em;
margin:0.1em 0;
background-color:#a3bf2a;
-webkit-appearance: none;
-webkit-border-radius: 0;
border-radius:0;
min-height:72px;
}

.espacio_btn input:hover{
background-color:#697c19;
}

section.formulario .name{
background-image:url(../img/134/user-form-ok.jpg);
background-repeat:no-repeat;
color:rgba(255,0,4,1.00);
}

section.formulario .phone{
background-image:url(../img/134/phone-form-ok.jpg);
background-repeat:no-repeat;
}

section.formulario .mail{
background-image:url(../img/134/mail-form-ok.jpg);
background-repeat:no-repeat;
}

input[placeholder], [placeholder], *[placeholder]{
color:#FFFFFF !important;
font-family: 'Helvetica LT Std';
font-weight:lighter;
}

::-webkit-input-placeholder{
color:#FFFFFF;
font-family: 'Helvetica LT Std';
font-weight:lighter;
}

*:-moz-placeholder{
color:#FFFFFF;
font-family: 'Helvetica LT Std';
font-weight:lighter;
}

*::-moz-placeholder{
color:#FFFFFF;
font-family: 'Helvetica LT Std';
font-weight:lighter;
}

*:-ms-input-placeholder{
color:#FFFFFF;
font-family: 'Helvetica LT Std';
font-weight:lighter;
}

/*Text-content*/

.text-content{
width:99%;
max-width:1200px;
margin:auto;
text-align:center;
}

/*Box text 1*/

.big-box1{
margin-top:3em;
margin-bottom:6em;
}

.box-text{
width:40%;
display:inline-block;
vertical-align:middle;
text-align:right;
}

.box-text h1{
color:#c30080;
font-family: 'Conv_HelveticaNeueLTStd-Bd';
font-size:1.4em;
line-height:20px;
}

.box-text h2{
font-size:1.1em;
font-family: 'Helvetica LT Std';
}

.box-text p{
font-size:0.9em;
font-family: 'Helvetica LT Std';
margin-top:0.5em;
}

.box-text p span{
color:#c30080;
font-family: 'Conv_HelveticaNeueLTStd-Bd';
}

.box-text .b-text{
font-family: 'Conv_HelveticaNeueLTStd-Bd';
color:#000000;
}

.box-text h3{
font-family: 'Helvetica LT Std';
color:#c30080;
margin-top:0.4em;
font-size:1.25em;
}

.box-image{
width:40%;
display:inline-block;
vertical-align:middle;
text-align:center;
}

.big-box1 .box-image img{
width:20%;
margin-bottom:0.7em;
}

.box-image h1{
color:#c30080;
font-size:3.8em;
font-family: 'Helvetica LT Std';
}

/*Duplicacion Adeslas salud Mvl*/

.box-image-mvl{
width:40%;
vertical-align:middle;
text-align:center;
display:none;
}

.big-box1 .box-image-mvl img{
width:20%;
margin-bottom:0.7em;
}

.box-image-mvl h1{
color:#c30080;
font-size:3.8em;
font-family: 'Helvetica LT Std';
}

/*Box text 2*/

.big-box2{
margin-bottom:3em;
}

.box-text2{
width:45%;
display:inline-block;
vertical-align:top;
text-align:left;
}

.box-text2 h1{
color:#a3bf2a;
font-family: 'Conv_HelveticaNeueLTStd-Bd';
font-size:1.4em;
line-height:20px;
}

.box-text2 h3{
font-family: 'Helvetica LT Std';
color:#a3bf2a;
margin-top:0.4em;
font-size:1.25em;
}

.box-text2 p{
font-size:0.9em;
font-family: 'Helvetica LT Std';
margin-top:0.9em;
}

.box-text2 p span{
color:#a3bf2a;
font-family: 'Conv_HelveticaNeueLTStd-Bd';
}

.box-text2 .b-text{
font-family: 'Conv_HelveticaNeueLTStd-Bd';
color:#000000;
}

.box-image2{
width:35%;
display:inline-block;
vertical-align:top;
text-align:center;
}

.box-image2 img{
width:30%;
margin-bottom:0.7em;
}

.box-image h1{
color:#c30080;
font-size:3.8em;
font-family: 'Helvetica LT Std';
line-height:60px;
}

.box-image2 img{
width:30%;
}

.box-image2 h1{
color:#A3BF2A;
font-size:3.8em;
font-family: 'Helvetica LT Std';
line-height:60px;
}

.politicas{
margin-top:3em;
font-size:0.9em;
color:#404040;
font-family: 'Helvetica LT Std';
margin-bottom:2em;
text-align:left;
margin-left:5em;
}

.politicas a{
color:#404040;
}

footer{
width:100%;
background-color:#3eb5e6;
height:30px;
}

/*Responsive*/

@media (max-width:1580px){

section.formulario{
margin-top:5em;
}
}

@media (max-width:1320px){

section.formulario{
margin-top:2em;
}

.text-important{
width:45%;
}

.text-important h1{
font-size:1.2em;
}

.text-important p{
font-size:1.4em;
}
}

@media (max-width:1190px){

.text-important{
width:52%;
}
}

@media (max-width:1140px){

section.formulario{
margin-top:3em;
}

section.formulario p{
font-size:1.27em;
}

.formulario .celda{
margin-top:0.4em;
}
}

@media (max-width:1030px){

section.formulario{
width:31%;
}

.text-important{
width:55%;
}

.box-text{
width:50%;
}

.box-image-mvl h1{
font-size:2.5em;
}
}

@media (max-width:970px){

section.formulario{
margin-left:3em;
}

section.formulario p{
font-size:1.2em;
}

.text-important{
width:58%;
}
}

@media (max-width:930px){

.basic-content{
background-image:none;
}

.skeleton{
width:100%;
}

.skeleton img{
width:100%;
}

.mvl{
display:block;
}

.text-important{
display:none;
}

section.formulario{
width:100%;
margin-left:0em;
margin-bottom:2em;
}

.formulario .celda{
background-color:rgba(195,0,128,1.00);
}

section.formulario p{
color:#000000;
font-size:1.6em;
line-height:30px;
}

.legal{
color:#000000;
}

.legal a{
color:#000000;
}

.big-box1{
margin-top:0em;
margin-bottom:2em;
}

.box-image{
display:none;
}

.box-image-mvl{
display:block;
width:50%;
margin:0 auto 1.5em auto;
}

.box-text{
width:90%;
text-align:center;
}

/*box2*/

.box-image2 h1{
color:#A3BF2A;
font-size:2.5em;
line-height:50px;
margin-bottom:0.6em;
text-align:center;
}

.box-text2{
width:90%;
text-align:center;
}
}

@media (max-width:600px){

.box-image2{
width:90%;
}

.box-image-mvl{
width:90%;
}

.politicas{
font-size:0.7em;
margin-left:1em;
}
}

@media (max-width:400px){

section.formulario p{
font-size:1.2em;
}
}
