@charset "utf-8";

*{
	padding:0;
	margin:0;
	}
	
img{
	width: 100%;
	}
	
@font-face{
	font-family: 'Conv_Helvetica';
	src: url('../fonts/Helvetica.eot');
	src: local('☺'), url('../fonts/Helvetica.woff') format('woff'), url('../fonts/Helvetica.ttf') format('truetype'), url('../fonts/Helvetica.svg') format('svg');
	font-weight: normal;
	font-style: normal;
	}

body{
    font-family: 'Conv_Helvetica';
	background-color:#FFF;
	}
	
header{
	width:100%;
	border-bottom: 4px solid #1d365f;
	}
	
.title-head{
	width:99%;
	margin:0 auto;
	max-width:1000px;
	padding:0;
	}
	
.logo{
	width:40%;
	margin-left:65%;
	max-width:209px;
	margin-top:2%;
	margin-bottom:2%;
	}
		
.content{
	margin:auto;
	width:100%;
	height:auto;
	}

ul{
	list-style:none;
	text-align:left;
	margin:auto;
	max-width:500px;
	}	
	
.tick, .smile, .phone{
	vertical-align:middle;
	max-width:59px;
	width:100%;
	}	
	
.phone{
	margin-top:10px;
	}
	
h1{
	font-size:1.6em;
	color:#1d365f;
	display:inline-block;
	vertical-align:middle;
	padding-left:1%;
	}
		
h2{
	text-align:left;
	font-size:1.6em;
	color:#0191c6;
	display:inline-block;
	vertical-align:middle;
	padding-left:1%;
	}
	
p{
	font-size:1.2em;
	color:#b5b5b3;
	display:inline-block;
	vertical-align:middle;
	padding-left:1%; 
	}
	
.negrita{
	font-weight:bold;
	}

.photo1, .photo2{
	padding:0;
	width:100%;
	}
		
@media (max-width:900px){
.logo{
	width:40%;
	margin-left:65%;
	}
	
ul{
	max-width:450px;
	text-align:left;
	}
		
.tick, .smile, .phone{
	max-width:49px;
	}
	
h1, h2{
	font-size:1.4em;
	}
	
p{
	font-size:1em;
	}
	}

@media (max-width:700px){
.logo{
	width:40%;
	margin-left:60%;
	}
	
ul{
	max-width:400px;
	text-align:left;
	}
		
.tick, .smile, .phone{
	max-width:49px;
	}
	
h1, h2{
	font-size:1.3em;
	}
	
p{
	font-size:1em;
	}
	}
	
@media (max-width:550px){
.logo{
	width:40%;
	margin-left:60%;
	}
	
ul{
	max-width:350px;
	text-align:left;
	}
		
.tick, .smile, .phone{
	width:10%;
	}
	
h1, h2{
	font-size:1.2em;
	}
	
p{
	font-size:0.9em;
	}
	}	
	
@media (max-width:400px){
.logo{
	width:40%;
	margin-left:60%;
	}
	
ul{
	max-width:200px;
	text-align:center;
	padding-bottom:20px;
	}
		
.tick, .smile, .phone{
	width:12%;
	padding-top:15px;
	padding-bottom:5px;
	}

h1, h2{
	font-size:1.2em;
	text-align:center;
	}
	
p{
	font-size:0.9em;
	line-height:20px;
	}
	}
	
