@charset "UTF-8";

*{
 	margin:0;
 	padding:0;
 	box-sizing:border-box;
 	}
 
 img{
	 width:99%;
	 height:auto;
	 }
	 

body{
	background-color:#FFFFFF;
	font-family: Arial, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif
	}

header{
	width:100%;
	background-color:#006ab6;
	}
	
.cabecera{
	width:99%;
	max-width:600px;
	margin:auto;
	}
	
.cabecera img{
	max-width:560px;
	}

.basic-content{
	width:100%;
	background-image:url(../img/113/background.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	}

.small-content{
	width:99%;
	max-width:1350px;
	margin:auto;
	}
	
/*FORMULARIO*/
	
section.formulario{
	width:70%;
	text-align:center;
	margin:auto;
	padding-top: 2em;
	padding-bottom: 2em;
	max-width:770px;
	}
	
.fleft p{
	font-size:2em;
	margin-bottom:0.5em;
	}

.fafika-top{
	background-color: rgba(102,32,113,0.75);
	-webkit-border-radius: 10px 10px 0px 0px;
	-moz-border-radius: 10px 10px 0px 0px;
	border-radius: 10px 10px 0px 0px;
	margin-top:-0.2em;
	}
	
.fafika-top img{
	max-width:770px;
	width:100%;
	}

#ctcForm{
	border-bottom: 15px solid rgba(102,32,113,0.75);
	}
	
.information-form{
	width:50%;
	max-width:360px;
	display:inline-block;
	vertical-align:middle;
	}
	
.fila{
	width:35%;
	display:inline-block;
	vertical-align:middle;
	margin-left:2.5em;
	}
	
input[placeholder], [placeholder], *[placeholder]{
   color:#000000 !important;
   }
  
  ::-webkit-input-placeholder{
    /* Google Chrome y Safari */
    color:#000000;
	}
	
*:-moz-placeholder{
    /* Firefox anterior a 19 */
    color:#000000;
	}
	
*::-moz-placeholder{
    /* Firefox 19 y superior */
    color:#000000;
	}
	
*:-ms-input-placeholder{
    /* Internet Explorer 10 y superior */
    color:#000000;
	}

section.formulario #ctcForm, section.formulario #enviarPorMailSolicitaInfo{
	background-color:rgba(255,255,255,0.85);
	width:99%;
	margin:auto;
	text-align:center;
	padding: .1em 0 .2em 0;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	box-shadow: 10px 10px 5px rgba(0,0,0,0.40);
	}
	
section.formulario #ctcForm input:last-child{
	cursor:pointer;
	width:75%;
	padding:0.3em;
	color: white;
	border: 0;
	font-size: 1.8em;
	background-color:#679120;
	-webkit-appearance: none;
    -webkit-border-radius: 0;
	border-radius:0;
	}
	
section.formulario #ctcForm input:last-child:hover{
	background-color:#92bb4c;
	}
	
.formulario .celda{
	padding-left:.3em;
	background-color:#FFFFFF;
	font-size:0.9em;
	display:block;
	width:75%;
	min-height:35px;
	margin:0.2em auto;
	color:#000000;
	text-align:left;
	border:2px solid #006AB6;
	-webkit-appearance: none;
    -webkit-border-radius: 0;
	border-radius:0;
	}

.legal{
	font-size:.6em;
	width:75%;
	margin:0 auto;
	text-align:left;
	color:#000000;
	margin-bottom:0.9em;
	}
	
.legal input{
	vertical-align:top;
	}
	
.legal a{
	color:#000000;
	}
	
/*Skeleton*/

.skeleton{
	width:99%;
	max-width:1320px;
	margin:auto;
	text-align:center;
	margin-top:0.8em;
	}
	
.text-offer{
	background-color:rgba(245,245,245,0.65);
	width:84%;
	margin:auto;
	padding:1em 0;
	}
	
.text-offer h1{
	font-size:2.6em;
	font-family:Arial;
	font-weight:300;
	}
	
.text-offer h2{
	font-size:3.3em;
	font-family:Arial;
	font-weight:300;
	}
	
.price{
	color:#006ab6;
	font-weight:bold;
	font-size:1.8em;
	}
	
.month{
	font-size:0.8em;
	}
	
.mayusculas{
	color:#006ab6;
	font-weight:bold;
	}
	
.box{
	width:99%;
	max-width:1120px;
	margin:4em auto;
	padding-bottom:6em;
	}

.b-information{
	width:20%;
	display:inline-block;
	vertical-align:top;
	min-width:250px;
	min-height:170px;
	background-color:#FFFFFF;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background-image:url(../img/113/ico1.png);
	background-repeat:no-repeat;
	margin-right:2em;
	border-bottom:12px solid #006ab6;
	}
	
.b-information h1{
	color:#006ab6;
	font-family:Arial;
	font-size:1.3em;
	padding-top:4.9em;
	}

.b-information span{
	font-size:1.08em;
	}
	
.b-information2{
	width:20%;
	display:inline-block;
	vertical-align:top;
	min-width:250px;
	min-height:170px;
	background-color:#FFFFFF;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background-image:url(../img/113/ico2.png);
	background-repeat:no-repeat;
	margin-right:2em;
	border-bottom:12px solid #006ab6;
	}
	
.b-information2 h1{
	color:#006ab6;
	font-family:Arial;
	font-size:1.3em;
	padding-top:4.9em;
	}
	
.b-information3{
	width:20%;
	display:inline-block;
	vertical-align:top;
	min-width:250px;
	min-height:170px;
	background-color:#FFFFFF;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background-image:url(../img/113/ico3.png);
	background-repeat:no-repeat;
	margin-right:2em;
	border-bottom:12px solid #006ab6;
	}
	
.b-information3 h1{
	color:#006ab6;
	font-family:Arial;
	font-size:1.3em;
	padding-top:4.9em;
	}

.b-information3 span{
	font-size:1.08em;
	}
	
.b-information4{
	width:20%;
	display:inline-block;
	vertical-align:top;
	min-width:250px;
	min-height:170px;
	background-color:#FFFFFF;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background-image:url(../img/113/ico4.png);
	background-repeat:no-repeat;
	border-bottom:12px solid #006ab6;
	}
	
.b-information4 h1{
	color:#006ab6;
	font-family:Arial;
	font-size:1.3em;
	padding-top:4.9em;
	}

.b-information4 span{
	font-size:1.1em;
	}
	
/*Animacion box Start*/

.animated{
   -webkit-animation-duration: 0.6s;
   animation-duration: 0.6s;
   -webkit-animation-fill-mode: both;
   animation-fill-mode: both;
   }

.animated2{
  -webkit-animation-duration: 0.6s;
  animation-duration: 0.6s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-delay: 0.5s;
  }

.animated3{
  -webkit-animation-duration: 0.6s;
  animation-duration: 0.6s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-delay: 1s;
  }

.animated4{
  -webkit-animation-duration: 0.6s;
  animation-duration: 0.6s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-delay: 1.5s;
  }

@-webkit-keyframes fadeInUp{
  from{
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  	}

  to{
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  	}
	}

@keyframes fadeInUp{
  from{
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  	}

  to{
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  	}
	}

.fadeInUp{
  	-webkit-animation-name: fadeInUp;
  	animation-name: fadeInUp;
	}

/*Animacion box End*/

footer{
	width:100%;
	background-color:#006ab6;
	margin-top:-4em;
	}
	
.legal-foot{
	width:99%;
	max-width:1200px;
	margin:auto;
	padding:2em;
	font-family:Arial;
	font-weight:300;
	color:#FFFFFF;
	font-size:0.8em;
	}
	
@media (max-width:1250px){
	
.text-offer h1{
	font-size:2em;
	}
	}
	
@media (max-width:1060px){
	
section.formulario #ctcForm input:last-child{
	font-size:1.4em;
	}
	}	
	
@media (max-width:1165px){
	
.box{
	width:70%;
	}
	
.text-offer h2{
	font-size:2.7em;
	}
	
.b-information2{
	margin-right:0;
	margin-bottom:2em;
	}
	
.legal{
	font-size:.5em;
	}
	}
	
@media (max-width:930px){
	
.text-offer{
	width:99%;
	}
	}	
	
@media (max-width:900px){
	
section.formulario{
	width:99%;
	}
	
.fleft p{
	font-size:1.8em;
	}
	}

@media (max-width:800px){
	
.text-offer h1{
	font-size:1.3em;
	}
	
.text-offer h2{
	font-size:2em;
	}
	
.box{
	width:99%;
	}
	}
	
@media (max-width:600px){
	
.information-form{
	width:40%;
	}
	
.fila{
	width:50%;
	margin-left:0;
	}

.b-information{
	margin-right:0;
	margin-bottom:2em;
	}

.b-information3{
	margin-right:0;
	margin-bottom:2em;
	}
	}
	
@media (max-width:465px){
	
.text-offer h2{
	font-size:2.3em;
	}
	
.price{
	font-size:2em;
	}
	}
		
@media (max-width:430px){
	
.information-form{
	width:35%;
	}
	
.fila{
	width:60%;
	}
	}
	
@media (max-width:350px){
	
.fila{
	width:63%;
	}
	
section.formulario #ctcForm input:last-child{
	font-size:1.1em;
	}
	
.fleft p{
	font-size:1.6em;
	}
	
.price{
	font-size:1.5em;
	}
	}
	

	