@charset "UTF-8";
 
 *{
	 padding:0;
	 margin:0;
	 }
	 
body{
	background-color:#FFFFFF;
	}
	 
img{
	width:100%;
	height:auto;
	}
	
header{
	width:100%;
	background-color:#006ab6;
	}
	
.cabecera{
	width:98%;
	max-width:390px;
	margin:auto;
	}

.content{
	width:99%;
	max-width:1200px;
	margin:auto;
	}

.content h1{
	text-align:center;
	font-family:Arial, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	color:#006ab6;
	padding:0.4em 0;
	font-size:2.5em;
	}
	
footer{
	width:100%;
	height:40px;
	background-color:#006AB6;
	margin-top:4em;
	}
	
@media (max-width:900px){
	
	.content h1{
		font-size:1.8em;
		}
		}
		
@media (max-width:600px){
	
	.content h1{
		font-size:1.2em;
		}
		}

@media (max-width:385px){
	
	.content h1{
		font-size:1em;
		}
		}