/* invalid input */
.bvalidator_bootstraprt_invalid {
	/*background-color:#FFC1B7!important;*/
	background-color:rgba(255,193,183,.8)!important;
	/*background-color:#bvalidator_bootstraprt_cont1!important;*/
}
/* error message */
.bvalidator_bootstraprt_errmsg {
	font-size:.9em;
	display:none;
	white-space:nowrap;
	padding-top:1px;
	padding-bottom:1px;
	padding-left:1px;
	font-family:Arial, Helvetica, sans-serif;
	background-color:#ffffff;
	-webkit-background-clip:padding-box;
	-moz-background-clip:padding;
	background-clip:padding-box;
	border:1px solid rgba(0, 0, 0, 0.3);
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:7px;
	-webkit-box-shadow:0 5px 10px rgba(0, 0, 0, 0.2);
	-moz-box-shadow:0 5px 10px rgba(0, 0, 0, 0.2);
	box-shadow:0 5px 10px rgba(0, 0, 0, 0.2);
	z-index:1010;
}
/* close icon */
.bvalidator_bootstraprt_errmsg .bvalidator_bootstraprt_close_icon {
	margin-left:5px;
	margin-top:-2px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:15px;
	cursor:pointer;
	text-shadow:0 1px 0 #ffffff;
	opacity:0.2;
	filter:alpha(opacity=20);
}
.bvalidator_bootstraprt_errmsg .bvalidator_bootstraprt_close_icon:hover {
	color:#000000;
	text-decoration:none;
	cursor:pointer;
	opacity:0.4;
	filter:alpha(opacity=40);
}
/* arrow */
.bvalidator_bootstraprt_errmsg .bvalidator_bootstraprt_arrow {
	display:block;
	height:0;
	width:0;
	position:absolute;
	left:10px;
	border-color:transparent;
	border-top-color:#ffffff;
	border-width:10px 10px 0 10px;
	border-style:solid;
	bottom:-10px;
}
.bvalidator_bootstraprt_errmsg .bvalidator_bootstraprt_arrow:after {
	position:absolute;
	top:-10px;
	left:-11px;
	border-width:11px 11px 0 11px;
	content:"";
	z-index:-1;
	display:block;
	width:0;
	height:0;
	border-color:transparent;
	border-style:solid;
	border-top-color:rgba(0, 0, 0, 0.25);
	z-index:-1;
}
/* message container  */
.bvalidator_bootstraprt_errmsg .bvalidator_bootstraprt_cont1 {
	display:inline-block;
	vertical-align:middle;
	margin:3px;
}





