@charset "UTF-8";

*{
	padding:0;
	margin:0 auto;
	}
	
img{
	width:99%;
	height:auto;
	}
	
@font-face {
  	font-family: 'Gotham-Bold';
 	src: url('../fonts/Gotham-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/Gotham-Bold.otf')  format('opentype'),
	url('../fonts/Gotham-Bold.woff') format('woff'), url('../fonts/Gotham-Bold.ttf')  format('truetype'), url('../fonts/Gotham-Bold.svg#Gotham-Bold') format('svg');
  	font-weight: normal;
  	font-style: normal;
  	}
 
@font-face{
  	font-family: 'Gotham-Book';
  	src: url('../fonts/Gotham-Book.eot?#iefix') format('embedded-opentype'),  url('../fonts/Gotham-Book.otf')  format('opentype'),
	url('../fonts/Gotham-Book.woff') format('woff'), url('../fonts/Gotham-Book.ttf')  format('truetype'), url('../fonts/Gotham-Book.svg#Gotham-Book') format('svg');
  	font-weight: normal;
  	font-style: normal;
 	}
	
body{
	font-family: 'Gotham-Book', Arial;
	background-color:#FFFFFF;
	margin:0 auto;
	}

/**************CABECERA*************/	
header{
	width:100%;
	border-top: 4px solid #dadbdb;
	font-family: 'Gotham-Book', Arial;
	margin:0 auto;
	}
	
.title-head{
	width:99%;
	max-width:1100px;
	margin:0 auto;
	font-family: 'Gotham-Book';
	}

.logo{
	display:inline-block;
	vertical-align:middle;
	max-width:79px;
	width:10%;
	padding:0.5em  ;
	}
	
.title-head h1{
	text-align:left;
	font-size:1.5em;
	color:#666666;
	display:inline-block;
	font-family: 'Gotham-Book', Arial;
	font-weight: normal;
	}
	
/*************MENU******************/
.basic-content{
	width:100%;
	background-color:#FFFFFF;
	margin:0 auto;
	max-width:1100px;
	}
	
.small-content{
	width:99%;
	max-width:1100px;
	margin:0 auto;
	}
	
.skeleton{
	display:inline-block;
	vertical-align:middle;
	width:60%;
	max-width:800px;
	}
	
.skeleton ul{
	padding:0;
	margin:0;
	list-style-type:none;
	}

.skeleton ul li{
	display:block;
	width:25%;
	float:left;
	text-decoration:none;
	color:#fff;
	background-color:#fff;
	margin-right:0em;
	text-align:center;
	padding:0.7em 0;
	border: 1px solid #dadbdb;
	border-top:5px solid #0079c8;
	}
	
.skeleton ul li span{
	text-decoration:none;
	color:#666666;
	font-size:0.9em;
	}
	
.skeleton li.active{
	background-color:#deeef9;
	}
	
.texst-l{
	display:inline-block;
	vertical-align:top;
	}
	
.texst-r{
	display:inline-block;
	vertical-align:top;
	}	
	
/************FORMULARIO************************/
section.formulario{
	width:40%;
	max-width:390px;
	display:inline-block;
	text-align:center;
	vertical-align: middle;
	font-family: 'Gotham-Book', Arial;
	padding-top:5%;
	}
		
section.formulario p{
	font-family: 'Gotham-Book', Arial;
	margin:.9em 0;
	font-size:1.8em;
	color:#666666;
	}
	
section.formulario p span{
	font-family: 'Gotham-Book', Arial;
	font-size:1.16em;
	}
	
section.formulario #ctcForm, section.formulario #enviarPorMailSolicitaInfo{
	background-color:#FFFFFF;
	width:100%;
	margin:.2em auto;
	text-align:center;
	padding:.4em 0;
	border:1px solid #666666;
	}
	
section.formulario #ctcForm input{
	width:55%;
	display:inline-block;
	vertical-align:middle;
	min-height:40px;
	background-color:#FFF;
	font-family: 'Gotham-Book', Arial;
	}

.formulario .celda{
	font-family: 'Gotham-Book', Arial;
	padding-left:.3em;
	background-color:#FFF;
	font-size:.9em;
	display:block;
	width:70%;
	min-height:40px;
	margin:auto;
	margin-top:1.3em;
	border:1px solid #ec1781;
	color:#857f78;
	text-align:left;
	-webkit-appearance: none;
    -webkit-border-radius: 0;
	border-radius:0;
	}

.formulario .celda:focus{
	outline:0px;
	}

.legal{
	font-size:.7em;
	font-family: 'Gotham-Book', Arial;
	width:84%;
	text-align:left;
	color: #666666;
	margin: 0.6em auto;
	}
	
.legal input{
	vertical-align:top;
	}
	
.legal a{
	color: #666666;
	}
	
.espacio-btn{
	width:90%;
	text-align:center;
	font-family: 'Gotham-Book', Arial;
	border:0;
	}	
	
.espacio-btn input{
	font-family: 'Gotham-Book', Arial;
	cursor:pointer;
	background-color:#ec1781;
	width:89%;
	padding:.3em 0;
	color: white;
	font-size: 1.8em;
	margin:0.7em auto;
	font-weight:normal;
	border:0;
	}
	
#nombre{
	background-image:url(../img/127/user-ico-form.png);
	background-repeat:no-repeat;
	padding-left:3em;
	font-family: 'Gotham-Book', Arial;
	}
	
#telefono{
	background-image:url(../img/127/phone-ico-form.png);
	background-repeat:no-repeat;
	padding-left:3em;
	font-family: 'Gotham-Book', Arial;
	}
	
#email{
	background-image:url(../img/127/mail-ico-form.png);
	background-repeat:no-repeat;
	padding-left:3em;
	font-family: 'Gotham-Book', Arial;
	}
	
input[placeholder], [placeholder], *[placeholder]{
   color:#000000 !important;
   }
  
  ::-webkit-input-placeholder{
   
    color:#000000;
	}
	
*:-moz-placeholder{
   
    color:#000000;
	}
	
*::-moz-placeholder{
    
    color:#000000;
	}
	
*:-ms-input-placeholder{
    
    color:#000000;
	}
	
/************TEXTO***************/
.text-content{
	width:99%;
	max-width:1100px;
	margin:1em auto;
	background-color:#f7f7f7;
	}
	
.text-content h1{
	font-family: 'Gotham-Book', Arial;
	font-size:1em;
	padding: 25px;
	font-weight:normal;
	}
	
.col1{
	width:40%;
	display:inline-block;
	font-family: 'Gotham-Book', Arial;
	font-size:0.8em;
	padding: 25px;
	padding-top:0px;
	font-weight:normal;
	line-height:20px;
	vertical-align:top;
	}
	
.col2{
	vertical-align:top;
	width:40%;
	display:inline-block;
	font-family: 'Gotham-Book', Arial;
	font-size:0.8em;
	padding: 25px;
	padding-top:0px;
	font-weight:normal;
	line-height:20px;
	margin:0;
	}
	
.col1 span{
	color:#ef8900;
	}
	
.extrabold{
	font-family: 'Gotham-Bold';
	font-weight:bold;
	color:#666666;
	display:inline-block;
	}

.title{
	font-size:1.2em;}

.col2 span{
	color:#0079c8;
	}
	
.text-legal{
	width:100%;
	max-width:1100px;
	margin:0 auto;
	background-color:#ffffff;
	}
		
.text-legal .legal-con{
	width:90%;
	font-size:0.7em;
	font-family: 'Gotham-Book', Arial;
	padding: 25px;	
	}
	
.text-legal .legal-plus{
	width:90%;
	font-size:0.7em;
	font-family: 'Gotham-Book', Arial;
	padding: 25px;	
	}
	
.icon{
	width:43px;
	height:40px;
	width:99%;
	max-width:43px;
	vertical-align:middle;
	padding-bottom:5px;
	display:inline-block;
	}
	
.col1 h2{	
	vertical-align:middle;
	display:inline-block;
	font-family: 'Gotham-Bold';
	font-weight:bold;
	color:#ef8900;
	padding-bottom:10px;
	}

.col2 h2{	
	vertical-align:middle;
	display:inline-block;
	font-family: 'Gotham-Bold';
	font-weight:bold;
	color:#0079c8;
	padding-bottom:10px;
	}	
		
	
/*************PIE*******************/	
footer{
	background-color:#0078cf;
	width:99%;
	padding:.3em 0;
	text-align:center;
	margin:0 auto;
	}
	
footer div{
	max-width:850px;
	vertical-align:middle;
	margin:0 auto;
	min-height:50px;
	}
		
footer div img{
	max-width:230px;
	float:right;
	}
	
.agent{
	max-width:200px;
	float:left;
	}

.side{
	padding-top:0.5em;
	}
	
/**************RESPONSIVE*************/
@media (max-width: 1200px){
.skeleton{
	width:55%;	
	 }
	 
.skeleton ul li{
	width:35%;
	}	 
.skeleton ul li a{
	font-size:0.8em;
	}	
	
section.formulario{
	width:40%;
	}
	
.col1 h2, .col2 h2{	
	font-size:1.2em;
	}
	}
	
	
@media (max-width: 800px){
.skeleton{
	display:block;
	width:99%;
	margin:0;
	}	
	
.skeleton ul li{
	width:99%;
	clear:both;
	}
	
section.formulario{
	width:99%;
	display:block;
	max-width:790px;
	margin:0;
	}
		
.col1, .col2{
	width:80%;
	}
	}

@media (max-width: 500px){
.title-head h1{
	font-size:1em;
	}	

section.formulario p{
	font-size:1.2em;
	}
	
	}
	
@media (max-width:515px){	
.lado1{
	width:90%;
	}
	
.lado2{
	width:90%;
	}
	}


@media (max-width:447px) {
footer div{
	min-height:85px;
	text-align:center;
	}
	
.side{
	padding-top:0px;
	}
	
.title-head h1{
	font-size:0.8em;
	}
	
.col1 h2, .col2 h2{	
	display:block;
	}
	

.text-legal .legal-con{
	width:80%;
		
	}
	
.text-legal .legal-plus{
	width:80%;}}
