@charset "utf-8";

*{
	margin:0;
	padding:0;
	}
	
img{
	width: 99%;
	height:auto;
	}

body{
	background-color:#fff;
	}

@font-face {
    font-family: 'gotham_mediumregular';
    src: url('../fonts/copyfonts.com_gotham-medium-webfont.eot');
    src: url('../fonts/copyfonts.com_gotham-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/copyfonts.com_gotham-medium-webfont.woff2') format('woff2'),
         url('../fonts/copyfonts.com_gotham-medium-webfont.woff') format('woff'),
         url('../fonts/copyfonts.com_gotham-medium-webfont.ttf') format('truetype'),
         url('../fonts/copyfonts.com_gotham-medium-webfont.svg#gotham_mediumregular') format('svg');
    font-weight: normal;
    font-style: normal;
	}

@font-face {
    font-family: 'gotham_lightregular';
    src: url('../fonts/copyfonts.com_gotham-light-webfont.eot');
    src: url('../fonts/copyfonts.com_gotham-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/copyfonts.com_gotham-light-webfont.woff2') format('woff2'),
         url('../fonts/copyfonts.com_gotham-light-webfont.woff') format('woff'),
         url('../fonts/copyfonts.com_gotham-light-webfont.ttf') format('truetype'),
         url('../fonts/copyfonts.com_gotham-light-webfont.svg#gotham_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;
	}

header{
	width:100%;
	border-bottom: 4px solid #0178c8;
	}
	
.title_head{
	max-width:1000px;
	margin:auto;
	}

.logo{
	display:inline-block;
	vertical-align:middle;
	max-width:79px;
	width:10%;
	padding:0.5em  ;
	}
	
.title_head h1{
	text-align:left;
	margin-top:1em;
	font-size:1.2em;
	color:#636364;
	font-family: 'gotham_mediumregular';
	display:inline-block;
	margin-left:1.5em;
	}
	
.content{
	max-width:1000px;
	margin:auto;
	}

.content img{
	padding:0.2em;
	margin-top:3em;}
	
.photo{
	width:58.5%;
	}
	
.thanks{
	width:38.5%;
	}

.content h2{
	text-align:right;
	margin-top:1em;
	font-size:1.5em;
	color:#0862ad;
	font-family: 'gotham_mediumregular';
	display:inline-block;
	vertical-align:middle;
	width:70%;
	}
	
.ico{
	display:inline-block;
	vertical-align:bottom;
	max-width:40px;
	margin-left:0.5em;	
	}
	
.content p{
	text-align:center;
	font-size:1.2em;
	color:#767677;
	margin-top:2em;
	font-family: 'gotham_lightregular';
	margin-bottom:3em;
	}
		
footer{
	width:100%;
	background-color:#0078cf;
	height:80px;
	}
	
	
@media (max-width:700px){
.content img{
	width:100%;
	padding:0.2em;
	margin-top:0.8em;}

.content h2{
	width:60%;
	margin-top:0.8em;
	}
	
.content p{
	font-size:1em;
	}
	
.ico{
	width:7%;
	}
	}
	

@media (max-width:550px){
.content h2{
	font-size:1.2em;
	width:70%;
	}
	
.title_head h1{
	font-size:1em;
	margin-left:0.1em;
	}
	}	

@media (max-width:400px){
.ico{
	vertical-align:middle;
	width:10%;
	}
	
.title_head h1{
	font-size:0.7em;
	margin-left:0em;
	}
.content h2{
	font-size:1em;
	width:70%;
	}
	
.content p{
	font-size:0.7em;
	}
	}
	
