@charset "UTF-8";
*{
	padding:0;
	margin:0;
	box-sizing:border-box;
	}

@font-face {
	font-family: 'Conv_FrutigerLTStd-LightCn';
	src: url('../fonts/fonts/FrutigerLTStd-LightCn.eot');
	src: local('☺'), url('../fonts/FrutigerLTStd-LightCn.woff') format('woff'), url('../fonts/FrutigerLTStd-LightCn.ttf') format('truetype'), url('../fonts/FrutigerLTStd-LightCn.svg') format('svg');
	font-weight: normal;
	font-style: normal;
	}

@font-face {
	font-family: 'Conv_FrutigerLTStd-BoldCn';
	src: url('../fonts/FrutigerLTStd-BoldCn.eot');
	src: local('☺'), url('../fonts/FrutigerLTStd-BoldCn.woff') format('woff'), url('../fonts/FrutigerLTStd-BoldCn.ttf') format('truetype'), url('../fonts/FrutigerLTStd-BoldCn.svg') format('svg');
	font-weight: normal;
	font-style: normal;
	}

body{
	font-family: 'Conv_FrutigerLTStd-LightCn', Arial;
	}

img{
	width:99%;
	height:auto;
	}

body{
	background-color:#FFFFFF;
	}

header{
	width:100%;
	background-color:#006ab6;
	border-bottom:10px solid #dcdcdc;
	}

.cabecera{
	width:99%;
	max-width:1180px;
	margin:auto;
	}

.cabecera img{
	width:30%;
	max-width:215px;
	} 

.basic-content{
	width:100%;
	}

.small-content{
	width:99%;
	max-width:1200px;
	margin:auto;
	background-image:url(../img/114/background-web.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	}

.skeleton{
	width:67%;
	display:inline-block;
	vertical-align:middle;
	margin-left:2em;
	margin-top:-1.5em;
	font-family: 'Conv_FrutigerLTStd-LightCn';
	}

.mobile{
	display:none;
	}	

.skeleton h1{
	font-size:2.5em;
	line-height:50px;
	margin-bottom:0.3em;
	}

.skeleton h1 span{
	color:#FFFFFF;
	font-family: 'Conv_FrutigerLTStd-BoldCn';
	}

.skeleton h2{
	font-size:2.5em;
	}

.skeleton h2 span{
	color:#FFFFFF;
	font-family: 'Conv_FrutigerLTStd-BoldCn';
	}

.price{
	width:35%;
	margin-top:10em;
	border: 2px solid #a30e15;
	padding:0.5em;
	color:#A30E15;
	margin-left:2em;
	text-align:center;
	}

.big-price{
	font-family: 'Conv_FrutigerLTStd-BoldCn';
	font-size:2em;
	}

.price-small{
	font-size:1.37em;
	font-family: 'Conv_FrutigerLTStd-LightCn'
	}	

section.formulario{
	width:25%;
	text-align:center;
	background-color: rgba(255,255,255,0.70);
	display:inline-block;
	vertical-align:middle;
	margin-bottom:6em;
	}


section.formulario p{
	margin-top:0.9em;
	margin-bottom:-0.2em;
	font-size:1.65em;
	color:#000000;
	text-align:center;
	font-family: 'Conv_FrutigerLTStd-BoldCn';
	}

.text-mayus{
	font-size:1.18em;
	}

.text-prefer{
	line-height:75px;
	}

section.formulario #ctcForm input:last-child{
	cursor:pointer;
	width:80%;
	height:49px;
	color: white;
	border: 0;
	font-size:1.7em;
	font-family: 'Conv_FrutigerLTStd-BoldCn';
	margin-bottom:-0.4em;
	background-color:#a1ae14;
	background-image: url(../img/114/ico-llamar.jpg);
	background-repeat:no-repeat;
	background-position:left;
	max-height:50px;
	padding-top:0.2em;
	text-align:right;
	padding-right:0.3em;
	-webkit-appearance: none;
		-webkit-border-radius: 0;
	border-radius:0;
	}

.espacio_btn input{
	cursor:pointer;
	width:80%;
	color: white;
	border: 0;
	font-size: 1.5em;
	background-color:#a1ae14;
	margin-top:0.1em;
	margin-bottom:1.2em;
	height:72px;
	background-image:url(../img/114/ico-boton.jpg);
	background-repeat:no-repeat;
	text-align:right;
	font-family: 'Conv_FrutigerLTStd-BoldCn';
	padding-right:0.3em;
	padding-top:0.2em;
	-webkit-appearance: none;
		-webkit-border-radius: 0;
	border-radius:0;
	}

.formulario .celda{
	margin: 0.6em auto;
	background-color:#FFFFFF;
	font-size:.9em;
	font-family: 'Conv_FrutigerLTStd-LightCn';
	width:80%;
	min-height:30px;
	border: 1px solid #006ab6;
	color:#636363;
	text-align:left;
	-webkit-appearance: none;
		-webkit-border-radius: 0;
	border-radius:0;
	}

input[placeholder], [placeholder], *[placeholder]{
	 padding-left:0.4em;
	 padding-top:0.28em;
	 }

	*:-webkit-input-placeholder{
	 padding-left:0.4em;
	 padding-top:0.28em;
	 }

*:-moz-placeholder{
	 padding-left:0.4em;
	 padding-top:0.28em;
	 }

*::-moz-placeholder{
	 padding-left:0.4em;
	 padding-top:0.28em;
	 }

*:-ms-input-placeholder{
	 padding-left:0.4em;
	 padding-top:0.28em;
	 }

.legal{
	font-size:.7em;
	width:70%;
	margin:0 auto;
	text-align:left;
	color:#585254;
	margin-left:2.6em;
	margin-bottom:1.8em;
	font-family: 'Conv_FrutigerLTStd-LightCn';
	}

.legal input{
	vertical-align: middle;
	}

.legal a{
	color:#585254;
	}


.text-content{
	width:99%;
	max-width:1200px;
	background-color:#f8fcff;
	margin:auto;
	padding-bottom:2em;
	}


/*Acordeon Start*/

.accordion dl,
.accordion-list {
		border: 1px solid #ddd;
	}

.accordion dl:after,
.accordion-list:after {
		content: "";
	display: block;
		height: 1em;
		width: 100%;
		background-color: #5c9ed8;
	}

.accordion dd,
.accordion__panel {
		background-color: #FFFFFF;
		font-size: 1em;
		line-height: 1.5em;
	}

.accordion p {
		padding: 1em 2em 1em 2em;
	font-family: 'Conv_FrutigerLTStd-LightCn';
	font-size:1.2em;
	}

.accordion {
		position: relative;
	background-color: #FFFFFF;
	}

.container {
		max-width: 960px;
		margin: 0 auto;
		padding: 2em 0 2em 0;
	}

.accordionTitle,
.accordion__Heading {
	background-color: #006ab6;
	text-align: center;
	font-size:1.3em;
	padding: 1.3em;
	display: block;
	text-decoration: none;
	color: #fff;
	-webkit-transition: background-color 0.5s ease-in-out;
	transition: background-color 0.5s ease-in-out;
	border-bottom: 2px solid #FFFFFF;
	font-family: 'Conv_FrutigerLTStd-BoldCn';
	}

.accordionTitle:before,
.accordion__Heading:before {
	content: "+";
	font-size: 1.5em;
	line-height: 0.5em;
	float: left;
	-webkit-transition: -webkit-transform 0.3s ease-in-out;
	transition: -webkit-transform 0.3s ease-in-out;
	transition: transform 0.3s ease-in-out;
	transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
	}

.accordionTitle:hover,
.accordion__Heading:hover {
	background-color: #5c9ed8;
	}

.accordionTitleActive,
.accordionTitle.is-expanded {
	background-color: #5c9ed8;
	}

.accordionTitleActive:before,
.accordionTitle.is-expanded:before {
	-webkit-transform: rotate(-225deg);
	transform: rotate(-225deg);
	}

.accordionItem {
	height: auto;
	overflow: hidden;
	max-height: 50em;
	-webkit-transition: max-height 1s;
	transition: max-height 1s;
	}

@media screen and (min-width: 48em) {
	.accordionItem {
		max-height: 15em;
		-webkit-transition: max-height 0.5s;
		transition: max-height 0.5s;
		}
	}

.accordionItem.is-collapsed {
		max-height: 0;
	}	

.no-js .accordionItem.is-collapsed {
		max-height: auto;
	}

.animateIn {
		-webkit-animation: accordionIn 0.45s normal ease-in-out both 1;
	animation: accordionIn 0.45s normal ease-in-out both 1;
	}

.animateOut {
		-webkit-animation: accordionOut 0.45s alternate ease-in-out both 1;
		animation: accordionOut 0.45s alternate ease-in-out both 1;
	}

@-webkit-keyframes accordionIn {
	0% {
		opacity: 0;
		-webkit-transform: scale(0.9) rotateX(-60deg);
						transform: scale(0.9) rotateX(-60deg);
		-webkit-transform-origin: 50% 0;
						transform-origin: 50% 0;
	}
	100% {
		opacity: 1;
		-webkit-transform: scale(1);
						transform: scale(1);
	}
}

@keyframes accordionIn {
	0% {
		opacity: 0;
		-webkit-transform: scale(0.9) rotateX(-60deg);
						transform: scale(0.9) rotateX(-60deg);
		-webkit-transform-origin: 50% 0;
						transform-origin: 50% 0;
	}
	100% {
		opacity: 1;
		-webkit-transform: scale(1);
						transform: scale(1);
	}
}
@-webkit-keyframes accordionOut {
	0% {
		opacity: 1;
		-webkit-transform: scale(1);
						transform: scale(1);
	}
	100% {
		opacity: 0;
		-webkit-transform: scale(0.9) rotateX(-60deg);
						transform: scale(0.9) rotateX(-60deg);
	}
}
@keyframes accordionOut {
	0% {
		opacity: 1;
		-webkit-transform: scale(1);
						transform: scale(1);
	}
	100% {
		opacity: 0;
		-webkit-transform: scale(0.9) rotateX(-60deg);
						transform: scale(0.9) rotateX(-60deg);
	}
}

/*Acordeon final*/

footer{
	width:100%;
	background-color:#dcdcdc;
	}

.foot-legal{
	width:99%;
	max-width:1200px;
	margin:auto;
	}

.foot-legal img{
	width:30%;
	max-width:187px;
	display:inline-block;
	vertical-align:middle;
	}

.foot-legal p{
	width:80%;
	display:inline-block;
	vertical-align:middle;
	padding:1em 0;
	font-family: 'Conv_FrutigerLTStd-LightCn';
	color:#FFFFFF;
	font-size:0.9em;
	}

@media (max-width:1200px){

.price{
	width:40%;
	}

section.formulario #ctcForm input:last-child{
	font-size:1.2em;
	padding-right:1.2em;
	}

.espacio_btn input{
	font-size:1.2em;
	padding-right:1em;
	}

.price{
	margin-left:0.6em;
	}
	}

@media (max-width:1105px){

.espacio_btn input{
	font-size:1.2em;
	padding-right:0.5em;
	}

section.formulario p{
	font-size:1.5em;
	}
	}

@media (max-width:1045px){

.skeleton{
	width:68%;}

section.formulario{
	width:28%;
	}

.price{
	width:48%;
	}
	}

@media (max-width:980px){

.espacio_btn input{
	padding-right:0.2em;
	}

section.formulario #ctcForm input:last-child{
	padding-right:0.8em;
	}

.foot-legal{
	padding:0.7em;
	}

.foot-legal img{
	width:15%;
	}

.foot-legal p{
	width:84%;
	}
	}

@media (max-width:920px){

section.formulario{
	width:99%;
	margin-bottom:0em;
	}

.mobile{
	display:block;
	}

.small-content{
	background-image:none;
	}

.skeleton{
	margin-top:0;
	width:100%;
	margin-left:0;
	}

.skeleton h1{
	display:none;
	}

.skeleton h2{
	display:none;
	}

.price{
	display:none;
	}

.espacio_btn input{
	padding-right:0em;
	text-align:center;
	font-size:1.8em;
	}

section.formulario #ctcForm input:last-child{
	padding-right:0em;
	text-align:center;
	font-size:1.8em;
	}

.legal{
	margin-left:7.5em;
	}

.accordion p {
	font-size:1em;
	}
	}

@media (max-width:600px){

	.accordionTitle,
.accordion__Heading {
	font-size:1em;
	}

.foot-legal img{
	width:30%;
	}

.foot-legal p{
	width:98%;
	}
	}	

@media (max-width:450px){

section.formulario #ctcForm input:last-child{
	padding-left:2.5em;
	}

.espacio_btn input{
	padding-left:2.8em;
	}	
}