@charset "UTF-8";
*{
margin:0;
padding:0;
box-sizing:border-box;
}

img{
width:100%;
height:auto;
}

body{
background-color:#FFFFFF;
font-family:Arial, "Times New Roman", serif
}

header{
width:100%;
background-color:#006aba;
border-bottom: 11px solid #dddddd;
}

.cabecera{
width:99%;
max-width:1200px;
margin:auto;
}

.cabecera img{
width:12%;
margin:0.6em 0; 
}

.small-content{
max-width:1200px;
margin:auto;
padding-bottom:4em;
}

footer{
background-color:#006aba;
height:50px;
}

@media (max-width:900px){

.cabecera img{
width:20%;
}
}

@media (max-width:400px){

.cabecera img{
width:22%;
}
}