@charset "UTF-8";

*{
	padding:0;
	margin:0;
	}
	
img{
	width: 100%;
	height:auto;
	}

@font-face {
	font-family: 'Franklin Gothic Demi Cond';
	font-style: normal;
	font-weight: normal;
	src: local('Franklin Gothic Demi Cond'), url('fonts/Franklin Gothic Demi Cond Regular.woff') format('woff');
	}

@font-face {
	font-family: 'Franklin Gothic Book';
	font-style: normal;
	font-weight: normal;
	src: local('Franklin Gothic Book'), url('fonts/FRABK.woff') format('woff');
	}
			
body{
	margin:0 auto;
	font-family: 'Franklin Gothic Book', Arial;
	}

	
/**************CABECERA*************/	
header{
	width:100%;
	margin:0 auto;
	max-width:1100px;
	}

header .logo{
	text-align:left;
	max-width:350px;
	}
	
.small-content{
	width:99%;
	margin:0 auto;
	max-width:1100px;
	background-image:url(../img/130/cabecera.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	background-position:top center;
	}
	
.skeleton{
	display:inline-block;
	vertical-align:middle;
	width:60%;
	max-width:800px;	
	}
	
.skeleton .imgmobile{
	display:none;
	}

/************FORMULARIO************************/
section.formulario{
	width:40%;
	max-width:390px;
	display:inline-block;
	text-align:center;
	vertical-align: middle;
	font-family: 'Franklin Gothic Book';
	}
		
section.formulario p{
	margin:.9em 0;
	font-size:2em;
	color:#ffffff;
	margin-top:50px;
	}
	
section.formulario p span{
	font-size:1.16em;
	}
	
section.formulario #ctcForm, section.formulario #enviarPorMailSolicitaInfo{
	background-color:#103184;
	width:100%;
	margin:.2em auto;
	text-align:center;
	padding:.4em 0;
	}
	
section.formulario #ctcForm input{
	width:55%;
	display:inline-block;
	vertical-align:middle;
	min-height:40px;
	background-color:#FFF;
	}

.formulario .celda{
	padding-left:.3em;
	background-color:#FFF;
	font-size:.9em;
	display:block;
	width:80%;
	min-height:40px;
	margin:auto;
	margin-top:1.3em;
	color:#857f78;
	text-align:left;	
	}

.formulario .celda:focus{
	outline:0px;
	}

.legal{
	font-size:.7em;
	font-family: 'Gotham-Book', Arial;
	width:80%;
	text-align:left;
	color: #ffffff;
	margin: 0.9em auto;
	}
	
.legal input{
	vertical-align:top;
	}
	
.legal a{
	color: #ffffff;
	}
	
.espacio-btn{
	width:90%;
	text-align:center;
	border:0;
	margin: 0 auto;
	-webkit-appearance: none;
    -webkit-border-radius: 0;
 	border-radius:0;
	}	
	
.espacio-btn input{
	font-family: 'Franklin Gothic Demi Cond', Arial;;
	cursor:pointer;
	background-color:#ff1821;
	width:89%;
	padding:1em 0;
	color: white;
	font-size:1.3em;
	margin:0.7em auto;
	font-weight:normal;
	border:0;
	margin-bottom:70px;
	-webkit-appearance: none;
    -webkit-border-radius: 0;
 	border-radius:0;
	}
		
input[placeholder], [placeholder], *[placeholder]{
   color:#000000 !important;
   }
  
  ::-webkit-input-placeholder{
   
    color:#000000;
	}
	
*:-moz-placeholder{
   
    color:#000000;
	}
	
*::-moz-placeholder{
    
    color:#000000;
	}
	
*:-ms-input-placeholder{
    
    color:#000000;
	}
	
	
/************TEXTO************************/
.text-content{
	width:100%;
	margin:0 auto;
	max-width:1100px;
	text-align:center;
	}
	
.title2{
	display:none;
	}
		
.text-content p{
	color:#17336d;
	}

.text-content .box1{
	background-image:url(../img/130/box1.jpg);
	background-repeat:no-repeat;	
	width:100%;
	margin:0 auto;
	max-width:337px;	
	background-size:contain;
	background-position:top center;
	display:inline-block;
	margin-top:3%;
	margin-bottom:3%;
	}

.text-content .box1 p{
	padding-top:150px;
	margin:0 auto;
	width:80%;
	padding-bottom:100px;
	font-size:0.9em;
	}

.text-content .box2{
	background-image:url(../img/130/box2.jpg);
	background-repeat:no-repeat;	
	width:100%;
	margin:0 auto;
	max-width:337px;	
	background-size:contain;
	background-position:top center;
	display:inline-block;
	margin-top:3%;
	margin-bottom:3%;	
	}
	
.text-content .box2 p{
	padding-top:150px;
	margin:0 auto;
	width:80%;
	padding-bottom:100px;
	font-size:0.9em;
	}
	
.text-content .box3{
	background-image:url(../img/130/box3.jpg);
	background-repeat:no-repeat;	
	width:100%;
	margin:0 auto;
	max-width:337px;	
	background-size:contain;
	background-position:top center;
	display:inline-block;
	margin-top:3%;
	margin-bottom:3%;
	}

.text-content .box3 p{
	padding-top:150px;
	margin:0 auto;
	width:80%;
	padding-bottom:100px;
	font-size:0.9em;	
	}
		
/************PIE***********************/
footer{
	background-color:#e4e4e4;
	}
	
footer .legal{
	width:100%;
	margin:0 auto;
	max-width:1100px;
	text-align:center;
	padding-bottom:2em;
	padding-top:2em;
	}
	
footer .legal a{
	color:#000;
	text-decoration:none;
	}
	
/************RESPONSIVE***********************/
@media (max-width:1100px) {
.text-content .box1{	
	width:30%;
	}
	
.text-content .box1 p{
	padding-top:140px;
	}

.text-content .box2{	
	width:30%;
	}
	
.text-content .box2 p{
	padding-top:140px;
	}	
	
.text-content .box3{	
	width:30%;
	}
	
.text-content .box3 p{
	padding-top:140px;
	}
	}

@media (max-width:1000px) {
.basic-content{
	background-position:top left;
	}
	
.skeleton{
	width:55%;
	}
	}

@media (max-width:950px) {
.text-content .box1 p{
	padding-top:120px;
	font-size:0.8em;
	}
		
.text-content .box2 p{
	padding-top:120px;
	font-size:0.8em;
	}	
		
.text-content .box3 p{
	padding-top:120px;
	font-size:0.8em;
	}
	}
	
@media (max-width:800px) {	
.small-content{
	background-image:none;
	}
	
.skeleton{
	display:block;
	width:100%;
	max-width:800px;
	}
	
.skeleton .imgmobile{
	display:block;
	}
		
section.formulario{
	width:100%;
	display:block;
	max-width:800px;		
	}

.title1{
	display:none;
	}
	
.title2{
	display:block;
	}
		
.text-content .box1{
	display:block;
	width:100%;
	margin-top:20px;
	margin-bottom:0px;
	}

.text-content .box1 p{
	padding-top:140px;
	font-size:1em;
	}
	
.text-content .box2{
	display:block;
	width:100%;
	margin-top:0px;
	margin-bottom:0px;
	}
	
.text-content .box2 p{
	padding-top:140px;
	font-size:1em;
	}
	
.text-content .box3{
	display:block;
	width:100%;
	margin-top:0px;
	margin-bottom:0px;
	}
	
.text-content .box3 p{
	padding-top:140px;
	font-size:1em;
	}
	}

@media (max-width:300px) {
.text-content .box1{
	padding-bottom:0px;
	}

.text-content .box1 p{
	padding-top:120px;
	font-size:0.7em;
	}
	
.text-content .box2{
	padding-bottom:0px;
	}
	
.text-content .box2 p{
	padding-top:120px;
	font-size:0.7em;
	}
	
.text-content .box3{
	padding-bottom:0px;
	}
	
.text-content .box3 p{
	padding-top:120px;
	font-size:0.7em;
	}
	
section.formulario p{
	font-size:1.4em;
	}	
	
.espacio-btn input{
	font-size:0.9em;
	}

.text-content p{
	font-size:0.8em;
	}
	}