@charset "UTF-8";

*{
	padding:0;
	margin:0;
	}
	
img{
	width: 100%;
	height:auto;
	}

@font-face {
  font-family: 'FranklinGothic-DemiCond';
  src: url('../fonts/FranklinGothic-DemiCond.eot?#iefix') format('embedded-opentype'),  url('../fonts/FranklinGothic-DemiCond.woff') format('woff'), url('../fonts/FranklinGothic-DemiCond.ttf')  format('truetype'), url('../fonts/FranklinGothic-DemiCond.svg#FranklinGothic-DemiCond') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'FranklinGothic-Book';
  src: url('../fonts/FranklinGothic-Book.eot?#iefix') format('embedded-opentype'),  url('../fonts/FranklinGothic-Book.woff') format('woff'), url('../fonts/FranklinGothic-Book.ttf')  format('truetype'), url('../fonts/FranklinGothic-Book.svg#FranklinGothic-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}
			
body{
	margin:0 auto;
	font-family: 'FranklinGothic-Book', Arial;
	}

	
/**************CABECERA*************/	
header{
	width:100%;
	margin:0 auto;
	max-width:1100px;
	}

header .logo{
	text-align:left;
	max-width:350px;
	}
	
.small-content{
	width:99%;
	margin:0 auto;
	max-width:1100px;
	background-image:url(../img/140/cabecera.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	background-position:top center;
	}
	
.skeleton{
	display:inline-block;
	vertical-align:middle;
	width:60%;
	max-width:800px;	
	}
	
.skeleton .imgmobile{
	display:none;
	}

.bonus{
	max-width:409px;
	width:100%;
	padding-top:60%;
	}
	
/************FORMULARIO************************/
section.formulario{
	width:40%;
	max-width:390px;
	display:inline-block;
	text-align:center;
	vertical-align: middle;
	font-family: 'FranklinGothic-Book', Arial;	
	}
		
section.formulario p{
	margin:.9em 0;
	font-size:2em;
	color:#ffffff;
	margin-top:50px;
	}
	
section.formulario p span{
	font-size:1.16em;
	}
	
section.formulario #ctcForm, section.formulario #enviarPorMailSolicitaInfo{
	background-color:#103184;
	width:100%;
	margin:.2em auto;
	text-align:center;
	padding:.4em 0;
	}
	
section.formulario #ctcForm input{
	width:55%;
	display:inline-block;
	vertical-align:middle;
	min-height:40px;
	background-color:#FFF;
	}

.formulario .celda{
	padding-left:.3em;
	background-color:#FFF;
	font-size:.9em;
	display:block;
	width:80%;
	min-height:40px;
	margin:auto;
	margin-top:1.3em;
	color:#857f78;
	text-align:left;
	-webkit-appearance: none;
    -webkit-border-radius: 0;
 	border-radius:0;	
	}

.formulario .celda:focus{
	outline:0px;
	}

.legal{
	font-size:.7em!important;
	font-family:'FranklinGothic-Book', Arial!important;
	width:80%!important;
	text-align:left;
	color: #ffffff!important;
	margin: 0.9em auto!important;
	}
	
.legal input{
	vertical-align:top;
	}
	
.legal a{
	color: #ffffff;
	}
	
.espacio-btn{
	width:90%;
	text-align:center;
	border:0;
	margin: 0 auto;
	-webkit-appearance: none;
    -webkit-border-radius: 0;
 	border-radius:0;
	}	
	
.espacio-btn input{
	font-family: 'FranklinGothic-DemiCond', Arial;
	cursor:pointer;
	background-color:#ff1821;
	width:89%;
	padding:1em 0;
	color: white;
	font-size:1.3em;
	margin:0.7em auto;
	font-weight:normal;
	border:0;
	margin-bottom:70px;
	-webkit-appearance: none;
    -webkit-border-radius: 0;
 	border-radius:0;
	}
		
input[placeholder], [placeholder], *[placeholder]{
   color:#000000 !important;
   }
  
  ::-webkit-input-placeholder{
   
    color:#000000;
	}
	
*:-moz-placeholder{
   
    color:#000000;
	}
	
*::-moz-placeholder{
    
    color:#000000;
	}
	
*:-ms-input-placeholder{
    
    color:#000000;
	}
	
	
/************TEXTO************************/
.text-content{
	width:100%;
	margin:0 auto;
	max-width:1100px;
	text-align:center;
	}
	
.title2{
	display:none;
	}
		
.text-content p{
	color:#17336d;
	}

.text-content .box1{
	background-image:url(../img/140/box1.jpg);
	background-repeat:no-repeat;	
	width:100%;
	margin:0 auto;
	max-width:500px;	
	background-size:contain;
	background-position:top center;
	display:inline-block;
	margin-top:3%;
	margin-bottom:3%;
	}

.text-content .box1 p{
	padding-top:100px;
	margin:0 auto;
	width:80%;
	padding-bottom:100px;
	font-size:0.9em;
	}

.blue-font{
	color:#405a9d;
	text-transform: uppercase;
	font-weight:bold;
	}
		
.text-content .box2{
	background-image:url(../img/140/box2.jpg);
	background-repeat:no-repeat;	
	width:100%;
	margin:0 auto;
	max-width:500px;	
	background-size:contain;
	background-position:top center;
	display:inline-block;
	margin-top:3%;
	margin-bottom:3%;	
	}
	
.text-content .box2 p{
	padding-top:100px;
	margin:0 auto;
	width:80%;
	padding-bottom:100px;
	font-size:0.9em;
	}


.final-text{
	line-height:30px;
	text-align:left;
	display:inline-block;
	}
		
.photo-woman{
	max-width:277px;
	width:100%;
	text-align: left;
	vertical-align:top;
	display:inline-block;
	}
	
.listado{
	line-height:30px;
	text-align:left;
	display:inline-block;
	margin-left:20px;
	margin-bottom:20px;
	}
	
.min-font{
	color:#405a9d;
	font-weight:bold;
	text-align:left;
	display:inline-block;
	}
		
/************PIE***********************/
footer{
	background-color:#e4e4e4;
	}
	
footer .legal{
	width:100%;
	margin:0 auto;
	max-width:1100px;
	text-align:center;
	padding-bottom:2em;
	padding-top:2em;
	}
	
footer .legal a{
	color:#000;
	text-decoration:none;
	}
	
/************RESPONSIVE***********************/


@media (max-width:1010px) {
.basic-content{
	background-position:top left;
	}
	
.skeleton{
	width:55%;
	}
	}

@media (max-width:970px) {
.photo-woman{
	max-width:200px;
	width:100%;
	text-align: left;
	vertical-align:top;
	display:inline-block;
	}
	}
	
@media (max-width:892px) {
.photo-woman{
	max-width:150px;
	margin:20px;
	display:block;
	text-align:center;
	}
	}
	
@media (max-width:800px) {	
.small-content{
	background-image:none;
	}
	
.skeleton{
	display:block;
	width:100%;
	max-width:800px;
	}
	
.skeleton .imgmobile{
	display:block;
	}
	
.bonus{
	display:none;
	padding-top:0%;
	}
			
section.formulario{
	width:100%;
	display:block;
	max-width:800px;		
	}

.title1{
	display:none;
	}
	
.title2{
	display:block;
	}

.text-content .box1{
	max-width:800px;	
	margin-top:10%;
	margin-bottom:0%;	
	}
		
.text-content .box2{
	max-width:800px;	
	margin-top:0%;
	margin-bottom:0%;	
	}
	}

@media (max-width:500px) {
.text-content .box1{
	background-size:cover;
	}

.text-content .box1 p{
	width:90%;
	}
	
.text-content .box2{
	background-size:cover;
	}

.text-content .box2 p{
	width:90%;
	}
	}

@media (max-width:300px) {
.text-content .box1{
	background-size:cover;
	}

.text-content .box1 p{
	width:100%;
	}
	
.text-content .box2{
	background-size:contain;
	}

.text-content .box2 p{
	width:100%;
	}
	
section.formulario p{
	font-size:1.2em;
	}
	
.espacio-btn input{
	font-size:0.8em;
	}
	}