@charset "UTF-8";

*{
padding:0;
margin:0;
}

img{
width: 100%;
height:auto;
}

@font-face {
font-family: 'Franklin Gothic Demi Cond';
font-style: normal;
font-weight: normal;
src: local('Franklin Gothic Demi Cond'), url('../fonts/Franklin Gothic Demi Cond Regular.woff') format('woff');
}

@font-face {
font-family: 'Franklin Gothic Book';
font-style: normal;
font-weight: normal;
src: local('Franklin Gothic Book'), url('../fonts/FRABK.woff') format('woff');
}

/*HEADER*/	
header{
width:100%;
}

header .cabecera{
max-width:1100px;
margin:0 auto;
}

header .cabecera figure{
width:100%;
margin:.2em;
max-width:295px;
padding:0.1em;
}

/*CONTENT*/	

.basic_content{
width:100%;
background-image:url(../img/098/background.jpg);
background-repeat:no-repeat;
height:auto;
}

.small_content{
max-width:1100px;
width:100%;
margin:auto;
height:auto;
}

.titular{
color:#2a4b8f;
font-size:250%;
padding-top:3%;
max-width:427px;
line-height:37px;
padding-left:0.1em;
}

.skeleton{
display:inline-block;
margin-bottom:9%;
margin-top:0px;
vertical-align:bottom;	
width:56%;
display:inline-block;
}

.family-photo{
max-width:633px;
width:100%;
padding-top: 40px;
}

.family-mobile{
display:none;
}

.text_content{
text-align:center;
width:80%;
margin: 0 auto;
}

h1{
color:#e30038;
font-size:160%;
font-family: 'Franklin Gothic Demi Cond';
font-weight:bold;
}

.text_content h2{
padding-bottom:2em;
color:#e30038;
font-size:150%;
font-family: 'Franklin Gothic Book';
}

.text_content h3{
color:#94a5c7;
font-size:150%;
font-family: 'Franklin Gothic Demi Cond';
}

.text_content p{
color:#989898;
font-size:100%;
font-family: 'Franklin Gothic Book';
padding-bottom:3em;
padding-top:0.5em;
width:40%;
margin: 0 auto;
}

#nombre, #telefono, #email{
padding-left:10px;
}	


/*FORMULARIO*/	
.formulario{
width:40%;
display:inline-block;
text-align:center;
vertical-align:top;
background-image:url(../img/098/form.png);
background-repeat:no-repeat;
background-position:center left;	
text-align:center;
margin-top:5em;
}

.formulario p{
font-size:1.2em;
color:#0079c8;
text-align:center;
}

.gtpCaptcha{
display:block;
margin:0 auto;
margin-top:1.3em;
color:#857f78;
text-align:center;
-webkit-appearance: none;
-webkit-border-radius: 0;
border-radius:0;	
float:center;
width:80%;
max-width:304px;
}

.iframecaptcha{
max-width:304px;
height:78px;
width:100%;
}

.formulario .celda{
background-color:#ececec;
font-size:.9em;
display:block;
width:70%;
min-height:40px;
margin:0.5em auto;
border:2px solid #ececec;
color:#585254;
text-align:left;
font-weight:200;
}

.fleft{
padding-top:10%;

}

.legal{
font-size:1em;
margin-left:1em;
margin-top:1em;
width:92%;
margin:0 auto;
text-align:center;
color:#585254;
font-family: 'Franklin Gothic Book';
}

.legal input{
vertical-align:top;
}

.legal a{
color:#585254;
}

.espacio_btn{
width:100%;
text-align:center;
margin:1em auto;
}

.espacio_btn input{
cursor:pointer;
width:72%;
padding:0.7em;
color: white;
font-family: 'Franklin Gothic Demi Cond';
border: 0;
font-size: 1.5em;
background-color:#253980;
margin-bottom:0.5em;
}

footer{
background-color:#d7d7d7;
width:100%;
padding-top:1em;
text-align:center;
margin:0 auto;
height:70px;	
}

footer a{
font-size: 0.8em;
text-decoration:none;
color:#989898;
font-family: 'Franklin Gothic Book';
}

ffooter{font-family:'Verdana',Arial;font-size:.6em;max-width:1000px;margin:1em auto;color:#4b358b;width:98%}#pie_galletero{max-width:950px;margin:1em auto .5em auto;width:100%;color:#949494;background:#e5e5e5;font-family:Arial,Helvetica,sans-serif}#pie_galletero a{color:#949494}#pie_galletero a:visited{color:#949494}#pie_galletero_left{width:auto;vertical-align:middle;display:inline-block;margin:.5em;font-size:.8em;text-align:left}#pie_galletero_right{text-align:right;width:20%;vertical-align:middle;display:inline-block;margin:.5em}#pie_galletero_right input{margin:.3em;padding:.1em 0;cursor:pointer}#info_cook{font-family:Arial,Helvetica,sans-serif;max-width:950px;width:100%;display:block;margin:0 auto;text-align:left;font-size:.7em;color:#949494;background:#e5e5e5}.texto_cook{width:96%;margin:0 auto}.closeCookiesPolicy{text-align:right}.closeCookiesPolicy a{color:#666;text-decoration:none;font-size:15px;margin:.5em;font-weight:bold}

@media (max-width: 1100px) {
.skeleton{
width:56%;
}

.formulario{
width:40%;
background:#FFF;
margin-top:40px;
height:auto;
}

.fleft{
margin-top:-100px;
}

h1{
padding-top:50px;
}

.legal{
font-size:0.8em;
}	

.family-photo{
padding-top:50px;
}
}

@media (max-width: 991px) {
.family-photo{
padding-top:100px;
}
}

@media (max-width: 984px) {
.family-photo{
padding-top:90px;
}
}
@media (max-width:970px) {
.gtpCaptcha{
display:block;
margin:0 auto;
margin-top:1.3em;
color:#857f78;
text-align:center;
-webkit-appearance: none;
-webkit-border-radius: 0;
border-radius:0;	
width:85%;
}
}

@media (max-width: 870px) {
.family-photo{
padding-top:120px;
}
}

@media (max-width: 850px) {
header .cabecera figure{
width:90%;
}

.basic_content{
background-image:none;
height:auto;
}	

.skeleton{
display:block;
width:100%;
margin-bottom:0px;
height:auto;
}

.titular{
display:none;
}	

.text_content{
width:90%;
}

h1{
font-size:140%;
}

.text_content h2{
font-size:120%;
}

.text_content h3{
font-size:120%;
}	

.text_content p{
width:90%;
}

.family-photo{
display:none;
}

.family-mobile{
display:block;
width:100%;
}

.formulario{
display:block;
width:100%;
margin:0 auto;
height:auto;
background-image:none;
text-align:center;
}

.formulario p{
font-size:1.2em;
color:#0079c8;
text-align:center;
}

.formulario .celda{
display:block;
width:80%;
}

.fleft{
padding-top:20px;
margin-top:0px;
}

.legal{
font-size:1em;
}

.legal input{
vertical-align:top;
}

.legal a{
color:#585254;
}

.espacio_btn{
width:100%;
text-align:center;
margin:1em auto;
}

.espacio_btn input{
cursor:pointer;
width:80%;
padding:0.7em;
color: white;
font-family: 'Franklin Gothic Demi Cond';
border: 0;
font-size: 1.2em;
background-color:#253980;
margin-bottom:0.5em;
}
}
@media (max-width:370px) {
.formulario .celda{
width:90%;
}

.gtpCaptcha{	
float:left;
width:90%;
padding-left:15px;
padding-bottom:15px;
}

.iframecaptcha{
max-width:304px;
height:78px;
width:100%;
}
}
