@charset "utf-8";

*{
	padding:0;
	margin:0;
	}
	
img{
	width: 100%;
	}
	
body{
	background-color:#FFF;
	}	
	
@font-face {
	font-family: 'Conv_FRABK';
	src: url('../fonts/FRABK.eot');
	src: local('☺'), url('../fonts/FRABK.woff') format('woff'), url('../fonts/FRABK.ttf') format('truetype'), url('../fonts/FRABK.svg') format('svg');
	font-weight: normal;
	font-style: normal;
	}

header{
	width:100%;
	}
	
.title-head{
	width:99%;
	margin:0 auto;
	max-width:1000px;
	padding:0;
	}
	
.logo{
	max-width:295px;
	width:80%;
	padding:0.2em;
	}

.content{
	margin:0 auto;
	width:100%;
	height:auto;
	text-align:center;
	padding-top:10px;
	}
	
.photo{
	max-width:1000px;
	width:100%;
	margin:0 auto;
	display:block;
	}
	
.photo-mini{
	display:none;
	}
	
.contact{
	padding-bottom:50px;
	}
	
h1{
	font-family: 'Conv_FRABK', Arial;
	display:inline-block;
	color:#2a4b8f;
	vertical-align:middle;
	font-size:24px;
	padding-top:15px;
	padding-left:10px;
	padding-right:10px;
	}

.phone{
	max-width:74px;
	display:inline-block;
	vertical-align:middle;
	padding-top:20px;
	}
	
footer{
	width:100%;
	background-color:#2a4b8f;
	height:80px;
	}

@media (max-width:600px){
	
h1{
	font-size:18px;
	}

.phone{
	max-width:50px;
	}	
	}

@media (max-width:400px){
.photo{
	display:none;
	}
	
.photo-mini{
	max-width:400px;
	width:100%;
	margin:0 auto;
	display:block;
	}
	}