#mdCllaMe{
display:block;
width:90%;
height:200px;
border:1px solid red;
}
.error>.modal-buttons{text-align:center!important;}

.innerModal{padding:5px;}
.boxRight{display:block!important;float:right!important;right:0px;}
.hide{display:none;}