*{
	padding:0;
	margin:0;}
	
img {
  width: 100%;
}

body{
	
	font-family:Arial, Helvetica, sans-serif;
	background:url(../img/1920x1080.jpg) no-repeat center fixed;
	background-size:cover;
	
	}
	header img:nth-child(1) {
	display:block;
	}
	header img:nth-child(2) {
	display:none;
	}
	
section.contenido, header{
	max-width:860px;
	margin:.5em auto;
	width:100%;

	}

section.foto{
	width:55%;
	display:inline-block;
	vertical-align:middle;
	margin-right:2em;
	}
	
section.foto img:nth-child(2) {
	display:none;
	}

section.formulario{
	width:40%;
	display:inline-block;
	vertical-align:middle;
	background:#4E96AF;
	font-size:.9em;
	color:#FFF;
	top-margin:0;
	vertical-align:top;
	}
section.formulario form{
	width:85%;
	margin:.7em auto;
	background-color:#71AABE;
	border-radius:.5em;
	padding:1em;
	
	}	
	
	
.formulario p{
	text-align:center;
	font-size:2.1em;
	margin-bottom:.6em;
	}



.fila input,.fila select{
	margin:.7em auto;
	height:25px;
	display:block;
	width:99%;
	border:0;
	border-radius:.2em;}
	
input[type="radio"]{
	margin-bottom:1em;
	margin-right:.3em;}


	
.legal p{
	font-size:.7em;
	font-family:Arial, Helvetica, sans-serif;
	text-align:left;
	}
	
.legal a{
	color:#FFF;
	}
.legal input{
	margin-right:.3em;
	}
.espacio_btn{
	width:100%;
	text-align:center;
	margin-top:1em;
	}	
	
.espacio_btn input{
	text-align:center;
	width:80%;
	padding:.5em 0;
	color: white;
	border: 0;
	font-size: 1.5em;
	background-image: -ms-linear-gradient(bottom, #A71456 0%, #B7287D 100%);
	background-image: -moz-linear-gradient(bottom, #A71456 0%, #B7287D 100%);
	background-image: -o-linear-gradient(bottom, #A71456 0%, #B7287D 100%);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #A71456), color-stop(1, #B7287D));
	background-image: -webkit-linear-gradient(bottom, #A71456 0%, #B7287D 100%);
	background-image: linear-gradient(to top, #A71456 0%, #B7287D 100%);
	}
	
	
#pie_galletero{
	max-width:860px;
	margin:.5em auto;
	width:100%;
	background-color:#005571;
	color:#FFF;}	
#pie_galletero a{
	
	color:#FFF;}	

#pie_galletero_left{
	width:74%;
	vertical-align:middle;
	display:inline-block;
	margin:.5em;
	font-size:.8em;
	}

#pie_galletero_right{
	text-align:right;
	width:21%;
	vertical-align:middle;
	display:inline-block;
	margin:.5em;
	}
#pie_galletero_right input{
	margin:.3em;
	padding:.1em;
	
	}
	
#info_cook {
	max-width:840px;
	width:88%;
	display: block;
	margin: 0 auto;
	margin-top: 4px;
	text-align: left;
	font-size: .8em;
	color: #175E8D;
	background: #B9DCF2;
	padding-top:1em;
	padding-bottom:1em;
	}
#info_cook p, #info_cook ul {
	margin-left:2em;
	margin-right:1em;
	}
.closeCookiesPolicy{
	margin-right:1em;
	
	}
	
@media (max-width: 860px) {
	
	section.contenido, header, #pie_galletero, #info_cook {
		width:98%;
	}
		
	section.formulario{
		width:38%;
	
		}
	section.foto{
		width:61%;
		margin-right:0;
		}	
	}

@media (max-width: 700px){
	
	section.contenido, header, #pie_galletero{
		width:80%;
		max-width:520px;
		
	}
	#info_cook {
		width:77%;
		
		
	}
	
	section.foto img:nth-child(1) {
	display:none;
	}
	section.foto img:nth-child(2) {
	display:block;
	}
	header img:nth-child(1) {
	display:none;
	}
	header img:nth-child(2) {
	display:block;
	}

	section.formulario, section.foto{
		width:100%;
		display:block;
		margin:0 auto;
		}
	section.formulario{
		padding:.5em 0}
		
	.campo_secundario{
		display:none;}
		
	
	#pie_galletero_left{
		width:95%;
		display:block;
		margin:.5em auto;
		font-size:.7em;
		}
	
	#pie_galletero_right{
		text-align:center;
		width:60%;
		display:block;
		margin:.5em auto;
		}
	}
	
	
@media (max-width: 480px){
	
	section.contenido, header, #pie_galletero{
		width:97%;

	}
		section.formulario form{
			width:88%;
		margin:.5em auto;
		padding:.7em;
		
		}	
	#pie_galletero_left{
		width:95%;
		display:block;
		margin:.5em auto;
		font-size:.7em;
		}
	
	#pie_galletero_right{
		text-align:center;
		width:60%;
		display:block;
		margin:.5em auto;
		}
		#info_cook{
			width:90%;
		}

	}
	