@charset "UTF-8";
*{
margin:0;
padding:0;
box-sizing:border-box;
}

img{
width:99%;
height:auto;
}

@font-face{
font-family: 'Conv_FrutigerLTStd-BoldCn';
src: url('../fonts/FrutigerLTStd-BoldCn.eot');
src: local('☺'), url('../fonts/FrutigerLTStd-BoldCn.woff') format('woff'), url('../fonts/FrutigerLTStd-BoldCn.ttf') format('truetype'), url('../fonts/FrutigerLTStd-BoldCn.svg') format('svg');
font-weight: normal;
font-style: normal;
}

@font-face{
font-family: 'Conv_FrutigerLTStd-LightCn';
src: url('../fonts/FrutigerLTStd-LightCn.eot');
src: local('☺'), url('../fonts/FrutigerLTStd-LightCn.woff') format('woff'), url('../fonts/FrutigerLTStd-LightCn.ttf') format('truetype'), url('../fonts/FrutigerLTStd-LightCn.svg') format('svg');
font-weight: normal;
font-style: normal;
}

body{
font-family: 'Conv_FrutigerLTStd-LightCn';
background-color:#FFFFFF;
}

.basic-content{
width:100%;
}

.small-content{
width:99%;
max-width:1200px;
margin:auto;
background-image:url(../img/147/background.jpg);
background-repeat:no-repeat;
background-size:cover;
}

/*Skeleton*/

.skeleton{
width:60%;
display:inline-block;
vertical-align:middle;
}

.photo-web{
max-width:500px;
margin-top:12em;
}

.mvl{
display:none;
}

/*Formulario*/

.formulario{
width:22%;
display:inline-block;
text-align:center;
vertical-align:middle;
margin-left:8em;
margin-top:4em;
}

section.formulario p{
text-align:center;
font-size:1.8em;
color:#FFFFFF;
line-height:30px;
margin-top:0.6em;
}

.for-text{
font-family: 'Conv_FrutigerLTStd-BoldCn';
}

section.formulario #enviarPorMailSolicitaInfo{
background-color:rgba(0,0,0,0.70);
width:99%;
margin:1em auto;
text-align:center;
padding: .1em 0 .2em 0;
}

.formulario .celda{
width:83%;
font-size:1.1em;
margin: 0.4em auto;
padding-left:2.7em;
min-height:40px;
font-family: 'Conv_FrutigerLTStd-LightCn';
border:0;
}

input[placeholder], [placeholder], *[placeholder] {
 color:#9d9d9d !important;
 }

::-webkit-input-placeholder {
	color:#9d9d9d;
}

*:-moz-placeholder {
	color:#9d9d9d;
}

*::-moz-placeholder {
	color:#9d9d9d;
}

*:-ms-input-placeholder {
	color:#9d9d9d;
}

section.formulario .user{
background-image:url(../img/147/icon-user.jpg);
background-repeat:no-repeat;
}

section.formulario .book{
background-image:url(../img/147/icon-user2.jpg);
background-repeat:no-repeat;
}

section.formulario .phone{
background-image:url(../img/147/icon-phone.jpg);
background-repeat:no-repeat;
}

section.formulario .mail{
background-image:url(../img/147/icon-mail.jpg);
background-repeat:no-repeat;
}

.legal{
font-size:0.8em;
color:#FFFFFF;
width:84%;
margin:0 auto;
text-align:left;
}

.legal input{
vertical-align:top;
}

.legal a{
color:#FFFFFF;
}

.espacio_btn{
width:90%;
text-align:center;
margin:.4em auto;
}	

.espacio_btn input{
cursor:pointer;
width:92%;
margin: 0.2em auto;
padding-top:0.3em;
padding-bottom:0.2em;
font-size:2.3em;
color:#FFF;
background-color:#6dc6f8;
border-top:0;
border-left:0;
border-right:0;
border-bottom:7px solid #5A96B7;
font-family: 'Conv_FrutigerLTStd-BoldCn';
-webkit-appearance: none;
	-webkit-border-radius: 0;
border-radius:0;
}

/*Text-content*/

.text-content{
width:99%;
max-width:1200px;
margin:auto;
background-color:#ffffff;
}

.container-text{
width:99%;
max-width:1200px;
margin:2em auto;
background-color:#f0f0f0;
padding:0.8em;
}

.title-text{
font-size:1.2em;
margin-left:1em;
margin-top:1.1em;
}

.title-text span{
font-family: 'Conv_FrutigerLTStd-BoldCn';
}

/*Carrusel*/

img{
width:99%;
height:auto;
}

.container{
max-width:1000px;
margin:auto;
}

#owl-demo .item{
	padding: 20px 0px;
	margin:20px;
	color: #FFF;
	text-align: center;
width:90%;
	}

.customNavigation{
	text-align: center; 
margin-bottom:1em;
	}

.customNavigation img{
 max-width:60px;
 display:inline-block;
 vertical-align:middle; 
	}

.customNavigation a{
cursor:pointer;
color:#FFFFFF;
padding:15px;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	 user-select: none;
	}

/*Legal*/

.legal-text{
font-size:0.9em;
padding:0.7em;
margin-bottom:4em;
}

footer{
 width:100%;
 background-color:#ffd200;
 height:40px;
 }   

/*Responsive*/

@media (max-width:1120px){

.formulario{
width:25%;
}
}

@media (max-width:1000px){

.formulario{
width:28%;
margin-left:14em;
}

.skeleton{
width:45%;
}
}

@media (max-width:880px){

.formulario{
margin-left:12em;
}

section.formulario p{
font-size:1.6em;
}
}

@media (max-width:850px){

.formulario{
width:99%;
margin-left:0;
margin-top:0;
}

.small-content{
background-image:none;
}

.skeleton{
width:99%;
}

.photo-web{
display:none;
}

.mvl{
display:block;
}	

.text-content{
text-align:center;
}

#owl-demo .item{
	margin:10px;
}
}
