@charset "utf-8";

* {
	padding:0;
	margin:0;
	
	}

img {
	
	width: 99%;
	height:auto;
	
	}
	
body{
    font-family: 'Conv_Helvetica', Arial;
	background-color:#FFF;
	}
	
@font-face {
	font-family: 'Conv_Helvetica';
	src: url('../fonts/Helvetica.eot');
	src: local('☺'), url('../fonts/Helvetica.woff') format('woff'), url('../fonts/Helvetica.ttf') format('truetype'), url('../fonts/Helvetica.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


/*CONTENIDO*/

.contenido {
	background-image:url(../img/089/background1.jpg);
	background-position:center top;
	background-repeat:no-repeat;
	margin:0 auto;
	background-color:#000;
	
	}


.contenido_basico {
	width:99%;
	margin:0 auto;
	vertical-align: middle;
	text-align:top;
	max-width:1200px;
	padding-top:2.5em;
	padding-bottom:2.5em;
	
	
	}
	
	
.foto {
	display:inline-block;
	vertical-align: top;
	width:65%;
	
	}
	
.mobile {
	display:none;
	}
	
.web {
	display:block;
	}
	
	
	
/*FORMULARIO*/


.formulario {
	width:20%;
	display:inline-block;
	text-align:center;
	vertical-align:top;
	max-width:275px;
	
	
	
	}

.form {
	
	background-color:#FFF;
	}
	
section.formulario p{
	padding-top:0.6em;
	padding-bottom:0.6em;
	text-align:center;
	font-size:1em;
	color:#3d3d3d;
	}
	
.celdas {
	width:75%;
	font-size:0.8em;
	margin: 0.4em auto;
	padding-top:0.3em;
	padding-bottom:0.3em;
	padding-left:0.4em;
	}
	
.legal {
	font-size:0.6em;
	color:#3d3d3d;
	font-family:Arial, Helvetica, sans-serif;
	width:75%;
	margin:0 auto;
	text-align:left;
	}
	
.legal a{
	color:#3d3e3e;
	}
	
.enviar {
	width:78%;
	font-size:0.8em;
	margin: 0.7em auto;
	padding-top:0.4em;
	padding-bottom:0.4em;
	font-size:1.5em;
	color:#FFF;
	background-color:#d24d44;
	border:0;
	-webkit-box-shadow: 3px 3px 3px #ae0d02;
	-moz-box-shadow: 3px 3px 3px #ae0d02;
	box-shadow: 3px 3px 3px #ae0d02;
	cursor:pointer;
	}
	
.promo {
	max-width:275px;
	background-color:#ffd101;
	}
	
	
	
/*CONTENIDO TEXTO*/

.contenido_texto {
	margin:1.8em auto;
	text-align:center;
	max-width:1200px;
	
	}
	
section.contenido_texto h1{
	color:#272727;
	font-size:2em;
	margin-bottom:0.5em;
	}
	
section.contenido_texto h2{
	color:#272727;
	font-size:1.4em;
	}
	
section.contenido_texto span{
	color:#d24d44;
	}
	
.texto {
	width:40%;
	margin-top:3em;
	display:inline-block;
	text-align:left;
	margin-left:3em;
	font-size:1em;
	line-height:1.5em;
	color:#272727;
	background-image:url(../img/089/rayo.png);
	background-repeat:no-repeat;
	padding-top:0.7em;
	padding-bottom:1em;
	vertical-align:top;
	
	}
	
section .texto strong {
	font-size:1.2em;
	}
	
.linea {
	text-decoration:underline;
	color:#272727 !important;
	 
	}
	
	
/*FOOTER*/

footer {
	background-color:#ffd101;
	width:100%;
	
	}
	
.legal_pie {
	width:99%;
	max-width:1100px;
	margin:auto;
	font-size:0.7em;
	padding-top:2.5em;
	padding-bottom:2.5em;
	line-height:1.8em;
	text-align:left;
	
	}
@media (max-width:1300px) {
	
.legal_pie {
	width:90%;}	
	}

@media (max-width:1200px) {

.foto {
	width:70%;
	}
	
.formulario {
	width:25%;
	}
	
section.formulario p{
	font-size:1.2em;
}

.legal_pie {
	width:85%;
	}
	
	
}



@media (max-width:1000px) {
	
section.formulario p{
	font-size:1em;
	}
.foto{
	width:73%;
	}

.enviar {
	font-size:1em;
	}
	
section.contenido_texto h1{
	font-size:1.5em;
	}
	
section.contenido_texto h2{
	font-size:1.1em;}


	
	}
	
@media (max-width:900px) {
	
section.formulario p{
	font-size:0.9em;}	
	
	}

@media (max-width:800px) {
	
.web {
	display:none;
	}
	
.mobile {
	display:block;
	margin:0 auto;
	
	}
	
.contenido {
	background-image:none;
	width:100%;
	}
	
.foto {
	width:100%;
	margin:0 auto;
	max-width:800px;
	margin-top: -3em;
	
	}
	
.contenido_basico {
	width:100%;
	margin:0;
	}
	
.formulario {
	width:100%;
	max-width:none;
	}

.promo {
	display:none;
	}
	
.celdas {
	width:90%;
	
	}
.enviar {
	width:92%;
	}
	
section.formulario p{
	font-size:1.4em;
	}
	
.legal {
	width:90%;
	font-size:0.8em;
	}
	
section.contenido_texto h1{
	font-size:1.5em;
	}
	
section.contenido_texto h2{
	font-size:1.1em;
	}
	
.texto {
	width:75%;
	
	}
	
.legal_pie {
	width:75%;
	}
}

@media (max-width:300px) {
	
section.formulario p{
	font-size:1em;
	}
	
.texto {
	margin:auto;
	margin-top:2em;}
	
section.contenido_texto h1{
	font-size:1.3em;
	margin-bottom:1em;
	}
	
section.contenido_texto h2{
	font-size:0.9em;
	}