@charset "UTF-8";

*{
	margin:0;
	padding:0;
	}

img{
	width:99%;
	height:auto;
	}
	
body{
	background-color:#000000;
	}
	
@font-face {
	font-family: 'Conv_Helvetica';
	src: url('../fonts/Helvetica.eot');
	src: local('☺'), url('../fonts/Helvetica.woff') format('woff'), url('../fonts/Helvetica.ttf') format('truetype'), url('../fonts/Helvetica.svg') format('svg');
	font-weight: normal;
	font-style: normal;
	}
	
.contenido{
	max-width:1000px;
	margin:auto;
	}

footer{
	width:100%;
	background-color:#ffd401;
	margin-top:-0.2em;
	}
	
.texto{
	max-width:900px;
	margin:auto;
	padding:1em;
	text-align:left;
	color:#FFFFFF;
	font-weight:bold;
	line-height:30px;
	font-size:1em;
	}
	
.texto span{
	color:#000000;
	}
	
@media (max-width:800px){
	
.texto{
	font-size:0.8em;
	line-height:20px;
	}
	}
