@charset "utf-8";
/*** MODAL OVERLAY Y EL CONTENEDOR ***/
.simplemodal-overlay {position:fixed; background-color:#aaaaaa;cursor:wait;opacity:.75; filter:alpha(opacity=75); width:100%; min-height:100%;}
.simplemodal-container{
	border-radius: 8px; -moz-border-radius: 8px; -webkit-border-radius: 8px;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.7); -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.7); -moz-box-shadow: 0 0px 4px rgba(0,0,0,0.7);
    background: none repeat scroll 0 0 #000000;
}
/*** BOTON CLOSE ***/
a.modalCloseImg { 
    background: url("../img/x.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    display: inline;
    height: 29px;
    position: absolute;
    right: -16px;
    top: -15px;
    width: 25px;
    z-index: 3200;
}
/*** MODAL INTERIOR DE LA VENTANA ***/
/*#dialog {position:absolute; width:425px;padding:10px; z-index:200; background:#fff} */
#dialog-header {display:block; position:relative; width:458px; padding:6px 6px 7px; height:24px; font-size:20px; font-weight:bold;background:url(../img/header_bg.jpg) repeat-x; color:#444446; border-radius: 4px 4px 0 0; -moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0;}
#dialog-title {float:left;}
#dialog-close {float:right; cursor:pointer; margin:3px 3px 0 0; height:11px; width:11px; background:url(../img/dialog_close.gif) no-repeat}
#dialog-content {display:block; padding:6px; color:#666666; font-size:13px; min-height:150px; border-radius: 0 0 4px 4px; -moz-border-radius: 0 0 4px 4px; -webkit-border-radius:0 0 4px 4px;}
#dialog-content img {float:left;position:absolute;height:auto;padding-top:15px;padding-left:20px;}
#dialog-content div {width:300px;margin-left: 90px;font-size:16px;font-weight:normal;}
#dialog-content div.message { line-height:20px;}

/*** DISTINTOS TIPOS DE MODALS (ERROR,SUCCESS,CONFIRM,ALERT) ****/
#error,#success,#confirm,#warning {padding:15px;}
.warning {background:#fff url(../img/warning_bg.jpg) bottom right no-repeat;}
.success {background:#fff url(../img/success_bg.jpg) bottom right no-repeat;}
.confirm {background:#fff url(../img/confirm_bg.jpg) bottom right no-repeat;}
.error {background:#fff url(../img/error_bg.jpg) bottom right no-repeat;}
/*** BOTONES DE YES / NO ***/
.modal-buttons{padding-top:70px;}
.modal-button{width:100px;font-family:Arial,Verdana, sans-serif;display:inline-block;background:#459300 url(../img/header_bg.jpg) top left repeat-x !important;border:1px solid #ccc!important;padding:4px 7px!important;color:#000 !important;font-size:20px !important;cursor:pointer;text-decoration:none; text-align:center; }
.modal-button:hover{text-decoration:underline;background-color:#4180A1 !important; background-image:none !important; border-color: #4180A1 !important;}
/*.modal-button:active{padding:5px 7px 3px!important}*/