/*** Modal ***/
.modal{
	display:none;
	z-index:999;
	background:transparent;
	width:400px;
	height:380px;
}

#simplemodal-container {	position:absolute;z-index:999;}
#simplemodal-container a.modalCloseImg {
	background:url('../img/x2.png') no-repeat;
	width:30px;
	height:30px;
	display:inline;
	z-index:3200;
	position:absolute;
	top:20px;
	right:85px;
	cursor:pointer;
}

.simplemodal-data{
	padding:10px;
}
/*** Fin Modal ***/