@charset "utf-8";
/* CSS Document */
/*** DEFINICION DE COLORES ***/
@const colorMain: #441466;
@const color_linea_morada: #68217a;
@const COLOR-BUTTON: #581e72;

body{
    background:url(../img/blurred2.jpg) no-repeat center fixed;
}



