#pie_galletero{
display:block;
position:relative;
margin:0 auto;
width:930px;
height:60px;
padding:10px;
font-size:70%;
color:#777777;
background:#fff;
top:20px;
//-webkit-font-smoothing:antialiased;
/*-webkit-box-shadow:inset 0 0 18.75em rgba(195,225,243,.9);
//-moz-box-shadow:inset 0 0 18.75em rgba(255,225,255,.9);
//box-shadow:inset 0 0 18.75em rgba(255,76,133,.3); 
*/
border-radius:.8em;
}

.pie_galletero_left{
display:block;
float:left;
padding-left:20px;
width:80%;
}
#pie_galletero_right{
display:block;
float:left;
}


#cookie_info{
display:block;
cursor:pointer;
text-align:center;
line-height:30px;
}
#cookie_info{
font-size:.9em;
color:#666;
}
#cookie_info:hover{
color:#83396A;
}
.cookieButton{
color:#eee;
background:#EB6F04;
font-size:12px;
font-family:Arial,Helvetica,sans-serif;
border:0;
}
.cookieButton:hover{
color:#fff;
cursor:pointer;
}

#info_cook{
display:block;
margin:0 auto;
width:870px;
margin-top:44px;
padding:40px;
font-size:.8em;
color:#777777;
background:#fff;
//-webkit-font-smoothing:antialiased;
/*-webkit-box-shadow:inset 0 0 18.75em rgba(195,225,243,.9);
-moz-box-shadow:inset 0 0 18.75em rgba(255,225,255,.9);
box-shadow:inset 0 0 18.75em rgba(198,76,133,.3); 
*/
border-radius:.8em;
}
#info_cook a{
color:#777777;
}
#info_cook a:hover{
color:#000;
}
.ulCookies{
margin-left:-16px;
color:#777777;
}

#info_cook li p{
color:#777777;
}

#info_cook li{
list-style:disc;
color:#777777;
}

.closeCookiesPolicy a{
display:block;
position:relative;
top:-10px;
text-decoration:none !important;
font-size:200%;
font-weight:bold;
}

