#pie_galletero{
display:block;
position:relative;
margin:0 auto;
width:auto;
height:auto;
padding:10px;
font-size:.9em;
color:#777;
background:#fff;
}

.pie_galletero_left{
display:block;
padding:0%;
padding-left:20px;
width:90%;
font-size:.8em;
}
#pie_galletero_right{
display:block;
padding:0px!important;
}


#cookie_info{
display:block;
cursor:pointer;
text-align:center;
line-height:30px;
}
#cookie_info{
font-size:.9em;
color:#777777;
font-size:1em;
}
#cookie_info:hover{
color:#0F3F63;
}

.cookieButton{
color:#eee;
font-size:12px;
font-family:Arial,Helvetica,sans-serif;
border:0;
padding:10px 40px;;
border-radius:4px;
}
.cookieButton:hover{
color:#fff;
cursor:pointer;
}

#info_cook{
display:block;
margin:0 auto;
width:auto;
margin-top:4px;
padding:20px;
font-size:.9em;
color:#777;
background:#eee;
border-radius:.8em;
}

#info_cook a{
color:#777777;
}
#info_cook a:hover{
color:#000000;
}
.ulCookies{
margin-left:4%;
color:#777777;
font-size:1em;

}

#info_cook li p{
color:#777777;
}

#info_cook li{
list-style:disc;
color:#777777;
}

.closeCookiesPolicy a{
display:block;
position:relative;
top:-10px;
text-decoration:none !important;
font-size:200%;
font-weight:bold;
}

#cookie_acept{
background-color:#581e72!important;
color:#eee;
padding:5px!important;
margin:5px!important;
width:90px!important;
}
#cookie_rejection{
background-color:#c3c4c5!important;
color:#fff;
padding:5px!important;
margin:5px!important;
width:120px!important;
}