*{ 
margin:0;
padding:0;
box-sizing:border-box;
}

img{
width:99%;
height:auto;
}

@font-face {
font-family: 'Conv_Roboto-Regular';
src: url('../fonts/Roboto-Regular.eot');
src: local('☺'), url('../fonts/Roboto-Regular.woff') format('woff'), url('../fonts/Roboto-Regular.ttf') format('truetype'), url('../fonts/Roboto-Regular.svg') format('svg');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'Conv_Roboto-Bold';
src: url('../fonts/Roboto-Bold.eot');
src: local('☺'), url('../fonts/Roboto-Bold.woff') format('woff'), url('../fonts/Roboto-Bold.ttf') format('truetype'), url('../fonts/Roboto-Bold.svg') format('svg');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'Conv_Roboto-Light';
src: url('../fonts/Roboto-Light.eot');
src: local('☺'), url('../fonts/Roboto-Light.woff') format('woff'), url('../fonts/Roboto-Light.ttf') format('truetype'), url('../fonts/Roboto-Light.svg') format('svg');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'Conv_Roboto-Thin';
src: url('../fonts/Roboto-Thin.eot');
src: local('☺'), url('../fonts/Roboto-Thin.woff') format('woff'), url('../fonts/Roboto-Thin.ttf') format('truetype'), url('../fonts/Roboto-Thin.svg') format('svg');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'Conv_OstrichSans-Black';
src: url('../fonts/OstrichSans-Black.eot');
src: local('☺'), url('../fonts/OstrichSans-Black.woff') format('woff'), url('../fonts/OstrichSans-Black.ttf') format('truetype'), url('../fonts/OstrichSans-Black.svg') format('svg');
font-weight: normal;
font-style: normal;
}

/*Body*/

body {
background-color:#ffffff;
font-family: 'Conv_Roboto-Regular';
}

/*Header*/
.cabecera {
width:99%;
background-size:contain;
margin: 0.4em auto;
text-align:center;
border-bottom:2px solid #0a0a0a;
}

.cabecera img{
width:16%;
}

/*basic-content*/
.basic-content{
width:100%;
}

/*small-content*/
.small-content{
width:99%;
max-width:1200px;
margin:auto;
}

/*skeleton*/
.skeleton{
width:55%;
display: inline-block;
vertical-align:middle;
margin:auto;
}

/*Formulario*/

section.formulario{
width:40%;
margin:auto;
display:inline-block;
vertical-align: middle;
background-color:#ab8539;
}

.formulario img{
width:100%;
display:block;
}

.formulario .discount{
background-color:#FFFFFF;
font-size:1.3em;
display:block;
width:80%;
min-height:35px;
margin:auto;
margin-top:1.3em;
color:#0a0a0a;
border:0;
text-align:left;
padding-left:1.3em;
padding-top:0.5em;
padding-bottom:0.5em;
font-family: 'Conv_Roboto-Regular';
-webkit-appearance: none;
-webkit-border-radius: 0;
border-radius:0;
}

.discount span{
font-family: 'Conv_Roboto-Bold';
}


.formulario .celda{
background-color:#FFFFFF;
font-size:1.3em;
display:block;
width:80%;
min-height:35px;
margin:auto;
margin-top:1.3em;
border:0;
text-align:left;
padding-left:1.3em;
padding-top:0.5em;
padding-bottom:0.5em;
font-family: 'Conv_Roboto-Regular';
-webkit-appearance: none;
-webkit-border-radius: 0;
border-radius:0;
}

input[placeholder], [placeholder], *[placeholder]{
color:#0a0a0a !important;
font-family: 'Conv_Roboto-Regular';
}

::-webkit-input-placeholder{
color:#0a0a0a !important;
font-family: 'Conv_Roboto-Regular';
}

*:-moz-placeholder{
color:#0a0a0a !important;
font-family: 'Conv_Roboto-Regular';
}

*::-moz-placeholder{
color:#0a0a0a !important;
font-family: 'Conv_Roboto-Regular';
}

*:-ms-input-placeholder{
color:#0a0a0a !important;
font-family: 'Conv_Roboto-Regular';
}

.legal{
font-size:1.2em;
width:78%;
text-align:left;
color: #ffffff;
margin:0.4em auto;
font-family: 'Conv_Roboto-Light';
}

.legal input{
vertical-align: middle;
}

.legal a{
color:#ffffff;
}

.espacio_btn{
width:94%;
text-align:center;
margin:.5em auto;
}	

.espacio_btn input{
cursor:pointer;
width:60%;
padding:0.5em 0;
color: white;
font-size: 2em;
margin-top:0.5em;
margin-bottom:1.5em;
background-color:#0a0a0a;
-webkit-appearance: none;
border:0;
font-family: 'Conv_Roboto-Thin';
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;
}

/*text-content*/
.text-content {
width:100%;
max-width:1200px;
text-align:center;
margin:auto;
}

.text-content h1{
width:55%;
font-family: 'Conv_OstrichSans-Black';
text-align:center;
font-size:2.9em;
color:#0a0a0a;
margin-top:0.8em;
margin-left:auto;
margin-right:auto;
border-bottom:2px solid #0a0a0a;
}

.text-content h2{
width:50%;
font-family: 'Conv_Roboto-Thin';
text-align:center;
font-size:1.6em;
color:#0a0a0a;
margin-top:0.8em;
margin-left:auto;
margin-right:auto;
}

.text-content img{
width:99%;
margin:2em auto;
display:block;
}
.text-content .mvl{
display:none;
}

.list{
margin:0.4em auto;
width:47%;
display: inline-block;
vertical-align:middle;
background:rgba(171, 133, 57, 0.2);
}

.list p{
font-size:1em;
color:#0a0a0a;
text-align:left;
padding-top:0.6em;
padding-left:0.6em;
padding-bottom:0.5em;
}

.list2{
margin:0.4 auto;
width:47%;
display: inline-block;
vertical-align:middle;
background:rgba(171, 133, 57, 0.2);
}

.list2 p{
font-size:1em;
color:#0a0a0a;
text-align:left;
padding-top:0.6em;
padding-left:0.6em;
padding-bottom:0.5em;
}

.information{
width:99%;
background-color:#ffffff;
margin:auto;
border-bottom:2px solid #0a0a0a;
}

.information-a{
width:100%;
background-color:#0a0a0a;
margin:auto;
}

.icons{
width:99%;
max-width:1200px;
background-color:#0a0a0a;
margin:0.5em auto;
text-align:center;
padding-bottom:1.5em;
}

.icons1{
width:30%;
display:inline-block;
vertical-align:top;
}

.icons1 img{
max-width:15%;
margin:auto;
display:block;
padding-top:1.5em;
}

.icons1 p{
font-family: 'Conv_Roboto-Light';
font-size:0.8em;
color:#ffffff;
text-align:center;
margin: 1em auto;
}

.icons2{
width:30%;
display:inline-block;
vertical-align:top;
}

.icons2 img{
max-width:15%;
margin:auto;
display:block;
padding-top:1.5em;
}

.icons2 p{
font-family: 'Conv_Roboto-Light';
font-size:0.8em;
color:#ffffff;
text-align:center;
margin: 1em auto;
padding-right:1em;
}

.information-b{
width:99%;
max-width:1200px;
margin:auto;
}

.information-b p{
font-family: 'Conv_Roboto-Light';
font-size:1em;
text-align:center;
padding-top:0.5em;
padding-bottom:0.5em;
}
.politicas{
color:#0a0a0a;
}

/*Responsive*/

@media (max-width:1210px){
.formulario .discount{
font-size:1.2em;
margin-top:1.2em;
padding-left:1.2em;
padding-top:0.5em;
padding-bottom:0.5em;
}

.formulario .celda{
font-size:1.2em;
margin-top:1.2em;
padding-left:1.2em;
padding-top:0.5em;
padding-bottom:0.5em;
}

.legal{
font-size:1.1em;
}

.espacio_btn input{
font-size: 1.7em;
}

.text-content h1{
font-size:2.5em;
margin-top:0.8em;
}

.text-content h2{
font-size:1.4em;
margin-top:0.6em;
}
.list p{
font-size:0.9em;
}
.list2 p{
font-size:0.9em;
}
}

@media (max-width:1099px){
.formulario .discount{
font-size:1em;
margin-top:1em;
padding-left:1em;
}

.formulario .celda{
font-size:1em;
margin-top:1em;
padding-left:1em;
padding-top:0.4em;
padding-bottom:0.4em;
}

.legal{
font-size:1em;
}
}

@media (max-width:1044px){
.text-content h1{
font-size:2.3em;
margin-top:0.6em;
}

.text-content h2{
font-size:1.3em;
margin-top:0.5em;
}
.list p{
font-size:0.8em;
}
.list2 p{
font-size:0.8em;
}
}

@media (max-width:1024px){

.espacio_btn input{
font-size: 1.5em;
}
}

@media (max-width:967px){
.text-content h1{
font-size:2.2em;
margin-top:0.4em;
}

.text-content h2{
font-size:1.1em;
margin-top:0.4em;
}
}
@media (max-width:967px){
.list p{
font-size:0.7em;
}
.list2 p{
font-size:0.7em;
}
}

@media (max-width:925px){
.formulario .discount{
font-size:0.9em;
margin-top:0.9em;
padding-left:0.9em;
}

.formulario .celda{
font-size:0.9em;
margin-top:0.9em;
padding-left:0.9em;
}

.legal{
font-size:0.8em;
}
.espacio_btn input{
font-size: 1.3em;
}
}

@media (max-width:890px){
.text-content h1{
font-size:2.1em;
margin-top:0.4em;
}

.text-content h2{
font-size:1.2em;
margin-top:0.4em;
}
}

@media (max-width:830px){

section.formulario{
width:97%;
margin-left:0em;
margin-top:0em;
}
.skeleton{
width:99%;
}
.text-content h1{
width:85%;
font-size:2.1em;
margin-top:0.4em;
}

.text-content h2{
width:80%;
font-size:1.1em;
margin-top:0.4em;
}
.list{
margin-left:0em;
margin-top:0em;
width:99%;
}
.list2{
margin-left:0em;
margin-top:0em;
width:99%;
}
.list p{
width:90%;
margin:auto;
}
.list2 p{
width:90%;
margin:auto;
}
.icons1 img{
max-width:20%;
}
.icons2 img{
max-width:20%;
}
.text-content img{
display:none;
}
.text-content .mvl{
display:block;
}
}

@media (max-width:727px){
.icons1 p{
font-size:0.6em;
}
.icons2 p{
font-size:0.6em;
}
}
@media (max-width:637px){
.cabecera img{
width:22%;
}	
.information-b p{
font-size:0.8em;
}
}
@media (max-width:546px){
.icons1 p{
font-size:0.5em;
}
.icons2 p{
font-size:0.5em;
}
}

@media (max-width:516px){

.text-content h1{
width:80%;
font-size:1.7em;
margin-top:0.3em;
}

.text-content h2{
width:80%;
font-size:1em;
margin-top:0.3em;
}
.icons1 img{
max-width:25%;
}
.icons2 img{
max-width:25%;
}
}
@media (max-width:466px){

.text-content h1{
font-size:1.6em;
}

.text-content h2{
font-size:0.8em;
}
.list p{
width:92%;
margin:auto;
}
.list2 p{
width:92%;
margin:auto;
}
}
@media (max-width:421px){

.text-content h1{
font-size:1.5em;
}
.list p{
font-size:0.6em;
}
.list2 p{
font-size:0.6em;
}
}

@media (max-width:400px){
.formulario .discount{
font-size:0.8em;
margin-top:0.8em;
padding-left:0.8em;
padding-top:0.4em;
padding-bottom:0.4em;
}

.formulario .celda{
font-size:0.8em;
margin-top:0.8em;
padding-left:0.8em;
padding-top:0.4em;
padding-bottom:0.4em;
}

.text-content h1{
font-size:1.2em;
}

.text-content h2{
font-size:0.7em;
}
.icons1 p{
font-size:0.4em;
}
.icons2 p{
font-size:0.4em;
}
}