#pie_galletero{
display:block;
position:relative;
margin:0 auto;
max-width:990px;
width:auto;
height:auto;
padding:10px;
font-size:.8em;
color:#175E8D;
background:#B9DCF2;
}

.pie_galletero_left{
display:block;
float:left;
padding-left:2px;
width:80%;
}
#pie_galletero_right{
display:block;
float:left;
}


#cookie_info{
display:block;
cursor:pointer;
text-align:center;
line-height:30px;
font-size:.9em;
color:#175E8D;
}
#cookie_info:hover{
color:#0F3F63;
}
.cookieButton{
color:#eee;
background:#EB6F04;
font-size:12px;
font-family:Arial,Helvetica,sans-serif;
border:0;
padding:4px;
}
.cookieButton:hover{
color:#fff;
cursor:pointer;
}

#info_cook
{
display:block;
margin:0 auto;
width:auto;
max-width:990px;
margin-top:4px;
padding:40px;
font-size:.8em;
color:#175E8D;
background:#B9DCF2;
-webkit-font-smoothing:antialiased;
-webkit-box-shadow:inset 0 0 18.75em rgba(195,225,243,.9);
-moz-box-shadow:inset 0 0 18.75em rgba(195,225,243,.9);
box-shadow:inset 0 0 18.75em rgba(195,225,243,.9); 
}
#info_cook a{
color:#175E8D;
}
#info_cook a:hover{
color:#2A231E;
}
.ulCookies{
margin-left:-16px;
color:#175E8D;
}

#info_cook li p{
color:#175E8D;
}

#info_cook li{
list-style:disc;
color:#175E8D;
}

.closeCookiesPolicy a{
display:block;
position:relative;
top:-10px;
text-decoration:none !important;
font-size:200%;
font-weight:bold;
}
