@font-face{
font-family:"responsivenav";
font-style:normal;
font-weight:normal;
src:url("../fonts/responsivenav.eot?#iefix") format("embedded-opentype"), url("../fonts/responsivenav.ttf") format("truetype"), url("../fonts/responsivenav.woff") format("woff"), url("../fonts/responsivenav.svg#responsivenav") format("svg");
}

.js .nav-collapse{
clip:rect(0 0 0 0);
max-height:0;
position:absolute;
display:block;
overflow:hidden;
zoom:1;
}

.nav-collapse.opened{
max-height:9999px;
}

.nav-collapse{
	left:0;
	position:absolute;
	top:2em;
	width:24%;
}
.nav-collapse ul{
display:block;
margin:0;
padding:0;
list-style:outside none none;
width:100%;
}
.nav-collapse li{
display:block;
width:100%;
background-color:#c5c6c7;
}
.nav-collapse a{
font-family:Verdana,Arial,"HelveticaNeue";
border-bottom:1px solid rgba(0, 0, 0, 0.2);
border-top:1px solid rgba(255, 255, 255, 0.1);
box-sizing:border-box;
color:#fff;
display:block;
padding:0.6em 2em;
width:100%;
text-decoration:none;
}
.nav-collapse a:hover{
	background:none repeat scroll 0 0 rgba(255, 255, 255, 0.1);
}
.nav-collapse .active a{
	background:none repeat scroll 0 0 rgba(0, 0, 0, 0.3);
	color:#fff;
}
.nav-collapse li:first-child a{
	border-top:0 none;
}
.nav-collapse li:last-child a{
	border-bottom:0 none;
}
.nav-toggle{
	display:none;
}
@media screen and (max-width:40em){
.js .nav-collapse{
	clip:rect(0px, 0px, 0px, 0px);
	display:block;
	max-height:0;
	overflow:hidden;
	position:absolute;
}
.nav-collapse{
	position:relative;
	top:0;
	width:100%;
}
.nav-collapse.opened{
	max-height:9999px;
}
.nav-collapse a:hover{
	background:none repeat scroll 0 0 transparent;
}
.nav-collapse .active a:hover{
	background:none repeat scroll 0 0 rgba(0, 0, 0, 0.3);
	color:#fff;
}
.nav-toggle{
	-moz-user-select:none;
	display:block;
	/*float:right;*/
	height:30px;
	/*margin:0 -2em 1em 0;*/
	overflow:hidden;
	position:relative;
	text-decoration:none;
	text-indent:-999px;
	width:70px;
}
.nav-toggle::before{
	color:#019ED9;
	content:"≡";
	font-family:"responsivenav";
	font-size:28px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	left:0;
	line-height:30px;
	position:absolute;
	text-align:center;
	text-indent:0;
	text-transform:none;
	top:0;
	width:70%;
}
.nav-toggle.active::before{
	content:"x";
	font-size:24px;
}

@media not all, screen and (min--moz-device-pixel-ratio:1.3), not all, not all, screen and (min-resolution:192dpi), screen and (min-resolution:2dppx){
body{
	background-size:200px 200px;
}
}
@media screen and (min-width:76em){
.nav-collapse{
	width:18em;
}
}

@media screen and (min-width:40em){
.js .nav-collapse{
	position:relative;
}
.js .nav-collapse.closed{
	max-height:none;
}
.nav-toggle{
	display:none;
}
}
