@charset "UTF-8";

*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	}
	
img{
	width:99%;
	height:auto;
	}
	
@font-face{
	font-family: 'Conv_Lato-Light';
	src: url('../fonts/Lato-Light.eot');
	src: local('☺'), url('../fonts/Lato-Light.woff') format('woff'), url('../fonts/Lato-Light.ttf') format('truetype'), url('../fonts/Lato-Light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
	}
	
@font-face{
	font-family: 'Conv_Lato-Regular';
	src: url('../fonts/Lato-Regular.eot');
	src: local('☺'), url('../fonts/Lato-Regular.woff') format('woff'), url('../fonts/Lato-Regular.ttf') format('truetype'), url('../fonts/Lato-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
	}
	
@font-face{
	font-family: 'Conv_Lato-Bold';
	src: url('../fonts/Lato-Bold.eot');
	src: local('☺'), url('../fonts/Lato-Bold.woff') format('woff'), url('../fonts/Lato-Bold.ttf') format('truetype'), url('../fonts/Lato-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
	}
	
body{
	font-family: 'Conv_Lato-Regular';
	background-color:#FFFFFF;
	}
	
header{
	width:100%;
	border-top: 5px solid #c1272d;
	background-color:#342e27;
	}
	
.cabecera{
	width:99%;
	max-width:1200px;
	margin:auto;
	}
	
.cabecera img{
	max-width:245px;
	padding:0.4em 0;
	display:inline-block;
	vertical-align:middle;
	margin-left:0.6em;
	}
	
.cabecera h1{
	display:inline-block;
	vertical-align:middle;
	color:#FFFFFF;
	font-family: 'Conv_Lato-Light';
	font-weight:lighter;
	font-size:1.6em;
	margin-left:0.8em;
	}
	
.basic-content{
	width:100%;
	}
	
.small-content{
	width:99%;
	max-width:1200px;
	margin:auto;
	}
	
.skeleton{
	width:65%;
	display:inline-block;
	vertical-align:middle;
	margin-top:3em;
	}
	
section.formulario{
	width:25%;
	display:inline-block;
	text-align:center;
	vertical-align: middle;
	margin-left:1.5em;
	margin-top:3.5em;
	border:2px solid #c1272d;
	}
	
section.formulario p{
	margin:0.2em 0;
	font-size:1.15em;
	color:#342e27;
	font-weight:bold;
	line-height:23px;
	}
	
.offer{
	font-family: 'Conv_Lato-Bold';
	color:#c1272d;
	}
	
.cheap-text{
	font-family: 'Conv_Lato-Bold';
	color:#c1272d;
	font-size:1.12em;
	}

.information{
	font-size:1.1em;
	line-height:40px;
	}

section.formulario #ctcForm, section.formulario #enviarPorMailSolicitaInfo{
	background-color:#FFFFFF;
	width:100%;
	margin:.2em auto;
	text-align:center;
	padding:.4em 0;
	}
	
.formulario .celda{
	background-color:#FFF;
	font-size:.9em;
	display:block;
	width:82%;
	min-height:33px;
	margin:auto;
	margin-top:1.1em;
	color:#857f78;
	text-align:left;
	font-weight:200;
	border: 1px solid #c1272d;
	padding-left:3.1em;
	}
	
 .celda-servicio{
	width:82%;
	margin-top:1em;
	color:#424242;
	text-align:left;
	background-color:#FFF;
	font-size:.9em;
	min-height:33px;
	border: 1px solid #c1272d;
	-webkit-appearance: none;
    -webkit-border-radius: 0;
	border-radius:0;
	padding-left:3.1em;
	}
	
 .formulario select{
	color:#4d4c4c !important;
	font-family: 'Conv_Lato-Regular';
	}

.formulario .celda:focus{
	outline:0px;
	}

.legal{
	font-size:.8em;
	width:82%;
	text-align:left;
	color: #424242;
	margin:auto;
	padding-top:-0.5em;
	}
	
.legal input{
	vertical-align:middle;
	}
	
.legal a{
	color: #424242;
	}
	
.espacio_btn{
	width:90%;
	text-align:center;
	margin:.5em auto;
	}	
	
.espacio_btn input{
	cursor:pointer;
	width:90%;
	padding:0.3em 0;
	color: white;
	border: 0;
	font-size: 2.1em;
	margin:0.1em  auto -0.1em auto;
	background-color:#4f9e0e;
	font-family: 'Conv_Lato-Bold';
	-webkit-appearance: none;
    -webkit-border-radius: 0;
	border-radius:0;
	}

.espacio_btn input:hover{
	background-color:#93d65c;
	}
	
input[placeholder], [placeholder], *[placeholder]{
   color:#424242 !important;
   }
  
 ::-webkit-input-placeholder{
    color:#424242;
	}
	
*:-moz-placeholder{
   	color:#424242;
	}
	
*::-moz-placeholder{
   	color:#424242;
	}
	
*:-ms-input-placeholder{
    color:#424242;
	}

#nombre{
	background-image:url(../img/126/icons-form.png);
	background-repeat:no-repeat;
	background-position: 6px;
	}
	
#telefono{
	background-image:url(../img/126/icons-form-phone.png);
	background-repeat:no-repeat;
	background-position: 6px;
	}
	
#email{
	background-image:url(../img/126/icons-form-mail.png);
	background-repeat:no-repeat;
	background-position: 6px;
	}
	
#doc_type{
	background-image:url(../img/126/icons-form-product.png);
	background-repeat:no-repeat;
	background-position:6px;}
	
.text-content{
	width:99%;
	max-width:1200px;
	margin:auto;
	background-color:#f9f8f8;
	margin-top:3em;
	padding:1em;
	}
	
.text-content h1{
	color:#342e267;
	font-size:1.2em;
	}
	
.text-broker{
	color:#c1272d;
	font-family: 'Conv_Lato-Bold';
	}

.red{
	color:#c1272d;
	}
	
.box{
	text-align:center;
	margin-top:2em;
	}
	
.element{
	width:30%;
	display:inline-block;
	vertical-align:top;
	}
	
.element img{
	max-width:95px;
	}
	
.element h3{
	font-family: 'Conv_Lato-Bold';
	color:#c1272d;
	font-size:1.4em;
	}
	
.element p{
	color:#342e27;
	font-size:1.2em;
	}
	
.element2{
	width:30%;
	display:inline-block;
	vertical-align:top;
	margin:0 2em;
	}
	
.element2 img{
	max-width:95px;
	}
	
.element2 h3{
	font-family: 'Conv_Lato-Bold';
	color:#c1272d;
	font-size:1.4em;
	}
	
.element2 p{
	color:#342e27;
	font-size:1.2em;
	}
	
.element3{
	width:30%;
	display:inline-block;
	vertical-align:top;
	margin:0 1em;
	}
	
.element3 img{
	max-width:95px;
	}
	
.element3 h3{
	font-family: 'Conv_Lato-Bold';
	color:#c1272d;
	font-size:1.4em;
	}
	
.element3 p{
	color:#342e27;
	font-size:1.2em;
	}
	
footer{
	width:100%;
	height:40px;
	background-color:#c1272d;
	margin-top:7em;
	}
	
@media (max-width: 1100px){

section.formulario{
	width:28%;
	}
	
.element2{
	margin: 0 0.5em;
	}
	}
	
@media (max-width: 950px){

section.formulario{
	width:33%;
	margin-left:0em;
	}
	}
	
@media (max-width: 800px){

section.formulario{
	width:99%;
	margin-top:0;
	}
	
.skeleton{
	width:100%;
	}
	
.skeleton img{
	width:100%;
	}
	
.text-content h1{
	text-align:center;
	}
	
.element{
	width:95%;
	}
	
.element2{
	width:95%;
	margin:1em 0;
	}
	
.element3{
	width:95%;
	}
	}

@media (max-width: 710px){

.cabecera img{
	width:20%;
	}
	
.cabecera h1{
	font-size:1.2em;
	}
	}
	
@media (max-width: 450px){

.cabecera img{
	width:23%;
	}
	
.cabecera h1{
	font-size:1em;
	}
	}
	
@media (max-width: 350px){

.cabecera img{
	width:23%;
	}
	
.cabecera h1{
	font-size:0.8em;
	}
	}

