@charset "UTF-8";

*{
	padding:0;
	margin:0;
	box-sizing:border-box;
	}
	
img{
	width:100%;
	height:auto;
	}
	
body{
	background-color:#FFFFFF;
	}
	
header{
	width:100%;
	background-color:#342e27;
	border-top:6px solid #c1272d;
	}
	
.cabecera{
	width:99%;
	max-width:1150px;
	margin:auto;
	}
	
.cabecera img{
	max-width:200px;
	padding:0.2em 0;
	}
	
.basic-content{
	width:99%;
	max-width:1199px;
	margin:auto;
	}
	
footer{
	width:100%;
	background-color:#c1272d;
	height:40px;
	margin-top:3em;
	}
	