#pie_galletero{
max-width:950px;
margin:1em auto .5em auto;
width:100%;
color: #949494;
background: #e5e5e5;
font-family:Arial, Helvetica, sans-serif;
text-align:center;
}

#pie_galletero a{
color:#949494;
}

#pie_galletero a:visited{
color:#949494;
}	

#pie_galletero_left{
width:75%;
vertical-align:middle;
display:inline-block;
margin:.5em;
font-size:.8em;
text-align:center;
}

#pie_galletero_right{
text-align:right;
width:20%;
vertical-align:middle;
display:inline-block;
margin:.5em;
}

#pie_galletero_right input{
margin:.3em;
padding:.1em 0;
cursor:pointer;
}

#info_cook {
font-family:Arial, Helvetica, sans-serif;
max-width:950px;
width:100%;
display: block;
margin: 0 auto;
text-align: left;
font-size: .7em;
color: #949494;
background: #e5e5e5;
}

.texto_cook{
width:96%;
margin:0 auto;}	



.closeCookiesPolicy{
display:block;
}

.closeCookiesPolicy a{
color:#666;
text-decoration:none;
font-size:15px;
margin:.5em;
font-weight:bold;
min-height:30px;
}



ffooter{font-family:'Verdana',Arial;font-size:.6em;max-width:1000px;margin:1em auto;color:#4b358b;width:98%}#pie_galletero{max-width:950px;margin:1em auto .5em auto;width:100%;color:#949494;background:#e5e5e5;font-family:Arial,Helvetica,sans-serif}#pie_galletero a{color:#949494}#pie_galletero a:visited{color:#949494}#pie_galletero_left{width:auto;vertical-align:middle;display:inline-block;margin:.5em;font-size:.8em;text-align:left}#pie_galletero_right{text-align:right;width:20%;vertical-align:middle;display:inline-block;margin:.5em}#pie_galletero_right input{margin:.3em;padding:.1em 0;cursor:pointer}#info_cook{font-family:Arial,Helvetica,sans-serif;max-width:950px;width:100%;display:block;margin:0 auto;text-align:left;font-size:.7em;color:#949494;background:#e5e5e5}.texto_cook{width:96%!important;margin:0 auto}.closeCookiesPolicy{text-align:right}.closeCookiesPolicy a{color:#666;text-decoration:none;font-size:15px;margin:.5em;font-weight:bold}