<div id="ajaxChatContent">
	<script src="[AJAX_CHAT_URL/]js/chat.min.js" type="text/javascript" charset="UTF-8"></script>
	<script src="[AJAX_CHAT_URL/]js/custom.js" type="text/javascript" charset="UTF-8"></script>
	<script src="[AJAX_CHAT_URL/]js/shoutbox.js" type="text/javascript" charset="UTF-8"></script>
	<script src="[AJAX_CHAT_URL/]js/lang/[LANG_CODE/].js" type="text/javascript" charset="UTF-8"></script>
	<script src="[AJAX_CHAT_URL/]js/config.js" type="text/javascript" charset="UTF-8"></script>
	<script src="[AJAX_CHAT_URL/]js/FABridge.js" type="text/javascript" charset="UTF-8"></script>
	<div id="ajaxChatChatList"></div>
	<div id="ajaxChatInputFieldContainer" class="[CLASS_WRITEABLE/]">
		<input id="ajaxChatInputField" type="text" maxlength="[MESSAGE_TEXT_MAX_LENGTH/]" onkeypress="ajaxChat.handleInputFieldKeyPress(event);"/>
	</div>
	<script type="text/javascript">
		// <![CDATA[
			ajaxChatConfig.ajaxURL = '[AJAX_CHAT_URL/]?ajax=true&shoutbox=true';
			ajaxChatConfig.baseURL = '[AJAX_CHAT_URL/]';
	
			ajaxChatConfig.sessionName = '[SESSION_NAME/]';
			ajaxChatConfig.cookieExpiration = parseInt('[COOKIE_EXPIRATION/]');
			ajaxChatConfig.cookiePath = '[COOKIE_PATH/]';
			ajaxChatConfig.cookieDomain = '[COOKIE_DOMAIN/]';
			ajaxChatConfig.cookieSecure = '[COOKIE_SECURE/]';
			ajaxChatConfig.chatBotName = decodeURIComponent('[CHAT_BOT_NAME/]');
			ajaxChatConfig.chatBotID = '[CHAT_BOT_ID/]';
			ajaxChatConfig.allowUserMessageDelete = parseInt('[ALLOW_USER_MESSAGE_DELETE/]');
			ajaxChatConfig.inactiveTimeout = parseInt('[INACTIVE_TIMEOUT/]');
			ajaxChatConfig.privateChannelDiff = parseInt('[PRIVATE_CHANNEL_DIFF/]');
			ajaxChatConfig.privateMessageDiff = parseInt('[PRIVATE_MESSAGE_DIFF/]');
			ajaxChatConfig.showChannelMessages = false;
			ajaxChatConfig.messageTextMaxLength = parseInt('[MESSAGE_TEXT_MAX_LENGTH/]');
			ajaxChatConfig.socketServerEnabled = parseInt('[SOCKET_SERVER_ENABLED/]');
			ajaxChatConfig.socketServerHost = decodeURIComponent('[SOCKET_SERVER_HOST/]');
			ajaxChatConfig.socketServerPort = parseInt('[SOCKET_SERVER_PORT/]');
			ajaxChatConfig.socketServerChatID = parseInt('[SOCKET_SERVER_CHAT_ID/]');
	
			ajaxChatConfig.domIDs['chatList'] = 'ajaxChatChatList';
			ajaxChatConfig.domIDs['inputField'] = 'ajaxChatInputField';
			ajaxChatConfig.domIDs['flashInterfaceContainer'] = 'ajaxChatFlashInterfaceContainer';

			ajaxChatConfig.startChatOnLoad = false;

			ajaxChatConfig.settings.autoFocus = false;
			ajaxChatConfig.settings.wordWrap = true;
			ajaxChatConfig.settings.maxWordLength = 11;
			ajaxChatConfig.settings.blink = false;
			ajaxChatConfig.nonPersistentSettings.push('autoFocus','wordWrap','maxWordLength','blink');
			
			ajaxChat.init(ajaxChatConfig, ajaxChatLang, true, false, true);
		// ]]>
	</script>
	<!--
		Please retain the full copyright notice below including the link to blueimp.net.
		This not only gives respect to the amount of time given freely by the developer
		but also helps build interest, traffic and use of AJAX Chat.
		
		Thanks,
		Sebastian Tschan
	<div id="ajaxChatCopyright"><a href="https://blueimp.net/ajax/">AJAX Chat</a> &copy; <a href="https://blueimp.net">blueimp.net</a></div>
	//-->
</div>

<div id="ajaxChatFlashInterfaceContainer"></div>
