*{
	padding:0;
	margin:0;
	}
	
img{
	width: 100%;
	}
	
@font-face {
    font-family: 'Century';
    src:url(GOTHIC.ttf);
	}

body{
    font-family: 'Century';
	background-color: #21272c;
	background-repeat: no-repeat;
	background-image: url(../img/fondo.png);
	background-position: center center;
	background-size: cover;
	background-position: center center;

	}

	
/*HEADER*/
	
header{
	width:100%;
	}
	
header .cabecera{
	width:99%;
	margin:0 auto;
	max-width:900px;
	padding:.2em 0;
	text-align:right;
	}
	
header .cabecera img#logo{
	width:427px;
	}
	
	
/*CONTENIDO*/

h1{
	font-size:2em;
	letter-spacing:2px;
	max-width:900px;
	margin:.2em auto .7em auto;
	color:#ffffff;
	width:99%;
	text-align:center;
	
	}

section.contenido{
	width:99%;
	max-width:900px;
	margin:0em auto;
	background-color:#454545;
	}
	
section.foto{
	width:62%;
	display:inline-block;
	vertical-align:middle;
}
		
section.foto .mvl{
	display:none;
}	

section.foto .web{
	display:block;
}	
		
section.formulario{
	width:37%;
	display:inline-block;
	text-align:center;
	vertical-align:middle;
	background-color:#e7b501;
	}
	
	
section.formulario  .tick{
	font-size:2.2em;
	max-width:230px;
	margin-bottom:.3em;
	color:#454545;
	margin:0 auto;
	}
section.formulario .tick img{
	width:25px;
	display:inline-block;
	vertical-align:middle;
	}
	
section.formulario form{
	width:95%;
	margin:0 auto;
	padding-top:.6em;
	}
	
	
section.formulario form p.dejanos, p.prefieres{
	font-size:1.2em;
	margin:.5em auto;
	width:100%;
	max-width:340px;
	color:#454545;
	
	}
section.formulario form p.dejanos{
	font-size:1em;
	margin-bottom:1.5em;
	color:#454545;
	
	}
section.formulario form .fila p{
	text-align:left;
	}
			
.formulario .celda{
	background-color:#FFF;
	font-size:.9em;
	display:block;
	width:99%;
	min-height:40px;
	margin:.5em auto;
	border:0;
	color:#868585;
	text-align:left;
	font-family: 'Gotham';
	font-weight:200;
}

.legal{
	font-size:.7em;
	font-family:Arial, Helvetica, sans-serif;
	width:99%;
	margin:0 auto;
	text-align:left;
	color:#454545;
	}
	
.legal input{
	vertical-align:top;
	}
	
.legal a{
	color:#00335b;
	}
	
.espacio_btn{
	width:99%;
	text-align:center;
	margin:1em auto;
	}	
	
.espacio_btn input{
	cursor:pointer;
	width:80%;
	padding:.5em 0;
	color: #FFF;
	font-size: 1.6em;
	margin:.4em auto;
	border:0;
	
	background: -webkit-gradient(linear, left top, right top, from(#40a615), to(#067b36));
	background: -webkit-linear-gradient(top, #40a615, #067b36);
	background: -moz-linear-gradient(top, #40a615, #067b36);
	background: -o-linear-gradient(top, #40a615, #067b36);
	background: -ms-linear-gradient(top, #40a615, #067b36);
	background: linear-gradient(top, #40a615, #067b36);
	background-color: #40a615;
	-webkit-box-shadow: 3px 3px 3px #555555;
	-moz-box-shadow: 3px 3px 3px #555555;
	box-shadow: 3px 3px 3px #555555;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

}


/*TEXTO*/

section.contenido_texto{
	max-width:950px;
	margin:2em auto;
	text-align:center;
	}
	
	
section.contenido_texto img{
	margin-top:1em;
	width:95%;
	max-width:650px;
	
	}
	
	
	
	

/*PIE*/
	
	
footer{
	background-color:#21272c;
	width:100%;
	padding:.5em 0;
	}
	
footer div{
	max-width:1000px;
	margin:0 auto;
	text-align:center;
	font-size:.8em;
	color:#CCC;
	}
	
	
/*COOKIES*/	
		
#pie_galletero{
	max-width:950px;
	margin:1em auto .5em auto;
	width:100%;
	color: #ffffff;
	background: #454545;
	font-family:Arial, Helvetica, sans-serif;
	}
		
#pie_galletero a{
	color:#454545;
	}
		
#pie_galletero a:visited{
	color:#454545;
	}	

#pie_galletero_left{
	width:75%;
	vertical-align:middle;
	display:inline-block;
	margin:.5em;
	font-size:.8em;
	text-align:center;
	}

#pie_galletero_right{
	text-align:right;
	width:20%;
	vertical-align:middle;
	display:inline-block;
	margin:.5em;
	}
	
#pie_galletero_right input{
	margin:.3em;
	padding:.1em 0;
	cursor:pointer;
	}
	
#info_cook {
	font-family:Arial, Helvetica, sans-serif;
	max-width:950px;
	width:100%;
	display: block;
	margin: 0 auto;
	text-align: left;
	font-size: .7em;
	color: #ffffff;
	background: #454545;
	}
	
.texto_cook{
	width:96%;
	margin:0 auto;}	
	
	
.closeCookiesPolicy{
	text-align:right;
	}
	
.closeCookiesPolicy a{
	color:#000000;
	text-decoration:none;
	font-size:15px;
	margin:.5em;
	font-weight:bold;
	}
	
@media (max-width: 900px) {
	section.formulario .tick{
	font-size:1.4em;
	}
	
	section.formulario .tick img{
	width:20px;
	}
	
		
	section.formulario form  .celda {
	min-height: 35px;
	}
	
	section.formulario form  p {
		font-size:1em;
	
	}
	
	section.formulario form p.dejanos {
		font-size:.8em;
		margin-bottom:1em;
	
	}
	
	

@media (max-width: 720px) {

  body {
    background-image: url(../img/fondo_mvl.png);
  }
	
	section.contenido{
		padding:0;
	}

	section.formulario, section.foto {
		display:block;
		width:99%;
		margin:0 auto;
		max-width:700px;
		
	}
	
	section.foto .mvl{
		display:block;
	}
		
	section.foto .web{
		display:none;
	}
		
	header .cabecera img#logo{
		width:200px;
	}
	
	section.formulario .tick {
	
	max-width: 600px;
	}
	section.formulario form p.dejanos, p.prefieres {
	
	max-width: 600px;
	}
	
	#pie_galletero_left{
		width:98%;
		display:block;
	}

	#pie_galletero_right{
		text-align:center;
		margin:auto;
		width:98%;
		display:block;
	}
	
	h1{
	font-size:1.5em;
	color:#ffffff;
	text-align:center;
	
	}
}


@media (max-width:480px) {
	h1{
	font-size:.8em;
	color:#ffffff;
	text-align:center;
	
	}	


}

