.ia-container {
	width: 99%;
	margin:auto;
	overflow: hidden;
}

.ia-container figure {
    position: absolute;
	top: 0;
	left: 105px; /* width of visible piece */
	width: 460px;
    box-shadow: 0 0 0 1px rgba(255,255,255,0.6);
	-webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.ia-container > figure {
    position: relative;
	left: 0 !important;
}

.ia-container img {
	display: block;
	width: 100%;
	height:auto;
}

.ia-container input {
	position: absolute;
	top: 0;
	left: 0;
	width: 100px; /* just cover visible part */
	height: 100%;
	cursor: pointer;
	border: 0;
	padding: 0;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
	z-index: 100;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.ia-container input:checked{
	width: 5px;
	left: auto;
	right: 0px;
}
.ia-container input:checked ~ figure {
	-webkit-transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    -ms-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
	left: 460px;
}

.ia-container input:checked ~ figure input{
    z-index: 1;
}

@media screen and (max-width: 1200px) {
    .ia-container { 
		width: 600px; 
	}
	
	.ia-container figure { 
		left: 110px; 
		width: 260px; 
	}
	
	.ia-container input { 
		width: 110px; 
	}
	
	.ia-container input:checked ~ figure { 
		left: 260px; 
	}
	
}

@media screen and (max-width: 615px) {
    .ia-container { 
		width: 420px; 
	}
	
	.ia-container figure { 
		left: 80px; 
		width: 180px; 
	}
	
	.ia-container input { 
		width: 80px; 
	}
	
	.ia-container input:checked ~ figure { 
		left: 180px; 
	} 

}

@media screen and (max-width: 440px) {
    .ia-container { 
		width: 320px; 
	}
	
	.ia-container figure { 
		left: 45px; 
		width: 180px; 
	}
	
	.ia-container input { 
		width: 45px; 
	}
	
	.ia-container input:checked ~ figure { 
		left: 180px; 
	} 

}

@media screen and (max-width: 350px) {
    .ia-container { 
		width: 250px; 
	}
	
	.ia-container figure { 
		left: 45px; 
		width: 180px; 
	}
	
	.ia-container input { 
		width: 45px; 
	}
	
	.ia-container input:checked ~ figure { 
		left: 180px; 
	} 

}