@charset "UTF-8";

*{
padding:0;
margin:0;
box-sizing:border-box;
}

img{
width: 99%;
height:auto;
}

@font-face {
font-family: 'homeserve_rounded_boldbold';
src: url('../fonts/homeserve_rounded_bold-webfont.eot');
src: url('../fonts/homeserve_rounded_bold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/homeserve_rounded_bold-webfont.woff2') format('woff2'),
		 url('../fonts/homeserve_rounded_bold-webfont.woff') format('woff'),
		 url('../fonts/homeserve_rounded_bold-webfont.ttf') format('truetype'),
		 url('../fonts/homeserve_rounded_bold-webfont.svg#homeserve_rounded_boldbold') format('svg');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'homeserve_roundedthin';
src: url('../fonts/homeserve_rounded_thin-webfont.eot');
src: url('../fonts/homeserve_rounded_thin-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/homeserve_rounded_thin-webfont.woff2') format('woff2'),
		 url('../fonts/homeserve_rounded_thin-webfont.woff') format('woff'),
		 url('../fonts/homeserve_rounded_thin-webfont.ttf') format('truetype'),
		 url('../fonts/homeserve_rounded_thin-webfont.svg#homeserve_roundedthin') format('svg');
font-weight: normal;
font-style: normal;
}

body{
font-family:'homeserve_roundedthin',Arial;
background-color:#FFFFFF;
}

header{
width:100%;
background-color:#d8032b;
height:80px;
border-bottom:15px solid #f1f0f0;
}

.cabecera{
width:99%;
max-width:1000px;
margin:auto;
}

.cabecera figure{
max-width:190px;
float:left;
}

.cabecera h1{
float:right;
font-size:0.9em;
color:#FFFFFF;
line-height:45px;
}

.basic-content{
width:100%;
margin-bottom:2em;
}

.small-content{
width:99%;
max-width:1200px;
margin:2em auto;
}

.skeleton{
width:65%;
height:300px;
display:inline-block;
vertical-align:top;
margin-bottom:1em;

}

section.formulario{
width:30%;
display:inline-block;
text-align:center;
vertical-align:top;
margin-left:3em;
margin-top:-0.2em;
}

section.formulario p{
font-size:1em;
color:#000000;
margin-bottom:2em;
}

.titlle-form{
font-size:1.4em;
font-family: 'homeserve_rounded_boldbold';
color:#d8032b;
}

section.formulario p span{
font-family: 'homeserve_rounded_boldbold';
}

section.formulario .celda-name{
font-size:0.7em;
margin-bottom:-1.9em;
text-align:left;
margin-left:2.7em;
color:#000000;
}

section.formulario #ctcForm, section.formulario #enviarPorMailSolicitaInfo{
background-color:#e9e9e9;
width:100%;
margin:.2em auto;
text-align:center;
padding:.4em 0;
}

.formulario .celda{
width:35%;
float:left;
vertical-align:middle;
margin-top:1em;
color:#857f78;
text-align:left;
background-color:#FFF;
font-size:.9em;
margin-right:1em;
margin-left:2em;
min-height:25px;
margin-bottom:0.6em;
border:0;
}

.formulario .celda-servicio{
width:80%;
margin-top:1em;
color:#857f78;
text-align:left;
background-color:#FFF;
font-size:.9em;
min-height:25px;
margin-bottom:0.6em;
border:0;
-webkit-appearance: none;
	-webkit-border-radius: 0;
border-radius:0;
}

.formulario .fleft{
margin-top:.5em;
}

.formulario .celda-area{
width:80%;
margin-top:1.5em;
color:#857f78;
text-align:left;
background-color:#FFF;
font-size:.9em;
min-height:55px;
resize:none;
border:0;
}

.legal{
clear:both;
font-size:.6em;
width:80%;
text-align:left;
color: #000000;
margin:0.5em auto;
}

.legal input{
vertical-align:top;
}

.legal a{
color:#d8032b;
}

.espacio_btn{
width:90%;
text-align:center;
margin:.5em auto;
}	

.espacio_btn input{
font-family: 'homeserve_rounded_boldbold';
cursor:pointer;
width:90%;
padding:.8em;
color: white;
border: 0;
font-size: 1.3em;
margin:1.2em auto;
background-color:#d8032b;
-webkit-box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.6);
-moz-box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.6);
box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.6);
-webkit-appearance: none;
	-webkit-border-radius: 0;
border-radius:0;
}

.text-content{
width:100%;
}

.icons{
width:99%;
max-width:1000px;
margin:auto;
margin-bottom:1em;
}
.icon-mobile{
display:none;
}

.service-big{
width:100%;
background-color:#575757;
}

.service-small{
width:99%;
max-width:1000px;
margin:auto;
}

.adress{
max-width:640px;
}

.legal-big{
margin-top:-1em;
width:100%;
background-color:#626262;
}

.legal-small{
width:99%;
max-width:1000px;
margin:auto;
}

.legal-small p{
color:#FFFFFF;
font-size:0.8em;
padding:2em;
}

@media (max-width:1215px){

section.formulario{
	margin-left:0.3em;
	}
	}

@media (max-width:985px){

section.formulario{
	width:34%;
	margin-left:0.1em;
	}
	}

@media (max-width:930px){

.skeleton{
	width:99%;
	}

section.formulario{
	width:99%;
	}
.formulario .celda{
	width:86.80%;
	clear:both;
	margin-top:1.6em;
	}

.formulario .fleft{
	margin-top:-0.4em;
	}

section.formulario .celda-name{
	clear:both;
	}

.formulario .celda-servicio{
	margin-top:1.8em;
	}
	}

@media (max-width:600px){
section.formulario{
	margin-top:-5em;
	}
.icon-web{
	display:none;
	}
.icon-mobile{
	display:block;
	}
}

@media (max-width:420px){	
.cabecera h1{
	font-size:0.6em;
	line-height:55px;
	}
}
