@charset "UTF-8";

*{
	margin:0;
	padding:0;
	}

img{
	width:100%;
	height:auto;
	}
	
body{
	background-color:#ffffff;
	}
	
@font-face{
	font-family: 'Conv_Helvetica';
	src: url('../fonts/Helvetica.eot');
	src: local('☺'), url('../fonts/Helvetica.woff') format('woff'), url('../fonts/Helvetica.ttf') format('truetype'), url('../fonts/Helvetica.svg') format('svg');
	font-weight: normal;
	font-style: normal;
	}
	
.contenido{
	max-width:763px;
	margin:auto;
	}
	
.image-content{
	max-width:765px;
	display:block;
	border:0;
	padding-bottom:0.2em;
	}

