@charset "UTF-8";

*{
	padding:0;
	margin:0;
	box-sizing:border-box;
	}
	
img{
	width:99%;
	height:auto;
	}
	
body{
	background-color:#464545;
	font-family:Arial;
	}
	
.basic-content{
	width:100%;
	}
	
.small-content{
	width:99%;
	max-width:1100px;
	margin:auto;
	}
	
.skeleton{
	width:95%;
	text-align:center;
	margin-top:2em;
	}
	
.constructor1{
	max-width:600px;
	}
	
.skeleton h1{
	color:#e8a627;
	font-weight:bold;
	font-size:3.5em;
	margin-top:0.4em;
	}
	
.skeleton h2{
	color:#FFFFFF;
	font-weight:lighter;
	font-size:2.06em;
	margin:0.1em 0;
	}
	
.skeleton p{
	color:#FFFFFF;
	font-weight:lighter;
	font-size:2.9em;
	}
	
.constructor2{
	max-width:190px;
	margin-top:2em;
	}
	
@media (max-width:775px){

.skeleton h1{
	font-size:2.5em;
	}
	
.skeleton h2{
	font-size:1.5em;
	}
	
.skeleton p{
	font-size:2.4em;
	}
	}
	
@media (max-width:400px){

.skeleton h1{
	font-size:2em;
	}
	
.skeleton h2{
	font-size:1em;
	}
	
.skeleton p{
	font-size:1.7em;
	}
	}
	
