@charset "UTF-8";


*{
    padding: 0;
    margin: 0;
	}
	
img{
    width: 100%;
	height:auto;
	}
	
@font-face{
    font-family: 'Verdana';
    src: url(../fonts/Verdana.ttf);
	}

@font-face{
    font-family: 'BarclaycardCo';
    src: url(../fonts/BarclaycardCo_Lt.ttf);
	}
	
body{
    font-family: 'BarclaycardCo', Arial;
    background-color:#fcfcfc;
	}

header{
    width:100%;
	-webkit-box-shadow:10px 10px 10px rgba(0, 0, 0, 0.4);
	-moz-box-shadow:10px 10px 10px rgba(0, 0, 0, 0.4);
	box-shadow:10px 10px 10px rgba(0, 0, 0, 0.4);
	position:absolute;
	z-index:3000;
	background-color:#ffffff;
	}

.fafica{
	width:100%;
	height:8px;
	background-color:#075daa;
	}
	
.cabecera{
    width:99%;
    margin:auto;
    max-width:1000px;
	}
	
.logoN, .logoB{
    width:49%;
    display:inline-block;
    vertical-align:middle;
	}
	
.logoB{
    text-align:left;
	margin:0em 0;
	}
	
.logoN{
    text-align:right;
	}
	
.logoB img{
	width:99%;
    text-align:left;
    max-width:263px;
	}
	
.logoN img{
	width:99%;
    text-align:right;
    max-width:200px;
	}

.basic_content{
	background-color:#f2f2f2;
	}

section.photo{
    width:100%;
    display:block;
    max-width:1000px;
    margin:0 auto;
    text-align:center;
	padding-top:4.4em;
	margin-bottom:-0.25em;
	}
	
section.photo img{
    max-width:1100px;
	width:100%;
    }
	
section.formulario{
    width:100%;
    display:block;
    background-color:#FFFFFF;
    padding: .5em 0;
	border-top:#0098d4 3px solid;
	border-bottom:#0098d4 3px solid;
	margin-top:0.2em;
	}
	
form{
    max-width:1000px;
    margin:0 auto;
    text-align:center;
    width:100%
	}
	
.form_bloque{
    width:24%;
    margin: .1em;
    display:inline-block;
    vertical-align:top;
	}

form p{
    text-align:left;
    margin: .2em;
    color:#00a0e7;
    font-size:1.2em;
	}
	
.formulario .celda{
    padding-left: .3em;
    width:97%;
    background-color:#FFF;
    font-size: .9em;
    display:block;
    min-height:35px;
    margin: .4em auto;
    color:#868585;
    text-align:left;
    font-weight:200;
    font-family: 'BarclaycardCo', Arial;
   	border:1px solid #b1b1b1;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	-webkit-box-sizing:content-box;
	-moz-box-sizing:content-box;
	box-sizing:content-box;
	}
	
.formulario form select.tipo_doc{
    height:37px;
    padding-left: .3em;
    width:99%;
    background-color:#FFF;
    font-size: .9em;
    display:block;
    min-height:35px;
    color:#868585;
    text-align:left;
    font-weight:200;
    font-family: 'BarclaycardCo', Arial;
  	border:1px solid #b1b1b1;
    -webkit-appearance:none;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	-webkit-box-sizing:content-box;
	-moz-box-sizing:content-box;
	box-sizing:content-box;
	}
	
.legal{
    font-size: .7em;
    font-family: Arial, Helvetica, sans-serif;
    width:99%;
 	margin-top:0.8em;
    text-align:left;
    color:#363636;
    min-height:27px;
	}
	
.legal input{
    vertical-align:top;
	}
	
.legal a{
    color:#363636;
	}
	
.espacio_btn{
    width:98%;
    text-align:center;
	}
	
.espacio_btn input{
    cursor:pointer;
    color:white;
    border:0;
    font-size:1.4em;
    background-color:#085da9;
    font-family: 'BarclaycardCo', Arial;
    width:98%;
    display:block;
    min-height:35px;
   	margin-top:0.2em;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	-webkit-box-sizing:content-box;
	-moz-box-sizing:content-box;
	box-sizing:content-box;
	padding:0.2em 0;
	}
	
.text_content{
    width:100%;
	background-color:#f1f1f1;
    }
	
.content-prin{
	width:90%;
	max-width:980px;
	margin:auto;
	}
	
section.text_content h1{
	padding-top:1em;
	color:#5224a0;
	font-size:1.6em; 
	}

.box1{
	width:30%;
	display:inline-block;
	vertical-align:middle;
	margin-top:1.5em;
	font-size:1em;
	color:#444444;
	margin-left:1.6em;
	}

.box1 figure{
	width:99%;
	max-width:107px;
	margin:auto;
	margin-bottom:1.5em;
	text-align:center;
	}
	
.box1 p{
	margin-bottom:2.7em;
	}
	

.box2{
	width:30%;
	display:inline-block;
	vertical-align:middle;
	margin-top:1.5em;
	font-size:1em;
	color:#444444;
	margin-left:1.6em;
	text-align:center;
	}

.box2 figure{
	width:99%;
	max-width:107px;
	margin:auto;
	margin-bottom:1.5em;
	}
	
.box2 p{
	margin-bottom:4.9em;
	}

.box3{
	width:30%;
	display:inline-block;
	vertical-align:middle;
	margin-top:1.5em;
	font-size:1em;
	color:#444444;
	margin-left:1.6em;
	}

.box3 figure{
	width:99%;
	max-width:107px;
	margin:auto;
	margin-bottom:1.5em;
	text-align:center;
	}
	
.box3 p{
	margin-bottom:3.9em;
	}
	
.text_content h2{
	font-size:0.9em;
	color:#444444;
	margin-top:3em;
	padding-bottom:2em;
	}

footer{
	width:100%;
    background-color:#fcfcfc;
	}
	
footer p{
    width:90%;
    font-family:'verdada', Arial;
    max-width:980px;
    margin:auto;
    font-size:.77em;
    color:#444;
    padding:2em 0;
	}
	
.legal-bank{
	color:#00a1e4;
	width:90%;
	font-family:'verdada', Arial;
    max-width:980px;
    margin:3em auto 0 auto;
	font-size:.77em;
	border: 1px solid #00a1e4;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	padding:1em;
	}
	
#pie_galletero{
    max-width:950px;
    margin:1em auto .5em auto;
    width:100%;
    color:#444444;
    background:#e5e5e5;
    font-family:Arial, Helvetica, sans-serif;
	}
	
#pie_galletero a{
    color:#949494;
	}
	
#pie_galletero a:visited{
    color:#949494;
	}
	
#pie_galletero_left{
    width:auto;
    vertical-align:middle;
    display:inline-block;
    margin: .5em;
    font-size: .8em;
    text-align:left;
	}
	
#pie_galletero_right{
    text-align:right;
    width:20%;
    vertical-align:middle;
    display:inline-block;
    margin: .5em;
	}
	
#pie_galletero_right input{
    margin: .3em;
    padding: .1em 0;
    cursor:pointer;
	}
	
#info_cook{
    font-family:Arial, Helvetica, sans-serif;
    max-width:950px;
    width:100%;
    display:block;
    margin: 0 auto;
    text-align:left;
    font-size: .7em;
    color:#949494;
    background:#e5e5e5;
	}
	
.texto_cook{
    width:96%;
    margin:0 auto;
	}
	
.closeCookiesPolicy{
    text-align:right;
	}
	
.closeCookiesPolicy a{
    color:#666;
    text-decoration:none;
    font-size:15px;
    margin: .5em;
    font-weight:bold;
	}
	
@media(max-width:1030px){

.box1 p{
	margin-bottom:1.6em;
	}
	}
	
@media(max-width:880px){
	
.form_bloque{
    width:49%;
    margin: .1em auto;
    display:inline-block;
	}
	}
	
@media(max-width:960px){
	
.box1{
	width:90%;
	text-align:center;
	}
		
.box2{
	width:90%;
	text-align:center;
	}
	
.box3{
	width:90%;
	text-align:center;
	}
	
section.text_content h1{
	text-align:center;
	}
	
.text_content h2{
	text-align:center;
	width:99%;
	font-size:1em;
	}
		
.box1 p{
	margin-bottom:3.9em;
	}
	
.box2 p{
	margin-bottom:3.9em;
	}
	}

@media(max-width:600px){
	
.form_bloque{
    width:98%;
    margin: .1em auto;
    display:block;
	}
	
section.text_content div{
    width:98%;
    display:block;
    font-size: .9em;
    margin:0em auto;
	}
	
.formulario form select.tipo_doc {
    width:98.1%
	}
	
.legal{
    min-height:15px;
	}
	}

@media(max-width:550px){

section.photo{
	padding-top:4em;
	}
	}
	
@media(max-width:450px){

section.photo{
	padding-top:3.5em;
	}
	}
	
@media(max-width:350px){

section.photo{
	padding-top:5em;
	}
	}
	
@media(max-width:200px){
	
.logoN img{
	width:20%;	
	}
	}
