*{
	padding:0;margin:0
}

img{
    width: 100%;
}

@font-face {
    font-family: 'Verdana';
    src:url(../fonts/Verdana.ttf);
}
@font-face {
    font-family: 'BarclaycardCo';
    src:url(../fonts/BarclaycardCo_Lt.ttf);
}
body{
	font-family:'BarclaycardCo',Arial;
	background-color:#FFF;
	}
	
header{
	width:100%
	}
	
header .cabecera{
	width:100%;
	margin:.5em auto;
	max-width:1000px;
	}
	
header .logoN, header .logoB{
	width:49%;display:inline-block;vertical-align:middle; 
	}
	
header .logoB{text-align:left; }
header .logoN{text-align:right;  }
header .logoB img{text-align:left; max-width:240px;}
header .logoN img{text-align:right;  max-width:200px;}


	
section.foto{
	width:100%;
	display:block;
	max-width:1000px;
	margin:0 auto;
	text-align:center;
	}
	
section.foto img{
	max-width:600px;
	margin:1em auto;
	}
	
		
section.formulario{
	width:100%;
	display:block;
	background-color:#efefef;
	padding:.5em 0;
	}
	
form{
	max-width:1000px;
	margin:0 auto;
	text-align:center;
	width:100%;
}
	
.form_bloque{
	width:24%;
	margin:.1em;
	display:inline-block;
	vertical-align:top;
}

form p{
	text-align: left;
    margin: .5em;
    color: #1d88c9;
    font-size: 1.2em;}

.formulario .celda{
	padding-left:.3em;
	width:97%;
	background-color:#FFF;
	font-size:.9em;
	display:block;
	min-height:35px;
	margin:.4em auto;
	color:#868585;
	text-align:left;
	font-weight:200;
	font-family:'BarclaycardCo',Arial;background-color:#FFF;
	border:1px solid #b1b1b1;
}

.formulario  form select.tipo_doc{
	height:37px;
	padding-left:.3em;
	width:99%;
	background-color:#FFF;
	font-size:.9em;
	display:block;
	min-height:35px;
	color:#868585;
	text-align:left;
	font-weight:200;
	font-family:'BarclaycardCo',Arial;background-color:#FFF;
	border:1px solid #b1b1b1;
	border-radius: 0px;
  -webkit-appearance: none;
}

	
	
	
.legal{
	font-size:.7em;
	font-family:Arial,Helvetica,sans-serif;
	width:99%;
	margin:.2em auto;
	text-align:left;
	color:#363636;
	min-height:35px;
}
	
.legal input{
		vertical-align:top
}
		
.legal a{
	color:#363636;
}

.espacio_btn{
	width:98%;
	text-align:center;
}
.espacio_btn input{
	cursor:pointer;
	color:white;
	border:0;
	font-size:1.5em;
	background:-webkit-gradient(linear,left top,right top,from(#7fb94f),to(#4e9436));
	background:-webkit-linear-gradient(top,#7fb94f,#4e9436);
	background:-moz-linear-gradient(top,#7fb94f,#4e9436);
	background:-o-linear-gradient(top,#7fb94f,#4e9436);
	background:-ms-linear-gradient(top,#7fb94f,#4e9436);
	background:linear-gradient(top,#7fb94f,#4e9436);
	background-color:#7fb94f;
	font-family:'BarclaycardCo',Arial;
	width:98%;
	display:block;
	min-height:37px;
	margin:.5em auto .2em auto;
	}
	
	
section.contenido_texto{
	width:98%;
	background-color:#FFF;
	text-align:left;
	margin:1.5em auto;
	max-width:1000px;
	color:#1ba3e8;
	}

section.contenido_texto h1{
	color:#1ba3e8;
}

section.contenido_texto div{
	width:48%;
	display:inline-block;
	font-size:.9em;
	margin-top:.7em;
	line-height:20.5px;
}
	
.img_tabla{
	margin:2em auto;
	width:98%;
	max-width:800px;
}

footer{font-family:'Verdana',Arial;font-size:.6em;max-width:1000px;margin:1em auto;color:#4b358b;width:98%}#pie_galletero{max-width:950px;margin:1em auto .5em auto;width:100%;color:#949494;background:#e5e5e5;font-family:Arial,Helvetica,sans-serif}#pie_galletero a{color:#949494}#pie_galletero a:visited{color:#949494}#pie_galletero_left{width:auto;vertical-align:middle;display:inline-block;margin:.5em;font-size:.8em;text-align:left}#pie_galletero_right{text-align:right;width:20%;vertical-align:middle;display:inline-block;margin:.5em}#pie_galletero_right input{margin:.3em;padding:.1em 0;cursor:pointer}#info_cook{font-family:Arial,Helvetica,sans-serif;max-width:950px;width:100%;display:block;margin:0 auto;text-align:left;font-size:.7em;color:#949494;background:#e5e5e5}.texto_cook{width:96%;margin:0 auto}.closeCookiesPolicy{text-align:right}.closeCookiesPolicy a{color:#666;text-decoration:none;font-size:15px;margin:.5em;font-weight:bold}

@media(max-width:880px){
	.form_bloque{
	width:49%;
	margin:.1em auto;
	display:inline-block;
	}
}

@media(max-width:600px){
	.form_bloque{
	width:98%;
	margin:.1em auto;
	display:block;
	}

	section.contenido_texto div{
		width:98%;
		display:block;
		font-size:.9em;
		margin:.7em auto;
		}

	.formulario  form select.tipo_doc{
		width:98.1%;
	}

	.legal {
			min-height: 15px;
	}
}