*{
    padding:0;
    margin:0;
}

img{
    width: 100%;
}

@font-face {
    font-family: 'Verdana';
    src:url(../fonts/Verdana.ttf);
}
@font-face {
    font-family: 'BarclaycardCo';
    src:url(../fonts/BarclaycardCo_Lt.ttf);
}
body{font-family:'BarclaycardCo',Arial;background-color:#FFF}
header{width:100%}
header .cabecera{width:99%;margin:.5em auto;max-width:950px;text-align:center}
header .logoN, header .logoB{width:49%;display:inline-block;vertical-align:middle}
header .logoB img{max-width:230px}
header .logoB{text-align:left}
header .logoN{text-align:right}

header .logoN img{max-width:140px}
section.contenido{width:99%;max-width:950px;margin:1em auto;text-align:center}
section.foto{width:70%;display:inline-block;vertical-align:bottom;text-align:left}
section.foto .img_tarjeta{width:100%}
section.foto h1{
	    margin-bottom: .5em;
    color: #009fe3;
	font-size:1.3em;}
section.formulario{width:28%;display:inline-block;text-align:center;vertical-align:bottom}
section.formulario p{margin:.4em 0;font-size:1.4em;color:#FFF;font-weight:bold}
section.formulario #ctcForm,section.formulario #enviarPorMailSolicitaInfo{background-color:#00a1e4;width:100%;margin:.2em auto;text-align:center;padding:.4em 0}section.formulario #ctcForm input{width:55%;display:inline-block;vertical-align:middle;min-height:40px;background-color:#FFF}
section.formulario #ctcForm input:last-child{font-size:1.1em;cursor:pointer;width:30%;color:white;border:0;background:-webkit-gradient(linear,left top,right top,from(#7fb94f),to(#4e9436));background:-webkit-linear-gradient(top,#7fb94f,#4e9436);background:-moz-linear-gradient(top,#7fb94f,#4e9436);background:-o-linear-gradient(top,#7fb94f,#4e9436);background:-ms-linear-gradient(top,#7fb94f,#4e9436);background:linear-gradient(top,#7fb94f,#4e9436);background-color:#7fb94f;-webkit-border-radius:25px;-moz-border-radius:25px;border-radius:25px;font-family:'BarclaycardCo',Arial}
.formulario .celda{
	padding-left:.3em;background-color:#FFF;font-size:.9em;display:block;width:89%;min-height:40px;margin:.6em auto;border:0;color:#868585;text-align:left;font-weight:200}
	
.legal{font-size:.7em;font-family:Arial,Helvetica,sans-serif;width:90%;margin:0 auto;text-align:left;color:#FFF}.legal input{vertical-align:top}.legal a{color:#FFF}.espacio_btn{width:90%;text-align:center;margin:.5em auto}
.espacio_btn input{cursor:pointer;width:75%;padding:.1em 0;color:white;border:0;font-size:2em;margin:.4em auto;background:-webkit-gradient(linear,left top,right top,from(#7fb94f),to(#4e9436));background:-webkit-linear-gradient(top,#7fb94f,#4e9436);background:-moz-linear-gradient(top,#7fb94f,#4e9436);background:-o-linear-gradient(top,#7fb94f,#4e9436);background:-ms-linear-gradient(top,#7fb94f,#4e9436);background:linear-gradient(top,#7fb94f,#4e9436);background-color:#7fb94f;-webkit-border-radius:25px;-moz-border-radius:25px;border-radius:25px;font-family:'BarclaycardCo',Arial}

section.contenido_texto{
	width:100%;
	background-color:#FFF;
	text-align:left}
	
.texto_ventajas{
	margin-top:2em;
	width:100%;font-size:.9em;color:#4b358b}
	
.texto_ventajas h2{
	margin-bottom:.7em;color:#009fe3}
	
.texto_ventajas .azulito{
	color:#009fe3}

.texto_ventajas .tarjeta, texto_ventajas .texto{
	display:inline-block;
	vertical-align:top;
	margin-bottom:2em;
	
	}

.texto_ventajas .tarjeta{
	max-width:233px;
	width:31%;}
	
.texto_ventajas .texto{
	width: 67%;
	margin-left: 1em;
	display: inline-block;
	}
	
.texto_ventajas .texto .texto_left, .texto_ventajas .texto .texto_right{
	display:inline-block;
	width:46%;
	vertical-align:top;
	margin:.5em;}
	

footer{font-family:'Verdana',Arial;font-size:.6em;max-width:950px;margin:1em auto;color:#4b358b;width:98%}#pie_galletero{max-width:950px;margin:1em auto .5em auto;width:100%;color:#949494;background:#e5e5e5;font-family:Arial,Helvetica,sans-serif}#pie_galletero a{color:#949494}#pie_galletero a:visited{color:#949494}#pie_galletero_left{width:auto;vertical-align:middle;display:inline-block;margin:.5em;font-size:.8em;text-align:left}#pie_galletero_right{text-align:right;width:20%;vertical-align:middle;display:inline-block;margin:.5em}#pie_galletero_right input{margin:.3em;padding:.1em 0;cursor:pointer}#info_cook{font-family:Arial,Helvetica,sans-serif;max-width:950px;width:100%;display:block;margin:0 auto;text-align:left;font-size:.7em;color:#949494;background:#e5e5e5}.texto_cook{width:96%;margin:0 auto}.closeCookiesPolicy{text-align:right}.closeCookiesPolicy a{color:#666;text-decoration:none;font-size:15px;margin:.5em;font-weight:bold}

@media(max-width:950px){section.formulario{vertical-align:middle;}section.foto{vertical-align:middle;}}
@media(max-width:780px){section.foto{width:95%;display:block;margin:0 auto}section.formulario{width:95%;display:block;margin:0 auto}section.formulario #enviarPorMailSolicitaInfo{display:none}section.formulario #ctcForm{margin-top:1em;padding-bottom:1em}.img_tabla{display:none}header .logoB img{width:85%}header .logoN img{width:60%}

.texto_ventajas .tarjeta, texto_ventajas .texto{
	display:block;
	width:98%;
	margin:0 auto;
	
	
	}
.texto_ventajas {
    margin-top: .5em;
    
}
	
.texto_ventajas .texto{
	width:90%;
	margin-left:5%;
	margin-bottom:10%;
}
	
.texto_ventajas .texto .texto_left, .texto_ventajas .texto .texto_right{
	display:block;
	margin:0 auto;
	width:99%;
	}
}

.tic {
	width: 2%;
	vertical-align: middle;
	margin-right: 0.5em;
	display: inline-block;
}
.espacio-texto{
	margin-left: 1.4em;
}
.espacio-textos{
	margin-left: 1.4em;
}
.landing .contenido .contenido_texto .texto_ventajas .texto ul li {
	list-style-image:url(../img/068/tick.png)!important;;
}
