@charset "UTF-8";

*{
	padding:0;
	margin:0;
	box-sizing:border-box;
	}

	
img{
	width: 99%;
	height:auto;
	}

@font-face{
	font-family:'BarclaycardCo';
	src:url(../fonts/BarclaycardCo_Lt.ttf) format('truetype');
	}

body{
    font-family: 'BarclaycardCo',Arial;
	background-color:#FFF;
	margin:0;
	padding:0;
	}
	
.basic_content{
	width:100%;
	}
	
.skeleton{
	width:100%;
	}

.mobile{
	display:none;
	}
	
.image-fondo{
	display:block;
	width:100%;
	}
	
section.formulario{
	width:100%;
	display:block;
	background-color:#efefef;
	padding:.5em 0;
	}
	
form{
	max-width:1000px;
	margin:0 auto;
	text-align:center;
	width:100%;
	}
	
.form_bloque{
	width:24%;
	margin:.1em;
	display:inline-block;
	vertical-align:top;
	}

form p{
	text-align: left;
    margin: .5em;
    color: #00a0e7;
    font-size: 1.2em;
	}

.formulario .celda{
	padding-left:.3em;
	width:97%;
	background-color:#FFF;
	font-size:.9em;
	display:block;
	min-height:35px;
	margin:.4em auto;
	color:#868585;
	text-align:left;
	font-weight:200;
	font-family:'BarclaycardCo',Arial;
	border:1px solid #b1b1b1;
	}

.formulario  form select.tipo_doc{
	padding-left:.3em;
	height:37px;
	width:97%;
	background-color:#FFF;
	font-size:.9em;
	display:block;
	min-height:35px;
	color:#868585;
	text-align:left;
	font-weight:200;
	font-family:'BarclaycardCo',Arial;
	border:1px solid #b1b1b1;
	border-radius: 0px;
   -webkit-appearance: none;
 	}
	
.legal{
	font-size:.7em;
	font-family:Arial,Helvetica,sans-serif;
	width:99%;
	margin:.5em auto;
	text-align:left;
	color:#363636;
	min-height:35px;
	}
	
.legal input{
	vertical-align:top
	}
		
.legal a{
	color:#363636;
	}

.espacio_btn{
	width:98%;
	text-align:center;
	}
	
.espacio_btn input{
	cursor:pointer;
	color:white;
	border:0;
	font-size:1.5em;
	background-color:#085da9;
	font-family:'BarclaycardCo',Arial;
	width:98%;
	display:block;
	min-height:45px;
	margin:-.4em auto 0em auto;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	}
	
/*Bloque texto Start*/
	
.text-content{
	width:99%;
	max-width:1000px;
	margin:auto;
	}
	
.content-all{
	width:80%;
	max-width:800px;
	margin:auto;
	}
	
.text-content h1{
	font-size:2.2em;
	color:#5224a0;
	padding-top:1em;
	font-weight:300;
	}
	
.text-content h2{
	font-size:1.7em;
	color:#3f1962;
	margin-top:1em;
	font-weight:100;
	}

.icons{
	margin-top:3em;
	display:inline-block;
	}

.picture-text{
	width:30%;
	font-size:1em;
	display:inline-block;
	vertical-align:top;
	}
	
.image-icon{
	max-width:87px;
	width:99%;
	margin:auto;
	padding-bottom:0.7em;
	}

.image-icon2{
	max-width:87px;
	width:99%;
	margin:auto;
	padding-bottom:0.7em;
	padding-top:2em;
	}

.picture-text p{
	width:80%;
	margin:auto;
	color:#444444;
	}

.pop{
	text-decoration:none;
	color:#0094cc;
	}

.legal-foot{
	margin-top:5em;
	font-size:0.7em;
	font-family:"Verdana", sans-serif;
	margin-bottom:5em;
	}

@media(max-width:960px){
	
.espacio_btn input{
	font-size:1.3em;
	}
	}

@media(max-width:880px){
	
.form_bloque{
	width:49%;
	margin:.1em auto;
	display:inline-block;
	}
}

footer{font-family:'Verdana',Arial;font-size:.6em;max-width:1000px;margin:1em auto;color:#4b358b;width:98%}#pie_galletero{max-width:950px;margin:1em auto .5em auto;width:100%;color:#949494;background:#e5e5e5;font-family:Arial,Helvetica,sans-serif}#pie_galletero a{color:#949494}#pie_galletero a:visited{color:#949494}#pie_galletero_left{width:auto;vertical-align:middle;display:inline-block;margin:.5em;font-size:.8em;text-align:left}#pie_galletero_right{text-align:right;width:20%;vertical-align:middle;display:inline-block;margin:.5em}#pie_galletero_right input{margin:.3em;padding:.1em 0;cursor:pointer}#info_cook{font-family:Arial,Helvetica,sans-serif;max-width:950px;width:100%;display:block;margin:0 auto;text-align:left;font-size:.7em;color:#949494;background:#e5e5e5}.texto_cook{width:96%;margin:0 auto}.closeCookiesPolicy{text-align:right}.closeCookiesPolicy a{color:#666;text-decoration:none;font-size:15px;margin:.5em;font-weight:bold}

@media(max-width:800px){

.mobile{
	display:block;
	width:100%;
	}
	
.image-fondo{
	display:none;
	}
	}
	
@media(max-width:700px){
	
.text-content h1{
	font-size:1.8em;
	text-align:center;
	}

.text-content h2{
	font-size:1.4em;
	text-align:center;
	}
	
.picture-text{
	width:95%;
	}
	
.picture-text p{
	width:99%;
	text-align:center;
	}
	}

@media(max-width:600px){
	
.form_bloque{
	width:98%;
	margin:.1em auto;
	display:block;
	}
}