@charset "utf-8";
/* CSS Document */
body{
font-family:Arial, Helvetica, sans-serif;
margin: 0;
padding: 0;
margin:0 auto;
background:url(../img/blurred2.jpg) no-repeat center fixed;
background-size:cover;
}
.contenido{
margin:0 auto;
width:950px;
background-color:#f1f1f1;
}
.f_dia{
text-align:right;
}
.cabecera{
background-image:url(../img/img_cabecera_sin900_1.jpg);
height:666px;
background-repeat: no-repeat;
}

.linea_morada{
background-color:#68217a;
height:3px;
margin-bottom:20px;}



@font-face{
font-family:caviart;
src:url(../fonts/Caviarbold.ttf) format('truetype');
}

img {
width:100%;
}

section.contenido{
width:100%;
background-color:#FFF;
}

section.grupo{
max-width:1000px;
padding:.5em;
padding-bottom:1em;
margin:1em auto;
text-align:center;
}

header{
text-align:left;
margin:0;
}

.cabecera1{
max-width:100%;
margin:0;
text-align:center;
}

.cabecera2{
max-width:303px;
display:none;
}

.texto{
font-family:'caviart',Arial;
color:#441466;
font-size:1.2em;
margin:.5em 0 .5em 1em;
text-align:left;
}
.fotos{
max-width:740px;
width:69%;
display:inline-block;
vertical-align:top;
text-align:center;
}
.fotos a {
max-width:240px;
max-height:180px;
width:32%;
margin:0;
padding:0;
display:inline-block;
position:relative;
text-decoration:none;
}

.fotos a:hover img {
opacity:1;
}

.selectetable{
opacity:1;
border:1px solid #fff;
}

.selectetable:hover{
}

.fotos a:hover h3{
/*display:block;*/
}

.h3_selected{
/*display:block;*/
}

.fotos a:hover h3{
display:block;
background:#333 repeat-x 0 0;
}

h3{
display:none;
color:#FFF;
font-family:'Montserrat',sans-serif;
position:absolute;
font-size:1.4em;
width:100%;
padding-top:2%;
top:30%;
height:22%;
text-align:center;
opacity:.8;
}

.formulario{
max-width:230px;
padding:0 1em;
width:30%;
min-height:510px;
background-color:#036;
display:inline-block;
vertical-align:top;
font-family:'caviart',Arial;
background-color:#ecbbd0;
color:#441466;
font-size:.9em;
}
.formulario h1{
text-align:center;
font-size:1.3em;
}
.formulario .celda,#dia_fech, #mes_fech, #ano_fech{
display:block;
width:90%;
min-height:22px;
border:1px solid #441466;
border-radius:.5em;
}
#dia_fech, #mes_fech, #ano_fech{
display:inline-block;
width:30%;
}
.fila, #capa_fecha, #fecha_nombre, .cookiesEnable{
margin-bottom:10px;
text-align:left;
}

.legal{
font-size:.7em;
font-family:Arial, Helvetica, sans-serif;
text-align:left;
}

button,.formulario input[type=button]{
width:70%;
min-height:50px;
color:white;
border:0;
font-size:1.3em;
border-radius:3px;
margin-top:1em;
background:#581e72;
}
#btnProcesar{cursor:pointer;}
footer{
color:#FFF;
max-width:920px;
margin:0 auto;
padding:.4em;
font-size:.7em;
font-family:Arial, Helvetica, sans-serif;}

@media (max-width:880px) {
.fotos{
width:64%;}
.formulario{
width:36%;
}
}
@media (max-width:760px) {
.fotos{
width:60%;}
.formulario{
width:40%;
}
}
@media (max-width:690px) {
.fotos{
width:90%;
margin-bottom:1em;}
.formulario{
width:70%;
}
.texto{
font-size:1em;}
section.grupo{
padding:.2em;
}
h3{
font-size:1em;}
}

@media (max-width:400px)
{
.cabecera1{
display:none;
}
.cabecera2{
display:block;
}
h3{
font-size:.8em;
}
button {
font-size:1.1em;
}
}

.pie{
margin-top:40px;
height:40px;
width:700px;
font-size:11px;
color:#09F;
margin:auto;
text-align:center;
padding-bottom:10px;
}

.clearfix:after{
content: ".";
display: block;
clear: both;
visibility: hidden;
line-height: 0;
height: 0;
}

.clearfix{
display: inline-block;
}

html[xmlns] .clearfix{
display: block;
}

* html .clearfix{
height: 1%;
}

a .modalCloseImg{
width:25%!important;
height:25%!important;
}

.close_image{
width:90px;
height:22px;
}
.modalPop{
display:block;
min-height:150px;
min-width:200px;
height:450px;
width:650px;
}
.elemSelected{
border:1px solid #fff;
opacity:1;
}

.txtVisible{
display:block;
color:#FFF;
display:block;
background:#333 repeat-x 0 0;
opacity:.9;
}

.txtReset{
display:none;
color:#FFF;
opacity:.9;
}

.loading{
width:32px;
}

#dialog-content img{width:30px;}  /* por compatibilidad com MODAL + MOBILE CSS*/

.modal-buttons{text-align:center;}