
*{
	padding:0;
	margin:0;}

img {
	width: 100%;
}
@font-face {
	font-family: 'Segoe';
	src:url(../fonts/SegoeRg_0.ttf) format('truetype');
}

@font-face {
	font-family: 'SegoeBlack';
	src:url(../fonts/SegoeBlk_0.ttf) format('truetype');
}


body{
font-family: 'Segoe';
background-image:url(../img/047/lightpaperfibers.png);
background-repeat:repeat;
}

/*HEADER*/
header{
	background-color:#FFF;
	width:100%;
}
	
header .cabecera{
	width:99%;
	margin:0 auto;
	max-width:1000px;
}
	
	

/*CONTENIDO*/

section.contenido{
	width:99%;
	max-width:1000px;
	padding:1em 0;
	margin:0em auto;
	background:url(../img/047/fondo.jpg);
	background-position:center;
	background-size:cover;
	font-family: 'Segoe';
}
	
section.foto{
	width:60%;
	display:inline-block;
	vertical-align:bottom;
}
		
section.foto .mvl{
	display:none;
}	

section.foto .web{
	display:block;
}	
		
section.formulario{
	font-family: 'Segoe';
	width:30%;
	display:inline-block;
	vertical-align:bottom;
	text-align:center;
	background-color: rgba(58, 193, 218, 0.7);
	margin-left: 5em;
}
	
section.formulario p{
	margin:.4em 0;
	font-size:1.3em;
	color:#FFF;
}


	
/*.formulario .celda{
	padding-left:.3em;
	background-color:#FFF;
	font-size:.9em;
	display:block;
	width:89%;
	min-height:40px;
	margin:.6em auto;
	border:0;
	color:#868585;
	text-align:left;
	font-weight:200;
}
*/
.formulario .celda, .formulario select{
padding-left:.3em;
background-color:#FFF;
font-size:.9em;
display:block;
width:89%;
min-height:36px;
margin:.5em auto;
border:0;
color:#868585;
text-align:left;
font-weight:200;
}
.formulario select{
width:29%;
display:inline-block;
}
section.formulario .fecha_nacimiento p{
margin:0;
font-size:1em;
}

.legal{
	font-size:.7em;
	font-family:Arial, Helvetica, sans-serif;
	width:90%;
	margin:0 auto;
	text-align:left;
	color:#FFF;
}
	
.legal input{
	vertical-align:top;
}
	
.legal a{
	color:#FFF;
}
	
.espacio_btn{
	width:90%;
	text-align:center;
	margin:.5em auto;
}	
	
.espacio_btn input{
	cursor:pointer;
	width:99%;
	padding:.1em 0;
	color: white;
	border: 0;
	font-size: 3em;
	margin:.3em auto;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: -webkit-gradient(linear, left top, right top, from(#ff9500), to(#ff6c00));
	background: -webkit-linear-gradient(top, #ff9500, #ff6c00);
	background: -moz-linear-gradient(top, #ff9500, #ff6c00);
	background: -o-linear-gradient(top, #ff9500, #ff6c00);
	background: -ms-linear-gradient(top, #ff9500, #ff6c00);
	background: linear-gradient(top, #ff9500, #ff6c00);
	background-color: #ff9500;
}


/*TEXTO*/

section.contenido_texto{
	width:100%;
	background-color:#FFF;
}
	
section.contenido_texto .texto{
	margin:0 auto;
	max-width:1000px;
	width:99%;
	font-size:1.2em;
	padding:1em 0;
	color:#555555;
	text-align:center;
}
	
section.contenido_texto .texto li{
	display:inline-block;
	width:32%;
	margin-top:1em;
}

section.contenido_texto .texto li img{
	max-width:20px;
}
	
section.contenido_texto .texto .letra_pequena{
	text-align:left;
	font-size:.8em;
	color:#999;
	margin-top:1em;
}
	
	
/*PIE*/
	
	
footer{
	background-color:#3ac1da;
	width:100%;
	height:25px;
}

	
/*COOKIES*/	
		
#pie_galletero{
	max-width:950px;
	margin:1em auto .5em auto;
	width:100%;
	color: #949494;
	background: #e5e5e5;
	font-family:Arial, Helvetica, sans-serif;
	}
		
#pie_galletero a{
	color:#949494;
	}
		
#pie_galletero a:visited{
	color:#949494;
	}	

#pie_galletero_left{
	width:75%;
	vertical-align:middle;
	display:inline-block;
	margin:.5em;
	font-size:.8em;
	text-align:center;
	}

#pie_galletero_right{
	text-align:right;
	width:20%;
	vertical-align:middle;
	display:inline-block;
	margin:.5em;
	}
	
#pie_galletero_right input{
	margin:.3em;
	padding:.1em 0;
	cursor:pointer;
	}
	
#info_cook {
	font-family:Arial, Helvetica, sans-serif;
	max-width:950px;
	width:100%;
	display: block;
	margin: 0 auto;
	text-align: left;
	font-size: .7em;
	color: #949494;
	background: #e5e5e5;
	}
	
.texto_cook{
	width:96%;
	margin:0 auto;}	
	
	
.closeCookiesPolicy{
	text-align:right;
	}
	
.closeCookiesPolicy a{
	color:#666;
	text-decoration:none;
	font-size:15px;
	margin:.5em;
	font-weight:bold;
	}

.modalBottomCookies{
	background-color: rgba(255,255,255,0.6);
	width:100%;
	z-index:1000;
	bottom:0px;
	position:fixed;
}
.modalBottomCookies .innerCookiesModal{
	border-top:1px solid #fff;padding:28px 0;
}
.modalBottomCookies .contentModalBottomCookies{
	max-width:930px;
	margin:0 auto;
	padding:7px 17px 7px 17px;
	vertical-align:middle;
	text-align:justify;
	background-color:#f1f1f1;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	-webkit-box-shadow:inset 0 0 2px 0 rgba(0,0,0,0.2);
	box-shadow:inset 0 0 2px 0 rgba(0,0,0,0.2);
	border:2px solid #999;
	outline:1px solid #fff;
	position:relative;
}
.modalBottomCookies .contentModalBottomCookies p{
	font:normal 11px/16px Arial,Helvetica,sans-serif;
	color:#333;text-shadow:0 1px 0 #fff;margin:0;
	}
.modalBottomCookies .contentModalBottomCookies p strong{
	background:url(img/047/icoInfoCookiesBottom.png) 0 3px no-repeat;
	display:block;
	padding-left:19px;
	margin-bottom:3px;
	line-height:19px;
	font-weight:bold;
	}
.modalBottomCookies .contentModalBottomCookies p a{font-weight:bold;color:#0097c8;}
.modalBottomCookies .contentModalBottomCookies a.closeModalBottomCookies{float:right;text-decoration:none;font-size:14px;color:#333;text-align:right;right:0px;}
.modalBottomCookies .contentModalBottomCookies a.closeModalBottomCookies:hover{color:#000;}

	
@media (max-width:920px) {
	
	
section.foto{
	width:59%;
}
		
		
section.formulario{
	width:39%;
	margin-left: 0em;

}
section.formulario p{
	margin:0;
	font-size:1.5em;
	}



}

@media (max-width:710px) {
	
	
section.foto{
	width:99%;
	display:block;
	margin:0 auto;
}
header{
	display:none;}
		
		
section.formulario{
	width:99%;
	display:block;
	margin:.5em auto 0 auto;
	
}
section.formulario form{
	max-width:420px;
	width:98%;
	margin:0 auto;
	
}
section.formulario img{
	display:none;
}
section.contenido{
	width:98%;
	background:none;
	padding:0;

	}

section.foto .mvl{
	display:block;
}	

section.foto .web{
	display:none;
}	

section.contenido_texto .texto{
	width:92%;
	text-align:left;
	font-size:.9em;
	}
section.contenido_texto .texto li{
	width:100%;
	
	display:block;
	}
.espacio_btn input{
	font-size: 2.5em;
}


}



/*COOKIES*/	
#pie_galletero{
	max-width:900px;
	margin:.5em auto;
	width:100%;
	color: #e15b04;
	
	}	
#pie_galletero a{
	
	color:#e15b04;}	

#pie_galletero_left{
	width:75%;
	vertical-align:middle;
	display:inline-block;
	margin:.5em;
	font-size:.8em;
	text-align:center;
	}

#pie_galletero_right{
	text-align:right;
	width:20%;
	vertical-align:middle;
	display:inline-block;
	/*margin:.5em;*/
}
#pie_galletero_right input{
	margin:.3em;
	padding:.1em;
}
	
#info_cook {
	max-width:900px;
	width:95%;
	display: block;
	margin: 0 auto;
	margin-top: 4px;
	text-align: left;
	font-size: .7em;
	color: #e15b04;
	background: #fbe2d1;
	padding:1em;
	}
#info_cook p, #info_cook ul{
	margin-left:1em
	}




