img{
width:100%;}

section.contenedor{
max-width:700px;
width:100%;
margin:1em auto 0 auto;
}

section.foto{
width:100%;
max-height:312px;
}

section.foto img:last-child{
display:none;
}

section.pie{
padding:.5em 0;
width:100%;
margin:0 auto;
background-color:#0077ce;
text-align:right;

}
section.pie img{
width:262px;
height:37px;
}

@media (max-width: 480px){
section.contenedor{
max-width:480px;
width:100%;
margin:1em auto 0 auto;
}
section.pie img{
width:220px;
height:31px;
}

section.foto{
width:100%;
max-height:459px;
}

section.foto img:last-child{
display:block;
}
section.foto img:first-child{
display:none;
}

}