@charset "UTF-8";

*{
	padding:0;
	margin:0;
	box-sizing:border-box;
	}

img{
	width:99%;
	height:auto;
	}

@font-face{
	font-family: 'Conv_Helvetica-Light';
	src: url('../fonts/Helvetica-Light.eot');
	src: local('☺'), url('../fonts/Helvetica-Light.woff') format('woff'), url('../fonts/Helvetica-Light.ttf') format('truetype'), url('../fonts/Helvetica-Light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
	}
	
@font-face{
	font-family: 'Conv_Helvetica-regular';
	src: url('../fonts/Helvetica-regular.eot');
	src: local('☺'), url('../fonts/Helvetica-regular.woff') format('woff'), url('../fonts/Helvetica-regular.ttf') format('truetype'), url('../fonts/Helvetica-regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
	}
	
@font-face{
	font-family: 'Conv_Helvetica-Bold';
	src: url('../fonts/Helvetica-Bold.eot');
	src: local('☺'), url('../fonts/Helvetica-Bold.woff') format('woff'), url('../fonts/Helvetica-Bold.ttf') format('truetype'), url('../fonts/Helvetica-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
	}

body{
	font-family:'Conv_Helvetica-regular';
	background-color:#FFFFFF;
	}

.basic-content{
	width:100%;
	}

.small-content{
	width:99%;
	max-width:1150px;
	margin:auto;
	}

.skeleton{
	width:100%;
	}

.text-content{
	width:99%;
	max-width: 1150px;
	margin:auto;
	}

.text-content h1{
	font-size:1.3em;
	margin-top:1em;
	margin-bottom:2em;
	}

.text-content h1 span{
	font-size: 1.38em;
	font-family: 'Conv_Helvetica-Bold';
	color:#da211f;
	}

/*Producto espacio normal*/

.products{
	width:22%;
	display:inline-block;
	vertical-align:top;
	}

.products h1{
	font-size:1.1em;
	margin: 0.9em 0;
	}

.products p{
	font-size: 0.9em;
	margin-bottom: 0.7em;
	}

.buton{
	background-color:#000000;
	color:#FFFFFF;
	padding:0.4em 0;
	font-size:1.5em;
	text-align:center;
	font-family: 'Conv_Helvetica-Light';
	margin-top:1.7em;
	}

.products a{
	color:#FFFFFF;
	text-decoration:none;
	}

.products2 a{
	color:#FFFFFF;
	text-decoration:none;
	}

.products3 a{
	color:#FFFFFF;
	text-decoration:none;
	}

.products4 a{
	color:#FFFFFF;
	text-decoration:none;
	}

/*Producto2*/

.products2{
	width:22%;
	display:inline-block;
	vertical-align:top;
	margin-left:2.5em;
	margin-right:2.5em;
	}

.products2 h1{
	font-size:1.1em;
	margin: 0.9em 0;
	}

.products2 p{
	font-size: 0.9em;
	margin-bottom: 0.5em;
	}

.buton2{
	background-color:#000000;
	color:#FFFFFF;
	padding:0.4em 0;
	font-size:1.5em;
	text-align:center;
	font-family: 'Conv_Helvetica-Light';
	margin-top:2.24em;
	}

/*Producto3*/

.products3{
	width:22%;
	display:inline-block;
	vertical-align:top;
	margin-right:2.5em;
	}

.products3 h1{
	font-size:1.1em;
	margin: 0.9em 0;
	}

.products3 p{
	font-size: 0.9em;
	margin-bottom: 0.5em;
	}


.buton3{
	background-color:#000000;
	color:#FFFFFF;
	padding:0.4em 0;
	font-size:1.5em;
	text-align:center;
	font-family: 'Conv_Helvetica-Light';
	margin-top:2.3em;
	}

.buton4{
	background-color:#000000;
	color:#FFFFFF;
	padding:0.4em 0;
	font-size:1.5em;
	text-align:center;
	font-family: 'Conv_Helvetica-Light';
	margin-top:2.5em;
	}

.legal{
	margin:3em 0;
	color:#000000;
	font-size:0.9em;
	}

.legal a{
	color:#000000;
	}

footer{
	width:100%;
	border-top:1px solid #000000;	
	}

.logos{
	width:99%;
	max-width:1000px;
	margin:auto;
	}

.gourmentun{
	width:22%;
	display:inline-block;
	vertical-align:middle;
	}

.hommet{
	width:22%;
	display:inline-block;
	vertical-align:middle;
	margin:0 3em;
	}

.zeng{
	width:17%;
	display:inline-block;
	vertical-align:middle;
	margin-right:3em;
	}

.fenish{
	width:17%;
	display:inline-block;
	vertical-align:middle;
	margin:1em 0;
	}


@media (max-width:1160px){
	
.text-content{
	width:90%;
	}
	
.text-content h1{
	font-size:1.8em;
	}

.buton3{
	margin-top: 1.6em;
	}
	
.products{
	width: 40%;
	text-align: center;
	}
	
.products h1{
	text-align:left;
	font-size:1.1em;
	}
	
.products p{
	text-align: left;
	}
	
.products img{
	max-width: 255px;
	}
	
.buton{
	margin-top:1.9em;
	margin-bottom:3em;
	}
	
.buton2{
	margin-top:1.5em;
	}
	
.buton3{
	margin-top:1.4em;
	}
	
.products2{
	width: 40%;
	text-align: center;
	margin-left:8em;
	}
	
.products2 h1{
	text-align:left;
	font-size:1.2em;
	}
	
.products2 p{
	text-align: left;
	}
	
.products2 img{
	max-width: 255px;
	}
	
.products3{
	width: 40%;
	text-align: center;
	margin-right:8em;
	}
	
.products3 h1{
	text-align:left;
	font-size:1.2em;
	}
	
.products3 p{
	text-align: left;
	}
	
.products3 img{
	max-width: 255px;
	}
	
.buton4{
	margin-top:1.6em;
	}
	}

@media (max-width:985px){
	
.text-content h1{
	font-size:1.3em;
	}
	
.products{
	width:95%;
	margin-right:0;
	}
	
.products h1{
	text-align:center;
	margin:1em auto 0.8em auto;
	}
	
.products p{
	text-align:center;
	}
	
.products2{
	width:95%;
	margin-left:0;
	}
	
.products2 h1{
	text-align:center;
	margin:1em auto 0.8em auto;
	}
	
.products2 p{
	text-align:center;
	}
	
.products3{
	width:95%;
	margin-right:0;
	}
	
.products3 h1{
	text-align:center;
	margin:1em auto 0.8em auto;
	}
	
.products3 p{
	text-align:center;
	}
	
.buton{
	margin-top:1em;
	}
	
.buton2{
	margin-top:1em;
	margin-bottom:3em;
	}
	
.buton3{
	margin-top:1em;
	margin-bottom:3em;
	}
	
.buton4{
	margin-top:1em;
	}
	}

@media (max-width:745px){
	
.logos{
	width:70%;
	text-align:center;
	}
	
.gourmentun{
	width:32%;
	margin-top:2em;
	}
	

.hommet{
	width:32%;
	margin:2em 0em 0 3em;
	}
	

.zeng{
	width:30%;
	}
	

.fenish{
	width:28%;
	margin-left:0;
	}
	}
	

@media (max-width:440px){
	
.products2{
	margin-right:0;
	}
	
.legal{
	font-size:.7em;
	}
	}