@charset "utf-8";

*{
	padding:0;
	margin:0;
	}
	
img{
	width: 100%;
	}
	
body{
	background-color:#FFF;
	}	
	
@font-face {
	font-family: 'Conv_FRABK';
	src: url('../fonts/FRABK.eot');
	src: local('☺'), url('../fonts/FRABK.woff') format('woff'), url('../fonts/FRABK.ttf') format('truetype'), url('../fonts/FRABK.svg') format('svg');
	font-weight: normal;
	font-style: normal;
	}

header{
	width:100%;
	}
	
.title-head{
	width:99%;
	margin:0 auto;
	max-width:1000px;
	padding:0;
	}
	
.logo{
	max-width:295px;
	width:80%;
	padding:0.2em;
	}

.content{
	margin:0 auto;
	width:100%;
	height:auto;
	text-align:center;
	padding-top:10px;
	background-color:#2a4b8f;
	}

h1{
	font-family: 'Conv_FRABK', Arial;
	display:block;
	color:#fff;
	font-size:20em;
	padding-top:15px;
	}

h2{
	font-family: 'Conv_FRABK', Arial;
	color:#fff;
	font-size:2em;
	}

p{
	font-family: 'Conv_FRABK', Arial;
	color:#fff;
	font-size:1.55em;
	}
	
.doc{
	padding-top:30px;
	width:100px;
	height:100px;
	padding-bottom:100px;
	}
	
@media (max-width:575px){	
h1{
	font-size:10em;
	}	
	}

@media (max-width:310px){	
h1{
	font-size:8em;
	}
	
h2{
	font-family: 'Conv_FRABK', Arial;
	color:#fff;
	font-size:1.5em;
	}

p{
	font-family: 'Conv_FRABK', Arial;
	color:#fff;
	font-size:1em;
	}	
	}