*{ 
margin:0;
padding:0;
box-sizing:border-box;
}

img{
width:99%;
height:auto;
}

@font-face {
font-family: 'Conv_Roboto-Bold';
src: url('../fonts/Roboto-Bold.eot');
src: local('☺'), url('../fonts/Roboto-Bold.woff') format('woff'), url('../fonts/Roboto-Bold.ttf') format('truetype'), url('../fonts/Roboto-Bold.svg') format('svg');
font-weight: normal;
font-style: normal;

}

@font-face {
font-family: 'Conv_Roboto-Medium';
src: url('../fonts/Roboto-Medium.eot');
src: local('☺'), url('../fonts/Roboto-Medium.woff') format('woff'), url('../fonts/Roboto-Medium.ttf') format('truetype'), url('../fonts/Roboto-Medium.svg') format('svg');
font-weight: normal;
font-style: normal;
}

/*BODY*/
body{
font-family: 'Conv_Roboto-Bold';
background-color:#ffffff;
}

/*HEADER*/	
header{
width:100%;
}

/*CABECERA*/
.cabecera{
width:90%;
margin: 0.4em auto;
background-size:contain;
}

.cabecera img{
width:16%;
}

/*BASIC-CONTENT*/
.basic-content{
width:100%;
background-color:#e2e2e2;}

/*SMALL-CONTENT*/
.small-content{
width:99%;
max-width:1200px;
margin:auto;
background-image:url(../img/148/background.jpg);
background-repeat:no-repeat;
background-size:contain;
}

/*SKELETON*/
.skeleton{
width:60%;
display:inline-block;
vertical-align:bottom;
}

.photo-web{
max-width:400px;
}

.mvl{
width:99%;
display:none;
}

/*FORMULARIO*/
section.formulario{
width:28%;
max-width:440px;
display:inline-block;
text-align:center;
vertical-align:bottom;
padding-top:2em;
padding-bottom:1em;
margin-left:4em;
margin-top:5em;
}

section.formulario p{
font-size:1.6em;
color:#FFFFFF;
font-family: 'Conv_Roboto-Bold';
background-color:#a8d15e;
padding:0.5em 0;
font-weight:200;
font-family: 'Conv_Roboto-Medium';
margin-bottom:0.5em;
}

section.formulario #enviarPorMailSolicitaInfo{
background-color:#ffffff;
width:100%;
margin:.2em auto;
text-align:center;
border:6px solid #a8d15e;
}

section.formulario .celda{
padding-left:0.5em;
font-size:1em;
width:90%;
min-height:35px;
margin: 0.5em 1em;
text-align:left;
font-family: 'Conv_Roboto-Bold';
-webkit-appearance: none;
	-webkit-border-radius: 0;
border-radius:0;
}


input[placeholder], [placeholder], *[placeholder] {
 color:#9d9d9d !important;
 }

*::-webkit-input-placeholder {
	color:#9d9d9d !important;
}

*:-moz-placeholder {
	color:#9d9d9d !important;
}

*:-webkit-placeholder {
	color:#9d9d9d !important;
}

*::-webkit-placeholder {
	color:#9d9d9d !important;
}

*::-moz-placeholder {
	color:#9d9d9d !important;
}

*::-ms-input-placeholder {
	color:#9d9d9d !important;
}

.legal{
font-size:0.8em;
font-family: 'Conv_Roboto-Medium';
width:90%;
text-align:left;
color:#9d9d9d;
margin: 0em auto;
}

.legal input{
vertical-align:top;
margin-left:0.5em;
}

.legal a{
color:#9d9d9d;
}

.espacio-btn{
width:100%;
text-align:center;
border:0;
margin: 0 auto;
-webkit-appearance: none;
	-webkit-border-radius: 0;
border-radius:0;
}	

.espacio-btn input{
font-family: 'Conv_Roboto-Bold';
cursor:pointer;
background-color:#f8b431;
width:70%;
padding:0.4em 0.6em;
color: white;
font-size:1.7em;
text-align:left;
margin:0.7em auto;
font-weight:normal;
border:0;
-webkit-appearance: none;
	-webkit-border-radius: 0;
border-radius:0;
background-image:url(../img/148/arrow.png);
background-repeat:no-repeat;
background-position: 180px 15px;
border:1px solid #9c711f;
}

section.formulario .user-name{
background-image:url(../img/131/user-form.png);
background-repeat:no-repeat;
background-position:5px center;
}

section.formulario .user-phone{
background-image:url(../img/131/phone-form.png);
background-repeat:no-repeat;
background-position:5px center;
}

section.formulario .user-mail{
background-image:url(../img/131/mail-form.png);
background-repeat:no-repeat;
background-position:5px center;
}

input[placeholder], [placeholder], *[placeholder]{
 color:#000000 !important;
 }

::-webkit-input-placeholder{
	color:#000000;
}

*:-moz-placeholder{ 
	color:#000000;
}

*::-moz-placeholder{
	color:#000000;
}

*:-ms-input-placeholder{ 
	color:#000000;
}

/*TEXT-CONTENT*/

.text-content{
width:99%;
max-width:1200px;
margin:auto;
text-align:center;
}

.text-content h1{
width:92%;
margin:0.5em auto;
color:#a8d15e;
font-size:3em;
}

.list{
width:25%;
display: inline-block;
vertical-align:top;
margin:auto;
}

.list2{
width:25%;
display: inline-block;
vertical-align:top;
margin-left:2em;
margin-right:2em;
}

.list2 img{
max-width:103px;
margin-left:auto;
margin-right:auto;
display:block;
padding-top:2em;
}

.list2 h2{
color:#a8d15e;
text-align: center;
font-size:1.5em;
margin: 0.5em auto;
}

.list2 h3{
text-align:center;
font-size:1em;
color:#000000;
margin: 0.5em auto;
}

.list2 p{
font-family: 'Conv_Roboto-Medium';
text-align:center;
font-size:0.8em;
color:#000000;
margin:1em auto;
}

.list img{
max-width:103px;
margin-left:auto;
margin-right:auto;
display:block;
padding-top:2em;
}

.list h2{
color:#a8d15e;
text-align: center;
font-size:1.5em;
margin: 0.5em auto;
}

.list h3{
text-align:center;
font-size:1em;
color:#000000;
margin: 0.5em auto;
}

.list p{
font-family:'Conv_Roboto-Medium';
text-align:center;
font-size:0.8em;
color:#000000;
margin:1em auto;
}

.phone{
width:99%;
margin:5em auto;
background-color:#a8d15e;
}

.phone h3{
text-align:left;
font-size:1em;
color:#ffffff;
padding:1em 2em;
}

.phone p{
font-family:'Conv_Roboto-Medium';
text-align:left;
font-size:0.7em;
color:#000000;
padding-left:3em;
padding-bottom:2em;
}

.information{
width:99%;
max-width:1200px;
margin:auto;
border-top:5px solid #a8d15e;
}

.information p{
font-family:'Conv_Roboto-Medium';
text-align:left;
font-size:0.6em;
color:#000000;
padding:3em 2em;
}

/*RESPONSIVE*/
@media (max-width:1228px){
.basic-content{
width:100%;
margin:0px auto;
padding:0em;
}

.small-content{
margin: 0em auto;
padding:0em;
}
}

@media (max-width:1156px){
section.formulario{
margin-left:4em;
width:29%;
}
}

@media (max-width:1113px){
section.formulario{
width:30%;
margin-left:5em;
}
}

@media (max-width:1099px){
section.formulario{
width:31%;
margin-left:4em;
}
}

@media (max-width:1059px){
section.formulario{
width:32%;
margin-left:4em;
}
}

@media (max-width:1007px){
section.formulario{
width:33%;
margin-left:1em;
}
}

@media (max-width:992px){
section.formulario{
width:34%;
margin-left:0em;
}
}

@media (max-width:970px){
section.formulario{
width:36%;
margin-left:0em;
}

.text-content h1{
font-size:2.8em;
}
}

@media (max-width:916px){
section.formulario{
width:37%;
}
}

@media (max-width:884px){
section.formulario{
width:98%;
max-width:none;
margin-left:0;
margin-top:0;
padding-top:0em;
}

.small-content{
width:99%;
max-width:1200px;
margin:auto;
background-image:none;
}

.basic-content{
background-color:#FFFFFF;
}

.skeleton{
	width:99%;
}

.photo-web{
	display:none;
	}

.mvl{
display:block;
}

.espacio-btn input{
font-size:1.7em;
text-align:center;
background-image:none;
}

.text-content h1{
font-size:2em;
}

.cabecera{
margin: 0.3em auto;	
}

.cabecera img{
width:26%;
}
}

@media (max-width:819px){
.list{
width:90%;
}

.list2{
width:90%;
margin-left:0em;
margin-right:0em;
}

.phone{
margin:3em auto;
}
}

@media (max-width:641px){
.text-content h1{
font-size:1.8em;
}
}

@media (max-width:569px){
.text-content h1{
font-size:1.4em;
}
}

@media (max-width:400px){
.cabecera img{
width:35%;
}
}