@charset "UTF-8";
/* CSS Document */

*{ 
margin:0;
padding:0;
box-sizing:border-box;
}

img{
width:99%;
height:auto;
}


@font-face {
font-family: 'Conv_Roboto-Bold';
src: url('../fonts/Roboto-Bold.eot');
src: local('☺'), url('../fonts/Roboto-Bold.woff') format('woff'), url('../fonts/Roboto-Bold.ttf') format('truetype'), url('../fonts/Roboto-Bold.svg') format('svg');
font-weight: normal;
font-style: normal;

}

@font-face {
font-family: 'Conv_Roboto-Medium';
src: url('../fonts/Roboto-Medium.eot');
src: local('☺'), url('../fonts/Roboto-Medium.woff') format('woff'), url('../fonts/Roboto-Medium.ttf') format('truetype'), url('../fonts/Roboto-Medium.svg') format('svg');
font-weight: normal;
font-style: normal;
}
/*BODY*/
body{
font-family: 'Conv_Roboto-Bold';
background-color:#ffffff;
border:5px solid #a8d15e;
max-width:1200px;
margin:auto;
}

.photo{
width:55%;
display:inline-block;
vertical-align:top;
}

.text-content{
width:44%;
display:inline-block;
vertical-align:top;
}

.text-content img{
width:40%;
}

.text-content h2{
width:99%;
color:#a8d15e;
font-size:3.4em;
font-family: 'Conv_Roboto-Bold';
padding-top:1.2em;
padding-left:0.2em;
}

.text-content h3{
width:99%;
color:#46484b;
font-size:2.6em;
font-family: 'Conv_Roboto-Bold';
padding-top:0.8em;
padding-left:0.2em;
}

.text-content h4{
width:99%;
color:#65696e;
font-size:2.1em;
font-family: 'Conv_Roboto-Medium';
padding-top:0.8em;
padding-left:0.2em;
}

/*RESPONSIVE*/

@media (max-width:1204px){
.text-content h4{
font-size:1.9em;
}
}
@media (max-width:1188px){
.text-content h3{
font-size:2.5em;
}
}
@media (max-width:1162px){
.text-content h2{
font-size:2.9em;
}
}
@media (max-width:1149px){
.text-content h2{
font-size:2.9em;
}
.text-content h3{
font-size:2.3em;
}
}
@media (max-width:1082px){
.text-content h4{
font-size:1.8em;
}
}
@media (max-width:1047px){
.text-content h3{
font-size:2.2em;
}
}
@media (max-width:1028px){
.text-content h4{
font-size:1.7em;
}
}
@media (max-width:1003px){
.text-content h3{
font-size:2.1em;
}
.text-content h4{
font-size:1.6em;
}
}
@media (max-width:987px){
.text-content h2{
font-size:2.7em;
}
}
@media (max-width:961px){
.text-content h3{
font-size:1.9em;
}
.text-content h2{
font-size:2.5em;
}
}
@media (max-width:874px){
.text-content h3{
font-size:1.7em;
}
.text-content h2{
font-size:2.2em;
}
.text-content h4{
font-size:1.3em;
}
}
@media (max-width:796px){
.text-content h3{
font-size:1.5em;
}
.text-content h2{
font-size:2.1em;
}
.text-content h4{
font-size:1.2em;
}
}
@media (max-width:727px){
.text-content h3{
font-size:1.3em;
}
.text-content h2{
font-size:1.9em;
}
.text-content h4{
font-size:0.9em;
}
}
@media (max-width:661px){
.text-content h2{
font-size:1.7em;
}
}
@media (max-width:617px){
.text-content h2{
font-size:1.5em;
}
.text-content h3{
font-size:1.1em;
}
}
@media (max-width:533px){
.text-content h2{
font-size:1.3em;
}
.text-content h3{
font-size:1em;
}
}
@media (max-width:492px){
.text-content h2{
font-size:1.1em;
}
.text-content h4{
font-size:0.8em;
}
.text-content h3{
font-size:0.9em;
}
}
@media (max-width:407px){
.text-content h2{
font-size:0.8em;
}
.text-content h3{
font-size:0.7em;
}
.photo{
width:50%;
}
}