@charset "utf-8";
/* CSS Document */
.cond27{
	max-width:870px;
	width:95%;
	font-family:Arial, Helvetica, sans-serif;
	font-size:.8em;
	margin:1em auto;
	text-align:justify;}
.cond27 div{
	margin-left:2em;}
.cond27 h1{
	font-size:1.2em;
	text-align:center;
	}
.cond27 h2{
	font-size:1.1em;
	text-align:center;}
	
.cond27 h3{
	font-size:1.1em;}
