
*{
	padding:0;
	margin:0 auto;
	box-sizing:border-box;
	}
	
img{
	width:99%;
	height:auto;
	}
	
@font-face {
  	font-family: 'Gotham-Bold';
 	src: url('../fonts/Gotham-Bold.eot') format('embedded-opentype'),  url('../fonts/Gotham-Bold.otf')  format('opentype');
	src: url('../fonts/Gotham-Bold.woff') format('woff'), url('../fonts/Gotham-Bold.ttf')  format('truetype'), url('../fonts/Gotham-Bold.svg') format('svg');
  	font-weight: normal;
  	font-style: normal;
  	}
 
@font-face{
  	font-family: 'Gotham-Book';
  	src: url('../fonts/Gotham-Book.eot') format('embedded-opentype'),  url('../fonts/Gotham-Book.otf')  format('opentype');
	src: url('../fonts/Gotham-Book.woff') format('woff'), url('../fonts/Gotham-Book.ttf')  format('truetype'), url('../fonts/Gotham-Book.svg') format('svg');
  	font-weight: normal;
  	font-style: normal;
 	}
	
body{
	font-family: 'Gotham-Book', Arial;
	background-color:#FFFFFF;
	}
	
header{
	width:100%;
	border-top: 8px solid #dadadb;
    box-shadow: 0 3px 0 #1472B8;
	}
	
.cabecera{
	width:99%;
	max-width:1160px;
	margin:auto;
	}
	
.logo-sanitas{
	width:50%;
	float:left;
	}
	
.logo-sanitas img{
	width:14%;
	display:inline-block;
	vertical-align:middle;
	}
	
.logo-sanitas h1{
	display:inline-block;
	vertical-align:middle;
	color:#6c6e71;
	font-size:2em;
	font-weight:lighter;
	margin-bottom:0.6em;
	margin-left:0.4em;
	}
	
.affiliate{
	width:20%;
	float:right;
	margin-top:0.8em;
	margin-right:7em;
	}
	
.basic-content{
	width:100%;
	}
	
.small-content{
	width:100%;
	max-width:1200px;
	margin:auto;
	}
	
.skeleton{
	width:60%;
	display:inline-block;
	vertical-align: middle;
	margin-top:1em;
	}
	
.skeleton h1{
	text-align:center;
	color:#1472b8;
	font-size:2.7em;
	margin-bottom:0.1em;
	}
	
.skeleton h1 span{
	font-family: 'Gotham-Bold';
	}
	
/*Slider*/

 .aslide{
    display: none;
    }
	 
 .aslide img{
    max-width: 100%;                
    }
	 
 .aslider{
    width:99%;
    height:470px;
    }
	 
.aslider img{
	width:99%;
	height:auto;
	}
	
/*Formulario*/
	
section.formulario{
	width:27%;
	background-color:#1472b8;
	text-align:center;
	display:inline-block;
	vertical-align: middle;
	margin-bottom:1.4em;
	margin-left:2em;
	}
	
section.formulario p{
	font-size:1.6em;
	color:#FFFFFF;
	text-align:center;
	margin-bottom:0.2em;
	padding-top:0.2em;
	font-weight:lighter;
	line-height:27px;
	}
	
section.formulario p span{
	font-family: 'Gotham-Bold';
	font-size:1.1em;
	}

section.formulario #ctcForm, section.formulario #enviarPorMailSolicitaInfo{
	width:99%;
	margin:1em auto;
	text-align:center;
	}
	
.formulario .celda{
	background-color:#FFFFFF;
	font-size:.9em;
	display:block;
	width:82%;
	min-height:35px;
	margin:1.1em auto;
	font-family: 'Gotham-Book';
	color:#000000;
	text-align:left;
	border:0;
	line-height:35px;
	padding-left:2.7em;
	-webkit-appearance: none;
    -webkit-border-radius: 0;
	border-radius:0;
	}
	
input[placeholder], [placeholder], *[placeholder] {
   color:#000000 !important;
   }
  
  ::-webkit-input-placeholder {
    color:#000000;
	}
	
*:-moz-placeholder {
    color:#000000;
	}
	
*::-moz-placeholder {
    color:#000000;
	}
	
*:-ms-input-placeholder {
    color:#000000;
	}

.legal{
	font-size:0.9em;
	width:82%;
	margin:0 auto;
	text-align:left;
	color:#FFFFFF;
	margin-top:-0.5em;
	margin-bottom:1.1em;
	}
	
.legal input{
	vertical-align:middle;
	}
	
.legal a{
	color:#FFFFFF;
	}
	
.espacio_btn input{
	cursor:pointer;
	width:83%;
	padding:0.5em 0;
	color: white;
	border: 0;
	font-size:2em;
	background-color:#ef8900;
	font-family: 'Gotham-Bold';
	margin-bottom:0.3em;
	-webkit-appearance: none;
    -webkit-border-radius: 0;
	border-radius:0;
	}
	
.espacio_btn input:hover{
	background-color:#d38a28;
	}
	
section.formulario .user-name{
	background-image:url(../img/129/user-form.png);
	background-repeat:no-repeat;
	background-position:5px center;
	}
	
section.formulario .user-phone{
	background-image:url(../img/129/phone-form.png);
	background-repeat:no-repeat;
	background-position:5px center;
	}
	
section.formulario .user-mail{
	background-image:url(../img/129/mail-form.png);
	background-repeat:no-repeat;
	background-position:5px center;
	}

.text-content{
	width:100%;
	max-width:1200px;
	margin:auto;
	}
	
.text-content h1{
	color:#1472b8;
	margin-top:2em;
	font-size:1.3em;
	}

.text-content h1 span{
	font-family: 'Gotham-Bold';
	}
	
/*Box text 1*/
	
.box-text1{
	width:27%;
	display:inline-block;
	vertical-align:top;
	margin-bottom:2em;
	}
	
.box-text1 h1{
	color:#FFFFFF;
	background-color:#00335b;
	padding:0.2em;
	text-align:center;
	font-size:1.4em;
	}
	
.box-text1 h1 span{
	font-family: 'Gotham-Bold';
	}
	
.information1{
	height:380px;
	margin-top:1em;
	border-top:2px solid #00335b;
	border-right:2px solid #00335b;
	border-left:2px solid #00335b;
	border-bottom:12px solid #00335b;
	text-align:center;
	padding:1em;
	}
	
.information1 p{
	color:#6c6e71;
	font-size:1em;
	margin-top:0.5em;
	margin-bottom:1.2em;
	}
	
.information1 p span{
	color:#00335b;
	font-family: 'Gotham-Bold';
	}
	
.price1{
	color:#00335b;
	font-family: 'Gotham-Bold';
	font-size:1.9em;
	}
	
.tittle{
	margin-bottom:1.5em;
	}
	
/*Box text 2*/

.box-text2{
	width:27%;
	display:inline-block;
	vertical-align:top;
	margin-bottom:2em;
	margin-left:3em;
	margin-right:3em;
	}
	
.box-text2 h1{
	color:#FFFFFF;
	background-color:#1472b8;
	padding:0.2em;
	text-align:center;
	font-size:1.4em;
	}
	
.box-text2 h1 span{
	font-family: 'Gotham-Bold';
	}
	
.information2{
	height:380px;
	margin-top:1em;
	border-top:2px solid #1472b8;
	border-right:2px solid #1472b8;
	border-left:2px solid #1472b8;
	border-bottom:12px solid #1472b8;
	text-align:center;
	padding:1em;
	}
	
.information2 p{
	color:#6c6e71;
	font-size:1em;
	margin-top:0.5em;
	margin-bottom:1.2em;
	}
	
.information2 p span{
	color:#1472b8;
	font-family: 'Gotham-Bold';
	}
	
.price2{
	color:#1472b8;
	font-family: 'Gotham-Bold';
	font-size:1.9em;
	}
	
.tittle{
	margin-bottom:1.5em;
	}
	
/*Box text 3*/

.box-text3{
	width:27%;
	display:inline-block;
	vertical-align:top;
	margin-bottom:2em;
	}
	
.box-text3 h1{
	color:#FFFFFF;
	background-color:#ef8900;
	padding:0.2em;
	text-align:center;
	font-size:1.4em;
	}
	
.box-text3 h1 span{
	font-family: 'Gotham-Bold';
	}
	
.information3{
	height:380px;
	margin-top:1em;
	border-top:2px solid #ef8900;
	border-right:2px solid #ef8900;
	border-left:2px solid #ef8900;
	border-bottom:12px solid #ef8900;
	text-align:center;
	padding:1em;
	}
	
.information3 p{
	color:#6c6e71;
	font-size:1em;
	margin-top:0.5em;
	margin-bottom:1.2em;
	}
	
.information3 p span{
	color:#ef8900;
	font-family: 'Gotham-Bold';
	}
	
.price3{
	color:#1472b8;
	font-family: 'Gotham-Bold';
	font-size:1.9em;
	}
	
.tittle{
	margin-bottom:1.5em;
	}
	
.legal-text{
	width:100%;
	text-align:left;
	font-size:.9em;
	margin-top:1em;
	color:#6c6e71;
	margin-bottom:3em;
	}
	
.legal-text a{
	color:#6c6e71;
	}
	
footer{
	width:100%;
	background-color:#0078cf;
	}

.foot-image{
	width:100%;
	max-width:900px;
	margin:auto;
	text-align:right;
	}
	
.foot-image img{
	max-width:252px;
	padding:0.5em 0;
	}
	
@media (max-width: 1210px){

.text-content{
	width:99%;
	}
	}
	
@media (max-width: 1170px){

.box-text1{
	width:30%;
	}
	
.box-text2{
	width:30%;
	margin-left:1em;
	margin-right:1em;
	}
	
.box-text3{
	width:30%;
	}
	}
	
@media (max-width: 1120px){
	
.skeleton{
	width:65%;
	}
	
section.formulario{
	margin-left:1em;
	margin-bottom:1.8em;
	width:30%;
	}
	
.legal{
	font-size:0.8em;
	}
	}
	
@media (max-width: 980px){
	
section.formulario p{
	font-size:1.4em;
	}

.espacio_btn input{
	font-size:1.8em;
	}
	
.skeleton h1{
	font-size:2.3em;
	}
	
.legal{
	font-size:0.7em;
	}
	
.aslider{
	height:420px;
	}
	}
	
@media (max-width: 950px){
	
.box-text1{
	width:32%;
	}
	
.box-text2{
	width:32%;
	margin-left:0.5em;
	margin-right:0.5em;
	}
	
.box-text3{
	width:32%;
	}
	}
	
@media (max-width: 900px){
	
.logo-sanitas h1{
	font-size:1.5em;
	}
	
.skeleton{
	width:99%;
	}
	
.skeleton h1{
	font-size:2.7em;
	}
	
section.formulario{
	width:97.50%;
	margin-left:0;
	margin-top:0.5em;
	}
	
.text-content h1{
	text-align:center;
	margin-top:0;
	margin-bottom:1em;
	}

.box-text1{
	width:99%;
	}
	
.box-text2{
	width:99%;
	margin-left:0;
	margin-right:0;
	}
	
.box-text3{
	width:99%;
	}
	
.aslider{
	height:534px;
	}
	}
	
@media (max-width: 760px){

.aslider{
	height:474px;
	}
	}
	
@media (max-width: 700px){
	
.logo-sanitas img{
	width:20%;
	}
		
.affiliate{
	width:25%;
	margin-right:0;
	}
	
.logo-sanitas h1{
	font-size:1em;
	}
	
.skeleton h1{
	font-size:1.8em;
	}
	}
	
@media (max-width: 660px){

.aslider{
	height:414px;
	}
	}
	
@media (max-width: 560px){

.aslider{
	height:349px;
	}
	}
	
@media (max-width: 500px){

.aslider{
	height:308px;
	}
	}
	
@media (max-width: 450px){

.skeleton h1{
	font-size:1.4em;
	}
	
.aslider{
	height:276px;
	}
	}
	
@media (max-width: 400px){
	
.logo-sanitas img{
	width:15%;
	}
	
.logo-sanitas h1{
	margin-top:0.5em;
	}
	
.aslider{
	height:245px;
	}
	}
	
@media (max-width: 350px){
	
.logo-sanitas h1{
	font-size:0.8em;
	}
	
.skeleton h1{
	font-size:1.1em;
	}
	
.legal-text{
	font-size:0.7em;
	}
	
.aslider{
	height:199px;
	}
	}
