@charset "UTF-8";

*{
	padding:0;
	margin:0;
	box-sizing:border-box;
	}
	
img{
	width: 100%;
	height:auto;
	}

body{
	font-family:'Arial', Helvetica, sans-serif;
	background-color:#FFFFFF;
	background-image:url(../img/111/f-landing.gif);
	}

header{
	width:100%;
	}

.cabecera{
	width:99%;
	max-width:950px;
	margin:auto;
	}
	
.logo-prin{
	width:10.50%;
	margin-top:0.8em;
	display:inline-block;
	vertical-align:top;
	}

section.cabecera h1{
	display:inline-block;
	vertical-align:top;
	color:#6D6E72;
	font-size:1.4em;
	margin-top:0.9em;
	margin-left:0.6em;
	font-weight:lighter;
	}
	
.basic-content{
	width:100%;
	margin-top:1.5em;
	}

.small-content{
	width:99%;
	max-width:980px;
	margin:auto;
	background-color:#FFFFFF;
	border-top: 10px solid #E6E6E6;
	border-left: 10px solid #E6E6E6;
	border-right: 10px solid #E6E6E6;
	border-bottom: 22px solid #E6E6E6;
	}

.skeleton{
	background-image: url(../img/111/promo-web.jpg);
	background-repeat:no-repeat;
	height:419px;
	width:66%;
	display:inline-block;
	vertical-align:top;
	}

.mobile{
	display:none;
	}

.box-text{
	width:46%;
	background-color:#e70e69;
	padding:0.7em;
	color:#FFFFFF;
	margin-top:0.8em;
	margin-left:0.8em;
	}
	
.box-text h1{
	font-size:1.1em;
	margin-bottom:0.3em;
	font-weight:lighter;
	}

.hr{
	background-color:#FFFFFF;
	}

.box-text h2{
	font-size:0.85em;
	padding-top:0.6em;
	font-weight:lighter;
	}
	
.box-text h3{
	font-size:0.83em;
	padding-top:0.6em;
	font-weight:lighter;
	}
	
.box-text p{
	font-size:0.75em;
	padding-top:0.8em;
	padding-bottom:0.5em;
	}

section.formulario{
	width:32%;
	background-color:#FFFFFF;
	border: 1px solid #E6E6E6;
	text-align:center;
	display:inline-block;
	vertical-align:top;
	margin-left:0.3em;
	margin-top:0.5em;
	-moz-box-shadow: 0px 0px 3px #999;
    -webkit-box-shadow: 0px 0px 3px #999;
    box-shadow: 0px 0px 3px #999;
	}
	
section.formulario p{
	width:93%;
	margin:auto;
	padding:0.5em;
	font-size:1em;
	color:#FFFFFF;
	text-align:center;
	background-color:#0079c8;
	margin-top:-0.4em;
	margin-bottom:0.7em;
	}

section.formulario #ctcForm, section.formulario #enviarPorMailSolicitaInfo{
	width:99%;
	margin:1em auto;
	text-align:center;
	padding: .1em 0 .2em 0;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	}
	
.col4{
	width:30%;
	font-size:0.8em;
	color:#0079c8;
	display:inline-block;
	vertical-align:top;
	margin-right:-0.3em;
	margin-top:0.3em;
	font-weight:bold;
	}
	
.formulario .celda{
	width:60%;
	display:inline-block;
	vertical-align:top;
	margin-right:0.5em;
	min-height:28px;
	border: 0.5px solid #999;
	-webkit-box-shadow: inset 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
	box-shadow: inset 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
	background-color:#EDF7FE;
	margin-bottom:1.4em;
	}
	
.celda-servicio{
	width:60.50%;
	display:inline-block;
	vertical-align:top;
	margin-right:0.5em;
	min-height:28px;
	border: 1px solid #999;
	-webkit-box-shadow: inset 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
	box-shadow: inset 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
	background-color:#EDF7FE;
	margin-bottom:1.4em;
	-webkit-appearance: none;
	color:#666;
	font-size:13px;
	padding:0.35em 0;
	-webkit-border-radius: 0;
	border-radius:0;
	}

#doc_type{
	padding-left:0.5em;
	}
	
#nombre{
	padding-left:0.5em;
	}
	
#telefono{
	padding-left:0.5em;
	}

#email{
	padding-left:0.5em;
	}

.legal{
	font-size:.59em;
	width:92%;
	margin:0 auto;
	text-align:left;
	color:#666666;
	margin-top:-1em;
	}
	
.legal input{
	vertical-align:top;
	}
	
.espacio_btn{
	width:90%;
	margin:-.2em auto;
	}	
	
.espacio_btn input{
	cursor:pointer;
	width:100%;
	padding-top:0.8em;
	padding-bottom:0.8em;
	padding-left:0.8em;
	color: white;
	border: 0;
	font-size:0.9em;
	background-color:#E70E69;
	margin-bottom:0.8em;
	margin-top:0.1em;
	margin-left:-0.3em;
	font-weight:bold;
	text-align:left;
	box-shadow: 0px 1px 2px #424242;
	-webkit-appearance: none;
    -webkit-border-radius: 0;
	border-radius:0;
	}
	
@media (max-width: 990px) {
	
.skeleton{
	width:61%;
	background-size:contain;
	height:376px;
	}
	
section.formulario{
	width:37%;
	}
	}

@media (max-width: 930px) {
	
.skeleton{
	height:350px;
	}
	}

@media (max-width: 870px) {
	
section.formulario{
	width:99%;
	margin-left:0;
	}
	
.skeleton{
	width:99%;
	background-position:right;
	}
	}
	
@media (max-width: 600px) {
	
.mobile{
	display:block;
	}
		
.box-text{
	display:none;
	}
		
.skeleton{
	background-image:none;
	height:380px;
	}
		
.logo-prin{
	width:18%;
	}
	}
		
@media (max-width: 500px) {
	
.skeleton{
	height:300px;
	}
	}
		
@media (max-width: 400px) {
	
.skeleton{
	height:260px;
	}
	}
		
@media (max-width: 300px) {
	
.skeleton{
	height:200px;
	}
	}
		
@media (max-width: 200px) {
	
.skeleton{
	height:150px;
	}
	}
