*{
	padding:0;
	margin:0;
	}
	
img{
	width: 100%;
	}

body{
	font-family:Arial, Helvetica, sans-serif;
	background:#e7e7e7;
	}
	
h1{
	font-size:1.2em;
	color:#666;
	}
	
h2{
	font-weight:normal;
	font-size:1.3em;
	}
	
	
h3{
	color:#f68b1f;
	}
	
h4{ color:#666;
font-size:1.2em;}
	
	
/*HEADER*/
	
header{
	background-color:#FFF;
	width:100%;
	}
	
header .cabecera{
	margin:1em auto;
	max-width:900px;
	}
header .cabecera div{
	width:70%;
	display:inline-block;
	vertical-align:middle;
	}
		
header .cabecera img{
	width:105px;
	margin:.5em;
	display:inline-block;
	vertical-align:middle;
	}
	
	
	
/*CONTENIDO*/

.comolavidamisma{
	max-width:440px;
	margin:1em auto;
	color:#666;
	font-size:.9em;}
.comolavidamisma img{
	width:70px;
	height:70px;
	margin-right:.5em;}
.comolavidamisma img, p{
	vertical-align:middle;
	display:inline-block;}
	
		
section.contenido{
	max-width:900px;
	margin:1em auto;
	}
	
/*FOTO*/
	
section.foto{
	width:69%;
	margin-right:.5em;
	display:inline-block;
	-webkit-box-shadow:4px 4px 7px 0px rgba(50, 50, 50, 0.32);
	-moz-box-shadow:4px 4px 7px 0px rgba(50, 50, 50, 0.32);
	box-shadow:4px 4px 7px 0px rgba(50, 50, 50, 0.32);
	}
	
	
section.foto .caja_texto{
	background-color:#008c99;
	max-width:100%;
	padding:.5em 0;
	color:#FFF;
	text-align:center;
	}

	
section.foto .caja_texto p{
	font-size:.8em;
	}

/*FORM*/

	
section.formulario{
	width:29%;
	display:inline-block;
	vertical-align:top;
	font-size:.81em;
	color:#4d4d4d;
	background-color:#FFF;
	-webkit-box-shadow:4px 4px 7px 0px rgba(50, 50, 50, 0.32);
	-moz-box-shadow:4px 4px 7px 0px rgba(50, 50, 50, 0.32);
	box-shadow:4px 4px 7px 0px rgba(50, 50, 50, 0.32);
	min-height:416px;
}
	
section.formulario .llamanos{
	width:100%;
	background-color:#f68b1f;
	color:#FFF;
	text-align:center;
	font-size:1.7em;
	padding:.2em 0;
	margin-top:.44em;
}
section.formulario .llamanos img{
	width:30px;
	height:30px;
	margin-right: .3em;
	}
	
section.formulario .llamanos img, span{
	vertical-align:bottom;
	}

section.formulario .te_llamamos{
	width:100%;
	background-color:#0079c8;
	color:#FFF;
	text-align:center;
	font-size:1.3em;
	margin-top:.5em;
	padding:.3em 0;
	}
	
	
section.formulario form{
	width:89%;
	margin:1em auto 0 auto;
	}	
	
.formulario .celda{
	display:block;
	width:98%;
	min-height:30px;
	border:1px solid #0079c8;
	padding-left:4px;
	padding-right:4px;
}

.fila input{
	margin-top:.4em;
	}

.fila, #capa_fecha, #fecha_nombre, .cookiesEnable{
	margin-bottom:1em;
	text-align:left;
	}
	
.legal{
	font-size:.8em;
	font-family:Arial, Helvetica, sans-serif;
	text-align:left;
	}
	
.espacio_btn{
	width:100%;
	text-align:center;
	}	
	
button {
	cursor:pointer;
	width:100%;
	padding:.5em;
	color: white;
	border: 0;
	font-size: 1.2em;
	margin:.9em auto;
	background-image: -ms-linear-gradient(top, #05B8C9 0%, #007BC8 100%);
	background-image: -moz-linear-gradient(top, #05B8C9 0%, #007BC8 100%);
	background-image: -o-linear-gradient(top, #05B8C9 0%, #007BC8 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #05B8C9), color-stop(1, #007BC8));
	background-image: -webkit-linear-gradient(top, #05B8C9 0%, #007BC8 100%);
	background-image: linear-gradient(to bottom, #05B8C9 0%, #007BC8 100%);	}



/*TEXTO*/

section.contenido_texto{
	max-width:870px;
	width:95%;
	margin:1em auto;
	background:#FFF;
	font-size:.9em;
	padding:1em;
	color:#666;
	-webkit-box-shadow:4px 4px 7px 0px rgba(50, 50, 50, 0.32);
	-moz-box-shadow:4px 4px 7px 0px rgba(50, 50, 50, 0.32);
	box-shadow:4px 4px 7px 0px rgba(50, 50, 50, 0.32);
	}
	
	
	
.caja{
	width:49%;
	vertical-align:top;
	display:inline-block;
	margin:2em 0;
	color:#9395a1;
	font-size:.9em;
	
	}	
	
.caja img{
	width:48px;
	height:48px;
	vertical-align:middle;
	display:inline-block;
	}
	
.caja div{
	width:80%;
	vertical-align:middle;
	display:inline-block;
	margin-left:.7em;
	}	
	
section.contenido_texto .cuadro_texto_izq{
	width:55%;
	vertical-align:top;
	display:inline-block;
	padding:.6em;
	}
	
section.contenido_texto .cuadro_texto_drcha{
	width:38%;
	border:1px solid #CCC;
	vertical-align:top;
	display:inline-block;
	padding: .6em;
	}

	
section.contenido_texto .cuadro_texto_izq li{
	width:46%;
	display:inline-block;
	margin-bottom:.5em;
	font-size:.9em;
	margin-left:1em;
	list-style:none;
	}
	
section.contenido_texto  li:before {
  content: "•  ";
}
	
			
	
section.contenido_texto .cuadro_texto_drcha li{
	margin-bottom:.5em;
	font-size:.9em;
	margin-left:1em;
	list-style:none;

	}	
	
	
/*PIE*/
	
	
footer{
	width:100%;
	background-color:#0079c8;
	padding:.4em 0;
	}
	
footer div{
	max-width:900px;
	margin:0 auto;
	}

footer div img{
	width:252px;
	
	}
	
	
#pie_galletero{
	max-width:880px;
	margin:0 auto;
	padding:1em;
	font-size:.9em;
	color:#666;}
	
#pie_galletero_left{
	width:79%;
	vertical-align:top;
	display:inline-block;}
	
#pie_galletero_right{
	width:20%;
	vertical-align:top;
	display:inline-block;}	
#pie_galletero_right input{
	background-color:#F60;
	border:0;
	padding:.3em;}	
	
		
@media (max-width: 780px) {
	body{
		padding:.7em;}
		
		
	section.formulario{
		margin:1em auto;
		width:80%;
		display:block;
		}
	section.foto{
		margin:1em auto;
		width:100%;
		display:block;
		}
		
		
	section.contenido_texto .cuadro_texto_izq, section.contenido_texto .cuadro_texto_drcha{
		width:90%;
		display:block;
		margin:.5em auto;
		border:0;
		}
	
		
	.caja{
		display:block;
		width:75%;
		margin:2em auto;}
		
	section.formulario .llamanos img, p{
		display:inline-block;
		}
		
	#pie_galletero_left{
	width:95%;
	margin:0 auto;
	display:block;}
	
#pie_galletero_right{
	width:40%;
	margin:.5em auto;
	
	display:block;}	

	

	

@media (max-width: 480px){
	
	body{
		padding:.2em;
	}
	
	h1{
		font-size:1em;
		}
		
	header .cabecera img {
	width: 70px;
	margin:.2em;}
	
	.comolavidamisma{
		
		font-size:.7em;
		}
	.comolavidamisma img{
		width:45px;
		height:45px;
		}

	
	section.formulario, section.foto{
		width:96%;
		}
	section.contenido_texto {
		width:92%;
		padding:.6em;
		}
		
	section.contenido_texto .cuadro_texto_izq, section.contenido_texto .cuadro_texto_drcha{
		width:95%;
		display:block;
		margin:0 auto;
	}
		
		
	h2{
		font-size:1.2em;}

	section.foto .caja_texto p{
		font-size:.8em;
		}
		
	section.formulario .llamanos{
		font-size:1.3em;
	}
	
	section.formulario .llamanos img{
		width:25px;
		height:25px;
	}
		
		
	.caja{
		width:98%;
		}
	.caja img{
		width: 44px;
		height: 44px;
		}
	.caja p{
		font-size:.9em;
	}

	h4{
		font-size:1.1em;}
		
	h3{
		font-size:1em;
	}
		
	section.contenido_texto .cuadro_texto_izq li {
	width: 80%;

	}
	
	#pie_galletero_right{
	width:60%;
	}	

#pie_galletero{
	font-size:.8em;
	}
	
@media (max-width: 320px){
	header .cabecera img{
		width:60px;
	}
	
	}