
*{
margin:0;
padding:0;
box-sizing:border-box;
}

img{
	width:99%;
	height:auto;
	}
/*fonts*/
@font-face {
	font-family: 'Conv_Gotham-Book';
	src: url('../fonts/Gotham-Book.eot');
	src: local('☺'), url('../fonts/Gotham-Book.woff') format('woff'), url('../fonts/Gotham-Book.ttf') format('truetype'), url('../fonts/Gotham-Book.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_Gotham-Bold';
	src: url('../fonts/Gotham-Bold.eot');
	src: local('☺'), url('../fonts/Gotham-Bold.woff') format('woff'), url('../fonts/Gotham-Bold.ttf') format('truetype'), url('../fonts/Gotham-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

/*body*/
body{
	font-family: 'Conv_Gotham-Book';
	background-color:#ffffff;
	}

/*header*/
.header{
	width:100%;
	}
.cabecera {
	width:99%;
	max-width:1200px;
	padding-left:1.5em;
	}
.cabecera img{
	width:50%;
	max-width:106px;
	margin:auto;
	display:inline-block;
	vertical-align:middle;
	}
.cabecera p{
	font-size:1.7em;
	color:#6c6e71;
	display:inline-block;
	vertical-align:middle;
	}
	
/*Content*/
.basic-content {
	width:100%;
	background-color:#fcfcfc;
	}
.small-content{
	width:99%;
	max-width:1200px;
	margin:auto;
	background-image:url(../img/162/background.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	}
.skeleton{
	width:57%;
	display:inline-block;
	vertical-align:middle;
	}
.photo-web{
	max-width:315px;
	margin-left:10em;
	margin-right:auto;
	margin-bottom:20em;
	text-align:center;
	}
.mvl{
	display:none;
	}

/*Formulario*/
	
section.formulario{
	width:27%;
	background-color:#1472b8;
	text-align:center;
	display:inline-block;
	vertical-align: top;
	margin-top:4em;
	margin-bottom:4em;
	margin-left:8em;
	}
	
section.formulario p{
	font-size:1.6em;
	color:#FFFFFF;
	text-align:center;
	margin-bottom:0.2em;
	padding-top:0.2em;
	font-weight:lighter;
	line-height:27px;
	}
	
section.formulario p span{
	font-family: 'Conv_Gotham-Bold';
	font-size:1.1em;
	}

section.formulario #ctcForm, section.formulario #enviarPorMailSolicitaInfo{
	width:99%;
	margin:1em auto;
	text-align:center;
	}
	
.formulario .celda{
	background-color:#FFFFFF;
	font-size:1em;
	display:block;
	width:85%;
	min-height:40px;
	margin:1.1em auto;
	font-family: 'Conv_Gotham-Book';
	color:#6c6e71;
	text-align:left;
	border:0;
	line-height:35px;
	padding-left:4em;
	-webkit-appearance: none;
    -webkit-border-radius: 0;
	border-radius:0;
	}
	
input[placeholder], [placeholder], *[placeholder] {
   color:#6c6e71 !important;
   font-family: 'Conv_Gotham-Book';
   }
  
  ::-webkit-input-placeholder {
    color:#6c6e71;
	font-family: 'Conv_Gotham-Book';
	}
	
*:-moz-placeholder {
    color:#6c6e71;
	font-family: 'Conv_Gotham-Book';
	}
	
*::-moz-placeholder {
    color:#6c6e71;
	font-family: 'Conv_Gotham-Book';
	}
	
*:-ms-input-placeholder {
    color:#6c6e71;
	font-family: 'Conv_Gotham-Book';
	}

.legal{
	font-size:0.9em;
	width:82%;
	margin:0 auto;
	text-align:left;
	color:#FFFFFF;
	margin-top:-0.5em;
	margin-bottom:1.1em;
	}
	
.legal input{
	vertical-align:middle;
	}
	
.legal a{
	color:#FFFFFF;
	}
	
.espacio_btn input{
	cursor:pointer;
	width:83%;
	padding:0.5em 0;
	color: white;
	border: 0;
	font-size:1.5em;
	background-color:#ef8900;
	font-family: 'Conv_Gotham-Book';
	margin-bottom:0.3em;
	-webkit-appearance: none;
    -webkit-border-radius: 0;
	border-radius:0;
	}
	
.espacio_btn input:hover{
	background-color:#d38a28;
	}
	
section.formulario .user-name{
	background-image:url(../img/162/icons1.jpg);
	background-repeat:no-repeat;
	background-position:5px center;
	}
	
section.formulario .user-phone{
	background-image:url(../img/162/icons2.jpg);
	background-repeat:no-repeat;
	background-position:5px center;
	}
	
section.formulario .user-mail{
	background-image:url(../img/162/icons3.jpg);
	background-repeat:no-repeat;
	background-position:5px center;
	}

/*text-content*/

.text-content{
	width:99%;
	max-width:1200px;
	margin:auto;
	text-align:center;
	background-image:url(../img/162/cage.jpg);
	background-repeat:no-repeat;
	background-position:center;
	background-size:auto;
	margin-bottom:2em;
	margin-top:3.5em;
	}
.info-text{
	text-align:center;
	width:50%;
	max-width:420px;
	display:inline-block;
	vertical-align:middle;
	font-size:1.5em;
	padding-top:4.5em;
	padding-bottom:3.5em;
	padding-right:1em;
	}
.info-text p{
	padding-top:1.5em;
	}
.info-text-a p{
	padding-top:1.5em;
	}
.info-text span{
	color:#00335b;
	font-weight:bold;
	}
.info-text-a span{
	color:#0079c8;
	font-weight:bold;
	}
.info-text-a{
	text-align:center;
	width:50%;
	max-width:420px;
	display:inline-block;
	vertical-align:middle;
	padding-left:1.2em;
	font-size:1.5em;
	padding-top:4.3em;
	padding-bottom:4em;
	}
/*footer*/
.conditions{
	padding-top:2em;
	padding-bottom:2em;
	padding-left:1em;
	text-align:left;
	font-size:1em;
	color:#6c6e71;
	background-color:#ffffff;
	}
.conditions a{
	color:#6c6e71;
	}
.footer{
	width:99%;
	background-color:#0079c8;
	margin:2em auto;
	width:100%;
	text-align:center;
	}
.footer-netsales{
	max-width:213px;
	display:inline-block;
	vertical-align:top;
	text-align:left;
	}
.footer-phrase{
	max-width:257px;
	display:inline-block;
	vertical-align:top;
	text-align:right;
	}

/*media-queries*/

@media (max-width: 1195px){
	section.formulario p{
	font-size:1.5em;
	}
	
.formulario .celda{
	font-size:0.9em;
	}
.legal{
	font-size:0.8em;
	}
.espacio_btn input{
	font-size:1.3em;
	}

	
}

@media (max-width: 1144px){
	section.formulario p{
	font-size:1.4em;
	}
}

@media (max-width: 1074px){
	section.formulario{
	width:30%;
	}
	section.formulario p{
	font-size:1.5em;
	}	
}


@media (max-width: 1047px){
	.skeleton{
	width:50%;
	}
	section.formulario{
	margin-left:11em;
	}
}

@media (max-width: 1029px){
	section.formulario p{
	font-size:1.4em;
	}
}

@media (max-width: 984px){
	.skeleton{
	width:30%;
	}
	.photo-web{
	margin-left:9em;
	}

	section.formulario{
	margin-left:22em;
	margin-top:6em;
	}
	section.formulario p{
	font-size:1.3em;
	}
	
.formulario .celda{
	font-size:0.8em;
	}
.legal{
	font-size:0.7em;
	}
.espacio_btn input{
	font-size:1.2em;
	}
.text-content{
	background-size:contain;
	}
}

@media (max-width: 951px){
	.text-content{
	width:100%;
	}
.info-text{
	text-align:center;
	width:50%;
	max-width:390px;
	padding-top:4em;
	padding-bottom:3em;
	}
.info-text p{
	padding-top:1.3em;
	}
.info-text-a p{
	padding-top:1.3em;
	}
.info-text-a{
	text-align:center;
	width:50%;
	max-width:390px;
	padding-top:4em;
	padding-bottom:3em;
	}
	
}

@media (max-width: 918px){
	section.formulario{
	margin-left:21em;
	}
}


/*mvl*/

@media (max-width: 880px){
	section.formulario{
	width:99%;
	margin-left:0;
	margin-top:0;
	margin-bottom:0;
	}
	.small-content{
	background-image:none;
	}
	.skeleton{
	width:99%;
	}
	.photo-web{
		display:none;
	}
	.mvl{
	display:block;
	}
	section.formulario p{
	font-size:1.5em;
	}
	.legal{
	font-size:0.9em;
	}
	.formulario .celda{
	font-size:1em;
	}
	.cabecera img{
	width:20%;
	}
.cabecera p{
	font-size:1.5em;
	}
.conditions{
	font-size:0.9em;
	}
}

@media (max-width: 856px){
	.text-content{
	background-image: none;
	}

.text-content{
	width:70%;
	}
.info-text{
	background-image:url(../img/162/cage-mvl-premium.jpg);
	background-position:top;
	background-repeat:no-repeat;
	background-size:contain;
	width:100%;
	max-width:719px;
	font-size:1.2em;
	border-bottom:20px solid #00335b;
	border-right:1px solid #00335b;
	border-left:1px solid #00335b;
	}
.info-text-phrase{
	width:100%;
	margin:auto;
	padding-top:2em;
	padding-left:0.7em;
	text-align:center;
	}

.info-text-a{
	background-image:url(../img/162/cage-mvl-milenium.jpg);
	background-position:top;
	background-repeat:no-repeat;
	background-size:contain;
	width:100%;
	max-width:719px;
	font-size:1.2em;
	margin-top:3em;
	border-bottom:20px solid #0079c8;
	border-right:1px solid #0079c8;
	border-left:1px solid #0079c8;
	}
	.info-text-a-phrase{
	width:100%;
	margin:auto;
	padding-top:3em;
	padding-left:0em;
	padding-right:0.5em;
	text-align:center;
	}

}


@media (max-width: 612px){
	
.info-text-phrase{
	padding-top:1.5em;
	}
	
	.info-text-a-phrase{
	padding-top:2em;
	}

}

@media (max-width: 591px){
	
.text-content{
	width:90%;
	}

}


@media (max-width: 491px){
	.cabecera p{
	font-size:1.3em;
	}
	.info-text-phrase{
	padding-top:1.2em;
	}
	
	.info-text-a-phrase{
	padding-top:1.3em;
	}
	.text-content{
	width:95%;
	}

}


@media (max-width: 429px){
	section.formulario p{
	font-size:1.3em;
	}
	.legal{
	font-size:0.8em;
	}
	.formulario .celda{
	font-size:0.9em;
	}
	.info-text-phrase{
	padding-top:1em;
	}
	
	.info-text-a-phrase{
	padding-top:1em;
	}

}

@media (max-width: 400px){

section.formulario p{
	font-size:1.2em;
	}
	.legal{
	font-size:0.7em;
	}
	.formulario .celda{
	font-size:0.8em;
	}
.conditions{
	font-size:0.8em;
	}

}
