@charset "UTF-8";

*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	}

img{
	width:99%;
	height:auto;
	}

@font-face {
	font-family: 'Conv_Gotham-Book';
	src: url('../fonts/Gotham-Book.eot');
	src: local('☺'), url('../fonts/Gotham-Book.woff') format('woff'), url('../fonts/Gotham-Book.ttf') format('truetype'), url('../fonts/Gotham-Book.svg') format('svg');
	font-weight: normal;
	font-style: normal;
	}

@font-face {
	font-family: 'Conv_Gotham-Bold';
	src: url('../fonts/Gotham-Bold.eot');
	src: local('☺'), url('../fonts/Gotham-Bold.woff') format('woff'), url('../fonts/Gotham-Bold.ttf') format('truetype'), url('../fonts/Gotham-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
	}

body{
	font-family: 'Conv_Gotham-Book';
	background-color:#FFFFFF;
	}

header{
	width:100%;
	margin-bottom:0.8em;
	}

.cabecera{
	width:99%;
	max-width:1000px;
	margin:auto;
	}

.logo{
	width:13%;
	display:inline-block;
	vertical-align:middle;
	}

.cabecera h1{
	color:#404040;
	display:inline-block;
	vertical-align:middle;
	margin-bottom:0.8em;
	font-size:1.7em;
	margin-left:0.5em;
	}

.basic-content{
	width:100%;
	background-color:#f2f8fc;
	}

.small-content{
	width:99%;
	max-width:1200px;
	margin:auto;
	background-image:url(../img/166/background.jpg);
	background-repeat:no-repeat;
	}

.skeleton{
	width:58%;
	display:inline-block;
	vertical-align: middle;
	padding:1.5em 0;
	margin-left:3em;
	}

.web{
	display:block;
	}

.mvl{
	display:none;
	}

/*FORMULARIO*/

section.formulario{
	width:28%;
	display:inline-block;
	text-align:center;
	vertical-align: middle;
	margin-left:2.5em;
	}
	
section.formulario img{
	width:100%;
	margin-bottom:-0.5em;
	}
	
section.formulario p{
	margin-top:-0.6em;
	font-size:1.1em;
	color:#FFFFFF;
	line-height:20px;
	background-color:#ec1781;
	padding:0.7em 0;
	}
	
section.formulario p span{
	font-family: 'Conv_Gotham-Book';
	font-size:0.85em;
	}
	
section.formulario #enviarPorMailSolicitaInfo{
	background-color:#FFFFFF;
	width:100%;
	margin:.2em auto;
	text-align:center;
	padding:.4em 0;
	border:4px solid #ec1781;
	}


.formulario .celda{
	background-color:#FFF;
	font-size:.9em;
	display:block;
	width:84%;
	min-height:35px;
	margin:auto;
	margin-top:0.9em;
	padding-left:2.5em;
	border:1px solid #ec1781;
	color:#857f78;
	text-align:left;
	-webkit-appearance: none;
    -webkit-border-radius: 0;
	border-radius:0;
	}

.formulario .celda:focus{
	outline:0px;
	}

.legal{
	font-size:.7em;
	font-family: 'Conv_Gotham-Book';
	width:84%;
	text-align:left;
	color:#000000;
	margin:0.2em auto;
	}
	
.legal input{
	vertical-align:top;
	}
	
.legal a{
	color:#000000;
	}
	
.espacio_btn{
	width:90%;
	text-align:center;
	margin:.5em auto;
	}	
	
.espacio_btn input{
	cursor:pointer;
	background-color:#EF8900;
	width:92%;
	padding:.5em 0;
	font-family: 'Conv_Gotham-Book';
	color: white;
	font-size: 1.5em;
	margin:.2em auto;
	border:0;
	-webkit-appearance: none;
    -webkit-border-radius: 0;
	border-radius:0;
	}

input[placeholder], [placeholder], *[placeholder]{
   color:#000000 !important;
   }
  
  ::-webkit-input-placeholder{
   
    color:#000000;
	}
	
*:-moz-placeholder{
   
    color:#000000;
	}
	
*::-moz-placeholder{
    
    color:#000000;
	}
	
*:-ms-input-placeholder{
    
    color:#000000;
	}

section.formulario .name{
	background-image:url(../img/166/user-form.png);
	background-repeat:no-repeat;
	}

section.formulario .phone{
	background-image:url(../img/166/phone-form.png);
	background-repeat:no-repeat;
	}

section.formulario .mail{
	background-image:url(../img/166/mail-form.png);
	background-repeat:no-repeat;
	}

/*TEXT-CONTENT*/

.text-content{
	width:99%;
	max-width:1200px;
	margin:2em auto;
	}

.box1 h1{
	text-align:center;
	font-size:1.8em;
	background-color:#f2f8fc;
	color:#0079c8;
	}

.box1 h1 img{
 	max-width:80px;
	vertical-align: middle;
	}

.box1 p{
	color:#000000;
	font-size:1.3em;
	margin-top:0.8em;
	}


.box2 h1{
	text-align:center;
	font-size:1.8em;
	background-color:#f2f8fc;
	color:#0079c8;
	margin-top:1.3em;
	}

.box2 h1 img{
	max-width:80px;
	vertical-align:middle;
	}

.box2 p{
	color:#000000;
	font-size:1.3em;
	margin-top:0.8em;
	}

.box3 h1{
	text-align:center;
	font-size:1.8em;
	background-color:#f2f8fc;
	color:#0079c8;
	margin-top:1.3em;
	}

.box3 h1 img{
	max-width:80px;
	vertical-align:middle;
	}

.box3 p{
	color:#000000;
	font-size:1.3em;
	margin-top:0.8em;
	}

.blue{
	color:#0079c8;
	}

.legal-prom{
	margin-top:4em;
	font-size:0.9em;
	}
	
footer{
	background-color:#0078cf;
	width:100%;
	padding:.3em 0;
	text-align:center;
	margin:0 auto;
	}
	
footer div{
	max-width:850px;
	vertical-align:middle;
	margin:0 auto;
	min-height:50px;
	}
		
footer div img{
	max-width:230px;
	float:right;
	}
	
.agente{
	max-width:200px;
	float:left;
	}

.lado{
	padding-top:0.5em;
	}

/*RESPONSIVE*/

@media (max-width:1215px){

.box1 p{
	padding-left:1em;
	}
	
.box2 p{
	padding-left:1em;
	}
	
.box3 p{
	padding-left:1em;
	}
	
.legal-prom{
	padding-left:1em;
	}
	}

@media (max-width:1170px){
	
section.formulario p{
	font-size:0.9em;
	line-height:17px;
	}
	
.espacio_btn input{
	font-size:1.3em;
	}
	}

@media (max-width:1000px){
	
section.formulario{
	width:31%;
	}
	}

@media (max-width:893px){
	
section.formulario{
	width:33%;
	margin-left:1em;
	}
	}

@media (max-width:840px){
	
header{
	display:none;
	}
	
section.formulario{
	width:99%;
	margin-left:0;
	margin-top:-0.3em;
	}
	
section.formulario p{
	font-size:1.1em;
	line-height:21px;
	}
	
.espacio_btn input{
	font-size:1.6em;
	}
	
.basic-content{
	background-color:#FFFFFF;
	}
	
.small-content{
	background-image:none;
	}
	
.skeleton{
	width:100%;
	margin-left:0;
	padding:0;
	}
	
.web{
	display:none;
	}
	
.mvl{
	display:block;
	}
	
.text-content{
	text-align:center;
	}
	
.box1 p{
	padding-left:0.5em;
	font-size:1em;
	}
	
.box2 p{
	padding-left:0.5em;
	font-size:1em;
	}
	
.box3 p{
	padding-left:0.5em;
	font-size:1em;
	}
	
.box1 h1{
	font-size:1.4em;
	}
	
.box2 h1{
	font-size:1.4em;
	}
	
.box3 h1{
	font-size:1.4em;
	}
	}

@media (max-width:525px){
	
.box1 h1 img{
	max-width: none;
	width:15%;
	}
	
.box2 h1 img{
	max-width: none;
	width:15%;
	}
	
.box3 h1 img{
	max-width: none;
	width:15%;
	}
	}

@media (max-width:447px){
	
section.formulario p{
	font-size:1em;
	}
	
.espacio_btn input{
	font-size:1.3em;
	}
	
footer div{
	min-height:85px;
	text-align:center;
	}
	
.lado{
	padding-top:0px;
	}
	}


