@charset "UTF-8";

*{
	padding:0;
	margin:0;
	box-sizing:border-box;
	}
	
img{
	width: 100%;
	height:auto;
	}

body{
	font-family: 'Gotham',arial;
	background-color:#FFFFFF;
	}

@font-face {
	font-family: 'Conv_GOTHAM-BOOK';
	src: url('../fonts/Gotham-Book.eot');
	src: local('☺'), url('../fonts/Gotham-Book.woff') format('woff'), url('../fonts/Gotham-Book.ttf') format('truetype'), url('../fonts/Gotham-Book.svg') format('svg');
	font-weight: normal;
	font-style: normal;
	}

@font-face {
	font-family: 'Conv_GOTHAM-BOLD';
	src: url('../fonts/Gotham-Bold.eot');
	src: local('☺'), url('../fonts/Gotham-Bold.woff') format('woff'), url('../fonts/Gotham-Bold.ttf') format('truetype'), url('../fonts/Gotham-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
	}


header{
	width:100%;
	background-color:#FFFFFF;
	border-bottom:2px solid #0079c8;
	}

.cabecera{
	max-width:960px;
	width:99%;
	margin:auto;
	}
	
.logo-prin{
	max-width:64px;
	width:99%;
	margin-top:-0.1em;
	display:inline-block;
	vertical-align:middle;
	}
	
section.cabecera h1{
	display:inline-block;
	vertical-align:middle;
	padding-left:0.8em;
	color:#636364;
	font-size:1.5em;
	font-family: 'Conv_GOTHAM-BOOK';
	
	}
	
.basic-content{
	width:100%;
	background-image:url(../img/103/background.jpg);
	background-repeat:no-repeat;
	}

.small-content{
	max-width:1100px;
	width:99%;
	margin:auto;
	}	
	
.skeleton{
	width:70%;
	display:inline-block;
	vertical-align:middle;
	}
	
section.skeleton h1{
	color:#0079c8;
	font-family: 'Conv_GOTHAM-BOLD';
	font-size:1.4em;
	padding-top:0.5em;
	font-weight:bold;
	}
	
.photo1{
	width:48%;
	display:inline-block;
	vertical-align:middle;
	}

.container-box{
	visibility: hidden;
	}
	
.container-mov{
	display:none;
	}	
	
.container-mov2{
	display:none;
	}
	
/*EFECTO FLIP*/
.container-tablet{
	width:20%;
	display:inline-block;
	vertical-align:middle;
	visibility: hidden;
	}

/*EFECTO FLIP START*/
/* Contenedor - Asignamos perspectiva */

.flip-container{
  	-webkit-perspective: 1000;
  	-moz-perspective: 1000;
  	-ms-perspective: 1000;
  	perspective: 1000;
  	background-image: url(../img/103/tablet2.png);
  	width:279px;
  	height:482px;
  	background-repeat:no-repeat;
 
 /* Compatibilidad Firefox -IE */
  	-moz-transform-style: preserve-3d;
  	-moz-transform-style: perspective(1000px);
  	-ms-transform-style: preserve-3d;
  	-ms-transform-style: perspective(1000px);
	}

.flip-container, .front, .back{
  	width:279px;
  	height:476px;
  	margin: 0 auto;
	}

.flipper{
  	-webkit-transition: 0.6s;
  	-webkit-transform-style: preserve-3d;
	-moz-transition: 0.6s;
  	-moz-transform-style: perspective(1000px);
  	-moz-transform-style: preserve-3d;
	-ms-transition: 0.6s;
  	-ms-transform-style: preserve-3d;
	transition: 0.6s;
  	transform-style: preserve-3d;
	position: relative;
  	}

.front, .back{
  	-webkit-backface-visibility: hidden;
 	-moz-backface-visibility: hidden;
  	-ms-backface-visibility: hidden;
  	backface-visibility: hidden;
	-webkit-transition: 0.6s;
  	-webkit-transform-style: preserve-3d;
	-moz-transition: 0.6s;
  	-moz-transform-style: preserve-3d;
	-o-transition: 0.6s;
  	-o-transform-style: preserve-3d;
	-ms-transition: 0.6s;
  	-ms-transform-style: preserve-3d;
	transition: 0.6s;
  	transform-style: preserve-3d;
	position: absolute;
  	top: 0;
  	left: 0;
  	}

.front{
  	-webkit-transform-style: rotateY(0deg);
  	-moz-transform-style: rotateY(0deg);
 	-ms-transform-style: rotateY(0deg);
  	z-index: 2;
 	background-image: url(../img/103/pantallas1.jpg);
 	background-repeat:no-repeat;
  	background-position:center;
	}

.back{
   	-webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
	background-image: url(../img/103/pantallas2.png);
  	background-repeat:no-repeat;
  	background-position:center;
	}

/* Hover - Toggle */
.flip-container:hover .front,
.flip-container.hover .front{
  	-webkit-transform: rotateY(180deg);
 	-moz-transform: rotateY(180deg);
  	-ms-transform: rotateY(180deg);
  	transform: rotateY(180deg);
	}

.flip-container:hover .back,
.flip-container.hover .back{
  	-webkit-transform: rotateY(0deg);
  	-moz-transform: rotateY(0deg);
 	-ms-transform: rotateY(0deg);
  	transform: rotateY(0deg);
	}
	
/*EFECTO FLIP END*/


/*EFECTO FLIP9 START*/
/* Contenedor - Asignamos perspectiva */

.flip-container9{
  	-webkit-perspective: 1000;
  	-moz-perspective: 1000;
  	-ms-perspective: 1000;
  	perspective: 1000;
  	background-image:url(../img/103/tablet-mov.png);
  	width:199px;
  	height:344px;
  	background-repeat:no-repeat;
 
 /* Compatibilidad Firefox -IE */
  	-moz-transform-style: preserve-3d;
  	-moz-transform-style: perspective(1000px);
  	-ms-transform-style: preserve-3d;
  	-ms-transform-style: perspective(1000px);
	}

.flip-container9, .front9, .back9{
  	width:199px;
  	height:344px;
  	margin: 0 auto;
	}

.flipper9{
  	-webkit-transition: 0.6s;
  	-webkit-transform-style: preserve-3d;
	-moz-transition: 0.6s;
  	-moz-transform-style: perspective(1000px);
  	-moz-transform-style: preserve-3d;
	-ms-transition: 0.6s;
  	-ms-transform-style: preserve-3d;
	transition: 0.6s;
  	transform-style: preserve-3d;
	position: relative;
  	}

.front9, .back9{
	-webkit-backface-visibility: hidden;
 	-moz-backface-visibility: hidden;
  	-ms-backface-visibility: hidden;
  	backface-visibility: hidden;
	-webkit-transition: 0.6s;
  	-webkit-transform-style: preserve-3d;
	-moz-transition: 0.6s;
  	-moz-transform-style: preserve-3d;
	-o-transition: 0.6s;
  	-o-transform-style: preserve-3d;
	-ms-transition: 0.6s;
  	-ms-transform-style: preserve-3d;
	transition: 0.6s;
  	transform-style: preserve-3d;
	position: absolute;
  	top: 0;
  	left: 0;
  	}

.front9{
  	-webkit-transform-style: rotateY(0deg);
  	-moz-transform-style: rotateY(0deg);
 	-ms-transform-style: rotateY(0deg);
  	z-index: 2;
  	background-image: url(../img/103/pantalla-mov1.png);
 	background-repeat:no-repeat;
  	background-position:center;
	}

.back9{
   	-webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
	background-image: url(../img/103/pantalla-mov2.jpg);
  	background-repeat:no-repeat;
  	background-position:center;
	}

/* Hover - Toggle */
.flip-container9:hover .front9,
.flip-container9.hover .front9{
  	-webkit-transform: rotateY(180deg);
 	-moz-transform: rotateY(180deg);
  	-ms-transform: rotateY(180deg);
  	transform: rotateY(180deg);
	}

.flip-container9:hover .back9,
.flip-container9.hover .back9{
  	-webkit-transform: rotateY(0deg);
  	-moz-transform: rotateY(0deg);
 	-ms-transform: rotateY(0deg);
  	transform: rotateY(0deg);
	}
	
/*EFECTO FLIP END*/


/*EFECTO FLIP10 START*/
/* Contenedor - Asignamos perspectiva */

.flip-container10{
  	-webkit-perspective: 1000;
  	-moz-perspective: 1000;
  	-ms-perspective: 1000;
  	perspective: 1000;
  	background-image:url(../img/103/tablet-mov.png);
  	width:199px;
  	height:344px;
  	background-repeat:no-repeat;
 
 /* Compatibilidad Firefox -IE */
  	-moz-transform-style: preserve-3d;
  	-moz-transform-style: perspective(1000px);
  	-ms-transform-style: preserve-3d;
  	-ms-transform-style: perspective(1000px);
	}

.flip-container10, .front10, .back10{
  	width:199px;
  	height:344px;
  	margin: 0 auto;
	}

.flipper10{
  	-webkit-transition: 0.6s;
  	-webkit-transform-style: preserve-3d;
	-moz-transition: 0.6s;
  	-moz-transform-style: perspective(1000px);
  	-moz-transform-style: preserve-3d;
	-ms-transition: 0.6s;
  	-ms-transform-style: preserve-3d;
	transition: 0.6s;
  	transform-style: preserve-3d;
	position: relative;
  	}

.front10, .back10{
  	-webkit-backface-visibility: hidden;
 	-moz-backface-visibility: hidden;
  	-ms-backface-visibility: hidden;
  	backface-visibility: hidden;
	-webkit-transition: 0.6s;
  	-webkit-transform-style: preserve-3d;
	-moz-transition: 0.6s;
  	-moz-transform-style: preserve-3d;
	-o-transition: 0.6s;
  	-o-transform-style: preserve-3d;
	-ms-transition: 0.6s;
  	-ms-transform-style: preserve-3d;
	transition: 0.6s;
  	transform-style: preserve-3d;
	position: absolute;
  	top: 0;
  	left: 0;
  	}

.front10{
  	-webkit-transform-style: rotateY(0deg);
  	-moz-transform-style: rotateY(0deg);
 	-ms-transform-style: rotateY(0deg);
  	z-index: 2;
 	background-image: url(../img/103/pantalla-mov1.png);
 	background-repeat:no-repeat;
  	background-position:center;
	}

.back10{
   	-webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
	background-image: url(../img/103/pantallas2-mov.jpg);
  	background-repeat:no-repeat;
  	background-position:center;
	}

/* Hover - Toggle */
.flip-container10:hover .front10,
.flip-container10.hover .front10{
  	-webkit-transform: rotateY(180deg);
 	-moz-transform: rotateY(180deg);
  	-ms-transform: rotateY(180deg);
  	transform: rotateY(180deg);
	}

.flip-container10:hover .back10,
.flip-container10.hover .back10{
  	-webkit-transform: rotateY(0deg);
  	-moz-transform: rotateY(0deg);
 	-ms-transform: rotateY(0deg);
  	transform: rotateY(0deg);
	}
	
/*EFECTO FLIP10 END*/


section.formulario{
	width:22%;
	background-color:#00335b;
	text-align:center;
	display:inline-block;
	vertical-align:middle;
	margin-top:3em;
	margin-left:-5em;
	}
	
section.formulario p{
	padding-top:0.7em;
	font-size:1.9em;
	color:#FFFFFF;
	text-align:center;
	font-family: 'Conv_GOTHAM-BOOK';
	}

section.formulario #ctcForm, section.formulario #enviarPorMailSolicitaInfo{
	width:99%;
	margin:1em auto;
	text-align:center;
	padding: .1em 0 .2em 0;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	min-height:360px;
	}
	
.formulario .celda{
	background-color:#FFFFFF;
	font-size:.9em;
	display:block;
	width:80%;
	min-height:30px;
	margin:2em auto;
	color:#585254;
	text-align:left;
	font-weight:200;
	}

.legal{
	font-size:.53em;
	width:92%;
	margin:0 auto;
	text-align:center;
	color:#FFFFFF;
	margin-top:-1.2em;
	margin-bottom:2em;
	font-family: 'Conv_GOTHAM-BOOK';
	}
	
.legal input{
	vertical-align:top;
	}
	
.legal a{
	color:#FFFFFF;
	}
	
.espacio_btn{
	width:90%;
	margin:.4em auto;
	}	
	
.espacio_btn input{
	cursor:pointer;
	width:90%;
	padding:1.3em 0;
	color: white;
	border: 0;
	font-size:1em;
	background-color:#ff8800;
	margin-bottom:0.8em;
	margin-top:0.5em;
	font-family: 'Conv_GOTHAM-BOLD';
	}
	
/**contenido texto**/
	
.text_content{
	width:95%;
	max-width:1100px;
	margin:auto;
	}

.text_content h1{
	font-size:1.2em;
	color:#0079c8;
	font-family: 'Conv_GOTHAM-BOLD';
	margin-top:1.5em;
	}
	
/*CAJA2 START*/
	
.box1{
	width:30%;
	display:inline-block;
	vertical-align:middle;
	margin-top:2em;
	}
	
/*EFECTO FLIP START*/
/* Contenedor - Asignamos perspectiva */

.flip-container2{
  	-webkit-perspective: 1000;
  	-moz-perspective: 1000;
  	-ms-perspective: 1000;
  	perspective: 1000;
  	background-image: url(../img/103/fondo.jpg);
  	width:296px;
  	height:175px;
  	background-repeat:no-repeat;
 
 /* Compatibilidad Firefox -IE */
  	-moz-transform-style: preserve-3d;
  	-moz-transform-style: perspective(1000px);
  	-ms-transform-style: preserve-3d;
  	-ms-transform-style: perspective(1000px);
	}

.flip-container2, .front2, .back2{
  	width:296px;
  	height:175px;
  	margin: 0 auto;
	}

.flipper2{
  	-webkit-transition: 0.6s;
  	-webkit-transform-style: preserve-3d;
	-moz-transition: 0.6s;
  	-moz-transform-style: perspective(1000px);
  	-moz-transform-style: preserve-3d;
	-ms-transition: 0.6s;
  	-ms-transform-style: preserve-3d;
	transition: 0.6s;
  	transform-style: preserve-3d;
	position: relative;
  	}

.front2, .back2{
  	-webkit-backface-visibility: hidden;
 	-moz-backface-visibility: hidden;
  	-ms-backface-visibility: hidden;
  	backface-visibility: hidden;
	-webkit-transition: 0.6s;
  	-webkit-transform-style: preserve-3d;
	-moz-transition: 0.6s;
  	-moz-transform-style: preserve-3d;
	-o-transition: 0.6s;
  	-o-transform-style: preserve-3d;
	-ms-transition: 0.6s;
  	-ms-transform-style: preserve-3d;
	transition: 0.6s;
  	transform-style: preserve-3d;
	position: absolute;
  	top: 0;
  	left: 0;
  	}

.front2{
  	-webkit-transform-style: rotateY(0deg);
  	-moz-transform-style: rotateY(0deg);
 	-ms-transform-style: rotateY(0deg);
  	z-index: 2;
  
  	background-image: url(../img/103/white1.png);
 	background-repeat:no-repeat;
  	background-position:center;
	}

.back2{
   	-webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);

  
  	background-image: url(../img/103/blue1.png);
  	background-repeat:no-repeat;
  	background-position:center;
	}

/* Hover - Toggle */
.flip-container2:hover .front2,
.flip-container2.hover .front2{
  	-webkit-transform: rotateY(180deg);
 	-moz-transform: rotateY(180deg);
  	-ms-transform: rotateY(180deg);
  	transform: rotateY(180deg);
	}

.flip-container2:hover .back2,
.flip-container2.hover .back2{
  	-webkit-transform: rotateY(0deg);
  	-moz-transform: rotateY(0deg);
 	-ms-transform: rotateY(0deg);
  	transform: rotateY(0deg);
	}
	
/*EFECTO FLIP END*/

/*CAJA2 END*/
	
	
/*CAJA3 START*/
	
.box3{
	width:30%;
	display:inline-block;
	vertical-align:middle;
	margin-top:2em;
	}
	
/*EFECTO FLIP START*/
/* Contenedor - Asignamos perspectiva */

.flip-container3{
  	-webkit-perspective: 1000;
  	-moz-perspective: 1000;
  	-ms-perspective: 1000;
  	perspective: 1000;
  	background-image: url(../img/103/fondo.jpg);
  	width:296px;
  	height:175px;
  	background-repeat:no-repeat;
 
 /* Compatibilidad Firefox -IE */
  	-moz-transform-style: preserve-3d;
  	-moz-transform-style: perspective(1000px);
  	-ms-transform-style: preserve-3d;
  	-ms-transform-style: perspective(1000px);
	}

.flip-container3, .front3, .back3{
  	width:296px;
  	height:175px;
  	margin: 0 auto;
	}

.flipper3{
  	-webkit-transition: 0.6s;
  	-webkit-transform-style: preserve-3d;
	-moz-transition: 0.6s;
  	-moz-transform-style: perspective(1000px);
  	-moz-transform-style: preserve-3d;
	-ms-transition: 0.6s;
  	-ms-transform-style: preserve-3d;
	transition: 0.6s;
  	transform-style: preserve-3d;
	position: relative;
  	}

.front3, .back3{
  	-webkit-backface-visibility: hidden;
 	-moz-backface-visibility: hidden;
  	-ms-backface-visibility: hidden;
  	backface-visibility: hidden;
	-webkit-transition: 0.6s;
  	-webkit-transform-style: preserve-3d;
	-moz-transition: 0.6s;
  	-moz-transform-style: preserve-3d;
	-o-transition: 0.6s;
  	-o-transform-style: preserve-3d;
	-ms-transition: 0.6s;
  	-ms-transform-style: preserve-3d;
	transition: 0.6s;
  	transform-style: preserve-3d;
	position: absolute;
  	top: 0;
  	left: 0;
  	}

.front3{
  	-webkit-transform-style: rotateY(0deg);
  	-moz-transform-style: rotateY(0deg);
 	-ms-transform-style: rotateY(0deg);
  	z-index: 2;
  	background-image: url(../img/103/white2.png);
 	background-repeat:no-repeat;
  	background-position:center;
	}

.back3{
   	-webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
	background-image: url(../img/103/blue2.png);
  	background-repeat:no-repeat;
  	background-position:center;
	}

/* Hover - Toggle */
.flip-container3:hover .front3,
.flip-container3.hover .front3{
  	-webkit-transform: rotateY(180deg);
 	-moz-transform: rotateY(180deg);
  	-ms-transform: rotateY(180deg);
  	transform: rotateY(180deg);
	}

.flip-container3:hover .back3,
.flip-container3.hover .back3{
  	-webkit-transform: rotateY(0deg);
  	-moz-transform: rotateY(0deg);
 	-ms-transform: rotateY(0deg);
  	transform: rotateY(0deg);
	}
	
/*EFECTO FLIP END*/

/*CAJA3 END*/


/*CAJA4 START*/
	
.box4{
	width:30%;
	display:inline-block;
	vertical-align:middle;
	margin-top:2em;
	}
	
/*EFECTO FLIP START*/
/* Contenedor - Asignamos perspectiva */

.flip-container4{
  	-webkit-perspective: 1000;
  	-moz-perspective: 1000;
  	-ms-perspective: 1000;
  	perspective: 1000;
  	background-image: url(../img/103/fondo.jpg);
  	width:296px;
  	height:175px;
  	background-repeat:no-repeat;
 
 /* Compatibilidad Firefox -IE */
  	-moz-transform-style: preserve-3d;
  	-moz-transform-style: perspective(1000px);
  	-ms-transform-style: preserve-3d;
  	-ms-transform-style: perspective(1000px);
	}

.flip-container4, .front4, .back4{
  	width:296px;
  	height:175px;
  	margin: 0 auto;
	}

.flipper4{
  	-webkit-transition: 0.6s;
  	-webkit-transform-style: preserve-3d;
	-moz-transition: 0.6s;
  	-moz-transform-style: perspective(1000px);
  	-moz-transform-style: preserve-3d;
	-ms-transition: 0.6s;
  	-ms-transform-style: preserve-3d;
	transition: 0.6s;
  	transform-style: preserve-3d;
	position: relative;
  	}

.front4, .back4{
  	-webkit-backface-visibility: hidden;
 	-moz-backface-visibility: hidden;
  	-ms-backface-visibility: hidden;
  	backface-visibility: hidden;
	-webkit-transition: 0.6s;
  	-webkit-transform-style: preserve-3d;
	-moz-transition: 0.6s;
  	-moz-transform-style: preserve-3d;
	-o-transition: 0.6s;
  	-o-transform-style: preserve-3d;
	-ms-transition: 0.6s;
  	-ms-transform-style: preserve-3d;
	transition: 0.6s;
  	transform-style: preserve-3d;
	position: absolute;
  	top: 0;
  	left: 0;
  	}

.front4{
  	-webkit-transform-style: rotateY(0deg);
  	-moz-transform-style: rotateY(0deg);
 	-ms-transform-style: rotateY(0deg);
  	z-index: 2;
  	background-image: url(../img/103/white3.png);
 	background-repeat:no-repeat;
  	background-position:center;
	}

.back4{
   	-webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
	background-image: url(../img/103/blue3.png);
  	background-repeat:no-repeat;
  	background-position:center;
	}

/* Hover - Toggle */
.flip-container4:hover .front4,
.flip-container4.hover .front4{
  	-webkit-transform: rotateY(180deg);
 	-moz-transform: rotateY(180deg);
  	-ms-transform: rotateY(180deg);
  	transform: rotateY(180deg);
	}

.flip-container4:hover .back4,
.flip-container4.hover .back4{
  	-webkit-transform: rotateY(0deg);
  	-moz-transform: rotateY(0deg);
 	-ms-transform: rotateY(0deg);
  	transform: rotateY(0deg);
	}
	
/*EFECTO FLIP END*/

/*CAJA4 END*/



/*CAJA5 START*/
	
.box5{
	width:30%;
	display:inline-block;
	vertical-align:middle;
	margin-top:2em;
	}
	
/*EFECTO FLIP START*/
/* Contenedor - Asignamos perspectiva */

.flip-container5{
  	-webkit-perspective: 1000;
  	-moz-perspective: 1000;
  	-ms-perspective: 1000;
  	perspective: 1000;
  	background-image: url(../img/103/fondo.jpg);
  	width:296px;
  	height:175px;
  	background-repeat:no-repeat;
 
 /* Compatibilidad Firefox -IE */
  	-moz-transform-style: preserve-3d;
  	-moz-transform-style: perspective(1000px);
  	-ms-transform-style: preserve-3d;
  	-ms-transform-style: perspective(1000px);
	}

.flip-container5, .front5, .back5{
  	width:296px;
  	height:175px;
  	margin: 0 auto;
	}

.flipper5{
  	-webkit-transition: 0.6s;
  	-webkit-transform-style: preserve-3d;
	-moz-transition: 0.6s;
  	-moz-transform-style: perspective(1000px);
  	-moz-transform-style: preserve-3d;
	-ms-transition: 0.6s;
  	-ms-transform-style: preserve-3d;
	transition: 0.6s;
  	transform-style: preserve-3d;
	position: relative;
  	}

.front5, .back5{
  	-webkit-backface-visibility: hidden;
 	-moz-backface-visibility: hidden;
  	-ms-backface-visibility: hidden;
  	backface-visibility: hidden;
	-webkit-transition: 0.6s;
  	-webkit-transform-style: preserve-3d;
	-moz-transition: 0.6s;
  	-moz-transform-style: preserve-3d;
	-o-transition: 0.6s;
  	-o-transform-style: preserve-3d;
	-ms-transition: 0.6s;
  	-ms-transform-style: preserve-3d;
	transition: 0.6s;
  	transform-style: preserve-3d;
	position: absolute;
  	top: 0;
  	left: 0;
  	}

.front5{
  	-webkit-transform-style: rotateY(0deg);
  	-moz-transform-style: rotateY(0deg);
 	-ms-transform-style: rotateY(0deg);
  	z-index: 2;
  	background-image: url(../img/103/white4.png);
 	background-repeat:no-repeat;
  	background-position:center;
	}

.back5{
   	-webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
	background-image: url(../img/103/blue4.png);
  	background-repeat:no-repeat;
  	background-position:center;
	}

/* Hover - Toggle */
.flip-container5:hover .front5,
.flip-container5.hover .front5{
  	-webkit-transform: rotateY(180deg);
 	-moz-transform: rotateY(180deg);
  	-ms-transform: rotateY(180deg);
  	transform: rotateY(180deg);
	}

.flip-container5:hover .back5,
.flip-container5.hover .back5{
  	-webkit-transform: rotateY(0deg);
  	-moz-transform: rotateY(0deg);
 	-ms-transform: rotateY(0deg);
  	transform: rotateY(0deg);
	}
	
/*EFECTO FLIP END*/

/*CAJA5 END*/



/*CAJA6 START*/
	
.box6{
	width:30%;
	display:inline-block;
	vertical-align:middle;
	margin-top:2em;
	}
	
/*EFECTO FLIP START*/
/* Contenedor - Asignamos perspectiva */

.flip-container6{
  	-webkit-perspective: 1000;
  	-moz-perspective: 1000;
  	-ms-perspective: 1000;
  	perspective: 1000;
  	background-image: url(../img/103/fondo.jpg);
  	width:296px;
  	height:175px;
  	background-repeat:no-repeat;
 
 /* Compatibilidad Firefox -IE */
  	-moz-transform-style: preserve-3d;
  	-moz-transform-style: perspective(1000px);
  	-ms-transform-style: preserve-3d;
  	-ms-transform-style: perspective(1000px);
	}

.flip-container6, .front6, .back6{
  	width:296px;
  	height:175px;
  	margin: 0 auto;
	}

.flipper6{
  	-webkit-transition: 0.6s;
  	-webkit-transform-style: preserve-3d;
	-moz-transition: 0.6s;
  	-moz-transform-style: perspective(1000px);
  	-moz-transform-style: preserve-3d;
	-ms-transition: 0.6s;
  	-ms-transform-style: preserve-3d;
	transition: 0.6s;
  	transform-style: preserve-3d;
	position: relative;
  	}

.front6, .back6{
  	-webkit-backface-visibility: hidden;
 	-moz-backface-visibility: hidden;
  	-ms-backface-visibility: hidden;
  	backface-visibility: hidden;
	-webkit-transition: 0.6s;
  	-webkit-transform-style: preserve-3d;
	-moz-transition: 0.6s;
  	-moz-transform-style: preserve-3d;
	-o-transition: 0.6s;
  	-o-transform-style: preserve-3d;
	-ms-transition: 0.6s;
  	-ms-transform-style: preserve-3d;
	transition: 0.6s;
  	transform-style: preserve-3d;
	position: absolute;
  	top: 0;
  	left: 0;
  	}

.front6{
  	-webkit-transform-style: rotateY(0deg);
  	-moz-transform-style: rotateY(0deg);
 	-ms-transform-style: rotateY(0deg);
  	z-index: 2;
  	background-image: url(../img/103/white5.png);
 	background-repeat:no-repeat;
  	background-position:center;
	}

.back6{
   	-webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
	background-image: url(../img/103/blue5.png);
  	background-repeat:no-repeat;
  	background-position:center;
	}

/* Hover - Toggle */
.flip-container6:hover .front6,
.flip-container6.hover .front6{
  	-webkit-transform: rotateY(180deg);
 	-moz-transform: rotateY(180deg);
  	-ms-transform: rotateY(180deg);
  	transform: rotateY(180deg);
	}

.flip-container6:hover .back6,
.flip-container6.hover .back6{
  	-webkit-transform: rotateY(0deg);
  	-moz-transform: rotateY(0deg);
 	-ms-transform: rotateY(0deg);
  	transform: rotateY(0deg);
	}
	
/*EFECTO FLIP END*/

/*CAJA6 END*/	


/*CAJA7 START*/
	
.box7{
	width:30%;
	display:inline-block;
	vertical-align:middle;
	margin-top:2em;
	}
	
/*EFECTO FLIP START*/
/* Contenedor - Asignamos perspectiva */

.flip-container7{
  	-webkit-perspective: 1000;
  	-moz-perspective: 1000;
  	-ms-perspective: 1000;
  	perspective: 1000;
  	background-image: url(../img/103/fondo.jpg);
  	width:296px;
  	height:175px;
  	background-repeat:no-repeat;
 
 /* Compatibilidad Firefox -IE */
  	-moz-transform-style: preserve-3d;
  	-moz-transform-style: perspective(1000px);
  	-ms-transform-style: preserve-3d;
  	-ms-transform-style: perspective(1000px);
	}

.flip-container7, .front7, .back7{
  	width:296px;
  	height:175px;
  	margin: 0 auto;
	}

.flipper7{
  	-webkit-transition: 0.6s;
  	-webkit-transform-style: preserve-3d;
	-moz-transition: 0.6s;
  	-moz-transform-style: perspective(1000px);
  	-moz-transform-style: preserve-3d;
	-ms-transition: 0.6s;
  	-ms-transform-style: preserve-3d;
	transition: 0.6s;
  	transform-style: preserve-3d;
	position: relative;
  	}

.front7, .back7{
  	-webkit-backface-visibility: hidden;
 	-moz-backface-visibility: hidden;
  	-ms-backface-visibility: hidden;
  	backface-visibility: hidden;
	-webkit-transition: 0.6s;
  	-webkit-transform-style: preserve-3d;
	-moz-transition: 0.6s;
  	-moz-transform-style: preserve-3d;
	-o-transition: 0.6s;
  	-o-transform-style: preserve-3d;
	-ms-transition: 0.6s;
  	-ms-transform-style: preserve-3d;
	transition: 0.6s;
  	transform-style: preserve-3d;
	position: absolute;
  	top: 0;
  	left: 0;
  	}

.front7{
  	-webkit-transform-style: rotateY(0deg);
  	-moz-transform-style: rotateY(0deg);
 	-ms-transform-style: rotateY(0deg);
  	z-index: 2;
  	background-image: url(../img/103/white6.png);
 	background-repeat:no-repeat;
  	background-position:center;
	}

.back7{
   	-webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
	background-image: url(../img/103/blue6.png);
  	background-repeat:no-repeat;
  	background-position:center;
	}

/* Hover - Toggle */
.flip-container7:hover .front7,
.flip-container7.hover .front7{
  	-webkit-transform: rotateY(180deg);
 	-moz-transform: rotateY(180deg);
  	-ms-transform: rotateY(180deg);
  	transform: rotateY(180deg);
	}

.flip-container7:hover .back7,
.flip-container7.hover .back7{
  	-webkit-transform: rotateY(0deg);
  	-moz-transform: rotateY(0deg);
 	-ms-transform: rotateY(0deg);
  	transform: rotateY(0deg);
	}
	
/*EFECTO FLIP END*/

/*CAJA7 END*/	


.letra_pequena{
	text-align:left;
	font-size:.8em;
	margin-top:2.5em;
	color:#636466;
	margin-bottom:2.5em;
	}

.letra_pequena a{
	color:#636466;
	}
	
footer{
	background-color:#0078cf;
	width:100%;
	padding:.3em 0;
	text-align:center;
	margin:0 auto;
	}
	
footer div{
	max-width:850px;
	vertical-align:middle;
	margin:0 auto;
	min-height:50px;
	}
		
footer div img{
	max-width:230px;
	float:right;
	}
	
.agente{
	max-width:200px;
	float:left;
	}

.lado{
	padding-top:0.5em;
	}
	
.container-box{
	margin:auto;
	}

@media (max-width: 1080px){
	
section.formulario{
	margin-left:-3em;
	}	
	
.text_content h1{
	text-align:center;
	}
		
.container-box{
	text-align:center;
	}
	
.box1{
	width:40%;
	}
	
.box2{
	width:40%;
	}
		
.box3{
	width:40%;
	}	
	
.box4{
	width:40%;
	}
		
.box5{
	width:40%;
	}	
	
.box6{
	width:40%;
	}

.box7{
	width:40%;
	}
	}
	
@media (max-width: 980px){
	.espacio_btn input{
	font-size:0.9em;
	}
	}
	
@media (max-width: 950px){
	
section.formulario{
	margin-left:0em;
	width:25%;
	}

section.skeleton h1{
	font-size:1.4em;
	text-align:center;
	}
	}
	
@media (max-width: 900px){
	
section.formulario{
	width:100%;
	margin-top:0;
	}
	
.skeleton{
	width:99%;
	margin:auto;
	}
	
.photo1{
	width:50%;
	}

.logo-prin{
	padding-left:1em;
	}
	
.legal{
	font-size:0.8em;
	margin-bottom:0.8em;
	}

.espacio_btn input{
	font-size:1.5em;
	}
	
.text_content h1{
	font-size:1em;
	}
	}
	
@media (max-width: 832px){

section.skeleton h1{
	font-size:1.4em;
	text-align:center;
	}
	}

@media (max-width: 790px){

.box1{
	width:60%;
	}
	
.box2{
	width:60%;
	}
		
.box3{
	width:60%;
	}	
	
.box4{
	width:60%;
	}
		
.box5{
	width:60%;
	}	
	
.box6{
	width:60%;
	}
	
.box7{
	width:60%;
	}
	}

@media (max-width:600px){
.container-tablet{
	display:none;
	}
	
.container-mov{
	width:20%;
	display:inline-block;
	vertical-align:middle;
	}
	
section.skeleton h1{
	font-size:1em;
	padding-bottom:0.8em;
	text-align:center;
	}
	
section.cabecera h1{
	font-size:1em;
	}	
	}
		
@media (max-width: 450px) {
	
.photo1{
	width:45%;
	margin-top:4em;
	}
	
.box1{
	width:100%;
	}
	
.box2{
	width:100%;
	}
		
.box3{
	width:100%;
	}	
	
.box4{
	width:100%;
	}
		
.box5{
	width:100%;
	}	
	
.box6{
	width:100%;
	}
	
.box7{
	width:100%;
	}
	}
		
@media (max-width:447px){
	
footer div{
	min-height:85px;
	text-align:center;
	}
	
.lado{
	padding-top:0px;
	}
		
section.formulario p{
	font-size:1.3em;
	}
	}
	
@media (max-width:400px){
	
.photo1{
	display:none;
	}
	
.container-mov{
	display:none;
	}

.container-mov2{
	display:block;
	width:100%;
	text-align:center;
	margin-bottom:1em;
	}

section.cabecera h1{
	font-size:0.8em;
	}	

.espacio_btn input{
	font-size:1.2em;
	}	
}

.modal{display:none;
	z-index:999;
	background:transparent;
	width:400px;
	height:380px;
}

#simplemodal-container {	position:absolute;z-index:999;}
#simplemodal-container a.modalCloseImg {
	background:url('../img/x2.png') no-repeat;
	width:30px;
	height:30px;
	display:inline;
	z-index:3200;
	position:absolute;
	top:20px;
	right:85px;
	cursor:pointer;
}

.simplemodal-data{
	padding:10px;
}