*{
	padding:0;
	margin:0;
	}
	
img{
	width: 100%;
	}
	
@font-face {
    font-family: 'Gotham';
    src:url(../fonts/Gotham-Book.otf) format("opentype");
	}

body{
    font-family: 'Gotham',Arial;
	}
	
/*HEADER*/
	
header{
	background-color:#FFF;
	width:100%;
	}
	
header .cabecera{
	width:99%;
	margin:0 auto;
	max-width:1000px;
	padding:.5em 0;
	text-align:left;
	}
	
header .cabecera div#super{
	width:80%;
	display:inline-block;
	vertical-align:middle;
	text-align:left;
	margin-left:13px;
	}
	
header .cabecera img#logo{
	width:90px;
	display:inline-block;
	vertical-align:middle;
	}
	
h1{
	font-size:1.5em;
	color:#636364;
	font-weight:normal;
	line-height: 35px;
	}

/*CONTENIDO*/

section.contenido{
	width:99%;
	max-width:1000px;
	margin:0em auto;
	padding:1em 0;
	background-position:center;
	background-size:cover;
	background-image:url(../img/065/background.jpg);
}
	
section.foto{
	width:71%;
	display:inline-block;
	vertical-align:top;
}
		
section.foto .mvl{
	display:none;
}	

section.foto .web{
	display:block;
}	
		
section.formulario{
	width:28%;
	display:inline-block;
	text-align:center;
	vertical-align:top;
	font-family: 'Gotham',Arial;
}
	
section.formulario p{
	margin:.4em 0;
	font-size:1.2em;
	color:#FFF;
}

section.formulario #ctcForm, section.formulario #enviarPorMailSolicitaInfo{
	background-color:#014d80;
	width:100%;
	margin:.2em auto;
	text-align:center;
	padding:.4em 0;
}
	
section.formulario #ctcForm input{
	width:55%;
	display:inline-block;
	vertical-align:middle;
	min-height:40px;
	background-color:#FFF;
}
	
section.formulario #ctcForm input:last-child{
	font-size:1.1em;
	cursor:pointer;
	width:30%;
	color: white;
	border: 0;
background: -webkit-gradient(linear, left top, right top, from(#72c942), to(#3f9302));
background: -webkit-linear-gradient(top, #72c942, #3f9302);
background: -moz-linear-gradient(top, #72c942, #3f9302);
background: -o-linear-gradient(top, #72c942, #3f9302);
background: -ms-linear-gradient(top, #72c942, #3f9302);
background: linear-gradient(top, #72c942, #3f9302);
background-color: #72c942;	font-family: 'Gotham',Arial;
}
	
.formulario .celda{
	padding-left:.3em;
	background-color:#FFF;
	font-size:.9em;
	display:block;
	width:89%;
	min-height:40px;
	margin:.6em auto;
	border:0;
	color:#868585;
	text-align:left;
	font-family: 'Gotham',Arial;
	font-weight:200;
}

.legal{
	font-size:.7em;
	font-family:Arial, Helvetica, sans-serif;
	width:90%;
	margin:0 auto;
	text-align:left;
	color:#FFF;
	}
	
.legal input{
	vertical-align:top;
}
	
.legal a{
	color:#FFF;
}
	
.espacio_btn{
	width:90%;
	text-align:center;
	margin:.5em auto;
}	
	
.espacio_btn input{
	cursor:pointer;
	width:90%;
	padding:.2em;
	color: white;
	border: 0;
	font-size: 2.2em;
	margin:.4em auto;
background: -webkit-gradient(linear, left top, right top, from(#72c942), to(#3f9302));
background: -webkit-linear-gradient(top, #72c942, #3f9302);
background: -moz-linear-gradient(top, #72c942, #3f9302);
background: -o-linear-gradient(top, #72c942, #3f9302);
background: -ms-linear-gradient(top, #72c942, #3f9302);
background: linear-gradient(top, #72c942, #3f9302);
background-color: #72c942;	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-family: 'Gotham',Arial;
}


/*TEXTO*/

section.contenido_texto{
	width:100%;
	background-color:#FFF;
	color:#505050;
}
	
section.contenido_texto .texto{
	margin:2em auto;
	max-width:1000px;
	width:98%;
	text-align:left;
	font-size:.9em;
	font-weight:300;
	line-height:25px;
	
}

section.contenido_texto .texto .titulo_texto_azul{
	background-color:#e1f1fc;
	padding:.5em;
	color:#0178c8;
	font-weight:600;
	
}
section.contenido_texto .texto .titulo_texto_naranja{
	background-color:#fff0e1;
	padding:.5em;
	color:#ef8901;
	font-weight:600;
	
}
section.contenido_texto .texto div{
	margin:1em 0;
	
}
section.contenido_texto .texto ul{
	margin-left:1.2em;
	
}
section.contenido_texto .texto .naranja{
	color:#ef8901;
	font-weight:700;
	
	
	}

/*PIE*/
	
	
footer{
	background-color:#0078cf;
	width:100%;
	padding:.5em 0;
}
	
footer section{
	max-width:1000px;
	width:99%;
	margin:.5em auto;
	text-align:left;
	font-size:.6em;
	color:#FFF;
	font-weight:200;
}
	
footer div{
	text-align:right;
}

footer div img{
	max-width:220px;
	margin-top:1em;
}
	


@media (max-width: 760px) {
	
header .cabecera {
  padding: .2em 0;
}

header .cabecera img#logo{
	width:60px;
}

h1{
	font-size:1em;
	line-height: 20px;
}

section.contenido {
	padding:0;
	width:100%;
	background:none;
}
	
section.formulario, section.foto {
	display:block;
	width:99%;
	margin:0 auto;
}
	
#enviarPorMailSolicitaInfo{
	display:none;
}
	

section.foto .mvl{
	display:block;
}
	
section.foto .web{
	display:none;
}
		
section.contenido_texto .texto {
  margin: .5em auto;
}

section.contenido_texto .texto{
	font-size:.8em;
	
}

}


@media (max-width:480px) {
header .cabecera img#logo{
	width:50px;
}

h1{
	font-size:.8em;
	line-height: 20px;
}

}
@media (max-width:380px) {
h1{
	font-size:.6em;
}
header .cabecera img#logo{
	width:40px;
}

}
