@charset "utf-8";
/* CSS Document */
body{
font-family:Arial, Helvetica, sans-serif;
background-color:#FFFFFF;
background:url(../img/fondo-all9_web.jpg) no-repeat center top;
height:100%;
}

#contenedor_centrado{
width:840px;
margin:auto;
min-height:100%;
height:900px;
}	

.form-contenido{
height:400px;
width:840px;
}

.titulo{
margin-top:0px;
margin-left:auto;
background-image:url(../img/cabecera_9.png);
background-position:left top;
background-repeat:no-repeat;
height:120px;
width:840px;
}

.contenedor_form{
margin:20px 10px;
float:right;
padding:0;
color:#1d76b8;
}

.sello{
height:295px;
margin-left:auto;
width:200px;
}

.formulario{
float:right;
margin-top:5px;
margin-right:0px;
width:320px;
height:100%;
}

.ctc_form{
padding:1px 0px 0px 10px;
height:153px;
width:245px;
background-color:#1d76b8;
font-family:Arial, Helvetica, sans-serif;
color:#FFF;
border-radius:5px;
font-size:12px;
}

.ctc_form p:first-child{font-size:17px;}

.contenedor_form iframe{
width:100%;
min-height:580px;
border-top-width:0px;
border-right-width:0px;
border-bottom-width:0px;
border-left-width:0px;
background-color:transparent;
}

form{
margin-left:20px;
}
.coberturas_servicios{
width:840px;
float:left;
margin:50px auto 0;
clear:both;
height:250px;
}
.coberturas_servicios p{
font-size:11px;
color:#666;
}

.coberturas{
width:350px;
float:left;
margin-left:35px;
}

.coberturas p{
margin-left:40px;
margin-top:500px;
}

.servicios{
width:400px;
float:left;}

h1{
font-size:16px;
color:#0178C8;
}

ul li{
font-size:11px;
color:#666;}

.enlace_condiciones{
display:inline-block;
margin-left:40px;
padding-top:20px;
font-size:11px;
color:#666;
}

.clearfix:after{
content:".";
display:block;
clear:both;
visibility:hidden;
line-height:0;
height:0;
}

.clearfix{
display:inline-block;
}

html[xmlns] .clearfix{
display:block;
}

* html .clearfix{
height:1%;
}

.pie{
margin-top:90px;
height:40px;
width:100%;
font-size:8px;
color:#09F;
text-align:center;
}	
	
.pdfCondiciones{
display:inline-block;
width:225px;
height:45px;
margin-left:22px;
margin-top:10px;
background:url(../img/pdf_condiciones.png) 0 0px;
}

.pdfCondiciones:hover{
background:url(../img/pdf_condiciones_hover.png) 0 0px;
}

.sorteoIframe{
height:360px!important;
border:0px solid red;
background:#fff;
width:980px;
margin-left:-10px;
}
