@charset "UTF-8";

*{
	padding:0;
	margin:0;
	box-sizing:border-box;
	}
	
img{
	width:99%;
	height:auto;
	}
	
@font-face {
  	font-family: 'Gotham-Bold';
 	src: url('../fonts/Gotham-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/Gotham-Bold.otf')  format('opentype'),
	url('../fonts/Gotham-Bold.woff') format('woff'), url('../fonts/Gotham-Bold.ttf')  format('truetype'), url('../fonts/Gotham-Bold.svg#Gotham-Bold') format('svg');
  	font-weight: normal;
  	font-style: normal;
  	}
 
@font-face{
  	font-family: 'Gotham-Book';
  	src: url('../fonts/Gotham-Book.eot?#iefix') format('embedded-opentype'),  url('../fonts/Gotham-Book.otf')  format('opentype'),
	url('../fonts/Gotham-Book.woff') format('woff'), url('../fonts/Gotham-Book.ttf')  format('truetype'), url('../fonts/Gotham-Book.svg#Gotham-Book') format('svg');
  	font-weight: normal;
  	font-style: normal;
 	}
  
 body{
	font-family: 'Gotham-Bold', Arial;
	background-color:#FFFFFF;
	}
	
header{
	width:100%;
	height:8px;
	background-color:#0079C8;
	}
	
.basic-content{
	width:100%;
	background-color:#FFFFFF;
	}
	
.small-content{
	width:99%;
	max-width:1250px;
	margin:auto;
	background-image:url(../img/118/background.jpg);
	background-repeat:no-repeat;
	background-size:contain;
	}
	
.skeleton{
	width:65%;
	display:inline-block;
	vertical-align:middle;
	margin-left:3em;
	}

.mobile{
	display:none;
	}
	
.content-top{
	width:90%;
	max-width:735px;
	}
	
.content-bottom{
	width:80%;
	max-width:700px;
	margin-left:2.5em;
	padding-bottom:2em;
	margin-top:1em;
	}
	
section.formulario{
	width:26%;
	max-width:390px;
	display:inline-block;
	text-align:center;
	vertical-align: middle;
	margin-top:4.4em;
	margin-left:-5em;
	}
	
section.formulario img{
	width:100%;
	margin-bottom:-0.5em;
	}
	
section.formulario p{
	font-family: 'Gotham-Bold';
	margin:.9em 0;
	font-size:1.6em;
	color:#FFFFFF;
	}
	
section.formulario p span{
	font-family: 'Gotham-Book';
	font-size:1.16em;
	}
	
section.formulario #ctcForm, section.formulario #enviarPorMailSolicitaInfo{
	background-color:#B57834;
	width:100%;
	margin:.2em auto;
	text-align:center;
	padding:.4em 0;
	}
	
section.formulario #ctcForm input{
	width:55%;
	display:inline-block;
	vertical-align:middle;
	min-height:40px;
	background-color:#FFF;
	}

.formulario .celda{
	padding-left:.3em;
	background-color:#FFF;
	font-size:.9em;
	display:block;
	width:84%;
	min-height:40px;
	margin:auto;
	margin-top:1.3em;
	border:0;
	color:#857f78;
	text-align:left;
	-webkit-appearance: none;
    -webkit-border-radius: 0;
	border-radius:0;
	}

.formulario .celda:focus{
	outline:0px;
	}

.legal{
	font-size:.7em;
	font-family: 'Gotham-Book';
	width:84%;
	text-align:left;
	color: #FFFFFF;
	margin: 0.6em auto;
	}
	
.legal input{
	vertical-align:top;
	}
	
.legal a{
	color: #FFFFFF;
	}
	
.espacio_btn{
	width:90%;
	text-align:center;
	margin:.5em auto;
	}	
	
.espacio_btn input{
	cursor:pointer;
	background-color:#00335b;
	width:89%;
	padding:.9em 0;
	color: white;
	font-size: 1.4em;
	font-family: 'Gotham-Book';
	margin:.7em auto;
	border: 1px solid #FFFFFF;
    outline: 7px solid #00335b;
	-webkit-appearance: none;
    -webkit-border-radius: 0;
	border-radius:0;
	}
	
#nombre{
	background-image:url(../img/118/user-ico-form.png);
	background-repeat:no-repeat;
	padding-left:4em;
	font-family: 'Gotham-Book';
	}
	
#telefono{
	background-image:url(../img/118/phone-ico-form.png);
	background-repeat:no-repeat;
	padding-left:4em;
	font-family: 'Gotham-Book';
	}
	
#email{
	background-image:url(../img/118/mail-ico-form.png);
	background-repeat:no-repeat;
	padding-left:4em;
	font-family: 'Gotham-Book';
	}
	
input[placeholder], [placeholder], *[placeholder]{
   color:#000000 !important;
   }
  
  ::-webkit-input-placeholder{
   
    color:#000000;
	}
	
*:-moz-placeholder{
   
    color:#000000;
	}
	
*::-moz-placeholder{
    
    color:#000000;
	}
	
*:-ms-input-placeholder{
    
    color:#000000;
	}
	
.text-content{
	width:99%;
	max-width:1200px;
	margin:1em auto;
	}
	
.text-content h1{
	font-family: 'Gotham-Book';
	font-size:1em;
	margin:auto;
	}

.text-content h1 span{
	font-family: 'Gotham-Bold';
	color:#0079c8;
	}
	
.text-content h2{
	margin-top:1em;
	font-size:1.4em;
	font-family: 'Gotham-Book';
	}
	
.text-content h2 span{
	font-family: 'Gotham-Bold';
	color:#0079c8;
	}
	
.text-content h3{
	font-family: 'Gotham-Book';
	font-size:1em;
	margin-top:0.4em;
	}
	
.text-content h3 span{
	font-family: 'Gotham-Bold';
	color:#0079c8;
	}
	
.icons-text{
	margin-top:2em;
	}

.icons-text img{
	width:40%;
	max-width:455px;
	display:inline-block;
	vertical-align:top;
	}
	
.icons{
	width:50%;
	display:inline-block;
	vertical-align:middle;
	}

.icons h1{
	font-size:1.6em;
	color:#0079c8;
	font-family: 'Gotham-Bold';
	text-align:center;
	}
	
.icons p{
	width:80%;
	margin:auto;
	padding-top:0.9em;
	font-family: 'Gotham-Book';
	}
	
.icons p span{
	color:#0079c8;
	font-family: 'Gotham-Bold';
	}
	
.lado1{
	width:45%;
	display:inline-block;
	vertical-align:top;
	margin-left:1.8em;
	}
	
.lado2{
	width:45%;
	display:inline-block;
	vertical-align:top;
	}

.ico1{
	color:#000000;
	font-size:1em;
	}	
	
.ico1:before{
	content:url(../img/118/pediatria-ico-text.png);
	position:relative;
	top:20px;
	}
	
.ico2{
	color:#000000;
	font-size:1em;
	}	
	
.ico2:before{
	content: url(../img/118/derma-ico-text.png);
	position:relative;
	top:20px;
	}
	
.ico3{
	color:#000000;
	font-size:0.9em;
	}	
	
.ico3:before{
	content: url(../img/118/m-familiar-ico-text.png);
	position:relative;
	top:30px;
	}
	
.ico4{
	color:#000000;
	font-size:1em;
	}	
	
.ico4:before{
	content: url(../img/118/gine-ico-text.png);
	position:relative;
	top:20px;
	}
	
.ico5{
	color:#000000;
	font-size:1em;
	}	
	
.ico5:before{
	content: url(../img/118/uro-ico-text.png);
	position:relative;
	top:20px;
	}
	
.ico6{
	color:#000000;
	font-size:1em;
	}	
	
.ico6:before{
	content: url(../img/118/endocri-ico-text.png);
	position:relative;
	top:20px;
	}

.ico7{
	color:#000000;
	font-size:1em;
	}	
	
.ico7:before{
	content: url(../img/118/alerg-ico-text.png);
	position:relative;
	top:20px;
	}
	
.ico8{
	color:#000000;
	font-size:0.9em;
	padding-bottom:0.9em;
	}	
	
.ico8:before{
	content: url(../img/118/opinion-ico-text.png);
	position:relative;
	top:23px;
	}
	
.ico9{
	color:#000000;
	font-size:1em;
	padding-bottom:0.9em;
	}	
	
.ico9:before{
	content: url(../img/118/oncolo-ico-text.png);
	position:relative;
	top:20px;
	}

.ico10{
	color:#000000;
	font-size:1em;
	padding-bottom:0.9em;
	}	
	
.ico10:before{
	content: url(../img/118/M-interna-ico-text.png);
	position:relative;
	top:20px;
	}

.ico11{
	color:#000000;
	font-size:1em;
	padding-bottom:0.9em;
	}	
	
.ico11:before{
	content: url(../img/118/reuma-ico-text.png);
	position:relative;
	top:20px;
	}
	
.ico12{
	color:#000000;
	font-size:1em;
	padding-bottom:0.9em;
	}	
	
.ico12:before{
	content: url(../img/118/hemato-ico-text.png);
	position:relative;
	top:20px;
	}
	
.ico13{
	color:#000000;
	font-size:0.9em;
	padding-bottom:0.9em;
	}	
	
.ico13:before{
	content: url(../img/118/diges-ico-text.png);
	position:relative;
	top:20px;
	}
	
.legal-con{
	width:93%;
	font-size:0.8em;
	font-family: 'Gotham-Book';
	margin:3em auto;
	}

/*PIE*/
	
	
footer{
	background-color:#0078cf;
	width:100%;
	padding:.3em 0;
	text-align:center;
	margin:0 auto;
	}
	
footer div{
	max-width:850px;
	vertical-align:middle;
	margin:0 auto;
	min-height:50px;
	}
		
footer div img{
	max-width:230px;
	float:right;
	}
	
.agente{
	max-width:200px;
	float:left;
	}

.lado{
	padding-top:0.5em;
	}
	
@media (max-width:1230px){
	
.text-content h1{
	width:95%;
	margin:auto;
	}
	
.text-content h2{
	width:95%;
	margin:auto;
	padding:1em 0;
	}
	
.text-content h3{
	width:95%;
	margin:auto;
	}
	}
	
@media (max-width:1140px){
	
section.formulario p{
	font-size:1.2em;
	}
	
.espacio_btn input{
	font-size:1.1em;
	}
	}
	
@media (max-width:1090px){
	
.lado1{
	width:48%;
	margin-left:0.5em;
	}

.lado2{
	width:48%;
	}
	}
	
@media (max-width:1025px){
	
.icons-text img{
	width:25%;
	}
	
.icons{
	width:70%;
	}
	}
	
@media (max-width:990px){
	
.content-top{
	margin-top:-1.3em;
	}
	}

@media (max-width:940px){

section.formulario{
	width:28%;
	}
	}
	
@media (max-width:900px){

section.formulario{
	width:99%;
	max-width:none;
	margin:auto;
	margin-top:-0.2em;
	}
	
section.formulario p{
	font-size:1.6em;
	}
	
.espacio_btn input{
	font-size:1.4em;
	width:92%;
	}
	
.small-content{
	background-image:none;
	}
	
.skeleton{
	width:100%;
	margin-left:0;
	}
	
.content-top{
	display:none;
	}
	
.content-bottom{
	display:none;
	}
	
.mobile{
	display:block;
	}
	
section.formulario img{
	display:none;
	}
	
.icons-text img{
	display:none;
	}
	
.icons{
	width:99%;
	}

.lado1{
	margin-left:0em;
	text-align:center;
	}
	
.lado2{
	text-align:center;
	}
	
.icons h1{
	text-align:center;
	}
	
.icons p{
	text-align:center;
	}
	}
	
@media (max-width:515px){
	
.lado1{
	width:99%;
	}
	
.lado2{
	width:99%;
	}
	}

@media (max-width:447px) {
footer div{
	min-height:85px;
	text-align:center;
	}
	
.lado{
	padding-top:0px;
	}
	}

