*{
	padding:0;
	margin:0;
	}
	
img{
	width: 100%;
	}
	
@font-face {
    font-family: 'GOTHAM-BOOK';
    src:url(../fonts/Gotham-Book.otf);
}
	
	
@font-face {
    font-family: 'GOTHAM-BOLD';
	src:url(../fonts/Gotham-Bold.otf);
}

body{
    font-family: 'GOTHAM-BOOK',Arial;
	background-color:#FFF;
	
	}
	
/*HEADER*/
	
/*CONTENIDO*/

header{
	display:none;}

section.contenido{
	width:100%;
	}

section.contenido .contenido_peque{
	width:99%;
	max-width:1100px;
	margin:auto;
	background-image:url(../img/088/background.jpg);
	background-repeat:no-repeat;
	background-size: contain;
	}
	
section.foto{
	width:60%;
	display:inline-block;
	vertical-align: middle;
	margin-bottom:1em;
	margin-left:1em;
	}
		
section.foto .mvl{
	display:none;
	}	

section.foto .web{
	display:block;
	height:auto;
}	
		
section.formulario{
	width:26%;
	display:inline-block;
	text-align:center;
	vertical-align: middle;
	font-family: 'Gotham',Arial;
	margin-left:3em;

	}
	
section.formulario p{
	margin:.4em 0;
	font-size:1.4em;
	color:#0079c8;
	font-weight:bold;
	}

	
section.formulario #ctcForm, section.formulario #enviarPorMailSolicitaInfo{
	background-color: rgba(255,255,255,0.8);
	width:100%;
	margin:.2em auto;
	text-align:center;
	padding:.4em 0;
	-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
border: 3px solid #0079c8;
	
	}
	
section.formulario #ctcForm input{
	width:55%;
	display:inline-block;
	vertical-align:middle;
	min-height:40px;
	background-color:#FFF;
	}
	
section.formulario #ctcForm input:last-child{
	font-size:1.1em;
	cursor:pointer;
	width:30%;
	color: white;
	border: 0;
	background-image: -ms-linear-gradient(top, #F68A1E 0%, #FF7301 100%);
	background-image: -moz-linear-gradient(top, #F68A1E 0%, #FF7301 100%);
	background-image: -o-linear-gradient(top, #F68A1E 0%, #FF7301 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #F68A1E), color-stop(1, #FF7301));
	background-image: -webkit-linear-gradient(top, #F68A1E 0%, #FF7301 100%);
	background-image: linear-gradient(to bottom, #F68A1E 0%, #FF7301 100%);
	font-family: 'Gotham',Arial;
	}
	
.formulario .celda{
	padding-left:.3em;
	background-color:#FFF;
	font-size:.9em;
	display:block;
	width:89%;
	min-height:30px;
	margin:auto;
	margin-top:1.5em;
	border:0;
	color:#857f78;
	text-align:left;
	font-family: 'Gotham',Arial;
	font-weight:200;
	border: 2px solid #0079c8;
	-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
}

.formulario .celda:focus{
	outline:0px;}

.legal{
	font-size:.7em;
	font-family:Arial, Helvetica, sans-serif;
	width:90%;
	text-align:left;
	color: #666;
	margin:0.8em auto;
	}
	
.legal input{
	vertical-align:top;
	}
	
.legal a{
	color: #666;
	}
	
.espacio_btn{
	width:90%;
	text-align:center;
	margin:.5em auto;
	}	
	
.espacio_btn input{
	cursor:pointer;
	width:99%;
	padding:.6em;
	color: white;
	border: 0;
	font-size: 1.3em;
	margin:.1em auto;
	background-image: -ms-linear-gradient(top, #F68A1E 0%, #FF7301 100%);
	background-image: -moz-linear-gradient(top, #F68A1E 0%, #FF7301 100%);
	background-image: -o-linear-gradient(top, #F68A1E 0%, #FF7301 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #F68A1E), color-stop(1, #FF7301));
	background-image: -webkit-linear-gradient(top, #F68A1E 0%, #FF7301 100%);
	background-image: linear-gradient(to bottom, #F68A1E 0%, #FF7301 100%);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-family: 'Gotham',Arial;
	font-weight:bold;
}


/*TEXTO*/

section.contenido_texto{
	width:100%;
	background-color:#FFF;
	}
	
section.contenido_texto .texto{
	margin:0 auto;
	max-width:1100px;
	width:97%;
	font-size:.9em;
	padding:.5em 0 1em 0;
	font-weight:300;
	text-align:center;
	}
section.contenido_texto .texto .info{
	width:25%;
	display:inline-block;
	vertical-align:top;
	margin-top:1em;
	margin-left:3em;
	text-align:center;
	}
	
section.contenido_texto .texto .info h2{
	font-size:1.2em;
	font-family: 'GOTHAM-BOOK';
	color:#0079c8;
	margin-top:0.3em;
	}
	
section.contenido_texto .texto .info p{
	font-size:0.9em;
	line-height:30px;
	color:#565656;
	}
	
section.contenido_texto .texto  h3{
	text-align:left;
	color:#0178c8;
	font-size:1.1em;
	line-height:30px;
	}

section.contenido_texto .texto  h3 span{
	font-family: 'GOTHAM-BOLD';
	color:#0178c8;
	}

section.contenido_texto .texto .info img{
	max-width:115px;
	}
	
section.contenido_texto .texto .letra_pequena{
	text-align:left;
	font-size:.8em;
	margin-top:2em;
	color:#999;
	display:none;
	}
	
.legal p{
	font-size:1.2em;
	margin-top:4em;
	margin-bottom:2em;
	font-family: 'GOTHAM-BOOK';
	color:#000000;
	}	

/*PIE*/
	
	
footer{
	background-color:#0078cf;
	width:100%;
	padding:.3em 0;
	text-align:center;
	margin:0 auto;
	}
	
footer div{
	max-width:850px;
	vertical-align:middle;
	margin:0 auto;
	min-height:50px;
	
	}
		
footer div img{
	max-width:230px;
	float:right;
	}
	
.agente {
	max-width:200px;
	float:left;
	}

.lado{
	padding-top:0.5em;}
	
/*COOKIES*/	
		
#pie_galletero{
	max-width:950px;
	margin:1em auto .5em auto;
	width:100%;
	color: #949494;
	background: #e5e5e5;
	font-family:Arial, Helvetica, sans-serif;
	}
		
#pie_galletero a{
	color:#949494;
	}
		
#pie_galletero a:visited{
	color:#949494;
	}	

#pie_galletero_left{
	width:99%;
	vertical-align:middle;
	display:inline-block;
	margin:.5em;
	font-size:.8em;
	text-align:center;
	}

#pie_galletero_right{
	text-align:right;
	width:20%;
	vertical-align:middle;
	display:inline-block;
	margin:.5em;
	}
	
#pie_galletero_right input{
	margin:.3em;
	padding:.1em 0;
	cursor:pointer;
	}
	
#info_cook {
	font-family:Arial, Helvetica, sans-serif;
	max-width:950px;
	width:100%;
	display: block;
	margin: 0 auto;
	text-align: left;
	font-size: .7em;
	color: #949494;
	background: #e5e5e5;
	}
	
.texto_cook{
	width:96%;
	margin:0 auto;
	}	
	
	
.closeCookiesPolicy{
	text-align:right;
	}
	
.closeCookiesPolicy a{
	color:#666;
	text-decoration:none;
	font-size:15px;
	margin:.5em;
	font-weight:bold;
	}


@media (max-width: 1015px) {
	
.espacio_btn input{
	font-size:1.2em;}
		
section.foto{
	margin-left:1em;
	}

section.formulario p{
	font-size:1.1em;
	}
	}
	
@media (max-width: 950px){
	
.espacio_btn input{
	font-size:1em;
	}
	
.legal{
	font-size:0.6em;
	}
	}


@media (max-width: 850px) {


section.formulario{
	display:block;
	width:98%;
	margin-left:0;
	margin-right:0;
	}

section.contenido .contenido_peque{
	background-image:none;
	}
	
section.contenido_texto .texto .info{
	width:49%;
	}
	
section.contenido_texto .texto h3 {
	font-size:1em;
	}

section.foto .mvl{
	display:block;
	height:auto;
	}

section.foto .web{
	display:none;
	}

section.foto{
	width:98%;
	margin:0;
	}	
	
#pie_galletero_left{
	width:98%;
	display:block;
	}

#pie_galletero_right{
	text-align:center;
	margin:auto;
	width:98%;
	display:block;
	}

.espacio_btn input{
	font-size:1.7em;
	}	
	}

@media (max-width:510px) {

section.contenido_texto .texto .info{
	width:90%;
	display:block;
	margin: auto;
	}
	
.espacio_btn input{
	font-size:1em;
	}
	}

@media (max-width:447px) {
footer div{
	min-height:85px;
	text-align:center;
	}
	
.lado {
	padding-top:0px;
	}
	}

@media (max-width:420px) {
	
section.contenido_texto .texto h3 {
	margin-bottom:0.7em;
	margin-top:-1.5em;
	}
	}
