*{
	padding:0;
	margin:0;
	}
	
img{
	width: 100%;
	}
	
@font-face {
    font-family: 'Gotham';
    src:url(../fonts/Gotham-Book.otf);
	}

body{
    font-family: 'Gotham',Arial;
		background:url(../img/035/backgroundBody.jpg) no-repeat;
	}
	
h1{
	font-size:1.2em;
	color:#666;
	}
	
h2{
	color:#0178c8;
	font-size:1.2em;
	margin-left:.5em;
	}
	
	
h3{
	color:#6e6e6e;
	font-size:1em;
	}
	

/*HEADER*/
	
header{
	background-color:#FFF;
	width:100%;
	}
	
header .cabecera{
	width:99%;
	margin:0 auto;
	max-width:950px;
	padding:.5em 0;
	text-align:center;
}
header .cabecera div.llamanos{
	width:87%;
	display:inline-block;
	vertical-align:middle;
	text-align:right;
	}
	
header .llamanos p{
	font-size:1.5em;
	color:#00335b;
	font-weight:bold;
	}
header .llamanos a{
	text-decoration:none;
	}
	
header .llamanos p:last-child{
	color:#ff7c00;
	font-size:2.1em;
	}
	
header .cabecera img#logo{
	width:90px;
	height:90px;
	display:inline-block;
	vertical-align:middle;
}

	
/*CONTENIDO*/

section.contenido{
	width:99%;
	max-width:950px;
	margin:0em auto;
	padding:1em 0;
}

section.foto{
	width:67%;
	display:inline-block;
	vertical-align:middle;
}
		
section.foto .mvl{
	display:none;
}	

section.foto .web{
	display:block;
}	
	
	
.img_foto{
	display:none;}
/*FORM*/
	
section.formulario{
	width:32%;
	display:inline-block;
	text-align:center;
	vertical-align:middle;
	background-color:#FFF;
	font-family: 'Gotham',Arial;
	-webkit-box-shadow: 0px 0px 10px #3f3f3f;
	-moz-box-shadow: 0px 0px 10px #3f3f3f;
	box-shadow: 0px 0px 10px #3f3f3f;
	}
	
section.formulario p{
	margin:.4em 0;
	font-size:1.4em;
	color:#00335b;
	}

section.formulario #ctcForm p{
	color:#FFF;
	margin:.2em 0;
	}
	
section.formulario #ctcForm{
	background-color:#00335b;
	width:100%;
	margin:0 auto;
	text-align:center;
	padding-bottom:.4em;
	}
	
section.formulario #ctcForm input{
	width:55%;
	display:inline-block;
	vertical-align:middle;
	min-height:35px;
	background-color:#FFF;
	}
	
section.formulario #ctcForm input:last-child{
	font-size:1.1em;
	cursor:pointer;
	width:30%;
	color: white;
	border: 0;
	background-image: -ms-linear-gradient(top, #F68A1E 0%, #FF7301 100%);
	background-image: -moz-linear-gradient(top, #F68A1E 0%, #FF7301 100%);
	background-image: -o-linear-gradient(top, #F68A1E 0%, #FF7301 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #F68A1E), color-stop(1, #FF7301));
	background-image: -webkit-linear-gradient(top, #F68A1E 0%, #FF7301 100%);
	background-image: linear-gradient(to bottom, #F68A1E 0%, #FF7301 100%);
	font-family: 'Gotham',Arial;
	}
	
.formulario .celda{
	padding-left:.3em;
	background-color:#e8e7e7;
	font-size:.9em;
	display:block;
	width:89%;
	min-height:40px;
	margin:.5em auto;
	border:0;
	color:#868585;
	text-align:left;
	font-family: 'Gotham',Arial;
	font-weight:200;
}

.legal{
	font-size:.7em;
	font-family:Arial, Helvetica, sans-serif;
	width:90%;
	margin:0 auto;
	text-align:left;
	color:#00335b;
	}
	
.legal input{
	vertical-align:top;
	}
	
.legal a{
	color:#00335b;
	}
	
.espacio_btn{
	width:90%;
	text-align:center;
	margin:0 auto;
	}	
	
.espacio_btn input{
	cursor:pointer;
	width:90%;
	padding:.2em;
	color: white;
	border: 0;
	font-size: 2em;
	margin:.4em auto;
	background-image: -ms-linear-gradient(top, #F68A1E 0%, #FF7301 100%);
	background-image: -moz-linear-gradient(top, #F68A1E 0%, #FF7301 100%);
	background-image: -o-linear-gradient(top, #F68A1E 0%, #FF7301 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #F68A1E), color-stop(1, #FF7301));
	background-image: -webkit-linear-gradient(top, #F68A1E 0%, #FF7301 100%);
	background-image: linear-gradient(to bottom, #F68A1E 0%, #FF7301 100%);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-family: 'Gotham',Arial;
}


/*TEXTO*/
section.contenido_texto{
	width:100%;
	background-color:#FFF;
	}
	
section.contenido_texto .texto{
	margin:0 auto;
	max-width:950px;
	width:97%;
	font-size:.9em;
	padding:.5em 0 1em 0;
	font-weight:300;
	}
	
section.contenido_texto .texto img{
	width:15px;
	vertical-align:top;
	margin-right:.3em;
	}
	
section.contenido_texto .texto p{
	margin-top:1em;
	color:#333;
	}
	
section.contenido_texto .texto h3{
	color:#0178c8;
	font-size:1.4em;
	font-weight:400;
	}
	
section.contenido_texto .texto .letra_pequeña{
	font-size:.8em;
	margin-top:2em;
	color:#999;
	}
	

/*PIE*/
footer{
	background-color:#0078cf;
	width:100%;
	padding:.3em 0;
	}
	
footer div{
	max-width:900px;
	margin:0 auto;
	text-align:right;
	}
	
footer div img{
	max-width:230px;
}

#pie_galletero_right{
	text-align:right;
	width:20%;
	vertical-align:middle;
	display:inline-block;
	margin:.5em;
	}
	
#pie_galletero_right input{
	margin:.3em;
	padding:.1em 0;
	cursor:pointer;
}

@media (max-width: 770px) {
	
	section.contenido{
		padding:0;
	}

	section.formulario, section.foto {
		display:block;
		width:99%;
		margin:0 auto;
		max-width:650px;
		
	}
	section.formulario #ctcForm{
		padding:.5em 0 1em 0;
		}
	#enviarPorMailSolicitaInfo{
		display:none;}
		
	section.formulario{
		
		-webkit-box-shadow: 0px 0px 0px #3f3f3f;
		-moz-box-shadow: 0px 0px 0px #3f3f3f;
		box-shadow: 0px 0px 0px #3f3f3f;}
	
	
	section.foto .mvl{
		display:block;
	}
		
	section.foto .web{
		display:none;
	}
		
	.hotel{
		display:none;
	}
			
	header .cabecera div.llamanos{
		width:80%;
	}
	
	header .llamanos p{
		font-size:1.3em;
	}
	
	header .llamanos p:last-child{
		font-size:1.9em;
	}
	
	header .cabecera img#logo{
		width:80px;
	}
	
	#pie_galletero_left{
		width:95%!important;
		text-align:left!important;
		display:block;
	}

	#pie_galletero_right{
		text-align:center;
		margin:auto;
		width:94%!important;
		display:block;
	}
}


@media (max-width:480px) {
	
	header .cabecera div.llamanos{
		width:75%;
	}

	header .llamanos p{
		font-size:1em;
	}
	
	header .llamanos p:last-child{
		font-size:1.5em;
	}
	header .cabecera img#logo{
		width:65px;
		height:65px;
	}
	section.contenido_texto .texto h3{
		font-size:1.2em;
	}
}

