*{
	padding:0;
	margin:0;
	}
	
img{
	width: 100%;
	}
	
@font-face {
    font-family: 'Gotham';
    src:url(../fonts/Gotham-Book.otf);
	}

body{
    font-family: 'Gotham',Arial;
	background-color:#FFF;
	
	}
	
/*HEADER*/
	
header{
	background-color:#FFF;
	width:100%;
	border-bottom:3px solid #0079c8;
	}
	
header .cabecera{
	width:99%;
	margin:0 auto;
	max-width:1000px;
	padding:.3em 0;
	text-align:center;
	padding-top:0.4em;
	}
	
header .cabecera div.llamanos{
	width:35%;
	display:inline-block;
	vertical-align:middle;
	text-align:right;
	}
header .cabecera div#super{
	width:50%;
	display:inline-block;
	vertical-align:middle;
	text-align:left;
	margin-left:7px;
	}
	
header .llamanos p{
	font-size:1.5em;
	color:#00335b;
	font-weight:bold;
	}
	
header .llamanos p:last-child{
	color:#ff7c00;
	font-size:2.1em;
	}
	
header .cabecera img#logo{
	width:13%;
	display:inline-block;
	vertical-align:middle;
	}
h1{
	font-size:1.7em;
	color:#636364;
	font-weight:normal;
	line-height: 35px;
	}

.blockCall{
 text-decoration:none;}	
/*CONTENIDO*/

section.contenido{
	width:100%;
	background-image:url(../img/078/background.jpg);
	background-repeat:no-repeat;
	background-size:cover;}

section.contenido .contenido_peque{
	max-width:950px;
	margin:0 auto;
	padding:2em 0 1em 0;


	}
	
section.foto{
	width:45%;
	display:inline-block;
	vertical-align: middle;
	margin-left:6.8em;
	margin-right:1em;
		
	
}
		
section.foto .mvl{
	display:none;
}	

section.foto .web{
	display:block;
}	
		
section.formulario{
	width:30%;
	display:inline-block;
	text-align:center;
	vertical-align: middle;
	font-family: 'Gotham',Arial;

	}
	
section.formulario p{
	margin:.4em 0;
	font-size:1.6em;
	color:#0079c8;
	font-weight:bold;
	}

	
section.formulario #ctcForm, section.formulario #enviarPorMailSolicitaInfo{
	background-color:#FFF;
	width:100%;
	margin:.2em auto;
	text-align:center;
	padding:.4em 0;
	-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
border: 4px solid #0079c8;
	
	}
	
section.formulario #ctcForm input{
	width:70%;
	display:inline-block;
	vertical-align:middle;
	min-height:30px;
	background-color:#FFF;

	}
	
section.formulario #ctcForm input:last-child{
	font-size:2.2em;
	padding:0.4em 0;
	cursor:pointer;
	width:70%;
	color: white;
	border: 0;
	background-image: -ms-linear-gradient(top, #F68A1E 0%, #FF7301 100%);
	background-image: -moz-linear-gradient(top, #F68A1E 0%, #FF7301 100%);
	background-image: -o-linear-gradient(top, #F68A1E 0%, #FF7301 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #F68A1E), color-stop(1, #FF7301));
	background-image: -webkit-linear-gradient(top, #F68A1E 0%, #FF7301 100%);
	background-image: linear-gradient(to bottom, #F68A1E 0%, #FF7301 100%);
	font-family: 'Gotham',Arial;
	font-weight:bold;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin-top:1em;
	margin-bottom:0.5em;
	}
	
.formulario .celda{
	padding-left:.3em;
	background-color:#FFF;
	font-size:.9em;
	display:block;
	width:89%;
	min-height:30px;
	margin:auto;
	margin-top:1.5em;
	border:0;
	color:#857f78;
	text-align:left;
	font-family: 'Gotham',Arial;
	font-weight:200;
	border: 2px solid #0079c8;
	-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
}

.formulario .celda:focus{
	outline:0px;}

.legal{
	font-size:.7em;
	font-family:Arial, Helvetica, sans-serif;
	width:90%;
	
	text-align:left;
	color: #666;
	margin:0.8em auto;
	}
	
.legal input{
	vertical-align:top;
	}
	
.legal a{
	color: #666;
	}
	
.espacio_btn{
	width:90%;
	text-align:center;
	margin:.5em auto;
	}	
	
.espacio_btn input{
	cursor:pointer;
	width:99%;
	padding:.6em;
	color: white;
	border: 0;
	font-size: 1.3em;
	margin:.1em auto;
	background-image: -ms-linear-gradient(top, #F68A1E 0%, #FF7301 100%);
	background-image: -moz-linear-gradient(top, #F68A1E 0%, #FF7301 100%);
	background-image: -o-linear-gradient(top, #F68A1E 0%, #FF7301 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #F68A1E), color-stop(1, #FF7301));
	background-image: -webkit-linear-gradient(top, #F68A1E 0%, #FF7301 100%);
	background-image: linear-gradient(to bottom, #F68A1E 0%, #FF7301 100%);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-family: 'Gotham',Arial;
	font-weight:bold;
}


/*TEXTO*/

section.contenido_texto{
	width:100%;
	background-color:#FFF;
	}
	
section.contenido_texto .texto{
	margin:0 auto;
	max-width:950px;
	width:97%;
	font-size:.9em;
	padding:.5em 0 1em 0;
	font-weight:300;
	text-align:center;
	}
section.contenido_texto .texto .info{
	width:30%;
	display:inline-block;
	margin:1em 0;
	text-align:center;
	}
section.contenido_texto .texto .info h2{
	font-size:.9em;
	font-weight:lighter;
	color:#636364;
	}
section.contenido_texto .texto  h3{
	text-align:left;
	color:#0178c8;
	font-size:1.1em;
	line-height:30px;
	}
section.contenido_texto .texto .info img{
	max-width:50px;
	}
	
section.contenido_texto .texto .letra_pequena{
text-align:left;
font-size:.8em;
margin-top:2em;
color:#999;
}
	
	

/*PIE*/
	
	
footer{
	background-color:#0078cf;
	width:100%;
	padding:.3em 0;
	text-align:center;
	margin:0 auto;
	}
	
footer div{
	max-width:850px;
	vertical-align:middle;
	margin:0 auto;
	min-height:50px;
	
	}
		
footer div img{
	max-width:230px;
	float:right;
	}
	
.agente {
	max-width:200px;
	float:left;
	}

.lado{
	padding-top:0.5em;}
	
/*COOKIES*/	
		
#pie_galletero{
	max-width:950px;
	margin:1em auto .5em auto;
	width:100%;
	color: #949494;
	background: #e5e5e5;
	font-family:Arial, Helvetica, sans-serif;
	}
		
#pie_galletero a{
	color:#949494;
	}
		
#pie_galletero a:visited{
	color:#949494;
	}	

#pie_galletero_left{
	width:75%;
	vertical-align:middle;
	display:inline-block;
	margin:.5em;
	font-size:.8em;
	text-align:center;
	}

#pie_galletero_right{
	text-align:right;
	width:20%;
	vertical-align:middle;
	display:inline-block;
	margin:.5em;
	}
	
#pie_galletero_right input{
	margin:.3em;
	padding:.1em 0;
	cursor:pointer;
	}
	
#info_cook {
	font-family:Arial, Helvetica, sans-serif;
	max-width:950px;
	width:100%;
	display: block;
	margin: 0 auto;
	text-align: left;
	font-size: .7em;
	color: #949494;
	background: #e5e5e5;
	}
	
.texto_cook{
	width:96%;
	margin:0 auto;}	
	
	
.closeCookiesPolicy{
	text-align:right;
	}
	
.closeCookiesPolicy a{
	color:#666;
	text-decoration:none;
	font-size:15px;
	margin:.5em;
	font-weight:bold;
	}

@media (max-width: 1100px) {
	h1{
		font-size:1.5em;}
		
	header .cabecera img#logo{
		width:15%;
		}
			
	
}


@media (max-width: 1000px) {
	
	header .cabecera img#logo{
		width:14%;
	}
	
	h1{
		font-size:1.4em;
	}
	
	.espacio_btn input{
		font-size:1.2em;}
		
	section.foto{
	margin-left:5em;
	margin-right:0em;
		
	
	}
}
	
	

	
@media (max-width: 900px) {
	
	header .cabecera img#logo {
		width:80px;
	}
	header .llamanos p {
	font-size: 1.3em;
	}
	
	header .llamanos p:last-child {
	font-size: 1.6em;
	}
	
	section.formulario{
		 width:32%;
		}
	
		 header .cabecera img#logo{
		width:17%;
	}
	
	section.foto{
		width:55%;
		margin-left:3em;
		}
	
}




@media (max-width: 800px) {
	
	header{
		border:0;}
		
	header .cabecera{padding:1em 0;display:none;}
	header .cabecera img#logo {
		display:none;
	}
	header .cabecera div#super {
		margin-left:0;
		width: 60%;
		
	
	}
	header .cabecera div.llamanos {
	width: 38%;
	
	}
	


	section.contenido {
	background:none;
	margin-top:-2em;

	}
	
	section.formulario, section.foto {
		display:block;
		width:98%;
		margin-left:0;
		margin-right:0;

		
	}
	
		
	
	section.foto .mvl{
		display:block;
		
	}
		
	section.foto .web{
		display:none;
	}
		
	section.contenido_texto .texto .info{
		width:49%;
		
		}
	section.contenido_texto .texto h3 {
		font-size:1em;
		
	}	
	#pie_galletero_left{
		width:98%;
		display:block;
	}

	#pie_galletero_right{
		text-align:center;
		margin:auto;
		width:98%;
		display:block;
	}
	
	.web {
		display:none;}
		
	.espacio_btn input{
		font-size:1.7em;}
		
	
}



@media (max-width:510px) {
	h1 {
		font-size: .9em;
		
	}
	header .llamanos p {
	font-size: .9em;
	}
	
	header .llamanos p:last-child {
	font-size: 1em;
	}

	section.contenido_texto .texto .info{
		width:80%;
		display:block;
		margin: auto;
	}
	
		
.espacio_btn input{
	font-size:1em;}
	
}

@media (max-width:447px) {
	footer div{
		min-height:85px;
		text-align:center;
	}
	
	.lado {
		padding-top:0px;}
	
	}

@media (max-width:420px) {
	h1 {
		font-size: .7em;
		
	}
	header .llamanos p {
	font-size: .7em;
	}
	
	header .llamanos p:last-child {
	font-size: .8em;
	}
	
	section.formulario, section.foto {
		width:97%;
		margin-left:0;
		margin-right:0;}
		
	section.contenido_texto .texto h3 {
		margin-bottom:0.7em;
		margin-top:-1.5em;}
	
}
