@charset "UTF-8";

*{
	padding:0;
	margin:0;
	}
	
img{
	width: 100%;
	height:auto;
	}
	
@font-face {
    font-family: 'Gotham';
    src:url(../fonts/Gotham-Book.otf);
	src:url(../fonts/Gotham-Bold.otf);
	}

body{
    font-family: 'Gotham',Arial;
	background-color:#fbfbfb;
	}
	
.basic_content{
	width:100%;
	background-image:url(../img/095/fondo.jpg);
	background-repeat:no-repeat;
	}
	
.small_content{
	max-width:1100px;
	width:99%;
	margin:auto;
	}
	
.skeleton{
	width:56%;
	display:inline-block;
	margin-bottom:0.5em;
	margin-top:0.3em;
	vertical-align:bottom;
	}
	
.second-image{
	display:none;
	}

	
/*FORMULARIO*/
	
section.formulario{
	width:30%;
	display:inline-block;
	text-align:center;
	vertical-align:top;
	margin-top:6em;
	visibility: hidden;
	}
	
section.formulario p{
	padding-top:1.3em;
	font-size:1.2em;
	color:#0079c8;
	text-align:center;
	}

section.formulario #ctcForm, section.formulario .form095{
	background-image:url(../img/095/diente.png);
	background-repeat:no-repeat;
	background-position:center;
	width:99%;
	margin:1em auto;
	text-align:center;
	padding: .1em 0 .2em 0;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	min-height:360px;
	}
	
.formulario .celda{
	background-color:#FFFFFF;
	font-size:.9em;
	display:block;
	width:65%;
	min-height:25px;
	margin:0.6em auto;
	border:2px solid #0079c8;
	color:#585254;
	text-align:left;
	font-weight:200;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	}

.legal{
	font-size:.6em;
	width:92%;
	margin:0 auto;
	text-align:center;
	color:#585254;
	margin-left:1.6em;
	margin-top:-0.8em;
	}
	
.legal input{
	vertical-align:top;
	}
	
.legal a{
	color:#585254;
	}
	
.espacio_btn{
	width:90%;
	text-align:center;
	margin:.4em auto;
	}	
	
.espacio_btn input{
	cursor:pointer;
	width:72%;
	padding:0.4em;
	color: white;
	border: 0;
	font-size: 1em;
	background-color:#a3bf2a;
	margin-bottom:0.5em;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	}

.text_content{
	max-width:1100px;
	margin: auto;
	margin-top:-0.3em;
	padding-bottom:2em;
	}

.box_text1{
	width:33%;
	background-image:url(../img/095/cuadrado1.jpg);
	background-repeat: no-repeat;
	background-position:center top;
	display:inline-block;
	vertical-align:top;
	}
	
.box_text2{
	width:33%;
	background-image:url(../img/095/cuadrado2.jpg);
	background-repeat: no-repeat;
	background-position:center top;
	display:inline-block;
	vertical-align:top;
	}
	
.box_text3{
	width:33%;
	background-image:url(../img/095/cuadrado3.jpg);
	background-repeat: no-repeat;
	background-position:center top;
	display:inline-block;
	vertical-align:top;
	}

.text-only{
	max-width:280px;
	padding-top:5.5em;
	width:70%;
	margin:auto;
	}
	
.text-only h1{
	font-size:1.4em;
	color:#0079c8;
	text-align:center;
	font-weight:bold;
	margin-top:-1.1em;
	}

.min{
	font-size:0.7em;
	}

.text-only p{
	font-size:0.8em;
	color:#0079c8;
	}
	
.vacio{
	height:50px;
	}
	
.vacio2{
	height:110px;
	}
	
.vacio3{
	height:130px;
	}
	
.letra_pequena{
	text-align:left;
	font-size:.8em;
	margin-top:2em;
	color:#999;
	}

.letra_pequena a{
	color:#999;
	}

footer{
	background-color:#0078cf;
	width:100%;
	padding:.3em 0;
	text-align:center;
	margin:0 auto;
	}
	
footer div{
	max-width:850px;
	vertical-align:middle;
	margin:0 auto;
	min-height:50px;
	}
		
footer div img{
	max-width:230px;
	float:right;
	}
	
.agente {
	max-width:200px;
	float:left;
	}

.lado{
	padding-top:0.5em;
	}
	
	
@media (max-width: 1150px){
	
.skeleton{
	width:56%;
	margin-bottom:1.4em;
	} 
	}
		
@media (max-width: 1100px) {
.skeleton{
	width:58%;
	}
	}

@media (max-width: 1050px) {
.skeleton{
	width:61%;
	}
	
.text_content{
	margin-top:-1.2em;
	}
	
section.formulario{
	width:35%;
	}
	}
	
@media (max-width: 1000px){
	
.skeleton{
	width:64%;
	}
	}
	
@media (max-width: 970px){
	
.text-only{
	width:90%;
	max-width:none;
	text-align:center;
	padding-top:0em;
	}
	
.box_text1{
	width:99%;
	background-image:none;
	padding-top:4em;
	}
		
.box_text2{
	width:99%;
	background-image:none;
	}
		
.box_text3{
	margin-top:-3em;
	width:99%;
	background-image:none;
	}
	}
	
@media (max-width: 953px){
	
.skeleton{
	width:64%;
	margin-bottom:-0.4em;
	}
	}

@media (max-width: 930px){
	
.basic_content{
	background-image:url(../img/095/photo-responsive.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	}
	
.first-image{
	display:none;
	}
	}
	
@media (max-width: 890px){	

.basic_content{
	background-image:none;
	}
	
.skeleton{
	width:99%;
	margin-bottom:1.5em;
	}
	
.second-image{
	display:block;
	}
	
section.formulario{
	width:98%;
	border: 4px solid #e0f2ff;
	margin-top:-1.5em;
	}
	
section.formulario #ctcForm, section.formulario .form095{
	background-image:none;
	min-height:250px;
	}

.formulario .celda{
	width:89%;
	}
	
section.formulario p{
	font-size:1.8em;
	padding-top:0.5em;
	}
	
.espacio_btn input{
	width:99%;
	}
	
.text_content{
	width:90%;
	}
	}
	
@media (max-width:447px){
	
footer div{
	min-height:85px;
	text-align:center;
	}
	
.lado {
	padding-top:0px;}
		
section.formulario p{
	font-size:1.3em;
	}
}


/*
==============================================
slideDown
==============================================
*/
.slideDown{
	animation-name: slideDown;
	-webkit-animation-name: slideDown;	

	animation-duration: 1s;	
	-webkit-animation-duration: 1s;

	animation-timing-function: ease;	
	-webkit-animation-timing-function: ease;	

	visibility: visible !important;						
}

@keyframes slideDown {
	0% {
		transform: translateY(-100%);
	}
	50%{
		transform: translateY(8%);
	}
	65%{
		transform: translateY(-4%);
	}
	80%{
		transform: translateY(4%);
	}
	95%{
		transform: translateY(-2%);
	}			
	100% {
		transform: translateY(0%);
	}		
}

@-webkit-keyframes slideDown {
	0% {
		-webkit-transform: translateY(-100%);
	}
	50%{
		-webkit-transform: translateY(8%);
	}
	65%{
		-webkit-transform: translateY(-4%);
	}
	80%{
		-webkit-transform: translateY(4%);
	}
	95%{
		-webkit-transform: translateY(-2%);
	}			
	100% {
		-webkit-transform: translateY(0%);
	}	
}
/** END slideDown **/