*{
	padding:0;
	margin:0;
	}
	
img{
	width: 100%;
	}
	
@font-face {
    font-family: 'Gotham';
    src:url(../fonts/Gotham-Book.otf);
	}

body{
    font-family: 'Gotham',Arial;
	}
	
h1{
	font-size:1.2em;
	color:#666;
	}
	
h2{
	color:#0178c8;
	font-size:1.2em;
	margin-left:.5em;
	}
	
	
h3{
	color:#6e6e6e;
	font-size:1em;
	}
	
body{
	background:url(../img/027/white_wall_hash.png);}
	
/*HEADER*/
	
header{
	background-color:#FFF;
	width:100%;
	}
	
header .cabecera{
	margin:0 auto;
	max-width:900px;
	padding:.5em 0;
	}
header .cabecera div#super{
	width:53%;
	display:inline-block;
	vertical-align:middle;
	}
header .cabecera div.llamanos{
	width:30%;
	display:inline-block;
	vertical-align:middle;
	text-align:right;
	font-size:1.4em;
	color:#0178c8;
	font-weight:bold;

	}
		
header .cabecera img#logo{
	width:100px;
	margin-right:1em;
	
	display:inline-block;
	vertical-align:middle;
	}
	
header .llamanos img{
	width:23px;
	height:23px;
	vertical-align:top;
	margin:.2em;
	
	}
header .llamanos span:last-child{
	margin-top:.2em;
	color:#ff7c00;
	
	}
	
	
/*CONTENIDO*/

section.contenido{
	max-width:900px;
	margin:0em auto;
	background:url(../img/027/familia-sanitas-salud.jpg) no-repeat;
	
	background-position:top;
	padding-top:1em;
	}
	
#contenido-mujer{
	background:url(../img/027/sanitas-salud-mujer.jpg) no-repeat;
	}
#contenido-hombre{
	background:url(../img/027/sanitas-salud-hombre.jpg) no-repeat;
	}
#contenido-pareja{
	background:url(../img/027/sanitas-salud-pareja.jpg) no-repeat;
	}
	
	
/*sello*/
section.sello{
	
	width:65%;
	display:inline-block;
	vertical-align:bottom;
	
}	
section.sello .img_sello{
	max-width:160px;
	
	
}	
.img_foto{
	display:none;}
/*FORM*/

	
section.formulario{
	width:32%;
	display:inline-block;
	font-size:1em;
	text-align:center;
	color:#FFF;
	vertical-align:bottom;
	max-width:300px;
	
	}

	
	
section.formulario #ctcForm{
	background-color:#01aef0;
	width:100%;
	margin:1em auto;
	font-size:1.1em;
	text-align:center;
	padding:.5em 0;
	}
	
section.formulario #ctcForm input{
	width:50%;
	display:inline-block;
	vertical-align:top;
	padding-left:.2em;
	
	height:30px;
	}
	
section.formulario #ctcForm input:last-child{
	cursor:pointer;
	width:40%;
	color: white;
	border: 0;
	font-size:.8em;
	margin-top:1em;
	background-image: -ms-linear-gradient(top, #F68A1E 0%, #FF7301 100%);
	background-image: -moz-linear-gradient(top, #F68A1E 0%, #FF7301 100%);
	background-image: -o-linear-gradient(top, #F68A1E 0%, #FF7301 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #F68A1E), color-stop(1, #FF7301));
	background-image: -webkit-linear-gradient(top, #F68A1E 0%, #FF7301 100%);
	background-image: linear-gradient(to bottom, #F68A1E 0%, #FF7301 100%);
	}
	
section.formulario #enviarPorMailSolicitaInfo{
	background-color:#0178c8;
	width:100%;
	margin:1em auto 0 auto;
	text-align:center;
	font-size:1.1em;
	padding:.5em 0;
	}

.formulario .celda{
	display:block;
	width:90%;
	min-height:30px;
	margin:1em auto;
	border:0;
	color:#868585;
	text-align:left;
	padding-left:.2em;
}

.legal{
	font-size:.6em;
	font-family:Arial, Helvetica, sans-serif;
	width:90%;
	margin:0 auto;
	text-align:left;
	}
.legal input{
	vertical-align:top;
	}
.legal a{
	color:#FFF;
	
	}
	
.espacio_btn{
	width:90%;
	text-align:center;
	margin:0 auto;
	}	
	
.espacio_btn input{
	cursor:pointer;
	width:100%;
	padding:.4em;
	color: white;
	border: 0;
	font-size: 1.2em;
	margin:.7em auto;
	background-image: -ms-linear-gradient(top, #F68A1E 0%, #FF7301 100%);
	background-image: -moz-linear-gradient(top, #F68A1E 0%, #FF7301 100%);
	background-image: -o-linear-gradient(top, #F68A1E 0%, #FF7301 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #F68A1E), color-stop(1, #FF7301));
	background-image: -webkit-linear-gradient(top, #F68A1E 0%, #FF7301 100%);
	background-image: linear-gradient(to bottom, #F68A1E 0%, #FF7301 100%);
	}


/*TEXTO*/

section.contenido_pestañas{
	
	width:100%;
	margin:3em auto 0 auto;
	color:#666;
	}
section.contenido_pestañas ul li{
	list-style:none;
	display:inline-block;
	width:15%;
	padding:.5em;
	text-align:center;
	background-color:#e0e0e0;
	
	}
	

section.contenido_pestañas ul li:first-child{
	margin-left:1em;
	
	}
section.contenido_pestañas ul li.selected{
	
	background:#FFF;
	}
section.contenido_pestañas ul li a{
	color:#666;
	text-decoration:none;
	}
section.contenido_pestañas .texto_pestañas	{
	width:100%;
	background-color:#FFF;
	font-size:.9em;
	padding-bottom:.5em;
	padding-top:.5em;
	
	}
section.contenido_pestañas .texto_pestañas img	{
	max-width:18px;
	
	
	}
section.contenido_pestañas .texto_pestañas .texto_pestañas_izq, section.contenido_pestañas .texto_pestañas .texto_pestañas_drcha{
	width:49%;
	display:inline-block;
	vertical-align:top;
	}
	
section.contenido_pestañas .texto_pestañas .caracteristicas{
	margin:1em;
	min-height:50px;
	}
section.contenido_pestañas .texto_pestañas .caracteristicas div, section.contenido_pestañas .texto_pestañas .caracteristicas img {
	display:inline-block;
	vertical-align:top;
	}
section.contenido_pestañas .texto_pestañas .caracteristicas div{
	width:90%;}
	
section.contenido_pestañas p{
	font-size:.7em;
	margin:.5em;
}
.azul{
	color:#0178c8;
	font-weight:bold;}
	
/*iconos*/

.caja_iconos{
	width:70%;
	margin:1em auto;
	text-align:center;
	}
	
.icono{
	width:15%;
	display:inline-block;
	margin-bottom:2em;
	text-align:center;
         cursor:pointer;
	}
	
.circulo_azul{
	max-width:65px;
	max-height:65px;
	border-radius:50%;
	margin:0 auto;
	}
	
.ico_selected{	
	background-color:#b2defc;
	-webkit-box-shadow: 4px 4px 3px #a6a6a6;
	-moz-box-shadow: 4px 4px 3px #a6a6a6;
	box-shadow: 4px 4px 3px #a6a6a6;
}

.blockCall {
    border: medium none;
    color: #0178c8;
    text-decoration: none;
}

.icono img{
	min-width:65px;
	width:90%;
	margin: 0 auto;
	}

h3{
	font-size:1em;
	color:#0178c8;
	font-weight:normal;
	margin-left:1em;}

h4{
	font-size:1em;
	font-weight:normal;}


	
/*PIE*/
	
	
footer{
	background-color:#0078cf;
	width:100%;
	padding:.5em 0;}
	
footer div{
	max-width:900px;
	margin:0 auto;
	text-align:right;
	
	}
footer div img{
	max-width:252px;
	
	}
	
		
@media (max-width: 900px) {
	
	body{
		padding:.2em;
	}
	
	header .cabecera div#super {
		width: 45%;
	}
	
	h1{
		font-size:1.1em;
	}
		
	section.sello{
		width:56%;
	}
		
		
	section.formulario{
		width:43%;
	}
	
	header .cabecera div.llamanos{
		font-size:1.2em;
	}
		
	header .cabecera div.llamanos img{
		width:20px;
		height:20px;
		margin:.1em;
	}
	.caja_iconos{
		width:90%;
		}
		

}
	
@media (max-width:620px) {
	
	section.contenido, #contenido-mujer, #contenido-hombre, #contenido-pareja{
		background:none ;
	}
	
	header .cabecera img#logo {
		width: 75px;
		margin-right:0;
	}
		
	header .cabecera div#super {
		display:none;
	}
	
	header .cabecera div.llamanos {
		width: 81%;
	}
	
	header .cabecera, section.formulario, section.sello{
		width:95%;
		display:block;
		margin:0 auto;
		max-width:500px;
	}

	.img_sello{
		display:none;
		}
		
	.img_foto{
		display:block;
		width:100%;
		}
		
	section.formulario #ctcForm{
		margin:0 auto;
		}
		
	section.formulario #enviarPorMailSolicitaInfo{
		display:none;
		}
		
	section.contenido_pestañas {
		margin: 1em auto 0 auto;
	}	

	section.contenido_pestañas .texto_pestañas .texto_pestañas_izq, section.contenido_pestañas .texto_pestañas .texto_pestañas_drcha{
		width:95%;
		display:block;
	}
	section.contenido_pestañas .texto_pestañas .caracteristicas{
		margin:1em .5em;
		min-height:0px;
	}
		
		
	section.contenido_pestañas ul li{
		width:23%;
		padding:.3em 0;
		font-size:.9em;
	}
	
	section.contenido_pestañas ul li:first-child {
		margin-left: 0;
	}
	
}
	
@media (max-width:480px) {
	section.contenido_pestañas .texto_pestañas{
		font-size:.9em;
	}
	
	header .cabecera img#logo{
		width: 65px;
	}	

	header .cabecera div.llamanos {
		width: 73%;
	}
	.icono{
	width:30%;
	}

}
	
	