*{
	padding:0;
	margin:0;}
	
img {
  width: 100%;
}

@font-face {
	font-family:'Gotham';
	src:url(../fonts/Gotham-Medium.otf);
	}
@font-face {
	font-family:'GothamLight';
	src:url(../fonts/Gotham-Light.otf);
	}
	
body{
	font-family:'Gotham',Arial;
	background-color:#ebeaea;
	}
	
	
header{
	width:100%;
	background-color:#FFF;
	}
	
.contenedor{
	width:100%;
	background-color:#ebeaea;
	padding:1em 0;
	}

.contenedor .formulario{
	margin:0 auto;
	width:98%;
	text-align:center;
	}
	
.contenedor .formulario form{
	margin:0 auto;
	width:98%;
	}
	
h1{
	text-align:center;
	font-size:1.2em;
	color:#1278c0;
	margin-bottom:.5em;
	}
	
.contenedor .formulario form input[type='text'], .contenedor .formulario form input[type='tel']{
	margin:.3em auto;
	width:98%;
	height:50px;
	text-align:center;
	font-size:1.5em;
	font-family:'GothamLight',Arial;

	}
	
	
.contenedor .formulario input[type='button']{
	display:block;
	margin:.3em auto;
	width:80%;
	height:70px;
	border:0;
	background: -webkit-gradient(linear, left top, right top, from(#ffa100), to(#f07302));
	background: -webkit-linear-gradient(top, #ffa100, #f07302);
	background: -moz-linear-gradient(top, #ffa100, #f07302);
	background: -o-linear-gradient(top, #ffa100, #f07302);
	background: -ms-linear-gradient(top, #ffa100, #f07302);
	background: linear-gradient(top, #ffa100, #f07302);
	background-color: #ffa100;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: 3px 3px 3px #a8a8a8;
	-moz-box-shadow: 3px 3px 3px #a8a8a8;
	box-shadow: 3px 3px 3px #a8a8a8;
	color:#FFF;
	font-size:46px;
	font-family:'Coolvetica',Arial;
	font-weight:normal;

}

.contenedor .formulario form .legal{
	margin:.3em auto;
	width:98%;
	display:block;
	text-align:left;
	color:#5d5d5d;
	font-size:.7em;
	font-family:'GothamLight',Arial;
	}
.contenedor .formulario form .legal a{
	color:#5d5d5d;
	}

	
.contenedor .formulario form input[type='checkbox']{
	margin:.5em auto;
		height:18px;
		width:18px;
		background-color:#FFF;
		border:1px solid #999;
	}

.contenedor .formulario form input[type='checkbox'], span{
	vertical-align:middle;}
	
.contenedor .formulario form span{
	margin-left:.3em;
	}



	
	