@charset "UTF-8";

*{
	padding:0;
	margin:0;
	box-sizing:border-box;
	}
	
img{
	width:99%;
	height:auto;
	}
	
@font-face{
  	font-family: 'Gotham-Bold';
 	src: url('../fonts/Gotham-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/Gotham-Bold.otf')  format('opentype'),
	url('../fonts/Gotham-Bold.woff') format('woff'), url('../fonts/Gotham-Bold.ttf')  format('truetype'), url('../fonts/Gotham-Bold.svg#Gotham-Bold') format('svg');
  	font-weight: normal;
  	font-style: normal;
  	}
 
@font-face{
  	font-family: 'Gotham-Book';
  	src: url('../fonts/Gotham-Book.eot?#iefix') format('embedded-opentype'),  url('../fonts/Gotham-Book.otf')  format('opentype'),
	url('../fonts/Gotham-Book.woff') format('woff'), url('../fonts/Gotham-Book.ttf')  format('truetype'), url('../fonts/Gotham-Book.svg#Gotham-Book') format('svg');
  	font-weight: normal;
  	font-style: normal;
 	}
  
 body{
	font-family: 'Gotham-Book', Arial;
	background-color:#FFFFFF;
	}
	
/*Header*/
	
header{
	width:100%;
	background-color:#FFFFFF;
	}
	
.cabecera{
	width:99%;
	max-width:1200px;
	margin:auto;
	padding-left:4em;
	}
	
.cabecera img{
	width:9%;
	display:inline-block;
	vertical-align:middle;
	}
	
.cabecera h1{
	display:inline-block;
	vertical-align:middle;
	font-size:2em;
	color:#A02383;
	margin-bottom:1.1em;
	margin-left:0.4em;
	}
	
.basic-content{
	width:100%;
	margin-top:0.4em;
	}
	
.small-content{
	width:99%;
	max-width:1200px;
	margin:auto;
	background-image:url(../img/146/background.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	}
	
/*skeleton*/
	
.skeleton{
	width:60%;
	display:inline-block;
	vertical-align:middle;
	}
	
.web{
	width:45%;
	margin:1em;
	}
	
.mvl{
	display:none;
	}
	
/*Formulario*/

section.formulario{
	width:28%;
	display:inline-block;
	text-align:center;
	vertical-align: middle;
	margin-left:6em;
	}
	
section.formulario p{
	font-size:1.06em;
	color:#3f3f3f;
	font-family: 'Gotham-Bold';
	margin-top:1.2em;
	}
	
section.formulario .text-information{
	font-size:0.89em;
	margin-top:0.1em;
	margin-bottom:1.4em;
	}
	
section.formulario .text-information span{
	font-family: 'Gotham-Book'
	}

section.formulario #ctcForm, section.formulario #enviarPorMailSolicitaInfo{
	background-color: rgba(255,255,255,0.8);
	width:100%;
	margin:.2em auto;
	text-align:center;
	padding:.4em 0;
	border: 3px solid #ef8900;
	}
	
.formulario .celda{
	background-color:#FFF;
	font-size:.9em;
	display:block;
	width:80%;
	min-height:45px;
	margin:auto;
	margin-top:1em;
	text-align:left;
	border: 1px solid #ef8900;
	padding-left:3.3em;
	-webkit-appearance: none;
    -webkit-border-radius: 0;
	border-radius:0;
	}
	
input[placeholder], [placeholder], *[placeholder]{
   color:#3f3f3f !important;
   font-family: 'Gotham-Book';
   }
  
  ::-webkit-input-placeholder{
    color:#3f3f3f;
	font-family: 'Gotham-Book';
	}
	
*:-moz-placeholder{
    color:#3f3f3f;
	font-family: 'Gotham-Book';
	}
	
*::-moz-placeholder{
    color:#3f3f3f;
	font-family: 'Gotham-Book';
	}
	
*:-ms-input-placeholder{
    color:#3f3f3f;
	font-family: 'Gotham-Book';
	}

.formulario .celda:focus{
	outline:0px;
	}

.legal{
	font-size:.7em;
	width:81%;
	text-align:left;
	color: #666;
	margin:0.3em auto;
	}
	
.legal input{
	vertical-align:top;
	}
	
.legal a{
	color: #666;
	}
	
.espacio_btn{
	width:81%;
	text-align:center;
	margin:.7em auto;
	}	
	
.espacio_btn input{
	cursor:pointer;
	width:99%;
	padding:1.2em 0;
	color: white;
	border: 0;
	font-size: 1.3em;
	background-color:#EF8900;
	font-family: 'Gotham-Bold';
	-webkit-appearance: none;
    -webkit-border-radius: 0;
	border-radius:0;
	}
	
.espacio_btn input:hover{
	background-color:#b36804;
	}
	
.name{
	background-image:url(../img/146/user-form.png);
	background-repeat:no-repeat;
	background-position:4px;
	}
	
.phone{
	background-image:url(../img/146/phone-user.png);
	background-repeat:no-repeat;
	background-position:4px;
	}
	
.mail{
	background-image:url(../img/146/mail-form.png);
	background-repeat:no-repeat;
	background-position:4px;
	}
	
/*Text-content*/

.text-content{
	width:99%;
	max-width:1200px;
	margin:2em auto 0 auto;
	}
	
.top-part{
	text-align:center;
	}
	
.top-part h1{
	font-size:1.3em;
	color:#000000;
	text-align:center;
	}
	
.top-part .options{
	width:92%;
	text-align:center;
	margin:1.5em 0;
	}
	
.options-mvl{
	display:none;
	}
	
/*iconos incluidos*/
	
.icons-part{
	background-color:#f9f8f8;
	padding:1em;
	margin-bottom:5em;
	}
	
.icons-part h1{
	text-align:center;
	color:#a02383;
	font-family: 'Gotham-Bold';
	font-size:1.2em;
	margin-top:0.6em;
	margin-bottom:2em;
	}
	
.icons{
	width:45%;
	display:inline-block;
	vertical-align:top;
	margin-left:3em;
	}
	
.image-icon{
	width:8%;
	display:inline-block;
	vertical-align:top;
	}
	
.icons p{
	width:85%;
	display:inline-block;
	vertical-align:top;
	margin-left:0.4em;
	margin-bottom:2em;
	font-size:1em;
	}
	
.icons p span{
	color:#a02383;
	font-family: 'Gotham-Bold';
	font-size:1.1em;
	}
	
/*iconos opcional*/
	
.titlle{
	text-align:center;
	margin-bottom:2em;
	}
	
.titlle h1{
	color:#007a3d;
	margin-top:2.5em;
	text-align:center;
	display:inline-block;
	vertical-align:middle;
	margin-right:0.4em;
	}
	
.bullet-optional{
	width:11%;
	display:inline-block;
	vertical-align:middle;
	}
	
.icons-option{
	width:45%;
	display:inline-block;
	vertical-align:top;
	margin-left:3em;
	}
	
.icons-option p{
	width:85%;
	display:inline-block;
	vertical-align:top;
	margin-left:0.4em;
	margin-bottom:2em;
	}
	
.icons-option p span{
	color:#007a3d;
	font-family: 'Gotham-Bold';
	font-size:1.1em;
	}
	
.legal p{
	font-size:1.2em;
	margin-bottom:2em;
	}
	
footer{
	background-color:#0078cf;
	width:100%;
	padding:.3em 0;
	text-align:center;
	margin-top:4em;
	}
	
footer article{
	max-width:850px;
	vertical-align:middle;
	margin:0 auto;
	min-height:50px;
	}
		
footer article img{
	max-width:230px;
	float:right;
	}
	
.agente{
	max-width:200px;
	float:left;
	}

.lado{
	padding-top:0.5em;
	}
	
@media (max-width: 1140px){

.top-part h1{
	font-size:1em;
	}
	}

@media (max-width: 1100px){

section.formulario p{
	font-size:0.9em;
	}
	
section.formulario .text-information{
	font-size:0.76em;
	}
	
.espacio_btn input{
	font-size:1.1em;
	}
	}
	
@media (max-width: 1065px){
	
.text-content{
	text-align:center;
	}

.icons{
	text-align:center;
	margin-left:0;
	width:90%;
	}
	
.image-icon{
	width:99%;
	max-width:32px;
	}
	
.icons p{
	width:95%;
	}

.icons-option{
	width:90%;
	margin-left:0;
	}
	
.icons-option p{
	width:95%;
	}
	}
	
@media (max-width: 990px){
	
section.formulario{
	width:30%;
	margin-left:2em;
	}
	}
	
@media (max-width: 900px){
	
section.formulario{
	width:35%;
	margin-left:1em;
	}
	}
	
@media (max-width: 800px){
	
.cabecera img{
	width:15%;
	}
	
section.formulario{
	width:99%;
	margin-left:0;
	}

section.formulario p{
	font-size:1.4em;
	}
	
section.formulario .text-information{
	font-size:1.17em;
	}
	
.espacio_btn input{
	font-size:1.5em;
	}
	
.skeleton{
	width:100%;
	display:none;
	}
	
.web{
	display:none;
	}
	
.mvl{
	display:block;
	}
	
.small-content{
	background-image:none;
	}
	
.top-part .options{
	display:none;
	}

.options-mvl{
	display:block;
	max-width:370px;
	margin:1em auto;
	}

.top-part h1{
	font-size:0.9em;
	}
	
.bullet-optional{
	display:none;
	}
	}
	
@media (max-width: 580px){
	
.cabecera h1{
	font-size:1.5em;
	margin-top:0.3em;
	}
	
.icons-part{
	margin-bottom:2em;
	}
	
footer{
	margin-top:1em;
	}
	}
	
@media (max-width: 470px){

.cabecera img{
	width:20%;
	}
		
.cabecera h1{
	margin-top:0.5em;
	}
	
.cabecera{
	padding-left:1em;
	}
	}
	
@media (max-width:447px){
	
footer article{
	min-height:85px;
	text-align:center;
	}
	
.lado {
	padding-top:0px;
	}
	}
	
@media (max-width: 400px){
	
.cabecera h1{
	font-size:1.1em;
	}
	
section.formulario p{
	font-size:0.95em;
	}
	
section.formulario .text-information{
	font-size:0.80em;
	}
	
.espacio_btn input{
	font-size:1.2em;
	}
	}
	


	