@charset "UTF-8";

*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	}

img{
	width:99%;
	height:auto;
	}

@font-face{
	font-family:'Gotham-Book';
	src: url('../fonts/gotham-book.eot');
	src: local('☺'), url('../fonts/gotham-book.woff') format('woff'), url('../fonts/gotham-book.ttf') format('truetype'), url('../fonts/gotham-book.svg') format('svg');
	font-weight: normal;
	font-style: normal;
	}

@font-face{
	font-family:'Gotham-Bold';
	src: url('../fonts/gotham-bold.eot');
	src: local('☺'), url('../fonts/gotham-bold.woff') format('woff'), url('../fonts/gotham-bold.ttf') format('truetype'), url('../fonts/gotham-bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
	}

body{
	font-family:'Gotham-Book';
	background-color:#FFFFFF;
	}

/*Header Start*/

header{
	width:100%;
	}

.cabecera{
	width:99%;
	max-width:1000px;
	margin:auto;
	}

.cabecera img{
	width:9%;
	display:inline-block;
	vertical-align:middle;
	}

.be-blua{
	width:40%;
	display:inline-block;
	vertical-align:top;
	color:#404040;
	font-size:1.6em;
	font-weight:lighter;
	margin-top:1.1em;
	margin-left:0.8em;
	}

/*Footer End*/

/*Main start*/

.basic-content{
	width:100%;
	background-color:#bfe0e0;
	}

.small-content{
	width:99%;
	max-width:1200px;
	margin:auto;
	background-image:url(../img/169/background-ok.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	max-height:760px;
	}

.skeleton{
	width:60%;
	padding-top:3em;
	padding-bottom:0em;
	display:inline-block;
	vertical-align:top;
	}

.web{
	display:block;
	}

.mvl{
	display:none;
	}

/*Main End*/

/*Formulario Start*/

section.formulario{
	width:28%;
	display:inline-block;
	text-align:center;
	vertical-align:top;
	margin-top:2em;
	margin-bottom:5em;
	}
	
section.formulario p{
	font-size:1.7em;
	color:#FE5000;
	line-height:28px;
	padding-top:0.4em;
	}
	
section.formulario p span{
	font-size:1.05em;
	}
	
section.formulario #enviarPorMailSolicitaInfo{
	background-color:#FFFFFF;
	width:100%;
	margin:.2em auto;
	text-align:center;
	padding:.4em 0;
	border:2px solid #FE5000;
	}

.formulario .celda{
	background-color:#FFF;
	font-size:.9em;
	display:block;
	width:84%;
	min-height:35px;
	margin:auto;
	margin-top:0.9em;
	padding-left:2.8em;
	border:1px solid #FE5000;
	color:#857f78;
	text-align:left;
	-webkit-appearance: none;
    -webkit-border-radius: 0;
	border-radius:0;
	}

.formulario .celda:focus{
	outline:0px;
	}

.legal{
	font-size:.7em;
	font-family:'Gotham-Book';
	width:84%;
	text-align:left;
	color:#000000;
	margin:0.2em auto;
	}
	
.legal input{
	vertical-align:top;
	}
	
.legal a{
	color:#000000;
	}
	
.espacio_btn{
	width:90%;
	text-align:center;
	margin:.5em auto;
	}	
	
.espacio_btn input{
	cursor:pointer;
	background-color:#0079c8;
	width:92%;
	padding:.5em 0;
	font-family:'Gotham-Book';
	color:white;
	font-size:1.5em;
	margin:.2em auto;
	border-top:0;
	border-right:0;
	border-left:0;
	border-bottom:8px solid #7fbce3;
	-webkit-appearance: none;
    -webkit-border-radius: 0;
	border-radius:0;
	}

.espacio_btn input:hover{
	background-color:#326687;
	}

input[placeholder], [placeholder], *[placeholder]{
   color:#000000 !important;
   }
  
  ::-webkit-input-placeholder{
    color:#000000;
	}
	
*:-moz-placeholder{
    color:#000000;
	}
	
*::-moz-placeholder{
    color:#000000;
	}
	
*:-ms-input-placeholder{
    color:#000000;
	}

section.formulario .name{
	background-image:url(../img/169/icon-user.png);
	background-repeat:no-repeat;
	}

section.formulario .phone{
	background-image:url(../img/169/icon-phone.png);
	background-repeat:no-repeat;
	}

section.formulario .mail{
	background-image:url(../img/169/icon-mail.png);
	background-repeat:no-repeat;
	}

/*Formulario End*/


/*Text-content Start*/

.text-content{
	width:99%;
	max-width:1200px;
	margin:2em auto 4em auto;
	}

.text-content h1{
	font-size:1.2em;
	margin-bottom:2em;
	}

.text-content h1 span{
	font-family: 'Gotham-Bold';
	}

.box-text{
	width:29%;
	display:inline-block;
	vertical-align:top;
	text-align:center;
	}

.box-text img{
	max-width:90px;
	}

.box-text h2{
	color:#0079c8;
	}

.box-text p span{
	font-family: 'Gotham-Bold';
	}

.blue{
	color:#0079c8;
	margin-top:1em;
	}

.box-text2{
	width:29%;
	display:inline-block;
	vertical-align:top;
	text-align:center;
	margin-right:2em;
	margin-left:2em;
	}

.box-text2 img{
	max-width:90px;
	}

.box-text2 h2{
	color:#0079c8;
	}

.box-text2 p span{
	font-family: 'Gotham-Bold';
	}

.legal-text{
	margin-top:4em;
	font-size:1em;
	}

/*Text-content end*/

/*Footer Start*/

footer{
	background-color:#0078cf;
	width:100%;
	padding:.3em 0;
	text-align:center;
	margin:0 auto;
	}
	
footer article{
	max-width:850px;
	vertical-align:middle;
	margin:0 auto;
	min-height:50px;
	}
		
footer article img{
	max-width:230px;
	float:right;
	}
	
.agente{
	max-width:200px;
	float:left;
	}

.lado{
	padding-top:0.5em;
	}

/*Footer End*/

/*Responsive*/

@media (max-width:1150px){
	
section.formulario{
	width:31%;
	}
	}

@media (max-width:1050px){
	
section.formulario{
	width:34%;
	}
	}

@media (max-width:950px){
	
section.formulario{
	width:37%;
	margin-bottom:9em;
	}
	}

@media (max-width:880px){
	
.cabecera img{
	margin-left:5em;
	}
	
.basic-content{
	background-color:#FFFFFF;
	}
	
.small-content{
	width:100%;
	background-image:none;
	}
	
.skeleton{
	width:100%;
	padding-top:0.5em;
	}
	
.web{
	display:none;
	}
	
.mvl{
	display:block;
	}
	
section.formulario{
	width:99%;
	margin-top:0em;
	margin-bottom:0em;
	}
	
.text-content{
	margin:1em auto 3em auto;
	}	
	
.text-content h1{
	font-size:1em;
	text-align:center;
	}
	
.box-text{
	width:99%;
	}
	
.box-text p{
	font-size:0.95em;
	}
	
.box-text2{
	width:97%;
	margin-left:0;
	margin-right:0;
	margin-top:2em;
	margin-bottom:2em;
	}
	
.box-text2 p{
	font-size:0.95em;
	}
	
.legal-text{
	font-size:0.9em;
	}
	}

@media (max-width:790px){
	
.be-blua{
	font-size:1.3em;
	}
	}

@media (max-width:650px){
	
.cabecera img{
	width:13%;
	}
	}

@media (max-width:500px){
	
.cabecera img{
	width:16%;
	margin-left:1em;
	}
	
.be-blua{
	width:50%;
	}
	}

@media (max-width:447px){
	
footer article{
	min-height:85px;
	text-align:center;
	}
	
.lado{
	padding-top:0px;
	}
	}

@media (max-width:400px){
	
.be-blua{
	font-size:1.1em;
	width:60%;
	}
	}

@media (max-width:350px){
section.formulario p{
	font-size:1.55em;
	}
	
.box-text{
	width:98%;
	}
	
.box-text h2{
	font-size:1.4em;
	}
	
.box-text2 h2{
	font-size:1.4em;
	}
	
.espacio_btn input{
	font-size:1.3em;
	}
	}