@charset "utf-8";
/* CSS Document */
body{
font-family:Arial, Helvetica, sans-serif;
background-color:#fefafb;
background: url(../img/fondo-all2_7.jpg) no-repeat center top;
height:100%;
}

#contenedor_centrado {
width:840px;
margin: auto;
min-height:100%;
height:900px;
}	

.form-contenido {
height: 400px;
width: 840px;
}

.titulo{
margin-top:0px;
margin-left:auto;
background-image: url(../img/cabecera_31.png);
background-position: left top;
background-repeat: no-repeat;
height: 156px;
width: 840px;
}

.sello{
margin-top:20px;
margin-left:auto;
background-position: left top;
background-repeat: no-repeat;
height: 180px;
width: 840px;
}

.formulario{
float:right;
margin-top:20px;
margin-right:5px;
}

.ctc_form {
padding:1px 0px 0px 10px;
height: 153px;
width:245px;
background-color: #1d76b8;
font-family: Arial, Helvetica, sans-serif;
color: #FFF;
border-radius:5px;
font-size:12px;
}

.ctc_form p:first-child{font-size:17px;}
.contenedor_form p:first-child{
font-size:17px;
}

.contenedor_form{
padding:1px 0px 0px 10px;
height: 355px;
width:245px;
background-color: #FEFAFB;
font-family: Arial, Helvetica, sans-serif;
color: #333;
margin-top:11px;
border-radius:5px;
font-size:15px;
-webkit-box-shadow: 0px 1px 3px rgba(50, 50, 50, 0.8);
-moz-box-shadow:    0px 1px 3px rgba(50, 50, 50, 0.8);
box-shadow:         0px 1px 3px rgba(50, 50, 50, 0.8);
}

form{
margin-left:20px;
}

.fila {
overflow:hidden;
width:230px;
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
margin-top:3px;
color: #74737b;
font-weight: bold;
}


.celda {
display: block;
margin-top: 5px;
color: #333;
margin-top:5px;
width:190px;
}
.legal {
font-family: Verdana, Geneva, sans-serif;
font-size:10px;
font-style: italic;
margin-top:9px;
color: #999;
}
.legal a{
color:#999;
}

.btn_solicitar{
width:190px;
height:30px;
color:#FFF;
margin-left:20px;
margin-top:15px;
text-align:center;
font-size:14px;
background-color:#009CDA;
}

.coberturas_servicios{
width:840px;
margin: auto auto 0;
float:left;
margin: 5px auto 0;
clear:both;
height:250px;

}
.coberturas_servicios p{

font-size:11px;
color:#666;
}

.coberturas{
width:350px;
float:left;
margin-left:35px;
}

.coberturas p{
margin-left:40px;
margin-top: 500px;
}

.servicios{
width:400px;
float:left;}

h1{
font-size:16px;
color:#009CDA;
}

ul li{
font-size:11px;
color:#666;}

.enlace_condiciones{
display:inline-block;
margin-left:40px;
padding-top:20px;
font-size:11px;
color:#09F;
}

.clearfix:after {
content: ".";
display: block;
clear: both;
visibility: hidden;
line-height: 0;
height: 0;
}

.clearfix {
display: inline-block;
}

html[xmlns] .clearfix {
display: block;
}

* html .clearfix {
height: 1%;
}

.pie{
margin-top:50px;
height:40px;
width:100%;
font-size:8px;
color:#09F;
text-align:center;
}	

	
.pdfCondiciones{
display:inline-block;
width:225px;
height:45px;
margin-left:22px;
margin-top:10px;
background:url(../img/pdf_condiciones.png) 0 0px;
}

.pdfCondiciones:hover{
background:url(../img/pdf_condiciones_hover.png) 0 0px;
}

.sorteoIframe{
height:360px!important;
border:0px solid red;
background:#fff;
width:980px;
margin-left:-10px;
}

/* excepcion para el head en la clase titulo */
._20140306X{
/*._20140228X{*/
background-image:url(../img/cabecera_201403067.png);
}