*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	}
img{
	width:99%;
	height:auto;
	}

/*FONTS*/

@font-face {
	font-family: 'Conv_Gotham-Book';
	src: url('../fonts/Gotham-Book.eot');
	src: local('☺'), url('../fonts/Gotham-Book.woff') format('woff'), url('../fonts/Gotham-Book.ttf') format('truetype'), url('../fonts/Gotham-Book.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_Gotham-Bold';
	src: url('../fonts/Gotham-Bold.eot');
	src: local('☺'), url('../fonts/Gotham-Bold.woff') format('woff'), url('../fonts/Gotham-Bold.ttf') format('truetype'), url('../fonts/Gotham-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

/*body*/
body{
	font-family: 'Conv_Gotham-Book';
	background-color:#ffffff;
	border-top:2px solid #0079c8;
	}

/*header*/
.header{
	width:100%;
	}
.cabecera {
	width:99%;
	max-width:1200px;
	padding-left:1.5em;
	}
.cabecera img{
	width:50%;
	max-width:150px;
	margin:auto;
	display:inline-block;
	vertical-align:middle;
	}
.cabecera p{
	font-size:1.7em;
	color:#6c6e71;
	display:inline-block;
	vertical-align:middle;
	}
/*basic-content*/	
.basic-content{
	width:100%;
	background-color:#dadbdb;
	}
/*small-content*/	
section.small-content{
	width:99%;
	max-width:1200px;
	height:auto;
	margin:auto;
	background-image:url(../img/160/background.jpg);
	background-repeat:no-repeat;
	background-size:contain;
	}
section.skeleton{
	width:23%;
	display:inline-block;
	vertical-align:top;
	margin-top:2em;
	margin-left:2em;
	}
.skeleton img{
	max-width:340px;
	}
/*Formulario*/
	
section.formulario{
	width:30%;
	background-color:#1472b8;
	text-align:center;
	display:inline-block;
	vertical-align: top;
	margin-top:4em;
	margin-bottom:4em;
	margin-left:20em;
	}
	
section.formulario p{
	font-size:1.6em;
	color:#FFFFFF;
	text-align:center;
	margin-bottom:0.2em;
	padding-top:0.2em;
	font-weight:lighter;
	line-height:27px;
	}
	
section.formulario p span{
	font-family: 'Conv_Gotham-Bold';
	font-size:1.1em;
	}

section.formulario #ctcForm, section.formulario #enviarPorMailSolicitaInfo{
	width:99%;
	margin:1em auto;
	text-align:center;
	}
	
.formulario .celda{
	background-color:#FFFFFF;
	font-size:1em;
	display:block;
	width:85%;
	min-height:40px;
	margin:1.1em auto;
	font-family: 'Conv_Gotham-Book';
	color:#6c6e71;
	text-align:left;
	border:0;
	line-height:35px;
	padding-left:4em;
	-webkit-appearance: none;
    -webkit-border-radius: 0;
	border-radius:0;
	}
	
input[placeholder], [placeholder], *[placeholder] {
   color:#6c6e71 !important;
   font-family: 'Conv_Gotham-Book';
   }
  
  ::-webkit-input-placeholder {
    color:#6c6e71;
	font-family: 'Conv_Gotham-Book';
	}
	
*:-moz-placeholder {
    color:#6c6e71;
	font-family: 'Conv_Gotham-Book';
	}
	
*::-moz-placeholder {
    color:#6c6e71;
	font-family: 'Conv_Gotham-Book';
	}
	
*:-ms-input-placeholder {
    color:#6c6e71;
	font-family: 'Conv_Gotham-Book';
	}

.legal{
	font-size:0.9em;
	width:82%;
	margin:0 auto;
	text-align:left;
	color:#FFFFFF;
	margin-top:-0.5em;
	margin-bottom:1.1em;
	}
	
.legal input{
	vertical-align:middle;
	}
	
.legal a{
	color:#FFFFFF;
	}
	
.espacio_btn input{
	cursor:pointer;
	width:83%;
	padding:0.5em 0;
	color: white;
	border: 0;
	font-size:1.6em;
	background-color:#ef8900;
	font-family: 'Conv_Gotham-Book';
	margin-bottom:0.3em;
	-webkit-appearance: none;
    -webkit-border-radius: 0;
	border-radius:0;
	}
	
.espacio_btn input:hover{
	background-color:#d38a28;
	}
	
section.formulario .user-name{
	background-image:url(../img/160/icons-people.png);
	background-repeat:no-repeat;
	background-position:5px center;
	}
	
section.formulario .user-phone{
	background-image: url(../img/160/icons-phone.png);
	background-repeat:no-repeat;
	background-position:5px center;
	}
	
section.formulario .user-mail{
	background-image: url(../img/160/icons-mail.png);
	background-repeat:no-repeat;
	background-position:5px center;
	}

.text-content{
	width:100%;
	max-width:1200px;
	margin:auto;
	}
	
.text-content h1{
	color:#1472b8;
	margin-top:2em;
	font-size:1.3em;
	}

.text-content h1 span{
	font-family: 'Conv_Gotham-Bold';
	}

/*Text-content*/
.text-content{
	margin:auto;
	font-size:0.9em;
	color:#6c6e71;
	}
.text-content-cage{
	background-image:url(../img/160/cage-info1.jpg);
	background-repeat:no-repeat;
	background-position:center;
	margin:2em auto;
	padding-bottom:2em;
	}
.text-content-cage2{
	background-image:url(../img/160/cage-info2.jpg);
	background-repeat:no-repeat;
	background-position:center;
	margin:2em auto;
	padding-bottom:2em;
	}
.text-content-cage p{
	font-family: 'Conv_Gotham-Book';
	color:#6c6e71;
	padding-top:1.7em;
	padding-left:20em;
	font-size:1em;
	}
.text-content-cage span{
	font-family: 'Conv_Gotham-Book';
	color:#0079c8;
	}
	
.text-content-cage2 p{
	font-family: 'Conv_Gotham-Book';
	color:#6c6e71;
	padding-top:1.7em;
	padding-left:20em;
	}
.text-content-cage2 span{
	font-family: 'Conv_Gotham-Book';
	color:#00335b;
	}
.text-content-extra{
	font-family: 'Conv_Gotham-Book';
	color:#6c6e71;
	margin:auto;
	padding-left:5em;
}

.text-content-extra a{
	color:#6c6e71;}
/*footer*/
.footer{
	background-color:#0079c8;
	margin:2em auto;
	width:100%;
	text-align:center;
	}
.footer-netsales{
	max-width:223px;
	display:inline-block;
	vertical-align:top;
	}
.footer-phrase{
	max-width:295px;
	display:inline-block;
	vertical-align:top;
	}

/*MediaQueries*/



@media (max-width: 1181px){
	.espacio_btn input{
		font-size:1.5em;
		}
}

@media (max-width: 1164px){
	.text-content-cage p{
		padding-left:19em;
		}
	.text-content-cage2 p{
		padding-left:19em;
		}
}

@media (max-width: 1159px){
	.espacio_btn input{
		font-size:1.4em;
		}
}

@media (max-width: 1055px){
	section.formulario p{
	font-size:1.5em;
	}
	.text-content-cage p{
		padding-left:17em;
		}
	.text-content-cage2 p{
		padding-left:17em;
		}
	
}

@media (max-width: 1047px){
	
	.text-content-cage p{
		padding-left:15em;
		}
	.text-content-cage2 p{
		padding-left:15em;
		}
	
}


@media (max-width: 1045px){
	.espacio_btn input{
	font-size:1.3em;
		}
	.legal{
	font-size:0.8em;
	}
	.text-content-cage{
		background-size:95%;
		}
	.text-content-cage2{
		background-size:95%;
		}
	.text-content-cage p{
	padding-top:1.6em;
	font-size:1em;
	}
	.text-content-cage2 p{
	padding-top:1.6em;
	font-size:1em;
	}
	}

@media (max-width: 992px){
	
	.text-content-cage p{
	padding-top:1.4em;
	}
	.text-content-cage2 p{
	padding-top:1.4em;
	}
	}

@media (max-width: 988px){
	
	.text-content-cage p{
	padding-top:1.5em;
	font-size:1em;
	}
	.text-content-cage2 p{
	padding-top:1.5em;
	font-size:1em;
	}
	}



@media (max-width: 969px){
section.formulario{
	width:33%;
	}
section.skeleton{
	width:25%;
	}
section.small-content{
	background-size:cover;
	}
.text-content-cage p{
	padding-top:1.3em;
	font-size:1em;
	}
.text-content-cage2 p{
	padding-top:1.3em;
	font-size:1em;
	}
	
	}

@media (max-width: 922px){
	
	.text-content-cage p{
	padding-top:1.1em;
	font-size:1em;
	}
	.text-content-cage2 p{
	padding-top:1.1em;
	font-size:1em;
	}
	}
	
@media (max-width: 889px){
section.formulario{
	width:99%;
	margin-left:0;
	padding-left:0;
	margin-top:9em;
	padding-bottom:0;
	margin-bottom:0;
	}
section.small-content{
	background-size:contain;
	}
section.skeleton{
	width:30%;
	}
	}
	
@media (max-width: 864px){
	
	.text-content-cage p{
	padding-top:1.1em;
	font-size:0.9em;
	}
	.text-content-cage2 p{
	padding-top:1.1em;
	font-size:0.9em;
	}
	}

@media (max-width: 816px){
	
	.text-content-cage p{
	padding-top:1em;
	font-size:0.9em;
	}
	.text-content-cage2 p{
	padding-top:1em;
	font-size:0.9em;
	}
	}
		
@media (max-width: 785px){
section.formulario{
	padding-left:0;
	margin-top:8em;
	}
	.text-content-cage p{
	padding-top:0.9em;
	font-size:0.9em;
	padding-left:12em;
	}
	.text-content-cage2 p{
	padding-top:0.9em;
	font-size:0.9em;
	padding-left:12em;
	}
	}

@media (max-width: 766px){
	.text-content-cage p{
	padding-top:0.9em;
	font-size:0.9em;
	}
	.text-content-cage2 p{
	padding-top:0.9em;
	font-size:0.9em;
	}
	}
	
@media (max-width: 748px){
	.text-content-cage p{
	padding-top:0.8em;
	font-size:0.9em;
	}
	.text-content-cage2 p{
	padding-top:0.8em;
	font-size:0.9em;
	}
	}

@media (max-width: 739px){
	.text-content-cage{
		background-size:90%;
		}
	.text-content-cage2{
		background-size:90%;
		}
	.text-content-cage p{
	padding-top:0.9em;
	font-size:0.8em;
	padding-left: 14em;
	}
	.text-content-cage2 p{
	padding-top:0.9em;
	font-size:0.8em;
	padding-left: 14em;
	}
	}
	
@media (max-width: 719px){
section.formulario{
	padding-left:0;
	margin-top:7em;
	}
.text-content-cage{
	background-image: url(../img/160/cage-info-mobile1-a.jpg);
	background-size:75%;
	text-align:left;
	}
.text-content-cage2{
	background-image: url(../img/160/cage-info-mobile2-a.jpg);
	background-size:75%;
	text-align:left;
	}
.text-content-cage p{
	padding-top:1.4em;
	font-size:1.2em;
	padding-left: 17em;
	padding-right:3.5em;
	}
	.text-content-cage2 p{
	padding-top:1em;
	font-size:1.2em;
	padding-left: 17em;
	padding-right:3.5em;
	}
	
	}


@media (max-width: 682px){
	.text-content-cage2 p{;
	padding-top:1em;
	}
	}
@media (max-width: 675px){
	.text-content-cage2 p{
		font-size:1em;
		padding-left:19em;
	}
		.text-content-cage p{
		padding-left:19em;
		font-size:1em;
	}
	}

@media (max-width: 646px){
section.formulario{
	padding-left:0;
	margin-top:6em;
	}
.cabecera img{
	width:20%;
	}
.cabecera p{
	font-size:1.5em;
	}
	}


@media (max-width: 577px){
	.text-content-cage2 p{
		font-size:1em;
		padding-left:17em;
	}
		.text-content-cage p{
		padding-left:17em;
		font-size:1em;
	}
	}
@media (max-width: 576px){
section.formulario{
	padding-left:0;
	margin-top:5em;
	}	
	}

@media (max-width: 539px){
	.text-content-cage2 p{
		font-size:1em;
		padding-left:16em;
	}
		.text-content-cage p{
		padding-left:16em;
		font-size:1em;
	}
	
	.text-content-cage{
	background-size:80%;
	}
.text-content-cage2{
	background-size:80%;
	}
	}

@media (max-width: 514px){
section.formulario{
	padding-left:0;
	margin-top:3.5em;
	}
section.skeleton{
	width:35%;
	}
	}

@media (max-width: 507px){
section.formulario{
	padding-left:0;
	margin-top:3em;
	}
.cabecera p{
	font-size:1.3em;
	}
	}
	
@media (max-width: 477px){
	.text-content-cage2 p{
		padding-left:15em;
		padding-right:2.5em;
	}
		.text-content-cage p{
		padding-left:15em;
		padding-right:2.5em;
	}
	

	}
@media (max-width: 465px){
	.text-content-cage2 p{
		font-size:0.9em;
		padding-left:14.5em;
		padding-right:2em;
	}
		.text-content-cage p{
		padding-left:14.5em;
		font-size:0.9em;
		padding-right:2em;
	}
	

	}

@media (max-width: 454px){
section.formulario{
	padding-left:0;
	margin-top:2.4em;
	}	
	}

@media (max-width: 400px){
	.text-content-cage2 p{
		padding-left:13em;
		padding-right:1.5em;
	}
		.text-content-cage p{
		padding-left:13em;
		padding-right:1.5em;
	}
	

	}
	
