@charset "utf-8";
/* CSS Document */
*{
position:relative;
margin:0;
padding:0;
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box;
}

body{
font-family:Arial, Helvetica, sans-serif;
background-color:#f5f9fc;
background:url(../img/fondo-all2_6.jpg) no-repeat center top;
height:100%;
}


#contenedor_centrado{
width:840px;
margin:auto;
min-height:100%;
}	

.form-contenido{
height:400px;
width:840px;
}

.titulo{
margin-top:0px;
margin-left:auto;
background-image:url(../img/cabecera_6.png);
background-position:left top;
background-repeat:no-repeat;
height:156px;
width:840px;
}

.sello{
margin-top:0px;
margin-left:auto;
background-image:url(../img/sellorosa_6.png);
background-position:left top;
background-repeat:no-repeat;
height:295px;
width:840px;
}

.formulario{
float:right;
margin-top:20px;
margin-right:5px;
}


.ctc_form{
padding:1px 0px 0px 10px;
height:153px;
width:245px;
background-color:#1d76b8;
font-family:Arial, Helvetica, sans-serif;
color:#FFF;
border-radius:5px;
font-size:12px;
}
.ctc_form p:first-child{font-size:17px;}
.contenedor_form p:first-child{
font-size:17px;
}
.contenedor_form{
padding:1px 0px 0px 10px;
height:355px;
width:245px;
background-color:#ffffff;
font-family:Arial, Helvetica, sans-serif;
color:#1d76b8;
margin-top:11px;
border-radius:5px;
font-size:15px;
}

form{
margin-left:20px;
}

.fila{
overflow:hidden;
width:230px;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
margin-top:3px;
color:#d0004c;
font-weight:bold;
}


.celda{
display:block;
margin-top:5px;
color:#333;
margin-top:5px;
border-radius:5px;
width:190px;
}
.legal{
font-family:Verdana, Geneva, sans-serif;
font-size:10px;
font-style:italic;
margin-top:9px;
color:#999;
}
.legal a{
color:#999;
}

.btn_solicitar{
width:190px;
height:30px;
background-color:#d0004c;
color:#FFF;
margin-left:20px;
margin-top:15px;
text-align:center;
font-size:14px;
}

*{
	position:relative;
	margin:0;
	padding:0;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

.icono-grande{width:34px;height:34px;display:inline-block;background-image:url(../img/iconos.png);background-repeat:no-repeat;text-indent:-9999px;vertical-align:middle;margin-right:6px;}
.icono-grande.izq{float:left;clear:left;}
.icotel{background-position:0px 0px;}

body{text-align:center;font:normal 12px Arial, Helvetica, sans-serif;color:#666666;background:#FFFFFF;}
/*body{text-align:center;font:normal 12px Arial, Helvetica, sans-serif;color:#666666;background:#FFFFFF url(../img/f.gif) 0 -25px repeat-x;}*/
body.landing{background:#F8F8F8 url(http://img.sanitasweb.es/f-landing.gif) 0 -0 repeat-x;}
#loginbox{z-index:2;position:absolute;top:1.5em;right:-10px;display:none;width:280px;background-color:white;}
#loginbox label{text-align:left;}
#loginbar .row, header,#cuerpo,footer{margin:0 auto;clear:both;width:990px;text-align:left;}
.landing .table{margin:0 auto;clear:both;text-align:left;}
header{height:160px;}
header.lite, #cobranded header{height:132px;}
#cuerpo{padding:15px;background-color:#E6E6E6 !important;background-position:0 0;background-repeat:no-repeat; background-image:url(/images/3.jpg)}
.landing #cuerpo{padding:0;background:white url(../fotos/f-pose.jpg) right 0 no-repeat;border:10px solid #e6e6e6;}
.mascara{background:transparent url(../img/mascara.png) 0 0 repeat-x;}
a, a:visited{color:#0055B1;}
.mas, .mas a{font-weight:bold;text-align:right;color:#0079C8 !important;text-decoration:none;}
p.mas{margin-bottom:0;}
a.mas, .mas a, a .mas{background:transparent url(../img/arrow-right-small.png) right center no-repeat;padding-right:10px;}
.tfucsia .mas{background-image:url(../img/mas-tfucsia.png);}
a.telf{color:#000;text-decoration:none;}
img{width:100%;margin:0;padding:0;border:none;display:block;}
.images img{width:auto;}
.megabanner{margin:0 5px;}
.megabanner img{width:auto;}
img.foto{margin:0 0 5px 0}
p, pre{margin:0 0 1em 0;line-height:150%;}
sup{font-size:0.5em;line-height:0.1em;}
pre{margin:20px 0;border-radius:3px;background:#E6E6E6;padding:10px;}
code{border-radius:3px;background:#E6E6E6;}
nav{clear:both;min-height:40px;}
.ejemplo, .ejemplo footer, .ejemplo header{margin:20px 0;width:640px;clear:both;}
h1,h2,h3,h4{line-height:125%;margin-bottom:0.5em;}
h1{display:block;clear:both;margin:0;height:21px;line-height:21px;text-align:center;font:normal 12px Arial, Helvetica, sans-serif;color:#CCCCCC;border:1px solid #F5F5F5;background:#FCFCFC}
ul{list-style-type:none;}
ol{padding-left:2em;}
ol li{line-height:150%;margin-bottom:0.5em;}
article li{margin-bottom:0.5em;}
article > p, article > ul, article > ol{font-size:1.2em;color:#333;}
.boliches li, article > ul li{padding-left:2em;background:transparent url(../img/ul-bolo.png) 0 0 no-repeat;line-height:150%;margin-bottom:0.5em;}
article .ejemplo li{padding:0;background:none;}

/* botones */
.appbutton{-webkit-appearance:none;display:inline-block;width:auto;border:none;text-align:center;margin:5px 5px 0 0;padding:8px 13px;line-height:33px;font:normal 14px Arial, Helvetica, sans-serif;color:white !important;background-color:#009FE4;background-image:url(../img/f-boton-color.png);background-position:-10px 0;background-repeat:no-repeat;cursor:pointer;text-decoration:none !important;box-shadow:0px 1px 2px #424242;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;border-color:#00335B;text-shadow:0 1px #00335B}
.appbutton:hover{background-image:none;}

.button,input.button,a[role="button"]{-webkit-appearance:none;display:inline-block;width:auto;border:none;text-align:left;padding:8px 30px 8px 13px;line-height:33px;font:bold 14px Arial, Helvetica, sans-serif;color:#0079C8 !important /*#009add*/;background-color:#FCFCFC !important;background-image:url(../img/f-boton.png);background-position:right 0;background-repeat:no-repeat;text-transform:uppercase;cursor:pointer;text-decoration:none !important;
box-shadow:0px 1px 2px #424242;}

.button.orange{color:#FFF !important;background-color:#EF8900 !important;background-image:url(../img/f-boton-color06.png) !important;}
.button:hover,.button:focus{background-position:right -100px;}
.button.prev{background-image:url(../img/f-boton-prev.png) !important;background-position:0 0;padding:8px 13px 8px 30px;}
.button.prev:hover, .button.prev:focus{background-position:left -100px !important;}
.button.ancho{width:100%;}
.azul .button.oferta span.texto{border-color:#0071BB;}
.verde3 .button.oferta span.texto{border-color:#678004}

.pvp{display:inline-block;margin-left:10px;float:right;background:#F2F8FC;border-radius:5px;padding:2px 5px;
text-shadow:0px 1px #FFF;border:1px solid #B2D7EE;color:#3394D3;
}
.landing footer{padding:10px;}
footer h2{color:#FFF;font-weight:normal}
footer li{float:left;margin-right:10px;}
#pie li{margin-right:15px;}
#pie ul{clear:both;}
.firma{
background-image:url(../img/a-tu-lado.gif);
background-position:right 50%;
background-repeat:no-repeat;
min-height:30px !important;
margin-top:15px;
}

#logo{position:absolute;left:20px;top:12px;width:128px;height:128px;display:block;text-indent:-9999px;}
header.lite #logo{position:absolute;left:20px;top:12px;width:100px;height:100px;display:block;text-indent:-9999px;}
#super{position:absolute;top:20px;left:180px;width:790px;font:normal 13px Arial, Helvetica, sans-serif;}
.lite #super{left:140px;top:0;width:830px}
#cobranded #super{left:252px;top:0;}
header .ayuda{position:absolute;right:20px;top:40px;text-align:right;font-size:16px;color:#6c6e71;line-height:110%;}
#menu2{position:absolute;right:0;top:0;text-align:right;}
.lite #menu2{top:15px;}
header nav{position:absolute;left:180px;top:100px;width:810px;}
header.lite nav{left:140px;top:70px;width:540px}
#cobranded header nav{left:252px;}


.mostrar{display:block !important;}
.ocultar{display:none !important;}


/* carrusel */

#cabecera{display:block;width:auto;padding:5px;margin-bottom:15px;background-color:transparent;background-repeat:no-repeat;min-height:105px;}
.home #cabecera{min-height:220px;}
.marco{height:auto;padding:10px;margin-bottom:1em;background:#0079C8;text-align:left;}
#cabecera .marco{width:309px;margin-bottom:0;}
.marco h2{margin-top:0;margin-bottom:10px;font-size:18px;padding-bottom:0px;font-family:Arial, Helvetica, sans-serif;text-transform:uppercase;color:#FFF;}
#cabecera .marco h2{border-bottom:1px solid #FFF;}
.marco .button{min-width:65%;margin-top:15px;}
.marco p{margin-bottom:0.5em;color:#FFF;font-size:16px;;}
.marco p.sub{ font-size:18px;padding-bottom:0;margin-bottom:1em;}
.marco p:last-child{font-size:14px;margin-top:5px;}

#cabecera .hh1{margin:0;padding:12px 18px;min-width:309px;font:normal 22px Arial, Helvetica, sans-serif;z-index:1000;}

/* cuerpo */   
#lat{float:left;width:215px;margin-right:15px;}
.desplegar{display:block !important;}

#ppal{float:left;width:720px;background-color:#E6E6E6;background-position:0 0;background-repeat:no-repeat;}


#ppal > .contenido{margin:0 20px 20px 20px;padding:0 10px;background-color:#FFFFFF;}
#ruta{padding-bottom:10px;border-bottom:1px solid #E6E6E6;}
section > #ruta{margin:0 10px;}
#ruta a{background:transparent url(../img/f-ruta.gif) right 50% no-repeat;padding-right:16px;}

.cabecera{padding:20px 20px 7px 20px;}
   .fondo1{background-image:url(../img/fondo1-760.jpg);background-repeat:repeat-x}
 .caja{margin:10px 0;background-color:#0071BB;padding:10px;-moz-box-shadow:0px 0px 3px #999;
-webkit-box-shadow:0px 0px 3px #999;
box-shadow:0px 0px 3px #999;}
   .caja h3{color:#FFF !important;font-weight:normal;font-family:Arial,Helvetica,Sans-serif;padding-bottom:5px;border-bottom:1px solid #FFF;margin-bottom:10px;}


.fotomain{margin:0 0 20px 0;}

h2,.hh2{font-size:22px;color:#000;line-height:110%;margin:20px 0 0 0;font-weight:normal}
.cont > h2, .cont > .hh2{margin-top:0;}
h3,.hh3{font-size:18px;color:#000;line-height:110%;font-weight:normal}
h4,.hh4{font-size:16px;color:#000;line-height:34px;}
.hh1{display:inline-block;font:normal 26px Arial, Helvetica, sans-serif;color:#FFF;line-height:110%;padding:6px 18px;min-width:340px;margin:0 0 20px 0;font-size:22px;background:#0079C8;color:#FFF;}
#super .hh1{display:inline-block;padding-left:0;margin:15px 0 0 0;font:normal 22px Arial, Helvetica, sans-serif;color:#6D6E72;background:none;}

.robapaginas{margin:10px 0;display:block;width:100%;height:270px;text-align:center;}
section, .modulo{padding:10px;margin:0 0 10px 0;background-color:transparent;}
header section, header .modulo{margin:0;}
.table{display:table;width:100%;border-spacing:10px;padding:0;margin:0 0 10px 0;background-color:#FFF;}
.table h3{margin:0 !important;}

section section{background-color:#FFF;}
section>section, section>.table{margin:0;}
.cabecera section{padding:10px;}
section .cont, .modulo .cont{/*display:table-cell;*/width:100%;padding:10px;position:relative;background-color:#FFFFFF;color:#666666;}
section .cont.nobg{background-image:none !important;}
section .cont.fmapa{background:#FFF url(../fotos/mapa-cuadro-medico.jpg) 0 0 no-repeat;}
section > h3, .modulo > h3{margin-bottom:0.5em;font:normal 18px Arial, Helvetica, sans-serif;color:#FFFFFF}
.white > h3{color:#333333 !important;}
.gris > h3{color:#000000 !important;}
section .cont > h3{color:#000000 !important;}
section .cont a h3{color:#0079C8;}
section .cont li > a h3{color:#000000;}
section .cont a p{color:#666666;}
section.white > p, section.gris > p{color:#666666;}
section > p a{font-weight:bold;text-decoration:underline;color:#FFF}
section.white > p a, section.gris > p a{color:#0079C8;text-decoration:none;}
section .cont > p{color:#666;}
section > p{color:#FFF;}
.inferior{position:absolute;bottom:1.7em;left:0;height:2.5em;padding:0.5em 10px;width:100%;}  
.cell.coninferior{padding-bottom:3em !important;}
.cell .inferior{padding:0.5em 0;}
.inferior a{display:block;margin:10px;padding:8px;border-top:2px solid #E6E6E6;}
section form{margin-bottom:10px;}
.bloques{clear:both;}
.bloques > li{float:none;margin:0;}
.bloque, .bloques > li{display:block;padding:1em 0 !important;margin:0;border-top:1px solid #E6E6E6;}  
.cont > .bloques > li:last-child{padding-bottom:0 !important}
a.bloque, p.bloque, div.bloque{padding:10px 5px;margin:0;}
a.bloque p{color:#666666;margin-bottom:0;}
a.bloque p.tit{margin-bottom:0.2em;}
section > a.bloque p{color:#FFFFFF;}
section > a.bloque p.tit{color:#FFFFFF !important;}
.cont > a.bloque p.tit{color:#0079C8 !important;}
.cont > a.bloque:hover{background-color:#E5F5FF}
.tit{display:block;font-weight:bold;margin-bottom:0.2em;}
.row{clear:both;width:100%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}  
.row:before, .row:after{content:" ";display:table;}
/*.row .row{margin:0 -5px;}*/
.clearfix{width:100%;clear:both;}
.columnas2{
-moz-column-count:2;
-webkit-column-count:2;
column-count:2;

-moz-column-gap:20px;
-webkit-column-gap:20px;
column-gap:20px;
    }
.columnas{margin:0;}
.dos li{float:left;width:50%;}
.row > div.der{float:right;clear:right;}
.izq4{margin-left:33.333333%;}
.col4{ margin-bottom:10px;float:left;padding:0 5px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;width:33.333333% !important;}
.col8{ margin-bottom:10px;float:right;padding:0 5px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;width:66.666666% !important;}
.col12{float:left;padding:0 5px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;width:100% !important;}

/* formularios */
section form{clear:both;width:100%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
section form:before, section form:after{content:" ";display:table;}
form table{width:100%;}
fieldset{margin:0;padding:0;border:0;}
legend{font:bold 16px Arial, Helvetica, sans-serif;color:#000;}
label{display:block;text-align:right;color:#0178c8;font-weight:bold;font-size:13px !important;padding-top:5px;margin-bottom:5px;}
.checkrow{padding:5px 0;}
.checkrow label{display:inline;text-align:left;font-weight:normal;font-size:11px;padding:auto;}
input[type=search]{
    appearance:none;
    -webkit-appearance:none;
    -moz-appearance:none;
    -o-appearance:none;
}

input[type="text"],input[type="search"],input[type="password"], input[type="email"], input[type="tel"], select, textarea{
-webkit-appearance:none;
width:100%;
line-height:26px;
height:29px;
margin-bottom:5px;
padding:5px;
background-color:white;
color:#666;
border:1px solid #999;
-webkit-box-shadow:inset 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
text-align:left;
box-shadow:inset 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
font:normal 13px Arial, Helvetica, sans-serif
}
input.checkbox{margin-right:5px;}
.inline input, .inline label, input.inline, label.inline{display:inline-block;width:auto;margin-right:10px !important;}
span.inline{display:inline-block;width:auto;}
.inline input.button{margin-right:0;}
.inline label, label.inline{text-align:left;}

.horizontal label{text-align:left;}
.fontfix input{font-family:monospace !important}


input.check{width:auto !important;height:auto;margin-right:4px;}
textarea{height:13em;margin-bottom:10px;line-height:120%;font:normal 13px Arial, Helvetica, sans-serif}

input.error, select.error{border-color:#D81E05}

a[rel="prev"], a.prev{background:transparent url(../img/f-prev.png) 0 50% no-repeat;padding-left:10px}
a[rel="next"], a.next{background:transparent url(../img/f-next.png) right 50% no-repeat;padding-right:10px}

section form.vertical label{margin-top:10px;clear:both;text-align:left;}
section form .row{float:left;padding-bottom:5px;}

.error{color:#D81E05;background:#FCF1F0;text-align:left;}
ul.error{list-style-type:none !important;padding:10px;margin:10px 0;font:normal 11px Arial, Helvetica, sans-serif;}
ul.error li{margin:0 0 0 0;list-style-type:none;}
div.error, p.ok{margin:0 0 10px 0;padding:10px;font:normal 11px Arial, Helvetica, sans-serif;}
.ok{color:#333333;background-color:#EFFFDA;padding:10px;}
input.error, textarea.error{border:2px solid #D81E05;background-color:#FCF1F0;}
input.ok{background-color:#EFFFDA}
.error h3{color:#D81E05 !important}



.si{padding-left:20px;background:transparent url(../img/icon-si.png) 0 0 no-repeat;}
.sipero{padding-left:20px;background:transparent url(../img/icon-sipero.png) 0 0 no-repeat;}
.op{padding-left:20px;background:transparent url(../img/icon-op.png) 0 0 no-repeat;}
.mini{font-size:11px;color:#585858;line-height:17px;text-align:left;}
.mini:first-letter{text-transform:uppercase;}

.divider{clear:both;width:100%;border-top:2px solid #E6E6E6;padding-top:10px;margin-top:10px;}

/* iconos */
.ico-tel{display:inline-block;line-height:20px;background:transparent url(../img/ico-tel.png) 0 50% no-repeat;padding-left:25px;}

/* COLORES */

.transparent{background-color:transparent !important;color:#333333;box-shadow:none;}
/*.transparent .cell{-moz-box-shadow:0px 0px 3px #999;-webkit-box-shadow:0px 0px 3px #999;box-shadow:0px 0px 3px #999;}*/

.white{background-color:#FFFFFF;color:#333333;}

.cyan, .tabs.cyan .active a{background-color:#0079c8 !important;color:#FFFFFF;}
.cyan75, .tabs.cyan75 .active a{background-color:#409bd6 !important;color:#FFFFFF;}
.cyan50, .tabs.cyan50 .active a{background-color:#7fbce3 !important;color:#FFFFFF;}
.cyan25, .tabs.cyan25 .active a{background-color:#bfddf1 !important;color:#333333;}


.orange, .tabs.orange .active a{background-color:#ef8900 !important;color:#FFFFFF;}
.orange75, .tabs.orange75 .active a{background-color:#f3a740 !important;color:#FFFFFF;}
.orange50, .tabs.orange50 .active a{background-color:#f7c47f !important;color:#FFFFFF;}
.orange25, .tabs.orange25 .active a{background-color:#fbe1bf !important;color:#333333;}


div.naranja, .tabs.naranja .active a, input.naranja{background-color:#ef8900 !important;color:#FFFFFF !important}
.naranja a, .naranja .cont h3, .naranja h4{color:#ef8900}
div.azul, .tabs.azul .active a{background-color:#F2F8FC !important;color:#FFFFFF;}
.blanco{background-color:white;color:#333;}
div.azul2, .tabs.azul2 .active a{background-color:#00335B;color:#FFFFFF;}
.gris{background-color:#E6E6E6  !important;
background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF ), to(#E6E6E6));
   background-image:-webkit-linear-gradient(top, #FFFFFF , #E6E6E6);
   background-image:   -moz-linear-gradient(top, #FFFFFF , #E6E6E6);
   background-image:    -ms-linear-gradient(top, #FFFFFF , #E6E6E6);
   background-image:     -o-linear-gradient(top, #FFFFFF , #E6E6E6);
}

.gris{background-color:#E6E6E6 !important;}
.gris h3{color:#000 !important;}
.tnegro, h2.tnegro, h3.tnegro, h4.tnegro{color:#000 !important}
.tblanco, h2.tblanco, h3.tblanco, h4.tblanco{color:#FFF !important}

.tleft{text-align:left;}
.tright{text-align:right;}
.tcenter{text-align:center;}

.label.radius{-webkit-border-radius:3px;-moz-border-radius:3px;-ms-border-radius:3px;-o-border-radius:3px;border-radius:3px;}
.success{color:#18542C !important;}
.label{padding:1px 4px 2px;font-size:9px;font-weight:bold;text-align:center;text-decoration:none;line-height:1;white-space:nowrap;display:inline;position:relative;bottom:1px;color:white;background:#0079C8;}
.label.success{background-color:#EFFFDA}

/* titulares */
/*.hh1{display:inline-block;padding:6px 18px;margin:0 0 20px 0;text-transform:uppercase;font-size:22px;color:#FFF;}*/
.hh2{display:inline-block;margin:0 0 20px 0;font-size:22px;}
.hh3{display:inline-block;margin:0 0 14px 0;font-size:16px;}
.banda{margin-top:150px;}
.tit1{font-size:34px;font-weight:normal;}
.subtit1{font-size:14px;font-weight:normal;}

/* fichas */
.marbot0{margin-bottom:0 !important;}
.martop0{margin-top:0 !important;}
.sub{border-bottom:1px solid #FFF;}
.white > .sub, .white .cont > .sub{border-bottom:1px solid #e6e6e6;}

.producto .boliches{float:left;}
.producto .boliches li{margin-bottom:0.2em;}

.producto .confondo{min-height:160px;background-position:0 0;background-repeat:no-repeat;padding-left:276px !important;margin:10px;}
section .cont .producto h3{color:#00335A}
section .cont .producto h3{color:#0079C8}

.tags{margin-bottom:10px;font-size:11px;background:transparent url(../img/tags.gif) 0 center no-repeat;padding-left:20px;}
.tags a{color:#00335A}

div p:last-child{margin-bottom:0 !important;}

/* landings WCS */
.landing .white strong{color:#000;}
.landing .white input, .landing .white select{background-color:#edf7fe;border-color:#B9B9C8;}

.landing input.button{width:100%;}
.landing form{float:right;width:300px;min-height:400px;}
.landing form section{-moz-box-shadow:0px 0px 3px #999;-webkit-box-shadow:0px 0px 3px #999;box-shadow:0px 0px 3px #999;}
.landing form .row{margin-bottom:10px;margin-top:10px;}
.landing form h3{padding-bottom:0.3em;border-bottom:1px solid #FFF;color:#FFF}
.landing form .white h3{border-bottom:1px solid #e6e6e6;color:#000}
.landing form .white h3.color{border:none;padding:10px;color:#FFF !important;text-align:center;}
.landing form .white h3.color a{color:#FFF !important;}
.landing .titulo{position:relative;background-color:#0079c8;min-height:31px;}
.titulo h3{position:absolute;bottom:0;width:100%;z-index:2;margin:0;padding:0.5em;font-size:15px;color:#FFF;background:transparent url(../img/transpa60.png) 0 0;font-weight:bold;}
.landing .titulo h3.color{background-image:none;}

.landing #informacion section{margin-top:5px;}


/* landings */

.landing .productos{margin:0 auto;width:990px}
.landing #cuerpo .productos{width:auto;}
.productos{background:transparent}
.productos section{width:25%;margin:0;padding:0;border:1px solid #e6e6e6;background:#FFF;color:#666666;display:table-cell;}
.productos section a{color:#666666;}
.productos section p{padding:10px;}
.productos section:hover{background-color:#ebf4fb}
.productos.colum3 section{width:33%;}
.productos.colum4 section{width:25%;}
.productos.colum5 section{width:20%;}

a:hover .titulo h3{background-color:#0079c8;}
a:hover .titulo h3{background-color:#00335b !important}


.landing .white input.error, .landing .white select.error{border:2px solid #D81E05 !important;background-color:#FCF1F0;}
.landing .white input.ok, .landing .white select.ok{padding:5px;color:#333333;background-color:#EFFFDA !important;}
div.ok{margin-bottom:300px;display:none;}
div.error{display:none;}

/*.bolo{
position:absolute;
display:block;
z-index:2;
width:150px;
height:150px;
right:-75px;
bottom:-70px;
background:transparent url(../img/bolo-150x150.png) no-repeat;
}*/


/* mis estilos */
.coberturas_servicios{
	width:100%;
	margin-top:10px;
	padding:0;
	color:#6D6E72;
	text-align:left;
}
.coberturas_servicios h1{
	font-size:15px;
	margin:0;
	margin-bottom:5px;
	display:block;
	clear:both;
	
	height:21px;
	line-height:normal;
	text-align:left;
	font:normal 15px Arial, Helvetica, sans-serif;
	color:#6D6E72;
	border:0;
	background:none;
	}
	
.coberturas_servicios li{
	list-style-image:url(../img/tick.png);
	margin-left:15px;
	margin-bottom:2px;
	font-size:11px;
}
.servicios{
	width:45%;
	display:inline-block;
	vertical-align:top;
	}
	
.coberturas{
	width:45%;
	display:inline-block;
	vertical-align:top;
	margin-left:50px;
}
.coberturas:nth-child(1){
	width:30%;
	margin-right:10px;
	margin-left:14%;
	margin-right:10%;
}
#h3_movil{display:none;}


/* responsive */
@media only screen and (max-width:990px), only screen and (max-device-width:990px){
.coberturas:nth-child(1){
	width:50%;
	margin-right:10px;
	margin-left:2%;
}

#video{width:auto;height:auto;}
body{font-size:0.85em}
header, #contenedor, footer,#main, #side, #loginbar .row, header, #cuerpo, footer, .col12, .lite #super, .landing .table, #informacion{float:none;width:auto !important;}
.landing form .white h3.color{text-align:auto;}
.ejemplo, .ejemplo footer, .ejemplo header{width:100%;}
#accion{float:none;width:auto !important;margin:0;text-align:center;}
#accion form{text-align:left;margin:0 auto;}
#cookies, #cookies p{width:auto !important;font-size:11px;}

.productos .button.oferta .texto, #informacion .fijo, .bolo{display:none;}


.servicios{
	width:45%;
	display:inline-block;
	vertical-align:top;
	}
	
.coberturas{
	width:45%;
	display:inline-block;
	vertical-align:top;
	margin-left:0px;
	}

}

@media only screen and (max-width:480px), only screen and (max-device-width:480px){

#video{width:auto;height:auto;}
.landing form .white h3.color{text-align:auto;}
body{font-size:0.85em}
.landing .col8 > .pad20{padding:0;}
#super .hh1,.fijo, aside, footer dl{position:absolute;top:0;left:0;display:none;}
header,#super,#menu2,#cuerpo, footer,#cabecera,article,.col1,.col2,.col3,.col4,.col5,.col6,.col7,.col8,.col9,.col10,.col11,.col12,#side, .landing form, .landing .col8, .productos section{display:block;position:relative;float:none;width:auto !important;padding:0;}
.bolo{display:none;}
#cabecera{min-height:0;}
#cabecera .marco{width:auto;padding:10px;margin:10px 10px 15px 10px;}

header .ayuda{top:10px;}
header .ayuda a{color:#FFF !important;}
.izq1,.izq2,.izq3,.izq4,.izq5,.izq6{margin-left:0;}
.landing #informacion section{padding:0;}
.landing #cuerpo{background-image:none;}

#logo{left:10px;top:10px;display:block;position:relative;margin:0;width:120px;height:50px;}
header.lite #logo{display:block;position:relative;margin:0;}
header, header.lite{height:70px;background-color:#0079c8 !important;padding:0;}
header.lite{height:60px;}
header form, header nav{display:none;float:none;clear:both;position:absolute;left:0;top:60px;width:100%;font-size:1em;z-index:10}
header nav ul li{float:none;height:auto;z-index:2}
header nav li a{border-top:1px solid #FFF;padding:1.5em;}
#mobile{display:block;position:absolute;right:0;top:0;display:block;width:110px;}
#mobile a{float:left;width:40px;height:40px;margin:10px 15px 10px 0;text-indent:-9999px;background-color:red;border-radius:5px;-webkit-box-shadow:0 2px 2px rgba(0,0,0,0.25);-moz-box-shadow:0 2px 2px rgba(0,0,0,0.25);box-shadow:0 2px 2px rgba(0,0,0,0.25);}
#mobile a.active{background-color:#999;}
#cuerpo{padding:5px 0;}
.pagination .button{width:50%;}
label{text-align:left;}
input.button,.button{width:100% !important}
.ejemplo, .ejemplo footer, .ejemplo header{width:100%;}
footer #pie{padding:10px;}
/*section, .modulo{padding:5px;}*/
section > h3,.modulo > h3{margin-bottom:0.2em;}
pre{clear:both;overflow:scroll}

#super, .lite #super{position:absolute;right:10px;top:10px;width:100px;height:40px;}
#menu2{position:absolute;right:0;top:0 !important;}
#menu2 ul, #menu2 li{margin:0;padding:0}
#menu2 a{display:none;}
#menu2 a#alogin{display:block;position:absolute;right:0;top:0;width:40px;height:40px;border:1px solid #e6e6e6;border-radius:5px;}
#buscador{display:block;position:absolute;right:60px;top:10px;width:40px;height:40px;border:1px solid #e6e6e6;border-radius:5px;}
#loginbox{position:absolute;left:0;top:200px;}
#cookies{position:relative;clear:both;top:0;}
#cookies, #cookies p{width:auto;}
#cookies p{width:auto}
.productos h2{margin:0 10px;padding:10px 0}
.productos.colum4 section{margin:0;}
.titulo{min-height:none;}
.productos .button.oferta .texto{display:block;}

.coberturas_servicios{
	display:none;
}


.servicios{
	width:95%;
	display:9block;
	vertical-align:top;
}
	
.coberturas{
	width:95%;
	display:9block;
	vertical-align:top;
	margin-left:0px;
	margin-bottom:10px;
}
#h3_movil{display:block;}
#h3_web{display:none;}
}
