*{
	padding:0;
	margin:0;
	}
	
img{
	width: 100%;
	}

body{
	font-family:Arial, Helvetica, sans-serif;
	background:#e7e7e7;
	}
	
h1{
	font-size:1.2em;
	color:#666;
	}
	
h2{
	font-weight:normal;
	font-size:1.3em;
	}
	
	
h3{
	color:#0178c8;
	margin:.5em;
	margin-left: 1em;
	}
	
h4{ color:#666;
font-size:1.2em;}
	
	
/*HEADER*/
	
header{
	background-color:#FFF;
	width:100%;
	}
	
header .cabecera{
	margin:1em auto;
	max-width:900px;
	}
header .cabecera div{
	width:70%;
	display:inline-block;
	vertical-align:middle;
	}
		
header .cabecera img{
	width:105px;
	margin:.5em;
	display:inline-block;
	vertical-align:middle;
	}
	
	
	
/*CONTENIDO*/

.comolavidamisma{
	max-width:440px;
	margin:1em auto;
	color:#666;
	font-size:.9em;}
.comolavidamisma img{
	width:70px;
	height:70px;
	margin-right:.5em;}
.comolavidamisma img, p{
	vertical-align:middle;
	display:inline-block;}
	
		
section.contenido{
	max-width:900px;
	margin:1em auto;
	}
	
/*FOTO*/
	
section.foto{
	width:69%;
	margin-right:.5em;
	display:inline-block;
	-webkit-box-shadow:4px 4px 7px 0px rgba(50, 50, 50, 0.32);
	-moz-box-shadow:4px 4px 7px 0px rgba(50, 50, 50, 0.32);
	box-shadow:4px 4px 7px 0px rgba(50, 50, 50, 0.32);
	position:relative;
	}
	
	
section.foto .caja_texto{
	background-color:#ee6a9c;
	max-width:220px;
	padding:1em;
	color:#FFF;
	text-align:center;
	
	position:absolute;
	top:.5em;
	left:.5em;
	}

	
section.foto .caja_texto p{
	font-size:1em;
	margin-top:.4em;
	}

/*FORM*/

	
section.formulario{
	width:29%;
	min-height:415px;
	display:inline-block;
	vertical-align:top;
	font-size:.8em;
	color:#4d4d4d;
	background-color:#FFF;
	-webkit-box-shadow:4px 4px 7px 0px rgba(50, 50, 50, 0.32);
	-moz-box-shadow:4px 4px 7px 0px rgba(50, 50, 50, 0.32);
	box-shadow:4px 4px 7px 0px rgba(50, 50, 50, 0.32);
	}
	
section.formulario .llamanos{
	width:100%;
	background-color:#ee6a9c;
	color:#FFF;
	text-align:center;
	font-size:1.7em;
	padding:.2em 0;
	margin-top:.5em;

	}
section.formulario .llamanos img{
	width:30px;
	height:30px;
	margin-right: .3em;
	}
	
section.formulario .llamanos img, span{
	vertical-align:bottom;
	}

section.formulario .te_llamamos{
	width:100%;
	background-color:#0079c8;
	color:#FFF;
	text-align:center;
	font-size:1.3em;
	margin-top:.5em;
	padding:.3em 0;
	}
	
	
section.formulario form{
	width:89%;
	margin:1em auto 0 auto;
	}	
	
.formulario .celda{
	display:block;
	width:98%;
	min-height:30px !important; 
	border:1px solid #0079c8;
	padding-left:4px;
}

.fila input{
	margin-top:.4em;
	}

.fila, #capa_fecha, #fecha_nombre, .cookiesEnable{
	margin-bottom:1em;
	text-align:left;
	}
	
.legal{
	font-size:.8em;
	font-family:Arial, Helvetica, sans-serif;
	text-align:left;
	}
	
.espacio_btn{
	width:100%;
	text-align:center;
	}	
	
button {
	cursor:pointer;
	width:100%;
	padding:.5em;
	color: white;
	border: 0;
	font-size: 1.2em;
	margin:.9em auto;
	background-image: -ms-linear-gradient(top, #F68A1E 0%, #FF7301 100%);
	background-image: -moz-linear-gradient(top, #F68A1E 0%, #FF7301 100%);
	background-image: -o-linear-gradient(top, #F68A1E 0%, #FF7301 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #F68A1E), color-stop(1, #FF7301));
	background-image: -webkit-linear-gradient(top, #F68A1E 0%, #FF7301 100%);
	background-image: linear-gradient(to bottom, #F68A1E 0%, #FF7301 100%);}



/*TEXTO*/

section.contenido_texto{
	max-width:895px;
	width:100%;
	margin:1em auto;
	background:#f3f3f3;
	font-size:.9em;
	
	color:#666;
	-webkit-box-shadow:4px 4px 7px 0px rgba(50, 50, 50, 0.32);
	-moz-box-shadow:4px 4px 7px 0px rgba(50, 50, 50, 0.32);
	box-shadow:4px 4px 7px 0px rgba(50, 50, 50, 0.32);
	}
	
	
	
.caja{
	width:35%;
	vertical-align:top;
	display:inline-block;
	margin:1em 0 1em 1em;
	color:#999;
	font-size:.8em;
	font-weight:normal;
	
	}
	
#caja_peque{
	width:25%;
	}	
	
.caja img{
	width:42px;
	height:42px;
	vertical-align:middle;
	display:inline-block;
	}
	
.caja img, h4{
	vertical-align:middle;
	display:inline-block;
	}
		
.caja h4{
	font-size:1em;
	}	
	
section.contenido_texto .cuadro_texto_izq, section.contenido_texto .cuadro_texto_drcha{
	width:49.7%;
	vertical-align:top;
	display:inline-block;
	min-height:150px;
	background-color:#ffffff;
	margin-bottom: 1.5em;
	}
section.contenido_texto .cuadro_texto_drcha{
	margin-right:0;}
		
section.contenido_texto .cuadro_texto_izq div{
	background-color:#0079c8;
	width:100%;
	text-align:center;
	padding:.2em 0;
	margin-bottom:1em;
	color:#FFF

	}
	
section.contenido_texto .cuadro_texto_drcha div{
	background-color:#f47621;
	width:100%;
	text-align:center;
	padding:.2em 0;
	margin-bottom:1em;
	color:#FFF;
	}
	
section.contenido_texto .cuadro_texto_izq li{
	margin-bottom:1em;
	font-size:.9em;
	margin-left:3em;
	list-style-image:url(../img/019/list-style-tick.png);
	}
	
section.contenido_texto .cuadro_texto_drcha li{
	display:inline-block;
	width:42%;
	margin-left:2em;
	margin-bottom:1.2em;
	font-size:.9em;
	
	}	
section.contenido_texto .cuadro_texto_drcha li img{
	width:40px;
	height:15px;
	margin-right:.5em;
	}	
	
	
/*PIE*/
	
	
footer{
	width:100%;
	background-color:#0079c8;
	padding:.4em 0;
	}
	
footer div{
	max-width:900px;
	margin:0 auto;
	}

footer div img{
	width:252px;
	
	}
	
	
#pie_galletero{
	max-width:880px;
	margin:0 auto;
	padding:1em;
	font-size:.9em;
	color:#666;}
	
#pie_galletero_left{
	width:79%;
	vertical-align:top;
	display:inline-block;}
	
#pie_galletero_right{
	width:20%;
	vertical-align:top;
	display:inline-block;}	
#pie_galletero_right input{
	background-color:#F60;
	border:0;
	padding:.3em;}	

		
@media (max-width: 888px) {
	
	.formulario .celda{
	display:block;
	width:95%;
	min-height:30px !important; 
	border:1px solid #0079c8;
}
}
@media (max-width: 844px) {
	
	.formulario .celda{
	display:block;
	width:95%;
	min-height:20px;
	border:1px solid #0079c8;
}
}

@media (max-width: 780px) {
	
	body{
		padding:.2em;}
		
		
	section.formulario{
		margin:1em auto;
		width:80%;
		display:block;
		}
	section.foto{
		margin:1em auto;
		width:80%;
		display:block;
		}
		
	section.foto .caja_texto{
		max-width:200px;
		padding:.4em;
		margin:0em;
		position:absolute;
		top:.5em;
		left:.5em;
	}

	
	section.foto .caja_texto p{
		font-size:.9em;
		margin-top:0;
		}
	section.foto .caja_texto h2{
		font-size:1.1em;
		}
		
	section.contenido_texto{
			width:80%;
			}
			
	section.contenido_texto .cuadro_texto_izq, section.contenido_texto .cuadro_texto_drcha{
		width:100%;
		display:block;
		margin:.5em auto;
		border:0;
		}
		
	section.contenido_texto .cuadro_texto_izq li{
	
	margin-left:4em;
	
	}

	
	.caja, #caja_peque{
		display:block;
		width:90%;
		margin:2em auto;
		}
		
	section.formulario .llamanos img, p{
		display:inline-block;
		}
		
	#pie_galletero_left{
	width:95%;
	margin:0 auto;
	display:block;}
	
	#pie_galletero_right{
		width:40%;
		margin:.5em auto;
		display:block;
	}	

	}
	

@media (max-width: 480px){
	
	body{
		padding:.2em;
	}
	
	h1{
		font-size:1em;
		}
		
	header .cabecera img {
		width: 70px;
		margin:.2em;
		}
	
	.comolavidamisma{
		font-size:.7em;
		}
		
	.comolavidamisma img{
		width:40px;
		height:40px;
		}

	section.foto .caja_texto{
		max-width:140px;
		padding:0em;
		margin:0em;
		position:absolute;
		top:.2em;
		left:.2em;
	}

		
	section.foto .caja_texto p{
		font-size:.7em;
		}
	section.foto .caja_texto h2{
		font-size:.75em;
		}

	section.formulario, section.foto{
		width:96%;
		}
	section.contenido_texto {
		width:96%;
		padding:0;
		}
		
	section.contenido_texto .cuadro_texto_izq, section.contenido_texto .cuadro_texto_drcha{
		width:100%;
		display:block;
		margin:0 auto;
	}
		
		
	h2{
		font-size:1.2em;
		}

		
	section.formulario .llamanos{
		font-size:1.3em;
	}
	
	section.formulario .llamanos img{
		width:25px;
		height:25px;
	}
		
		
	.caja, #caja_peque{
		width:98%;
		margin:1em auto;}
	.caja img{
		width: 38px;
		height: 38px;
		}
	.caja h4{
		font-size:.9em;
	}
		
	h3{
		font-size:1em;}
		
	section.contenido_texto .cuadro_texto_drcha li {
		width: 80%;
		margin-left:1em;
	}
		section.contenido_texto .cuadro_texto_izq li{
	
	margin-left:3em;
	
	}

	
	#pie_galletero_right{
		width:60%;
	}	

	#pie_galletero{
		font-size:.8em;
	}
	}
	
@media (max-width: 320px){
	header .cabecera img{
		width:60px;
	}
	
	}
	
	