@charset "UTF-8";

*{
	padding:0;
	margin:0;
	box-sizing:border-box;
	}
	
img{
	width: 99%;
	height:auto;
	}

body{
	font-family: 'Conv_GOTHAM-BOOK', Arial;
	background-color:#FFFFFF;
	}

@font-face {
	font-family: 'Conv_GOTHAM-BOOK';
	src: url('../fonts/Gotham-Book.eot');
	src: local('☺'), url('../fonts/Gotham-Book.woff') format('woff'), url('../fonts/Gotham-Book.ttf') format('truetype'), url('../fonts/Gotham-Book.svg') format('svg');
	font-weight: normal;
	font-style: normal;
	}

@font-face {
	font-family: 'Conv_GOTHAM-BOLD';
	src: url('../fonts/Gotham-Bold.eot');
	src: local('☺'), url('../fonts/Gotham-Bold.woff') format('woff'), url('../fonts/Gotham-Bold.ttf') format('truetype'), url('../fonts/Gotham-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
	}
	
header{
	width:100%;
	background-color:#FFFFFF;
	}
	
.cabecera{
	max-width:1000px;
	width:99%;
	margin:auto;
	padding: 0.3em 0;
	}
	
.logo{
	width:6%;
	float:left;
	}
	
.cabecera h1{
	float:left;
	width:60%;
	color:#636364;
	font-size:1.5em;
	font-family: 'Conv_GOTHAM-BOOK';
	padding-top:0.9em;
	padding-left:0.5em;
	}
	
.cabecera h2{
	float:right;
	width:20%;
	font-family: 'Conv_GOTHAM-BOOK';
	font-size:0.8em;
	padding-top:2.4em;
	}
	
.basic-content{
	width:100%;
	background-color:#fcfbfc;
	clear:both;
	}
	
.small-content{
	width:99%;
	max-width:1100px;
	margin:auto;
	background-image:url(../img/104/background-content.jpg);
	background-repeat:no-repeat;
	background-size:contain;
	}
	
.skeleton{
	width:63%;
	display:inline-block;
	vertical-align:middle;
	}
	
.mobile-photo{
	display:none;
	}
	
/*Formulario*/
	
section.formulario{
	width:25%;
	background-color:#007ACC;
	text-align:center;
	display:inline-block;
	vertical-align:middle;
	margin-top:5em;
	margin-bottom:3em;
	}
	
section.formulario p{
	font-size:1.9em;
	color:#FFFFFF;
	text-align:center;
	font-family: 'Conv_GOTHAM-BOLD';
	margin-bottom:-0.3em;
	padding-top:0.4em;
	}

section.formulario #ctcForm, section.formulario #enviarPorMailSolicitaInfo{
	width:99%;
	margin:1em auto;
	text-align:center;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	min-height:360px;
	}
	
.formulario .celda{
	background-color:#FFFFFF;
	font-size:.9em;
	display:block;
	width:85%;
	min-height:30px;
	margin:1.4em auto;
	color:#585254;
	text-align:left;
	font-weight:200;
	}

.legal{
	font-size:0.63em;
	width:97%;
	margin:0 auto;
	text-align:center;
	color:#FFFFFF;
	margin-top:-1em;
	margin-bottom:2em;
	font-family: 'Conv_GOTHAM-BOOK';
	}
	
.legal input{
	vertical-align:top;
	}
	
.legal a{
	color:#FFFFFF;
	}
	
.espacio_btn{
	width:90%;
	margin:.4em auto;
	}	
	
.espacio_btn input{
	cursor:pointer;
	width:95%;
	padding:0.5em 0;
	color: white;
	border: 0;
	font-size:1.8em;
	background-color:#acb332;
	font-family: 'Conv_GOTHAM-BOLD';
	}
	
.espacio_btn input:hover{
	background-color:#828814;
	}

.text-content{
	width:99%;
	max-width:1000px;
	margin:auto;
	margin-top:1em;
	padding-right:6em;
	}
	
/*Caja texto start*/

/* 04.04 - products slider */

.swiper-tabs{
	position: relative;
	}
	
.swiper-tabs:before{
	position: absolute; 
	left: 0; 
	bottom: 24px; 
	width: 100%; 
	height: 1px; 
	background: #ebebeb; 
	content: "";
	}
	
.swiper-tabs .block-title{
	float: left; 
	border-bottom:none; 
	position: relative; 
	padding-left: 7px; 
	padding-right: 7px; 
	margin-right: 15px; 
	font-weight: 400; 
	color: #a1a1a1;
	}
	
.swiper-tabs .block-title.active{
	font-weight: 600; 
	color: #2e2e2e;
	}
	
.swiper-tabs .block-title:hover{
	color: #2e2e2e;
	}
	
.swiper-tabs .block-title:before{
	position: absolute; 
	left: 0; 
	height: 3px; 
	bottom: -2px; 
	content: ""; 
	background: #03b4ea; 
	width: 0;
	}
	
.swiper-tabs .block-title.active:before{
	width: 100%;
	}
	
.tabs-entry{
	display: none;
	}
	
.tabs-entry:first-child{
	display: block;
	}
	
.swiper-tabs .title, .links-drop-down .title{
	display: none;
	}

/*product tabs*/

.tabs-container.style-1 .swiper-tabs{
	font-size: 0;
	}
	
.tabs-container.style-1 .tab-switcher{
	font-weight: 600; 
	font-size: 13px; 
	line-height: 13px; 
	color: #FFFFFF; 
	padding: 15px 20px; 
	cursor:pointer; 
	background-color:#acb332; 
	display: inline-block; 
	margin-right: 14px; 
	text-transform: uppercase;
	}
	
.tabs-container.style-1 .tab-switcher.active{
	background: #24334e; 
	color: #fff; 
	cursor:pointer;
	}
	
.tabs-container.style-1 .swiper-tabs:before{
	bottom: 0;
	}
	
.tabs-container.style-1 .tabs-entry{
	padding: 55px; 
	border: 3px #acb332 solid; 
	border-top: none;
	}

/* Tablets (>=768px)*/

/*Phones (<768px)*/

@media (max-width: 767px){
	 
 .tabs-container.style-1 .tab-switcher{
	 display: block; margin: -1px 0 0 0;
	 }
	 
 .tabs-container.style-1 .swiper-tabs{
	 margin-bottom: 0;
	 }
	 }

/* 29.02 - content styles */

.tabs-container{margin-bottom: 45px; 
	}

.list{
	border-bottom: 4px solid #acb332 !important;
	}
	
.article-container{
	margin:-2.5em 0;
	}
	
.sel1{
	width:20%;
	display:inline-block;
	vertical-align:middle;
	}

.change-tittle{
	color:#24334e;
	font-family: 'Conv_GOTHAM-BOLD';
	}

.article-container p{
	width:65%;
	display:inline-block;
	vertical-align:middle;
	line-height:30px;
	margin-left:2em;
	font-family: 'Conv_GOTHAM-BOOK';
	font-size:1em;
	color:#626364;
	}
	
/*Caja texto end*/

.letra-pequena{
	text-align:left;
	font-size:.8em;
	margin-top:2.5em;
	color:#636466;
	margin-bottom:2.5em;
	}

.letra-pequena a{
	color:#636466;
	}
	
footer{
	background-color:#0078cf;
	width:100%;
	padding:.3em 0;
	text-align:center;
	margin:0 auto;
	}
	
footer div{
	max-width:850px;
	vertical-align:middle;
	margin:0 auto;
	min-height:50px;
	}
		
footer div img{
	max-width:230px;
	float:right;
	}
	
.agente{
	max-width:200px;
	float:left;
	}

.lado{
	padding-top:0.5em;
	}
	
@media (max-width: 1070px){

section.formulario{
	margin-left:5em;
	}
.text-content{
	padding-right:0em;
	}
	}
	
@media (max-width: 1020px){
section.formulario p{
	font-size:1.5em;
	}

.espacio_btn input{
	font-size:1.4em;
	}

.legal{
	font-size:0.5em;
	}

.text-content{
	width:90%;
	margin-top:0em;
	}
	}

@media (max-width: 980px){
	
.cabecera h1{
	font-size:1.3em;
	}
	
.cabecera h2{
	padding-top:2em;
	}
	
skeleton{
	width:55%;
	}

section.formulario{
	margin-left:5em;
	}
	}

@media (max-width: 800px){

header{
	display:none;
	}

.small-content{
	background-image:none;
	}

.mobile-photo{
	display:block;
	}

.skeleton{
	width:99%;
	}
	
section.formulario{
	width:100%;
	margin-bottom:0em;
	margin-left:0em;
	margin-top:0em;
	}

.legal{
	font-size:0.8em;
	}
	
section.formulario p{
	font-size:1.8em;
	}

.espacio_btn input{
	font-size:1.9em;
	margin-top:-0.2em;
	}
	
.sel1{
	width:25%;
	}

.article-container p{
	font-size:0.9em;
	}
	}

@media (max-width: 700px){

.sel1{
	width:35%;
	margin-left:9em;
	}
	
.article-container p{
	width:99%;
	text-align:center;
	margin-left:-0.1em;
	}
	}

@media (max-width: 560px){

.sel1{
	margin-left:7em;
	}
	}
	
@media (max-width: 448px){

.sel1{
	width:50%;
	margin-left:3.5em;
	}

footer div{
	min-height:85px;
	text-align:center;
	}
	
.lado {
	padding-top:0px;
	}
	}

@media (max-width: 380px){

section.formulario{
	height:345px;
	}

section.formulario p{
	font-size:1.4em;
	}
	}

@media (max-width: 250px){
	
.espacio_btn input{
	font-size:1.1em;
	}
	
section.formulario{
	height:325px;
	}
	
.text-content{
	margin-top:1em;
	}

section.formulario p{
	font-size:1em;
	}
	}