
*{
	margin:0;
	padding:0;
	 -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
	}

img{
	width:99%;
	height:auto;
	}

@font-face{
	font-family: 'Conv_Gotham-Book';
	src: url('../fonts/Gotham-Book.eot');
	src: local('☺'), url('../fonts/Gotham-Book.woff') format('woff'), url('../fonts/Gotham-Book.ttf') format('truetype'), url('../fonts/Gotham-Book.svg') format('svg');
	font-weight: normal;
	font-style: normal;
	}

@font-face{
	font-family: 'Conv_Gotham-Bold';
	src: url('../fonts/Gotham-Bold.eot');
	src: local('☺'), url('../fonts/Gotham-Bold.woff') format('woff'), url('../fonts/Gotham-Bold.ttf') format('truetype'), url('../fonts/Gotham-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
	}

body{
	font-family: 'Conv_Gotham-Book';
	background-color:#FFFFFF;
	}

header{
	width:100%;
	}

.cabecera{
	width:99%;
	max-width:1200px;
	margin:auto;
	}

.cabecera img{
	max-width:121px;
	margin-top:-0.2em;
	}	

.basic-content{
	width:100%;
	background-image: url(../img/159/background.jpg);
	background-repeat:no-repeat;
	}

.small-content{
	width:99%;
	max-width:1200px;
	margin:auto;
	}

.skeleton{
	width:60%;
	display:inline-block;
	vertical-align:top;
	}

.web{
	max-width:680px;
	margin-top:2em;
	}

.mvl{
	display:none;
	}

/*Formulario*/

section.formulario{
	width:28%;
	display:inline-block;
	text-align:center;
	vertical-align:top;
	margin-left:4em;
	margin-top: 5em;
	}
	
section.formulario p{
	font-size:1.26em;
	color:#0079c8;
	font-family: 'Conv_Gotham-Bold';
	margin-top:0.6em;
	}
	
section.formulario .text-information{
	font-size:1.26em;
	margin-top:-0.1em;
	margin-bottom:0.7em;
	font-family: 'Conv_Gotham-Book';
	}
	
section.formulario .text-information span{
	font-family: 'Gotham-Book'
	}

section.formulario #enviarPorMailSolicitaInfo{
	background-color:#FFFFFF;
	width:100%;
	margin:.2em auto;
	text-align:center;
	padding:.4em 0;
	}
	
.formulario .celda{
	background-color:#FFF;
	font-size:.9em;
	display:block;
	width:75%;
	min-height:40px;
	margin:auto;
	margin-top:0.6em;
	text-align:left;
	border: 1px solid #e60e68;
	padding-left:3em;
	-webkit-appearance: none;
 	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	}
	
input[placeholder], [placeholder], *[placeholder]{
   color:#e60e68 !important;
   font-family: 'Gotham-Book';
   }
  
  ::-webkit-input-placeholder{
    color:#e60e68;
	font-family: 'Gotham-Book';
	}
	
*:-moz-placeholder{
    color:#e60e68;
	font-family: 'Gotham-Book';
	}
	
*::-moz-placeholder{
    color:#e60e68;
	font-family: 'Gotham-Book';
	}
	
*:-ms-input-placeholder{
    color:#e60e68;
	font-family: 'Gotham-Book';
	}

.formulario .celda:focus{
	outline:0px;
	}

.legal{
	font-size:.7em;
	width:74%;
	text-align:left;
	color:#000000;
	margin:0.3em auto;
	}
	
.legal input{
	vertical-align:top;
	}
	
.legal a{
	color:#000000;
	}
	
.espacio_btn{
	width:81%;
	text-align:center;
	margin:.7em auto;
	}	
	
.espacio_btn input{
	width:92%;
	padding:0.7em 0;
	color: white;
	border: 0;
	font-size:1.35em;
	background-color:#EF8900;
	font-family: 'Gotham-Book';
	-webkit-appearance: none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-bottom:0.3em;
	cursor:pointer;
	}
	
.espacio_btn input:hover{
	background-color:#b36804;
	}

section.formulario .name{
	background-image: url(../img/159/icon-name.png);
	background-repeat: no-repeat;
	background-position:left center;
	}

section.formulario .phone{
	background-image:url(../img/159/icon-phone.png);
	background-repeat:no-repeat;
	background-position:left center;
	}

section.formulario .mail{
	background-image:url(../img/159/icon-mail.png);
	background-repeat:no-repeat;
	background-position:left center;
	}

/*Text Content*/

.text-content{
	width:99%;
	max-width: 1200px;
	margin:2em auto 2em auto;
	text-align:center;
	}

.text-content h1{
	color:#0079c8;
	font-family: 'Conv_Gotham-Bold';
	font-size:1.3em;
	margin-bottom:2em;
	}	

.box-container{
	width:100%;
	max-width:870px;
	margin:0 auto 6em auto;
	}

/*Caja 1*/

.box1{
	width:31%;
	max-width:290px;
	display: inline-block;
	vertical-align:top;
	}

.text-box1{
	background-color:#e60e68;
	padding:1em;
	color:#FFFFFF;
	min-height:270px;
	}

.text-box1 h1{
	color:#FFFFFF;
	font-size:1.1em;
	margin-top:4em;
	margin-bottom:1em;
	}

.text-box1 p{
	font-size:0.8em;
	}

/*Caja 2*/

.box2{
	width:31%;
	max-width:290px;
	display: inline-block;
	vertical-align:top;
	margin-left:-0.4em;
	margin-right:-0.4em;
	}

.text-box2{
	background-color:#0079c8;
	padding:1em;
	color:#FFFFFF;
	min-height:270px;
	}

.text-box2 h1{
	color:#FFFFFF;
	font-size:1.1em;
	margin-top:3em;
	margin-bottom:1em;
	}

.text-box2 p{
	font-size:0.8em;
	}

.image-box2-mvl{
	display:none;	
	}

/*Caja 3*/

.box3{
	width:31%;
	max-width:290px;
	display: inline-block;
	vertical-align:top;
	}

.text-box3{
	background-color:#EF8900;
	padding:1em;
	color:#FFFFFF;
	min-height:270px;
	}

.text-box3 h1{
	color:#FFFFFF;
	font-size:1.1em;
	margin-top:2em;
	margin-bottom:1em;
	}

.text-box3 p{
	font-size:0.8em;
	}

footer{
	background-color:#0078cf;
	width:100%;
	padding:.3em 0;
	text-align:center;
	margin-top:4em;
	}
	
footer article{
	max-width:850px;
	vertical-align:middle;
	margin:0 auto;
	min-height:50px;
	}
		
footer article img{
	max-width:230px;
	float:right;
	}
	
.agente{
	max-width:200px;
	float:left;
	}

.lado{
	padding-top:0.5em;
	}


/*Responsive*/

@media (max-width: 1125px){
	
section.formulario{
	width:31%;
	}	
	}

@media (max-width: 1005px){

.espacio_btn input{
	font-size:1.2em;
	}
	
section.formulario p{
	font-size:1.1em;
	}
	
section.formulario .text-information{
	font-size:1.1em;
	}
	}

@media (max-width: 910px){
	
section.formulario{
	width:33%;
	margin-left: 1em;
	}	
	}

@media (max-width: 900px){

.box-container{
	width:95%;
	max-width:none;
	}
	
/*caja1*/
	
.box1{
	width:99%;
	max-width:none;
	display: inline-block;
	vertical-align:top;
	}
	
.image-box1{
	width:45%;
	display:inline-block;
	vertical-align:top;
	min-width:272px;
	}
	
.text-box1 h1{
	color:#e60e68;
	}
	
.text-box1{
	width: 45%;
	display:inline-block;
	vertical-align:top;
	margin-left:-0.3em;
	background-color:#FFFFFF;
	color:#e60e68;
	}
	
/*caja2*/
	
.box2{
	width:99%;
	max-width:none;
	display: inline-block;
	vertical-align:top;
	}
	
.image-box2{
	width:45%;
	display:inline-block;
	vertical-align:top;
	min-width:272px;
	}
	
.text-box2 h1{
	color:#0079C8;
	}
	
.text-box2{
	width: 45%;
	display:inline-block;
	vertical-align:top;
	margin-left:-0.3em;
	background-color:#FFFFFF;
	color:#0079C8;
	}
	
/*caja3*/
	
.box3{
	width:99%;
	max-width:none;
	display: inline-block;
	vertical-align:top;
	}
	
.image-box3{
	width:45%;
	display:inline-block;
	vertical-align:top;
	min-width:272px;
	}
	
.text-box3 h1{
	color:#EF8900;
	}
	
.text-box3{
	width: 45%;
	display:inline-block;
	vertical-align:top;
	margin-left:-0.3em;
	background-color:#FFFFFF;
	color:#EF8900;
	}
	}

@media (max-width: 850px){
	
.cabecera img{
	max-width:none;
	width:17%;
	}
	
.basic-content{
	background-image:none;
	}
	
.skeleton{
	width:100%;
	}
	
.web{
	display:none;
	}
	
.mvl{
	display:block;
	}
	
section.formulario{
	width:100%;
	margin-left:0;
	margin-top: 0;
	}
	
section.formulario p{
	font-size:1.3em;
	}
	
section.formulario .text-information{
	font-size:1.2em;
	}
	}

@media (max-width: 543px){
	
.text-content h1{
	font-size: 1em;
	width:90%;
	margin:0 auto 2em auto;
	}
	
.text-box1{
	width: 90%;
	padding:0;
	min-height:0;
	margin-bottom:2em;
	}
	
.text-box1 h1{
	margin-top:2em;
	margin-bottom:0.4em;
	}
	
.text-box2{
	width: 90%;
	padding:0;
	min-height:0;
	margin-bottom:2em;
	}
	
.text-box2 h1{
	margin-top:2em;
	margin-bottom:0.4em;
	}
	
.image-box2{
	display:none;
	}
	
.image-box2-mvl{
	display:block;
	width:45%;
	min-width:272px;
	margin: auto;
	}
	
.text-box3{
	width: 90%;
	padding:0;
	min-height:0;
	}
	
.text-box3 h1{
	margin-top:2em;
	margin-bottom:0.4em;
	}
	}

@media (max-width:447px){
	
footer article{
	min-height:85px;
	text-align:center;
	}
	
.lado{
	padding-top:0px;
	}
	}