/*Reseteadores*/
BODY, H1, H2, H3, H4, H5, H6, PRE, P, BLOCKQUOTE, ADDRESS, DL, DT, DD, UL, OL, LI, TABLE, CAPTION, TH, TD, FORM, FIELDSET, LEGEND{ margin:0; padding:0;}
H1, H2, H3, H4, H5, H6{font-size:1em;}
IMG, FIELDSET, ABBR, ACRONYM{border:0;}
ADDRESS{font-style:normal;} 
TABLE{border-collapse:collapse; border-spacing:0;}
UL, OL{ list-style:none;}
/*Fin de Reseteadores*/

.formulario{
  float:right;
  margin-top:20px;
  margin-right:5px;
}

.ctc_form{
  padding:1px 0px 0px 10px;
  height:153px;
  width:245px;
  background-color:#1d76b8;
  font-family:Arial, Helvetica, sans-serif;
  color:#FFF;
  border-radius:5px;
  font-size:12px;
}
.ctc_form p:first-child{font-size:17px;}
.contenedor_form p:first-child{
  font-size:17px;
}
.contenedor_form{
  padding:1px 0px 0px 10px;
  height:355px;
  width:245px;
  background-color:#ffffff;
  font-family:Arial, Helvetica, sans-serif;
  color:#1d76b8;
  margin-top:11px;
  border-radius:5px;
  font-size:15px;
}

form{
  margin-left:0px;
}

.fila{
  overflow:hidden;
  width:230px;
  font-family:Arial, Helvetica, sans-serif;
  font-size:12px;
  margin-top:3px;
  color:#eeeeee;
  font-weight:bold;
}

.celda{
  display:block;
  color:#333;
  margin-top:5px;
  border-radius:5px;
  width:190px;
}
.legal{
  font-family:Verdana, Geneva, sans-serif;
  font-size:10px;
  font-style:italic;
  margin-top:9px;
  color:#999;
}
.legal a{
  color:#999;
}

.btn_solicitar{
  width:190px;
  height:30px;
  background-color:#eb6f04;
  color:#FFF;
  margin-left:2px;
  margin-top:15px;
  text-align:center;
  font-size:10px;
}

.boton{
  background-image:url(../img/boton_call_5.png);
  background-repeat:no-repeat;
  background-color:#FFFFFF;
  border:none;
  width:231px;
  height:40px;
  font-size:24px;
}

.element{
  font-size:11px;
}
.blanco{
  background-color:#FFF;
  padding-top:10px;
  padding-bottom:10px;
  padding-left:1px;

  height:auto;
  background-position:right;
  margin-right:10px;
  margin-bottom:2px;
  margin-left:10px;
  margin-top:2px;
  padding-top:2px;
  padding-bottom:10px;
}


body{
  height:100%;
  font-family:arial, sans-serif;
  background-color:#cce6f5;
  font-size:18px;
		  }

h1{
  color:#009cda;
  font-size:22px;
  padding-left:1px;
  padding-top:5px;
  background-color:#FFF;
}


h2{
  color:#db5400;
  font-size:17px;
  padding-left:1px;
  padding-top:5px;
  background-color:#FFF;
}

h3{
  color:#db5400;
  font-size:15px;
  padding-left:1px;
  padding-top:5px;
  background-color:#FFF;
}

h4{
  color:#666666;
  font-size:14px;
  padding-left:5px;
  padding-top:0px;
  background-color:#FFF;
}


p{
  font-size:16px;
  padding-left:1px;
  padding-bottom:10px;
  padding-top:3px;
}

img{
  max-width:100%; 
  height:auto;
}

#header{
  margin-top:0px;
  height:87px;
  background-position:left;
  background-repeat:no-repeat;
  padding-left:5px;
  background-color:#cce6f5;
  width:0px;
  padding-bottom:2px;
}
#header1{
  margin-top:0px;
  height:87px;
  background-color:#cce6f5;
  padding-bottom:6px;
}
.logo{
  display:inline-block;
  height:90px;
  margin:8px;
}

#main_txt{
  height:auto;
  background-position:right;
  background-repeat:no-repeat;
  background-color:#FFF;
  margin-right:10px;
  margin-bottom:2px;
  margin-left:10px;
  margin-top:2px;
  padding-top:2px;
  padding-bottom:10px;
}	

#main{
  height:250px;
  background-position:right;
  background-repeat:no-repeat;
  background-color:#019DDA;
  padding:0px;
  margin-top:0px;
  margin-right:10px;
  margin-bottom:0px;
  margin-left:10px;
}

#formulario{
  height:260px;
  background-color:#FFF;
  text-align:center;
  font-size:16px;
  line-height:1;
  border-top-width:2px;
  border-bottom-width:2px;
  border-top-style:solid;
  border-bottom-style:solid;
  border-top-color:#cce6f5;
  border-bottom-color:#cce6f5;
  padding:0px;
  margin-top:0px;
  margin-right:10px;
  margin-bottom:2px;
  margin-left:10px;
  font-weight:bold;
}

#contenedor{
  height:223px;
  color:#FFFFFF;
  margin-top:1px;
  padding-top:8px;
  background-color:#019DDA;
}
#telefono_ctc{
  width:190px;
  height:25px;
}
.telefono{
  font-size:16px;
  color:#3b657d;
  font-weight:bolder;
}
.datos-form{
  font-size:17px;
  color:#3b657d;
  font-weight:bold;
  font-family:Arial, Helvetica, sans-serif;
}
.ancho-celda{
  width:200px;
  height:25px;
  margin-bottom:10px;
}
