@charset "utf-8";
/* CSS Document */
body{
font-family:Arial, Helvetica, sans-serif;}
.contenido{
margin:0 auto;
width:950px;
background-color:#f1f1f1;
}

.cabecera{
background-image:url(../img/img_ppal_SIN900_MILENIUM.jpg);
height:666px;
background-repeat: no-repeat;
}

.linea_morada{
background-color:#68217a;
height:3px;
margin-bottom:20px;}

.formulario{
float:right;
margin-top:130px;
margin-right:15px;}

p:first-child:{font-size:16px;}

.ctc_form {
padding:1px 0px 0px 10px;
height: 153px;
width:245px;
background-color: #1d76b8;
font-family: Arial, Helvetica, sans-serif;
color: #FFF;
border-radius:5px;
font-size:12px;
}
.ctc_form p:first-child{font-size:17px;}
.contenedor_form p:first-child{
font-size:17px;
}
.contenedor_form{
padding:1px 0px 0px 10px;
height: 355px;
width:245px;
background-color: #1d76b8;
font-family: Arial, Helvetica, sans-serif;
color: #FFF;
margin-top:11px;
border-radius:5px;
font-size:15px;
}

form{
margin-left:20px;
}

.fila {
overflow:hidden;
width:230px;
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
margin-top:3px;
}


.celda {
display: block;
margin-top: 5px;
color: #333;
margin-top:5px;
border-radius:5px;
width:190px;
}
.legal {
font-family: Verdana, Geneva, sans-serif;
font-size:10px;
font-style: italic;
margin-top:9px;
}
.legal a{
color:#FFF;
}

.btn_solicitar{
width:190px;
height:30px;
background-color:#eb6f04;
color:#FFF;
margin-left:20px;
margin-top:15px;
text-align:center;
font-size:14px;
cursor: pointer;
}

.coberturas_servicios{

height:250px;

}
.coberturas_servicios p{

font-size:11px;
color:#666;
}

.coberturas{
width:290px;
float:left;
margin-left:95px;}

.coberturas p{

margin-left:40px;
margin-top:20px;}

.servicios{
width:490px;
float:left;}

h1{
font-size:16px;
color:#ee8101;}

ul li{
font-size:11px;
color:#666;}

ul{
list-style-image:url(../img/tick_1.png);
}

.enlace_condiciones{
display:inline-block;
margin-left:40px;
padding-bottom:10px;
font-size:11px;
color:#09F;
}
	
.pie{
margin-top:40px;
height:40px;
width:700px;
font-size:11px;
color:#09F;
margin:auto;
text-align:center;
padding-bottom:10px;
}
	

.clearfix:after {
content: ".";
display: block;
clear: both;
visibility: hidden;
line-height: 0;
height: 0;
}

.clearfix {
display: inline-block;
}

html[xmlns] .clearfix {
display: block;
}

* html .clearfix {
height: 1%;
}
	

.pdfCondiciones{
display:inline-block;
width:225px;
height:45px;
margin-left:22px;
margin-top:10px;
background:url(../img/pdf_condiciones.png) 0 0px;
}

.pdfCondiciones:hover{
background:url(../img/pdf_condiciones_hover.png) 0 0px;
}