#info_cook
{
display:block;
margin:0 auto;
margin-top:4px;
text-align:left;
font-size:.8em;
color:#175E8D;
background:#B9DCF2;
-webkit-font-smoothing:antialiased;
-webkit-box-shadow:inset 0 0 18.75em rgba(195,225,243,.9);
-moz-box-shadow:inset 0 0 18.75em rgba(195,225,243,.9);
box-shadow:inset 0 0 18.75em rgba(195,225,243,.9); 
}

@media only screen and (max-width:1990px),only screen and (max-device-width:1990px){
	#info_cook
	{
		width:810px;
		padding:40px;
	}
}
@media only screen and (max-width:990px),only screen and (max-device-width:990px){
	#info_cook
	{
		width:85%;
		padding:30px;
	}
}
@media only screen and (max-width:480px),only screen and (max-device-width:480px){
	#info_cook
	{
		width:85%;
		padding:20px;
	}
}


#cookie_info{
display:block;
cursor:pointer;
text-align:center;
line-height:30px;
}
#cookie_info{
font-size:.9em;
color:#175E8D;
}
#cookie_info:hover{
color:#0F3F63;
}
.cookieButton{
color:#eee;
background:#EB6F04;
font-size:12px;
font-family:Arial,Helvetica,sans-serif;
border:0;
padding:4px;
border-radius:2px;
}
.cookieButton:hover{
color:#fff;
cursor:pointer;
}

#info_cook a{
color:#175E8D;
}
#info_cook a:hover{
color:#2A231E;
}
.ulCookies{
margin-left:10px;
color:#175E8D;
}

#info_cook li p{
color:#175E8D;
}
#info_cook p{
margin-left:0px;;
}

#info_cook li{
list-style:disc;
color:#175E8D;
}

.closeCookiesPolicy a{
display:block;
position:relative;
top:-10px;
text-decoration:none !important;
font-size:200%;
font-weight:bold;
}
