#pie_galletero{
display:block;
position:relative;
margin:0 auto;
padding:10px;
margin-top:60px;
font-size:.8em;
color:#666;
background:#fff;
width:960px;
}

.pie_galletero_left{
display:block;
color:#666;
font-size:85%;
float:left;
padding-left:20px;
width:75%;
float:left;
}

#pie_galletero_right{
display:block;
text-align:center;
}


#cookie_info{
display:block;
cursor:pointer;
text-align:center;
line-height:30px;
width:120px;
}
#cookie_info{
font-size:.8em;
color:#333333;
}
#cookie_info:hover{
color:#000;
}
.cookieButton{
font-size:80%;
padding:4px;
color:#eee;
background:#EB6F04;
border:0;
font-family:Arial,Helvetica,sans-serif;
}
.cookieButton:hover{
color:#fff;
background:#C45E04;
cursor:pointer;
}
#info_cook p,#info_cook b,#info_cook li{font-size:85%;}
#info_cook{
display:block;
margin:0 auto;
width:880px;
margin-top:2px;
padding:5%;
color:#333333;
background:#fff;
-webkit-font-smoothing:antialiased;
-webkit-box-shadow:inset 0 0 18.75em rgba(237,241,244,.9);
-moz-box-shadow:inset 0 0 18.75em rgba(237,241,244,.9);
box-shadow:inset 0 0 18.75em rgba(237,241,244,.9); 
}
#info_cook a{
color:#333333;
}
#info_cook a:hover{
color:#2A231E;
}
.ulCookies{
margin-left:-16px;
color:#333333;
}

#info_cook li p{
color:#333333;
}

#info_cook li{
list-style:disc;
color:#333333;
}

.closeCookiesPolicy a{
display:block;
position:relative;
top:-10px;
text-decoration:none !important;
font-size:150%;
font-weight:bold;
}
