#pie_galletero{
display:block;
position:relative;
margin:0 auto;
width:auto;
height:auto;
padding:10px;
font-size:.9em;
color:#175E8D;
background:#B9DCF2;
}

.pie_galletero_left{
display:block;
padding:0%;
padding-left:20px;
width:90%;
font-size:.8em;
}
#pie_galletero_right{
display:block;
padding:0px!important;
}


#cookie_info{
display:block;
cursor:pointer;
text-align:center;
line-height:30px;
}
#cookie_info{
font-size:.9em;
color:#175E8D;
font-size:1em;
}
#cookie_info:hover{
color:#0F3F63;
}
.cookieButton{
color:#eee;
background:#454640;
font-size:12px;
font-family:Arial,Helvetica,sans-serif;
border:0;
padding:10px 40px;;
border-radius:4px;
}
.cookieButton:hover{
color:#fff;
cursor:pointer;
}

#info_cook
{
display:block;
margin:0 auto;
width:auto;
margin-top:4px;
padding:40px;
font-size:.9em;
color:#175E8D;
background:#B9DCF2;
-webkit-font-smoothing:antialiased;
-webkit-box-shadow:inset 0 0 18.75em rgba(195,225,243,.9);
-moz-box-shadow:inset 0 0 18.75em rgba(195,225,243,.9);
box-shadow:inset 0 0 18.75em rgba(195,225,243,.9); 
}
#info_cook a{
color:#175E8D;
}
#info_cook a:hover{
color:#2A231E;
}
.ulCookies{
margin-left:4%;
color:#175E8D;
font-size:1em;

}

#info_cook li p{
color:#175E8D;
}

#info_cook li{
list-style:disc;
color:#175E8D;
}

.closeCookiesPolicy a{
display:block;
position:relative;
top:10px;
margin-top:10px;
text-decoration:none !important;
font-size:200%;
font-weight:bold;
pading-left:20px;
pading-right:20px;
}
