@charset "utf-8";
/* CSS Document */

.contenido{
margin-top:10px!important;
}

/** START PROPER MOBILE ELEMENTS **/
*{
margin:0;
padding:0;
}

body{
font-family:'Arial', sans-serif; color: #666; background:#fff;
}

a img{border:none;}
a,input {outline:none;}

.info{
display:block;
width:100%;
}

.container{
background:#E4E4E4;
border:1px solid #ccc;
border-radius:20px 20px 20px 20px;
margin:5px auto 6% auto;
padding:3%;
width:87%;
text-align:left;
}

.informate{
width:80%;
}

.cajatxt{
box-shadow:2px 2px 2px #ccc inset;
font-family:'jaz', 'Arial', sans-serif;
font-size:14pt;
border-radius:8px;
padding:5px 0px 5px 20%;
border:1px solid #999;
display:block;
height:30px;
margin:4% auto;
width:80%;
color:#666;
}

@media(min-width:480px){
.cajatxt{
padding:5px 0 5px 12%;
width:88%;
}

.cond .divcheck{
width:6%;
}

.cond .divtxt{
width:94%;
}
}

@media(min-width:640px){
  .cajatxt{
  padding:5px 0 5px 10%;
  width:90%;
  }
  .yaeres p{
  font-size:16pt;
  }

  .cond .divtxt p{
  font-size:12pt;
  }

  .cond .divcheck{
  width:5%;
  }

  .cond .divtxt{
  width:95%;
  }
}

#nombre{
background: url('../img/iconoNombre.png') no-repeat 10px center #fff;
}

#telefono{
background: url('../img/iconoTelef.png') no-repeat 13px center #fff;
}

#email{
background: url('../img/iconoMail.png') no-repeat 10px center #fff;
}

.checkLeft{
display:block;
float:left;
margin-top:2px;
margin-bottom:10px;
margin-right:10px;
}
/** END PROPER MOBILE ELEMENTS **/

.cabecera{
/*
MOBILE DEPRECATED
background-image:url(../img/movil_dental.jpg);
height:666px;
background-repeat: no-repeat;
*/
}

.linea_morada{
background-color:#68217a;
height:0px;
margin-bottom:14px;}

.formulario{
/*float:right;
margin-top:130px;
margin-right:15px;*/
}

p:first-child{font-size:1em;}

.ctc_form {
padding:1px 0px 0px 10px;
height: 153px;
width:245px;
background-color:#1d76b8;
font-family:Arial, Helvetica, sans-serif;
color:#FFF;
border-radius:5px;
font-size:12px;
}
.ctc_form p:first-child{font-size:17px;}
.contenedor_form p:first-child{
font-size:17px;
}
.contenedor_form{
/*padding:1px 0px 0px 10px;
height: 355px;
width:245px;
background-color: #1d76b8;
font-family: Arial, Helvetica, sans-serif;
color: #FFF;
margin-top:11px;
border-radius:5px;
font-size:15px;*/
}

form{
margin-left:0px;
}

.fila {
/*overflow:hidden;
width:230px;
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
margin-top:3px;*/
}


.celda {
display: block;
margin-top: 5px;
color: #333;
margin-top:5px;
border-radius:5px;
width:190px;
}

.legal {
font-size:.8em;
margin-top:9px;
}
.legal a{
color:#666;
}
.legal a:hover{
color:#000;
}

.btn_solicitar{
width:100%;
height:30px;
background-color:#009CDA;
color:#F3FCFF;
margin-left:0px;
margin-top:15px;
text-align:center;
font-size:1.2em;
font-weight:normal;
padding:16px 20px 40px;;
cursor:pointer;
border-radius:6px;
border:1px solid #fff;
}

.coberturas_servicios{
height:250px;
}

.coberturas_servicios p{
font-size:11px;
color:#666;
}

.coberturas{
width:290px;
float:left;
margin-left:95px;}

.coberturas p{
margin-left:40px;
margin-top:20px;}

.servicios{
width:490px;
float:left;}

h1{
font-size:16px;
color:#ee8101;}

ul li{
color:#666;}

ul{
ist-style-image:url(../img/tick_1.png);
}

.enlace_condiciones{
margin-left:132px;
font-size:11px;
color:#09F;
}

.pie{
margin-top:40px;
height:40px;
width:700px;
font-size:11px;
color:#09F;
margin:auto;
text-align:center;
padding-bottom:10px;
}

.clearfix:after {
content: ".";
display: block;
clear: both;
visibility: hidden;
line-height: 0;
height: 0;
}

.clearfix {
display: inline-block;
}

html[xmlns] .clearfix {
display: block;
}

* html .clearfix {
height: 1%;
}

.hide{display:none;}

.containerCondic{width:100%;text-align:center;}

.pdfCondiciones{
display:inline-block;
width:225px;
height:45px;
margin-top:10px;
background:url(../img/pdf_condiciones.png) 0 0px;
}

.pdfCondiciones:hover{
background:url(../img/pdf_condiciones_hover.png) 0 0px;
}