@charset "UTF-8";

*{  margin:0;
	padding:0;
	box-sizing:border-box;
	}

img{ width:99%;
	 height:auto;
	}

header{
	width:100%;
	margin:0 auto;
	padding:0;
	}

.fafica{
	background:#007272;
	width:100%;
	height:1.8em;
	}
	
.header{
	width:100%;
	margin:0 auto;
	padding:0;
	max-width:1200px;
	max-height:155px;
}
		
.header img{
	width:40%;
	max-width:277px;
	heigth:auto;
	}
	
.basic_content{
	max-width:1200px;
	height:auto;
	margin:0 auto;
	padding:0;
	}
		
.skeleton{
	width:60%;
	display:inline-block;
	margin:0 auto;
	padding:0;
	}
	
.photo{
	max-width:730px;
	heigth:auto;
	margin:0 auto;
	padding:0;
	vertical-align:top;
	}
	
/*FORM*/
section.formulario{
	width:38%;
	display:inline-block;
	text-align:center;
	vertical-align: middle;
	font-family:Arial, Helvetica, sans-serif;
	background-position:top center;
	vertical-align:top;
	}
	
.Zzz_solicita{
	padding-top:1%;
	width:70%;
	}
			
input::-webkit-input-placeholder {
    color:#007272;
	font-size:0.9em;
	}

section.formulario #ctcForm, section.formulario #enviarPorMailSolicitaInfo{
	background-color: #def2f2;
	width:100%;
	text-align:center;
	}
	
section.formulario #ctcForm input{
	display:inline-block;
	vertical-align:middle;
	min-height:40px;
	background-color:#FFF;
	}
	
section.formulario #ctcForm input:last-child{
	font-size:1.1em;
	cursor:pointer; 
	width:30%;
	color: white;
	border: 0;
	}
	
.formulario .celda{
	padding-left:4em;
	background-color:#FFF;
	font-size:1em;
	display:block;
	width:76%;
	min-height:46px;
	margin:auto;
	margin-top:0.8em;
	color:#007272;
	text-align:left;
	border: 1px solid #cbcbcb;
	}

.formulario .celda:focus{
	outline:0px;
	}

.formulario .legal{
	font-size:.7em;
	font-family:Arial, Helvetica, sans-serif;
	width:100%;
	text-align:center;
	color: #007272;
	margin:1em auto;
	padding:2%;
	}
	
.formulario .legal input{
	vertical-align:top;
	}
	
.formulario .legal a{
	color: #007272;
	}
	
#enlace_condiciones a{
	font-family:Arial, Helvetica, sans-serif;
	color: #108dcc;
	}

#nombre{
	background-image:url(../img/116/icon-form-name.jpg);
	background-repeat:no-repeat;
	border:none;
	}

#telefono{
	background-image:url(../img/116/icon-form-phone.jpg);
	background-repeat:no-repeat;
	border:none;
	}
	
input[name="cp"]{
	background-image:url(../img/116/icon-form-zipcode.jpg);
	background-repeat:no-repeat;
	border:none!important;
	}

#email{
	background-image:url(../img/116/icon-form-mail.jpg);
	background-repeat:no-repeat;
	border:0;
	}
	
.espacio_btn{
	width:85%;
	text-align:center;
	margin:.5em auto;
	padding-bottom:20px;
	}	
	
.espacio_btn input{
	cursor:pointer;
	width:90%;
	padding:0.8em;
	}
		
#btnProcesar {
 	background: #ec3767;
  	background-image: -webkit-linear-gradient(top, #ec3767, #af042f);
 	background-image: -moz-linear-gradient(top, #ec3767, #af042f);
 	background-image: -ms-linear-gradient(top, #ec3767, #af042f);
 	background-image: -o-linear-gradient(top, #ec3767, #af042f);
  	background-image: linear-gradient(to bottom, #ec3767, #af042f);
 	font-family:Arial, Helvetica, sans-serif;
  	color: #ffffff;
  	font-size:1.5em;
  	padding: 20px 20px 20px 20px;
  	text-decoration: none;
	border:0;
	border-bottom:#444444 solid 6px;
	}

#btnProcesar:hover {
 	background: #b30834;
 	text-decoration: none;
	}	

/*CONTENT*/
.text_content{
	width:99%;
	max-width:1200px;
	margin:0 auto;
	padding-top:1%;
	}
	
.content_icons{
	width:99%;
	max-width:1200px;
	margin:0 auto;
	}
		
.line{
	background:#007272;
	width:100%;
	height:2px;
	}
	
.col1,.col2, .col3, .col4{
	display:inline;
	}
		
.icon, .icon1{
	width:20%;
	display:inline;
	margin:0 auto;
	padding-left:15px;
	}
			
.text_content img{
	width:100%;
	max-width:60px;
	display:inline-block;
	vertical-align:middle;
	padding-top:20px;
	padding-bottom:60px;
	}
	
.text_content p{
	display:inline-block;
	vertical-align:middle;
	font-size:0.7em;
	font-size:100%;
	font-family:Arial, Helvetica, sans-serif;
	padding-top:20px;
	color:#007272;
	padding-bottom:60px;
	}
	
/*FOOTER*/
footer{
	background-color:#007272;
	width:100%;
	height:auto;
	margin:0 auto;
	display:inline-block;
	text-align:center;
	}
		
footer .legal{
	max-width:1200px;
	width:100%;
	height:auto;
	margin:0 auto;
	display:inline-block;
	vertical-align:top;
	}
		
footer .legal p{
	font-size:0.7em;
	color:#ffffff;	
	font-family:Arial, Helvetica, sans-serif;
	text-align:left;
	display:inline-block;
	vertical-align:top;
	width:60%;
	padding-top:2%;
	}
	
footer .legal img{
	width:50%;
	max-width:318px;
	display:inline;
	vertical-align:top;
	}
	
@media (max-width:1075px){
.icon{
	padding-left:10px;
	}
			
.text_content img{
	max-width:50px;
	}
.text_content p{
	font-size:0.9em;
	}	
	}

@media (max-width:982px){
.icon{
	padding-left:5px;
	}
			
.text_content img{
	max-width:40px;
	}
.text_content p{
	font-size:0.9em;
	}
			
#btnProcesar {
  	font-size:1.2em;	
	}
	}
	
@media (max-width:880px){
.icon{
	text-alig:center;
	width:100%;
	}
	
.content_icons{
	width:40%;
	margin:0 auto;
	}
	
.text_content img{
	max-width:70px;
	
	}
	
.col1,.col2, .col3, .col4{
	display:block;
	width:100%;
	margin:0 auto;
	text-align:left;
	
	
	}
	
.text_content p{
	font-size:1em;
	}
	}
	
@media (max-width:800px){
section.formulario{
	width:100%;	
	}
	
.skeleton{
	width:100%;	
	}
	
.Zzz_solicita{
	padding-top:2%;
	width:60%;
	}
	
.content_icons{
	width:60%;
	margin:0 auto;
	}	
	}
	
@media (max-width:550px){
.content_icons{
	width:80%;
	margin:0 auto;
	}	
	}
	
@media (max-width:400px){
.content_icons{
	width:100%;
	margin:0 auto;
	}
.text_content p{
	font-size:0.8em;
	}	
	}

@media (max-width:250px){
.content_icons{
	width:100%;
	margin:0 auto;
	}
.text_content p{
	font-size:0.8em;
	}
	
#btnProcesar {
  	font-size:1em;	
	}
	
.formulario .celda{
	font-size:0.7em;
	padding-left:2px;	
	}
.text_content img{
	max-width:30px;
	
	}
	
#nombre{	
	background-image:none;
	}

#telefono{
	background-image:none;	}
	
input[name="cp"]{
	background-image:none;
	}

#email{
	background-image:none;
	}
	}