@charset "UTF-8";

*{  margin:0;
	padding:0;
	box-sizing:border-box;
	}

img{ width:99%;
	 height:auto;
	}

header{
	width:100%;
	margin:0 auto;
	padding:0;
	}

.fafica{
	background:#007272;
	width:100%;
	height:1.8em;
	}
	
.header{
	width:100%;
	margin:0 auto;
	max-width:1200px;
	padding:0;
	max-height:155px;
	}
		
.header img{
	width:40%;
	max-width:277px;
	heigth:auto;
	}
		
.small-content{
	max-width:1200px;
	margin:auto;
	padding-bottom:4em;
	}
	
footer{
	background-color:#007272;
	height:50px;
	}
	
@media (max-width:900px){
	
.header img{
	width:20%;
	}
	}

@media (max-width:400px){
	
.header img{
	width:22%;
	}
	}