#mdCllaMe{
display:block;
width:90%;
height:200px;
border:1px solid red;
}
.error>.modal-buttons{text-align:center!important;}
.innerModal{padding:5px;width:98%!important;}
.innerModal p{width:98%!important;}
.boxRight{display:block!important;float:right!important;right:0px;}
.hide{display:none;}
.containerTopMenu{
	max-width:720px;
	width:100%;
	color:#FFF;
	font-size:1.3em;
	margin:0 auto;}
.containerTopMenu ul li{
	background-color:#c5c6c7;
	padding:.7em 0;
	border-bottom:2px solid #a5a5a5;
	list-style:none;
	}
.containerTopMenu li a{
	margin-left:1.5em;
	color:#FFF;
	text-decoration:none;
}
.appbutton {
display:inline-block;
font-family:arial,verdana;
text-decoration:none;
border:1px solid #999;
padding:6px;
padding-left:20px;
padding-right:20px;
color:#333;
}