@charset "UTF-8";

*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	}
	
img{
	width:99%;
	height:auto;
	}

@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
    url('../fonts/opensans-regular-webfont.woff') format('woff'),
	url('../fonts/OpenSans-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
	}
	
body{
	font-family: 'open_sansregular';
	background-color:#FFFFFF;
	}
	
header{
	width:100%;
	background-color:#5bac26;
	}
	
.cabecera{
	width:99%;
	max-width:1000px;
	margin:auto;
	padding:0.6em 0;
	}
	
.cabecera img{
	max-width:95px;
	}
	
.basic-content{
	width:100%;
	}
	
.small-content{
	width:99%;
	max-width:1000px;
	margin:auto;
	}
	
.skeleton{
	width:65%;
	display:inline-block;
	vertical-align:top;
	}
	
section.formulario{
	width:30%;
	display:inline-block;
	text-align:center;
	vertical-align: top;
	margin-top:-0.2em;
	font-size:0.9em;
	margin-left:2em;
	}
	
section.formulario p{
	margin:1em 0;
	font-size:1.4em;
	color:#003100;
	font-family: 'open_sansregular';
	line-height:17px;
	}
	
section.formulario p span{
	font-size:0.75em;
	}
	
.text-quest{
	font-family: 'open_sansregular';
	font-size:0.7em;
	color:#515151;
	}
	
.text-quest label{
	font-family: 'open_sansregular';
	font-size:1em;
	margin-right:0.4em;
	margin-left:0.7em;
	display:inline-block;
	vertical-align:middle;
	color:#515151;
	}
	
.text-quest2 label{
	font-family: 'open_sansregular';
	font-size:1em;
	margin-right:0.4em;
	margin-left:0.7em;
	display:inline-block;
	vertical-align:middle;
	color:#515151;
	}
	
	
section.formulario .text-quest p{
	margin-top:1.2em;
	margin-bottom:0.5em;
	}
	
.checks-quest{
	font-family: 'open_sansregular';
	font-size:1.4em;
	margin-right:0.4em;
	margin-left:0.7em;
	}
	
.text-quest2{
	font-family: 'open_sansregular';
	font-size:0.7em;
	color:#515151;
	}
	
section.formulario .text-quest2 p{
	margin-top:1.2em;
	margin-bottom:0.5em;
	text-align:left;
	margin-left:3.4em;
	}

section.formulario #ctcForm, section.formulario #enviarPorMailSolicitaInfo{
	background-color:#deeed4;
	width:100%;
	margin:.2em auto;
	text-align:center;
	padding:.4em 0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	}
	
.formulario .celda{
	padding-left:.3em;
	background-color:#FFF;
	font-size:1em;
	display:block;
	width:60%;
	min-height:38px;
	margin:auto;
	margin-top:0.9em;
	color:#857f78;
	text-align:left;
	border:0;
	-webkit-appearance: none;
    -webkit-border-radius: 0;
 	border-radius:0;
	}
	
input[placeholder], [placeholder], *[placeholder] {
   color:#a7a7a7!important;
   font-family: 'open_sansregular';
   }
  
  ::-webkit-input-placeholder {
    
    color:#a7a7a7;
	font-family: 'open_sansregular';
	}
	
*:-moz-placeholder {
   
    color:#a7a7a7;
	font-family: 'open_sansregular';
	}
	
*::-moz-placeholder {
  
    color:#a7a7a7;
	font-family: 'open_sansregular';
	}
	
*:-ms-input-placeholder {
 
    color:#a7a7a7;
	font-family: 'open_sansregular';
	}

.legal{
	font-size:.8em;
	font-family: 'open_sansregular';
	width:83%;
	text-align:center;
	color: #515151;
	margin:1em auto;
	}
	
.legal input{
	vertical-align: middle;
	}
	
.legal a{
	color:#c75b00;
	}
	
.espacio_btn{
	width:90%;
	text-align:center;
	margin:.5em auto;
	}	
	
.espacio_btn input{
	cursor:pointer;
	font-family: 'open_sansregular';
	width:80%;
	padding:0.8em;
	color: white;
	border: 0;
	font-size: 1.3em;
	margin:0.4em auto;
	background-color:#C75B00;
	font-weight:bold;
	-webkit-appearance: none;
    -webkit-border-radius: 0;
 	border-radius:0;
	}
	
.espacio_btn input:hover{
	background-color:#ff841c;
	}
	
#nombre{
	padding-left:0.6em;
	}
	
#telefono{
	padding-left:0.6em;
	}
	
#email{
	padding-left:0.6em;
	}
	
.text-content{
	width:99%;
	max-width:1000px;
	margin:auto;
	}
	
.web{
	display:block;
	}

.mob{
	display:none;
	}
	
.text-content img{
	margin-top:-0.5em;
	}
	
@media (max-width: 945px){

section.formulario p{
	margin:0.2em 0;
	}
	}
	
@media (max-width: 900px){
	
section.formulario{
	width:98.50%;
	margin-left:0em;
	margin-top:-0.6em;
	}
	
section.formulario p{
	margin:1em 0;
	}
		
.skeleton{
	width:99%;
	}

section.formulario .text-quest2 p{
	text-align:center;
	margin-left:0;
	}
	}
	
@media (max-width: 630px){
	
.web{
	display:none;
	}
	
.mob{
	display:block;
	max-width:330px;
	margin:auto;
	padding:1em 0;
	}
	}
