@charset "UTF-8";

*{
	padding:0;
	margin:0;
	}
	
img{
	width:100%;
	height:auto;
	}
	
body{
	background-color:#FFFFFF;
	}
	
header{
	width:100%;
	background-color:#5bac26;
	}
	
.cabecera{
	width:99%;
	max-width:1200px;
	margin:auto;
	}
	
.cabecera img{
	max-width:95px;
	}
	
.basic-content{
	width:100%;
	margin-bottom:3em;
	}
	
.small-content{
	width:99%;
	max-width:1200px;
	margin:auto;
	}
	
footer{
	width:100%;
	height:50px;
	background-color:#5bac26;
	}