html, body{
	margin:0;
	padding:0;
}
#contenedor{
	width:100%;
	max-width:1020px;
	height:auto;
	margin:auto;
	display:table;
}
img{
	width:100%;
}
#cont_colums{
	width:100%;
	max-width:1020px;
	height:auto;
	display:block;
	position:relative;
	top:0;
	left:0;
}
#colum_left{
	width:100%;
	max-width:300px;
	height:430px;
	max-height:430px;
	position:absolute;
	top:0;
	left:0;
	background:rgba(255,255,255,0.5);
}
.campos{
	background:url(../images/img_campos.png) no-repeat;
	border:none;
	color:#002049;
	max-width:219px;
	width:100%;
	max-height:32px;
	height:32px;
	margin:10px 0 0 15px;
	padding:0 10px 0 10px;
}
.cont_legal{
	max-width:300px;
	width:100%;
	max-height:98px;
	height:100%;
	background:rgba(0,32,73,0.8);
	margin:15px 0 0 0;
}
.cont_legal .icon_legal{
	width:19px;
	height:20px;
	display:block;
	margin:15px 0 0 15px;
	float:left;
}
.cont_legal  p{
	color:#FFF;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	float:left;
	margin:18px 0 5px 10px;
}
.cont_legal  p a{
	color:#FFF;
}
.cont_legal .btn_enviar{
	background:url(../images/btn_enviar.jpg) no-repeat 0 0;
	width:230px;
	height:39px;
	display:block;
	float:left;
	margin:15px auto auto 15px;
	cursor:pointer;
}
.cont_legal .btn_enviar:hover{
	background:url(../images/btn_enviar.jpg) no-repeat 0 -39px;
	margin:15px auto auto 15px;
}
.colums_bottom{
	width:338px;
	height:495px;
	float:left;
}
.colums_bottom h3{
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
	color:#036;
}
.colums_bottom p{
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
	color:#036;
	font-size:14px;
	line-height:20px;
	font-weight:normal;
	padding:0px 28px 0px 28px;
}
#modal {
    background-color: rgba(0, 0, 0, 0.7);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}
#modal_cont {
    background-color: #FFFFFF;
    height: 450px;
    margin: 30px auto auto;
    padding: 20px;
    width: 350px;
}
#modal_cont p {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
}
.button {
    background-color: #113742;
    border: medium none;
    color: #FFFFFF;
    font-family: Arial,Helvetica,sans-serSif;
    font-size: 14px;
    height: 35px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    width: 190px;
}
#footer{
	width:100%;
	display:block;
	height:80px;
	background:#122335;
}
#footer_cont{
	width:100%;
	max-width:1020px;
	height:auto;
	margin:auto;
}
@media only screen and (max-width: 640px) {
	#colum_left{
		/*max-width:200px;*/
		position:inherit;
		margin:auto;
	}
	
	.colums_bottom{
		margin:auto;
		float:none;
	}
}