.chatMainDiv{color:red;}
.chatMainDiv{color:#000;width:auto;width:40vw;}

/*@media (max-width: 442px){
.modal{
	width:99%;
	}
}*/


/*--- Lptop --- */
@media only screen and (min-width : 1224px) and (max-width: 1440px){
	.chatMainDiv{color:#000;width:auto;width:70vw;right:-20px!important;}
}

/*--- Tablet landscape --- */
@media only screen and (min-width : 1024px) and (max-width: 1224px){
	.chatMainDiv{color:#000;width:auto;width:60vw;}
}

/*--- Small tablet landscape ---*/
@media only screen and (min-width : 800px) and (max-width: 1024px){
	.chatMainDiv{color:#000;width:auto;width:75vw;right:-200px!important;}
}

/*--- Tablet portrait ---*/
@media only screen and (min-width : 690px) and (max-width: 800px){
	.chatMainDiv{color:#000;width:auto;width:90vw;right:-200px!important;}
	.dropdown-menu-right{}
}

/*--- Small tablet portrait ---*/
@media only screen and (min-width : 595px) and (max-width: 690px){
	.chatMainDiv{color:#000;width:auto;width:90vw;}
}

/*--- Mobile landscape ---*/
@media only screen and (min-width : 480px) and (max-width: 595px){
	.chatMainDiv{color:#000;width:auto;width:95vw;}
}

/*--- Mobile portrait ---*/
@media only screen and (min-width : 320px) and (max-width: 480px){
	.chatMainDiv{color:#000;width:auto;width:95vw;}
}
