@charset "UTF-8";

*{
	margin: 0;
	padding:0;
	box-sizing: border-box;
}

@font-face {
	font-family: 'Conv_Roboto-Regular';
	src: url('fonts/Roboto-Regular.eot');
	src: local('☺'), url('../fonts/Roboto-Regular.woff') format('woff'), url('../fonts/Roboto-Regular.ttf') format('truetype'), url('../fonts/Roboto-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

img {
	width:99%;
	height:auto;
}

@font-face {
	font-family: 'Conv_Roboto-Bold';
	src: url('fonts/Roboto-Bold.eot');
	src: local('☺'), url('../fonts/Roboto-Bold.woff') format('woff'), url('../fonts/Roboto-Bold.ttf') format('truetype'), url('../fonts/Roboto-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_Roboto-Light';
	src: url('fonts/Roboto-Light.eot');
	src: local('☺'), url('../fonts/Roboto-Light.woff') format('woff'), url('../fonts/Roboto-Light.ttf') format('truetype'), url('../fonts/Roboto-Light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

body{
	font-family: 'Conv_Roboto-Regular';
	background-image: url(../img/001/background.jpg);
	background-color: #a29181;
	background-size:cover;	
	background-position: top center;
	background-repeat: no-repeat;
}

.hide{display:none;}
/*CABECERA*/

header{
	width: 100%;
	background-color: #ffffff;
	margin: 0 auto;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}
.logo {
	width: 99%;
	max-width: 228px;
	display: block;
	margin: auto;
}

/*BASIC-CONTENT*/

.basic_content {
	width: 100%;
	padding-top: 0.7em;
}
.small_content {
	width: 99%;
	max-width: 1200px;
	margin: 0 auto;
	text-align: right;
	padding-left:20%;
}

/*skeleton*/

.headline {
	width: 40%;
	margin: 0.7em auto;
}

.headline p{
	font-family: 'Conv_Roboto-Light';
	color: #000000;
	font-size: 50px;
	text-align: center;
	padding: 0.5em;
}

.headline span{
	font-family: 'Conv_Roboto-Regular';
	color: #000000;
	font-size: 50px;
}

.text_principal {
	padding-bottom: 0.5em;
	width: 90%;
	margin: auto;
}

.text_principal p{
	font-family: 'Conv_Roboto-Light';
	color: #000000;
	font-size: 18px;
	text-align: center;
	padding: 0.5em;
}

.text_principal span{
	font-family: 'Conv_Roboto-Regular';
	color: #000000;
	font-size: 18px;
	text-align: center;
}

.discount_summer {
	width: 70%;
	padding: 0.5em;
	margin: 0.5em auto;
	background-color: rgba(240, 104, 12, 0.5);
-webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
-moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
-webkit-box-sizing: content-box;
-moz-box-sizing: content-box;
box-sizing: content-box;
	
}

.discount_summer p{
	font-family: 'Conv_Roboto-Light';
	color: #ffffff;
	font-size: 20px;
	text-align: center;
	padding: 0.5em;
}

.discount_summer span{
	font-family: 'Conv_Roboto-Bold';
	color: #ffffff;
	font-size: 20px;
	text-align: center;
}

/*formulario*/

.telephone_request_call_description{
	font-family: 'Conv_Roboto-Light';
	margin-bottom: 0.3em;
	color: #000000;
	text-align: center;
	font-size: 23px;
}

.telephone_request_call_digits {
	font-family: 'Conv_Roboto-Regular';
	margin-bottom: 0.7em;
	color: #000000;
	text-align: center;
	font-size: 37px;
}

/*FORMULARIO BOTON LLAMADA*/

.espacio_btn_call{
	width:55%;
	text-align:center;
	margin: auto;
	}	

.espacio_btn_call input{
	cursor:pointer;
	width:55%;
	padding: 0.5em;
	font-family: 'Conv_Roboto-Regular';
	text-align: center;
	color: #FFFFFF;
	border:0;
	font-size:25px;
	background-color:#508aa5;
	-webkit-appearance:none;
	-webkit-border-radius:5px;
	border-radius:5px;
	-webkit-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.7);
	-moz-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.7);
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.7);
	}

.espacio_btn_call input:hover{
	background-color:#508aa5;
	}



/*FORMULARIO RELLENO CAMPO TELEFONO*/
/*Formulario*/

.formulario_write_send_telephone {
	width: 100%;
}

.formulario_write_send_telephone p{
font-family: 'Conv_Roboto-Bold';
font-size: 19px;
text-align: center;
padding: 0.5em;
	margin-top: 0.5em;
}

.fila {
	display: inline-block;
	margin: auto;
	width: 40%;
	vertical-align: bottom;

	
}
.fila .celda{
	background-color:#FFFFFF;
	font-size:18px;
	font-family: 'Conv_Roboto-Light';
	width:100%;
	color:#383838;
	text-align:left;
	padding-left:10px;
	padding-top:12px;
	padding-bottom:12px;
	-webkit-appearance: none;
	-webkit-border-radius: 5px;
	border-radius:5px;
	}

.fila .celda:focus{
	outline:0px;
	}

.telephone_btn{
	display: inline-block;
	vertical-align: bottom;
	width: 55%;
	margin: auto;
}
.legal{
	font-size:12px;
	width:90%;
	padding-left: 1em;
	text-align:left;
	color: #000000;
	margin:10px auto;
	font-family: 'Conv_Roboto-Light';
	}

.legal input{
	vertical-align: middle;
	}

.legal a{
	color:#000000;
	}

.espacio_btn{
	width:90%;
	text-align:center;
	margin: auto;
	}	

.espacio_btn input{
	cursor:pointer;
	width:90%;
	padding: 0.3em;
	font-family: 'Conv_Roboto-Regular';
	text-align: center;
	color: #FFFFFF;
	border:0;
	font-size:25px;
	background-color:#508aa5;
	-webkit-appearance:none;
	-webkit-border-radius:5px;
	border-radius:5px;
	-webkit-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.7);
	-moz-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.7);
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.7);
	}

.espacio_btn input:hover{
	background-color:#508aa5;
	}


.telephone_no_request_call_description{
	font-family: 'Conv_Roboto-Light';
	margin-bottom: 0.3em;
	margin-top: 1.5em;
	color: #000000;
	text-align: center;
	font-size: 18px;
}

.telephone_no_request_call_digits {
	font-family: 'Conv_Roboto-Regular';
	margin-bottom: 0.7em;
	color: #000000;
	text-align: center;
	font-size: 25px;
}



/*text content*/
.text_content {
	width: 99%;
	max-width: 1200px;
	margin: 0 auto;
	text-align: right;
	padding-left: 20%;
}

.text_description {
	font-family: 'Conv_Roboto-Light';
	margin-bottom: 0.5em;
	color: #000000;
	text-align: center;
	font-size: 18px;
	padding: 0.5em;
}


/***oferta***/

.offer img{
	width: 99%;
	max-width: 228px;
	display: block;
	margin: auto;
}

/***Informacion extra***/

.extra_info {
	text-align: center;
	display:block;
	padding-bottom:2%;
	margin-top: 1em;
	margin-bottom: 2em;
}

.extra_info img{
	width: 99%;
	max-width: 45px;
	display: block;
	margin: auto;
}

.advantages_info {
	width: 20%;
	display: inline-block;
	vertical-align: top;
	margin-top: 1.5em;
}



.advantages_info p{
	font-family: 'Conv_Roboto-Regular';
	font-size: 18px;
	text-align: center;
	color: #000000;
}

/*footer*/

.footer {
	width: 100%;
	background-color: #1f130e;
	margin: 0 auto;
	padding-top: 1.5em;
	padding-bottom: 1.5em;
}

.footer p{
	text-align: center;
	font-family: 'Conv_Roboto-Regular';
	font-size: 16px;
	color: #ffffff;
	padding: 0.5em;
}

.footer a{
	text-decoration: none; 
	color: #ffffff
}


.modalBottomCookies{
	background-color: rgba(255,255,255,0.6);
	width:100%;
	z-index:1000;
	bottom:0px;
	position:fixed;
}
.modalBottomCookies .innerCookiesModal{
	border-top:1px solid #fff;padding:28px 0;}
.modalBottomCookies .contentModalBottomCookies{max-width:930px;margin:0 auto;padding:7px 17px 7px 17px;vertical-align:middle;text-align:justify;background-color:#f1f1f1;-moz-border-radius:4px; -webkit-border-radius:4px;border-radius:4px; -webkit-box-shadow:inset 0 0 2px 0 rgba(0,0,0,0.2);box-shadow:inset 0 0 2px 0 rgba(0,0,0,0.2);border:2px solid #999;outline:1px solid #fff;position:relative;}
.modalBottomCookies .contentModalBottomCookies p{font:normal 11px/16px Arial,Helvetica,sans-serif;color:#333;text-shadow:0 1px 0 #fff;margin:0;}
.modalBottomCookies .contentModalBottomCookies p strong{background:url(../img/icoInfoCookiesBottom.png) 0 3px no-repeat;display:block;padding-left:19px;margin-bottom:3px;line-height:19px;font-weight:bold;}
.modalBottomCookies .contentModalBottomCookies p a{font-weight:bold;color:#0097c8;}
.modalBottomCookies .contentModalBottomCookies a.closeModalBottomCookies{float:right;text-decoration:none;font-size:14px;color:#333;text-align:right;right:0px;}
.modalBottomCookies .contentModalBottomCookies a.closeModalBottomCookies:hover{color:#000;}
.modalBottomCookies .contentModalBottomCookies p.cerrar{text-align:right;}

label{display:block;text-align:left;color:#0178c8;font-weight:bold;padding-top:0px;margin-bottom:5px;}
/*estilos mensajes error*/
div.error1{display : none; border:2px solid #D81E05; }
div.error1{margin:0 0 10px 0;padding:10px;font:normal 11px Arial, Helvetica, sans-serif;}
div.error{display : none; border:2px solid #D81E05; }
.error{color:#D81E05; background:#FCF1F0;}
div.error ul{list-style-type:none !important;padding:0;margin:0;font:normal 11px Arial, Helvetica, sans-serif;}
div.error ul li{margin:0 0 10 0;list-style-type:none;}
div.error ul li label{font-weight:normal}
div.error, p.ok{ margin:0 0 10px 0;padding:10px;font:normal 11px Arial, Helvetica, sans-serif;}
.ok{color:#333333; background-color:#EFFFDA;padding:10px;}
input.error, textarea.error{border:2px solid #D81E05;background-color:#FCF1F0;}
input.ok{background-color:#EFFFDA}




/*mediaqueries*/
@media (max-width:920px){
	.headline {
	width: 50%;
}
}

@media (max-width:889px){
	body{	
	background-image: url(../img/001/background800px.jpg);
	background-color: #a29181;
	background-size:cover;	
	background-position: middle center;
	background-repeat: no-repeat;
	display: block;
}
}

@media (max-width:814px){
	body{	
	background-size:contain;	
}
}

@media (max-width:778px){
	.small_content {
	padding-left:15%;
}

.telephone_request_call_description{
	font-size: 19px;
}

.telephone_request_call_digits {
	font-size: 33px;
}


	.text_content {
	padding-left: 15%;
}

	.advantages_info {
	width: 23%;
}
	}


@media (max-width:771px){
	.headline {
	width: 60%;
}
}

@media (max-width:656px){

.espacio_btn_call{
	width:99%;
	}	

.espacio_btn_call input{
	cursor:pointer;
	width:70%;
	font-size:23px;
	}
}


@media (max-width:586px){
	.headline {
	width: 70%;
}
}

@media (max-width:572px){
	.telephone_request_call_description{
	font-size: 18px;
}

.telephone_request_call_digits {
	font-size: 30px;
}

	.text_content {
	padding-left: 15%;
}

	.advantages_info {
	width: 40%;
}
	}


@media (max-width:545px){
.formulario_write_send_telephone {
	width: 100%;
}

.formulario_write_send_telephone p{
	margin-top: 1em; 
}


.fila {
	display: block;
	width: 70%;

	
}

.telephone_btn{
	display: block;
	width: 80%;

}

}


@media (max-width:500px){
	body{	
	background-image: url(../img/001/background400px.jpg);
	background-color: #a29181;
	background-size:contain;	
	background-position: top center;
	background-repeat: no-repeat;
	display: block;
}
}

@media (max-width:498px){
	.headline {
	width: 80%;
}
}

@media (max-width:472px){
	.small_content {
	padding-left:0%;
}

	.text_content {
	padding-left: 0%;
}

	.advantages_info {
	width: 40%;
}
	}

@media (max-width:422px){
	.headline {
	width: 100%;
	margin: 0.5em auto;
}
.headline p{
	font-family: 'Conv_Roboto-Bold';
	font-size: 32px;
	text-align: center;
	padding: 0.1em;
}

.headline span{
	font-family: 'Conv_Roboto-Bold';
	font-size: 32px;
	text-align: center;
}

.discount_summer p{
	font-size: 18px;
}

.discount_summer span{
	font-size: 18px;
}

}

@media (max-width:355px){
	
	.advantages_info {
	width: 45%;
}
	}

@media (max-width:335px){

.headline p{
	font-size: 28px;
}

.headline span{
	font-size: 28px;
}

}

@media (max-width:295px){
	
	.advantages_info {
	width: 50%;
}
	}



@media (max-width:230px){

.headline p{
	font-size: 25px;
}

.headline span{
	font-size: 25px;
}

}
