@font-face {
	font-family: 'Conv_Roboto-Regular';
	src: url('fonts/Roboto-Regular.eot');
	src: local('☺'), url('../fonts/Roboto-Regular.woff') format('woff'), url('../fonts/Roboto-Regular.ttf') format('truetype'), url('../fonts/Roboto-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

img {
	width:99%;
	height:auto;
	max-width: 228px;
}



body{
	background-color:#FFF;}
	
	
section.contenedor{
	max-width:700px;
	
	
	width:100%;
	margin:1em auto 0 auto;
	}


section .text {
		width:100%;
		max-height: 459px;
	}
	section .thanks {
		font-family: 'Conv_Roboto-Regular';
		font-size: 67px;
		text-align: center;
		color: #1f191a;
		
	}
	
	section .principal {
		font-family: 'Conv_Roboto-Regular';
		font-size: 41px;
		text-align: center;
		color: #1f191a;
		
	}
	
	
section.foto img{
	width:99%;
	margin: auto;
	display:block;
	}

	
@media (max-width: 480px){
section.contenedor{
	max-width:480px;
	width:99%;
	margin:2em auto 0 auto;
	}
	
section .thanks {
		font-family: 'Conv_Roboto-Regular';
		font-size: 41px;
		text-align: center;
		color: #1f191a;
		
	}
	
	section .principal {
		font-family: 'Conv_Roboto-Regular';
		font-size: 28px;
		text-align: center;
		color: #1f191a;
		
	}
}