
@font-face {font-family: 'GillSans';
  font-style: normal;
  font-weight: normal;
  src: local( 'GillSans'), url('../fonts/GillSans.eot'); /* IE9*/
  src: local( 'GillSans'), url('../fonts/GillSans.eot?#iefix') format("embedded-opentype"), /* IE6-IE8 */
  url('../fonts/GillSans.woff2') format("woff2"), /* chrome、firefox */
  url('../fonts/GillSans.woff') format("woff"), /* chrome、firefox */
  url('../fonts/GillSans.ttf') format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('../fonts/GillSans.svg#GillSans') format("svg"); /* iOS 4.1- */
}