@charset "UTF-8";

*{
	box-sizing:border-box;
	padding:0;
	margin:0;
	}
	
img{
	width:99%;
	height:auto;
	}

@font-face{
	font-family: 'Conv_Montserrat-Bold';
	src: url('../fonts/Montserrat-Bold.eot');
	src: local('☺'), url('../fonts/Montserrat-Bold.woff') format('woff'), url('../fonts/Montserrat-Bold.ttf') format('truetype'), url('../fonts/Montserrat-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
	}

@font-face{
	font-family: 'Conv_montserrat-regular-webfont';
	src: url('../fonts/montserrat-regular-webfont.eot');
	src: local('☺'), url('../fonts/montserrat-regular-webfont.woff') format('woff'), url('../fonts/montserrat-regular-webfont.ttf') format('truetype'), url('../fonts/montserrat-regular-webfont.svg') format('svg');
	font-weight: normal;
	font-style: normal;
	}
	
body{
	font-family: 'Conv_montserrat-regular-webfont';
	background-color:#FFFFFF;
	}
	
header{
	width:100%;
	}
	
.cabecera{
	width:95%;
	max-width:1000px;
	margin:auto;
	}
	
.cabecera img{
	width:10%;
	margin:0.3em 0;
	display:inline-block;
	vertical-align:middle;
	}
	
.cabecera h1{
	display:inline-block;
	vertical-align:middle;
	margin-left:0.3em;
	color:#002f47;
	font-size:1.6em;
	}
	
.small-content{
	width:95%;
	max-width:1100px;
	margin:auto;
	}
	
/*Bloque fondo + preguntas*/
	
.question-content{
	width:65%;
	display:inline-block;
	vertical-align:top;
	}
	
.question-content h1{
	font-family: 'Conv_Montserrat-Bold';
	text-align:center;
	color:#71a63f;
	font-size:1.6em;
	}
	
.question-content h2{
	text-align:center;
	color:#002f47;
	font-size:1.14em;
	}
	
/*Preguntas*/
	
/*Pregunta Nº 1*/

.question-box1{
	border:2px solid #71a63f;
	background-color:#f7f6f6;
	margin-top:1em;
	padding:1em;
	text-align:center;
	}

.quest1{
	color:#002f47;
	margin-top:0.6em;
	margin-bottom:1em;
	font-size:1.5em;
	}
	
.answer1{
	margin-bottom:1.2em;
	}
	
.option1{
	width:35%;
	display:inline-block;
	vertical-align:top;
	}

.checks-quest1{
	font-size:1.5em;
	margin-right:02em;
	margin-left:0.4em;
	vertical-align:middle;
	color:#002F47;
	}
	
/*Pregunta Nº 2*/

.question-box2{
	border:2px solid #71a63f;
	background-color:#f7f6f6;
	margin-top:1em;
	padding:1em;
	text-align:center;
	}

.quest2{
	color:#002f47;
	margin-top:0.6em;
	margin-bottom:1em;
	font-size:1.5em;
	}
	
.answer2{
	margin-bottom:1.2em;
	}
	
.option2{
	width:35%;
	display:inline-block;
	vertical-align:top;
	}

.checks-quest2{
	font-size:1.5em;
	margin-right:02em;
	margin-left:0.4em;
	vertical-align:middle;
	color:#002F47;
	}
	
/*Pregunta Nº 3*/

.question-box3{
	border:2px solid #71a63f;
	background-color:#f7f6f6;
	margin-top:1em;
	padding:1em;
	text-align:center;
	}

.quest3{
	color:#002f47;
	margin-top:0.6em;
	margin-bottom:1em;
	font-size:1.5em;
	}
	
.answer3{
	margin-bottom:1.2em;
	}
	
.option3{
	width:35%;
	display:inline-block;
	vertical-align:top;
	}

.checks-quest3{
	font-size:1.5em;
	margin-right:02em;
	margin-left:0.4em;
	vertical-align:middle;
	color:#002F47;
	}
	
/*Loader*/
	
.loader-box{
	border:2px solid #71a63f;
	background-color:#f7f6f6;
	margin-top:2.3em;
	padding:1em;
	text-align:center;
	}
	
.loader-box h1{
	font-size:1.5em;
	margin-bottom:1em;
	}
	
.loader{
	max-width:66px;
	margin-top:1.5em;
	display:inline-block;
	vertical-align:middle;
	}
	
.hero{
	max-width:200px;
	display:inline-block;
	vertical-align:middle;
	}
	
/*Bloque logos*/

.logo-box{
	width:25%;
	display:inline-block;
	vertical-align:top;
	background-color:#f7f6f6;
	padding:1em;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin-left:1.5em;
	text-align:center;
	}
	
.logo-box h1{
	color:#002f47;
	font-size:1em;
	font-family: 'Conv_Montserrat-Bold';
	margin-left:0.4em;
	margin-bottom:1.5em;
	text-align:left;
	}
	
.logo-ok{
	max-width:190px;
	}
	
footer{
	width:100%;
	height:40px;
	background-color:#002f47;
	margin-top:6em;
	}
	
@media (max-width: 850px){
	
.cabecera img{
	width:15%;
	}
	
.question-content{
	width:100%;
	}
	
.logo-box{
	width:100%;
	margin-left:0;
	margin-top:2em;
	}
	
.logo-box h1{
	text-align:center;
	}
	
.logo-ok{
	margin-right:1em;
	margin-bottom:1em;
	}
	}
	
@media (max-width: 570px){
	
.cabecera h1{
	font-size:1em;
	}
	
.question-content h1{
	font-size:1em;
	}
	
.question-content h2{
	font-size:1.2em;
	}
			
.question-box1{
	margin-top:0.6em;
	padding:1em;
	padding-top:0.6px;
	text-align:center;
	}

.quest1{
	margin-top:0.3em;
	margin-bottom:0.6em;
	font-size:1.2em;
	}
	
.answer1{
	margin-bottom:0.6em;
	font-size:0.85em;
	}	
			
.option1{
	width:80%;
	text-align:left;
	margin-bottom:1em;
	}
	
.quest2{
	margin-top:0.3em;
	margin-bottom:0.6em;
	font-size:1.2em;
	}
	
.answer2{
	margin-bottom:0.6em;
	font-size:0.85em;
	}
	
.option2{
	width:80%;
	text-align:left;
	margin-bottom:1em;
	}
	
.quest3{
	margin-top:0.3em;
	margin-bottom:0.6em;
	font-size:1.2em;
	}
	
.answer3{
	margin-bottom:0.6em;
	font-size:0.85em;
	}
	
.option3{
	width:80%;
	text-align:left;
	margin-bottom:1em;
	}
	}
	
@media (max-width: 450px){
	
.cabecera h1{
	font-size:1em;
	}
	}
	
@media (max-width: 400px){
	
.answer1 label{
	width:99%;
	}
	
.answer2 label{
	width:99%;
	}
	
.answer3 label{
	width:99%;
	}
	
.cabecera img{
	width:20%;
	}
	}