@charset "UTF-8";

*{
	padding:0;
	margin:0;
	height:auto;
	/*width: 100%;*/
	}
	
img{
	width:99%;
	height:auto;
	}
			
.basic_content{
	background:#dad9d7;
	}
		
.small_content{
	background-image:url(../img/123/fondo.jpg);
	width:1100px;
	margin:0 auto;
	height:733px;
	background-repeat:no-repeat;
	}
				
.text_content{
	background:#ffffff;
	}
	
.blue-box{
	background:#0e6aaf;
	min-height:250px;
	}	
	
.blue-box-center{
	min-height:250px;
	text-align:center;
	margin: 0 auto;
	max-width:810px;
	}
	
.blue-box-center h1{
	color:#FFF;
	font-size:20px;
	font-family:Arial;
	padding-top:30px;
	padding-bottom:30px;
	}
	
.col-center{
	display:none;
	}

.blue-box-center .col1{
	text-align:left;
	max-width:500px;
    float: left;
    width: 50%;
	}
	
.blue-box-center .col2{
	text-align:left;
	max-width:500px;
	float: right;
    width: 50%;
	}
				
.num{
	width:24px;
	height:37px;
	display:block;
	vertical-align:top;
	float:left;
	padding-right:16px;
	}
	
.num2{
	display:none;
	}

.col2 .num{
	padding-left:10px;
	}	
		
.blue-box-center .col1 p, .blue-box-center .col2 p{
	display:inline;
	vertical-align: middle;
	color:#FFF;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	text-align:justify;
	}

.blue-box-center span{
	font-weight:bold;
	}

.espacio{
	height:30px;
	}
	
.white-box{
	min-height:330px;
	text-align:center;
	margin: 0 auto;
	max-width:800px;
	width:100%;	
	}
	
.white-box .icon{
	width:90px;
	height:90px;
	display:block;
	vertical-align: top;
	float:left;
	padding-right:4px;
	padding-top:40px;
	}

.white-box .col1{
	display:block;
	text-align:left;
	max-width:350px;
    float: left;
    width: 50%;
	margin:4px;
	}
	
.white-box .col2{
	display:block;
	text-align:left;
	max-width:350px;
	float: left;
    width: 50%;
	margin:4px;
	
	}	
.white-box	.col1 p,.white-box .col2 p{
	display:block;
	vertical-align: middle;
	padding-bottom:40px;
	padding-top:40px;
	color:#000;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	}
	
.white-box span{
	font-weight:bold;
	}
			
.photo{
	display:none;
	}
	
/*FORMULARIO*/
.formulario{
	width:100%;
	display:inline-block;
	text-align:center;
	vertical-align: top;
	max-width:330px;
	margin:1em 0;
	padding-top:150px;
	padding-left:58%;
	}

section.formulario p{
	padding-top:0.6em;
	padding-bottom:0.6em;
	text-align:center;
	font-size:1em;
	color:#0e6aaf;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	}

section.formulario #ctcForm, section.formulario #enviarPorMailSolicitaInfo{
	background-color:#FFFFFF;
	width:99%;
	margin:1em auto;
	text-align:center;
	padding: .1em 0 .2em 0;
	}
	
section.formulario #ctcForm input{
	width:89%;
	vertical-align:middle;
	min-height:40px;
	background-color:#FFFFFF;
	}
	
.formulario .celda{
	width:75%;
	font-size:0.8em;
	margin: 0.4em auto;
	padding-top:0.3em;
	padding-bottom:0.3em;
	padding-left:0.4em;
	}

.legal{
	font-size:0.56em;
	color:#3d3d3d;
	font-family:Arial, Helvetica, sans-serif;
	width:78%;
	margin:0 auto;
	text-align:left;
	vertical-align: middle;
	}
	
.legal input{
	vertical-align:top;
	}
	
.legal a{
	color:#585254;
	}
	
.espacio_btn{
	width:90%;
	text-align:center;
	margin:.4em auto;
	}	
	
.espacio_btn input{
	cursor:pointer;
	width:87%;
	font-size:0.8em;
	margin: 0.6em auto;
	padding-top:0.4em;
	padding-bottom:0.4em;
	font-size:1.5em;
	color:#333638;
	background-color:#ffd401;
	border:0;
	cursor:pointer;
	}
	

/*FIN_FORM*/			
footer{
	background:#1e1d1b;
	min-height:93px;
	text-align:center;
	margin: 0 auto;
	}
		
footer p{
	color:#FFF;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	padding-top:40px;
	padding-bottom:40px;
	}
			
@media (max-width:966px){

.small_content{
	background-image:url(../img/123/fondo966.jpg);
	width:100%;
	margin:0 auto;
	height:auto;
	background-repeat:no-repeat;
	}
	}

@media (max-width:854px){

.small_content{
	background-image:url(../img/123/fondo854.jpg);
	width:100%;
	margin:0 auto;
	height:auto;
	background-repeat:no-repeat;
	}
	
.blue-box-center h1{
	font-size:24px;
	}
	
.blue-box-center .col1 p, .blue-box-center .col2 p{
	font-size:14px;	
	}
	
.blue-box-center .col1, .col2{
	margin:10px;	
	}
	
.white-box .col1, .col2{
	margin:10px;	
	}
	}
	
@media (max-width:850px){
	
.basic_content{
	background:#fff;
	}
		
.small_content{
	background-color:#fff;
	background-image:none;
	width:100%;
	margin:0 auto;
	height:auto;
	background-repeat:no-repeat;
	}
		
.formulario{
	width:100%;
	display:block;
	max-width:755px;
	padding-left:0px;
	padding-top:0px;
	}
	
section.formulario p{
	font-size:1.2em;
	}
	
.blue-box{
	height:auto;
	width:99%;
	}	
	
.blue-box-center{
	min-height:350px;
	width: 90%;
	text-align:center;
	}
	
.photo{
	width: 100%;
	display:inline;
	}
		
.col-center{
	display:block;
	}
				
.blue-box-center h1{
	color:#FFF;
	font-size:20px;
	font-family:Arial;
	padding-top:5%;
	padding-bottom:2%;
	}
	
.blue-box-center .col1, .col2{
	display:none;
	}
			
.num{
	dispaly:none;
	}
		
.num2{
	width:14px;
	height:17px;
	display:inline-block;
	vertical-align:top;
	padding-top:15px;
	padding-bottom:5px;
	}
	
.blue-box-center .col-center p{
	display:inline-block;
	vertical-align: middle;
	color:#FFF;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	text-align:center;
	}
	
.legal{
	font-size:0.8em;
	text-align:center
	width:80%;
	}	
	
.white-box{
	height:600px;
	text-align:center;
	margin: 0 auto;
	display:block;
	}
			
.white-box .icon{
	width:90px;
	height:90px;
	display:block;
	padding-top:40px;
	}
	
.white-box	.col1 p,.white-box .col2 p{
	display:block;
	padding-bottom:20px;
	padding-top:40px;
	color:#000;
	font-size:12px;
	}
	
.white-box .col1, .white-box .col2{
	display:block;
	}
	
.white-box .col1{
	margin:0 auto;
	text-align:left;
	float:left;
	max-width:762px;
    width: 100%;
	}
	
.white-box .col2{
	margin:0 auto;
	text-align:left;
	float:left;
	max-width:762px;
    width: 100%;
	}
	}

@media (max-width:258px){
.white-box	.col1 p,.white-box .col2 p{
	font-size:10px;
	}
		}