@charset "UTF-8";
*{
	margin:0;
	padding:0;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	}

img{
	width:99%;
	height:auto;
	}

body{
	font-family: Arial;
	background-color:#FFFFFF;
	}

header{
	width:100%;
	}

.cabecera{
	width:99%;
	max-width:1200px;
	margin:auto;
	}

.cabecera img{
	width:13%;
	margin:0.5em 0 0.3em 1em;
	}

.basic-content{
	width:100%;
	background-color:#eeeae1;
	}

.small-content{
	width:99%;
	max-width:1200px;
	margin:auto;
	background-image:url(../img/170/background.jpg);
	background-repeat:no-repeat;
	background-size:contain;
	}

.skeleton{
	width:48%;
	display:inline-block;
	vertical-align:middle;
	}

.skeleton img{
	padding-top:33em;
	padding-bottom:5em;
	}

.web{
	display:block;
	}

.mvl{
	display:none;
	}

/*FORMULARIO*/

section.formulario{
	width:30%;
	display:inline-block;
	text-align:center;
	vertical-align: middle;
	margin-left:15em;
	}

.text-for{
	font-family: Arial;
	font-weight:bold;
	font-size:1.3em;
	margin-top:6em;
	margin-bottom:0.5em;
	}

section.formulario #enviarPorMailSolicitaInfo{
	background-color:#FFFFFF;
	width:100%;
	text-align:center;
	border:2px solid #0e6aaf;
	}
	
section.formulario #ctcForm input{
	display:inline-block;
	vertical-align:middle;
	min-height:40px;
	background-color:#FFF;
	}
	
section.formulario #ctcForm input:last-child{
	font-size:1.1em;
	cursor:pointer; 
	width:30%;
	color: white;
	border: 0;
	}
	
.formulario .celda{
	padding-left:1em;
	font-size:0.9em;
	display:block;
	width:85%;
	min-height:40px;
	margin:auto;
	margin-top:0.8em;
	color:#000000;
	text-align:left;
	border:1px solid #8a8989;
	}

.formulario .celda:focus{
	outline:0px;
	}

input[placeholder], [placeholder], *[placeholder]{
   color:#000000 !important;
   }
  
  ::-webkit-input-placeholder{
   
    color:#000000;
	}
	
*:-moz-placeholder{
   
    color:#000000;
	}
	
*::-moz-placeholder{
    
    color:#000000;
	}
	
*:-ms-input-placeholder{
    
    color:#000000;
	}

.formulario .legal{
	font-size:.7em;
	font-family:Arial, Helvetica, sans-serif;
	width:100%;
	text-align:center;
	color:#000000;
	margin:0.3em auto;
	}
	
.formulario .legal input{
	vertical-align:top;
	}
	
.formulario .legal a{
	color:#000000;
	}
	
.enlace_condiciones a{
	color:#000000;
	}
		
button{
	width:85%;
 	background:#ffd401;
  	color:#000000;
  	font-weight:bold;
  	font-size:1.6em;
  	padding:10px 20px 10px 20px;
  	text-decoration: none;
	border:0;
	margin-top:0.5em;
	margin-bottom:5em;
	border:1px solid #8a8989;
	cursor:pointer;
	-webkit-appearance:none;
    -webkit-border-radius: 0;
	border-radius:0;
	}

/*TEXT-CONTENT*/

.text-content{
	width:99%;
	max-width:1200px;
	margin:2em auto 0 auto; 
	}

.text-content h1{
	font-size:1.15em;
	font-weight:100;
	margin-bottom:2em;
	}

.blue{
	color:#0e6aaf;
	}

.box{
	width:31%;
	display:inline-block;
	vertical-align:top;
	}

.box img{
	max-width:90px;
	display:inline-block;
	vertical-align:middle;
	}

.box-text{
	width:70%;
	display:inline-block;
	vertical-align:middle;
	margin-left:0.7em;
	}

.box h2{
	font-size:0.9em;
	}

.box p{
	font-size:0.9em;
	}

.box2{
	width:31%;
	display:inline-block;
	vertical-align:top;
	margin-left:3em;
	margin-right:1.2em;
	}

.box2 img{
	max-width:90px;
	display:inline-block;
	vertical-align:middle;
	}

.box-text2{
	width:70%;
	display:inline-block;
	vertical-align:middle;
	margin-left:0.7em;
	}

.box2 h2{
	font-size:0.9em;
	}

.box2 p{
	font-size:0.9em;
	}

.bold-text{
	font-weight:bold;
	}

.legal{
	margin:3em 0 2em 0;
	}

/*RESPONSIVE*/

@media (max-width:1160px){

.box{
	text-align:center;
	}

.box img{
	margin-bottom:0.6em;
	}

.box2{
	text-align:center;
	margin-left:1em;
	}

.box2 img{
	margin-bottom:0.6em;
	}
	}

@media (max-width:1140px){

section.formulario{
	margin-left:12em;
	}

.text-for{
	font-size:1.2em;
	}

.formulario .legal{
	width:85%;
	text-align:left;
	}	
	}

@media (max-width:1090px){

.skeleton img{
	padding-top:29em;
	}
	}

@media (max-width:1075px){

section.formulario{
	width:34%;
	margin-left:10em;
	}

.text-for{
	margin-top:4em;
	}

button{
	margin-bottom:4em;
	}
	}

@media (max-width:970px){

.skeleton img{
	padding-bottom:0;
	}
	}

@media (max-width:950px){

.web{
	display:none;
	}

.mvl{
	display:block;
	}

.basic-content{
	background-color:#FFFFFF;
	}

.small-content{
	background-image:none;
	}

.skeleton{
	width:100%;
	}

.skeleton img{
	padding-top:0;
	}

section.formulario{
	width:99%;
	margin-left:0;
	}

.text-content h1{
	font-size:1em;
	text-align:center;
	}

.box{
	width:90%;
	}

.box2{
	width:90%;
	margin-left:0;
	margin-right:0;
	}
	}

@media (max-width:415px){

.box2{
	margin-top:2em;
	margin-bottom:2em;
	}

.legal{
	font-size:0.9em;
	text-align:center;
	}
	}

@media (max-width:400px){

.text-for{
	font-size:1.1em;
	}

.box-tex2{
	width:50%;
	margin-left:0;
	}

button{
	font-size:1.4em;
	}
}
