#slider{
width:820px;
margin:0 auto;
position:relative;
}

.scroll{
height: 314px;
width: 820px;
overflow: auto;
overflow-x: hidden;
position: relative;
clear: left;
background: #FFF url(../images/content_pane-gradient.gif) repeat-x scroll left bottom;
}

.scrollContainer div.panel{
padding:0;
height: 310px;
width:820px;
overflow:auto;
-webkit-box-shadow:-2px 2px 4px rgba(0,0,0,0.45);
-moz-box-shadow:-2px 2px 4px rgba(0,0,0,0.45);
box-shadow:-2px 2px 4px rgba(0,0,0,0.45);
border:0;
border-top:1px solid #dedede;
border-left:1px solid #333;
border-right:1px solid #ded;
}

#shade{
height:10px;
text-align:center;
}

ul.navigation{
list-style:none;
margin:0;
padding:0;
padding-bottom:8px;
}

ul.navigation li{
display:inline;
margin-right:4px;
}

ul.navigation a{
padding:10px;
color:#000;
text-decoration: none;
}

ul.navigation a:hover{
background-color: #f6f6f6;
}

ul.navigation a.selected{
background-color:#fff;
}

ul.navigation a:focus{
outline: none;
}

.scrollButtons{
position:absolute;
top:150px;
cursor:pointer;
}

.scrollButtons.left{
left: -20px;
}

.scrollButtons.right{
right: -20px;
}

.hide{
display: none;
}
