.sl_menu{
	margin:2px 0px 0px 2px;
	list-style:none;
}
.sl_menu li,
.sl_examples{
	float:left;
	font-family: 'Bevan', arial, serif;
	padding-right:5px;
	text-transform:uppercase;
}
.sl_menu a,
.sl_examples a{
	display:block;
	position:relative;
	float:left;
	clear:both;
	color:#000;
}
.sl_menu a > span,
.sl_examples a > span{
	height:20px;
	float:left;
	position:relative;
	overflow:hidden;
}
.sl_menu a span span,
.sl_examples a span span{
	position:absolute;
	display:block;
	left:0px;
	top:0px;
	text-align:center;
}
.sl_menu a span span.sl-w1,
.sl_examples a span span.sl-w1{
	color:#000;
	text-shadow:0px 0px 1px #fff;
	z-index:2;
}
.sl_menu a span span.sl-w2{
	color:#fff;
	text-shadow:-1px 1px 2px #000;
	z-index:3;
}
