@charset "UTF-8";

*{
padding:0;
margin:0;
}

img{
width: 100%;
height:auto;
}

@font-face {
font-family: 'GillSans';
font-style: normal;
font-weight: normal;
src: local( 'GillSans'), url('../fonts/GillSans.eot'); /* IE9*/
src: local( 'GillSans'), url('../fonts/GillSans.eot?#iefix') format("embedded-opentype"), /* IE6-IE8 */
url('../fonts/GillSans.woff') format("woff"), /* chrome、firefox */
url('../fonts/GillSans.ttf') format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
url('../fonts/GillSans.svg#GillSans') format("svg"); /* iOS 4.1- */
}

body{
margin:0 auto;
font-family: 'GillSans';
}


/**************CABECERA*************/	
header{
width:100%;
margin:0 auto;
background-color:#efeeee;
}

.title-head{
width:100%;
margin:0 auto;
max-width:1100px;
}

.title-head .logo{
text-align:left;
max-width:350px;
padding-right:35%;
}

.title-head .telefono{
text-align:right;
width:100%;
max-width:350px;	
}

.basic-content{
background-image:url(../img/144/fondo.jpg);
background-repeat:no-repeat;
width:100%;
margin:0 auto;
background-size:cover;	
background-position:top center;	
}

.small-content{
width:99%;
margin:0 auto;
max-width:1100px;
}

.skeleton{
display:inline-block;
vertical-align:middle;
width:55%;	
}

.skeleton .imgmobile{
display:none;
}

/************FORMULARIO************************/
section.formulario{
width:40%;
max-width:440px;
display:inline-block;
text-align:center;
vertical-align: middle;
padding-top:2%;
padding-bottom:2%;
}

section.formulario p{
font-size:2em;
color:#101010;
margin-top:20px;
font-family: 'GillSans';
}

section.formulario p span{
color:#495563;
}

section.formulario #ctcForm, section.formulario #enviarPorMailSolicitaInfo{
background-color:#ffffff;
opacity:0.9;
width:100%;
margin:.2em auto;
text-align:center;
padding:.4em 0;
}

section.formulario #ctcForm input{
width:55%;
display:inline-block;
vertical-align:middle;
background-color:#FFF;
}

.formulario .celda{
padding-left:.3em;
background-color:#FFF;
font-size:1em;
display:block;
width:80%;
min-height:35px;
margin:auto;
margin-top:1em;
color:#857f78;
text-align:left;
padding-left:2.7em;	
}

.formulario .celda:focus{
outline:0px;
}

.legal{
font-size:1em;
font-family: 'GillSans';
width:90%;
text-align:left;
color: #4a5563;
margin: 0.9em auto;
}

.legal input{
vertical-align:top;
}

.legal a{
color: #4a5563;
}

.espacio-btn{
width:100%;
text-align:center;
border:0;
margin: 0 auto;
-webkit-appearance: none;
-webkit-border-radius: 0;
border-radius:0;
}	

.espacio-btn input{
font-family: 'GillSans';
cursor:pointer;
background-color:#383f48;
width:89%;
padding:1em 0;
color: white;
font-size:1.3em;
margin:0.7em auto;
font-weight:normal;
border:0;
-webkit-appearance: none;
-webkit-border-radius: 0;
border-radius:0;
}

section.formulario .user-name{
background-image:url(../img/144/user-form.png);
background-repeat:no-repeat;
background-position:5px center;
}

section.formulario .user-phone{
background-image:url(../img/144/phone-form.png);
background-repeat:no-repeat;
background-position:5px center;
}

section.formulario .user-mail{
background-image:url(../img/144/mail-form.png);
background-repeat:no-repeat;
background-position:5px center;
}		
input[placeholder], [placeholder], *[placeholder]{
color:#000000 !important;
}

::-webkit-input-placeholder{
color:#000000;
}

*:-moz-placeholder{ 
color:#000000;
}

*::-moz-placeholder{
color:#000000;
}

*:-ms-input-placeholder{ 
color:#000000;
}


/************TEXTO************************/
.text-content{
width:100%;
margin:0 auto;
max-width:1100px;
text-align:center;
}

.text-content .definition{
padding-top:40px;
padding-bottom:20px;
margin-left:50px;
margin-right:50px;
text-transform:uppercase;
font-weight:bold;
color:#6e6e6e;
font-size:1.2em;
}

.text-content p{
color:#17336d;
}

.text-content .box1{
background-color:#efeeee;	
width:100%;
margin:0 auto;
max-width:337px;	
display:inline-block;
margin:1%;	
vertical-align:top;
min-height:420px;
}

.text-content .box1 p{
margin:0 auto;
width:60%;
padding-bottom:100px;
font-size:1em;
font-family: 'GillSans';
}

.text-content .box2{
background-color:#efeeee;	
width:100%;
margin:0 auto;
max-width:337px;	
vertical-align:top;
display:inline-block;
margin:1%;
min-height:420px;	
}

.text-content .box2 p{
margin:0 auto;
width:85%;
padding-bottom:100px;
font-size:1em;
font-family: 'GillSans';
}

.text-content .box3{
background-color:#efeeee;	
width:100%;
margin:0 auto;
max-width:337px;	
display:inline-block;
margin:1%;
vertical-align:top;
min-height:420px;
}

.text-content .box3 p{
margin:0 auto;
width:85%;
padding-bottom:100px;
font-size:1em;
font-family: 'GillSans';	
}

.text-content .box4{
width:90%;
margin:0 auto;
text-align:left;
padding:4%;
font-family: 'GillSans';
font-size:1em;
}

.text-content .box4 p{
color:#252525;
font-size:1em;
}

.text-content .box4 span{
color:#ec0000;
}

.frase{
width:100%;
max-width:599px;
padding:2%;
}

.titles-box{
color:#F90;
text-transform:uppercase;
padding-top:65px;
vertical-align:top;
font-size: 24px;
}	

.titles-box2{
color:#F90;
text-transform:uppercase;
padding-top:65px;
vertical-align:top;
}

.titles-box3{
color:#F90;
text-transform:uppercase;
padding-top:65px;
vertical-align:top;
}

.font99{
font-size: 60px;
}	

/************PIE***********************/
footer{
background-color:#252525;
}

.logos-footer{
width:100%;
margin:0 auto;
background-color:#efeeee;
text-align:center;
}

.RP{
text-align:center;
max-width:180px;
display: inline-block;
vertical-align:middle;
}

footer .legal{
width:100%;
margin:0 auto;
max-width:1100px;
text-align:center;
padding-bottom:2em;
padding-top:2em;
font-family: 'GillSans';
font-size:0.8em;
}

footer .legal a{
color:#fff;
text-decoration:none;
font-family: 'GillSans';
}

/************RESPONSIVE***********************/
@media (max-width:1102px) {
.text-content .box1{	
width:30%;
}

.text-content .box2{	
width:30%;
}

.text-content .box3{	
width:30%;
}

.title-head .logo{
padding-right:25%;
}				
}

@media (max-width:1070px) {	
.text-content .box1 p{	
width:90%;
}

.text-content .box2 p{	
width:80%;
}

.text-content .box3 p{	
width:90%;
}
}

@media (max-width:1009px) {	
.text-content .box1 p{	
width:80%;
}

.text-content .box2 p{	
width:70%;
}

.text-content .box3 p{	
width:90%;
}
}

@media (max-width:977px) {	
.text-content .box1 p{	
width:80%;
}

.text-content .box2 p{	
width:80%;
}

.text-content .box3 p{	
width:90%;
}
}

@media (max-width:977px) {	
.text-content .box1 p{	
width:80%;
}

.text-content .box2 p{	
width:80%;
}

.text-content .box3 p{	
width:90%;
}

.text-content .box1{
min-height:430px;
}

.text-content .box2{
min-height:430px;
}

.text-content .box3{
min-height:430px;
}	

.title-head .logo{
padding-right:20%;
}

}

@media (max-width:898px) {
.text-content .box1{
min-height:460px;
}

.text-content .box2{
min-height:460px;
}

.text-content .box3{
min-height:460px;
}

.text-content .box1 p{	
width:60%;
}

.text-content .box2 p{	
width:70%;
}

.text-content .box3 p{	
width:80%;
}

.title-head .logo{
padding-right:15%;
}

.text-content .box1{
display:block;
width:100%;
max-width:900px;
margin-top:20px;
margin-bottom:0px;
margin-left:0;
margin-right:0;
min-height:auto;
}

.text-content .box1 p{
padding:0;
}	

.text-content .box2{
display:block;
width:100%;
margin-top:0px;
margin-bottom:0px;
margin-left:0;
margin-right:0;
max-width:900px;
min-height:auto;
}

.text-content .box2 p{
padding:0;
}	

.text-content .box3{
display:block;
width:100%;
margin-top:0px;
margin-bottom:0px;
margin-left:0;
margin-right:0;
max-width:900px;
min-height:auto;
}

.text-content .box3 p{
padding-top:30px;
padding-bottom:20px;
}	
}


@media (max-width:857px) {	
.text-content .box1 p{	
width:60%;
}

.text-content .box2 p{	
width:70%;
}

.text-content .box3 p{	
width:90%;
}
}

@media (max-width:845px) {	
.text-content .box1 p{	
width:60%;
}

.text-content .box2 p{	
width:80%;
}

.text-content .box3 p{	
width:90%;
}

/* NUEVO */	
.title-head .logo{
padding-right:10%;
}
/* **** */		
}	

@media (max-width:800px) {	
.small-content{
background-image:none;
}

.promo{
display:none;
}

.skeleton{
display:block;
width:100%;
max-width:800px;
}

.skeleton .imgmobile{
display:block;
}

section.formulario{
width:100%;
display:block;
max-width:800px;		
}

section.formulario #ctcForm, section.formulario #enviarPorMailSolicitaInfo{
opacity:1;
}



.text-content .box1{
display:block;
width:100%;
max-width:800px;
margin-top:20px;
margin-bottom:0px;
margin-left:0;
margin-right:0;
min-height:auto;
}

.text-content .box1 p{
padding:0;
}	

.text-content .box2{
display:block;
width:100%;
margin-top:0px;
margin-bottom:0px;
margin-left:0;
margin-right:0;
max-width:800px;
min-height:auto;
}

.text-content .box2 p{
padding:0;
}	

.text-content .box3{
display:block;
width:100%;
margin-top:0px;
margin-bottom:0px;
margin-left:0;
margin-right:0;
max-width:800px;
min-height:auto;
}

.text-content .box3 p{
padding-top:30px;
padding-bottom:20px;
}

.title-head .logo{
max-width:250px;
padding-right:20%;
}

.title-head .telefono{
width:100%;
max-width:250px;
padding-right:0px;	
}	
}

@media (max-width:650px) {
.title-head .logo{
max-width:250px;
padding-right:10%;
}
}

@media (max-width:570px) {

.title-head{
width:100%;
margin:0 auto;
max-width:1100px;
text-align:center;
}

.title-head .logo{
text-align:center;
padding:0px;

}

.title-head .telefono{
text-align:center;	
padding:0px;
}
}

@media (max-width:420px) {
.title-head{
width:100%;
margin:0 auto;
max-width:1100px;
text-align:center;
}

.title-head .logo{
text-align:center;
padding:0px;

}

.title-head .telefono{
text-align:center;	
padding:0px;
}

.text-content .definition{
margin-left:0px;
margin-right:0px;
}

}

@media (max-width:300px) {
.text-content .box1{
padding-bottom:0px;	
}

.text-content .box1 p{
font-size:0.7em;
}

.text-content .box2{
padding-bottom:0px;
}

.text-content .box2 p{	
font-size:0.7em;
}

.text-content .box3{
padding-bottom:0px;
}

.text-content .box3 p{
font-size:0.7em;
}

section.formulario p{
font-size:1.4em;
}	

.espacio-btn input{
font-size:0.9em;
}

.text-content p{
font-size:0.9em;
}

.text-content .definition{
margin-left:20px;
margin-right:20px;
font-size:0.8em;
}

.titles-box{
color:#F90;
text-transform:uppercase;
padding-top:65px;
vertical-align:top;
font-size: 18px;
}

.font99{
font-size: 30px;
}	
}