@charset "UTF-8";
*{
	padding:0;
	margin:0;
	}
	
img{
	width: 100%;
	height:auto;
	}

@font-face {
  font-family: 'GillSans';
  font-style: normal;
  font-weight: normal;
  src: local( 'GillSans'), url('../fonts/GillSans.eot'); /* IE9*/
  src: local( 'GillSans'), url('../fonts/GillSans.eot?#iefix') format("embedded-opentype"), /* IE6-IE8 */
  url('../fonts/GillSans.woff2') format("woff2"), /* chrome、firefox */
  url('../fonts/GillSans.woff') format("woff"), /* chrome、firefox */
  url('../fonts/GillSans.ttf') format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('../fonts/GillSans.svg#GillSans') format("svg"); /* iOS 4.1- */
	}
			
body{
	margin:0 auto;
	width:100%;
	font-family: 'GillSans';
	background-image:url(../img/155/background.jpg);
	background-color:#fbfbfb;
	background-size:contain;	
	background-position: top center;
	background-repeat:no-repeat;
	}

	
/**************CABECERA*************/	
header{
	width:100%;
	margin:0 auto;
	}
	
.logo{
	text-align:left;
	max-width:120px;
	float:left;
	margin-top:1em;
	margin-left:2em;
	margin-bottom:1em;
	}
		
.telefono{
	text-align:right;
	max-width:150px;
	float:right;
	margin-top:1em;
	margin-right:2em;
	margin-bottom:1em;
	}
	
.basic-content{
	width:100%;
	margin:0 auto;
	padding-top:180px;	
	text-align:right;
	}
		
.small-content{
	width:99%;
	margin:0 auto;
	max-width:1100px;
	text-align:right;
	}
	
.skeleton{
	display:block;
	width:100%;	
	margin:0 auto;
	}
	
.skeleton .title{
	max-width:540px;
	width:80%;
	}
	
/************FORMULARIO************************/
section.formulario{
	padding-left:60%;
	width:70%;
	max-width:400px;
	text-align:left;
	display:block;
	padding-top:4%;
	padding-bottom:2%;
	}
		
section.formulario p{;
	font-size:1.3em;
	color:#17453e;
	font-family: 'GillSans';
	text-align:left;
	}
		
section.formulario #ctcForm, section.formulario #enviarPorMailSolicitaInfo{
	width:100%;
	margin:.2em auto;
	text-align:center;
	padding:.4em 0;
	}
	
section.formulario #ctcForm input{
	width:55%;
	display:inline-block;
	vertical-align:middle;
	opacity:0.1px;
	}

.formulario .celda{
	font-size:0.9em;
	display:block;
	width:100%;
	min-height:35px;
	margin:auto;
	margin-top:1em;
	color:#898989;
	text-align:left;
	background-color:transparent;
	box-shadow:none;
	border-color: #CCC;
	border-width:0.5px;
	}

.formulario .celda:focus{
	outline:0px;
	}

.formulario .legal{
	font-size:0.7em;
	font-family: 'GillSans';
	width:55%;
	text-align:left;
	color: #4a5563;
	display:inline-block;
	float:left;
	padding-right:5px;
	}
	
.formulario .legal input{
	vertical-align:top;
	}
	
.formulario .legal a{
	color: #4a5563;
	font-family: 'GillSans';
	}
	
.formulario .espacio-btn{
	float:right;
	width:40%;
	text-align:center;
	border:0;
	-webkit-appearance: none;
    -webkit-border-radius: 0;
 	border-radius:0;
	}	
	
.formulario .espacio-btn input{
	font-family: 'GillSans';
	width:100%;
	cursor:pointer;
	background-color:#383f48;
	opacity:0.4;
	padding:0.5em 0;
	color: white;
	font-size:1em;
	margin:0.4em auto;
	font-weight:normal;
	border:0;
	-webkit-appearance: none;
    -webkit-border-radius: 0;
 	border-radius:0;
	}
	
	
input[placeholder], [placeholder], *[placeholder]{
   color:#000000 !important;
   }
  
::-webkit-input-placeholder{
    color:#000000;
	}
	
*:-moz-placeholder{ 
    color:#000000;
	}
	
*::-moz-placeholder{
    color:#000000;
	}
	
*:-ms-input-placeholder{ 
    color:#000000;
	}
	
	
/************TEXTO************************/	
.text-content{
	width:60%;
	margin:0 auto;	
	text-align:right;	
	}
		
.central{	
	margin:0 auto;
	max-width:1000px;
	text-align:center;
	display:inline-block;
	padding-top:60px;
	}

.box1, .box2, .box3{
	display:inline-block;
	width:30%;
	vertical-align:top;
	text-align:left;
	margin:10px;
	}

.box1  p, .box2  p, .box3  p{
	margin:0 auto;
	font-size:1em;
	font-family: 'GillSans';
	}

.titles-box{
	color:#585858;
	font-size: 20px;
	font-family: 'GillSans';
	}
	
.text-content  h1{
	margin:0 auto;	
	font-family: 'GillSans';
	padding-top:40px;
	padding-bottom:50px;
	color:#17453e;
	font-size:1.2em;
	}	
	
		
/************PIE***********************/
footer{
	background-color:#252525;
	}
	
.logos-footer{
	width:100%;
	margin:0 auto;
	background-color:#efeeee;
	text-align:center;
	}
	
.RP{
	text-align:center;
	max-width:180px;
	display: inline-block;
	vertical-align:middle;
	}
	
footer .legal{
	width:100%;
	margin:0 auto;
	max-width:1100px;
	text-align:center;
	padding-bottom:10em;
	padding-top:2em;
	font-family: 'GillSans';
	font-size:0.8em;
	}
	
footer .legal a{
	color:#fff;
	text-decoration:none;
	font-family: 'GillSans';
	}
	
/************RESPONSIVE***********************/
@media (max-width:1675px) {		
body{
	margin:0 auto;
	width:100%;
	font-family: 'GillSans';
	background-image:url(../img/155/background1.jpg);
	background-color:#fbfbfb;
	background-size:contain;	
	background-position: top center;
	background-repeat:no-repeat;
	}	
	}
	
@media (max-width:1490px) {		
body{
	margin:0 auto;
	width:100%;
	font-family: 'GillSans';
	background-image:url(../img/155/background1.jpg);
	background-color:#fbfbfb;
	background-size:cover;	
	background-position: top center;
	background-repeat:no-repeat;
	}	
	}


@media (max-width:1200px) {		

.text-content{
	width:100%;
	margin:0 auto;	
	text-align:right;	
	}
		
.central{	
	margin:0 auto;
	max-width:1200px;
	text-align:center;
	display:inline-block;
	padding-top:60px;
	}

.box1, .box2, .box3{
	display:inline-block;
	width:30%;
	vertical-align:top;
	text-align:left;
	margin:10px;
	}	
	}

@media (max-width:1030px) {		
section.formulario{
	padding-left:55%;
	width:70%;
	max-width:400px;
	text-align:left;
	display:block;
	padding-top:4%;
	padding-bottom:2%;
	}		
	}
	
	
@media (max-width:1000px) {				
.basic-content{
	width:100%;
	margin:0 auto;
	padding-top:180px;	
	text-align:center;
	}
	
.skeleton .title{
	max-width:540px;
	width:50%;
	}
	}
	
@media (max-width:925px) {				
section.formulario{
	padding-left:10%;
	margin:0 auto;
	width:90%;
	max-width:400px;
	text-align:center;
	display:block;
	padding-top:4%;
	padding-bottom:2%;
	}

.basic-content{
	width:100%;
	margin:0 auto;
	padding-top:180px;	
	text-align:center;
	}
		
.small-content{
	width:99%;
	margin:0 auto;
	max-width:1100px;
	text-align:center;
	}

.skeleton .title{
	max-width:540px;
	width:60%;
	}
	}
		
@media (max-width:800px) {		
.RP{
	max-width:130px;
	}	
	}

	
@media (max-width:750px) {
.logo{
	max-width:100px;
	margin-left:1em;
	}
		
.telefono{
	max-width:130px;	
	margin-right:1em;
	}

.basic-content{
	padding-top:120px;	
	}

.skeleton .title{
	max-width:540px;
	width:80%;
	}
	}
	

@media (max-width:730px) {
	
.text-content{
	width:99%;
	margin:0 auto;	
	text-align:center;	
	}
		
.central{	
	margin:0 auto;
	max-width:730px;
	text-align:center;
	display:block;
	padding-top:60px;
	}

.box1, .box2, .box3{
	display:block;
	width:90%;
	vertical-align:top;
	text-align:left;
	margin:0 auto;
	}
	}


@media (max-width:550px) {			
.logo{
	max-width:80px;
	}
		
.telefono{
	max-width:110px;	
	}
	}	

@media (max-width:490px) {		
section.formulario{
	padding-left:5%;
	margin:0 auto;
	width:90%;
	max-width:400px;
	text-align:center;
	display:block;
	padding-top:4%;
	padding-bottom:2%;
	}
	
.skeleton .title{
	max-width:540px;
	width:100%;
	}

.text-content  h1{
	padding-top:15px;
	font-size:0.8em;
	}

.box1  p, .box2  p, .box3  p{
	font-size:0.8em;
	}

.titles-box{
	font-size: 16px;
	}

.basic-content{
	padding-top:90px;	
	}
	}

@media (max-width:305px) {	
.logo{
	max-width:70px;
	}
		
.telefono{
	max-width:100px;	
	}
	
.formulario .espacio-btn input{
	font-size:0.8em;
	}

.RP{
	padding-bottom:25px;
	}
	}

@media (max-width:300px) {	
section.formulario p
	{
	font-size:0.9em;
	}	
	}
