@charset "UTF-8";

*{
	padding:0;
	margin:0;
	}
	
img{
	width: 100%;
	height:auto;
	}
				
body{
	margin:0 auto;
	font-family: 'GillSans';
	}

	
/**************CABECERA*************/	
header{
	width:100%;
	margin:0 auto;
	background-color:#efeeee;
	}
	
.title-head{
	width:100%;
	margin:0 auto;
	max-width:1100px;
	padding-bottom:10px;
	padding-top:10px;
	}

.title-head .logo{
	text-align:left;
	max-width:120px;
	
	}
	
.title-head .telefono{
	text-align:right;
	width:100%;
	max-width:135px;
	float:right;	
	}
		
.content{
	margin:auto;
	width:100%;
	height:auto;
	}

.fondo{
	padding:0;
	width:100%;
	max-width:1920px;
	}
	
.img_mobile{
	display:none;
	}
	
.pie{
	background-color:#252525;
	height:50px;
	}		
			
/************RESPONSIVE***********************/
			
@media (max-width:800px) {	
.fondo{
	display:none;
	}
	
.img_mobile{
	display:block;
	width:100%;
	max-width:800px;
	}
		
.title-head .logo{
	padding-left:10px;

	}
	
.title-head .telefono{	
	padding-right:10px;
	}
		
	}

@media (max-width:350px) {

.title-head .logo{
	text-align:left;
	max-width:100px;
	
	}
	
.title-head .telefono{
	text-align:right;
	width:100%;
	max-width:115px;
	float:right;	
	}
	}