#cookie_info{
display:block;
cursor:pointer;
text-align:center;
line-height:30px;
font-size:.9em;
color:#0079c8!important;
}
#cookie_info:hover{
color:#A94503!important;
}
.cookieButton{
color:#222;
background:#eee;
font-size:12px;
font-family:Arial,Helvetica,sans-serif;
border:1px solid #888;;
padding:4px!important;
color:#444;
}
.cookieButton:hover{
color:#000;
cursor:pointer;
}

#blockTxtPieAsk{
display:inline-block;
padding-top:6px;
}


#pie_galletero{
max-width:950px;
margin:1em auto .5em auto;
width:100%;
color: #949494;
background: #e5e5e5;
font-family:Arial, Helvetica, sans-serif;
text-align:center;
}

#pie_galletero a{
color:#949494;
}

#pie_galletero a:visited{
color:#949494;
}	

#pie_galletero_left{
width:75%;
vertical-align:middle;
display:inline-block;
margin:.5em;
font-size:.8em;
text-align:center;
}

#pie_galletero_right{
text-align:right;
width:20%;
vertical-align:middle;
display:inline-block;
margin:.5em;
}

#pie_galletero_right input{
margin:.3em;
padding:.1em 0;
cursor:pointer;
}

#info_cook {
font-family:Arial, Helvetica, sans-serif;
max-width:950px;
width:100%;
display: block;
margin: 0 auto;
text-align: left;
font-size: .7em;
color: #949494;
background: #e5e5e5;
}

.texto_cook{
width:96%;
margin:0 auto;}	


.closeCookiesPolicy{
display:block;
}

.closeCookiesPolicy a{
color:#666;
text-decoration:none;
font-size:15px;
margin:.5em;
font-weight:bold;
min-height:30px;
}

ffooter{font-family:Arial, Helvetica, sans-serif, Gadget, sans-serif;font-size:.6em;max-width:1000px;margin:1em auto;color:#4b358b;width:98%}#pie_galletero{max-width:950px;margin:1em auto .5em auto;width:100%;color:#949494;background:#e5e5e5;font-family:Arial, Helvetica, sans-serif, Gadget, sans-serif;}#pie_galletero a{color:#949494}#pie_galletero a:visited{color:#949494}#pie_galletero_left{width:auto;vertical-align:middle;display:inline-block;margin:.5em;font-size:.8em;text-align:left}#pie_galletero_right{text-align:right;width:20%;vertical-align:middle;display:inline-block;margin:.5em}#pie_galletero_right input{margin:.3em;padding:.1em 0;cursor:pointer}#info_cook{font-family:Arial, Helvetica, sans-serif, Gadget, sans-serif;max-width:950px;width:100%;display:block;margin:0 auto;text-align:left;font-size:.7em;color:#949494;background:#e5e5e5}.texto_cook{width:96%!important;margin:0 auto}.closeCookiesPolicy{text-align:right}.closeCookiesPolicy a{color:#666;text-decoration:none;font-size:15px;margin:.5em;font-weight:bold}



/* START ADDICTIONS 2018*/

#modal_info_cook{
overflow:auto;
}
.boxContentsCookies{
display:inline-block;
float:left;
height:80%;
max-height:80%;
width:100%;
}
.modalCloseBtn{
padding-left:10px;
padding-right:10px;
cursor:pointer;
background:#333;
color:#fff;
text-decoration:none;
width:auto;
max-width:100px;
}
.simplemodal-container{
-moz-border-radius:6px;
-webkit-border-radius:6px;
border-radius:6px;
-webkit-box-shadow:2px 4px 6px rgba(0, 0, 0, 0.5);
-moz-box-shadow:2px 4px 6px rgba(0, 0, 0, 0.5);
box-shadow:2px 4px 6px rgba(0, 0, 0, 0.5);
}

.mainInfoCookies{
	display:inline-block;
	width:100%;
	min-height:10px;
	word-wrap: break-word;
	margin-top:10px;
	padding:1px;
	border-radius:4px;
	font-size:.9em;
}
.landingInfoCookies{
border-style:solid;
border-collapse:collapse;
background-color:#fff;
color:#666;
border:1px solid #666;
width:100%;
}
.landingInfoCookies td, .landingInfoCookies th{padding:4px;border-color:#666;font-size:.8em;}
.landingInfoCookies th{color:#666!important;background:#eee;}
.landingInfoCookies td a, .landingThirdPartieInfoCookies td a{text-decoration:none;border-bottom:1px dashed;color:#666;}
.landingInfoCookies td a:hover, .landingThirdPartieInfoCookies td a:hover{border-bottom:2px solid;}


.mainInfoThirdPartieCookies{
	display:inline-block;
	width:100%;
	min-height:10px;
	word-wrap: break-word;
	margin-top:10px;
	padding:1px;
	border-radius:4px;
	font-size:.9em;
}

.landingThirdPartieInfoCookies{
border-style:solid;
border-collapse:collapse;
background-color:#fff;
color:#666;
border:1px solid #666;
width:100%;
}

.landingThirdPartieInfoCookies td, .landingThirdPartieInfoCookies th{padding:4px;border-color:#666;font-size:.8em;}
.landingThirdPartieInfoCookies th{color:#666!important;background:#eee;}

.landingInfoCookies tr:first-child, .landingThirdPartieInfoCookies tr:first-child{background-color:#F9F9F9!important;}
#pie_galletero_left .cookie_info{color:#555!important;}

.boxContentsPp{color:#555;}
.boxContentsCookies{color:#555;font-family:Arial, Helvetica, sans-serif, Gadget, sans-serif!important;}
.boxContentsLegalNotices{color:#555;}

.conditions{
font-family:Arial, Helvetica, sans-serif, Gadget, sans-serif;
color:#000000;
background-color:#fff;
color:#444;
padding:1%;
}

.conditions p{
margin-top:10px;
}

.conditions h2{
margin-top:20px;
}


/* START RIGHT MOBILE BOX */
.circle_lopd{
	display:inline-block;
  width:20px;
  height:20px;
  border-radius:50%;
  font-size:1em;
  color:#fff;
  line-height:1.36em;
  text-align:center;
  background:#333;
	margin-top:6px;
}

#boxMobile{
  /*width: 390px;*/
  width: 330px;
  font-size: 12px;
  line-height: 20px;
  left: -140px;
  top:30%; /* change this value to place the menu higher or lower */
  position: fixed;
  z-index: 100;
	height:75vh;
	max-height:64vh;
}

#tabSidelSider{
  float: left;
  list-style: none outside none;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 99;
}

#tabSidelSider li span{
  display:block;
  padding:0 5px;
  position:relative;
}

#contentSidelSider{
  width: 284px;
  padding: 10px;
  float: left;
  border-right: 1px solid #B4B8BB;
	background:#fff;
	height:98%;
	overflow:auto;
	border-top:1px solid #ddd;
	border-bottom:1px solid #ddd;
	box-shadow:0 1px 10px 0px rgba(68, 68, 68, 0.4);
	-webkit-box-shadow:0 1px 10px 0px rgba(68, 68, 68, 0.4);
	-moz-box-shadow:0 1px 10px 0px rgba(68, 68, 68, 0.4);
}

.leftSidelSider, .defaultSideSlider{
  transition: margin-left .4s ease-in;
  -webkit-transition: margin-left .4s ease-in;
}

.defaultSideSlider{
  margin-left:-160px;
}

.leftSidelSider{
  margin-left:140px;
}

#arrowMobile{
width:24px;
cursor:pointer;
}

.tblSideSlider{
	width:100%;
	border-top:1px solid #ccc;
	padding:2px;
	font-size:.85em;
	color:#333;
	line-height:1em;
}

.tblSideSlider td{
	vertical-align:top;
	font-familiy:verdana,arial!important;
}
.tblSideSlider td a{
	text-decoration:none;
	color:green;
	font-size:1.3em;
}
.tblSideSlider td:nth-child(1){
	padding-bottom:10px;
	border-right:1px dashed #ccc;
	width:30%;
	min-width:30px;
}

.tblSideSlider td:nth-child(2){
	/*border-right:1px dashed #ccc;*/
	padding-bottom:10px;
	width:60%;
	min-width:100px;
}

.tblSideSlider td:nth-child(3){
	width:1%;
	min-width:6px;
	text-align:right!important;
	padding-right:1px;
}

#arrowMobile{opacity:.5;}
#arrowMobile:hover{width:25px;opacity:.8;}

.modallegalInfo{
display:inline-block;
overflow:auto;
/*width:auto;*/
width:100%;
height:78vh;
padding:0px;
}

.innerModalContent{
padding-right:16px;
padding-left:4px!important;
font-family:Arial,Helvetica,sans-serif;
}
.innerModalTitle{
text-align:center;
width:100%;
font-weight:600;
font-size:1.2em;
font-family:Arial,Helvetica,sans-serif;
margin-bottom:20px;
}


.loadingModal{
	-webkit-animation:spin 2s linear infinite;
	-moz-animation:spin 2s linear infinite;
	animation:spin 2s linear infinite;
}
@-moz-keyframes spin{100%{ 
	-moz-transform:rotate(360deg); 
	}
}
@-webkit-keyframes spin{100%{ 
	-webkit-transform:rotate(360deg); 
	}
}
@keyframes spin{100%{
	-webkit-transform:rotate(360deg);
	transform:rotate(360deg);
	}
}

/*--- Lptop --- */
@media only screen and (min-width : 1224px) and (max-width: 1440px){
	#boxMobile{top:30%;}
}

/*--- Tablet landscape --- */
@media only screen and (min-width : 1024px) and (max-width: 1224px){
	#boxMobile{top:30%;}
}

/*--- Small tablet landscape ---*/
@media only screen and (min-width : 800px) and (max-width: 1024px){
	#boxMobile{top:30%;}
}

/*--- Tablet portrait ---*/
@media only screen and (min-width : 690px) and (max-width: 800px){
	#boxMobile{top:30%;}
}

/*--- Small tablet portrait ---*/
@media only screen and (min-width : 595px) and (max-width: 690px){
	#boxMobile{top:30%;}
}

/*--- Mobile landscape ---*/
@media only screen and (min-width : 480px) and (max-width: 595px){
	#boxMobile{top:30%;}
}

/*--- Mobile portrait ---*/
@media only screen and (min-width : 320px) and (max-width: 480px){
	#boxMobile{
		display:inline-block;
		font-size:11px;
	  width:330px;
		top:25%;
		height:70vh;
		max-height:80vh;
	}
	#contentSidelSider{
		width:300px;
		padding:1px;
		float:left;
		border-right:0;
		background:#fff;
	  border-right: 1px solid #B4B8BB;
	}
}

/*--- Mobile portrait ---*/
@media only screen and (min-width : 300px) and (max-width: 320px){
	.tblSideSlider td:nth-child(3){
		width:7%;
		min-width:10px;
		text-align:right!important;
		padding-right:10px;
	}
	.tblSideSlider td:nth-child(1){
		width:10%;
	}
	.tblSideSlider td:nth-child(2){
		padding-right:10px;
	}
	#boxMobile{
		display:inline-block;
		font-size:11px;
		top:33%;
		height:75vh;
		max-height:64vh;
	}
	#contentSidelSider{
		width:296px;
		padding:1px;
		float:left;
		border-right:0;
		background:#fff;
	  border-right: 1px solid #B4B8BB;
		height:100%;
		overflow:auto;
	}
	.innerModalContent{
	margin-top:30px;
	padding-right:16px;
	padding-left:4px!important;
	}
	#arrowMobile{width:24px;}
}

/* END RIGHT MOBILE BOX */



/* END ADDICTIONS 2018*/
