@charset "utf-8";
/* CSS Document */
body{
font-family:Arial, Helvetica, sans-serif;
background:#d3ced3 url(../img/fondo_caser1.jpg) no-repeat center top;
height:100%;
}
#contenedor_centrado {
width:840px;
margin:auto;
min-height:100%;
}	
.form-contenido {
height:400px;
width:840px;
}
.titulo{
margin-top:0px;
margin-left:auto;
background-image:url(../img/cabecera_1.png);
background-position:left top;
background-repeat:no-repeat;
height:156px;
width:840px;
}
.sello{
margin-top:0px;
margin-left:auto;
background-image:url(../img/sellorosa_1.png);
background-position:left top;
background-repeat:no-repeat;
height:295px;
width:840px;
}

.formulario{
float:right;
margin-top:20px;
margin-right:5px;
}

.ctc_form {
padding:1px 0px 0px 15px;
height:153px;
width:245px;
background-color:#1d76b8;
font-family:Arial, Helvetica, sans-serif;
color:#FFF;
border-radius:5px;
font-size:12px;
}
.ctc_form p:first-child{font-size:17px;}

.contenedor_form p:first-child{
font-size:17px;
color:#005854;
}

.contenedor_form{
padding:1px 0px 0px 15px;
height:410px;
width:245px;
background-color:#ffffff;
font-family:Arial, Helvetica, sans-serif;
color:#005854;
margin-top:11px;
border-radius:5px;
font-size:15px;
-webkit-box-shadow:0px 1px 3px rgba(50, 50, 50, 0.8);
-moz-box-shadow:0px 1px 3px rgba(50, 50, 50, 0.8);
box-shadow:0px 1px 3px rgba(50, 50, 50, 0.8);
}

.fila {
overflow:hidden;
width:240px;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
margin-top:7px;
color:#74737b;

}
.fila_min{
overflow:hidden;
width:240px;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
margin-top:7px;
color:#74737b;
}

.celda {
display:block;
margin-top:5px;
color:#333;
margin-top:5px;
width:190px;
}

.fila_min .celda {
display:block;
margin-top:5px;
color:#333;
margin-top:5px;
width:196px;
height:22px;
}

.legal {
font-family:Verdana, Geneva, sans-serif;
font-size:10px;
font-style:italic;
margin-top:9px;
color:#74737b;
}
.legal a{
color:#74737b;
}

.btn_solicitar{
width:190px;
height:30px;
color:#FFF;
margin-left:20px;
margin-top:13px;
text-align:center;
font-size:14px;
background-color:#004a47;
background-image:-ms-linear-gradient(top left, #066B6B 0%, #012F30 100%);
background-image:-moz-linear-gradient(top left, #066B6B 0%, #012F30 100%);
background-image:-o-linear-gradient(top left, #066B6B 0%, #012F30 100%);
background-image:-webkit-gradient(linear, left top, right bottom, color-stop(0, #066B6B), color-stop(1, #012F30));
background-image:-webkit-linear-gradient(top left, #066B6B 0%, #012F30 100%);
background-image:linear-gradient(to bottom right, #066B6B 0%, #012F30 100%);
cursor:pointer;
}

.coberturas_servicios{
width:840px;
background-color:#d3ced3;
margin:auto auto 0;
float:left;
margin:55px auto 0;
clear:both;
}

.coberturas_servicios p{
font-size:11px;
color:#666;
}

.coberturas{
width:350px;
float:left;
margin-left:35px;
}

.coberturas p{
margin-left:40px;
margin-top:500px;
}

.servicios{
width:400px;
float:left;
}

h1{
font-size:16px;
color:#005854;
}

ul li{
font-size:11px;
color:#666;
}

.clearfix:after {
content:".";
display:block;
clear:both;
visibility:hidden;
line-height:0;
height:0;
}

.clearfix {
display:inline-block;
}

html[xmlns] .clearfix {
display:block;
}

* html .clearfix {
height:1%;
}

.pie{
display:block;
float:left;
margin-bottom:20px;
height:20px;
width:100%;
font-size:8px;
color:#09F;
text-align:center;
}	

.lnkPromo{
display:block;
float:left;
margin:auto;
margin-bottom:10px;
height:20px;
width:100%;
font-size:8px;
color:#09F;
text-align:center;
}	

.entryFly{
display:inline-block;
float:left;
padding-top:0px;
color:#005052!important;
height:50px;
}

.entryFly p{
padding-left:210px;
font-size:2.5em;
}
.tlt2{
font-family:verdana,helvetica,sans-serif;
font-weight:bold;
margin-top:-39px;
color:#F29438;
font-size:2.62em!important;
}
.srtBox{
display:block;
height:280px;
}

.lnkStd{
cursor:pointer;
text-align:center;
color:#666666;
}

.lnkStd:hover{
color:#0F3F63;
}

#promoConditions{
display:block;
float:left;
padding:20px;
width:800px;
height:auto;
color:#666666;
font-size:.8em;
line-height:1.8em;
}