@charset "utf-8";

*{
	padding:0;
	margin:0;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
     box-sizing: border-box;
	}
	
img{
	width:99%;
	height:auto;
	}

@font-face{
    font-family: 'ubuntumedium';
    src: url('../fonts/ubuntu-m-webfont.eot');
    src: url('../fonts/ubuntu-m-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ubuntu-m-webfont.woff2') format('woff2'),
         url('../fonts/ubuntu-m-webfont.woff') format('woff'),
         url('../fonts/ubuntu-m-webfont.ttf') format('truetype'),
         url('../fonts/ubuntu-m-webfont.svg#ubuntumedium') format('svg');
    font-weight: normal;
    font-style: normal;
	}
	
body{
    font-family: 'ubuntumedium', Arial;
	background-image:url(../img/083/textura-fondo.jpg);
	}
	
header{
	max-width:1100px;
	background-color:#FFFFFF;
	border-bottom: 4px solid #a00034;
	margin:auto;
	}
	
.nav-collapse{
	display:none!important;
	}
	
.logo{
	max-width:285px;
	float:left;
	margin-left:0.8em;
	width:100%;
	}
	
.phone{
	width:100%;
	max-width:270px;
	float:right;
	}
		
.cabecera{
	height:80px;
	padding:0.5em 0;
	}
		
.web_menu{
	width:100%;
	background-color:#FFFFFF;
	padding-top:1em;
	display:inline-block;
	text-align:center;
	}
	
.web_menu ul{
	list-style-type:none;
	margin:0;
	padding:0;
	}
	
.web_menu ul li{
	text-align:center;
	width:20%;
	display:inline-block;
	}
	
.web_menu ul li a{
	text-decoration:none;
	color:#FFFFFF;
	background-color:#a00034;
	display:block;
	padding:0.7em 0;
	margin-right:2em;
	-webkit-border-radius: 10px 10px 0px 0px;
	-moz-border-radius: 10px 10px 0px 0px;
	border-radius: 10px 10px 0px 0px;
	}
	
.web_menu ul li a:hover{
	color:#000000;
	background-color:#f6f3f4;
	}
	
.web_menu ul li a.selected{
	color:#000000;
	background-color:#f6f3f4;
	}
	
.contenido_basico{
	max-width:1100px;
	margin:auto;
	background-color:#f6f3f4;
	}
	
.skeleton{
	display:inline-block;
	width:66%;
	vertical-align:top;
	margin-top:2em;
	text-align:center;
	}
	
section.skeleton h1{
	text-align:center;
	color:#a00034;
	font-size:2em;
	}
	
section.skeleton h2{
	text-align:center;
	color:#a00034;
	font-size:1.4em;
	margin-top:0.5em;
	}
	
section.skeleton h2 span{
	font-size:1.2em;
	color:#000000;
	}
	
.foto{
	margin-top:2em;
	}
	
.list{
	width:40%;
	display:inline-block;
	vertical-align: middle;
	list-style-type:none;
	margin-left:2em;
	font-size:1em;
	text-align:left;
	}
	
.photo-web{
	max-width:377px;
	display:inline-block;
	vertical-align:top;
	margin-top:-2em;
	width:100%;
	}
	
.text{
	margin-top:2em;
	color:#a00034;
	font-size:1em;
	display:inline-block;
	vertical-align:middle;
	margin-left:1em;
	}
	
.text span{
	color:#000000;
	}
	
.text1{
	font-size:2em;
	}
	
.text2{
	font-size:1.2em;
	}
	
.text3{
	font-size:0.8em;
	}
	
.ico{
	max-width:80px;
	display:inline-block;
	vertical-align:middle;
	margin-left:3em;
	}
	
/*FORMULARIO*/
	
section.formulario{
	width:30%;
	display:inline-block;
	text-align:center;
	vertical-align:top;
	margin-bottom:1.5em;
	}
	
section.formulario p{
	margin:.5em 0;
	font-size:1.5em;
	color:#6c6466;
	text-align:center;
	}

section.formulario #ctcForm, section.formulario #enviarPorMailSolicitaInfo{
	background-color:#FFFFFF;
	width:99%;
	margin:1em auto;
	text-align:center;
	padding: .1em 0 .2em 0;
	border: 2px solid #a00034;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	}
	
section.formulario #ctcForm input{
	width:89%;
	vertical-align:middle;
	min-height:40px;
	background-color:#FFF;
	}
	
section.formulario #ctcForm input:last-child{
	font-size:1.2em;
	cursor:pointer;
	width:91%;
	color: white;
	border: 0;
	margin-bottom:0.5em;
	display:inline-block;
	background-color: #ff7200;
	}
	
.formulario .celda{
	padding-left:.3em;
	background-color:#f6f3f4;
	font-size:.9em;
	display:block;
	width:89%;
	min-height:40px;
	margin:1em auto;
	border:0;
	color:#585254;
	text-align:left;
	font-weight:200;
	}

.legal{
	font-size:.7em;
	font-family:Arial, Helvetica, sans-serif;
	width:92%;
	margin:0 auto;
	text-align:left;
	color:#585254;
	margin-left:1.6em;
	margin-top:-0.6em;
	margin-bottom:1.5em;
	}
	
.legal input{
	vertical-align:top;
	}
	
.legal a{
	color:#585254;
	}
	
.espacio_btn{
	width:90%;
	text-align:center;
	margin:.4em auto;
	}	
	
.espacio_btn input{
	cursor:pointer;
	width:99%;
	padding:0.5em;
	color: white;
	border: 0;
	font-size: 1.2em;
	margin-top:0.2em;
	background-color:#2cb42c;
	font-weight:bold;
	margin-bottom:0.5em;
	}
	
.call{
	background-color:#FFFFFF;
	height:150px;
	margin-top:1.8em;
	border: 2px solid #a00034;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	}
	
section.formulario .call-text{
	font-size:1.3em;
	padding-bottom:0.5em;
	}

section.formulario .call-text span{
	font-weight:bold;
	color:#000000;
	}
	

.voxFormElement{
	background-color:#f6f3f4;
	border:0;
	height:30px;
	width:180px;
	}
	
#voxFormSubmit{
	height:30px;
	background-color:#2cb42c;
	border:0px;
	width:100px;
	margin-left:0.5em;
	color:#FFFFFF;
	font-family: 'ubuntumedium';
	font-size:1.4em;
	}
	
	/*click-noche starts*/
	
#voxOffline{
	width:100% !important;
	font-family:Arial, Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-size:0.9em;
	color:#000000;
	list-style-type:none;
	}
	
	/*click-noche end*/

footer{
	max-width:1100px;
	margin:auto;
	background-color:#FFFFFF;
	height:200px;
	}

.text-foot{
	text-align:center;
	color:#FFFFFF;
	background-color:#a00034;
	font-size:0.9em;
	padding:0.8em;
	}

.image-legal{
	font-size:0.8em;
	color:#585254;
	padding:1em;
	line-height:25px;
	float:left;
	padding-top:1.5em 0;
	}

.image-legal span{
	color:#a00034;
	font-size:1.2em;
	}
	
.certificacion{
	max-width:210px;
	float:right;
	margin-right:0.5em;
	}
	
/*Conductor Plus starts*/

section.skeleton h3{
	font-size:1em;
	color: #323030;
	width:85%;
	margin:auto;
	padding-top:1em;
	}

.negrita{
	font-size:1.1em;
	color:#000000;
	}
	
.list-conductor{
	width:40%;
	display:inline-block;
	vertical-align: middle;
	margin-left:2em;
	font-size:1em;
	text-align:left;
	list-style-image:url(../img/083/list-tick.png);
	}
	
.photo-web2{
	max-width:377px;
	display:inline-block;
	vertical-align:top;
	width:80%;
	margin-top:-2em;
	}
	
.text-foot2{
	background-color:#a00034;
	padding:2.5em;
	}
	
.offer{
	text-align:left;
	font-weight:bold;
	font-size:1.2em;
	margin-left:2em;
	margin-top:1em;
	}
	
.text3-conductor{
	font-size:0.8em;
	margin-bottom:1.5em;
	}

/*Conductor Plus end*/

/*Multieriesgo internet starts*/

.offer2{
	text-align:left;
	font-weight:bold;
	font-size:1.2em;
	margin-left:2em;
	margin-top:2em;
	}

/*Multiriesfo internet end*/




@media (max-width:1100px){
	
#voxFormSubmit{
	width:80px;
	}
	
.list{
	width:35%;
	}
	
.list-conductor{
	width:35%;
	}
	
.photo-web{
	width:80%;
	}
	
section.skeleton h2{
	font-size:1.2em;
	}
	
.voxFormElement{
	width:150px;
	}
	
#voxOffline{
	width:95% !important;
	font-size:0.8em;
	}
	}
	
@media (max-width:980px){
	
.list{
	width:30%;
	font-size:1em;
	}
	
.list-conductor{
	width:30%;
	font-size:1em;
	}
	
.photo-web{
	width:60%;
	margin-top:1em;
	}

.photo-web2{
	width:60%;
	margin-top:1em;
	}
	
.text{
	margin-top:3em;
	margin-bottom:2em;
	}
	
.web_menu ul li{
	width:25%;
	}

section.formulario p{
	font-size:1.2em;
	}
	
section.formulario .call-text{
	font-size:1.1em;
	}
	
.call{
	height:130px;
	}
	
section.formulario{
	margin-top:2em;
	}
	}
	
@media (max-width:920px){
	
#voxFormSubmit{
	width:60px;
	font-size:1.2em;
	}
	
.voxFormElement{
	width:140px;
	}
	
.espacio_btn input{
	font-size:1em;
	}

section.skeleton h2{
	font-size:1.1em;
	}
	}

@media (max-width:850px){
	
.nav-collapse{
	display:block !important;
	}
	
.web_menu{
	display:none;
	}
		
#enviarPorMailSolicitaInfo{
	display:none;
	}
	
section.formulario{
	width:99%;
	}
	
.skeleton{
	width:99%;
	}
	
.list{
	width:90%;
	}
	
.list-conductor{
	width:90%;
	}
	
.photo-web{
	width:99%;
	}
	
.photo-web2{
	width:99%;
	}
	
.voxFormElement{
	width:450px;
	}
	
#voxFormSubmit{
	width:160px;
	}

.text3-conductor{
	margin-bottom:0em;
	}
	}
	
@media (max-width:680px){
	
.voxFormElement{
	width:400px;
	}
	
#voxFormSubmit{
	width:100px;
	}
	
.logo{
	width:40%;
	}
	
.phone{
	width:40%;
	}
	
.cabecera{
	padding:0em;
	}

section.skeleton h3{
	width:95%;
	}
	}
	
@media (max-width:550px){
	
.voxFormElement{
	width:350px;
	}
	
#voxFormSubmit{
	width:80px;
	}

.ico{
	margin-left:0em;
	}

.text1{
	font-size:1.4em;
	}
	
.text2{
	font-size:1em;
	}
	
.cabecera{
	padding:0em;
	}
	}
	
@media (max-width:480px){
	
.voxFormElement{
	width:280px;
	}
	
#voxFormSubmit{
	width:80px;
	}
	}
	
@media (max-width:408px){
	
.voxFormElement{
	width:200px;
	}
	
#voxFormSubmit{
	width:80px;
	}
	
.text1{
	font-size:1.1em;
	}
	
.text2{
	font-size:1em;
	}
	
#voxOffline{
	width:65% !important;
	}
	}
	
@media (max-width:318px){
	
.voxFormElement{
	width:140px;
	}
	}
	
@media (max-width:250px){
	
.voxFormElement{
	width:100px;
	}
	}