@charset "utf-8";

*{
	margin:0;
	padding:0;
	}
	
img{
	width: 99%;
	height:auto;
	}

body{
	background-color:#f6f3f4;
	font-family: 'ubuntumedium';
	}

@font-face{
    font-family: 'ubuntumedium';
    src: url('../fonts/ubuntu-m-webfont.eot');
    src: url('../fonts/ubuntu-m-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ubuntu-m-webfont.woff2') format('woff2'),
         url('../fonts/ubuntu-m-webfont.woff') format('woff'),
         url('../fonts/ubuntu-m-webfont.ttf') format('truetype'),
         url('../fonts/ubuntu-m-webfont.svg#ubuntumedium') format('svg');
    font-weight: normal;
    font-style: normal;
	}

header{
	width:100%;
	border-bottom: 4px solid #a00034;
	background-color:#FFFFFF;
	}
	
.cabecera{
	max-width:1000px;
	margin:auto;
	padding:0.5em 0;
	}
	
.logo{
	max-width:285px;
	}
	
.contenido_basico{
	max-width:700px;
	margin:auto;
	}
	
.contenido_basico h1{
	text-align:right;
	margin-top:2em;
	font-size:2em;
	color:#a00034;
	display:inline-block;
	vertical-align:middle;
	width:85%;
	}
	
.ico{
	display:inline-block;
	vertical-align:bottom;
	max-width:90px;
	margin-left:0.5em;
	width:10%;
	}
	
.contenido_basico h2{
	text-align:center;
	font-size:1.6em;
	color:#585254;
	margin-top:1.5em;
	}
	
.contenido_basico p{
	text-align:center;
	font-size:1.2em;
	color:#585254;
	margin-top:1.5em;
	}
	
.photo{
	margin-top:3em;
	margin-bottom:2em;
	}
	
footer{
	width:100%;
	background-color:#a00034;
	height:80px;
	}
	
@media (max-width:700px){
	
.contenido_basico h1{
	font-size:1.6em;
	width:80%;
	}
	
.contenido_basico h2{
	font-size:1.2em;
	}
	
.contenido_basico p{
	font-size:1em;
	}
	
.ico{
	width:7%;
	}
	}
	
@media (max-width:550px){

.contenido_basico h1{
	font-size:1.3em;
	width:84%;
	}
	}

@media (max-width:400px){
.ico{
	vertical-align:middle;
	width:15%;
	}

.contenido_basico h1{
	width:70%;
	}
	}