article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display: block;}
.col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11, .col12 {padding:0;margin:0;}
input {width:auto;}
section {padding:10px;}
section, #menulat, label, input, textarea, ul.error3 {margin-left:5px;margin-right:5px;}
section .cont {width:auto;padding:10px;}
section.gris, aside.gris, .cont.color.gris {border:1px solid #999;}
#side aside, #side aside {width:218px !ie;margin-left:5px !ie;margin-right:5px !ie;}
#side aside .cont, #side aside .cont {width:198px !ie;}
#side input, #side select, #side textarea {margin-left:0;margin-right:0 !ie;}
.hh1 {width:308px;min-width:auto;}
header .hh1 {width:450px;}
header .hh1 strong {display:none;}

#menu {display:block !ie;height:42px !ie;}
#menu li {float:left !ie; height:42px !ie;margin-right:2px !ie}

#menu > li > span {display:block ie!;height:42px;height:42px !ie;border:1px solid #ebebeb;}
#menu li a {display:block !ie;}
#menu > li > span > a {display:block !ie;height:32px !ie;width:auto !ie;padding-top:10px !ie; background-image:url(http://img.sanitasweb.es/f-menu-a.gif);background-position:0 0; background-repeat:repeat-x;}
#menu > li.active > span > a {padding-top:10px !ie}
/*
#menu {width:auto;}
#menu li {float:left;}
#menu > li > span {display:block;border:1px solid #ebebeb;}
#menu > li > span > a {display:block;width:auto;min-height:30px;padding:5px 12px 5px 12px !important;overflow:visible;}
#menu > li > span > a.nodobla, #menu > li.home > span > a {padding:5px 12px 5px 12px !important;}
#menu li.active {height:42px}
#menu li.active > span > a {height:40px !important;padding-botom:0px !important;}
#menu li.active > span > a.nodobla {padding-botom:6px !important;}
*/

input[type="text"],input[type="search"],input[type="password"], input[type="email"], input[type="tel"], select, textarea {padding: 6px 0 !important;box-sizing:content-box !important;height:auto;line-height:auto}
.titulo h3 {padding:0.5em 0; text-indent:0.5em;}
.tablerow {display:block;clear:both;}
.productos section {float:left;}
.colum3.productos section {width:32%;margin:0 0.5% 1% 0.5%;}
.landing form section, .landing form section input {margin-left:0;margin-right:0;}
/*fechas*/
.date .day, .date .month {width:22% !important;margin-right:3% !important;}
.date .year {width:45% !important;margin-right:0 !important;}
.date select.month {width:47% !important;}
.date select.year {width:25% !important;}
/* hacks ie7 */
*+header nav, header.lite nav {max-width:none;width:100%;}
*+#menu > li {float:left;}
*+#menu > li > span > a {box-sizing:content-box;height:28px;padding:5px 16px 5px 16px !important;border:1px solid #C1C1C1;overflow:visible;display:inline-block;float:left;width:auto !important;}
*+#menu > li.home > span > a{padding:10px 5px 5px 5px !important}
*+#menu > li.home > span > a > span {display:block;margin:0 auto}
*+#menu > li .submenu {left:0;}
*+#menu > li:hover .submenu {display:block;}
*+header.lite{display:block;float:left;z-index:999 !important;border:1px solid red!important;}
*+#menu .submenu {overflow:hidden}
*+#menu .submenu > li {display:block !important;width:100% !important;text-align:left;float:left;clear:left;z-index:9999 !important;}
*+#menu .submenu > li > a{display:block !important;width:100% !important;}
header.lite nav {max-width:540px\0/;width:540px\0/;}/* ie8 hack */
/*tooltip*/
.tooltip > div {width:164px;}
/*buscador*/
input#s:focus, input#s{width:245px !important;right:0;}
#buscador input{line-height:normal;height:15px !important;padding-left:25px !important;}