#calendar-widget .fc-day-number,
#footer,
#header .skin-switch,
.actions>a,
.actions>li>a,
.ahs-close,
.contacts .c-footer>button,
.contacts .c-info,
.load-more,
.pt-inner,
.pt-inner .pti-footer>a,
.view-more,
.wi-preview,
.wp-media {
    text-align: center
}

.ahs-close,
.lg-slide em {
    font-style: normal
}

.t-view[data-tv-type=image]:before {
    content: "\f17f";
    background: #4CAF50;
    box-shadow: 0 0 0 1px #4CAF50
}

.t-view[data-tv-type=image]:after {
    background: #4CAF50
}

.t-view[data-tv-type=video]:before {
    content: "\f3a9";
    background: #FFC107;
    box-shadow: 0 0 0 1px #FFC107
}

.t-view[data-tv-type=video]:after {
    background: #FFC107
}

.t-view .tvb-stats {
    list-style: none;
    padding: 0;
    margin: 10px 0 20px
}

.t-view .tvb-stats>li {
    display: inline-block;
    padding: 5px 10px 6px;
    border: 1px solid #ccc;
    margin-right: 2px
}

.t-view .tvb-stats>li i {
    font-size: 15px;
    line-height: 100%;
    vertical-align: top;
    margin-top: 2px
}

.t-view .tvb-stats>li.tvbs-comments {
    border-color: #4CAF50;
    color: #4CAF50
}

.t-view .tvb-stats>li.tvbs-likes {
    border-color: #03A9F4;
    color: #03A9F4
}

.t-view .tvb-stats>li.tvbs-views {
    border-color: #FF9800;
    color: #FF9800
}

.tv-comments .tvc-lists {
    padding: 0;
    list-style: none;
    margin: 0
}

.tv-comments .tvc-lists>li {
    padding: 15px 20px;
    margin: 0;
    border-top: 1px solid #eee
}

.tvc-more {
    color: #333;
    display: block;
    margin-bottom: -10px
}

.tvc-more:hover {
    color: #000
}

.tvc-more i {
    vertical-align: middle;
    margin-right: 5px
}

.p-header {
    position: relative;
    margin: 0 -7px
}

.p-header .actions {
    position: absolute;
    top: -18px;
    right: 0
}

.p-menu {
    list-style: none;
    padding: 0 5px;
    margin: 0 0 30px
}

.p-menu>li {
    display: inline-block;
    vertical-align: top
}

.p-menu>li>a {
    display: block;
    padding: 5px 20px 5px 0;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 15px
}

.p-menu>li>a>i {
    margin-right: 4px;
    font-size: 20px;
    vertical-align: middle;
    margin-top: -5px
}

.p-menu>li:not(.active)>a {
    color: #4285F4
}

.p-menu>li:not(.active)>a:hover {
    color: #333
}

.p-menu>li.active>a {
    color: #000
}

@media (max-width:991px) {
    .p-menu .pm-search {
        margin: 20px 2px 30px;
        display: block
    }
    .p-menu .pm-search input[type=text] {
        width: 100%;
        border: 1px solid #ccc
    }
}

.p-menu .pms-inner {
    margin: -2px 0 0;
    position: relative;
    top: -2px;
    overflow: hidden;
    white-space: nowrap
}

.p-menu .pms-inner i {
    vertical-align: top;
    font-size: 20px;
    line-height: 100%;
    position: absolute;
    left: 9px;
    top: 8px;
    color: #333
}

.p-menu .pms-inner input[type=text] {
    height: 35px;
    border-radius: 2px;
    padding: 0 10px 0 40px
}

@media (min-width:768px) {
    .p-menu .pms-inner input[type=text] {
        border: 1px solid #fff;
        width: 50px;
        background: 0 0;
        position: relative;
        z-index: 1;
        -webkit-transition: all;
        -o-transition: all;
        transition: all;
        -webkit-transition-duration: .3s;
        transition-duration: .3s
    }
    .p-menu .pms-inner input[type=text]:focus {
        border-color: #DFDFDF;
        width: 200px
    }
}

.photos {
    margin: 2px 0 0
}

.photos .lightbox {
    margin: 0 -8px
}

.photos:not(.p-timeline) [data-src] {
    padding: 3px;
    -webkit-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-duration: 150ms;
    transition-duration: 150ms
}

.p-timeline {
    position: relative;
    padding-left: 80px;
    margin-bottom: 75px
}

.p-timeline [data-src] {
    float: left;
    width: 70px;
    height: 70px;
    margin: 0 3px 3px 0
}

.p-timeline:last-child .pt-line:before,
.pt-line {
    height: 100%
}

.ptb-title {
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 20px
}

.pt-line {
    position: absolute;
    left: 0;
    top: 0;
    line-height: 14px
}

.pt-line:after,
.pt-line:before {
    content: "";
    position: absolute
}

.pt-line:before {
    width: 1px;
    height: calc(100% + 63px);
    background: #E2E2E2;
    top: 14px;
    right: -20px
}

.pt-line:after {
    top: 2px;
    right: -26px;
    width: 13px;
    height: 13px;
    border: 1px solid #C1C1C1;
    border-radius: 50%
}

.contacts:not(.c-profile) {
    padding: 0 8px
}

.contacts>[class*=col-] {
    padding: 0 10px
}

.contacts .c-item {
    border: 1px solid #e2e2e2;
    border-radius: 2px;
    margin-bottom: 24px
}

.contacts .c-item .ci-avatar {
    display: block
}

.contacts .c-item .ci-avatar img {
    width: 100%;
    border-radius: 2px 2px 0 0
}

.contacts .ci-avatar {
    margin: -1px -1px 0
}

.contacts .c-info {
    margin-top: 15px;
    padding: 0 5px
}

.contacts .c-info strong {
    color: #000;
    font-size: 14px;
    font-weight: 500
}

.contacts .c-info small {
    color: #999;
    margin-top: 3px
}

.contacts .c-info small,
.contacts .c-info strong {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block
}

.contacts .c-footer {
    border-top: 1px solid #e2e2e2;
    margin-top: 18px
}

.contacts .c-footer>button {
    padding: 7px 10px;
    color: #333;
    display: block;
    width: 100%;
    font-weight: 500;
    border-radius: 2px;
    background: #fff;
    border: 0
}

.contacts .c-footer>button>i {
    font-size: 16px;
    vertical-align: middle;
    margin-top: -3px
}

.z-depth-1 {
    box-shadow: 0 2px 5px rgba(0, 0, 0, .16), 0 2px 10px rgba(0, 0, 0, .12)
}

.z-depth-1-top {
    box-shadow: 0 2px 10px rgba(0, 0, 0, .12)
}

.z-depth-1-bottom {
    box-shadow: 0 2px 5px rgba(0, 0, 0, .16)
}

.z-depth-2 {
    box-shadow: 0 8px 17px rgba(0, 0, 0, .2), 0 6px 20px rgba(0, 0, 0, .19)
}

.z-depth-2-top {
    box-shadow: 0 6px 20px rgba(0, 0, 0, .19)
}

.z-depth-2-bottom {
    box-shadow: 0 8px 17px rgba(0, 0, 0, .2)
}

.z-depth-3 {
    box-shadow: 0 12px 15px rgba(0, 0, 0, .24), 0 17px 50px rgba(0, 0, 0, .19)
}

.z-depth-3-top {
    box-shadow: 0 17px 50px rgba(0, 0, 0, .19)
}

.z-depth-3-bottom {
    box-shadow: 0 12px 15px rgba(0, 0, 0, .24)
}

.z-depth-4 {
    box-shadow: 0 16px 28px rgba(0, 0, 0, .22), 0 25px 55px rgba(0, 0, 0, .21)
}

.z-depth-4-top {
    box-shadow: 0 25px 55px rgba(0, 0, 0, .21)
}

.z-depth-4-bottom {
    box-shadow: 0 16px 28px rgba(0, 0, 0, .22)
}

.z-depth-5 {
    box-shadow: 0 27px 24px rgba(0, 0, 0, .2), 0 40px 77px rgba(0, 0, 0, .22)
}

.z-depth-5-top {
    box-shadow: 0 40px 77px rgba(0, 0, 0, .22)
}

.z-depth-5-bottom {
    box-shadow: 0 27px 24px rgba(0, 0, 0, .2)
}

.z-depth-animation .z-depth-1,
.z-depth-animation .z-depth-2,
.z-depth-animation .z-depth-3,
.z-depth-animation .z-depth-4,
.z-depth-animation .z-depth-5 {
    transition: box-shadow .28s cubic-bezier(.4, 0, .2, 1)
}

.block-header {
    margin-bottom: 25px;
    position: relative
}

@media screen and (min-width:768px) {
    .block-header {
        padding: 0 22px
    }
}

@media screen and (max-width:991px) {
    .block-header {
        padding: 0 18px
    }
}

.block-header>h2 {
    font-size: 15px;
    color: #777;
    margin: 0;
    font-weight: 400;
    text-transform: uppercase
}

.block-header>h2>small {
    display: block;
    text-transform: none;
    margin-top: 8px;
    margin-bottom: 20px;
    color: #9E9E9E;
    line-height: 140%
}

.block-header .actions {
    position: absolute;
    right: 10px;
    top: -5px;
    z-index: 4
}

.actions {
    list-style: none;
    padding: 0;
    z-index: 3;
    margin: 0
}

.actions>li {
    display: inline-block;
    vertical-align: baseline
}

.actions>a,
.actions>li>a {
    width: 30px;
    height: 30px;
    display: inline-block;
    padding-top: 5px
}

.actions>a>i,
.actions>li>a>i {
    color: #adadad;
    font-size: 20px
}

.actions.open>a>i,
.actions>a:hover>i,
.actions>li.open>a>i,
.actions>li>a:hover>i {
    color: #000
}

.actions.open>a:before,
.actions>li.open>a:before {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    filter: alpha(opacity=100)
}

.actions.actions-alt>li.open>a>i,
.actions.actions-alt>li>a>i,
.actions.actions-alt>li>a>i:hover {
    color: #fff
}

.actions.open {
    z-index: 4
}

.line-wrap {
    width: 18px;
    height: 12px;
    -webkit-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    margin: 12px 20px
}

.line-wrap .line,
.pt-inner .pti-footer>a {
    -webkit-transition: all;
    -o-transition: all
}

.line-wrap .line {
    width: 18px;
    height: 2px;
    transition: all;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    background-color: #fff
}

.line-wrap .line.center {
    margin: 3px 0
}

.toggled .line-wrap {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg)
}

.toggled .line-wrap .line.top {
    width: 12px;
    transform: translateX(8px) translateY(1px) rotate(45deg);
    -webkit-transform: translateX(8px) translateY(1px) rotate(45deg)
}

.toggled .line-wrap .line.bottom {
    width: 12px;
    transform: translateX(8px) translateY(-1px) rotate(-45deg);
    -webkit-transform: translateX(8px) translateY(-1px) rotate(-45deg)
}

.load-more {
    margin-top: 30px
}

.load-more a {
    padding: 8px 10px 6px;
    display: inline-block;
    background-color: #F44336;
    color: #FFF;
    border-radius: 2px;
    white-space: nowrap
}

.load-more a i {
    font-size: 20px;
    vertical-align: middle;
    position: relative;
    margin-top: -2px
}

.load-more a:hover {
    background-color: #ea1c0d
}

.view-more {
    display: block;
    padding: 10px 10px 11px;
    line-height: 100%;
    font-size: 11px;
    margin-top: 20px;
    text-transform: uppercase;
    color: #777
}

.ah-search,
html.ismobile .page-loader {
    display: none
}

.ah-label,
.ahs-input {
    font-size: 15px
}

.view-more:hover {
    color: #5E5E5E
}

html:not(.ismobile) .page-loader {
    background: #fff;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1000
}

html:not(.ismobile) .page-loader .preloader {
    width: 50px;
    position: absolute;
    left: 50%;
    margin-left: -25px;
    top: 50%;
    margin-top: -55px;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

.ah-search,
.ahs-input {
    height: 100%;
    width: 100%
}

html:not(.ismobile) .page-loader .preloader p {
    white-space: nowrap;
    position: relative;
    left: -9px;
    top: 22px;
    color: #CCC
}

.action-header {
    padding: 25px 30px;
    line-height: 100%;
    position: relative;
    z-index: 1;
    min-height: 65px;
    background-color: #F7F7F7
}

.action-header .actions {
    position: absolute;
    top: 18px;
    right: 17px;
    z-index: 10
}

.ah-search {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 11;
    background-color: #454E53
}

.ahs-input {
    border: 0;
    padding: 0 26px;
    line-height: 60px;
    background-color: #F7F7F7
}

.ahs-close,
[class*=avatar-img] {
    border-radius: 50%
}

.ahs-close,
.ie-warning p {
    font-size: 17px
}

.ahs-close {
    position: absolute;
    top: 23px;
    right: 25px;
    line-height: 100%;
    cursor: pointer;
    background: #E2E2E2;
    width: 18px;
    height: 18px;
    color: #6B6B6B
}

.ie-warning,
.ma-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%
}

.ahs-close:hover {
    opacity: .8
}

.ma-backdrop {
    width: 100%;
    z-index: 9;
    cursor: pointer
}

.avatar-img {
    width: 42px
}

.ie-warning {
    z-index: 9999;
    background: #000;
    width: 100%;
    text-align: center;
    color: #fff;
    font-family: "Courier New", Courier, monospace;
    padding: 50px 0
}

.ie-warning .iew-container {
    min-width: 1024px;
    width: 100%;
    height: 200px;
    background: #fff;
    margin: 50px 0
}

.ie-warning .iew-download {
    list-style: none;
    padding: 30px 0;
    margin: 0 auto;
    width: 720px
}

.ie-warning .iew-download>li {
    float: left;
    vertical-align: top
}

.ie-warning .iew-download>li>a {
    display: block;
    color: #000;
    width: 140px;
    font-size: 15px;
    padding: 15px 0
}

#footer,
#footer .f-menu>li>a {
    color: #a2a2a2
}

.ie-warning .iew-download>li>a>div {
    margin-top: 10px
}

.ie-warning .iew-download>li>a:hover {
    background-color: #eee
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 110px;
    padding-top: 35px;
    padding-bottom: 15px
}

@media (min-width:1280px) {
    #footer {
        padding-left: 268px
    }
}

#footer .f-menu {
    display: block;
    width: 100%;
    padding-left: 0;
    list-style: none;
    margin-left: -5px;
    margin-top: 8px
}

#footer .f-menu>li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px
}

#footer .f-menu>li>a:hover {
    color: #777
}

.sidebar-toggled #footer {
    display: none
}

.pt-inner .pti-header {
    padding: 45px 10px 70px;
    color: #fff;
    position: relative;
    margin-bottom: 15px
}

.pt-inner .pti-header>h2 {
    margin: 0;
    line-height: 100%;
    color: #fff;
    font-weight: 100;
    font-size: 50px
}

.pt-inner .pti-header>h2 small {
    color: #fff;
    letter-spacing: 0;
    vertical-align: top;
    font-size: 16px;
    font-weight: 100
}

.pt-inner .pti-header .ptih-title {
    background-color: rgba(0, 0, 0, .1);
    padding: 8px 10px 9px;
    text-transform: uppercase;
    margin: 0 -10px;
    position: absolute;
    width: 100%;
    bottom: 0
}

.pt-inner .pti-body {
    padding: 0 23px
}

.pt-inner .pti-body .ptib-item {
    padding: 15px 0;
    font-weight: 400
}

.pt-inner .pti-body .ptib-item:not(:last-child) {
    border-bottom: 1px solid #eee
}

.pt-inner .pti-footer {
    padding: 10px 20px 30px
}

.pt-inner .pti-footer>a {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    line-height: 60px;
    font-size: 30px;
    transition: all;
    -webkit-transition-duration: .3s;
    transition-duration: .3s
}

.pt-inner .pti-footer>a:hover {
    opacity: .85;
    filter: alpha(opacity=85);
    box-shadow: 0 2px 5px rgba(0, 0, 0, .16), 0 2px 10px rgba(0, 0, 0, .12)
}

.invoice {
    min-width: 1100px;
    max-width: 1170px
}

.i-logo {
    width: 150px
}

.i-table .highlight {
    background-color: #eee;
    border-bottom: 1px solid #e6e6e6
}


.wp-text {
    border: 0;
    display: block;
    width: 100%;
    resize: none!important;
    padding: 20px 25px
}

.wp-media {
    background: #F7F7F7;
    border: 1px solid #E4E4E4;
    padding: 12px 15px;
    margin: 10px 20px 20px
}

.wp-actions {
    padding: 10px 15px 10px 20px;
    background-color: #F7F7F7
}

.wpa-media-list>a {
    font-size: 20px;
    margin-right: 8px
}

.wpa-media-list>a:hover {
    opacity: .7;
    filter: alpha(opacity=70)
}

.wis-numbers {
    float: left
}

.wis-numbers>span {
    margin-right: -1px;
    padding: 7px 12px;
    border: 1px solid #E0E0E0;
    float: left;
    font-weight: 500
}

.wis-numbers>span>i {
    line-height: 100%;
    vertical-align: top;
    position: relative;
    top: 3px;
    font-size: 15px;
    margin-right: 2px
}

.wis-numbers>span.active {
    color: #4CAF50
}

.wis-commentors {
    float: right
}

.wis-commentors>a {
    display: inline-block;
    margin-left: 2px
}

.wis-commentors>a>img {
    width: 33px;
    height: 33px;
    border-radius: 50%
}

.wis-commentors>a>img:hover {
    opacity: .85;
    filter: alpha(opacity=85)
}

@media screen and (min-width:768px) {
    .wi-preview {
        margin: 0 -23px 20px
    }
}

@media screen and (max-width:991px) {
    .wi-preview {
        margin: 0 -16px 20px
    }
}

.wi-preview .wip-item {
    display: block;
    float: left;
    position: relative;
    overflow: hidden;
    border: 2px solid #fff;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    cursor: pointer
}

.wi-preview .wip-item:hover {
    opacity: .9;
    filter: alpha(opacity=90)
}

.wi-preview .wip-item>img {
    display: none
}

.wi-preview .wip-item:first-child:nth-last-child(2),
.wi-preview .wip-item:first-child:nth-last-child(2)~div {
    width: 50%;
    padding-bottom: 40%
}

.wi-preview .wip-item:first-child:nth-last-child(3),
.wi-preview .wip-item:first-child:nth-last-child(3)~div,
.wi-preview .wip-item:first-child:nth-last-child(4),
.wi-preview .wip-item:first-child:nth-last-child(4)~div:not(:last-child),
.wi-preview .wip-item:first-child:nth-last-child(5),
.wi-preview .wip-item:first-child:nth-last-child(5)~div:not(:nth-last-of-type(-n+2)),
.wi-preview .wip-item:first-child:nth-last-child(6),
.wi-preview .wip-item:first-child:nth-last-child(6)~div,
.wi-preview .wip-item:first-child:nth-last-child(7)~div:nth-last-of-type(-n+3) {
    width: 33.333333%;
    padding-bottom: 30%
}

.wi-preview .wip-item:first-child:nth-last-child(5)~div:nth-last-of-type(-n+2) {
    width: 50%;
    padding-bottom: 40%
}

.wi-preview .wip-item:first-child:nth-last-child(7),
.wi-preview .wip-item:first-child:nth-last-child(7)~div:not(:nth-last-of-type(-n+3)),
.wi-preview .wip-item:first-child:nth-last-child(n+8),
.wi-preview .wip-item:first-child:nth-last-child(n+8)~div {
    width: 25%;
    padding-bottom: 22%
}

.wi-preview .wip-item:first-child:nth-last-child(4)~div:nth-child(4),
.wi-preview .wip-item:only-child {
    width: 100%;
    padding-bottom: 50%
}

.wi-comments {
    background: #F7F7F7
}

.wi-comments .list-group {
    margin-bottom: -10px;
    padding-top: 10px
}

.wic-form {
    padding: 20px 23px
}

.wic-form textarea {
    width: 100%;
    resize: none;
    border: 1px solid #E8E8E8;
    padding: 12px 15px;
    height: 45px
}

#header .ss-skin,
.ss-skin {
    border-radius: 50%;
    cursor: pointer
}

.wic-form.toggled textarea {
    height: auto
}

.wic-form.toggled .wicf-actions {
    display: block
}

.wicf-actions {
    margin-top: 10px;
    display: none
}

#header .skin-switch {
    padding: 10px 0 2px
}

#header .ss-skin {
    width: 16px;
    height: 16px;
    display: inline-block;
    margin: 2px 3px
}

@media (min-width:992px) {
    #header-alt .skin-switch {
        position: absolute;
        right: 50px;
        bottom: 23px;
        z-index: 1
    }
    #header-alt .skin-switch .btn {
        background: #fff;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        font-size: 25px;
        z-index: 2
    }
    #header-alt .skin-switch .dropdown-menu {
        display: block;
        min-width: 130px;
        height: 130px;
        border-radius: 50%;
        width: 130px;
        top: -42px;
        left: -40px;
        z-index: 1;
        -webkit-transform-origin: center;
        -moz-transform-origin: center;
        -ms-transform-origin: center;
        transform-origin: center;
        -webkit-transform: scale(0) rotate(-360deg);
        -ms-transform: scale(0) rotate(-360deg);
        -o-transform: scale(0) rotate(-360deg);
        transform: scale(0) rotate(-360deg);
        -webkit-transition-duration: .5s;
        transition-duration: .5s
    }
    #header-alt .skin-switch .dropdown-menu .ss-skin {
        position: absolute
    }
    #header-alt .skin-switch .dropdown-menu .ss-skin.ss-1 {
        margin-left: -8px;
        top: 12px;
        left: 50%
    }
    #header-alt .skin-switch .dropdown-menu .ss-skin.ss-2 {
        right: 24px;
        top: 26px
    }
    #header-alt .skin-switch .dropdown-menu .ss-skin.ss-3 {
        top: 50%;
        margin-top: -8px;
        right: 12px
    }
    #header-alt .skin-switch .dropdown-menu .ss-skin.ss-4 {
        right: 24px;
        bottom: 26px
    }
    #header-alt .skin-switch .dropdown-menu .ss-skin.ss-5 {
        margin-left: -8px;
        bottom: 12px;
        left: 50%
    }
    #header-alt .skin-switch .dropdown-menu .ss-skin.ss-6 {
        left: 24px;
        bottom: 26px
    }
    #header-alt .skin-switch .dropdown-menu .ss-skin.ss-7 {
        top: 50%;
        margin-top: -8px;
        left: 12px
    }
    #header-alt .skin-switch .dropdown-menu .ss-skin.ss-8 {
        left: 24px;
        top: 26px
    }
    #header-alt .skin-switch.open .dropdown-menu {
        -webkit-transform: scale(1) rotate(0);
        -ms-transform: scale(1) rotate(0);
        -o-transform: scale(1) rotate(0);
        transform: scale(1) rotate(0)
    }
}

@media (max-width:991px) {
    #header-alt .skin-switch {
        display: none
    }
}

.ss-skin {
    width: 16px;
    height: 16px
}

.ss-skin:hover {
    opacity: .8;
    filter: alpha(opacity=80)
}

[data-ma-theme=lightblue] {
    background-color: #03A9F4
}

[data-ma-theme=lightblue] .ss-icon {
    color: #03A9F4
}

@media (max-width:767px) {
    [data-ma-theme=lightblue] .ha-menu {
        background: #03A9F4
    }
    [data-ma-theme=bluegray] .ha-menu {
        background: #607D8B
    }
}

[data-ma-theme=bluegray] {
    background-color: #607D8B
}

[data-ma-theme=bluegray] .ss-icon {
    color: #607D8B
}

[data-ma-theme=blue] {
    background-color: #2196F3
}

[data-ma-theme=blue] .ss-icon {
    color: #2196F3
}

@media (max-width:767px) {
    [data-ma-theme=blue] .ha-menu {
        background: #2196F3
    }
    [data-ma-theme=purple] .ha-menu {
        background: #BA68C8
    }
}

[data-ma-theme=purple] {
    background-color: #BA68C8
}

[data-ma-theme=purple] .ss-icon {
    color: #BA68C8
}

[data-ma-theme=orange] {
    background-color: #FF9800
}

[data-ma-theme=orange] .ss-icon {
    color: #FF9800
}

@media (max-width:767px) {
    [data-ma-theme=orange] .ha-menu {
        background: #FF9800
    }
    [data-ma-theme=cyan] .ha-menu {
        background: #00BCD4
    }
}

[data-ma-theme=cyan] {
    background-color: #00BCD4
}

[data-ma-theme=cyan] .ss-icon {
    color: #00BCD4
}

[data-ma-theme=green] {
    background-color: #4CAF50
}

[data-ma-theme=green] .ss-icon {
    color: #4CAF50
}

@media (max-width:767px) {
    [data-ma-theme=green] .ha-menu {
        background: #4CAF50
    }
    [data-ma-theme=teal] .ha-menu {
        background: #009688
    }
}

[data-ma-theme=teal] {
    background-color: #009688
}

[data-ma-theme=teal] .ss-icon {
    color: #009688
}

[data-ma-theme=pink] {
    background-color: #E91E63
}

[data-ma-theme=pink] .ss-icon {
    color: #E91E63
}

@media (max-width:767px) {
    [data-ma-theme=pink] .ha-menu {
        background: #E91E63
    }
}

.preloader {
    position: relative;
    margin: 0 auto;
    display: inline-block
}

.preloader:not([class*=pl-]) {
    width: 40px
}

.preloader:before {
    content: '';
    display: block;
    padding-top: 100%
}

.preloader.pl-xs {
    width: 20px
}

.preloader.pl-sm {
    width: 30px
}

.preloader.pl-lg {
    width: 50px
}

.preloader.pl-xl {
    width: 80px
}

.preloader.pl-xxl {
    width: 100px
}

.preloader:not([class*=pls-]) .plc-path {
    animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite
}

.preloader[class*=pls-] .plc-path {
    animation: dash 1.5s ease-in-out infinite
}

.preloader.pls-red .plc-path {
    stroke: #F44336
}

.preloader.pls-blue .plc-path {
    stroke: #2196F3
}

.preloader.pls-green .plc-path {
    stroke: #4CAF50
}

.preloader.pls-yellow .plc-path {
    stroke: #FFEB3B
}

.preloader.pls-bluegray .plc-path {
    stroke: #607D8B
}

.preloader.pls-amber .plc-path {
    stroke: #FFC107
}

.preloader.pls-teal .plc-path {
    stroke: #009688
}

.preloader.pls-gray .plc-path {
    stroke: #9E9E9E
}

.preloader.pls-pink .plc-path {
    stroke: #E91E63
}

.preloader.pls-purple .plc-path {
    stroke: #BA68C8
}

.preloader.pls-white .plc-path {
    stroke: #fff
}

.pl-circular {
    animation: rotate 2s linear infinite;
    height: 100%;
    transform-origin: center center;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto
}

.plc-path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    stroke-width: 2;
    stroke-miterlimit: 10;
    fill: none
}

@keyframes rotate {
    100% {
        transform: rotate(360deg)
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px
    }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124px
    }
}

@keyframes color {
    0%,
    100% {
        stroke: #F44336
    }
    40% {
        stroke: #2196F3
    }
    66% {
        stroke: #4CAF50
    }
    80%,
    90% {
        stroke: #FFC107
    }
}

@media print {
    .invoice .card-header,
    .invoice .highlight {
        background: #eee!important
    }
    @page {
        margin: 0;
        size: auto
    }
    body {
        margin: 0!important;
        padding: 0!important
    }
    #chat,
    #footer,
    #header,
    #sidebar,
    .growl-animated,
    .m-btn {
        display: none!important
    }
    .invoice {
        padding: 30px!important;
        -webkit-print-color-adjust: exact!important
    }
    .invoice .card-header {
        padding: 20px;
        margin: -60px -30px 25px
    }
    .invoice .block-header {
        display: none
    }
}

.mejs-container {
    outline: 0
}

.bootstrap-select .dropdown-toggle:focus,
.mejs-container .mejs-controls .mejs-button button:focus {
    outline: 0!important
}

.mejs-container .mejs-controls {
    background: #ec592f;
    height: 50px;
    padding: 10px 5px 0
}

.mejs-container .mejs-controls div {
    height: 5px
}

.mejs-container .mejs-controls div.mejs-time-rail {
    position: absolute;
    left: 0;
    top: 0;
    padding: 0;
    width: 100%!important
}

.mejs-container .mejs-controls div.mejs-time-rail .mejs-time-total {
    margin: 0;
    width: 100%!important;
    background: #ec592f
}

.mejs-container .mejs-controls div.mejs-time-rail .mejs-time-loaded {
    background: #D04B25
}

.mejs-container .mejs-controls div.mejs-time-rail .mejs-time-current {
    background: #ffea00
}

.mejs-container .mejs-controls div.mejs-time-rail .mejs-time-buffering {
    background: #ec592f
}

.mejs-container .mejs-controls div.mejs-time-rail a,
.mejs-container .mejs-controls div.mejs-time-rail span:not(.mejs-time-float) {
    border-radius: 0;
    height: 3px
}

.mejs-container .mejs-controls .mejs-button button {
    background-color: #ec592f;
    width: 15px;
    height: 15px;
    background-position: center
}

.mejs-container .mejs-controls .mejs-volume-button {
    position: absolute;
    right: 35px
}

.mejs-container .mejs-controls .mejs-play button {
    background-image: url(../img/icons/play.png)
}

@media only screen and (-webkit-min-device-pixel-ratio:2),
only screen and (min--moz-device-pixel-ratio:2),
only screen and (-o-min-device-pixel-ratio:2/1),
only screen and (min-device-pixel-ratio:2),
only screen and (min-resolution:192dpi),
only screen and (min-resolution:2dppx) {
    .mejs-container .mejs-controls .mejs-play button {
        background-image: url(../img/icons/play@2x.png);
        background-size: 15px 15px
    }
}

.mejs-container .mejs-controls .mejs-pause button {
    background-image: url(../img/icons/pause.png)
}

@media only screen and (-webkit-min-device-pixel-ratio:2),
only screen and (min--moz-device-pixel-ratio:2),
only screen and (-o-min-device-pixel-ratio:2/1),
only screen and (min-device-pixel-ratio:2),
only screen and (min-resolution:192dpi),
only screen and (min-resolution:2dppx) {
    .mejs-container .mejs-controls .mejs-pause button {
        background-image: url(../img/icons/pause@2x.png);
        background-size: 15px 15px
    }
}

.mejs-container .mejs-controls .mejs-mute button {
    background-image: url(../img/icons/speaker.png)
}

@media only screen and (-webkit-min-device-pixel-ratio:2),
only screen and (min--moz-device-pixel-ratio:2),
only screen and (-o-min-device-pixel-ratio:2/1),
only screen and (min-device-pixel-ratio:2),
only screen and (min-resolution:192dpi),
only screen and (min-resolution:2dppx) {
    .mejs-container .mejs-controls .mejs-mute button {
        background-image: url(../img/icons/speaker@2x.png);
        background-size: 15px 15px
    }
}

.mejs-container .mejs-controls .mejs-unmute button {
    background-image: url(../img/icons/speaker-2.png)
}

@media only screen and (-webkit-min-device-pixel-ratio:2),
only screen and (min--moz-device-pixel-ratio:2),
only screen and (-o-min-device-pixel-ratio:2/1),
only screen and (min-device-pixel-ratio:2),
only screen and (min-resolution:192dpi),
only screen and (min-resolution:2dppx) {
    .mejs-container .mejs-controls .mejs-unmute button {
        background-image: url(../img/icons/speaker-2@2x.png);
        background-size: 15px 15px
    }
}

.mejs-container .mejs-controls .mejs-fullscreen-button {
    position: absolute;
    right: 5px
}

.mejs-container .mejs-controls .mejs-fullscreen-button button {
    background-image: url(../img/icons/fullscreen.png)
}

@media only screen and (-webkit-min-device-pixel-ratio:2),
only screen and (min--moz-device-pixel-ratio:2),
only screen and (-o-min-device-pixel-ratio:2/1),
only screen and (min-device-pixel-ratio:2),
only screen and (min-resolution:192dpi),
only screen and (min-resolution:2dppx) {
    .mejs-container .mejs-controls .mejs-fullscreen-button button {
        background-image: url(../img/icons/fullscreen@2x.png);
        background-size: 15px 15px
    }
}

#fc-actions {
    position: absolute;
    bottom: 10px;
    right: 12px
}

.fc td,
.fc th {
    border-color: transparent
}

.fc th {
    font-weight: 400;
    padding: 5px 0
}

.fc table {
    background: 0 0
}

.fc table tr>td:first-child {
    border-left-width: 0
}

#calendar-widget .fc-toolbar h2 {
    font-size: 16px
}

#calendar-widget .fc-day-number {
    color: #000
}

#calendar-widget .fc-day-grid-event {
    margin: 1px 3px
}

#calendar-widget .ui-widget-header,
#calendar-widget .ui-widget-header th {
    border-width: 0
}

#calendar .fc-toolbar {
    height: 300px;
    background-image: url(../img/cal-header.jpg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    background-position: inherit
}

#calendar .fc-toolbar h2 {
    font-size: 20px;
    color: #fff
}

#calendar .fc-toolbar:before {
    content: "";
    height: 50px;
    width: 100%;
    background: rgba(0, 0, 0, .36);
    position: absolute;
    bottom: 0;
    left: 0
}

#calendar .fc-toolbar .fc-center {
    margin-top: 238px;
    position: relative
}

#calendar .fc-toolbar .ui-button {
    margin-top: 3px
}

#calendar .fc-toolbar .ui-button span {
    color: #fff
}

#calendar .fc-toolbar .ui-button:hover span {
    color: #333
}

@media screen and (max-width:991px) {
    #calendar .fc-toolbar {
        height: 200px
    }
    #calendar .fc-toolbar .fc-center {
        margin-top: 138px
    }
}

#calendar .fc-day-number {
    padding-left: 10px!important;
    color: #CCC;
    text-align: left!important
}

@media screen and (min-width:991px) {
    #calendar .fc-day-number {
        font-size: 25px;
        letter-spacing: -2px
    }
}

#calendar .fc-day-header {
    color: #333!important;
    text-align: left!important
}

#calendar .fc-day-grid-event {
    margin: 1px 9px 0
}

.fc-day-header {
    font-size: 0;
    padding-bottom: 20px!important
}

.fc-day-header:first-letter {
    font-size: 14px;
    color: #c2c2c2;
    text-align: left;
    border-bottom-width: 0;
    border-right-color: #eee;
    padding: 10px 12px;
    text-transform: uppercase;
    font-weight: 700
}

.fc-toolbar {
    margin-bottom: 0;
    padding: 20px 17px 19px;
    position: relative
}

.fc-toolbar h2 {
    margin-top: 7px
}

.fc-toolbar .ui-button {
    border: 0;
    background: 0 0;
    padding: 0;
    outline: 0!important;
    text-align: center;
    width: 30px;
    height: 30px;
    border-radius: 50%
}

.fc-toolbar .ui-button:hover {
    background: #EFEFEF
}

.fc-toolbar .ui-button>span {
    position: relative;
    font-family: Material-Design-Iconic-Font;
    font-size: 24px;
    line-height: 100%;
    width: 30px;
    display: block;
    margin-top: 2px
}

.fc-toolbar .ui-button>span:before {
    position: relative;
    z-index: 1
}

.fc-toolbar .ui-button>span.ui-icon-circle-triangle-w:before {
    content: "\f2fa"
}

.fc-toolbar .ui-button>span.ui-icon-circle-triangle-e:before {
    content: "\f2fb"
}

.fc-event {
    padding: 0;
    font-size: 11px;
    border-radius: 2px;
    border: 0
}

.fc-event .fc-title {
    padding: 2px 8px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.fc-event .fc-time {
    float: left;
    background: rgba(0, 0, 0, .2);
    padding: 2px 6px;
    margin: 0 0 0 -1px
}

.fc-view,
.fc-view>table {
    border: 0;
    overflow: hidden
}

.fc-view>table>tbody>tr>.ui-widget-content {
    border-top: 0
}

div.fc-row {
    margin-right: 0!important;
    border: 0!important
}

.fc-today {
    color: #FFC107!important
}

hr.fc-divider {
    border-width: 1px;
    border-color: #eee
}

.fc-day-grid-container.fc-scroller {
    height: auto!important;
    overflow: hidden!important
}

.event-tag {
    margin-top: 5px
}

.event-tag>span {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-right: 3px;
    position: relative;
    display: inline-block;
    cursor: pointer
}

.event-tag>span:hover {
    opacity: .8;
    filter: alpha(opacity=80)
}

.event-tag>span.selected:before {
    font-family: Material-Design-Iconic-Font;
    content: "\f26b";
    position: absolute;
    text-align: center;
    top: 3px;
    width: 100%;
    font-size: 17px;
    color: #FFF
}

.bootgrid-footer .infoBar,
.bootgrid-header .actionBar {
    text-align: left
}

.bootgrid-footer .search,
.bootgrid-header .search {
    vertical-align: top
}

.bootgrid-header {
    padding: 0 25px 10px
}

.bootgrid-header .search {
    border: 1px solid #e0e0e0
}

.bootgrid-header .search .form-control,
.bootgrid-header .search .input-group-addon {
    border: 0
}

.bootgrid-header .search .glyphicon-search {
    vertical-align: top;
    padding: 9px 10px 0
}

.bootgrid-header .search .glyphicon-search:before {
    content: "\f1c3";
    font-family: Material-Design-Iconic-Font;
    font-size: 17px;
    vertical-align: top;
    line-height: 100%
}

@media (min-width:480px) {
    .bootgrid-header .search {
        width: 300px
    }
}

.bootgrid-header .actions {
    box-shadow: none
}

.bootgrid-header .actions .btn-group {
    border: 1px solid #e0e0e0
}

.bootgrid-header .actions .btn-group .btn {
    height: 35px;
    box-shadow: none!important;
    background: 0 0
}

@media (min-width:768px) {
    .bootgrid-header .actions .btn-group .dropdown-menu {
        left: 0;
        margin-top: 1px
    }
}

.bootgrid-header .actions .btn-group .caret {
    display: none
}

.bootgrid-header .actions .btn-group .zmdi {
    line-height: 100%;
    font-size: 18px;
    vertical-align: top
}

@media (max-width:480px) {
    .bootgrid-header .search {
        width: 100%;
        padding-right: 90px
    }
    .bootgrid-header .actions {
        position: absolute;
        top: 0;
        right: 15px
    }
}

.bootgrid-header .checkbox {
    margin: 10px 15px
}

.bootgrid-table th>.column-header-anchor>.icon {
    top: 0;
    font-size: 20px;
    line-height: 100%
}

.bootgrid-footer .col-sm-6 {
    padding: 10px 30px 20px
}

@media (max-width:768px) {
    .bootgrid-footer .col-sm-6 {
        text-align: center
    }
    .bootgrid-footer .infoBar {
        display: none
    }
}

.bootgrid-footer .infoBar .infos {
    border: 1px solid #e0e0e0;
    display: inline-block;
    float: right;
    padding: 7px 30px;
    font-size: 12px;
    margin-top: 5px
}

.select-cell .checkbox {
    margin: 0
}

.command-delete,
.command-edit {
    background: #fff
}

.bootgrid-table td.loading,
.bootgrid-table td.no-results {
    background-color: #FFF4C6
}

.bootstrap-select {
    width: 100%
}

.bootstrap-select .bs-caret {
    display: none
}

.bootstrap-select>.btn-default {
    background: 0 0!important;
    border-bottom: 1px solid #e0e0e0!important;
    border-radius: 0;
    padding-left: 0;
    padding-right: 0
}

.bootstrap-select>.btn-default:before {
    position: absolute;
    top: 0;
    right: 0;
    content: "";
    height: calc(100% - 2px);
    width: 30px;
    background-color: #FFF;
    background-position: right calc(100% - 7px);
    background-repeat: no-repeat;
    background-image: url(../img/select.png);
    pointer-events: none;
    z-index: 5
}

@media only screen and (-webkit-min-device-pixel-ratio:2),
only screen and (min--moz-device-pixel-ratio:2),
only screen and (-o-min-device-pixel-ratio:2/1),
only screen and (min-device-pixel-ratio:2),
only screen and (min-resolution:192dpi),
only screen and (min-resolution:2dppx) {
    .bootstrap-select>.btn-default:before {
        background-image: url(../img/select@2x.png);
        background-size: 12px 12px
    }
}

.bootstrap-select .bs-searchbox {
    padding: 5px 5px 5px 40px;
    position: relative;
    background: #F7F7F7;
    margin-top: -10px
}

.bootstrap-select .bs-searchbox:before {
    position: absolute;
    left: 0;
    top: 0;
    width: 40px;
    height: 100%;
    content: "\f1c3";
    font-family: Material-Design-Iconic-Font;
    font-size: 25px;
    padding: 4px 0 0 15px
}

.bootstrap-select .check-mark:before,
.chosen-container .chosen-results li.result-selected:before {
    content: "\f26b";
    font-family: Material-Design-Iconic-Font
}

.bootstrap-select .bs-searchbox input {
    border: 0;
    background: 0 0
}

.bootstrap-select.btn-group .dropdown-menu li a.opt {
    padding-left: 17px
}

.bootstrap-select.btn-group .dropdown-menu .no-results {
    padding: 8px 8px 0;
    background-color: #fff
}

.bootstrap-select .check-mark {
    margin-top: -5px!important;
    font-size: 19px;
    -webkit-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    display: block!important;
    position: absolute;
    top: 11px;
    right: 15px
}

.bootstrap-select .selected .check-mark {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1)
}

.bootstrap-select .notify {
    bottom: 0!important;
    margin: 0!important;
    width: 100%!important;
    border: 0!important;
    background: #F44336!important;
    color: #fff!important;
    text-align: center
}

.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 100%
}

.chosen-container .chosen-drop {
    box-shadow: 0 2px 10px rgba(0, 0, 0, .2);
    margin-top: 1px;
    border: 0;
    top: 0;
    border-radius: 2px
}

.chosen-container .chosen-results {
    margin: 0;
    padding: 0;
    max-height: 300px
}

.chosen-container .chosen-results li {
    padding: 10px 17px;
    width: 100%
}

.chosen-container .chosen-results li.highlighted {
    background: rgba(0, 0, 0, .075);
    color: #333
}

.chosen-container .chosen-results li.result-selected {
    background: 0 0;
    color: #5E5E5E;
    position: relative
}

.chosen-container .chosen-results li.result-selected:before {
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 19px
}

.chosen-container .chosen-results li.group-result {
    color: #B2B2B2;
    font-weight: 400;
    padding: 16px 15px 6px;
    margin-top: 9px
}

.chosen-container .chosen-results li.group-result:not(:first-child) {
    border-top: 1px solid #eee
}

.chosen-container-single .chosen-single {
    border-radius: 0;
    overflow: visible;
    height: 34px;
    padding: 6px 0;
    text-transform: uppercase;
    border: 0;
    border-bottom: 1px solid #e0e0e0;
    background: 0 0;
    box-shadow: none
}

.chosen-container-single .chosen-single:before {
    position: absolute;
    top: 0;
    right: 0;
    content: "";
    height: calc(100% - 2px);
    width: 30px;
    background-color: #FFF;
    background-position: right calc(100% - 7px);
    background-repeat: no-repeat;
    background-image: url(../img/select.png);
    pointer-events: none;
    z-index: 5
}

@media only screen and (-webkit-min-device-pixel-ratio:2),
only screen and (min--moz-device-pixel-ratio:2),
only screen and (-o-min-device-pixel-ratio:2/1),
only screen and (min-device-pixel-ratio:2),
only screen and (min-resolution:192dpi),
only screen and (min-resolution:2dppx) {
    .chosen-container-single .chosen-single:before {
        background-image: url(../img/select@2x.png);
        background-size: 12px 12px
    }
}

.chosen-container-single .chosen-single div b {
    display: none
}

.chosen-container-single .chosen-search {
    padding: 5px 5px 5px 40px;
    background: #F7F7F7
}

.chosen-container-single .chosen-search:before {
    content: "\f1c3";
    font-family: Material-Design-Iconic-Font;
    position: absolute;
    left: 0;
    top: 0;
    width: 40px;
    height: 100%;
    font-size: 25px;
    padding: 5px 0 0 15px
}

.chosen-container-single .chosen-search input[type=text] {
    border: 0;
    height: 35px;
    line-height: 1.42857143;
    background-image: none!important
}

.chosen-container-active.chosen-with-drop .chosen-single {
    border: 0;
    background: 0 0
}

.chosen-container-multi .chosen-choices {
    padding: 0;
    border: 0;
    border-bottom: 1px solid #e0e0e0;
    background: 0 0;
    box-shadow: none
}

.chosen-container-multi .chosen-choices li.search-choice {
    border-radius: 2px;
    margin: 4px 4px 0 0;
    background: #eaeaea;
    padding: 5px 23px 5px 8px;
    border: 0;
    box-shadow: none;
    font-size: 12px
}

.chosen-container-multi .chosen-choices li.search-field input[type=text] {
    padding: 0;
    height: 31px
}

.search-choice-close {
    cursor: pointer
}

.search-choice-close:before {
    display: inline-block;
    font-family: Material-Design-Iconic-Font;
    content: "\f135";
    position: relative;
    top: 1px;
    color: #9C9C9C;
    z-index: 2;
    background: #EAEAEA;
    font-size: 12px
}

.noUi-target {
    border-radius: 0;
    box-shadow: none;
    border: 0
}

.noUi-background {
    background: #d4d4d4;
    box-shadow: none
}

.noUi-horizontal {
    height:8px!important;
}

.noUi-horizontal .noUi-handle {
    top: -8px
}

.noUi-vertical {
    width: 3px
}

.noUi-connect {
    background: #009688
}

.noUi-horizontal .noUi-handle,
.noUi-vertical .noUi-handle {
    width: 19px!important;
    height: 19px!important;
    border: 0;
    border-radius: 100%;
    box-shadow: none;
    -webkit-transition: box-shadow;
    -o-transition: box-shadow;
    transition: box-shadow;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    cursor: pointer;
    position: relative;
    background-color: #009688
}

.noUi-horizontal .noUi-handle:after,
.noUi-horizontal .noUi-handle:before,
.noUi-vertical .noUi-handle:after,
.noUi-vertical .noUi-handle:before {
    display: none
}

.noUi-horizontal .noUi-active,
.noUi-vertical .noUi-active {
    box-shadow: 0 0 0 13px rgba(0, 0, 0, .1)
}

.noUi-tooltip {
    border: 0;
    background: #d4d4d4;
    padding: 5px 10px;
		top:30px!important;
}

.cp-container {
    position: relative
}

.cp-container>.input-group input.cp-value {
    color: #000!important;
    background: 0 0!important
}

.cp-container>.input-group .dropdown-menu {
    padding: 20px
}

.cp-container i.cp-value {
    width: 25px;
    height: 25px;
    border-radius: 2px;
    position: absolute;
    top: 0;
    right: 15px
}

.note-editor .note-toolbar,
.note-editor .popover-content,
.note-popover .note-toolbar,
.note-popover .popover-content {
    background: #fff;
    border-color: #e4e4e4;
    margin: 0;
    padding: 10px 0 15px;
    text-align: center
}

.note-editor .note-toolbar>.btn-group,
.note-editor .popover-content>.btn-group,
.note-popover .note-toolbar>.btn-group,
.note-popover .popover-content>.btn-group {
    display: inline-block;
    float: none;
    box-shadow: none
}

.note-editor .note-toolbar>.btn-group .btn,
.note-editor .popover-content>.btn-group .btn,
.note-popover .note-toolbar>.btn-group .btn,
.note-popover .popover-content>.btn-group .btn {
    margin: 0 1px
}

.note-editor .note-toolbar>.btn-group>.active,
.note-editor .popover-content>.btn-group>.active,
.note-popover .note-toolbar>.btn-group>.active,
.note-popover .popover-content>.btn-group>.active {
    background: #00BCD4;
    color: #fff
}

.note-editor .note-toolbar .btn,
.note-editor .popover-content .btn,
.note-popover .note-toolbar .btn,
.note-popover .popover-content .btn {
    height: 40px;
    border-radius: 2px!important;
    box-shadow: none!important
}

.note-editor .note-toolbar .btn:active,
.note-editor .popover-content .btn:active,
.note-popover .note-toolbar .btn:active,
.note-popover .popover-content .btn:active {
    box-shadow: none
}

.note-editor .note-toolbar .note-palette-title,
.note-editor .popover-content .note-palette-title,
.note-popover .note-toolbar .note-palette-title,
.note-popover .popover-content .note-palette-title {
    margin: 0!important;
    padding: 10px 0!important;
    font-size: 13px!important;
    text-align: center!important;
    border: 0!important
}

.note-editor .note-toolbar .note-color-reset,
.note-editor .popover-content .note-color-reset,
.note-popover .note-toolbar .note-color-reset,
.note-popover .popover-content .note-color-reset {
    padding: 0 0 10px!important;
    margin: 0!important;
    background: 0 0;
    text-align: center
}

.note-editor .note-toolbar .note-color .dropdown-menu,
.note-editor .popover-content .note-color .dropdown-menu,
.note-popover .note-toolbar .note-color .dropdown-menu,
.note-popover .popover-content .note-color .dropdown-menu {
    min-width: 335px
}

.note-editor .note-statusbar .note-resizebar,
.note-popover .note-statusbar .note-resizebar {
    border-color: #E8E8E8
}

.note-editor .note-statusbar .note-resizebar .note-icon-bar,
.note-popover .note-statusbar .note-resizebar .note-icon-bar {
    border-color: #BCBCBC
}

.note-editor .fa,
.note-popover .fa {
    font-style: normal;
    font-size: 20px;
    vertical-align: middle
}

.note-editor .fa:before,
.note-popover .fa:before {
    font-family: Material-Design-Iconic-Font
}

.note-editor .fa.fa-magic:before,
.note-popover .fa.fa-magic:before {
    content: "\f16a"
}

.note-editor .fa.fa-bold:before,
.note-popover .fa.fa-bold:before {
    content: "\f23d"
}

.note-editor .fa.fa-italic:before,
.note-popover .fa.fa-italic:before {
    content: "\f245"
}

.note-editor .fa.fa-underline:before,
.note-popover .fa.fa-underline:before {
    content: "\f24f"
}

.note-editor .fa.fa-font:before,
.note-popover .fa.fa-font:before {
    content: "\f242"
}

.note-editor .fa.fa-list-ul:before,
.note-popover .fa.fa-list-ul:before {
    content: "\f247"
}

.note-editor .fa.fa-list-ol:before,
.note-popover .fa.fa-list-ol:before {
    content: "\f248"
}

.note-editor .fa.fa-align-left:before,
.note-popover .fa.fa-align-left:before {
    content: "\f23b"
}

.note-editor .fa.fa-align-right:before,
.note-popover .fa.fa-align-right:before {
    content: "\f23c"
}

.note-editor .fa.fa-align-center:before,
.note-popover .fa.fa-align-center:before {
    content: "\f239"
}

.note-editor .fa.fa-align-justify:before,
.note-popover .fa.fa-align-justify:before {
    content: "\f23a"
}

.note-editor .fa.fa-indent:before,
.note-popover .fa.fa-indent:before {
    content: "\f244"
}

.note-editor .fa.fa-outdent:before,
.note-popover .fa.fa-outdent:before {
    content: "\f243"
}

.note-editor .fa.fa-text-height:before,
.note-popover .fa.fa-text-height:before {
    content: "\f246"
}

.note-editor .fa.fa-table:before,
.note-popover .fa.fa-table:before {
    content: "\f320"
}

.note-editor .fa.fa-link:before,
.note-popover .fa.fa-link:before {
    content: "\f18e"
}

.note-editor .fa.fa-picture-o:before,
.note-popover .fa.fa-picture-o:before {
    content: "\f17f"
}

.note-editor .fa.fa-minus:before,
.note-popover .fa.fa-minus:before {
    content: "\f22f"
}

.note-editor .fa.fa-arrows-alt:before,
.note-popover .fa.fa-arrows-alt:before {
    content: "\f16d"
}

.note-editor .fa.fa-code:before,
.note-popover .fa.fa-code:before {
    content: "\f13a"
}

.note-editor .fa.fa-question:before,
.note-popover .fa.fa-question:before {
    content: "\f1f5"
}

.note-editor .fa.fa-eraser:before,
.note-popover .fa.fa-eraser:before {
    content: "\f23f"
}

.note-editor .fa.fa-square:before,
.note-popover .fa.fa-square:before {
    content: "\f279"
}

.note-editor .fa.fa-circle-o:before,
.note-popover .fa.fa-circle-o:before {
    content: "\f26c"
}

.note-editor .fa.fa-times:before,
.note-popover .fa.fa-times:before {
    content: "\f136"
}

.note-editor .note-air-popover .arrow,
.note-popover .note-air-popover .arrow {
    left: 20px
}

.note-editor {
    overflow: visible;
    border: 1px solid #e4e4e4
}

.note-editor .note-editable {
    padding: 20px 23px
}

.bootstrap-datetimepicker-widget {
    padding: 0!important;
    margin: 0!important;
    width: auto!important;
    bottom: auto!important;
    top: 0!important
}


/* start custom date picker */
/*
.bootstrap-datetimepicker-widget:after,
.bootstrap-datetimepicker-widget:before {
    display: none!important
}

.bootstrap-datetimepicker-widget table td {
    text-shadow: none
}

.bootstrap-datetimepicker-widget table td span {
    margin: 0
}

.bootstrap-datetimepicker-widget table td span:hover {
    background: 0 0
}

.bootstrap-datetimepicker-widget .glyphicon {
    font-family: Material-Design-Iconic-Font;
    font-size: 18px
}

.bootstrap-datetimepicker-widget .glyphicon-chevron-left:before {
    content: "\f2ff"
}

.bootstrap-datetimepicker-widget .glyphicon-chevron-right:before {
    content: "\f301"
}

.bootstrap-datetimepicker-widget .glyphicon-time:before {
    content: "\f337"
}

.bootstrap-datetimepicker-widget .glyphicon-calendar:before {
    content: "\f32e"
}

.bootstrap-datetimepicker-widget .glyphicon-chevron-up:before {
    content: "\f1e5"
}

.bootstrap-datetimepicker-widget .glyphicon-chevron-down:before {
    content: "\f1e4"
}

.bootstrap-datetimepicker-widget a[data-action] {
    color: #009688
}

.timepicker-picker .btn {
    box-shadow: none!important
}

.timepicker-picker table tbody tr+tr:not(:last-child) {
    background: #009688;
    color: #fff
}

.timepicker-picker table tbody tr+tr:not(:last-child) td {
    border-radius: 0
}

.timepicker-picker .btn,
.timepicker-picker .btn:hover {
    background: #fff;
    color: #333
}

.datepicker table thead tr th {
    border-radius: 0;
    color: #fff
}

.datepicker table thead tr th .glyphicon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    line-height: 29px
}

.datepicker table thead tr th:hover .glyphicon {
    background: rgba(0, 0, 0, .2)
}

.datepicker table thead tr:first-child th {
    background: #009688;
    padding: 20px 0
}

.datepicker table thead tr:first-child th:hover {
    background: #009688
}

.datepicker table thead tr:first-child th.picker-switch {
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase
}

.datepicker table thead tr:last-child th {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 11px
}

.datepicker table thead tr:last-child th:first-child {
    padding-left: 20px
}

.datepicker table thead tr:last-child th:last-child {
    padding-right: 20px
}

.datepicker table thead tr:last-child:not(:only-child) {
    background: #00877a
}

.datepicker table tbody tr:last-child td {
    padding-bottom: 25px
}

.datepicker table tbody tr td:first-child {
    padding-left: 13px
}

.datepicker table tbody tr td:last-child {
    padding-right: 13px
}

.datepicker table td.day {
    width: 35px;
    height: 35px;
    line-height: 20px;
    color: #333;
    position: relative;
    padding: 0;
    background: 0 0
}

.datepicker table td.day:hover {
    background: 0 0
}

.datepicker table td.day:before {
    content: "";
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-bottom: -33px;
    display: inline-block;
    background: 0 0;
    position: static;
    text-shadow: none;
    border-bottom-color: transparent!important
}

.datepicker table td.day.new,
.datepicker table td.day.old {
    color: #CDCDCD
}

.datepicker table td:not(.today):not(.active):hover:before {
    background: #F0F0F0
}

.datepicker table td.today {
    color:#00A406;
		font-weight:700;
}

.datepicker table td.today:before {
}

.datepicker table td.active {
    color: #fff
}

.datepicker table td.active:before {
}

.datepicker-months .month,
.datepicker-years .year,
.timepicker-hours .hour,
.timepicker-minutes .minute {
    border-radius: 50%
}

.datepicker-months .month:not(.active):hover,
.datepicker-years .year:not(.active):hover,
.timepicker-hours .hour:not(.active):hover,
.timepicker-minutes .minute:not(.active):hover {
    background: #F0F0F0
}

.datepicker-months .month.active,
.datepicker-years .year.active,
.timepicker-hours .hour.active,
.timepicker-minutes .minute.active {
    background: #009688
}

.timepicker-hours .hour,
.timepicker-minutes .minute {
    padding: 0
}
*/
/* end custom date picker */


.fileinput {
    position: relative;
    padding-right: 35px
}

.fileinput .close {
    position: absolute;
    top: 5px;
    font-size: 12px;
    float: none;
    opacity: 1;
    font-weight: 500;
    border: 1px solid #ccc;
    width: 19px;
    text-align: center;
    height: 19px;
    line-height: 16px;
    border-radius: 50%;
    right: 0;
    visibility: hidden
}

.fileinput .close:hover {
    background: #eee
}

.fileinput .input-group-addon {
    padding: 0 10px;
    vertical-align: middle
}

.fileinput .fileinput-preview {
    width: 200px;
    height: 150px;
    position: relative
}

.fileinput .fileinput-preview img {
    display: inline-block;
    vertical-align: middle;
    margin-top: -13px
}

.fileinput .fileinput-preview:after {
    content: "";
    display: inline-block;
    vertical-align: middle
}

.fileinput-exists .close {
    visibility: visible
}

.lg-outer .lg-thumb-outer {
    background-color: #1D1D1D
}

.lg-outer .lg-thumb-item {
    border-radius: 50%;
    width: 60px!important;
    display: inline-block;
    height: 60px;
    border: 0;
    float: none;
    margin: 0 5px
}

.lg-outer .lg-thumb-item:hover {
    box-shadow: 0 0 0 4px rgba(255, 255, 255, .1)
}

.lg-outer .lg-image {
    border-radius: 3px
}

.lg-outer .lg-toogle-thumb {
    border-radius: 50%;
    color: #333;
    height: 51px;
    width: 51px;
    line-height: 41px;
    background-color: #fff;
    -webkit-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-duration: .8s;
    transition-duration: .8s
}

.lg-outer .lg-toogle-thumb:hover {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
    color: #000
}

.lg-outer:not(.lg-thumb-open) .lg-toogle-thumb {
    top: -70px
}

.lg-outer.lg-thumb-open .lg-toogle-thumb {
    top: -26px
}

.lg-thumb.group {
    padding: 20px 0
}

.lg-slide em h3 {
    color: #fff;
    margin-bottom: 5px
}

.lg-slide .video-cont {
    box-shadow: 0 8px 17px rgba(0, 0, 0, .2), 0 6px 20px rgba(0, 0, 0, .19)
}

.lg-outer .lg-item {
    background-image: none!important
}

.lg-outer .lg-item:before {
    content: '';
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, .1);
    border-right-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    -webkit-animation-name: loader;
    animation-name: loader;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear
}

.loading>i,
.twitter-typeahead {
    width: 100%
}

@-webkit-keyframes loader {
    0% {
        -webkit-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0)
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

.loading>i {
    height: 100%;
    display: block;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: loader 1.1s infinite linear;
    animation: loader 1.1s infinite linear;
    border-left-color: #fff;
    border-style: solid
}

.sweet-alert {
    border-radius: 2px;
    padding: 35px;
    font-family: roboto
}

.sweet-alert h2 {
    font-size: 16px;
    position: relative;
    z-index: 1;
    color: #333;
    line-height: 100%;
    margin: 0 0 15px;
    font-weight: 500
}

.sweet-alert p {
    font-size: 13px;
    color: #777;
    font-weight: 400
}

.sweet-alert button {
    padding: 6px 12px;
    border-radius: 2px;
    box-shadow: none!important;
    margin: 30px 1px 0;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 400
}

.sweet-alert .sa-icon {
    margin-top: 0;
    margin-bottom: 30px
}

.twitter-typeahead .tt-menu {
    min-width: 200px;
    background: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .2);
    display: none;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

.twitter-typeahead .tt-menu.tt-open:not(.tt-empty) {
    display: block
}

.twitter-typeahead .tt-suggestion {
    padding: 8px 17px;
    color: #333;
    cursor: pointer
}

.twitter-typeahead .tt-cursor,
.twitter-typeahead .tt-suggestion:hover {
    background-color: rgba(0, 0, 0, .075)
}

.twitter-typeahead .tt-hint {
    color: #818181!important
}

.mCSB_scrollTools {
    width: 5px
}

.mCSB_scrollTools .mCSB_dragger_bar {
    border-radius: 0!important
}

.mCSB_scrollTools.mCSB_scrollTools_horizontal,
.mCSB_scrollTools.mCSB_scrollTools_vertical {
    margin: 0!important
}

.mCSB_scrollTools.mCSB_scrollTools_horizontal {
    height: 10px
}

html:not(.ie9) .mCS-minimal-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
html:not(.ie9) .mCS-minimal-dark.mCSB_scrollTools_onDrag .mCSB_dragger .mCSB_dragger_bar {
    background: rgba(0, 0, 0, .4)
}

html.ie9 .mCS-minimal-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
html.ie9 .mCS-minimal-dark.mCSB_scrollTools_onDrag .mCSB_dragger .mCSB_dragger_bar {
    background: #000
}

.mCSB_inside>.mCSB_container {
    margin-right: 0
}
#main {
  position: relative;
  padding-bottom: 110px;
  padding-top: 100px;
  min-height: 100vh;
}
.sidebar-toggled #main {
  height: 100vh;
  overflow: hidden;
}
