/*.gridFilters{z-index:20;background:#edecec;float:left;}
.gridFilters:first-child{padding-top:200px!important;}
.gridFilters .popover{z-index:999!important;}*/
.gridFilters{z-index:10;float:left;background:#edecec;opacity:.94;padding-right:1px;overflow:auto!important;height:90%;max-width:280px;}
.gridFilters:first-child{padding-top:10px!important;}
.gridFilters .alert{float:left;margin-top:4px;opacity:1;}
.gridFilters .popover{z-index:999!important;}

.bgm-lightgray{background-color:#DDEADD;}
.bgm-softyellow{background-color:#fcf8e3;}
.classFirstColum{width:7%;max-width:18%;min-width:100px!important;}
._und{text-decoration:underline;}

.OlSubLevels{
counter-reset:item;
padding-left:16px;
}
.OlSubLevels li{
display:block;
margin-top:6px;
}
.OlSubLevels li:before{
content:counters(item, ".") ". ";
counter-increment:item;
}

.modal-record-edit .modal-body, .modal-record-insert .modal-body
{
	overflow:auto;
	max-height:78vh;
	min-height:50vh;
  width:100%;
  padding-right:0%;
  padding-left:0%!important;
  padding-left:0%!important;
  padding:0%!important;
}

.modal-HTML-edit
{
	overflow:auto;
	height:98%;
	width:90%;
	max-height:98vh;
	height:100%;
	min-height:100vh;
}

.modal-xs{max-width:1100px;width:99%;}
.brd-10{border-radius:10px}


.bakDraggable{
	border:1px solid #bbb;
}

.bakDraggable tr{
	background:#eee;
}

.bakDraggable tr:nth-child(even), .bakDraggable tr th{
	background:#fff;
}

.bakDraggable tr:hover{
	cursor:pointer;
	color:#000;
	background:#e1eee0;
	box-shadow:0px -2px 5px #888888; 
}

.bakDraggable td, .bakDraggable th{
	padding:4px!important;
}

.bakDraggable tr th:first-of-type, .bakDraggable tr td:first-of-type{
	max-width:4%;width:4%;
	color:#777;
}

/*.sortable.hover{
	pointer:cursor;
  border: 1px solid green;
}*/

@media(min-width: 992px) {
	.modal-xs{max-width:1500px;width:99%;}
  .modal-record-edit, .modal-record-insert
	{
    width:90%;
		overflow:auto;
    height:100vh;
    max-height:100vh;
  }
}

.commonHeaderInsert{
}

.commonHeaderEdit{
}

.fltBtnClose{
display:inline-block;
right:1%;
top:10px;
float:left;
position:absolute;
}

@media(max-width:768px){
	.modal-xs{max-width:600px;width:99%;}
  .fltBtnClose{
  right:1%;
  }
}

@media(max-width:1200px){
	.modal-xs{max-width:1200px;width:99%;}
  .fltBtnClose{
  right:1%;
  }
  .classFirstColum{width:8%;max-width:15%;min-width:100px!important;}
}

@media(max-width:1600px){
	.modal-xs{max-width:1100px;width:99%;}
  .fltBtnClose{
  right:1%;
  }
  .classFirstColum{width:8%;max-width:15%;min-width:100px!important;}
}

.contentForm{
padding-top:2px;
}

.topPagination{
display:inline-block;
float:left;
height:100%;
width:auto!important;
}

.modalZoomImage{
max-height:96vh!important;
height:94vh!important;
width:auto;
max-width:100%;
}

.container .card .row .col-sm-12 .card-header h2{margin-top:8px!important}
.main-menu > li > a{color:#eee;}

.sub-menu ul > li a{
color:#eee;
font-size:1.08em;
padding-left:45px;
}

.sub-menu ul > li a:hover{
background-color:#eee;
}
.sub-menu ul > li.active {background-color:#eee;}

.list-group.lg-even-black .list-group-item:nth-child(even),.list-group.lg-odd-black .list-group-item:nth-child(odd),.sub-menu ul>li ul li a{color:#fff;padding:10px 0 10px 60px;}
.hoverNotifyLocal{opacity:.8!important;}
.hoverNotifyLocal:hover{opacity:1!important;}

/*#6FA6B7*/
/*.list-group.lg-even-black .list-group-item:nth-child(even),.list-group.lg-odd-black .list-group-item:nth-child(odd),.sub-menu ul>li ul li a:before{content:"\21b3  ";font-size:1.4em;}*/