@charset "utf-8";
/* CSS Document */
body{
font-family:Arial, Helvetica, sans-serif;
height:100%;
}

.mainContent{
display:block;
position:relative;
padding-bottom:1px;
}
.imgBackGround{
display:inline-block;
position:absolute;
width:960px;
background:#fff url(../img/top_background.jpg) no-repeat left 120px;
z-index:-10;
height:659px;
}

#msgLocalWelcome{
display:block;
z-index:10000;
position:absolute;
background:#FCFCFC;
right:1%;
width:auto;
padding:10px;
padding-top:8px;
padding-bottom:8px;
color:red;
margin-right:22px;
-webkit-box-shadow:-2px -1px 3px rgba(0, 0, 0, 0.4);
-moz-box-shadow:-2px -1px 3px rgba(0, 0, 0, 0.4);
box-shadow:-2px -1px 3px rgba(0, 0, 0, 0.4);
}

#contenedor_centrado {
width:960px;
margin:23px auto;
min-height:100%;
background:url(../img/logo_GKFX.png) no-repeat ;
}	
.form-contenido {
height:360px;
width:960px;
}
.titulo{
display:inline-block;
font-family:Arial,Helvetica,sans-serif;
font-size:200%;
color:#002D59;
font-weight:bold;
margin-top:10px;
margin-left:44%;
line-height:100%;
background-position:left top;
background-repeat:no-repeat;
width:auto;
border:0px solid red;
text-align:left;
}

.entryFly{
margin-left:16px;
}

.entryFly span{
}
.tlt2{
color:#002D59!important;
}

.sello{
margin-top:0px;
margin-left:auto;
background-position:left top;
background-repeat:no-repeat;
height:295px;
width:540px;
}

.formulario{
float:right;
margin-top:-140px;
margin-right:0px;
}

.ctc_form {
padding:1px 0px 0px 15px;
height:153px;
width:245px;
background-color:#1d76b8;
font-family:Arial, Helvetica, sans-serif;
color:#FFF;
border-radius:5px;
font-size:12px;
}

.ctc_form p:first-child{font-size:17px;}

.contenedor_form p:first-child{
font-size:17px;
color:#E15A24;
margin-top:26px;
margin-bottom:10px;
font-weight:normal;
}

.contenedor_form{
display:block;
padding:1px 0px 0px 30px;
height:374px;
width:340px;
background-color:#ffffff;
font-family:Arial, Helvetica, sans-serif;
color:#fff;
margin-top:200px;
margin-right:5px;
border-radius:6px;
font-size:15px;
-webkit-box-shadow:0px 1px 6px rgba(0, 0, 0, 0.6);
-moz-box-shadow:0px 1px 6px rgba(0, 0, 0, 0.6);
box-shadow:0px 1px 6px rgba(0, 0, 0, 0.6);
background:#F3EDE9 url(../img/fondo_form.jpg);
}

.fila{
display:block;
float:left;
overflow:hidden;
width:100%;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
margin-top:15px;
color:#74737b;

}
.fila_min{
overflow:hidden;
width:240px;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
margin-top:7px;
color:#74737b;
}

.celda {
display:inline-block;
margin-top:5px;
color:#333;
margin-top:5px;
width:190px;
}

.fila_min .celda {
display:block;
margin-top:5px;
color:#333;
margin-top:5px;
width:196px;
height:22px;
}

.legal {
font-family:Verdana, Geneva, sans-serif;
font-size:.76em;
margin-top:9px;
margin-left:19px;
margin-bottom:9px;
color:#E15A24;
}
.legal a{
color:#E15A24;
}
.legal a:hover{
color:#000;
}

.btn_solicitar{
width:240px;
padding:10px;
padding-top:8px;
padding-bottom:8px;
color:#FFF;
margin-right:22px;
margin-top:43px;
text-align:center;
font-size:20px;
background-color:#F47C20;
border-radius:8px;
border:0px;
background-image:-ms-linear-gradient(top left, #FAA51A 0%, #F47C20 100%);
background-image:-moz-linear-gradient(top left, #FAA51A 0%, #F47C20 100%);
background-image:-o-linear-gradient(top left, #FAA51A 0%, #F47C20 100%);
background-image:-webkit-gradient(linear, left top, right bottom, color-stop(0, #FAA51A), color-stop(1, #F47C20));
background-image:-webkit-linear-gradient(top left, #FAA51A 0%, #F47C20 100%);
background-image:linear-gradient(to bottom right, #FAA51A 0%, #F47C20 100%);
cursor:pointer;
}

.btn_solicitar:hover{
background-color:#F47C20;
border-radius:8px;
background-image:-ms-linear-gradient(top left, #F47C20 0%, #DF7409 100%);
background-image:-moz-linear-gradient(top left, #F47C20 0%, #DF7409 100%);
background-image:-o-linear-gradient(top left, #F47C20 0%, #DF7409 100%);
background-image:-webkit-gradient(linear, left top, right bottom, color-stop(0, #F47C20), color-stop(1, #DF7409));
background-image:-webkit-linear-gradient(top left, #F47C20 0%, #DF7409 100%);
background-image:linear-gradient(to bottom right, #F47C20 0%, #DF7409 100%);
cursor:pointer;
}

.plusInfo_servicios{
/*
width:540px;
background-color:#fff;
float:left;
margin:-325px -6px;
clear:both;
border:0px solid red;
*/
}

.plusInfo_servicios p{

}

.plusInfo{
color:#000;
}

.plusInfo p{
margin-left:40px;
}

.servicios{
width:400px;
float:left;
}

h1{
font-size:16px;
color:#005854;
}

ul li{
font-size:11px;
color:#666;
}

.clearfix:after {
content:".";
display:block;
clear:both;
visibility:hidden;
line-height:0;
height:0;
}

.clearfix {
display:inline-block;
}

html[xmlns] .clearfix {
display:block;
}

* html .clearfix {
height:1%;
}

.pie{
display:block;
float:left;
margin-bottom:20px;
height:20px;
width:100%;
font-size:8px;
color:#09F;
text-align:center;
}	

.lnkPromo{
display:block;
float:left;
margin:auto;
margin-bottom:10px;
height:20px;
width:100%;
font-size:8px;
color:#09F;
text-align:center;
}	

.srtBox{
display:block;
height:280px;
}

.lnkStd{
cursor:pointer;
text-align:center;
color:#666666;
}

.lnkStd:hover{
color:#0F3F63;
}

#promoConditions{
display:block;
float:left;
padding:20px;
width:800px;
height:auto;
color:#666666;
font-size:.8em;
line-height:1.8em;
}

.divFly{
display:none;
position:absolute;
border:0px solid green;
padding:20px;
}
#fly0{
font-family:Arial,Helvetica,sans-serif;
left:-880px;
color:#fff;
background-color:#002D59;
font-size:1.46em;
font-weight:normal;
width:898px;
text-align:center;
}
#fly1{
/*display:none!important;*/
left:-200px;
top:50%;
}
#fly2{
left:-200px;
top:80%;
}
#fly3{
bottom:-10px;
right:0px;
}

.clickform{
width:140px;
margin-left:9px;
}

.clickform:first-child{
margin-left:0px;
}

/* start local css */
.texto_registrate {
font-family:Arial,Helvetica,sans-serif;
font-size:24px;
font-weight:bold;
margin-left:30px!important;
}
.color_naranja{
color:#FF6600;
}
.puntos_naranjas{
  color:#FF6600;
  font-family:Arial,Helvetica,sans-serif;
  font-weight:bold;
}
.texto_puntos{
  font-family:Arial,Helvetica,sans-serif;
  font-size:16px;
  font-weight:bold;
}
.texto_peque{
  font-family:Arial,Helvetica,sans-serif;
  font-size:15px;
}
.texto_registro{
  font-family:Arial,Helvetica,sans-serif;
  font-size:12px;
}

#country{
height:22px;
}

.texto-puntos{
color:#002D59;
font-family:Arial,Helvetica,sans-serif;
font-size:1em!important;
padding-left:10px;
}

.boxCondiciones{display:none;float:right;margin-top:-35px;}
a.enlace-condiciones{
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#666;
text-decoration:underline;
}
a.enlace-condiciones:hover{color:#000;}

.apRegistro{
display:block;
padding-top:80px;
margin-left:-10px;
}

@media screen and (-webkit-min-device-pixel-ratio:0){div.apRegistro{padding-top:76px;}}
.texto-registro {
font-family:Arial, Helvetica, sans-serif;
font-size:.7em;
color:#333;
line-height:10px;
}

/* end local css */
