#pie_galletero{
display:block;
position:relative;
margin:0 auto;
width:930px;
height:60px;
padding:10px;
font-size:.8em;
color:#666666;
}

.pie_galletero_left{
display:block;
float:left;
padding-left:20px;
width:80%;
}
#pie_galletero_right{
display:block;
float:left;
}

#cookie_info{
display:block;
line-height:30px;
font-size:.9em;
}

.cookieButton{
color:#eee;
background:#EB6F04;
font-size:12px;
font-family:Arial,Helvetica,sans-serif;
border:0;
}
.cookieButton:hover{
color:#fff;
cursor:pointer;
}

#info_cook
{
display:block;
margin:0 auto;
width:870px;
margin-top:4px;
padding:40px;
font-size:.8em;
color:#666666;
border:1px solid #aaa;
border-radius:8px;
-moz-border-radius:8px;
-webkit-border-radius:8px;
}
#info_cook a{
color:#666666;
}
#info_cook a:hover{
color:#2A231E;
}
.ulCookies{
margin-left:-16px;
color:#666666;
}

#info_cook li p{
color:#666666;
}

#info_cook li{
list-style:disc;
color:#666666;
}

.closeCookiesPolicy a{
display:block;
position:relative;
top:-10px;
text-decoration:none !important;
font-size:200%;
font-weight:bold;
}
